[2017-02-24 11:19] sriagriya opened #1066 "[QA] Instant add card accepting white space as a input."
1.Login as sridevi/agriya.
2.View "Instant card add".
3.Give the inputs as space.
4.That time Instant add card accepting white space as a input.
![instant card add2](https://cloud.githubusercontent.com/assets/25973905/23301696/2d35af72-fab1-11e6-9191-20de426a3368.png)

[2017-02-24 11:20] sriagriya opened #1067 "[QA] From Closed Board ->Reopen popup design is not showing properly."
1.Login as sridevi/agriya.
2.From Closed Board ->Reopen popup design is not showing properly.
![reopen](https://cloud.githubusercontent.com/assets/25973905/23301737/657e422c-fab1-11e6-9310-1faa39841efa.png)

[2017-02-24 11:23] sriagriya opened #1068 "[QA] Closed Board names also displaying in the "Instant add card" page."
1.Login as sridevi/agriya.
2.View the "Instant Add Card" option.
3.Here from Select Board->Closed Board names also displaying.

![instant card add](https://cloud.githubusercontent.com/assets/25973905/23301808/cc314e06-fab1-11e6-8819-509be18bc1e2.png)

[2017-02-24 11:52] sriagriya opened #1069 "[QA] After close the board page should redirect to Home page."
1.Login as sridevi/agriya.
2.Create one Board.
3.Delete the Board from list.
4.After delete it is showing the "Reopen the board" option.
5.If we are not Reopen means,after some time page should redirect to Home page.

![close board](https://cloud.githubusercontent.com/assets/25973905/23302688/cb3e5102-fab5-11e6-9f2a-94b7755330fe.png)

[2017-02-24 12:42] sriagriya opened #1070 "[QA] Load more card design is not coming properly."
1.login as sridevi/agriya.
2.View the Home page Unassigned option.
3.Unassigned page "Load more" option design is not coming properly.

Refer the screenshot.
![load more](https://cloud.githubusercontent.com/assets/25973905/23303892/c2f59a62-fabc-11e6-85f3-1e5f135b7212.png)

[2017-02-24 13:06] sriagriya opened #1071 "[QA] Not able to view the organization from home page."
1.Login as sridevi/agriya.
2.From Home page click the organization list.
3.view the organization.
4.That time not able to view the organization.
![organization](https://cloud.githubusercontent.com/assets/25973905/23304487/147965e6-fac0-11e6-94c0-5150208d9693.png)

[2017-02-24 13:26] sriagriya opened #1072 "[QA] If we view the private board details before login means it is not asking the login details."
1.If we view the private board details before login means it is not asking the login details.
![private board](https://cloud.githubusercontent.com/assets/25973905/23305062/fb93fca0-fac2-11e6-817a-c6342031f045.png)

[2017-02-27 05:55] sriagriya opened #1073 "[QA] We can able to create with empty space in name field while copy the board."
1.login as sridevi/agriya.
2.select any board from dashboard==>In card list page==>click the corner setting icon
3.select the copy board option==>enter the space in name field and click create button
4.Its successfully created.

![empty space-board](https://cloud.githubusercontent.com/assets/25973905/23350275/7cc06246-fcdf-11e6-8b3f-29f39179ad68.png)
![empty space-board1](https://cloud.githubuserc

[2017-02-27 06:05] sriagriya opened #1074 "[QA] While view the organization corresponding view page is not coming properly."
1.Login as sridevi/agriya.
2.From organization listing page view one organization.
3.While view the organization corresponding view page is not coming properly.

Refer the screenshot.
![organization](https://cloud.githubusercontent.com/assets/25973905/23350479/de2b0e68-fce0-11e6-9f81-8244a23c78cf.png)

[2017-02-27 06:30] sriagriya opened #1075 "[QA] While hover Tooltip is not coming properly in the organization page."
1.Login as sridevi/agriya.
2.View the organization list page.
3.Hover the organization list.
4.While hover Tooltip is not coming properly in the organization page.

Refer the screenshot.
![tooltip](https://cloud.githubusercontent.com/assets/25973905/23350984/585b5208-fce4-11e6-8312-d0f4a5100589.png)

[2017-02-27 06:36] sriagriya opened #1076 "[QA] After add the organization page should redirect to organization listing page."
1.Login as sridevi/agriya.
2.Add one new organization.
3.After add the organization page should redirect to organization listing page.
4.But the page is redirecting into board listing page.

Refer the screenshot.

![org list](https://cloud.githubusercontent.com/assets/25973905/23351117/3357a9ba-fce5-11e6-8dfd-438fb2af43ed.png)

[2017-02-27 09:52] sriagriya opened #1077 "[QA] Alignment is not coming properly for Add Emoji and Mention a member option."
1.Login as sridevi/agriya.
2.View the Board.
3.And add the comment for that board.
4.From comment page-> Add Emoji and Mention a member.
5.Here the alignment is not coming properly.

Refer the screenshot.

![alignment](https://cloud.githubusercontent.com/assets/25973905/23356626/8ae08f42-fd00-11e6-92ea-3e9c7e6dbc6a.png)

[2017-02-27 09:58] sriagriya opened #1078 "[QA] While copy the list if we give the empty space means that time page accepting the space as input."
1.Login as sridevi/agriya.
2.View the Board listing page.
3.Copy the Board.
4.While copy the list if we give the empty space means that time page  accepting the space as input.

Refer the screenshot.

![space input](https://cloud.githubusercontent.com/assets/25973905/23356831/5f4b4f1a-fd01-11e6-917e-eded0dab11d7.png)

[2017-02-27 10:11] sriagriya opened #1079 "[QA] Copy list details is not coming properly and not able to delete the copied list."
1.Login as sridevi/agriya.
2.View the Board listing page.
3.Copy the list.
4.Click the copied list settings.
5.Not able to delete the copied list.

Refer the screenshot.
![delete copy list](https://cloud.githubusercontent.com/assets/25973905/23357293/32dc530a-fd03-11e6-9267-3018e39e209c.png)

[2017-02-27 11:00] banandam commented on #1058
fixed

[2017-02-27 12:13] sriagriya opened #1080 "[QA] While add the Productivity beat that time it is accepting the space as input."
1.Login as sridevi/agriya.
2.View one board.
3.From settings view the Productivity settings add productivity beat.
4.While add the Productivity beat that time it is accepting the space as input.
![pro input-space](https://cloud.githubusercontent.com/assets/25973905/23360957/28ad5eea-fd14-11e6-9635-2919fa61d6c5.png)

[2017-03-01 06:01] sriagriya opened #1081 "[QA] We can able to create organization with out description."
1.login as sridevi/agriya.
2.Create one organization ==>while creating do not enter the data in description field and click add button
3.It successfully added.
![description](https://cloud.githubusercontent.com/assets/25973905/23447679/8f5801fe-fe72-11e6-868d-5bb703a49426.png)

[2017-03-01 06:34] sriagriya opened #1082 "[QA] Card accepting the Empty space."
1.Login as sridevi/agriya.
2.View the Board view page.
3.Edit the card -> While edit give the empty space as input.
4.Card accepting the Empty space.

Refer the screenshot.
![empty space](https://cloud.githubusercontent.com/assets/25973905/23448246/cef7c378-fe75-11e6-80e6-74a36ead0c42.png)

[2017-03-01 07:01] sriagriya opened #1083 "[QA] After delete the copied list,not able to copy the previous list."
1.Login as sridevi/agriya.
2.View the Board view page.
3.Copy the list-> Delete the copied list.
4.After delete the copied list,not able to copy the previous list.

Refer the screenshot.

![copy list](https://cloud.githubusercontent.com/assets/25973905/23449136/f1626652-fe7a-11e6-872a-1f56cc13a46d.png)

[2017-03-01 07:04] sriagriya opened #1084 "[QA] Spelling is not coming correctly after subscribe."
1.Login as sridevi/agriya.
2.View the Board view page.
3.Click the list settings-> Subscribe the list.
4.Spelling is not coming correctly after subscribe.

Refer the screenshot.
![spelling](https://cloud.githubusercontent.com/assets/25973905/23449208/5e63a36a-fe7b-11e6-9305-dfd8c3870508.png)

[2017-03-01 09:14] sriagriya opened #1085 "[QA] Empty space accepting in change password fields."
1.login as sridevi/agriya
2.Go to change password==>enter the space in "enter a new password" and "confirm password" and click change password button==>It is accepting.

Refer the screenshot.
![change password](https://cloud.githubusercontent.com/assets/25973905/23453043/cdd77580-fe8c-11e6-9f5f-5c3f6bb470c9.png)

[2017-03-01 10:31] sriagriya opened #1086 "[QA] "Undo" option is not coming after update card name."
1.Login as sridevi/agriya.
2.View the Board view page->And view the card.
3.Edit and update the card name.
4."Undo" option is not coming after update card name.

Refer the screenshot.

![undo](https://cloud.githubusercontent.com/assets/25973905/23456145/437dd936-fe98-11e6-9438-cbf9cecc79b2.png)

[2017-03-01 10:38] sriagriya opened #1087 "[QA] Due date accepting the past dates."
1.Login as sridevi/agriya.
2.View the Board view page ->View the card page.
3.Add Due date with past dates.
4.That time Due date accepting the past dates.

Refer the screenshot.

![due date](https://cloud.githubusercontent.com/assets/25973905/23456372/30cfae30-fe99-11e6-81f5-fac9e427e2f6.png)

[2017-03-01 10:50] sriagriya opened #1088 "[QA] If we try to click user details or Instant card or Activities on card view page, design is not displaying Properly."
1. Login as User.
2. Select any board from dashboard page.
3. Now select any card from the list.
4. Now clicky the activities icon.
5. If we try to click user details or Instant card or Activities on card view page, design is not displaying Properly.

Refer the screenshot.

![design1](https://cloud.githubusercontent.com/assets/25973905/23456790/ea0abe8e-fe9a-11e6-8679-7fc12ee04758.png)
![design2](

[2017-03-01 11:10] baskar383 opened #1089 "r.php to slim conversion"
r.php to slim conversion

[2017-03-01 11:47] baskar383 commented on #1045
Fixed in this commit b1688eb

[2017-03-01 11:47] #1045 closed

[2017-03-01 11:48] baskar383 commented on #1060
Fixed in this commit b1688eb

[2017-03-01 11:48] #1060 closed

[2017-03-01 11:49] baskar383 commented on #1065
Fixed in this commit b1688eb

[2017-03-01 11:49] #1065 closed

[2017-03-01 11:50] baskar383 commented on #1068
Fixed in this commit b1688eb

[2017-03-01 11:50] #1068 closed

[2017-03-01 11:51] baskar383 commented on #1066
Fixed in this commit b1688eb

[2017-03-01 11:51] #1066 closed

[2017-03-01 11:51] baskar383 commented on #1073
Fixed in this commit b1688eb

[2017-03-01 11:51] #1073 closed

[2017-03-01 11:52] baskar383 commented on #1075
Fixed in this commit b1688eb

[2017-03-01 11:52] #1075 closed

[2017-03-01 11:53] baskar383 commented on #1057
Fixed in this commit b1688eb

[2017-03-01 11:53] #1057 closed

[2017-03-01 11:53] baskar383 commented on #1055
Fixed in this commit b1688eb

[2017-03-01 11:53] #1055 closed

[2017-03-01 11:54] baskar383 commented on #1048
Fixed in this commit b1688eb

[2017-03-01 11:54] #1048 closed

[2017-03-01 11:54] baskar383 commented on #1043
Fixed in this commit b1688eb

[2017-03-01 11:54] baskar383 commented on #1043
https://github.com/RestyaPlatform/board/issues/1067

[2017-03-01 11:55] baskar383 commented on #1043
Fixed in this commit b1688eb

[2017-03-01 11:55] #1043 closed

[2017-03-01 11:56] baskar383 commented on #1067
Fixed in this commit b1688eb

[2017-03-01 11:56] #1067 closed

[2017-03-01 11:58] baskar383 commented on #1070
Fixed in this commit b1688eb

[2017-03-01 11:58] #1070 closed

[2017-03-01 11:58] baskar383 commented on #1058
Fixed in this commit b1688eb

[2017-03-01 11:58] #1058 closed

[2017-03-01 11:59] baskar383 commented on #1056
Fixed in this commit b1688eb

[2017-03-01 11:59] #1056 closed

[2017-03-01 11:59] baskar383 commented on #1047
Fixed in this commit b1688eb

[2017-03-01 11:59] #1047 closed

[2017-03-01 12:00] baskar383 commented on #1046
Fixed in this commit b1688eb

[2017-03-01 12:00] #1046 closed

[2017-03-01 12:00] baskar383 commented on #1042
Fixed in this commit b1688eb

[2017-03-01 12:00] #1042 closed

[2017-03-01 12:01] baskar383 commented on #1059
Fixed in this commit b1688eb

[2017-03-01 12:01] #1059 closed

[2017-03-01 12:01] baskar383 commented on #1072
Fixed in this commit b1688eb

[2017-03-01 12:01] #1072 closed

[2017-03-01 12:04] baskar383 commented on #1041
Fixed in this commit b1688eb

[2017-03-01 12:04] #1041 closed

[2017-03-01 12:04] baskar383 commented on #1053
Fixed in this commit b1688eb

[2017-03-01 12:04] #1053 closed

[2017-03-01 12:04] baskar383 commented on #1052
Fixed in this commit b1688eb

[2017-03-01 12:04] #1052 closed

[2017-03-01 12:59] sriagriya opened #1091 "[QA] Tooltip is not coming properly while we hover the user icon in the board view page."
1.Login as sridevi/agriya.
2.View the Board view page-> View the card details page.
3.Tooltip is not coming properly while we hover the user icon in the board view page.

Refer the screenshot.

![tooltip](https://cloud.githubusercontent.com/assets/25973905/23460776/07ac4996-fead-11e6-99c0-f4335f41dce8.png)

[2017-03-01 13:04] sriagriya opened #1092 "[QA] Close button is not working properly in settings share and More option."
1.Login as sridevi/agriya.
2.View the Board view page-> View the card details page.
3.View the settings-Share and More option.
4.Close button is not working properly.

Refer the screenshot.

![close button](https://cloud.githubusercontent.com/assets/25973905/23460930/ad7c2436-fead-11e6-8744-2bce3362ed5f.png)

[2017-03-01 13:08] rrjanbiah commented on #976
http://restya.com/board/free-copy is currently implemented in our website.

[2017-03-01 13:08] #976 closed

[2017-03-01 13:11] sriagriya opened #1093 "[QA] Share option is not showing properly in the Share and More Field."
1.Login as sridevi/agriya.
2.View the Board view page-> View the card details page.
3.View the settings-Share and More option.
4.For share No Option is displaying here.

Refer the screenshot.

![share option](https://cloud.githubusercontent.com/assets/25973905/23461137/a44542e8-feae-11e6-814e-7192f8c1c2f9.png)

[2017-03-01 13:16] baskar383 commented on #1064
Fixed in this commit b1688eb

[2017-03-01 13:16] #1064 closed

[2017-03-01 13:24] baskar383 commented on #1080
Fixed in this commit b1688eb

[2017-03-01 13:24] #1080 closed

[2017-03-01 13:33] baskar383 commented on #1091
Fixed in this commit b1688eb

[2017-03-01 13:33] #1091 closed

[2017-03-02 06:05] sriagriya opened #1094 "[QA] While add the SEO checklist failed message is coming"
1.Login as sridevi/agriya.
2.View the Footer Apps.
3.From Footer Apps choose the SEO checklist ->Then add the SEO checklist.
4.While add the SEO checklist failed message is coming.

Refer the screenshot.
![seo checklist](https://cloud.githubusercontent.com/assets/25973905/23495005/4aa4ffa6-ff3c-11e6-9d81-7e41c1714885.png)

[2017-03-02 06:13] sriagriya opened #1095 "[QA] While add the Website QA checklist failed message is coming."
1.Login as sridevi/agriya.
2.View the Footer Apps.
3.From Footer Apps choose the Website QA checklist ->Then add the Website QA checklist.
4.While add the Website QA checklist failed message is coming.

Refer the screenshot.
![website qa checklist](https://cloud.githubusercontent.com/assets/25973905/23495206/5cfd8c26-ff3d-11e6-83c7-efe4697119e1.png)

[2017-03-02 06:41] sriagriya opened #1096 "[QA] LDAP option is not working properly after Enable."
1.Login as sridevi/agriya.
2.After Enable the LDAP from admin side,it is not working in user End.

Refer the screenshot.
![ldap login](https://cloud.githubusercontent.com/assets/25973905/23496393/ee958dfe-ff43-11e6-8e2d-26a91f2ef14c.png)

[2017-03-02 07:18] baskar383 commented on #1069
In trello they are not redirect after board close redirect to home page

[2017-03-02 07:18] #1069 closed

[2017-03-05 01:36] theriverman opened #1097 "User links broken under Admin/Members column"
Hi,

Go to  Admin --> Boards and look the Members column
It lists the members of a specific board but when clicking on a user it loads a blank page.
The hyperlink behind the username is broken -- the newer the board, the higher the /#/user/**27** number.

[2017-03-06 06:58] sathya313 opened #1098 "Unable to install the restyaboard using the installation steps.(http://restya.com/board/install) in Ubuntu 16.04.1 LTS"
In ubuntu os, unable to install the restyaboard.

ahsan@ahsan:/usr/share/nginx/html$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.1 LTS
Release:	16.04
Codename:	xenial

I have attached the  restyaboard.sh log file. Installation not done successfully. It displayed error as "428: ./restyaboard.sh: cannot open 9.3: No such file
+ [[ 9.5 ]]
./restyaboar

[2017-03-06 07:37] rrjanbiah opened #1099 "Import Taskwarrior tasks"
Add support to import Taskwarrior tasks

https://taskwarrior.org/docs/design/task.html

[2017-03-06 07:42] rrjanbiah opened #1100 "Add MeisterTask theme"
Add MeisterTask like theme for people who're coming from that

[2017-03-07 06:15] lmarikannan opened #1101 "IMAP connection issue other than Gmail server"
Currently `imap_open` connection code was hardcoded for SSL server connection and it will not work for plain connection. Please refer, https://github.com/RestyaPlatform/board/blob/master/server/php/shell/imap.php#L26

[2017-03-07 07:47] baskar383 commented on #1097
Fixed in this commit b110b96

[2017-03-07 07:47] #1097 closed

[2017-03-07 07:56] baskar383 commented on #1098
Fixed in this commit 9cb4527

[2017-03-07 07:56] #1098 closed

[2017-03-07 08:21] baskar383 opened #1104 "Split is not working in php 7"
Split is not working in php 7

[2017-03-07 14:01] lmarikannan opened #1106 "Standard login/register settings not working"
I'm looking for a way to disable the "Register" function in Restyaboard or atleast Remove the button from the login page. Under Admin/Settings/System i see a tickbox "Standard login/register", but it does nothing and upon reloading the page it gets activated

[2017-03-07 19:53] theriverman commented on #1106
Hi,

Untick Register under Admin/Roles -- Guest column. See picture attached:

![register](https://cloud.githubusercontent.com/assets/22156894/23674964/08267764-0378-11e7-9a40-47cae1ce574e.jpg)

/Riverman

[2017-03-08 06:58] rrjanbiah opened #1107 "Sandstorm support"
Some people want Sandstorm support to quickly host it in cloud

[2017-03-08 12:47] lmarikannan commented on #1101
**Additional Issues**

1. IMAP_EMAIL not fetched from settings table, so its not working in cron.
2. Position for top was not correct, it set as 0.

[2017-03-08 12:50] lmarikannan commented on #1106
@theriverman Thanks for your notes. Currently we have posted this issue to understand about this settings, but already its posted here #1030. So closing this issue.

[2017-03-08 12:50] #1106 closed

[2017-03-08 14:32] dugravot6 opened #1108 "psql: unable to connect to server (psql) under fresh iCentOS7"
Hi,
On a fresh update centos7, the install script failed when it have to :
+ psql -U postgres -c '\q'
psql: n'a pas pu se connecter au serveur : Aucun fichier ou dossier de ce type
	Le serveur est-il actif localement et accepte-t-il les connexions sur la
 	socket Unix « /var/run/postgresql/.s.PGSQL.5432 » ?
+ '[' 2 '!=' 0 ']'
+ echo 'PostgreSQL Changing the permission failed with error code 40'
Po

[2017-03-09 06:33] ChangePlaces opened #1109 "Feature: Allow a board to be set as a template"
I would like to be able to take a new board, set it up with the columns I want, then save it as a template, so then I can quickly use the template again. This saves having to copy a board

[2017-03-09 17:22] vClouds opened #1110 "v4.2 Install Fix Ubuntu 14.04 nginx and php modules"
1) Installation is aborting during nginx install asking for nginx-full, nginx-* packages

Solved by manually adding latest nginx repo
wget https://nginx.org/keys/nginx_signing.key
nano /etc/apt/sources.list
deb http://nginx.org/packages/ubuntu/ trusty nginx
deb-src http://nginx.org/packages/ubuntu/ trusty nginx
apt-get update
Please find away to add the latest nginx repos.
AND yet ending with 403

[2017-03-10 10:39] baskar383 commented on #1108
We are check your restyaboard install log your postgress sql is not started.
commands

[2017-03-10 12:47] baskar383 commented on #1110
Thanks you. Fixed in this commit 7bca35e

[2017-03-10 12:47] #1110 closed

[2017-03-10 14:03] dugravot6 commented on #1108
Hi,
a simple start is not sufficient, because it never start :

`systemctl start postgresql-9.5
Job for postgresql-9.5.service failed because the control process exited with error code. See "systemctl status postgresql-9.5.service" and "journalctl -xe" for details.
`

`systemctl status postgresql-9.5
● postgresql-9.5.service - PostgreSQL 9.5 database server
   Loaded: loaded (/usr/lib/systemd/syst

[2017-03-10 14:03] #1108 closed

[2017-03-10 14:16] dugravot6 opened #1112 "connect() to unix:/run/php/php7.0-fpm.sock failed"
Hi,
On a fresh new install under CentOS7.
Installation is ok now.

But nginx print errors in error.log when client request base url :

error.log
`2017/03/10 15:11:25 [crit] 2446#0: *2 connect() to unix:/run/php/php7.0-fpm.sock failed (2: No such file or directory) while connecting to upstream, client: 192.168.122.1, server: 192.168.122.232, request: "GET /api/v1/oauth.json?_=1489155085643 HTTP/1.1

[2017-03-10 14:16] dugravot6 commented on #1112
Of course, on the browser, we have a blank page ... :-/

[2017-03-12 19:52] theriverman opened #1113 "App: Collaborate/TogetherJS does not work"
Hi,

I'm trying to experience with Collaborate/TogetherJS, I set it to Enabled under the Admin settings, then clicked it on the bottom but does not bring up anything.
Do I need any special plugin for it to work or change some sort of settings to use it?

I tried starting it with two unindividual users at the same time in two different browsers, but no lucky - no connection.
I found the [Restyaboar

[2017-03-13 11:52] theriverman opened #1114 ""libjpeg8" error during installation on Ubuntu"
Hi,

I tried installing Restyaboard with the install-script but it failed with the following error:

I'm pretty much sure about that there is a missing `--allow-unauthenticated` argument from an `apt-get install **` command, but I couldn't locate the package in the script which tries to install `libjpeg8` on Ubuntu.

I found the following line which relates to the issue:

but that's obviously not

[2017-03-13 12:41] rrjanbiah commented on #1114
@theriverman Many thanks for helping out the project with your bug reports. We'll address this as soon as possible.

[2017-03-13 12:58] theriverman commented on #1114
It is my pleasure supporting this project; thank you very much for this great tool!

[2017-03-13 13:20] rrjanbiah commented on #1114
@theriverman Thanks for your kind words!

[2017-03-14 00:14] vClouds opened #1115 "v4.2 Installation bug - Ubuntu 14.04"
Although the php7 repo were added and some packages php7.0-XXXX were installed with no issue, only installation of php7.0 package is keep aborting with the below output,

[2017-03-14 05:43] rrjanbiah commented on #1115
@vClouds Many thanks for your bug report. We'll fix it as soon as possible.

[2017-03-14 15:08] rrjanbiah opened #1116 "Blank page when opening board after long time"
401 (Authentication failed) error for every requests. Even getting same 401 for logout requests too (Previously, it wasn't the case). So, completely stuck with blank page. Had to clear cookies to restart.

[2017-03-14 15:14] rrjanbiah opened #1117 "Notification time in email is not considering user's timezone"
`Restyaboard / 12 new notifications since 08:40 AM (March 14, 2017)`

Here, 08:40 is based on Restyaboard's timezone (from admin panel). But, it should actually consider the user's timezone (from profile).

* Restyaboard's timezone is for displaying `ago`
* User's timezone is for displaying time in notification emails

[2017-03-15 14:32] theriverman opened #1119 "[Activities logging bug] Too many activities crash GUI"
Hi,

I made lots of actions in a board within about 25 minutes (created lots of cards and lists and all).
Logging in as ADMIN I get blank admin page (the system cannot load the recent user activities) and I'm struggling to switch between admin pages (i gotta right click and open on new tab).

I tried turning off "All activities" function, but it is hard-coded for Admin user.

See photos below:

![

[2017-03-16 06:04] baskar383 commented on #1085
Fixed in this commit bed2340

[2017-03-16 06:04] #1085 closed

[2017-03-16 06:04] #1117 closed

[2017-03-16 06:27] baskar383 commented on #1084
Fixed in this commit 1333a7f

[2017-03-16 06:27] #1084 closed

[2017-03-16 06:44] baskar383 commented on #1082
Fixed in this commit d0c6b9c

[2017-03-16 06:44] #1082 closed

[2017-03-16 06:47] baskar383 commented on #1095
Fixed.

[2017-03-16 06:47] #1095 closed

[2017-03-16 06:47] baskar383 commented on #1094
Fixed

[2017-03-16 06:47] #1094 closed

[2017-03-16 07:12] baskar383 commented on #1092
Fixed in this commit d0c6b9c

[2017-03-16 07:12] #1092 closed

[2017-03-16 07:13] baskar383 commented on #1083
Fixed in this commit d0c6b9c

[2017-03-16 07:13] #1083 closed

[2017-03-16 07:13] baskar383 commented on #1093
This not an issue

[2017-03-16 07:13] #1093 closed

[2017-03-16 09:53] baskar383 commented on #1104
Fixed in this commit ab9b75c

[2017-03-16 09:53] #1104 closed

[2017-03-16 09:59] baskar383 commented on #1087
This not an issue trello also as same feature

[2017-03-16 09:59] #1087 closed

[2017-03-16 10:00] baskar383 commented on #1086
Fixed in this commit d0c6b9c

[2017-03-16 10:00] #1086 closed

[2017-03-16 11:09] baskar383 commented on #1076
Fixed in this commit f17bbd8

[2017-03-16 11:09] #1076 closed

[2017-03-16 11:09] baskar383 commented on #1074
Fixed in this commit f17bbd8

[2017-03-16 11:09] #1074 closed

[2017-03-16 11:10] baskar383 commented on #1071
Fixed in this commit f17bbd8

[2017-03-16 11:10] #1071 closed

[2017-03-16 11:10] baskar383 commented on #1040
Fixed our local server

[2017-03-16 11:10] #1040 closed

[2017-03-16 11:10] baskar383 commented on #1054
Fixed in this commit f17bbd8

[2017-03-16 11:10] #1054 closed

[2017-03-16 11:11] baskar383 commented on #1061
Fixed in this commit f17bbd8

[2017-03-16 11:11] #1061 closed

[2017-03-16 11:13] baskar383 commented on #1089
Files added in this commit 9a75f0a

[2017-03-16 11:13] #1089 closed

[2017-03-16 11:40] baskar383 commented on #1079
Fixed in this commit  d0c6b9c

[2017-03-16 11:40] #1079 closed

[2017-03-16 13:44] lmarikannan commented on #1115
@vClouds Sorry for the inconvenience. We have checked install script, and did some changes. Can you please restart your installation with this file [restyaboard.txt](https://github.com/RestyaPlatform/board/files/847832/restyaboard.txt)

[2017-03-16 13:47] lmarikannan commented on #1114
@theriverman  Sorry for the inconvenience. We have checked install script, and did some changes. Can you please restart your installation with this file [restyaboard.txt](https://github.com/RestyaPlatform/board/files/847836/restyaboard.txt)

[2017-03-16 14:33] baskar383 commented on #1119
Duplicate https://github.com/RestyaPlatform/board/issues/1116. we are already got  based on your issue  currently we are  working on this issue once fixed we will update you.

[2017-03-17 05:05] baskar383 commented on #1112
Go to this path /run/php/php7.0-fpm.sock make sure file is present or any other version php fpm file copy the file name then open the restyaboard.conf file replace the file name then restart nginx. It will works

[2017-03-17 05:08] baskar383 commented on #1038
Are still facing restyaboard installation issue. If yes means feel free to contact this page : http://restya.com/contact?category=free-installation

[2017-03-17 05:42] baskar383 commented on #1081
Fixed in this commit 7a004a2

[2017-03-17 05:42] #1081 closed

[2017-03-17 06:05] baskar383 commented on #1078
Fixed in this commit 1311f83

[2017-03-17 06:05] #1078 closed

[2017-03-17 06:23] lmarikannan commented on #1116
@rrjanbiah Sorry for the trouble. Actually this error occur due to refresh token and access token expiration time. Now we have fixed this on 2 files.

Need to replace the r.php file on `/server/php/R/r.php` path with this file [r.txt](https://github.com/RestyaPlatform/board/files/849781/r.txt) and change the file format `.txt` to `.php`.

And also replace the bootstrap.php file on `/server/php/boo

[2017-03-17 06:24] lmarikannan commented on #1119
@theriverman  Sorry for the trouble. Actually this error occur due to refresh token and access token expiration time. Now we have fixed this on 2 files.

Need to replace the r.php file on `/server/php/R/r.php` path with this file [r.txt](https://github.com/RestyaPlatform/board/files/849781/r.txt) and change the file format `.txt` to `.php`.

And also replace the bootstrap.php file on `/server/php/

[2017-03-17 06:25] #1116 closed

[2017-03-17 07:05] baskar383 commented on #1044
This is not an issue. This popup made on browser action.

[2017-03-17 07:05] #1044 closed

[2017-03-17 11:46] theriverman commented on #1119
Hi,

The problem still persists [or did I miss something?].

I did change both files to the new ones you linked above.
I did restart nginx and cleared the complete history/cookies/cache of Internet Explorer, but still facing the issue --> The `http://192.168.1.100/#/activities` site is blank, not loading the logs.
If I click _Users/Boards/Roles/Apps/etc_... then It does nothing. _If I reload the s

[2017-03-17 11:51] lmarikannan commented on #1050
@rrjanbiah Could not reproduce this issue. Closing this for now. If you get any other issues related this, please feel free to reopen.

[2017-03-17 11:51] #1050 closed

[2017-03-17 11:59] lmarikannan commented on #1113
@theriverman Could not reproduce this issue on our demo server. Can you please open your browser console and see if there's any errors?

Also, please try to enable debug mode https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15 and look up HTTP header. Post HTTP header response if you get any error.

[2017-03-17 12:41] lmarikannan commented on #1119
@theriverman Can you please open your browser console and see if there's any errors, and also look up `/api/v1/activities.json` API endpoint call response, and paste that response here.

[2017-03-17 12:52] theriverman commented on #1114
Thanks!

I deployed a VPS on amazon ec2 to check it out.

Installation was a bit different, it stopped twice to ask for confirmation [it could be skipped automatically by -y, as it's a mandatory dependency].

The installation, however, failed for me, see logs attached!
v1 = prompts that could be skipped

/riverman

[v1.txt](https://github.com/RestyaPlatform/board/files/850566/v1.txt)
[restyaboard_

[2017-03-17 13:21] theriverman commented on #1119
Hi,

I tried accessing that file, but I could not download it through the browser [download failed].
However, I did some research, and I found that my crontabs were failing to run.

I re-created them with `sudo crontab -e` and I guess that the `card_due_notification.sh` and `webhook.sh` scripts are in connection with this issue.

I executed them and my activities loaded in the Admin panel.

If you

[2017-03-17 14:00] dugravot6 commented on #1112
Ok,
I have juste create /run/php and correct restyaboard.conf file to specify the good name :
fastcgi_pass    unix:/run/php/php7.0-fpm.sock;

Now, i didn't have others errors in nginx logs.
But, in php-fpm www-errors.log :

[code]

postgresql is running :

[code]

And listen on port 5432 :
[code]

I can connect manually with psql ....
Any ideas ?
Stephane.

[2017-03-17 14:24] lmarikannan commented on #1112
@dugravot6 Can you please check database `username` and `password` on `server/php/config.inc.php` file

[2017-03-17 14:33] dugravot6 commented on #1112
I do not know very well psql, but i can :

[code]

So it seems postgresql is running fine no ? ...

[2017-03-17 14:38] lmarikannan commented on #1112
@dugravot6 We think it may be due to blocking of IPv6 (::1) in `pg_hba.conf` file? Can you please provide access to all in `pg_hba.conf` file and restart postgres?

[2017-03-17 14:41] dugravot6 commented on #1112
Here is the pg_hba.conf, what i have to change ? (sorry i do not know that ...) :

[code]

[2017-03-18 07:48] lmarikannan commented on #1119
@theriverman Here we attached a [video link](https://drive.google.com/open?id=0B1bpPqx9YfPJaVMzcmpBTnFlLWc) to get the response from activities API endpoint. Please follow that video procedures and copy the response data from your server, and paste it here.

[2017-03-18 08:22] lmarikannan commented on #1112
@dugravot6 Can you please do the following things to connect the psql:

1) setenforce 0
and then change the selinux value like given below

vi /etc/sysconfig/selinux
change the SELINUX=enforcing to SELINUX=disabled

2)  setsebool -P httpd_can_network_connect_db 1

And check the website if still it is not working then please reboot the server and check it

[2017-03-18 08:28] rrjanbiah commented on #1112
@dugravot6 If you're finding it difficult to install Restyaboard from your end, we do also offer free installation support that you may consider http://restya.com/contact?category=free-installation

[2017-03-18 10:58] lmarikannan commented on #1114
@theriverman some changes updated in script, can you please install again using https://raw.githubusercontent.com/RestyaPlatform/board/master/restyaboard.sh.

[2017-03-20 09:01] aleromano89 opened #1126 "error during update to 0.4.2 on debian 8.7"
[restyaboard_install.zip](https://github.com/RestyaPlatform/board/files/854284/restyaboard_install.zip)

My current version of restya is 0.3 and I'm trying to update to 0.4.2 by install script restyaboard.sh.

I have attached here my install log.
How can I solve?

[2017-03-20 10:29] dugravot6 commented on #1112
@lmarikannan
I works well after disabled selinux (with reboot).
But, after that reboot, we lose /run/php directory as it is not recreated and php-fpm cannot create /run/php/php7.0-fpm.sock
So i have to create directory and restart php-fpm.
As /run is tmpfs, where and when can i create this directory ?

Here is the list of problems encountered with Centos, maybe you can take it into account :

- Ha

[2017-03-21 06:48] #1115 closed

[2017-03-21 07:15] lmarikannan commented on #512
Fixed on this commit https://github.com/RestyaPlatform/board/pull/1128/commits/ee265f7329b8d0a3db62a55175e670292d7d8a48.

[2017-03-21 07:15] #512 closed

[2017-03-21 07:16] lmarikannan commented on #658
Fixed on this commit ee265f7.

[2017-03-21 07:16] #658 closed

[2017-03-21 07:22] lmarikannan commented on #17
Fixed on this commit https://github.com/RestyaPlatform/board/commit/ae6b1c0446cee21e6c81f92fedc3bf89f4bada8f.

[2017-03-21 08:10] lmarikannan commented on #1101
Fixed on this commit https://github.com/RestyaPlatform/board/commit/27e9bccab4576258e2d67b303420aacd59788258

[2017-03-21 08:10] #1101 closed

[2017-03-21 11:51] lmarikannan commented on #1096
Fixed on this commit ee265f7.

[2017-03-21 11:51] #1096 closed

[2017-03-21 12:06] lmarikannan commented on #1126
@aleromano89  We have tried to reproduce this issue in local but we cannot able to reproduce it.

Can you please check `release` file is exist on your server folder `/opt/restyaboard/`? If it is not exist then replace this file [release.txt](https://github.com/RestyaPlatform/board/files/858016/release.txt) into `/opt/restyaboard/`. And remove the file format `.txt`. Then check again.

And you need

[2017-03-21 13:15] aleromano89 commented on #1126
When should I execute sql? before update or after update?

[2017-03-21 13:35] lmarikannan commented on #1126
@aleromano89 need to execute sql after update

[2017-03-21 13:35] aleromano89 commented on #1126
the file `release` was already existent, its content was v0.4.2. Anyway I have tried to replace it with one you attached in the previous post. And I have tried again to execute sh.
This is the install log

[upgrade-0.3-0.4.sql.zip](https://github.com/RestyaPlatform/board/files/858254/upgrade-0.3-0.4.sql.zip)

[2017-03-21 15:17] lmarikannan commented on #1126
@aleromano89, Can you please replace below changes in your `restyaboard.sh` file and check again?

On line number : https://github.com/RestyaPlatform/board/blob/master/restyaboard.sh#L204

[code]

**replace below**

[code]

[2017-03-22 10:19] aleromano89 commented on #1126
thanks, now from the page "about" restya version seems to be 0.4.2, but in the install log I yet see some errors.(nevertheless  restya platform is yet working)
Anyway I have already executed sql commands after install.

[restyaboard_install.zip](https://github.com/RestyaPlatform/board/files/861071/restyaboard_install.zip)

[2017-03-22 12:05] lmarikannan commented on #1126
@aleromano89 Currently there is no sql file in 0.4.2 version, so that only some errors are displayed. So that is not an issue. Closing this for now. If you get any issues, please feel free to reopen.

[2017-03-22 12:05] #1126 closed

[2017-03-22 21:54] ChrisDeChef opened #1131 "Feature request: Adding the possibility to change the color of every list or card individually"
It would be really great and helpful if I could change the color of every list or card individually as this would increase the clearness on my boards.

[2017-03-22 21:57] ChrisDeChef opened #1132 "Feature request: Set the color of labels individually"
Unfortunately it's not possible to set the color of each label individually. So it happens that you type a label like "Important" or "Warning" and it gets colors like **lime** or **green** which confuses me more instead of helping me out of my brain salad ;)

[2017-03-22 23:53] theriverman commented on #1100
#1132
#1131

[2017-03-22 23:56] theriverman commented on #1119
Hello, I'm not able to check this now, maybe early next week.
I close this issue now and will open+comment again later.

[2017-03-22 23:56] #1119 closed

[2017-03-22 23:56] theriverman commented on #1113
Hello, I'm not able to do this now, maybe early next week.
I close this issue now and will open+comment again later.

[2017-03-22 23:56] #1113 closed

[2017-03-23 13:34] morphos88 opened #1133 "Email notification"
We do not have any notification when user add/edit/delete card on restyaboard.

We have Email notification on user creation.

[2017-03-26 21:32] theriverman commented on #1114
Hi,

Just started an EC2 VPS and issued the script, it has failed again. [Ubuntu 16.04 @ Amazon EC2].

See my log attached.

/riverman

[restyaboard_install.log.txt](https://github.com/RestyaPlatform/board/files/871042/restyaboard_install.log.txt)

[2017-03-26 23:15] theriverman opened #1134 "[Major] Non-Admin users cannot remove assignee from Card"
Hi,

Just found this bug. I installed Restyaboard with the install-script, then added a new user from Admin menu.
I did not change anything under Admin settings, I did not touch Roles.

I can assign members to cards [both with admin and casual users], but if I try removing an assignee from a card, then Restyaboard crashes and technicaly I lose my access to the board until next refresh.

If you can

[2017-03-26 23:18] theriverman commented on #1133
In my opinion, receiving an e-mail for every user action on cards would be a massive "over-kill".
Imagine the amount of spam for a board with 10+ members and with over 50 tasks.

However, Restyaboard supports in-browser push notifications [Safari, Chrome, Firefox, ...?].
If you allow that, that will notify you about all sorts of user actions.

/riverman

[2017-03-27 06:14] morphos88 commented on #1133
I understand but I thought mail notifications worked like trello

[2017-03-27 07:16] lmarikannan commented on #1114
@theriverman Can you please try below commands and re-install again using https://raw.githubusercontent.com/RestyaPlatform/board/master/restyaboard.sh.

[code]

After trying these above commands, if you've getting errors then share your server details, we'll check and let you update

[2017-03-27 07:40] lmarikannan commented on #1133
@morphos88 Can you please check your crontab that instant_email_notification and periodic_email_notification crons are exist or not?

[2017-03-27 08:01] morphos88 commented on #1133
i have edit Crontab and now i have receive mail notification !

[2017-03-27 09:27] rrjanbiah commented on #1132
@lmarikannan #712

[2017-03-27 09:29] rrjanbiah commented on #17
@lmarikannan  Reopening this as above fix is not really helpful in understanding the API workflow. Need proper documentation.

[2017-03-27 09:45] lmarikannan opened #1135 "After sorting CARDS the LABELS dissapear"

[2017-03-27 10:04] lmarikannan commented on #1135
Fixed on this commit 34ac029

[2017-03-27 10:04] #1135 closed

[2017-03-27 10:08] lmarikannan commented on #1133
Great to hear. Closing this issue.

[2017-03-27 10:08] #1133 closed

[2017-03-27 10:08] #1038 closed

[2017-03-27 10:10] lmarikannan commented on #1114
@theriverman Please fill the form http://restya.com/contact?category=free-installation and provide necessary details to debug this issue.

[2017-03-27 10:14] lmarikannan commented on #1134
@theriverman can you please execute the below query manually, and check again?

 UPDATE "acl_board_links" SET "url" = '/boards/?/lists/?/cards/?/cards_users/?' WHERE "name" = 'Remove card member';

[2017-03-27 10:25] lmarikannan opened #1138 "New comments on cards disappear and are not showing untill a user relogs"

[2017-03-27 12:04] morphos88 opened #1141 "SSL rewrite URL"
I want to install SSL on restyaboard with Nginx.

I have a problem with jpg GET URL was on http not in https.

JS want get a http :
![2017-03-27_14h04_16](https://cloud.githubusercontent.com/assets/25505555/24355478/56d307be-12f6-11e7-8900-4dbe13f8f4fa.jpg)

[2017-03-27 12:13] lmarikannan commented on #1141
@morphos88 Script will cache the site URL in this file `tmp/cache/site_url_for_shell.php`. So can you please delete this file and it will recreate with `https` URL.

[2017-03-27 12:29] lmarikannan commented on #1141
@morphos88 Change `https` inside the file or can you please attach the generated file here?

[2017-03-27 12:31] morphos88 commented on #1141
join

[site_url_for_shell.zip](https://github.com/RestyaPlatform/board/files/872434/site_url_for_shell.zip)

[2017-03-27 12:38] lmarikannan commented on #1141
@morphos88 Can you please clear cache and check? Also please attach `boards.json` output from developer console network tab?

[2017-03-27 12:39] morphos88 commented on #1141
clear cache on my navigator ?

[2017-03-27 12:45] morphos88 commented on #1141
i try to clear cache on my navigator it's do nothing.

I try to upload new photo and now there is no error but there is no font.

[2017-03-27 12:56] lmarikannan commented on #1141
Can you please check console and send if there is any other error?

[2017-03-28 07:40] lmarikannan commented on #1138
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3694f448e155cfeb73d47a799553f510d16b5213

[2017-03-28 07:40] #1138 closed

[2017-03-29 07:32] asrita opened #1143 "Zip file for download v0.4.2 seems broken"
While trying out Restya, I was not able to add labels to tasks. When I tried to figure out why, I realized that release tree in Github for v0.4.2 had lot more files than the download packaged version (board-v0.4.2.zip) @ https://github.com/RestyaPlatform/board/releases. For e.g., the folder /client/css had only two files as compared to a huge number in the branch tree.

Can you please check the zi

[2017-03-29 12:16] #1141 closed

[2017-03-29 12:18] morphos88 opened #1144 "Change URL restyaboard"
Hi, where i can change url of restyaboard ?

Because i want to change URL but like in welcome mail the URL website is not the new URL.

[2017-03-29 13:28] lmarikannan commented on #1143
@asrita Yes, one is source code of restyaboard and another one is compressed mode zip of restyaboard. In Compressed version zip file have /client/css folder, in that we minified and compressed the all css files into two files. And there is no other issues from any other users. Could you please explain what kind of issues are you've faced?

[2017-03-29 13:29] lmarikannan commented on #1144
@morphos88 please clear the cache file on `/tmp/cache/` and check it again

[2017-03-29 13:30] morphos88 commented on #1144
Yes it's works i understand how it works !

[2017-03-29 13:30] #1144 closed

[2017-03-29 13:52] morphos88 opened #1145 "Mail notification"
In mail.log mail destination (TO:) every time is root@DomainName.

[2017-03-29 14:03] lmarikannan commented on #1145
@morphos88 Can you please check `SMTP` enabled. If `SMTP` enabled, check your smtp configuration

[2017-03-29 14:09] morphos88 commented on #1145
# See /usr/share/postfix/main.cf.dist for a commented, more complete version

# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

#smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
smtpd_banner = RestyaBoard
biff = no

# appending .domain is the MUA's job.
append_dot_mydoma

[2017-03-29 14:11] morphos88 commented on #1145
Log mail.log
`Mar 29 16:10:02 SrvRestyaBoard postfix/qmgr[858]: 1289F813A8: from=<root@ad.clauger.fr>, size=820, nrcpt=1 (queue active)
Mar 29 16:10:02 SrvRestyaBoard postfix/smtp[15320]: F1C8C813A5: to=<root@ad.clauger.fr>, orig_to=<root>, relay=srvexch2010.ad.clauger.fr[192.9.100.11]:25, delay=0.24, delays=0.06/0.01/0/0.16, dsn=2.6.0, status=sent (250 2.6.0 <20170329141001.F1C8C813A5@SrvRestyaBo

[2017-03-29 14:15] lmarikannan commented on #1145
@morphos88 We will check and update you

[2017-03-29 14:16] morphos88 commented on #1145
thanks

[2017-03-29 15:14] asrita commented on #1143
Oh I did not realize that. However, the problem I faced is that I was not able to add any labels to cards. But I just rechecked now, and it is working. I guess it was my mistake. Apologies..

[2017-03-29 15:14] #1143 closed

[2017-03-30 06:15] fangsheng777 opened #1146 "installation"
I installed RestyaBoard on Debian 8.7.1 , all looks good but I couldn't get login screen.
here is the installation log.

Thank you

[restyaboard_install.log.02.gz](https://github.com/RestyaPlatform/board/files/881176/restyaboard_install.log.02.gz)

[2017-03-30 06:21] lmarikannan commented on #1146
@fangsheng777 We have checked your installation log file, in that log you've mentioned your domain name as `intra.swsahs.nsw.gov.au`. So could you please check with `intra.swsahs.nsw.gov.au` domain name in your browser to get login screen?

[2017-03-30 09:05] ECWeb opened #1147 "Plans to support MSSQL?"
Is there any change to support other database in the future?.. that would be great...

[2017-03-30 09:11] rrjanbiah commented on #1147
@ECWeb Thanks a lot for the ticket. If possible, can you please share why you prefer MSSQL? Thanks

[2017-03-30 10:03] rrjanbiah opened #1148 "Gantt view is freezing up browser"
Reproducible in http://board.demo.restya.com/#/board/304/gantt
Browser: Chrome

[2017-03-30 11:27] rrjanbiah opened #1149 "Installation issue in Ubuntu 12-16"
_From one of our customers_

**Failure to install on Ubuntu 12-16**

Unfortunately I didn't keep the VMs around as they were occupying space on premium SSD storage (I built the VMs for the express purpose of using restyaboard) and the space has since been reclaimed (long before you first e-mailed me as a matter of fact). Since I don't have logs (or the time to re-deploy a VM then re-install restya

[2017-03-30 11:30] rrjanbiah opened #1150 "Installation Feature Request - Less noisy output"
_From one of our customers; note that it is only for the users (not for the log file)_

During the installation, the installer uses apt-get etc, this output is put on the users screen. Please consider instead putting this in a log file and directing the user there in the event of a failure (any non 0 exit code) or, at the end of the installation just for the curious.

I would rather the installer

[2017-03-30 11:31] rrjanbiah opened #1151 "Reset demo instance language to English"
_From one of our customers_

If you go to your demo site and change the language to say mandarin, it is not reset to English like the password is, I was forced to use Google Translate. This should be corrected (and from a UX point of view, the language should show the language in the native language, but that has nothing to do with the demo site.) I may not have waited enough time, so this could b

[2017-03-30 11:33] rrjanbiah opened #1152 "Automatic language selection based on browser & IP"
For the first time, show the language based on the browser user agent value or based on GeoIP data. Once the user sets the language in cookie, it should give priority to cookie.

Once this is done, we can revert #1151

[2017-03-30 12:52] lmarikannan commented on #1146
@fangsheng777 And also please share your nginx error log file.

[2017-03-30 13:11] lmarikannan commented on #1145
@morphos88 Could you please check, mail notification is only log on mail.log and you didn't receive any mails from restyaboard?

[2017-03-30 13:24] lmarikannan commented on #1151
@rrjanbiah Already this work has been done

[2017-03-30 13:31] morphos88 commented on #1145
Yes is only log on mail.log and users receive only welcome message

[2017-03-30 13:34] morphos88 commented on #1145
In welcome message ##ACTIVATON_URL## is not the same like ##SITE_URL## there is http and not https

[2017-03-30 14:18] lmarikannan commented on #1145
@morphos88 we'll check and update you

[2017-03-30 14:19] morphos88 commented on #1145
Ok thanks

[2017-03-31 05:20] rrjanbiah commented on #1151
@lmarikannan I don't think it works. I still find random language. Please redo QA and close.

[2017-03-31 05:22] lmarikannan commented on #1030
@rrjanbiah Standard login/register option has been removed due to this feature is moved to LDAP plugin. And it's related code removed on this commit  39c6a65

[2017-03-31 05:22] #1030 closed

[2017-03-31 07:09] lmarikannan commented on #1145
@morphos88 Now that http and https related issue fixed on this commit 6ffda3b. You can find and replace `'http://' . $_SERVER['HTTP_HOST']` as `$_server_domain_url`  in `/server/php/R/r.php` file and check again.

[2017-03-31 07:20] #1134 closed

[2017-03-31 07:21] morphos88 commented on #1145
You solve problem about http to https in welcome activation mail but we still do not receive mail notification about delete/create/modifcation card.

[2017-03-31 07:51] lmarikannan commented on #1145
@morphos88 In restyaboard, email notifications are not coming immediately. It may come after 5 minutes or an hour, it's depending on user settings (Periodically or Instantly). Can you please check on this page `https://YOUR_DOMAIN_NAME/#/user/1/settings` on your restyaboard site for notifications are enabled or not. And also please refer #1133

[2017-03-31 08:10] morphos88 commented on #1145
Notifications are configured immediately and i don't receive any notification.

Also in mail.log destination still root@DomainName

[2017-03-31 08:39] rrjanbiah commented on #1134
@theriverman Please feel free to reopen if you're still facing the issue

[2017-03-31 08:44] rrjanbiah commented on #1114
Reopening as asking @theriverman to provide server details doesn't look necessary and might confuse customers.

[2017-03-31 13:30] rrjanbiah opened #1155 "Slowliness in Internet Explorer 11"
_From forum https://groups.google.com/d/msg/restya/mjbGELhb7F8/77ZTjqr2CwAJ_

I have Restyaboard v0.3 install on Centos 6.8. The app works great on Opera, Chrome, Mozilla but on Internet Explorer 11 it take forever to load the page /#/boards. The pie chart just render real slow and internet explorer eventually crash. Please help me !

[2017-03-31 14:15] lmarikannan commented on #1114
@theriverman  If you're finding it difficult to install Restyaboard from your end, we do also offer free installation support that you may consider http://restya.com/contact?category=free-installation

[2017-03-31 14:21] lmarikannan commented on #1145
@morphos88 as per this issue #1133 you've mentioned that crontab edited, and you've received mail notification. Can you please check again crontab that instant_email_notification and periodic_email_notification crons are exist or not.

[2017-03-31 14:23] morphos88 commented on #1145
I think it works because in mail.log i see mail going out but the mail destination is false

![2017-03-31_16h22_47](https://cloud.githubusercontent.com/assets/25505555/24554542/4bc79f7a-162e-11e7-99c5-9047d88d14a6.jpg)

[2017-04-02 20:15] IssueFindings opened #1156 "Impossible to install Restyaboard on Raspbian Jessie"
Hello,
1) Currently it's not possible to install Restyaboard on Raspbian Jessie through the script restyaboard.sh because the repository dotdeb.org doesn't work on Jessie and so the script can't install php7.0. Could you replace dotdeb.org in the script ?

The error message with apt-get update
W: Failed to fetch http://packages.dotdeb.org/dists/jessie/InRelease Unable to find expected entry 'all/b

[2017-04-03 05:22] rrjanbiah commented on #1156
@IssueFindings Thanks for the report. If possible, can you please share the install log (remove sensitive details)?

[2017-04-03 13:30] morphos88 commented on #1145
Mail notification is OK.

Now i receive mails notification but there are problem in mail with accent :
![image](https://cloud.githubusercontent.com/assets/25505555/24611477/7f820106-1882-11e7-85f7-917248c137ae.png)

[2017-04-03 18:52] IssueFindings commented on #1156
When I run the command `sudo sh restyaboard.sh`, I obtain this (sorry it's in French)
[code]

[2017-04-04 06:22] lmarikannan commented on #1145
@morphos88 Please update your Email content from `Here's what you missed…` to `Here's what you missed...` on 'Email Notification' Email template page `http://YOUR_DOMAIN_NAME/#/email_templates/6` . Also replace this file [core.php.txt](https://github.com/RestyaPlatform/board/files/892174/core.php.txt) on this folder path `/server/php/libs/`, then replace the file format `core.php.txt` to `core.php

[2017-04-06 07:34] lmarikannan opened #1157 "After posting a comment Time Stamp changes"
From, https://groups.google.com/forum/#!topic/restya/l34ajYWjQrw

[2017-04-06 15:33] OrlandoCo commented on #1114
I solved this problem manually installing first "libjpeg8", then proceed with the installation script, everything worked fine.

Os: Ubuntu server 16.04

[2017-04-06 17:20] theriverman commented on #1114
Adding the --allow-unauthorized argument to a few apt-get commands in the script also solves the issue, I did not have the time to propose my version, but it's definitely an issue in the script that needs to be solved.

[2017-04-07 06:02] lmarikannan commented on #1114
@theriverman thanks for your report. Currently we added --allow-unauthenticated on libjpeg8 installation in `dev` branch and after QA we will merge it in `master` branch while release next version.

[2017-04-07 06:03] lmarikannan commented on #1157
Fixed on this commit 3074f1c

[2017-04-07 06:03] #1157 closed

[2017-04-07 15:02] MarcelloTheArcane opened #1160 "Images are being squashed"
When you upload an image, it forces it to resize to a 4/3 aspect ratio.  This leads to images being squashed and looking wrong.

There's two options, either a crop - which would leave some parts of the image chopped out, particularly for long or wide images, or not resizing at all.  I don't see the latter being a problem, as longer cards wouldn't really look bad - unless there's other reasons? are

[2017-04-08 10:42] vClouds opened #1161 "v4.2 Install Failure on Ubuntu 16.04"
Install script is aborting with the below output,

+ yum install -y epel-release
restya.sh: line 686: yum: command not found
+ '[' 127 '!=' 0 ']'
+ echo 'epel-release installation failed with error code 17'
epel-release installation failed with error code 17
+ exit 1

Please advise on that CentOS/Ubuntu conflict!

LSB were installed first on Loki and output as following,

root@vClouds:~# lsb_relea

[2017-04-10 08:26] rrjanbiah opened #1162 "plugin: show card inactivity like in trello"
Plugin request from a customer

[2017-04-10 08:27] rrjanbiah opened #1163 "Better reminders/notifications/alerts"
Request from a customer.

Better reminders/notifications/alerts. Intergrade with pushbullet/pushover

[2017-04-12 18:10] pabru commented on #1114
@lmarikannan Any idea why this option is necessary? Is this something to do with the PHP repo?

[2017-04-13 05:00] lmarikannan commented on #1161
@vClouds Thanks for the report. If possible, can you please share the install log (remove sensitive details)?

[2017-04-13 05:06] lmarikannan commented on #1114
@pabru It's necessary dependency for install `nginx`.

[2017-04-20 04:24] sun4p opened #1164 "Mail will be garbled in some languages(V0.4.2)"
I change the language to Japanese, the body of the mail will be garbled.

I modyfied the following program.
/restyaboard/server/php/libs/core.php

sendMail function
        $headers.= "Content-Type: text/html; charset=ISO-2022-JP" . PHP_EOL;

Character-encoding "ISO-8859-1" is used throughout the Americas, Western Europe, Oceania, and much of Africa.

[2017-04-24 18:18] coreyman opened #1165 "PostgreSQL Empty SQL importing failed with error code 39 on auto installer."
There is an issue with the auto installer  located here http://restya.com/board/install#Installscript , the sql that is trying to be imported doesn't exist on the filesystem at /sql

This is on Ubuntu 16.04 LTS

I've attached the install log.

[restyaboard_install.log.zip](https://github.com/RestyaPlatform/board/files/952712/restyaboard_install.log.zip)

[2017-04-25 09:50] morphos88 opened #1166 "Import Json"
Hi, when we import json from trello, comment in card was not sort by newer to older

[2017-04-25 09:57] morphos88 opened #1167 "Feature: Invite new user"
How we do to invite new user to use RestyaBoard when we are in tab

[2017-04-26 06:20] morphos88 opened #1168 "Colour in card"
Possibility to change colour of card

[2017-04-26 06:43] morphos88 commented on #1145
we have already problem in mail notification with accent

[2017-04-27 13:10] morphos88 opened #1169 "attached document"
There is no authentification to access attached document in restyaboard.

If we have the link to access the document we can download without authentification.

[2017-04-28 06:26] lmarikannan commented on #1146
@fangsheng777 Are you still facing this issue?

[2017-05-01 20:35] ChrisDeChef commented on #1168
+1

[2017-05-02 09:07] rrjanbiah opened #1170 "Add card options are not working as expected"
![add_card](https://cloud.githubusercontent.com/assets/4907427/25611429/be9eaaaa-2f44-11e7-8ffd-28825ccca628.png)

Options are sometimes updating already added card and sometimes not doing anything.

[2017-05-02 09:09] rrjanbiah opened #1171 "New feature: Template for cards"
From one of our customers:

Are you considering making it possible to create Templates for Cards? Right now it is only possible to have template boards. Today we are using the project tool for development, bugs, internal customer handling and much more. And what I see a great need for is the option for ‘Save card as template’, and then you will be allowed to create a card based on your templates l

[2017-05-02 12:06] llavall opened #1172 "ICal lacks functionalitys"
Hello,

first try of your product was promising, but we struggle with the capabilities to inform each user about his deadlines or appointments.
I just tested the ICal Feed URL feature. This is imporant for us in our selfhosted network, since we don't automatically get calender emails if a new card with a date and our user name was created.
What I did expect and not get is the following:
1. One lin

[2017-05-09 04:17] theshades opened #1173 "Missing API / folder from calls?!"
Seeing this in the logs, all I get is a "Powered by Restyaboard" link and that is it showing up at https://172.19.130.237/#/users/login

Logs:
[code]

[2017-05-09 06:29] rrjanbiah commented on #1173
*Internal note*

@theshades  is the maintainer of https://github.com/ShadeySecurity/restyaboard-ansible

[2017-05-09 07:28] KhomRud commented on #707
@lmarikannan @rrjanbiah
Could you explain where I need to put configuration files?
For Win10, XAMPP (Apache).

I download latest built file to root directory
Then where must be .htaccess file and restyaboard.conf?
In http://restya.com/board/docs/windows you use PostgreSQL, could you say what to do with MySQL in XAMPP?

Sorry for stupid questions.

[2017-05-09 15:13] theshades commented on #1173
Yep. ;) Let me know if there is anything I can do to assist as well. I have a high interest in getting a working version haha!

[2017-05-09 19:42] theshades opened #1174 "Enhancement Request: Migration To dbconfig / database neutral setup"
Greetings yall!
Would love to see the app go a bit more generic in which database it uses. There are ton of helper libraries in each of your languages supported to do this. Combine that with dbconfig package, and your app can scale more for cloud cluster deployments.

dbconfig reference:
https://www.debian.org/doc/manuals/dbconfig-common/dbconfig-common-design.html

[2017-05-09 23:55] theshades opened #1175 "Bug: Error thrown when I install Restya latest stable version"
Greetings!
I have installed the latest and greatest stable version and I am seeing the following errors:

[code]
Can you let me know the cause of this? I am not familar with fpm enough to diagnose it.

Thanks

Justin

Working installer version as of this post: https://github.com/ShadeySecurity/restyaboard-ansible/tree/e955284c1de7360cec8fc8145f1546f943213367

[2017-05-10 04:06] lmarikannan commented on #1173
@theshades It looks like you have taken the source code of RestyaBoard. Can you please download the deployable version file from here https://github.com/RestyaPlatform/board/releases/latest and let us know your feedback?

[2017-05-10 04:31] rrjanbiah commented on #1174
@theshades Thanks for your suggestion. We're also looking for a generic database approach. Thanks again.

[2017-05-10 14:02] theshades commented on #1173
Greetings,
I've done that as well, and don't see this one in particular. I did open up another bug on what I saw there relating to some PHP missing call.

[2017-05-10 14:07] theshades commented on #1175
Figured out the install script (and as such my ansible script) was missing php7.0-curl library install. Seeing if it works now.

[2017-05-10 14:09] #1175 closed

[2017-05-10 15:32] amunizp opened #1176 "Linux script install: nginx did not install."
This probably is an error on my end. I only just know what I'm doing. I think that since I have LAMP installed there is a conflict. But just incase:

(...)
dpkg: error processing package nginx (--configure):
 dependency problems - leaving unconfigured
Processing triggers for libc-bin (2.19-18+deb8u9) ...
Processing triggers for systemd (215-17+deb8u7) ...
Errors were encountered while processing:

[2017-05-10 16:40] theshades commented on #1176
Yeah, the install script is meant only for nginx install.  This is why I am working with them to remake their install script. Feel free to check out https://github.com/ShadeySecurity/restyaboard-ansible and use the install script there after you update the variables.

[2017-05-10 16:46] theshades commented on #1165
Give this installer a shot:
https://github.com/ShadeySecurity/restyaboard-ansible

[2017-05-10 16:51] theshades opened #1177 "Cannot Login After Installation"
Greetings yall!
I have done a full install, the nginx error log is clean, etc. but when I try and login with my own account or with the admin account, I get the following error:
`` Sorry, login failed. Either your username or password are incorrect or admin deactivated your account.``
I completed a database check and say both accounts are enabled (isactive and isemailactive are both = t).

Any ide

[2017-05-10 19:19] theshades commented on #1173
Hmm appears the issues were related to the rewrite rules not making it across... closing.

[2017-05-10 19:19] #1173 closed

[2017-05-10 23:23] theshades opened #1178 "blank screen - api missing"
I have been working my way through fixes, etc. for all the things I have found, but this one takes the cake for me, and I cannot find out why it is doing this. There are no entries in any of the logs which appear relevant.
However, the developer console in chrome reports this:
default.cache.e4bf7a8e.js:58 GET https://172.19.130.237/api/v1/oauth.json?_=1494458472237 404
Same site:
https://shadeysec

[2017-05-11 04:14] lmarikannan commented on #1178
@theshades  From your previous issue #1177 it looks like you got the login screen but while checking this issue the API call getting 404 error. Did you changed anything in nginx configuration? Also can you please attach your nginx configuration to check this?

[2017-05-11 09:09] rrjanbiah commented on #693
Reopening. Still it doesn't address silent sources addition

[2017-05-11 15:09] llavall opened #1179 "mixed text in card uncomfortable to read"
Hey,
when I open a card I see a lot of text explaining when I (or someone else) did what with that specific card. In the same layout in between I see some posted text. It is pretty hard to filter the interesting stuff. I would like to see  an option to activate the status text inside a card if I need it, otherwise it is hidden and I see just the posted text. On top it would be great to have anothe

[2017-05-11 16:13] theshades commented on #1178
https://github.com/ShadeySecurity/restyaboard-ansible/blob/94c2ece2bdff227117ae8c3bf5be420a7f59fab2/defaults/nginx.conf
All of my configurations (including the restyaboard.conf) are in the defaults folder in the project.
I managed to fix many of the issues myself by modifying files, etc. to correct bugs.

[2017-05-12 05:29] lmarikannan commented on #1178
@theshades Here you can find our nginx configuration file https://github.com/RestyaPlatform/board/blob/master/restyaboard.conf. Can you please use this configuration and try?

[2017-05-12 21:35] christianschupp commented on #1177
Hey theshades,

i latch into your issue as i can't login either. The login page is showing up fine, but neither the default "user" nor "admin" account works. I then created my own account. The activation mail was sent and the account was successfully activated through the mail. But login is not possible giving me the same error "Sorry, login failed. Either your username or password are incorrect o

[2017-05-18 15:31] theshades commented on #1178
Greetings,
I tried just your config (with only updating my servername) and same thing.
Still no errors anywhere except the missing API location.

Thanks,

Justin

[2017-05-19 09:32] lmarikannan commented on #1178
@theshades

Can you please restart nginx and check the error log file? Also can you please attach your `nginx.conf` and `restyaboard.conf` file?

[2017-05-19 15:52] rrjanbiah opened #1181 "Feature: ics link with filters"
From one of our customers:

I know can download an ics-file for one board via the ical-feed and then import that in our email/calendar-system GroupWise. But then I see all cards with a date as a entrie in my calendar and not just those were I am assigned to with my account.

1. What do I have to do to get only calendar entries were I am assigned to with my account?
2. How do I get that for all Boa

[2017-05-19 16:44] flashfs opened #1182 "LDAP plugin - Some bugs"
There are some errors within the LDAP login plugin (version 0.1.1) code.

When saving LDAP plugin settings, the bind password is saved in plain text without encryption. Then, in functions.php code, it is used like if it was encoded before, so it never binds to AD when using $t_password.

r_ldap_login_root_dn is not explained on the client view. r_ldap_login_base_dn is not used in the code. But the

[2017-05-19 22:15] CMarine opened #1183 "Install script fails on nginx installation"
Fails at nginx install due to missing dependencies. Tried to breadcrumb my way back through the dependencies, but I couldn't work out what all was missing.

[restyaboard_install.log.zip](https://github.com/RestyaPlatform/board/files/1015664/restyaboard_install.log.zip)

[2017-05-22 20:46] CMarine commented on #1183
Tried to install nginx by hand using
`apt-get install nginx`
As well as nginx-common, nginx-full and all installation failed. I then tried the Apache version that has been floating around, and that failed. Not sure what to do from here.

[2017-05-22 23:48] theshades commented on #1178
nginx conf was default, and no errors in the nginx error log after restart.  However I was able to get your install script working with a couple of fixes. So I will double back and check it out to see what is different between the installs,

[2017-05-22 23:49] theshades opened #1184 "Install Scipt Update"
Greetings,
For you install script, I recommend you update the restyaboard.conf to have listen line changed to:

`listen default_server 80;`

Also, ensure before restarting nginx the install directory (ie: /usr/share/nginx/html/restyaboard) is owned by www-data:www-data, with those two updates I got your install script working.

[2017-05-23 05:22] rrjanbiah commented on #1184
@theshades Thanks for your note & help

[2017-05-23 22:27] theshades commented on #1184
Another thing I highly recommend is making it an SSL by default server.

[2017-05-23 22:28] theshades opened #1188 "Logout goes to blank page"
Greetings, after a while I see the page flip to https://servername/#/users/logout, but the page is blank. IF I try and reload, even with a ctrl+R in chrome, it brings me back to the above url and a blank page

[2017-05-23 22:29] theshades opened #1189 "Password sent by email"
As an information security guy, this is horrible practice. Highly recommend removing this and just telling the user the admin changed their password.

[2017-05-23 23:04] theshades opened #1190 "Checklist Weird Behavior"
Any time I have more than one checklist, it always puts my text in the last checklist initially, even if I add it to the first one.

[2017-05-23 23:05] theshades opened #1191 "Feature Requests"
Request checklists can be exported into CSV.

Request the ability to add multiple checklist items in one box using EOL per item (current Trello feature)

[2017-05-23 23:06] theshades commented on #1191
btw, sorry for blasting yall, but I am trying to get my company on board with your product so we can buy some of the add ons.

[2017-05-23 23:09] theshades opened #1192 "Weird background Behavior"
Any background pictures are stretched way off screen and are low resolution... can they be stretched to the screen size and maintain resolution.

[2017-05-24 05:47] rrjanbiah commented on #81
Reopening the issue. Not sure how the commit will fix the issue. Also, looks like the vendor files are patched wrongly.

[2017-05-24 05:50] rrjanbiah commented on #1184
@theshades Thanks. Someone already suggested `letsencrypt`. We're yet to add that and will do that in upcoming milestones

[2017-05-26 05:51] lmarikannan commented on #1029
Fixed in local

[2017-05-26 05:51] #1029 closed

[2017-05-26 05:52] lmarikannan commented on #1049
Fixed on this commit https://github.com/RestyaPlatform/board/commit/d9fe36a421f283a3dfe51ec3e4686db3d873c4f4

[2017-05-26 05:52] #1049 closed

[2017-05-26 05:52] lmarikannan commented on #1051
Fixed on this commit https://github.com/RestyaPlatform/board/commit/d9fe36a421f283a3dfe51ec3e4686db3d873c4f4

[2017-05-26 05:52] #1051 closed

[2017-05-26 05:52] lmarikannan commented on #1062
Fixed on this commit d9fe36a

[2017-05-26 05:52] #1062 closed

[2017-05-26 05:52] lmarikannan commented on #1063
Fixed on this commit d9fe36a

[2017-05-26 05:52] #1063 closed

[2017-05-26 05:52] lmarikannan commented on #1077
Fixed on this commit d9fe36a

[2017-05-26 05:52] #1077 closed

[2017-05-26 05:52] lmarikannan commented on #1088
Fixed on this commit d9fe36a

[2017-05-26 05:52] #1088 closed

[2017-05-27 10:22] lmarikannan commented on #693
Fixed in this commit https://github.com/RestyaPlatform/board/commit/bef0a68f20cf0fea04d22d17352de1ba72a04d9f

[2017-05-27 10:22] #693 closed

[2017-05-27 10:34] lmarikannan commented on #1114
@theriverman Closing due to inactivity. Please feel free to reopen when you have more information

[2017-05-27 10:34] #1114 closed

[2017-05-27 10:42] lmarikannan commented on #1146
@fangsheng777 Closing due to inactivity. Please feel free to reopen when you have more information

[2017-05-27 10:42] #1146 closed

[2017-05-27 10:51] lmarikannan commented on #1149
@rrjanbiah

Now we're adding missing dependencies on manual installation instructions

In installation script, packages will be install proper order only, so no need to change the installation order

[2017-05-27 10:51] #1149 closed

[2017-05-27 10:56] lmarikannan commented on #1161
@vClouds Closing due to inactivity. Please feel free to reopen when you have more information

[2017-05-27 10:56] #1161 closed

[2017-05-27 10:58] lmarikannan commented on #1168
@morphos88 @ChrisDeChef Fixed on this commit https://github.com/RestyaPlatform/board/commit/d9fe36a421f283a3dfe51ec3e4686db3d873c4f4

[2017-05-27 10:58] #1168 closed

[2017-05-27 11:02] lmarikannan commented on #1176
@amunizp If possible, can you please share the install log (remove sensitive details)?

[2017-05-27 11:09] lmarikannan commented on #1177
@christianschupp Thanks for your note & help.

@theshades Can you please check with christianschupp note. Closing this for now. If you get any issues, please feel free to reopen.

[2017-05-27 11:09] #1177 closed

[2017-05-27 11:12] lmarikannan commented on #1178
@theshades Closing this for now. If you get any issues, please feel free to reopen.

[2017-05-27 11:12] #1178 closed

[2017-05-27 11:20] lmarikannan commented on #1182
Fixed on our local server

[2017-05-27 11:20] #1182 closed

[2017-05-27 11:22] lmarikannan commented on #1188
Fixed in this commit https://github.com/RestyaPlatform/board/commit/d9fe36a421f283a3dfe51ec3e4686db3d873c4f4

[2017-05-27 11:22] #1188 closed

[2017-05-27 11:41] lmarikannan commented on #81
@rrjanbiah Due to curl exec call this issue was happend. On this commit we're changed curl to separate function to resolve this issue

[2017-05-27 11:41] #81 closed

[2017-05-27 11:43] lmarikannan commented on #1151
@rrjanbiah due to cookie, language selection changes will be update after logout

[2017-05-27 11:43] #1151 closed

[2017-05-27 11:57] lmarikannan commented on #604
Fixed in this commit https://github.com/RestyaPlatform/board/commit/d9fe36a421f283a3dfe51ec3e4686db3d873c4f4

[2017-05-27 11:57] #604 closed

[2017-05-27 11:58] lmarikannan commented on #681
Fixed in this commit d9fe36a

[2017-05-27 11:58] #681 closed

[2017-05-27 11:58] lmarikannan commented on #712
Fixed in this commit d9fe36a

[2017-05-27 11:58] #712 closed

[2017-05-27 11:59] lmarikannan commented on #973
Fixed in this commit d9fe36a

[2017-05-27 11:59] #973 closed

[2017-05-27 11:59] lmarikannan commented on #1009
Fixed in this commit d9fe36a

[2017-05-27 11:59] lmarikannan commented on #1132
Fixed in this commit d9fe36a

[2017-05-27 11:59] #1132 closed

[2017-05-27 12:00] lmarikannan commented on #966
Fixed in this commit d9fe36a

[2017-05-27 12:00] #966 closed

[2017-05-27 12:48] lmarikannan commented on #1164
Fixed in this commit https://github.com/RestyaPlatform/board/commit/99bf6741e9f843a62462e339591ba2f0b3360cbc

[2017-05-27 12:48] #1164 closed

[2017-05-27 12:49] lmarikannan commented on #1145
Fixed in this commit https://github.com/RestyaPlatform/board/commit/99bf6741e9f843a62462e339591ba2f0b3360cbc

[2017-05-27 12:49] #1145 closed

[2017-05-27 13:13] lmarikannan commented on #1179
Fixed in this commit https://github.com/RestyaPlatform/board/commit/77d4cad190a0d830b4ad0c0d9dabf259449ac4eb

[2017-05-27 13:13] #1179 closed

[2017-05-29 17:45] amunizp commented on #1176
Sure but, Sadly I don't know what the sensitive data is. Thanks for warning me that there is.

[2017-05-31 11:35] lmarikannan commented on #1166
Fixed in this commit bb0f673

[2017-05-31 11:35] #1166 closed

[2017-05-31 11:38] lmarikannan commented on #1169
Fixed in this commit a105316

[2017-05-31 11:38] #1169 closed

[2017-05-31 12:52] lmarikannan commented on #1190
@theshades We checked about this issue in our local, but we could not reproduce this issue. Could you please double check this. If this issue will reproduce, please explain about that case to reproduce.

[2017-05-31 13:00] lmarikannan commented on #1184
@theshades

Most of the users are using with root permission only. So there is no need to add www-data:www-data for users and groups permission for nginx.

[2017-05-31 13:00] #1184 closed

[2017-05-31 13:22] llavall commented on #1190
Just checked in our local version - here it works as expected.

[2017-05-31 14:26] lmarikannan commented on #1165
@coreyman We checked your install log.

./restyaboard.sh: 526: ./restyaboard.sh: [[: not found

In that, you noted your document root as `.`, so that installation failed. Please give absolute path to install

[2017-06-01 12:57] amunizp commented on #1176
[restyaboard_install.txt](https://github.com/RestyaPlatform/board/files/1044780/restyaboard_install.txt)

[2017-06-02 13:26] lmarikannan opened #1193 "Disable desktop notification from Restyaboard"
From users,

Is there a way to stop or have control on notifications.. users are reporting seeing 100’s of them popping up on browser?

[2017-06-12 06:35] lmarikannan commented on #1165
@coreyman Did you give absolute path to install e.g., `/usr/share/nginx/html/restyaboard`. Or Still are you facing this issue?

[2017-06-22 13:50] rrjanbiah commented on #1009
localForage doesn't fix this issue. Refer https://github.com/localForage/localForage/issues/145

[2017-06-23 13:47] morphos88 opened #1194 "Feature: Ability to move card window"
Possibility to open edit card in middle of screen and moove editor window where we want

[2017-06-23 13:48] morphos88 opened #1195 "Invitation"
feature to invite people to use RestyaBoard

[2017-06-23 13:49] morphos88 opened #1196 "List"
Feature to attach person to a list

[2017-06-23 13:49] morphos88 opened #1197 "Calendar"
Edit day start of calendar

[2017-06-23 14:24] morphos88 opened #1198 "Keep text in editor card"
Possibility to keep text begin scribe when we change card

[2017-06-24 12:11] lmarikannan commented on #422
Fixed

[2017-06-24 12:11] #422 closed

[2017-06-24 12:12] #1148 closed

[2017-06-24 13:43] rrjanbiah commented on #17
This isn't look like a correct fix/solution. Reopening.

[2017-06-26 07:32] morphos88 opened #1200 "v0.5"
Create New Board was not translate in french.

Small icon left foot to back to boards do not work

[2017-06-26 11:58] morphos88 opened #1201 "MyRestyaboards iOS app does not accept https URL"
iOS application does not accept https URL.

[2017-06-26 12:41] morphos88 opened #1202 "Texts in email notification are garbled (returned in v0.5)"
Again in v0.5 mail notification :

![2017-06-26_14h40_43](https://user-images.githubusercontent.com/25505555/27539633-878b8aa6-5a7d-11e7-9a0c-04be39bcfe97.jpg)

[2017-06-27 04:59] lmarikannan commented on #1195
Duplicate of #1167

[2017-06-27 11:56] rrjanbiah opened #1204 "Boards listing page is freezing when coming from board view page"
When we come back to boards listing page from a board view page, it is freezing and so chart is not rendering

[2017-06-27 12:12] rrjanbiah opened #1205 ""Create New Board" not translated in the French"

[2017-06-27 12:14] rrjanbiah opened #1206 "Clicking Restyaboard icon in bottom-left footer doesn't take to boards listing page"
New behavior in v0.5

[2017-06-27 12:15] rrjanbiah commented on #1200
Created new separate issues for clarity #1205 and #1206

[2017-06-27 16:24] wf-r opened #1207 "Install script fails on Debian 9 Stretch / whenever postgresql-9.4 cannot be installed"
# Observation

Install script fails when trying to set up postgresql

# Explanation

Script tries to install postgresql-9.4 and copy files to current version. However, Debian 9 does not have postgresql-9.4, therefore install fails and we end up with a postgresql-9.6 installation where pg_hba.conf has been renamed.

(Will fill in further details later on...)

[2017-06-28 06:36] rrjanbiah opened #1208 "Setting the system to utf-8 is necessary for install script to work in Ubuntu 16.04"
From one of our customers Herold:

First communication:

Second communication:

[2017-06-28 08:33] lmarikannan commented on #1206
Fixed on this commit https://github.com/RestyaPlatform/board/commit/fb806ef9656d521d042f382d9257d7f285c8b4b3

[2017-06-28 08:33] #1206 closed

[2017-06-28 08:34] lmarikannan commented on #1205
Fixed on this commit https://github.com/RestyaPlatform/board/commit/fb806ef9656d521d042f382d9257d7f285c8b4b3

[2017-06-28 08:34] lmarikannan commented on #1202
https://github.com/RestyaPlatform/board/issues/1204

[2017-06-28 08:34] #1202 closed

[2017-06-28 08:35] lmarikannan commented on #1204
Fixed on this commit https://github.com/RestyaPlatform/board/commit/fb806ef9656d521d042f382d9257d7f285c8b4b3

[2017-06-28 08:35] #1204 closed

[2017-06-28 08:36] lmarikannan commented on #1201
Fixed and submitted to iOS app review.

[2017-06-28 08:36] #1201 closed

[2017-06-28 09:41] rrjanbiah commented on #1194
@morphos88 Currently, card window can be made to open in middle, with the below setting at `/#/settings`

`Default Card Open = Maximized`

[2017-06-28 09:44] morphos88 commented on #1194
Ok works good !

[2017-06-28 09:54] morphos88 commented on #1205
Script restyaboard.sh does not work to update ?

[2017-06-28 10:03] rrjanbiah commented on #1205
Reopening to reply @morphos88

[2017-06-28 11:21] rrjanbiah opened #1209 "Dashboard charts are awfully stretched in v0.5 in desktop view"
Refer screenshot...

Previous version:

![screencapture-board-demo-restya-1498646841437](https://user-images.githubusercontent.com/4907427/27634678-d4ffa2fe-5c21-11e7-9144-a84d69c57f9a.png)

v0.5:

![screencapture-board-demo-restya-1498646923915](https://user-images.githubusercontent.com/4907427/27634687-e020417a-5c21-11e7-970c-e089acd6f431.png)

[2017-06-28 11:28] rrjanbiah opened #1210 "Too much spacing in admin users listing table row"
Refer screenshot

![restyaboard-users-listing-spacing](https://user-images.githubusercontent.com/4907427/27634951-ef73c38a-5c22-11e7-83d5-6d92121c7c41.png)

[2017-06-28 12:17] rrjanbiah opened #1211 "Color palettes are not sorted by colors"
It is somewhat OK for board level background colors. But, completely random for list and card colors.

[2017-06-28 13:46] rrjanbiah opened #1212 "Board background color change is not reflecting in boards listing"
If we add photo, it is updating. But, if we add background color, it is not reflecting in boards listing

[2017-06-28 13:53] rrjanbiah opened #1213 "Some dropdown menus are unnecessarily lengthy"
Dropdown menus like "Today Todo" are having unnecessary whitespace.

Important Note: Have to take care in terms of multi language support too.

[2017-06-29 05:30] lmarikannan commented on #1205
@morphos88

It will work for upgrade Restyaboard version. Can you please download the latest `wget https://github.com/RestyaPlatform/board/raw/master/restyaboard.sh --no-check-certificate` file and try?

[2017-06-29 07:20] morphos88 commented on #1205
It works for v0.5 but not for last commit

[2017-06-29 07:51] lmarikannan commented on #1205
@morphos88 Install script will upgrade files based on releases/versions only (it will not update file commits based).

[2017-06-29 08:05] morphos88 commented on #1205
There is a procedure to merge commits on restyaboard install ?

[2017-06-29 10:46] lmarikannan commented on #1205
@morphos88 You have to build it from source file. Please find the commands here https://github.com/RestyaPlatform/board#build.

[2017-06-29 13:18] lmarikannan commented on #1210
Fixed on this commit https://github.com/RestyaPlatform/board/commit/2dc775a2c8b0b3411293c2ebf3d28c047c6b3754

[2017-06-29 13:18] #1210 closed

[2017-06-29 13:18] lmarikannan commented on #1209
Fixed on this commit https://github.com/RestyaPlatform/board/commit/2dc775a2c8b0b3411293c2ebf3d28c047c6b3754

[2017-06-29 13:18] #1209 closed

[2017-06-29 13:18] #1205 closed

[2017-06-29 15:08] #1200 closed

[2017-06-30 05:23] the1poet opened #1215 "postgres error at end of install using linux install script"
I have attempted installing restyaboard on a Linux Hyper-V virtual machine with little success.
I installed Ubuntu 16.04.1 64bit server, did an upgrade to ensure all the latest updates were installed leaving me with Ubuntu 16.04.2 running.
I then followed the instructions on the install page. I downloaded the install script, made it executable, then ran the script.
See attached log.

[restyaboard_

[2017-06-30 06:16] rrjanbiah opened #1216 "Attachment view & download leads to oAuth error"
Steps to reproduce:

1. View http://board.demo.restya.com/#/board/15/card/744
2. Click view or download attachment

Getting:

`{"username":"admin","expires":"2017-06-30 07:14:21","scope":"read write","client_id":"7742632501382313","error":{"type":"OAuth"}}`

[2017-06-30 09:49] morphos88 opened #1217 "Logon iOS app"
Cannot connect with iOS application log in nginx :
"POST /oauth/authorize?response_type=code&client_id=6664115227792148&state=1456750015553&redirect_uri=restyaboards://XXXXXX/&scope=read%20write HTTP/1.0" 200 2152 "https://XXXXX/oauth/authorize?response_type=code&client_id=6664115227792148&state=1456750015553&redirect_uri=restyaboards://XXXXXXXX/&scope=read%20write" "Mozilla/5.0 (iPad; CPU OS 10_3

[2017-06-30 14:16] rrjanbiah commented on #1217
Update: We were able to reproduce the issue finally. Happens with "https only" sites. We somehow missed that use case and working on the fix.

[2017-06-30 20:24] dohlin opened #1218 "Ability to re-arrange the order the created boards?"
Sorry if this is a stupid question and I'm just missing something, but I can't for the life of me find this feature if it exists.  Is it currently not possible?  Thanks!

[2017-07-01 07:06] rrjanbiah commented on #1218
@dohlin

You should be able to drag and drop https://youtu.be/2_fwHrK5haw

Or, are you referring anything else?

[2017-07-01 13:12] dohlin commented on #1218
I'm referring to what Restyaboard calls "boards", not the "cards" as illustrated in that video...so in other words the level "above" where that video is showing

[2017-07-03 06:17] rrjanbiah commented on #1218
@dohlin Sorry, this feature is currently not available. Though we can add it, would like to know the use case. Thanks

[2017-07-03 16:55] flashfs opened #1219 "Translated strings in Transifex are not bundled"
On Transifex site is possibile to see some locales that are missing on the released .zip (v0.5.1). For example: pt_BR is not included, only pt (portuguese from Portugal).

[2017-07-04 04:58] llavall commented on #1218
@rrjanbiah We also have that on our wish list. Currently, the boards are ordered according to the alphabet and as a workaround we have to add numbers before the name like '01_Board'. The use case is that we want to thematically arrange the created boards.

[2017-07-04 06:07] rrjanbiah commented on #1217
Update: Still under appstore process

[2017-07-04 06:24] lmarikannan commented on #1219
@flashfs

Actually in the release version zip file, we will provide translated files for other languages using Google Translation, so it will not 100% correct.

For each release, we will upload latest English version strings in Transifex. You can review and update in Transifex here https://www.transifex.com/restya/restyaboard/language/pt_BR/. Finally download and use it in Restyaboard.

[2017-07-04 08:10] morphos88 opened #1220 "Activation link"
Activation link was in http and not in https

[2017-07-04 08:24] lmarikannan commented on #1220
Please refer this commit https://github.com/RestyaPlatform/board/commit/6ffda3b3fc77d60f817c28d994c25b7fdf5930d6. (It looks code was reverted in current version). We will merge it upcoming release.

[2017-07-04 10:25] rrjanbiah commented on #1219
*Internal note*

This is a bug. We should sync Transifex translations; otherwise, there is no use for the contributors contributing to translation

[2017-07-04 10:59] rrjanbiah commented on #1219
*Internal note*

Check how others are doing it and refer to Transifex documents:

* https://github.com/odoo/odoo/wiki/Translations
* https://docs.transifex.com/integrations/github/
* https://docs.transifex.com/integrations/github-txgh
* https://github.com/mustafayuceel/transifex-javascript-client/blob/master/api
* https://www.transifex.com/blog/2013/github-transifex-integration/

[2017-07-05 10:11] rrjanbiah opened #1221 "In install script cron commands should be piped to /dev/null"
This will avoid unnecessary mails from cron

[2017-07-05 10:39] rrjanbiah commented on #1221
Output could also be piped to a log file for debugging purpose

[2017-07-05 13:48] rrjanbiah opened #1222 "In notification emails, add Gmail Action "View on Restyaboard""
Enhance Gmail experience with "View on Restyaboard" action button

Refer https://developers.google.com/gmail/markup/actions/actions-overview

[2017-07-06 14:21] flashfs opened #1223 "Wrong password variable in imap.php"
On imap_open() function, in file /server/php/shell/imap.php, you are using the variable IMAP_EMAIL_PASSWORD, but I do think the correct one should be $imap_email_password.

[2017-07-06 14:44] lmarikannan commented on #1220
Fixed on this commit https://github.com/RestyaPlatform/board/commit/781cb5664ee6df4481dd6748f588acf608d708d0

[2017-07-06 14:44] #1220 closed

[2017-07-06 14:45] lmarikannan commented on #1216
Fixed on this commit https://github.com/RestyaPlatform/board/commit/18d3f3a6addaa7b5ee4df60ec95847e4b4c92fdc

[2017-07-06 14:45] #1216 closed

[2017-07-06 14:46] lmarikannan commented on #1223
Fixed on this commit https://github.com/RestyaPlatform/board/commit/b9f7a5e1b1ff16a7f167af5c708609465134fa4d

[2017-07-06 14:46] #1223 closed

[2017-07-06 16:50] flashfs opened #1224 "Always return list 0 on imap.php"
Testing the functionality of imap.php, I've discovered that
`$list_id = $board['default_email_list_id'];`
is always giving me 0, and there isn't a list with ID 0 on lists table, so the card is inserted on the right board on the database, but never shows up on website, because that list doesn't exists.

Doing the select manually
`SELECT default_email_list_id, is_default_email_position_as_bottom, us

[2017-07-06 18:27] rrjanbiah commented on #1217
App is now approved. Kindly check again and share your feedback.

[2017-07-06 18:27] #1217 closed

[2017-07-07 04:18] lmarikannan commented on #1224
@flashfs

Actually it will select first list as default but currently its not working according to your statement. You can also change the list in "Email to board settings". Please refer this screenshot.

![email-to-board-settings](https://user-images.githubusercontent.com/17758064/27942998-2cf2b90a-62f9-11e7-91cd-d46a0cd0dff1.png)

[2017-07-07 07:23] morphos88 opened #1225 "iOS Application"
Load board lag to display ring.

When i comment a card the window take half screen and come back after few second in full screen

[2017-07-07 11:33] rrjanbiah commented on #1225
*Internal note*

Since the board is getting loaded in webview, performance issue is there in some iPhone devices. Perhaps prefetch or show some loading images to enhance user experience?

[2017-07-07 12:27] rrjanbiah opened #1226 "Install script is failing with PostgreSQL installation"
Looks like for many users, install script is failing at PostgreSQL installation.

*Internal note*:  Prem seems to be uninstalling PostgreSQL and rerunning the script (Not sure, if that's a correct approach)

[2017-07-07 12:37] rrjanbiah opened #1227 "Install script is failing when system locale is not set"
*Internal note*: Refer Leo & Prem about issues in handling `/etc/default/locales`

[2017-07-07 12:58] flashfs commented on #1224
Yeah, if I manually change that setting, it works and I can see on table boards the column default_email_list_id changes too. But when I create a board, the first list is showing as the default on website, but on table boards that column is still 0, and this is not the correct id of the first list.

[2017-07-07 13:46] flashfs opened #1228 "imap_fetchbody() not showing the message"
On file \server\php\shell\imap.php the line
`$body = imap_fetchbody($connection, $counter, 1.1);`
is forcing the 3rd parameter to be 1.1, but this isn't always true. Using this, on my tests, $body returned empty. But when I changed 1.1 to only 1, it captured the message. So maybe you should detect the message type and define that 3rd parameter according?

[2017-07-07 14:54] rrjanbiah opened #1229 "New plugin idea: OneSignal integration"
https://onesignal.com/

[2017-07-10 08:06] rrjanbiah opened #1230 "Allowing HTML input is causing unnecessary side effects"
Though there are some security precautions are done, it is still not perfect.

1. Some tags still accept `class`
2. Some tags like `iframe` are accepted
3. Canceling edit (of HTML content) is breaking

*Internal note*: For test cases, compare with GitLab

[2017-07-10 08:41] rrjanbiah opened #1231 "User timezone handling is broken in some places"
It is not clear, how user timezone setting is currently handled.

1. It seems to me that it is overriding global timezone setting and so it is breaking "time ago"
2. If we adjust the user timezone to global timezone, it is breaking time in email notification

So, we may not have to override the global timezone with user timezone (This looks like a fix for now)

[2017-07-10 08:42] rrjanbiah commented on #1231
Related #1117

[2017-07-10 08:43] rrjanbiah commented on #779
It is not clear what issue is fixed here and how. Please describe the fixes.

Related #1231

[2017-07-10 14:24] lmarikannan commented on #1212
Fixed on this commit - https://github.com/RestyaPlatform/board/commit/9877219b02927c8e373bfadf8b069f540e69331e

[2017-07-10 14:26] lmarikannan commented on #1211
Board level background colors, list and card colors orders are in same. Need to change to any other order?

[2017-07-10 14:27] lmarikannan commented on #1213
Fixed on local

[2017-07-10 14:27] lmarikannan commented on #1221
Fixed on this commit - c0d4d34

[2017-07-10 14:28] lmarikannan commented on #1226
Fixed on this commit - c0d4d34

[2017-07-10 14:30] lmarikannan commented on #1193
FIxed on this commit - https://github.com/RestyaPlatform/board/commit/9877219b02927c8e373bfadf8b069f540e69331e, https://github.com/RestyaPlatform/board/commit/a9e2daa37f6ae0aae482b5164812d92494179e17

[2017-07-10 15:25] rrjanbiah commented on #1221
The quotes are seems to be closed at wrong place. Need recheck

[2017-07-10 15:27] rrjanbiah commented on #1226
How this will fix the issue?

[2017-07-10 15:30] rrjanbiah commented on #1193
What are the changes done to fix this issue? Please describe. There are more changes

[2017-07-10 15:31] rrjanbiah commented on #1213
Where is the commit?

[2017-07-10 15:32] rrjanbiah commented on #1212
Commit has so many changes. Please explain how this issue was fixed

[2017-07-10 15:41] rrjanbiah commented on #1211
Refer attachments

![board-color](https://user-images.githubusercontent.com/4907427/28026616-45367fe8-65b4-11e7-8719-6f9c03b784d3.png)

![card-color](https://user-images.githubusercontent.com/4907427/28026617-45476d6c-65b4-11e7-920b-3d4f0cc41e7e.png)

[2017-07-11 05:19] lmarikannan commented on #1212
These two changes will be fix this issue
1. https://github.com/RestyaPlatform/board/commit/9877219b02927c8e373bfadf8b069f540e69331e#diff-674c2df082a9688fcf3fe459577244c9R1436
2. https://github.com/RestyaPlatform/board/commit/9877219b02927c8e373bfadf8b069f540e69331e#diff-674c2df082a9688fcf3fe459577244c9R1835

[2017-07-11 05:22] lmarikannan commented on #1211
Now we are ordering all colors in Horizontal wise, not in vertical ordering.

[2017-07-11 05:24] lmarikannan commented on #1213
These changes are done in chart plugin, So we are not commit these changes in github

[2017-07-11 05:27] lmarikannan commented on #1221
This issue is fixed with below changes

1. https://github.com/RestyaPlatform/board/commit/c0d4d3452217020d5685445637b207fe873bcfd5#diff-e2930341cebfe21b6b1fd322a42667e2R544
2. https://github.com/RestyaPlatform/board/commit/c0d4d3452217020d5685445637b207fe873bcfd5#diff-e2930341cebfe21b6b1fd322a42667e2R1043

[2017-07-11 05:31] lmarikannan commented on #1226
This issue fixed by this change - https://github.com/RestyaPlatform/board/commit/c0d4d3452217020d5685445637b207fe873bcfd5#diff-e2930341cebfe21b6b1fd322a42667e2R1010.

[2017-07-11 05:41] lmarikannan commented on #1193
These below changes done to fix this issue.

1. https://github.com/RestyaPlatform/board/commit/9877219b02927c8e373bfadf8b069f540e69331e#diff-0cc9662c3caf14bf344a5854ae79a106
2. https://github.com/RestyaPlatform/board/commit/9877219b02927c8e373bfadf8b069f540e69331e#diff-35df25b9af27bbb19c1176a9cdf9695d
3. https://github.com/RestyaPlatform/board/commit/9877219b02927c8e373bfadf8b069f540e69331e#diff-c

[2017-07-11 05:49] rrjanbiah commented on #1193
Bug title is not reflective of the commits. Please document properly about the other changes done

[2017-07-11 05:51] rrjanbiah commented on #1212
Explain / document the changes (changes are already linked)

[2017-07-11 05:53] rrjanbiah commented on #1211
Check screenshots closely and see how similar colors (say, red or purple) are placed apart

[2017-07-11 05:53] #1213 closed

[2017-07-11 05:55] rrjanbiah commented on #1221
Please test it in real machine. Still quotes are looking not properly closed.

[2017-07-11 05:57] rrjanbiah commented on #1226
Document the changes. It is still not clear what this commit is "fixing" and how

[2017-07-11 11:11] flashfs opened #1232 "Organization/board title not using all the empty space"
Even when there is plenty of empty space, there is a tiny max width for organization/board titles.
I've attached an image so you can see what I'm talking about.
![not using empty space](https://user-images.githubusercontent.com/2033838/28065782-9458104e-6610-11e7-801b-98fa8584c700.jpg)

[2017-07-11 15:57] morphos88 opened #1233 "texte Layout"
Possibility to keep layout in card (carriage return, chip, tabulation...)

[2017-07-11 16:09] morphos88 opened #1234 "FR Translation"
Some texte are not translate or not correctly translate in french.

Exemple :
- "Créer un nouveau conseil" instead of "Créer un nouveau tableau"
- "Unst" instead of "Favoris"
- "Conseil fermer" instead of "Fermer le tableau"
...

[2017-07-12 03:24] tutechops opened #1235 "installation fails - php-devel installation failed with error code 21"
I am running the installation script and it fails with:
Error: php56u-gmp conflicts with php-common-5.4.16-42.el7.x86_64
Error: php56u-cli conflicts with php-cli-5.4.16-42.el7.x86_64
Error: php56u-common conflicts with php-common-5.4.16-42.el7.x86_64
 You could try using --skip-broken to work around the problem
** Found 2 pre-existing rpmdb problem(s), 'yum check' output follows:
ipa-common-4.4.0-

[2017-07-12 07:48] lmarikannan commented on #1224
Fixed on this commit - 272b543

[2017-07-12 07:48] #1224 closed

[2017-07-12 07:50] lmarikannan commented on #1228
Fixed on this commit - c0f1790

[2017-07-12 07:50] #1228 closed

[2017-07-12 07:53] lmarikannan commented on #1232
Fixed on this commit - https://github.com/RestyaPlatform/board/commit/4ec30f4075c789e54e8f39cba06c2cc978491d0b

[2017-07-12 07:53] #1232 closed

[2017-07-12 08:13] lmarikannan commented on #1212
In existing code, We updated background color to that particular board model using this.model.set() or self.model.set(), but we didn't update it on that particular board in App.boards. So now we updated the background color on that board in App.boards also.

[2017-07-12 08:29] morphos88 opened #1236 "MyRestyaboards iOS App - Feature: Access card directly from notification"
Access card directly from notification

[2017-07-12 08:31] lmarikannan commented on #1193
We separated the desktop notifications to below cases
- List level notification - when updating color, card, move, archive, unarchive, delete
- Card level notification 1 - when updating color, due date, description, move, archive, unarchive, delete
- Card level notification 2 - when updating members
- Card level notification 3 - when updating labels
- Card level notification 4 - when updating chec

[2017-07-12 08:36] rrjanbiah commented on #1233
Internal note: We need to double check if markdown parser is working properly

[2017-07-12 08:39] rrjanbiah opened #1237 "In GitHub tracker, setup issues template, MR template and labels"
We have to streamline commit and MR messages with better explanations. We're also getting repeated issues. So, it is high time that we setup process.

[2017-07-12 08:46] moonantonio opened #1238 "Restya app Android"
Develop an app for android users.

[2017-07-12 12:28] morphos88 opened #1239 "MyRestyaboards iOS App - Feature: Possibility to view notification read or not"
Possibility to view what notifications was read or not and sort by read or not

[2017-07-13 07:25] morphos88 opened #1240 "Features filter by member in list view"
In list view, add column member to filter

[2017-07-13 07:31] morphos88 opened #1241 "Card informations"
Add informations in card about who as created and when.

[2017-07-13 07:36] morphos88 opened #1242 "Admin"
When we connect in admin we see all board in restyaboard. There is lot of board and navigator was slowly to scroll or change page.

[2017-07-13 12:32] flashfs opened #1243 "Sugestion: activities could list the creation of users"
This is just a suggestion of enhancement. Activities list on administrator panel could also list the creation of users (manual or from LDAP).

[2017-07-13 13:00] flashfs opened #1244 "Hide Change Password of a LDAP user on administration"
## Expected Behavior
On Administration Panel shouldn't exist the Change Password button if a user comes from LDAP.

## Current Behavior
There's a Change Password button on administration panel for LDAP users. When trying to change, it says it was changed, but that isn't true.

## Possible Solution
So I think there shouldn't exist that button on the Administration Panel.

## Your Environment
* Vers

[2017-07-13 13:01] lmarikannan commented on #1235
@tutechops Can you please uninstall all the php and php modules like php-mbsting, php-cli, php-common or execute this command `yum remove php*` to uninstall all php and php modules. And run again the installation script.

[2017-07-13 13:07] rrjanbiah commented on #1243
@flashfs Are you referring to the "Add User" that's available in admin users page? (refer screenshot below)

![rb-admin-add-user](https://user-images.githubusercontent.com/4907427/28167724-2ef08696-67fa-11e7-834b-8c08ccbe835e.png)

[2017-07-13 13:08] rrjanbiah commented on #1241
Internal note: We may provide some template kind of solution.

[2017-07-13 13:21] flashfs commented on #1243
No, the Activities menu. I can see the deletion of users, but not the creation (manually or automatically from LDAP).
![activities](https://user-images.githubusercontent.com/2033838/28168314-104d9c96-67b5-11e7-8b0c-17a32d1161fc.jpg)

[2017-07-13 13:47] morphos88 opened #1245 "Features : Paste image directly in card"
Possibility to paste directly an image in card without attach file

[2017-07-13 14:08] flashfs opened #1246 "Sugestion: login integration with CAS"
Besides the pure LDAP login integration, I would suggest you add CAS integration. CAS is a single sign-on service that can fetch login credentials from many places. Website: https://www.apereo.org/projects/cas

I'm running Restyaboard version 0.5.1.

[2017-07-13 14:18] flashfs opened #1247 "Suggestion: sub organizations"
It would be nice to have the possibility to nest organizations and work like an enterprise environment. With this, more role's configurations should exist, like the possibility that the owner of the master organization could see and change everything from the suborganizations, but the owner of a suborganization could not see above him.

I'm running Restyaboard version 0.5.1.

[2017-07-13 14:40] rrjanbiah commented on #1247
@flashfs Thanks for your suggestions. We'll see what we can do

[2017-07-13 14:46] flashfs opened #1248 "Bug: simple member seeing Delete button inside organization"
## Expected Behavior
If a member (not owner) of an organization lists the organizations, there shouldn't be a Delete button if he can't delete it.

## Current Behavior
The delete button is there and the message says it deleted, despite that not being the truth.

## Screenshots (if appropriate):
![organization_deletion](https://user-images.githubusercontent.com/2033838/28171983-8a20dbea-67c0-11e7-9

[2017-07-13 14:55] flashfs opened #1249 "Bug: Add organization button keeps disabled"
## Expected Behavior
Trying to create an Organization with empty description throws an error (Whitespace alone not allowed). Then, typing the description corrects the error and we can add the organization.

## Current Behavior
After the empty error, the 'Add' button keeps disabled, even if we write the title and description, and we have to close and open that little window again so we can create t

[2017-07-14 09:29] rrjanbiah opened #1250 "Migrate legacy web service API code base to framework based stack"
## Expected Behavior

Migrate current web service API to framework based.. so that it will be easy for others to contribute

## Current Behavior

Current web service code is directly tied to PostgreSQL's JSON support. Original idea was that heavy lifting is handled in PostgreSQL level (less PHP handling codes) for high performance.

## Possible Solution

Need suggestion to choose the right web ser

[2017-07-14 12:46] flashfs opened #1251 "Bug: User Activation on Guest role doing nothing"
## Expected Behavior
Check/uncheck 'User Activation' on Guest role on admin panel should change the need of the activation.

## Current Behavior
Checking or unchecking the option does the same thing. After a user registers, the site says that an email was sent with the activation link.

## Steps to Reproduce (for bugs)
1. Login with admin credentials, go to Roles > Users, and check/uncheck the 'Us

[2017-07-14 13:01] rrjanbiah commented on #1251
@flashfs Many thanks for your detailed report

[2017-07-16 15:42] tutechops commented on #1235
I ran yum remove php* and it keeps failing with these errors. Tried installing on RedHat v6 & v7 but it keeps failing.

++ yum install -y php
Loaded plugins: product-id, rhnplugin, search-disabled-repos, subscription-
              : manager
This system is receiving updates from RHN Classic or RHN Satellite.
Setting up Install Process
Resolving Dependencies
--> Running transaction check
---> Packa

[2017-07-16 16:43] rrjanbiah opened #1252 "New plugin idea: Microsoft Lync integration"
https://products.office.com/en-in/skype-for-business/online-meetings

[2017-07-17 07:00] soerenk opened #1253 "Install script run into PostgreSQl error 36"
I use Debian 9 and just run restyaboard.sh. Then I get the Error "PostgreSQL database creation failed with error code 36". This was already fixed in fb2f4ff, but the commit a2e0926 removed the fix.

After manually changed the two lines in restyaboard.sh the installation worked.

[2017-07-17 07:50] lmarikannan commented on #1253
@soerenk  Thanks for your information. We'll check and update you.

[2017-07-17 10:46] darko190 commented on #983
I still have the same problem...

+ psql -U postgres -c \q
+ [ 0 != 0 ]
+ sleep 1
+ echo Creating PostgreSQL user and database...
Creating PostgreSQL user and database...
+ psql -U postgres -c DROP USER IF EXISTS restya;CREATE USER restya WITH ENCRYPTED PASSWORD 'hjVl2!rGd'
NOTICE:  role "restya" does not exist, skipping
CREATE ROLE
+ [ 0 != 0 ]
+ psql -U postgres -c DROP DATABASE IF EXISTS restya

[2017-07-17 10:58] lmarikannan commented on #983
@darko190 This issue is cause due to two queries are execute in same line. So Can you please refer this commit https://github.com/RestyaPlatform/board/commit/fb2f4ffd7366a6c4f65a72f2475b2afaf3ed1ac4. Just remove `DROP DATABASE IF EXISTS ${POSTGRES_DBNAME};` from script  and run the installation script again.

[2017-07-17 13:22] morphos88 opened #1254 "Edit comment"
When we edit comment in card, the edit zone do not take full space like a comment

[2017-07-17 13:25] darko190 opened #1255 "Import from Trello not working"
I have the newest build, and Ubuntu 16.04

When i press import from Trello, I can select the file, but than nothing happens.

I've tried disabling adblock and using different system and exporting another (smaller) board

[2017-07-17 13:33] lmarikannan commented on #1255
@darko190 Sorry for the issue you're facing. We'll check and will update you.

[2017-07-18 15:16] flashfs opened #1256 "Enhancement: better decoding on imap.php"
## Expected Behavior
When using the imap.sh script to read emails and create cards, the enconding should be better guessed based on the headers and only if that isn't possible, use some default behavior.

## Current Behavior
When sending emails in UTF-8 format the decode_qprint() function on imap.php uses the utf8_encode() function. That function expects a ISO-8859-1 encode. So the card created ha

[2017-07-18 17:21] flashfs opened #1257 "Bug: reading only first address on imap.php"
## Expected Behavior
If I send an email with two or more address separated by comma pointing to different boards, after executing imap.sh script the cards with same content should be created on different boards.

## Current Behavior
It is only creating a card on the first board of the email address list.
For example: if I send an email to restya+1+hash@localhost.com,restya+2+hash@localhost.com the

[2017-07-19 07:11] morphos88 opened #1258 "Notifications"
In notification mail or web can you add list that the card is attach

[2017-07-19 07:18] morphos88 opened #1259 "Sort notifications"
Possibility to filter the notifications by category (comment, color, move ...) because, in use when there are many notifications, the notifications are not clear

[2017-07-20 11:45] darko190 commented on #1255
Tried reinstall, still not working....

[2017-07-21 07:37] lmarikannan commented on #1259
@morphos88 Thanks for your suggestion. Currently activity and comment filters are there for notifications.

[2017-07-21 07:42] lmarikannan commented on #1253
@soerenk Fixed on this commit b393688

[2017-07-21 07:42] #1253 closed

[2017-07-21 07:48] lmarikannan commented on #1226
Fixed on this commit b393688. There are two postgresql queries on single line on 496th line and 994th line. And drop database query is returning error, so the installation stopped with `PostgreSQL database creation failed with error code 36`. Now drop database query is removed from that two lines.

[2017-07-21 07:53] lmarikannan commented on #1227
Prem told, tat issue is only on tat client machine, so no need to update locale in our script. And also he told, If any other user get this issue, please refer this url : https://askubuntu.com/questions/89976/how-to-change-the-default-locale-in-ubuntu-10-10-server

[2017-07-21 09:44] soerenk commented on #1255
@darko190 how did you export the JSON file from Trello? I had an issue with exporting but there was a notification from Restya, that the file was corrupt. Try exporting from Trello again. Hope thats helps you.

[2017-07-21 10:48] lmarikannan commented on #1211
Fixed on this commit 5de5d2e

[2017-07-21 12:44] lmarikannan commented on #1257
Fixed on this commit 7af93e2

[2017-07-21 12:44] #1257 closed

[2017-07-22 06:30] lmarikannan commented on #1248
Fixed on this commit 4b6160d

[2017-07-22 06:30] #1248 closed

[2017-07-22 06:54] lmarikannan commented on #1249
Fixed on this commit https://github.com/RestyaPlatform/board/commit/8472a2228eef35a497ebe4eac5987011c03034b0

[2017-07-22 06:54] #1249 closed

[2017-07-22 07:34] lmarikannan commented on #1255
@darko190 we tried to reproduce this issue on our demo server (http://board.demo.restya.com/) using with trello welcome board json. But we could not reproduce this issue. Can you please check your JSON file? or share your JSON file here.

Note:
- imported JSON : [trello.json.txt](https://github.com/RestyaPlatform/board/files/1167180/trello.json.txt)
- created board : http://board.demo.restya.com/#

[2017-07-22 11:38] lmarikannan commented on #1231
Fixed on this commit 3aef8ab

[2017-07-22 11:38] #1231 closed

[2017-07-22 13:19] lmarikannan commented on #1251
Fixed on this commit b6ed885

[2017-07-22 13:19] #1251 closed

[2017-07-22 13:24] lmarikannan commented on #1235
@tutechops we tried to reproduce this issue in our local and demo server, but we could not reproduce this issue. If you're finding it difficult to install Restyaboard from your end, we do also offer free installation support that you may consider http://restya.com/contact?category=free-installation

[2017-07-24 06:01] lmarikannan commented on #779
In above commit, we updated timezone to +0530 for all users. and notification email's since date issue fixed on this commit 3aef8ab

[2017-07-24 06:01] #779 closed

[2017-07-24 06:02] lmarikannan commented on #1131
Released in version v0.5 (https://github.com/RestyaPlatform/board/releases/tag/v0.5)

[2017-07-24 06:02] #1131 closed

[2017-07-24 06:03] lmarikannan commented on #1165
@coreyman Closing due to inactivity. Please feel free to reopen when you have more information

[2017-07-24 06:03] #1165 closed

[2017-07-24 06:05] lmarikannan commented on #1171
Implemented as new Plugin - http://restya.com/board/apps

[2017-07-24 06:05] #1171 closed

[2017-07-24 06:08] lmarikannan commented on #1190
@theshades Closing due to inactivity. Please feel free to reopen when you have more information

[2017-07-24 06:08] #1190 closed

[2017-07-24 06:08] #1193 closed

[2017-07-24 06:09] #1227 closed

[2017-07-24 06:38] #1212 closed

[2017-07-24 06:38] #1211 closed

[2017-07-24 07:16] lmarikannan commented on #1176
@amunizp Can you please uninstall all the pre installed php, nginx, LAMP and php modules like php-mbsting, php-cli, php-common. And run again the installation script?

[2017-07-24 07:18] lmarikannan commented on #1183
@CMarine Can you please uninstall all the pre installed php, nginx, postgresql, LAMP and php modules like php-mbsting, php-cli, php-common. And run again the installation script?

[2017-07-24 07:21] lmarikannan commented on #1208
Prem told, tat issue is only on tat client machine, so no need to update locale in our script. And also he told, If any other user get this issue, please refer this url : https://askubuntu.com/questions/89976/how-to-change-the-default-locale-in-ubuntu-10-10-server

[2017-07-24 07:23] lmarikannan commented on #1215
@the1poet This issue is related to https://github.com/RestyaPlatform/board/issues/1253. And this issue is fixed on this commit https://github.com/RestyaPlatform/board/commit/b3936885e63ed5f2270c04d4a57aa72e59bb7f5f

[2017-07-24 07:40] lmarikannan commented on #1221
Now this issue fixed on this commit https://github.com/RestyaPlatform/board/commit/a96bb73d42a7af3ae05c071f59c846cf64fec35b. And also tested in real machine.

[2017-07-24 07:40] #1221 closed

[2017-07-24 08:15] #1215 closed

[2017-07-24 10:28] lmarikannan commented on #1244
Fixed on this commit https://github.com/RestyaPlatform/board/commit/c88235fa27ed7b1d6abc4a84e1a9fbb71bd9fe29

[2017-07-24 10:28] #1244 closed

[2017-07-24 14:10] lmarikannan commented on #1254
Fixed on this commit https://github.com/RestyaPlatform/board/commit/22e6df42bd0ca5aeba5376f564ae866025375614

[2017-07-24 14:10] #1254 closed

[2017-07-24 22:18] amunizp commented on #1176
Sorry, can't as it is used on other services that I do not wishto affect. This is no longer a priority for me so I am happy to close this issue.

[2017-07-24 22:18] #1176 closed

[2017-07-25 06:25] lmarikannan commented on #1234
Related to https://github.com/RestyaPlatform/board/issues/1219

[2017-07-26 05:17] lmarikannan commented on #1255
@darko190 Please reopen if you are still facing this issue with your Trello exported json file.

[2017-07-26 05:17] #1255 closed

[2017-07-26 06:03] lmarikannan commented on #1207
Fixed on this commit https://github.com/RestyaPlatform/board/commit/27bf95f233c5b410f3b6a54bd36084209ff14b21

[2017-07-26 06:03] #1207 closed

[2017-07-27 12:25] lmarikannan commented on #1256
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3dffbdf812a1c929bbbe7034d93829cb9787ce74

[2017-07-27 12:25] #1256 closed

[2017-07-28 06:05] rrjanbiah opened #1260 "Email notification email is having weird subject and subject format for few alerts"
## Expected Behavior

Consistent subject format with better time handling

## Current Behavior

For one particular alert, I'm getting:
`New card on Board is due Jul 28 at 10:39 pm (CEST) at 10:40 PM on July 27, 2017`

Looks like here timezone `CEST` is hardcoded and missing other alert email format that starts with `Restyaboard /`

Overall, it looks like the subject with date is goofed up for cert

[2017-07-28 07:52] darko190 commented on #1255
[KTlojaxD.json.txt](https://github.com/RestyaPlatform/board/files/1182361/KTlojaxD.json.txt)
Still not working, tried installing to another server, when i press import, absolutely nothing happens; on your live demo, I can import any .json i export from Trello, and it works...

[2017-07-31 07:57] lmarikannan commented on #1255
@darko190 We checked with your json file, but we couldn't reproduce this issue. Also your json file is working fine on our live demo server too. So can you share your nginx error log file? and please enable debug mode in https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15 and post HTTP response header and response (In Firebug or Chrome's Developer tool)

[2017-07-31 12:29] flashfs opened #1261 "Suggestion: translation constants on PHP shell scripts"
## Expected Behavior
The PHP scripts on /server/php/shell/ should use translation constants so, for example, emails sent by card_due_notification.php should be on the selected language on Restyaboard application.

## Current Behavior
There are hardcoded strings on some of these php scripts.

## Your Environment
* Version used: 0.5.1

[2017-07-31 12:57] flashfs opened #1262 "Bug: after adding a due date, card is shrinking"
## Expected Behavior
After clicking the button to save the due date, the card should stay as it is.

## Current Behavior
After clicking the button, the card is becoming almost invisible on the cards list. I have to reload the page to view the card again.

## Screenshots (if appropriate):
![duedate_bug](https://user-images.githubusercontent.com/2033838/28778585-57aa5bd6-75d6-11e7-938a-5148af84c02e.

[2017-07-31 13:07] flashfs commented on #1262
Oddly enough, after doing a Control+F5 this 'bug' didn't happen anymore. So, I think it could be archived.

[2017-07-31 13:14] flashfs opened #1263 "Suggestion: site name tooltip should span more"
## Expected Behavior
After hovering over the restyaboard logo at the bottom, a tooltip with the site's name appears, and it should have enough room to be more readable.

## Current Behavior
The tooltip have very little horizontal space.

## Screenshots (if appropriate):
![tooltip](https://user-images.githubusercontent.com/2033838/28779301-f77bd6ba-75d8-11e7-89ac-f8877de5fdbc.jpg)

## Your Environm

[2017-07-31 13:45] flashfs commented on #1262
Really weird. Now it is happening again. Can someone try it?

[2017-07-31 14:26] lmarikannan commented on #1263
Fixed on this commit https://github.com/RestyaPlatform/board/commit/e66fd9347468cd7d32888251226ba8f7982d6666

[2017-07-31 14:26] #1263 closed

[2017-07-31 14:31] flashfs opened #1264 "Bug: profile picture path wrong on shell scripts"
## Expected Behavior
When automatics emails are sent through instant_email_notification.php and periodic_email_notification.php, we should see the profile picture of the user that triggered the activity.

## Current Behavior
When reading the received email, we just see the 'alt' from img tag.

## Possible Solution
Correct the path under $profile_picture_path, since there isn't a $_server_domain_ur

[2017-07-31 15:30] flashfs opened #1265 "Suggestion: admin configuration to change default subscription on cards"
## Expected Behavior
It would be nice to have a configuration on administration where we could change the default behavior of user subscription on boards. The user can subscribe/unsubscribe to board activities, but the admin should have the possibility to change the default behavior for new users.

## Current Behavior
A user can subscribe/unsubscribe to board activities, but there isn't an option

[2017-07-31 15:50] flashfs opened #1266 "Bug: cards comments not showing line break"
## Expected Behavior
When writing a comment with a new line (Enter), the visualization of comments should show it.

## Current Behavior
The new line is not visible after saving the comment.

## Screenshots (if appropriate):
![newline](https://user-images.githubusercontent.com/2033838/28786147-b6d69526-75ee-11e7-92ce-3fb2bd77aae8.jpg)

## Your Environment
* Version used: 0.5.1
* Browser: Firefox 43

[2017-08-01 05:51] lmarikannan commented on #1262
@flashfs We got this type of issue on our local, and we fixed already. So we'll push this changes on our future release version.

[2017-08-01 05:51] #1262 closed

[2017-08-01 06:00] lmarikannan commented on #1264
@flashfs Currently img folder is in client directory only. But in profile_picture_path, we use `/img`. And we  route the `/img` to `/client/img` using with restyaboard.conf file on line https://github.com/RestyaPlatform/board/blob/master/restyaboard.conf#L46. Could you please check your `/client/img` and `media` folder permission level?

[2017-08-01 06:02] lmarikannan commented on #1265
@flashfs Already we are integrated this on our local, and we'll push this changes on our future release version

[2017-08-01 06:02] #1265 closed

[2017-08-01 06:19] lmarikannan commented on #1266
@flashfs As per Markdown format, single enter doesn't go to the new line, double enter only will go to the new line. Anyway we'll check and update with you

[2017-08-01 11:44] flashfs commented on #1264
I'm using Apache, so using the .htaccess here: https://github.com/RestyaPlatform/board/blob/master/.htaccess

[2017-08-01 12:36] lmarikannan commented on #1264
@flashfs Can you please confirm, currently images are not showing on email only or in your restyaboard site also?

[2017-08-01 12:53] flashfs commented on #1264
Only email.

The url of the avatar in email is: http://localhost:8080/img/small_thumb/User/1.cee46acef87d2f83da4b6584b6578796.png
The url of the avatar in site is: /restyaboard/img/small_thumb/User/1.cee46acef87d2f83da4b6584b6578796.png

My index URL is http://localhost:8080/restyaboard/. My .htaccess is inside the /restyaboard folder.

Writing this I think I found the problem. The $_server_domain

[2017-08-01 13:28] lmarikannan commented on #1264
@flashfs Yes, $_server_domain_url is wrong. You can edit that manually by updating `site_url_for_shell.php` file which is located in  `tmp/cache` on your restyaboard server. And please update `$_server_domain_url = 'http://localhost:8080';` to `$_server_domain_url = 'http://localhost:8080/restyaboard';`

[2017-08-01 14:02] flashfs commented on #1264
Ok, I dit that and it worked.

So, just to clarify: the creation of this file will be fixed or the expected behavior of this kind of URL is to change the file manually?

[2017-08-01 14:10] lmarikannan commented on #1264
@flashfs Yes, currently we need to change it manually for Subpath domains

Ex.: localhost/restyaboard

[2017-08-01 17:37] flashfs opened #1267 "Suggestion: use strftime() and not date() when outputting words"
## Expected Behavior
When outputting dates with month or day names, they should appear in the selected language in the application.

## Current Behavior
Month names are showing only in english.

## Possible Solution
Try to use strftime() instead of date() where month or day names are necessary. strftime() will respect setlocale(). For example, at my environment, using
`setlocale(LC_TIME, array("pt

[2017-08-02 15:42] flashfs opened #1268 "Bug: when adding members to cards, users are appearing duplicate"
## Expected Behavior
When clicking the plus button next to 'Members' on the card windows, a popup appears with some users names.

## Current Behavior
Every time I hit the button the names are duplicated. The same is valid if adding through the gear icon > Members.

## Screenshots (if appropriate):
![member_add](https://user-images.githubusercontent.com/2033838/28881871-f137340e-777f-11e7-9b18-5f7e

[2017-08-02 17:44] flashfs opened #1269 "Suggestion: improve due date email notifications"
## Expected Behavior
The email notifications sent by card_due_notification.php should consider all the future time and if a user already received that email (like the flags on instant_email_notification). For example, if the system was down between 10:00 AM and 11:00 AM and goes up, all the users should receive notifications of due date from 11:00 AM and forward, and not only 1 day in the future w

[2017-08-03 15:00] flashfs opened #1270 "Suggestion: change input type of Local Timezone"
## Expected Behavior
As many other sites, the default timezone should be selected based on a select box with city name and the timezone, like "Brasilia (GMT+3)".

## Current Behavior
On the administrator system settings panel I have to manually input the timezone in a textbox, like "+0300".

## Your Environment
* Version used: 0.5.1

[2017-08-04 13:02] lmarikannan commented on #1267
Fixed on this commit https://github.com/RestyaPlatform/board/commit/fb34103f48102a85b14eb22b7a772da6569df3da

[2017-08-04 13:02] #1267 closed

[2017-08-04 13:57] rrjanbiah opened #1271 "automatic login feature not working"
## Current Behavior

(From Daimler) Restyaboard login cookie or session management does not properly work on chrome and IE11, causing a logged user which closes the tab or the window to have to login again after reopening the app

[2017-08-04 13:59] rrjanbiah opened #1272 "Cards cannot be deleted intuitively"
(From Daimler)

## Expected Behavior

Intuitive way to manage cards, especially delete

## Current Behavior

Cards cannot be deleted

[2017-08-04 14:02] rrjanbiah opened #1273 "Feature: Export board to CSV / XLS"
(From Daimler)

## Expected Behavior

Need ability to export board to Excel

[2017-08-04 14:04] rrjanbiah opened #1274 "Feature: Print view of the board"
(From Daimler)

## Expected Behavior

Need print view for board

[2017-08-04 14:06] rrjanbiah opened #1275 "Need ability to insert hyperlink in comment"
(From Daimler)

## Expected Behavior

Need ability to insert hyperlink in comment

[2017-08-04 14:17] rrjanbiah opened #1276 "After long idle time, getting odd session error"
(From Daimler)

## Current Behavior

Getting strange message after long idle time.

[2017-08-07 09:42] rrjanbiah opened #1277 "Install script is not clear about final install URL"
## Expected Behavior

After installing, install script should mention what URL has to be opened in browser for Restyaboard instance

## Current Behavior

Currently it is not clear for many people, what URL should be opened after installing.

[2017-08-08 05:33] lmarikannan commented on #1271
Fixed in this version - v0.4

[2017-08-08 05:33] #1271 closed

[2017-08-08 05:34] lmarikannan commented on #1276
Fixed in this version - v0.4

[2017-08-08 05:34] #1276 closed

[2017-08-08 05:35] lmarikannan commented on #1275
Fixed in this version - v0.4

[2017-08-08 05:35] #1275 closed

[2017-08-08 11:27] #1264 closed

[2017-08-08 11:53] lmarikannan commented on #1277
Fixed in this commit https://github.com/RestyaPlatform/board/commit/60ed269e818d30edabc9400f82967513eb5334fc

[2017-08-08 11:53] #1277 closed

[2017-08-08 11:59] lmarikannan commented on #1268
Fixed in this commit - https://github.com/RestyaPlatform/board/commit/26d44f8ae8c84bf9329545e2fc62c251ecb68571#diff-31adb146eea72c3a34093c3e483fa839R3059

[2017-08-08 11:59] #1268 closed

[2017-08-08 12:03] lmarikannan commented on #1219
Now transifex translations are sync with using transifex client.

[2017-08-08 12:03] #1219 closed

[2017-08-08 12:03] lmarikannan commented on #1234
Now transifex translations are sync with using transifex client.

[2017-08-08 12:03] #1234 closed

[2017-08-08 12:05] lmarikannan commented on #1235
@tutechops Closing this issue due to inactivity. Please feel free to reopen when you have more information

[2017-08-08 12:05] #1235 closed

[2017-08-08 12:06] #1226 closed

[2017-08-08 15:25] flashfs opened #1278 "Suggestion: get user profile timezone from global settings"
## Expected Behavior
When first editting a user profile, the timezone input should get, by default, the info from the administrator panel settings. And the input type should be a select box, and not a text box (like issue #1270 ).

## Current Behavior
When editting the user profile for the first time, timezone input comes blank and it is a mandatory field, so the user can't save the form.

## Your

[2017-08-09 13:48] rrjanbiah opened #1279 "In mobile version, scrolling is not smooth"
## Expected Behavior

For example, trello app allow it move a card only with 'press and hold'. You have to hold your finger for few seconds, before the card will be movable

## Current Behavior

 the scrolling in the app is unreasonable. If you touch a card, you can never stop the moving

[2017-08-09 15:11] flashfs opened #1280 "Bug: thumbnails bundled with zip are causing weird behaviors"
## Expected Behavior
When adding some images to cards the correct thumbnail will show up after the upload and always.

## Current Behavior
When adding some images to cards, I do see the correct thumbnail just after uploading the image. But when I reboot the system I see some images like Yahoo, 'Test', some screenshots. I realized that these images are bundled with the .zip release, in folders like

[2017-08-09 15:15] flashfs opened #1281 "Suggestion: remove thumbnail and original file when deleting attachments"
## Expected Behavior
When I delete an attachment, I would expect that the original file and their thumbnail (if it's an image) to be removed too.

## Current Behavior
When deleting attachments, the original file and thumbnail remains on disk. This could generate many orphaned files and consume disk space.

## Your Environment
* Version used: 0.5.1

[2017-08-10 06:55] morphos88 opened #1282 "Open link in new tab"
## Expected Behavior
When we try to open link in card it's better that he open in new tab.

## Current Behavior
Currently links are open directly

[2017-08-10 07:00] morphos88 opened #1283 "Copy or Move list"
Add possibility like card to copy or move list in other tab

[2017-08-10 07:03] morphos88 opened #1284 "Create board template"
## Expected Behavior
Add possibility for user to create his own template

[2017-08-10 07:06] morphos88 opened #1285 "MyRestyaboards iOS App - Feature: Possibility to save URL and login/password"
## Expected Behavior
Add possibility to automatically save URL, Login and password.

[2017-08-10 07:08] morphos88 opened #1286 "Suggestion : Add the general advancement of the card"
## Expected Behavior
Add general advancement when there is more than 1 checklist in card

## Current Behavior
Actually when we create fewer checklist there is only advancement for each checklist

[2017-08-10 07:43] hckexlang opened #1287 "Blank Page Restya 0.5.1 on CentOS 7"
Hi,

After installation, restya just showing blank page. I think this is because error code 500, but there is not error, restya canbe accessed with code 200.

I'm using restyaboard v0.5.1
OS: CentOS 7
PHP: 7.0
PostgreSQL: 9.6.3

error log
2017/08/10 13:44:50 [emerg] 15130#0: a duplicate default server for 0.0.0.0:80 in /etc/nginx/nginx.conf:39
2017/08/10 14:17:16 [error] 16856#0: *3 open() "/usr/s

[2017-08-10 09:39] hckexlang commented on #1287
I think this issue are causing from cache. For now, I can login to restya.

Thanks.

[2017-08-10 09:39] #1287 closed

[2017-08-10 12:16] tmpbci opened #1288 "wrong install path in install script"
FYI :

./restyaboard.sh: line 881: /var/lib/pgsql//data/pg_hba.conf: No such file or directory
++ cd /var/lib/pgsql//data
./restyaboard.sh: line 882: cd: /var/lib/pgsql//data: No such file or directory

had to manually create these directories and //

after domain question many other wrong paths.

chmod: cannot access `/usr/share/nginx/html/restyaboard//media': No such file or directory

// in pat

[2017-08-11 13:49] lmarikannan commented on #1280
@flashfs Sorry for the inconvenience. We're wrongly bundled the test files in img folder. And we're removed those files which are unnecessary, and will update in our future release. For now, please remove those files from `client/img/large_thumb/CardAttachment/` and check again.

[2017-08-11 13:53] lmarikannan commented on #1278
Fixed in this commit https://github.com/RestyaPlatform/board/commit/cc1da0958c89a3876c6b96b3f2e119051ccee67d

[2017-08-11 13:53] #1278 closed

[2017-08-11 14:15] flashfs commented on #1280
Yeah, deletting the images works.

[2017-08-11 14:34] lmarikannan commented on #1281
Fixed in this commit https://github.com/RestyaPlatform/board/commit/b8c6188e643635909ec068061f0fa53dbb67f66c

[2017-08-11 14:34] #1281 closed

[2017-08-11 14:36] #1280 closed

[2017-08-12 05:01] lmarikannan commented on #1283
@morphos88 Currently you can move list to other board. You need functionality to copy list to other board. Is it right?

[2017-08-12 05:03] lmarikannan commented on #1284
@morphos88 You can create template and paste in this folder `client/js/workflow_templates`. For reference, you can check other files already available in that folder.

[2017-08-12 05:04] lmarikannan commented on #1286
@morphos88 We are not clear about the requirement. Can you please explain?

[2017-08-12 06:03] rrjanbiah commented on #1286
@lmarikannan I think, @morphos88 wants different green color to highlight "completion status" of a checklist.

@morphos88 Kindly confirm.

[2017-08-12 06:17] lmarikannan commented on #1288
@tmpbci We checked about this, there is an issue in ${PSQL_VERSION} detection. So this issue is caused. For more information, could you plase share your restyaboard install log?

[2017-08-14 06:37] morphos88 commented on #1283
Yes it's right actually we copy list in board and move to other board.

[2017-08-14 06:41] morphos88 commented on #1284
Ok but for users it's not possible to connect directly to the server to create template.

[2017-08-14 07:12] morphos88 commented on #1286
like this :
![image](https://user-images.githubusercontent.com/25505555/29261574-789e7e76-80d0-11e7-9352-76b5822240bf.png)

There is main task (card) and many task compose it (checklist).

actually we have just advancement about checklist but not the card.

[2017-08-14 07:30] lmarikannan commented on #1183
@CMarine Closing this issue due to inactivity. Please feel free to reopen when you have more information

[2017-08-14 07:30] #1183 closed

[2017-08-14 07:30] #1208 closed

[2017-08-14 07:48] lmarikannan commented on #1282
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3e2ce8f37a9a7679303b6ad0d5999cd321189e8a

[2017-08-14 07:48] #1282 closed

[2017-08-14 12:21] rrjanbiah opened #1289 "Removing member from card throws error"
(From Daimler)

## Expected Behavior

Removing member from a card should work without any issue

## Current Behavior

When I try to remove a member from a card in the Restyaboard, the board closes with the following error message in the background: "Board not found. This board may be private"

## Screenshots:

![rb-boardnotfound](https://user-images.githubusercontent.com/4907427/29271452-23deab4c-

[2017-08-16 05:58] lmarikannan commented on #1289
This issue is related to https://github.com/RestyaPlatform/board/issues/338 and it was fixed in this commit https://github.com/RestyaPlatform/board/commit/63aae4f5f302e62e076abf17d00a0eb63afedef3

[2017-08-16 05:58] #1289 closed

[2017-08-16 07:45] lmarikannan commented on #1230
Fixed in this commit https://github.com/RestyaPlatform/board/commit/b88716e3e6686abb62632daf5610f8b790749a04

[2017-08-16 07:45] #1230 closed

[2017-08-16 14:41] rrjanbiah opened #1290 "Transifex sync integration borke translated strings count"
## Current Behavior

Looks like, after #1219 the translated strings count looks broken https://www.transifex.com/restya/restyaboard/

[2017-08-16 14:49] morphos88 commented on #1274
Same feature for calendar please.

[2017-08-17 07:27] lmarikannan opened #1291 "Board labels need to store from Trello json"

[2017-08-17 07:32] lmarikannan commented on #1291
Fixed in this commit https://github.com/RestyaPlatform/board/commit/1b0e4f3891de464b53cf4e27b6dcf04fdaba7437

[2017-08-17 07:32] #1291 closed

[2017-08-17 07:44] lmarikannan opened #1292 "Alphanumeric validation for username in register and admin user add"

[2017-08-17 07:46] lmarikannan commented on #1292
Fixed in this commit https://github.com/RestyaPlatform/board/commit/c0f1720470ccfc43dec97bd5013110eebd6528b0

[2017-08-17 07:46] #1292 closed

[2017-08-17 11:46] lmarikannan commented on #1272
Fixed in these commits https://github.com/RestyaPlatform/board/commit/5ac065990605860cb20a688bea8fb98e54ce2240 and https://github.com/RestyaPlatform/board/commit/dabb45e94bf5d0d822c327f17611ee7bc9914d40

[2017-08-17 11:46] #1272 closed

[2017-08-17 15:35] kaefert opened #1293 "automatic setup script on qnap TS-469L"
the automatic setup script tries to use "yum" on my NAS, although the only package manager available is "ipkg"

maybe you should print a warning if none of the supported linux distributions is found.

[restyaboard_install.log.txt](https://github.com/RestyaPlatform/board/files/1231781/restyaboard_install.log.txt)

[2017-08-18 08:29] lmarikannan opened #1294 "Soon I set a due date to an Task it dissapears from the overview"
(From Daimler)
## Expected Behavior

After set a due date to an Task it should be appear in the overview
## Current Behavior

Now if i set a due date to an Task it dissapears from the overview

[2017-08-18 10:09] lmarikannan opened #1295 "From Admin account @ mention doesn't work"

[2017-08-18 10:12] lmarikannan commented on #1295
Fixed in this commit https://github.com/RestyaPlatform/board/commit/6fd6f92b92b3f9911b0940bd138ec1519811f1c6

[2017-08-18 10:12] #1295 closed

[2017-08-19 19:36] pptyasar commented on #1112
@dugravot6  is this fixed I am also facing same issue

[2017-08-21 05:33] lmarikannan commented on #1112
@pptyasar Can you please execute `yum install -y redhat-lsb-core` command before running install script? please refer https://github.com/RestyaPlatform/board/commit/ea42bf3a69a1e1e053ab86aa7192bb65eb228a9b

[2017-08-21 05:39] lmarikannan commented on #1293
@kaefert We're checked your install log, and there is a problem with lsb-release detection. So please install lsb-release (e.g., apt-get install lsb-release) on your server, and please try again with restyaboard installation script.

[2017-08-21 05:44] rrjanbiah commented on #1293
@lmarikannan OP is saying that `yum` or `apt-get` is not available in his distribution. Meaning, our install script doesn't do proper detection of distribution.

[2017-08-21 06:43] kaefert commented on #1293
@rrjanbiah exactly what I meant, yes.

[2017-08-21 07:10] lmarikannan commented on #1293
@kaefert Fixed on this commit https://github.com/RestyaPlatform/board/commit/e747225108fdc3ab5f45e67ca19d6ba04bcef9df. Can you please update on this line https://github.com/RestyaPlatform/board/commit/e747225108fdc3ab5f45e67ca19d6ba04bcef9df#diff-e2930341cebfe21b6b1fd322a42667e2R19 and try again?

[2017-08-21 09:32] rrjanbiah commented on #1293
@lmarikannan Hmm.. no.. As he mentioned, only package manager available in his system is `ipkg` and the script doesn't handle that yet

[2017-08-21 11:30] rrjanbiah commented on #1293
@lmarikannan Here https://github.com/strk/gnash/blob/master/packaging/install-gnash.sh they may be using better logic to detect distribution and package manager.

[2017-08-23 08:31] lmarikannan commented on #1269
@flashfs

Can you please check below work flow and we need your suggestion?

Work flow:
1. We will create a new field in cards table as is_due_date_notification_sent.
2. If is_due_date_notification_sent = 0 & due_date > 24 hours, then we will send due date notification

Need your suggestion:
1. In the above work flow, if the user set due_date to past date, then we should send notification immediat

[2017-08-23 12:12] flashfs commented on #1269
Thanks for the hard work on Restyaboard.

I think you could warn the user that he is entering a past date (maybe he clicked wrong) and not let him do that. But if you still want do allow this behavior, I think you should send the email and just after that mark the flag, so the flag status will reflect the truth.

About the workflow, on step 2, what if I create a card with due date 3 months in the

[2017-08-24 21:25] ViabGit opened #1296 "error script restyaboard.sh"
Updating SQL...
+ psql -d rd_data -f /sql/v0.5.1.sql -U postgres
**/sql/v0.5.1.sql: No such file or directory**
+ /bin/echo v0.5.1
+ [ 0 != 0 ]
+ exit

the script create folder /opt/restyaboard/sql/v0.5.sql

tranks
Wally.

[2017-08-26 05:16] lmarikannan commented on #1296
@ViabGit In v0.5.1, there is no sql file for upgrade version, that is why this issue is caused.  Because this code is common for all version. So nothing to worry for this warning, upgrade was fully finished. You can start your upgraded restyaboard.

[2017-08-26 12:53] rrjanbiah commented on #707
Reopening missed out question due to status

[2017-08-26 12:57] rrjanbiah opened #1297 "Windows install documentation is inadequate"
## Expected Behavior

http://restya.com/board/docs/windows should have been created based on https://github.com/RestyaPlatform/board/issues/224#issuecomment-184282834 and https://github.com/RestyaPlatform/board/issues/224#issuecomment-182229772 But, it is missing information from https://github.com/RestyaPlatform/board/issues/224#issuecomment-182229772 especially on `fastcgi_pass` related changes.

[2017-08-28 13:06] flashfs opened #1298 "Better checking of $data['assets'] on r.php"
## Expected Behavior
A plugin without assets key defined on client/apps/pluginname/app.json should work normally, since it should not be mandatory a plugin have a js or css.

## Current Behavior
A plugin without both assets defined is throwing an error:
[code]
I found that trying to use LdapPlugin. It has 'js' but not 'css' defined on app.json.

## Possible Solution
You should just check on r.php,

[2017-08-29 07:17] lmarikannan commented on #1298
Fixed in this commit https://github.com/RestyaPlatform/board/commit/21e61ff1e977121ab50e1c70e5a604cfcd477dfe

[2017-08-29 07:17] #1298 closed

[2017-08-29 15:07] yomono opened #1299 "Install error"
Hi.
Trying to install restyaboard.sh, i got this error:
+ psql -U postgres -c \q
psql: could not connect to server: No existe el archivo o el directorio
        Is the server running locally and accepting
        connections on Unix domain socket "/var/run/postgresql/.s.PGSQL.5432"?
+ [ 2 != 0 ]
+ echo PostgreSQL Changing the permission failed with error code 34
PostgreSQL Changing the permission

[2017-08-30 05:16] lmarikannan commented on #1299
@yomono We checked about this, there is an issue in postgresql database connection. For more information, can you please share the install log (remove sensitive details)?

[2017-08-30 07:55] lmarikannan commented on #1269
Fixed on this commit https://github.com/RestyaPlatform/board/commit/08fba970016e3e47c1ea8f242eb4a4c96526b923

[2017-08-30 07:55] #1269 closed

[2017-08-30 07:56] lmarikannan commented on #1266
Fixed

[2017-08-30 07:56] #1266 closed

[2017-08-30 12:18] yomono commented on #1299
Sorry, i totally forgot to upload the install log.
Anyway, it appeared to be a previous postgres install that caused the problem.
I just reinstalled Ubuntu and started it over again, and it is working now.
I had to change apache port to 81 because the nginx process was preventing apache to start (weird.. i mean, resyaboard.sh installs both, but both uses 80 port, so how it works?).

Now im facing

[2017-08-30 13:34] fswmlu opened #1300 "Head icons on wrong position"
columns of the table titel are on wrong position (see attached file)

![8b27649b409f816a44ec9a04afea050c](https://user-images.githubusercontent.com/31476853/29874953-a42cf7be-8d98-11e7-9a48-2bd82b121c41.jpg)
)

[2017-08-31 05:30] lmarikannan commented on #1299
@yomono Could you please try with dev branch imap.php (https://github.com/RestyaPlatform/board/blob/dev/server/php/shell/imap.php) file? After that replaced, you get  errors then please share that errors or screenshots.

[2017-08-31 05:35] lmarikannan commented on #1297
Fixed on local and committed on dev site.

[2017-08-31 05:35] #1297 closed

[2017-09-01 14:21] rrjanbiah opened #1301 "Can't able to search using ID"
## Expected Behavior

Should also be able to search using ID

## Current Behavior

When we search using ID, we're getting no records message.

[2017-09-04 07:01] lmarikannan commented on #1300
Fixed in this commit https://github.com/RestyaPlatform/board/commit/1a06dfd2ab0b6cd1bdd43ba4a815b0766cb27e94

[2017-09-04 07:01] #1300 closed

[2017-09-04 07:18] rrjanbiah opened #1302 "Comment thread display order is currently reversed"
## Expected Behavior

Comments display in proper threaded order

## Current Behavior

Thread is currently reversed

[2017-09-05 09:30] Erik-eMP opened #1303 "Attachments for 'Add Instant Card'"
## Expected Behavior

Being able to add an attachment on 'Instant Add Card' just like it is now possible to assign people and add labels.

## Current Behavior

Currently you can add description, member, due date and label. Not attacment
## Screenshots (if appropriate):
![attachment](https://user-images.githubusercontent.com/31650102/30054748-62629e8a-922d-11e7-8078-01604e7b870a.png)

## Context
Mo

[2017-09-05 13:26] flashfs opened #1304 "Suggestion: give more options to authenticate on IMAP settings"
## Expected Behavior
If I use the Gmail imap server I'd like to all things work normally.

## Current Behavior
Using the imap.gmail.com and a simple username/password authentication doesn't work when running imap.php with the following error message:
```[ALERT] Please log in via your web browser: https://support.google.com/mail/accounts/answer/78754```

## Possible Solution
There's a workaround th

[2017-09-05 14:07] flashfs opened #1305 "Suggestion: don't delete all messages when using imap.php"
## Expected Behavior
When running imap.php I'd like to see all mails non related with restyaboard on the same place.

## Current Behavior
imap.php is using imap_delete() on all messages and If I'm using a mailbox with different kind of messages, all of them will be marked to be deleted.

## Possible Solution
Delete only messages identified after the "Check email hash with generated hash", so only

[2017-09-07 02:08] iwdselmo opened #1306 "ISSUE: BUG: Custom role not working"
After i created a custom role and assigned it to a user, after logging in and refreshing the page, restya stopped working and just loads white page.

See print screen below to see console error:

https://www.screencast.com/t/G1xqBDIM4Ha

[2017-09-07 07:22] lmarikannan commented on #1306
Fixed in this commit https://github.com/RestyaPlatform/board/commit/e8282c0037b49de92a5bdcb525100e589c82c63b, https://github.com/RestyaPlatform/board/commit/2bc5f4753d66bdb7285db89431d4b5f0a7b89bfe

[2017-09-07 07:22] #1306 closed

[2017-09-07 12:03] rrjanbiah opened #1307 "Language switch is not updating UI"
(From Daimler)

## Expected Behavior

Language switch updates UI

## Current Behavior

The language just changes when there is some other action taken afterwards. When you try to set the language the UI does not set a check mark next to the language

[2017-09-07 12:32] lmarikannan commented on #1307
Fixed on this commit - https://github.com/RestyaPlatform/board/commit/0aa440562b648e673cb658f31d3a47ed1e28230d#diff-c60e449103faf0245fd84ac4277313fdR276

[2017-09-07 12:32] #1307 closed

[2017-09-07 13:12] lmarikannan commented on #1279
Fixed in this commit - https://github.com/RestyaPlatform/board/commit/ede7f6058724f4842c86516edf440da79d15ea45

[2017-09-07 13:12] #1279 closed

[2017-09-07 14:39] rrjanbiah opened #1308 "Chat UI needs improvement"
## Current Behavior

Currently chat UI is confusing as it displays only the status message in initial tab.

## Expected Behavior

* Better to combine both tab and remove tabs.
* If tab needs to be displayed, it can be "Rooms/Boards" -- instead of just "Boards"

[2017-09-08 06:07] lmarikannan commented on #1301
Fixed on local elasticsearch plugin's r.php file and committed

[2017-09-08 06:07] #1301 closed

[2017-09-10 06:35] bcgoodmate commented on #1284
I tried add new json file in this folder /opt/restyaboard/client/js/workflow_templates but it's not reflecting to the admin dashboard.

[2017-09-10 09:29] bcgoodmate opened #1309 "Add new card template is not working"
I added a new card template "project-management.json" under this folder "/opt/restyaboard/client/js/workflow_templates" but it's not reflecting to the dropdown option.

[2017-09-10 09:35] bcgoodmate opened #1310 "Not all files and folders are showing in /opt/restyaboard compared to restya github https://github.com/RestyaPlatform/board"

[2017-09-11 01:20] iwdselmo opened #1311 "Where and how should i install postgresql"
After the free installation the IT of restya told me to install it in the html folder. But its not working giving me 404 error

[2017-09-11 05:17] lmarikannan commented on #1284
@bcgoodmate Can you please check by add new json file in this folder `/usr/share/nginx/html/restyaboard/client/js/workflow_templates`?

[2017-09-11 05:21] lmarikannan commented on #1309
@bcgoodmate You need to add new template json on this folder `/usr/share/nginx/html/restyaboard/client/js/workflow_templates`. Can you please add json file in mentioned folder and check again?

[2017-09-11 05:35] lmarikannan commented on #1310
@bcgoodmate In github, https://github.com/RestyaPlatform/board is having source files. which are can't run without build task. In release (https://github.com/RestyaPlatform/board/releases) zip, we are converted all files to minified and make easy to run. So there are some folders and files are removed.

[2017-09-11 05:59] lmarikannan commented on #1311
@iwdselmo Already you contacted with restya team free installation, so you could contact our restya team for this issue, they will fix and update with you.

[2017-09-11 05:59] #1311 closed

[2017-09-11 13:02] lmarikannan commented on #1302
Fixed on these commits https://github.com/RestyaPlatform/board/commit/06db60a3011741800e34dd76c026e2bf198781c6#diff-9812550cecc4e99d42faa21f771c0b8cL1158 and https://github.com/RestyaPlatform/board/commit/b342b493d64504d7fd582b303a85b3bc4b9eca87#diff-c60e449103faf0245fd84ac4277313fdL1384

[2017-09-11 13:02] #1302 closed

[2017-09-11 13:47] Erik-eMP opened #1314 "'Assign myself to card' as a seperate rule"
## Expected Behavior
An additional rule so it is:
'Assign members to Card'
'Assign myself to Card'
## Current Behavior
Only 'Assign members to Card' is an option

## Screenshots (if appropriate):
![assign_member](https://user-images.githubusercontent.com/31650102/30277477-3482fd0e-9708-11e7-949a-60dd39807e62.png)

## Context
It is normal to be able to choose if team members should be allowed to ta

[2017-09-11 14:29] rrjanbiah opened #1315 "Slack app is throwing JavaScript warning"
## Current Behavior

Slack app throws JavaScript warning (but app works)

[2017-09-12 01:19] bcgoodmate commented on #1309
Found it. Thanks.

[2017-09-12 01:19] #1309 closed

[2017-09-12 01:22] bcgoodmate commented on #1310
Thanks for clarifying it.

[2017-09-12 01:22] #1310 closed

[2017-09-12 01:23] bcgoodmate commented on #1284
I found it now. Thank you.

[2017-09-12 01:57] iwdselmo opened #1316 "version 0.5.2 loggin not working"
The login for this site is not working http://prolancerr.com

And also how to update the database with the new one. Thanks

[2017-09-12 05:11] lmarikannan commented on #707
Updated on restya.com windows documentation - http://restya.com/board/docs/windows

[2017-09-12 05:11] #707 closed

[2017-09-12 05:20] lmarikannan commented on #1303
Fixed on this commit https://github.com/RestyaPlatform/board/commit/a911ddd4aae39f39346ef0c959ad03c1dae45734#diff-9812550cecc4e99d42faa21f771c0b8cL3489

[2017-09-12 05:20] #1303 closed

[2017-09-12 05:21] lmarikannan commented on #1290
Fixed with google conversion and pull from transifex using transifex client

[2017-09-12 05:21] #1290 closed

[2017-09-12 05:22] lmarikannan commented on #1299
@yomono Closing this issue due to inactivity. Please feel free to reopen when you have more information

[2017-09-12 05:22] #1299 closed

[2017-09-12 05:23] #1294 closed

[2017-09-12 05:28] lmarikannan commented on #1270
Fixed in v0.5.2 and commited on https://github.com/RestyaPlatform/board/commit/0aa440562b648e673cb658f31d3a47ed1e28230d#diff-35df25b9af27bbb19c1176a9cdf9695d, https://github.com/RestyaPlatform/board/commit/0aa440562b648e673cb658f31d3a47ed1e28230d#diff-0cc9662c3caf14bf344a5854ae79a106

[2017-09-12 05:28] #1270 closed

[2017-09-12 05:31] lmarikannan commented on #17
Updated on restya.com API documentation - http://restya.com/board/docs/api

[2017-09-12 05:31] #17 closed

[2017-09-12 05:32] lmarikannan commented on #1288
@tmpbci Closing this issue due to inactivity. Please feel free to reopen when you have more information

[2017-09-12 05:32] #1288 closed

[2017-09-12 06:21] lmarikannan commented on #1245
@morphos88 We're tried to reproduce this issue on our demo site http://board.demo.restya.com, but we couldn't reproduced. please refer this video for more information to paste directectly an image
[attach-image-using-copy-and-paste.webm.zip](https://github.com/RestyaPlatform/board/files/1294884/attach-image-using-copy-and-paste.webm.zip)

[2017-09-12 07:04] lmarikannan commented on #1294
We were waiting for your reply, but there is no reply from you. So now this issue is closing due to inactivity. Please feel free to reopen when you have more information

[2017-09-12 07:14] morphos88 commented on #1316
i have the same problem. after update to 0.5.2 we can not loggin.

i roll back to 0.5.1. in log i have

 php /usr/share/nginx/html/restyaboard/server/php/upgrade_v0.5.1_v0.5.2.php
PHP Warning:  pg_query_params(): Query failed: ERREUR:  la relation « timezones » n'existe pas
LINE 1: update settings set value = (select code from timezones wher...

[2017-09-12 07:23] rrjanbiah opened #1317 "Instant Add Card plugin's few options are hidden"
## Expected Behavior

Form is laid out properly so that all options are visible

## Current Behavior

Some options are hidden behind the fold and so not obvious.

[2017-09-12 07:27] rrjanbiah opened #1318 "Instant Add Card plugin's options are not evenly styled"
## Expected Behavior

Options are evenly styled

## Current Behavior

Not evenly styled and so looks slightly odd

[2017-09-12 08:40] lmarikannan commented on #1316
@morphos88 There was an issue with v0.5.2 release zip, that having v0.5.2 upgrade sql filename was wrong. Now we've renamed sql file name from `upgrade-0.5.1-0.5.2.sql` to `v0.5.2.sql` and uploaded here. So you please update version `0.5.2` to `0.5.1` on this file `/opt/restyaboard/release`. And please upgrade using https://github.com/RestyaPlatform/board/blob/master/restyaboard.sh. After that upg

[2017-09-13 13:34] rrjanbiah opened #1320 "Boards are randomly getting empty"
## Current Behavior

In very very rare case, boards listing is getting empty; had to relogin to get the boards listing again.

[2017-09-14 07:22] Erik-eMP opened #1321 "Description disappears when Adding attachment"
## Expected Behavior
1. Write description
2. Upload attachment
3. Description is still there

## Current Behavior
1. Write description
2. Upload attachment
3. Description is lost

## Screenshots (if appropriate):
![restya_2](https://user-images.githubusercontent.com/31650102/30416837-f49df752-992d-11e7-86e6-3f896c954e98.png)
![restya_1](https://user-images.githubusercontent.com/31650102/30416838-f

[2017-09-14 12:53] rrjanbiah opened #1322 "Getting wrong syncing offline message for 401 response"
## Expected Behavior

Should get offline message only when there is no internet connection

## Current Behavior

Now, getting wrong syncing offline message even for 401 responses

## Screenshots

![rb-sync-offline](https://user-images.githubusercontent.com/4907427/30430710-b0d80d4a-9979-11e7-8895-bd0d64a95941.png)

[2017-09-15 05:28] lmarikannan opened #1323 "Variable frequency of notifications email"
From Nick Crowdy,

It would be great if a user could specify the frequency of notification emails in their profile.

For me every 5 minutes or every hour is too frequent and I would like to adjust the frequency to perhaps once every 24 hours or whatever seems appropriate for the level of activity on the boards.

[2017-09-18 08:05] fswmlu opened #1324 "Url pop up on wrong position"
![2017-09-18_094500](https://user-images.githubusercontent.com/31476853/30533278-c91568f8-9c58-11e7-850a-2926652a5240.png)

[2017-09-18 08:07] lmarikannan commented on #1317
Fixed on this commit https://github.com/RestyaPlatform/board/commit/4baabe69b82b71ff37c23317c52d776b70e21182

[2017-09-18 08:07] #1317 closed

[2017-09-18 08:07] lmarikannan commented on #1318
Fixed on this commit https://github.com/RestyaPlatform/board/commit/4baabe69b82b71ff37c23317c52d776b70e21182

[2017-09-18 08:07] #1318 closed

[2017-09-18 11:34] lmarikannan commented on #1321
Fixed on this commit https://github.com/RestyaPlatform/board/commit/18ede4e0bf7865eeef207d3d3db802e041201e07

[2017-09-18 11:34] #1321 closed

[2017-09-19 09:00] fswmlu opened #1325 "wrong timezone in the iCal file"
iCal file will be created with UTC timezone, even though on server it is correctly changed to UTC+2 (Europe/Vienna)

[2017-09-19 09:04] fswmlu opened #1326 "iCal file can't get variable: $_server_domain_url"
The iCal file bigins with the error message:

<br />
<b>Notice</b>:  Undefined variable: _server_domain_url in <b>/usr/share/nginx/html/restyaboard/server/php/ical.php</b> on line <b>28</b><br />
<br />
<b>Notice</b>:  Undefined variable: _server_domain_url in <b>/usr/share/nginx/html/restyaboard/server/php/ical.php</b> on line <b>40</b><br />
<br />
<b>Notice</b>:  Undefined variable: _server_dom

[2017-09-19 09:12] ccrabtree10 opened #1327 "New card disappears when added to list if member filter active"
## Expected Behavior
If you filter a board by a member, and add a new card assigned to that member, the card should appear in the list without having to refresh the page in the browser.

## Current Behavior
If you filter a board by a member, and then add a new card to which the member is assigned, the new card is not shown in the list. The page must be refreshed to show the card.

## Steps to Repr

[2017-09-19 09:14] fswmlu opened #1328 "Multiple timezone entries for the same location"
![2017-09-19_110844](https://user-images.githubusercontent.com/31476853/30584894-780ae950-9d2b-11e7-888e-1ef094ef8296.png)

[2017-09-19 09:34] ccrabtree10 opened #1329 "Escape HTML/XML in comment"
## Expected Behavior
When writing a comment on a card, any HTML/XML that appears in the text should be escaped, and displayed unchanged in the resulting comment.

## Current Behavior
HTML/XML appears to be interpreted by the browser, for example, adding the comment:

`Jeff, you need to add this to the root: <sometag>test</sometag>.`

results in a comment being displayed like this:

`Jeff, you need

[2017-09-19 10:02] lmarikannan commented on #1320
Fixed in this commit https://github.com/RestyaPlatform/board/commit/e9b4900f7b9497a301d4813be1adbc06f66acd14

[2017-09-19 10:02] #1320 closed

[2017-09-20 13:18] rrjanbiah opened #1330 "Timezone issues in export to google calendar option"
From Softbyte:

## Current Behavior

the timetable is messed up, every event has 2 hour more in google calendar than in restyaboard one

[2017-09-20 13:22] rrjanbiah opened #1331 "$_server_domain_url empty in export to google calendar option"
From Softbyte:

## Current Behavior

i had trouble with the export function from restyaboard calendar to google calendar ...

to fix it i had to put this in icalc.php: `$_server_domain_url='restya.example.com';`
where `restya.example.com` is the fqdn of our site
otherwise google calendar was not able to import the data ... that variable should be already present in `config.inc.php`, but looks like

[2017-09-20 13:24] rrjanbiah opened #1332 "export to google calendar doesn't publish all events"
From Softbyte:

## Current Behavior

my colleague told me now that the export to google calendar does not expose all the events ...  sometime all the event on the same list are published but not the other events  from other list, sometime instead it doesn't publish all the events on the same list ...

[2017-09-20 13:44] lmarikannan commented on #1330
Duplicate #1325

[2017-09-20 13:44] lmarikannan commented on #1331
Duplicate #1326

[2017-09-20 14:06] lmarikannan commented on #1325
Fixed on this commit https://github.com/RestyaPlatform/board/commit/d1cc6530f6548ad8f9db0788100f64ec4bfdca1f

[2017-09-20 14:09] lmarikannan commented on #1326
Fixed on this commit https://github.com/RestyaPlatform/board/commit/8c8d444abea86c804679a25abc9a0c01a51b3b34

[2017-09-20 14:09] #1326 closed

[2017-09-20 14:39] lmarikannan commented on #1328
Fixed on this commit - https://github.com/RestyaPlatform/board/commit/ede620953154664ca3755bb51f3ef15edef51922

[2017-09-20 14:39] #1328 closed

[2017-09-20 14:57] lmarikannan commented on #1331
Fixed on this commit 8c8d444

[2017-09-20 14:57] #1331 closed

[2017-09-20 14:57] lmarikannan commented on #1330
Fixed on this commit d1cc653

[2017-09-20 14:57] #1330 closed

[2017-09-21 05:11] lmarikannan commented on #1322
Fixed on this commit https://github.com/RestyaPlatform/board/commit/5f250b904d06e05d5aca8d4836dfdd80e78905dd

[2017-09-21 05:11] #1316 closed

[2017-09-21 05:26] lmarikannan commented on #1329
Fixed on v0.5.2 and committed on https://github.com/RestyaPlatform/board/commit/0aa440562b648e673cb658f31d3a47ed1e28230d. Please refer https://github.com/RestyaPlatform/board/commit/0aa440562b648e673cb658f31d3a47ed1e28230d#diff-4f91f1e45c7c7a45fe11275fe4564ceeR81, https://github.com/RestyaPlatform/board/commit/0aa440562b648e673cb658f31d3a47ed1e28230d#diff-24a7194ed4306674650f3d47610ec0ecR43

[2017-09-21 05:26] #1329 closed

[2017-09-21 08:31] softb1te opened #1333 "Card problem due to mail addresses in comment"
Whenever create a comment in a card that include a mail address, the comment shows messed up.
If you edit the comment and save it again (no need to type anything), the mail address show correctly.
When you read the card from another account the problem appears again, and again if you edit and save you get the address correct.
## Expected Behavior

The mail address should show correctly without nee

[2017-09-21 10:02] lmarikannan opened #1334 "Problems with importing from Trello"
Comments are unloaded as in the picture:
![example](https://user-images.githubusercontent.com/17758064/30690466-f46b8100-9ee1-11e7-985a-448c34825e11.JPG)

[2017-09-21 10:04] lmarikannan commented on #1334
Fixed on this commit 77df69b

[2017-09-21 10:04] #1334 closed

[2017-09-21 11:20] rrjanbiah commented on #1332
Referring @softb1te for him to track...

[2017-09-21 11:24] rrjanbiah opened #1335 "Text attachments are getting truncated"
From Softbyte @softb1te

## Current Behavior

another issue we found is on the attachment ... we attached a file from the desktop and it got truncated ... does it have any sort of limitation (the file was few kb)

txt without any extension ... it's an ansible inventory

i've stripped the sensible data from the file and tried to upload it again .. the file once downloaded is trucated ...btw the fil

[2017-09-21 13:45] softb1te commented on #1335
See the attach file for example of the problem.
original:
[restyaboard_test.txt](https://github.com/RestyaPlatform/board/files/1321390/restyaboard_test.txt)

Downloaded:
[restyaboard_test_downloaded_error.txt](https://github.com/RestyaPlatform/board/files/1321393/restyaboard_test_downloaded_error.txt)

This happens if the files don't have any extension.
If i upload it with a txt extension (didn't

[2017-09-21 14:13] softb1te opened #1336 "It should be possible to consult archived card"
It is not possible to consult (check comment, download attachment files, etc) a card  even if a it is archived to be able to access to the data.

## Expected Behavior

Consult the card as if not archived

## Current Behavior

It is not possible to consult an archived card.

## Screenshots (if appropriate):

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your En

[2017-09-21 14:47] rrjanbiah commented on #1336
*Internal note*

From @softb1te

i will post a suggestion too, regarding the archived item, it should be to see them without moving them back to a list

[2017-09-22 11:33] lmarikannan commented on #1332
@softb1te ical publish the due date's events only. And also it's working fine on our live server. Could you please share your ical url for test purpose?

For reference please see the attachments. In that attachments, i use ical url from firefox board (http://board.demo.restya.com/#/board/7) and in our google calendar events it's published all the events of all the lists and cards.

Attachment 1 -

[2017-09-22 12:24] fswmlu opened #1337 "Very limited view for card details in the view "profile -> cards""
If you open a card throw list view profile -> card (/#/user/x/cards), you don't see any details. If you open the same card through board link /#/board/6/card/161, you can see all details and edit the card. Is ist possible to adapt the view to the user permission?
I'm owner of the card and I'm only able to see the title, set the colour and add atachment (see screenshot).
![2017-09-22_140233](https:

[2017-09-22 13:27] softb1te commented on #1332
Maybe there was a misunderstanding, with "all events" we mean all the due dates of the events and not all the details of a single event.
Check the attached screenshots
![restya_dues](https://user-images.githubusercontent.com/32159214/30746453-238f4020-9faa-11e7-9aed-b79e5f482f00.png)
![gcal_restya1_dues](https://user-images.githubusercontent.com/32159214/30746454-238fd044-9faa-11e7-9d8f-84c108d44e

[2017-09-22 13:32] rrjanbiah commented on #1332
@softb1te Thanks for sharing the details

[2017-09-22 14:04] softb1te opened #1338 "Dragging an attachment open an impossible to close drag & drop window"
If you try to drag an attachment (in this case an image) to another browser window result in the drag&drop window being open without any close button, the only solution to get the card back to the normale view is to close the card and reopen.
## Expected Behavior

the drag&drop windows should not open or should have a cancel button.

## Current Behavior

the drag&drop windows opens and there is no

[2017-09-22 14:08] softb1te opened #1339 "Time on the comments in a card are wrong"
The time displayed on the comments is wrong, in our case it is back of 2 hours.
## Expected Behavior

The time should be the local one.

## Current Behavior

the time is off of -2 hours

## Screenshots (if appropriate):

## Possible Solution

## Steps to Reproduce (for bugs)

1. Open a card
2. Write a comment and save it
3. The time on the just posted comment (but also on the others) is wrong.

##

[2017-09-25 12:21] rrjanbiah opened #1340 "Need quick intro video for every users"
Need quick youtube intro video for every users.. should be shown every time they log in.. till they click "Don't show it again"

[2017-09-25 14:14] rrjanbiah opened #1341 "Installation issue"
From @softb1te

for the installation problem we solved using this command:
`apt install -t jessie-backports  openjdk-8-jre-headless ca-certificates-java`

where the flag `-t` is used to use a specific repository, in this case `jessie-backports`

this is a repo that is not normally installed, you have to add it to you apt source on debian

[2017-09-25 14:15] rrjanbiah opened #1342 "When LDAP is enabled, allow users to register using email as well"
Provide some option to allow user registration when LDAP is enabled

[2017-09-25 14:19] rrjanbiah opened #1343 "Allow users to invite others using email address to a board"
Allow invite using email address.

**Important:** This has to be handled carefully especially when using in intranet using LDAP.. as there should be clear distinction between internal and external users.

[2017-09-25 14:24] rrjanbiah opened #1344 "Can't open attachment in iOS mobile version"
From Luszka

## Current Behavior

There is not possible to open an attachment. If you click on the file, you see only an white screen

## Screenshots

![img_0041](https://user-images.githubusercontent.com/4907427/30813520-501774cc-a22b-11e7-8fc1-35669e871776.PNG)

[2017-09-25 14:33] lmarikannan commented on #1327
Fixed on this commit https://github.com/RestyaPlatform/board/commit/6b4a2f85fce981e2d295b2fde1a7c058e86f5d1b

[2017-09-25 14:33] #1327 closed

[2017-09-25 14:33] rrjanbiah opened #1345 "Can't upload attachment in iOS mobile version"
From Luszka

## Current Behavior

There is not possible to upload an attachment. You can select the files from media store on iOS device but you can’t start the upload. On pressing the invisible button “go” at the top-right corner you will redirect to the main screen.

## Screenshots

![img_0042](https://user-images.githubusercontent.com/4907427/30813636-973d7ec8-a22b-11e7-9df8-a334e1c863ec.PNG)

[2017-09-25 14:37] rrjanbiah opened #1346 "During drag n drop of card, texts are marked for copy in iOS mobile version"
From Luszka

## Current Behavior

if you press and hold the card, the text under your finger will be marked for copy

## Screenshots
![17-09-15 14-44-00 0034 1](https://user-images.githubusercontent.com/4907427/30814171-0c5f027a-a22d-11e7-95da-5a1af4249caa.png)

[2017-09-25 14:41] rrjanbiah opened #1347 "List view design is broken in iOS mobile version"
From Luszka

## Current Behavior

bug in the list view – in the attachment.

## Screenshots

![img_2784](https://user-images.githubusercontent.com/4907427/30814351-842ab0e2-a22d-11e7-8f26-7f92ca7e1929.jpg)

[2017-09-26 06:21] rrjanbiah opened #1348 "Default boards samples have to be redone for better practices"
Current sample records show that we can use kanban board for any use cases (for example, Y Combinator, Yahoo!, Apple, Mozilla, etc). When users start adopting similar approaches, they can't be able to properly track their todos with in progress and done status properly.

So, sample records have to be recreated using todo, crm & scrum templates

[2017-09-27 05:33] lmarikannan commented on #1332
@softb1te  Could you please share your ical file which is available on `/usr/share/nginx/html/restyaboard/server/php/` directory for test purpose?

[2017-09-27 06:35] lmarikannan commented on #1335
@softb1te We're tried to reproduce this issue on our local server, but we couldn't reproduce this, can you please double check this?

In our local demo server,

Without extension
http://boarddev.demo.restya.com/download/61/2e5dfcbb6f263a3be129d8caf7570c05

With extension
http://boarddev.demo.restya.com/download/60/3df1e9736969a2f4cee04f9116a91825

[2017-09-27 07:27] rrjanbiah commented on #1335
@softb1te What web server do you use (nginx or Apache)? Do you have `mod_security` enabled?

[2017-09-27 13:56] softb1te commented on #1335
We use nginx without mod_security, do we need to install it ?

[2017-09-27 14:40] filPhil opened #1349 "Blank Page after a new install Restya on CentOS 7"
Hi,

After installation with install script restyaboard.sh , restya just showing blank page.
I have got these errors in nginx logs :

2017/09/27 16:12:41 [error] 1611#0: *4 open() "/usr/share/nginx/html/restyaboard/client/api/v1/oauth.json" failed (2: No such file or directory), client: 192.168.1.21, server: _, request: "GET /restyaboard/client/api/v1/oauth.json?_=1506521559238 HTTP/1.1", host: "1

[2017-09-27 14:49] lmarikannan commented on #1332
Fixed on this commit https://github.com/RestyaPlatform/board/commit/8dbc94d9ed852c2420f6861c91c0df1152078a02#diff-037979dd76c0424e090df1752de7c91d, could you please update this changes on ical file and check again?

[2017-09-27 15:14] rrjanbiah commented on #1332
*Internal note*

@softb1te shared ical file privately and it appeared that the UID is not really unique. It was only an unique number before and the team now made it something like `id@host.tld`

[2017-09-27 15:18] rrjanbiah opened #1350 "Need restriction to edit user profile fields, through roles"
From customer:

can i make user not change their names, timezone. but okay to change only their pictures

[2017-09-28 04:45] lmarikannan opened #1351 "Trello Import Issue: URL attachments don't import properly"
From https://groups.google.com/forum/#!topic/restya/v_kVf7YJOFA,

Recently installed Restyaboard on an EC2 instance in order to test things out before I go installing it on our NAS.
My wife runs her company on Trello but wants something self-hosted. Obviously one of the requirements is that it can import Trello content perfectly.
So far, so good, except for one major problem: URL attachments in Tr

[2017-09-28 04:52] lmarikannan commented on #1349
@filPhil While checking your error log, you have accessed Restyaboard with wrong URL. Access Restyaboard like this `http://192.168.1.180/restyaboard/`.

[2017-09-28 06:10] lmarikannan commented on #1351
Fixed on this commit https://github.com/RestyaPlatform/board/commit/bde03c1bed0b02954286124acc96858b71025511

[2017-09-28 08:07] filPhil commented on #1349
@lmarikannan If I use http://192.168.1.180/restyaboard/, I've got "403 Forbidden nginx/1.10.2"
Here is my restyaboard directory
![image](https://user-images.githubusercontent.com/32333935/30955122-db98530a-a432-11e7-8174-009747e1b62b.png)

I send also the conf of restyboard

[restyaboard.conf.log](https://github.com/RestyaPlatform/board/files/1340011/restyaboard.conf.log)

[2017-09-28 09:17] lmarikannan commented on #1349
@filPhil It looks lot of things changed from original `restyaboard.conf` file. Please refer https://github.com/RestyaPlatform/board/blob/master/restyaboard.conf. Can you please revert it like and access `http://192.168.1.180/restyaboard/`? If you got any error, then please send nginx `/val/log/nginx/error.log`

[2017-09-28 09:51] filPhil commented on #1349
@lmarikannan Ok with the new restyaboard.conf and for http://192.168.1.180 I've got this error 👍 2017/09/28 11:48:02 [error] 3402#0: *1 "/usr/share/nginx/html/client/restyaboard/index.html" is not found (2: No such file or directory)

[2017-09-28 10:09] lmarikannan commented on #1349
@filPhil Can you please replace the attached configuration and access like this URL `http://192.168.1.180/`?

[restyaboard.conf.log](https://github.com/RestyaPlatform/board/files/1340419/restyaboard.conf.log)

[2017-09-28 10:25] filPhil commented on #1349
@lmarikannan If I do that, the url http://192.168.1.180 becomes http://192.168.1.180/#/users/login and I've got a blank page like before.

I have also this nginx log error :
2017/09/28 12:24:07 [crit] 5256#0: *3 connect() to unix:/run/php/php7.0-fpm.sock failed (2: No such file or directory) while connecting to upstream, client: 192.168.1.21, server: _, request: "GET /api/v1/oauth.json?_=150659424

[2017-09-28 10:50] rrjanbiah opened #1352 "Plugin documentation related video is not available"
http://restya.com/board/docs/plugin-installation video is not available

[2017-09-28 10:55] lmarikannan commented on #1349
@filPhil Let me know your PHP version. Also can you please check whether this file `/run/php/php7.0-fpm.sock` is available?

[2017-09-28 10:56] rrjanbiah opened #1353 "Need intro video for new versions"
Similar to #1340 we need quick intro video for upcoming new versions.

* Both "Quick intro" and "What's new in v??" can be in same modal dialog
* Option "Don't show it again" can be tracked in cookie (not in DB). So, it will have to be based on current user ID and current version. Something like `hidevideo[user_id][version]` or `hidevideo.user_id.version` with 1 or 0 values.

[2017-09-28 11:09] rrjanbiah commented on #1351
@lmarikannan Can you explain the fix?

Please check with Trello. I think, we shouldn't download youtube URLs and I can't find that in above fix

[2017-09-28 11:23] filPhil commented on #1349
I had a version 5.4.16 that I just uninstall in favor of a 7.1.9.

[root@localhost ~]# php -v
PHP 7.1.9 (cli) (built: Sep 14 2017 19:40:34) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2017 Zend Technologies

but I dont have a /run/php directory so the `/run/php/php7.0-fpm.sock` doesn't exist !

[2017-09-28 11:26] lmarikannan commented on #1351
@rrjanbiah In above fix, we're checked every attachments with this condition `if($attachment['isUpload']) {`. With this `isUpload` boolean, we can filter the url and images. So now the youtube URLs will be shown as link.

[2017-09-28 12:10] lmarikannan commented on #1349
@filPhil Can you please try with changing like this?

`fastcgi_pass 127.0.0.1:9000;`

[2017-09-28 12:16] filPhil commented on #1349
With this parameter the error is :

`2017/09/28 14:15:10 [error] 2748#0: *1 connect() failed (111: Connection refused) while connecting to upstream, client: 192.168.1.21, server: _, request: "GET /api/v1/oauth.json?_=1506600905275 HTTP/1.1", upstream: "fastcgi://127.0.0.1:9000", host: "192.168.1.180", referrer: "http://192.168.1.180/"`

[2017-09-28 13:12] lmarikannan commented on #1333
Fixed on this commit : https://github.com/RestyaPlatform/board/commit/6821521b8479cff864fbf23c4779ee39ba3d88a2

[2017-09-28 13:12] #1333 closed

[2017-09-28 13:37] lmarikannan commented on #1349
@filPhil We have analyzed in your installation log, it looks like sock mentioned as this `/var/run/php5-fpm.sock` in this file `/etc/php-fpm.d/www.conf`. But we have given wrongly `/run/php/php7.0-fpm.sock`

So please use the below code in restyaboard.conf file,

`fastcgi_pass /var/run/php5-fpm.sock`

[2017-09-28 14:12] lmarikannan opened #1354 "Archives are temperamental won’t always find what you are searching for but if you search a different word it finds it"

[2017-09-28 14:14] filPhil commented on #1349
Ok I suppose you mean

`fastcgi_pass unix:/var/run/php5-fpm.sock;` but both give the same error

`2017/09/28 15:51:29 [crit] 7695#0: *1 connect() to unix:/var/run/php5-fpm.sock failed (2: No such file or directory)`

I don't find any file with *.sock on HD

[2017-09-28 14:15] lmarikannan commented on #1354
Fixed on this commit https://github.com/RestyaPlatform/board/commit/8009e7bf3eb07c304abab9030d52718600afc8d5

[2017-09-28 14:15] #1354 closed

[2017-09-28 14:19] rrjanbiah commented on #1349
@filPhil Please check if below links are helpful:

* https://stackoverflow.com/questions/17570658/how-to-find-my-php-fpm-sock
* https://stackoverflow.com/questions/35367676/php-fpm-doesnt-create-sock-file
* https://www.digitalocean.com/community/tutorials/how-to-install-linux-nginx-mysql-php-lemp-stack-on-centos-6

[2017-09-28 14:35] rrjanbiah commented on #1335
@softb1te Not really. As it works for us, I'm trying to understand if you have any other extensions installed that's causing this issue.

If possible, please share your nginx conf file (Over the top of my head, it may be due to some configuration that's parsing files without extension)

[2017-09-28 14:36] rrjanbiah commented on #1351
@lmarikannan Cool

[2017-09-28 14:36] #1351 closed

[2017-09-28 14:37] #1332 closed

[2017-09-28 14:39] rrjanbiah commented on #1305
@lmarikannan Instead of using delete flag, can we use read flag?

[2017-09-28 14:41] rrjanbiah commented on #1339
@lmarikannan Any progress on this?

[2017-09-28 14:44] rrjanbiah opened #1355 "Need markdown preview"
As in GitLab, need markdown preview to quickly check the format

[2017-09-28 14:47] rrjanbiah opened #1356 "In email notifications, formatting is slightly off"
## Expected Behavior

Markdown formats are correctly coming in email notifications

## Current Behavior

Some formats are not coming properly. Looks like there's an issue in markdown & diff handling

[2017-09-28 15:25] filPhil commented on #1349
Ok Ihave create .sock file with the command :

`python -c "import socket as s; sock = s.socket(s.AF_UNIX); sock.bind('/var/run/php5-fpm.sock')"`

I have this line in restyaboard.conf

`		fastcgi_pass unix:/var/run/php5-fpm.sock;`

I have modified the /etc/php-fpm.d/www.conf lihe this

`listen.owner = nginx
listen.group = nginx
listen.mode = 0666`

but now I have this error : (it's a shame)

`2017/

[2017-09-28 15:52] rrjanbiah commented on #1349
@filPhil You may better contact us for free install support (Our IT team will install it if you provide remote access; either SSH or TeamViewer) http://restya.com/contact?category=free-installation

Please note that we're on festival holidays and team will be able to check on Oct 3rd, Tuesday.

[2017-09-30 04:36] lmarikannan opened #1357 "Search and sorting of members for a card"
From Nick Crowdy,

When the   button is used to add a member to a card the search only seems to search for matches in the last name of the available list of members. This can be awkward in large organisation when a user wouldn't necessarily know the last name of all staff. It would be preferable if the search was looser, i.e. searched over more fields e.g. last name, first name, user id etc.

In a

[2017-09-30 04:37] lmarikannan opened #1358 "Filtering cards is hard with a large number of labels and members"
The Filter Cards starts to get unmanageable when the number of labels and or the number of members is large.

There are a couple of things that would improve usability.
1. Provide Filter my cards button or menu item which provides a shortcut to filtering all cards where the current user is a member.
 2. Separate the Filter by Labels and Filter by Members into 2 separate menu items. A tick, Unicode

[2017-09-30 08:22] sfkleach opened #1359 "Syntax Highlighting ignored"
## Expected Behavior

Git-flavoured markdown supports syntax-highlighting for a variety of languages by inserting the name of a programming language after three backticks. Here is an example taken from https://guides.github.com/features/mastering-markdown/ - a document I was referred to when I enquired about this by info@restya.com.

[code]
The above should be rendered as
[code]

## Current Behavi

[2017-10-02 10:14] morphos88 opened #1360 "Update failed"
## Expected Behavior
Update stop in sql script :
[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/1348558/restyaboard_install.log)

I tried to restart but it stops at the same place.

[2017-10-03 07:19] lmarikannan commented on #1360
These SQL errors are raised because you have tried to update v0.5.2 second time. While running at first time, the fields are created in database. So at the second time, it shown errors as already exists. But it will not create any issue. Is there login issue raised after updating this like you have already mentioned in this comment https://github.com/RestyaPlatform/board/issues/1316#issuecomment-3

[2017-10-03 07:29] morphos88 commented on #1360
The problem is that the script does not finish and still waiting after "UPDATE 17"

[2017-10-03 07:42] lmarikannan commented on #1360
@morphos88 Oh. Can you please run this command manually `php /usr/share/nginx/html/restyaboard/server/php/upgrade_v0.5.1_v0.5.2.php` in SSH? And then try login?

[2017-10-03 07:48] ccrabtree10 opened #1361 "Window does not scroll when dragging card"
## Expected Behavior
When dragging a card, if the card touches the edge of the window, the window should scroll in that direction.

## Current Behavior
The window does not scroll when you drag a card to its edge.

## Steps to Reproduce (for bugs)
1. Create a board with several lists so that all do not fit in one window.
2. Create a card in the leftmost list.
3. Drag the card to the right of the wi

[2017-10-03 10:11] morphos88 commented on #1360
do nothing

[2017-10-03 10:22] morphos88 commented on #1360
Ok script finish. I look in base and all timezone was set to null it's good ?

[2017-10-03 10:27] morphos88 commented on #1360
Now i can't edit profil user and settings site

[2017-10-03 11:26] lmarikannan commented on #1360
@morphos88

Actually this script `upgrade_v0.5.1_v0.5.2.php` will update timezone in both users and settings table. So if it's null then the script not executed properly for you.

[2017-10-03 11:30] lmarikannan commented on #1361
@ccrabtree10 Can you please mention your window resolution?

[2017-10-03 11:57] morphos88 commented on #1360
Ok i roll back to 0.5.1. Can we solve problem ?

[2017-10-03 12:40] morphos88 commented on #1360
Ok i execute sql script alone and comment script in batch.

I verify timezone in postgre and i update all timezone for settings and users

[2017-10-03 12:52] morphos88 opened #1362 "BUG past image"
## Expected Behavior

When i paste image from clipboard in card it works but it also change my photo profil

## Steps to Reproduce (for bugs)
1. Take screenshot
2. open card
3. past image

## Your Environment
v0.5.2

[2017-10-04 04:56] lmarikannan commented on #1360
@morphos88 Nice to hear. Closing this issue.

[2017-10-04 04:56] #1360 closed

[2017-10-04 08:20] ccrabtree10 commented on #1361
My screen is 1920 x 1080 and I have my browser window maximised.

[2017-10-04 12:26] rrjanbiah commented on #1349
@filPhil

As per IT team:

* Path to socket file was wrong and had to use appropriate path
* Some ports were not open and they had to open them (During that they also disabled SELinux)
* Finally they also enabled SELinux

[2017-10-04 12:26] #1349 closed

[2017-10-04 12:28] rrjanbiah opened #1363 "Path to fpm socket file is hardcoded in install script"
As per Prem, path to fpm socket file is hardcoded and so they had to modify in some instances to get it working properly

(Related #1349)

[2017-10-04 13:45] rrjanbiah commented on #1345
We can't reproduce this issue

* It is prompting with permission request (access to photo gallery)
* And then, able to choose photo or video

So, closing this now. Will reopen if we get more feedback

[2017-10-04 14:17] fswmlu commented on #1345
How did you choose photo or video? I don't see the button "select" or "ok". (see screenshot above). I testet this option on two mobile phones (iOS 10 and iOS 11) and I got the same result.
You can press the "invisible" button at the top-right corner you will redirect to the main screen, but the file don't be loaded and you will switched to the main screen.

[2017-10-04 14:27] rrjanbiah commented on #1345
@fswmlu Issues we've noted are:

1. Invisible button in top-right corner and top-left corner
2. On clicking invisible button in top-right corner, it uploads, but takes to boards listing page

But definitely upload happens here.

(Reopening for further discussion)

[2017-10-04 14:40] fswmlu commented on #1345
on my mobile phone doesn't work. I tested with 'choose photo' and 'take a photo'. Nothing. It will not be uploaded.

[2017-10-04 15:01] rrjanbiah commented on #1345
@fswmlu Can you please share your mobile model and OS version? Also, approximately, what will be the size of the file?

[2017-10-04 20:35] rkantos commented on #1245
I think this is what was meant:
![Trello CTRL+V example](https://i.imgur.com/HrcbE9K.gif)

Of course it'd be expected this to work with any type of clipboard content.

[2017-10-04 20:39] rkantos commented on #954
Any update for this and the issue referenced above?

[2017-10-05 05:25] lmarikannan commented on #1245
@rkantos Yes. Actually this functionality is available and i.e. we have provided as video here https://www.youtube.com/watch?v=0N1L_mbb2wc. Also according to @morphos88 in this issue #1362, he mentioned that it change the user profile image. But we have tried and its working fine.

[2017-10-05 05:27] lmarikannan commented on #1362
@morphos88 We have tried to reproduce this issue, but its working fine for us. Let me know any other test cases is there?

[2017-10-05 06:12] rrjanbiah commented on #1245
@morphos88 may not be wrong. Reopening for him to provide further details.

[2017-10-05 06:20] rrjanbiah commented on #954
@rkantos Sorry for the delay.

As in #233 do you want to "only" open related card? Or, do you want to "see" related cards?

If you want to see related cards, do you have any UI suggestion? Also, do you have any use cases here?

[2017-10-05 07:04] morphos88 commented on #1362
i try to make video :
![2017-10-05_08h53_43](https://user-images.githubusercontent.com/25505555/31214602-36ae7458-a9ac-11e7-816c-b25a55d01aa4.gif)

[2017-10-05 10:57] rkantos commented on #1245
See, there is an extra step here. In my example gif I don't make a click on the card that I have opened in Trello. In Trello the clipboard contents are just added when you have the card open on the browser tab and press CTRL+V.

Personally I don't really care about this, but just pointing it out.

[2017-10-05 11:17] rkantos commented on #954
@rrjanbiah

There is no need to see the card on the card, though some additional features to also see the name and image that was added first could be handy.

So what is required

- Link cards from other boards and same boards
- Keep the link updated, even if the card is moved to other boards
- Add name after card link

Not necessary but a bonus
- Add checkbox for selection if the name of the card

[2017-10-05 11:27] rrjanbiah commented on #954
@rkantos Thanks a lot for your detailed notes. We'll discuss about this here and get back to you

[2017-10-05 14:17] morphos88 opened #1364 "Featured indicator of unread"
Possibility of having an indicator of unread on the cards

[2017-10-05 14:59] flashfs opened #1365 "Transifex translation Portuguese (Brazil) broken"
## Expected Behavior
I remember I did many translations 4 months ago on Transifex website, so I expect to see them on restyaboard now.

## Current Behavior
I don't see where are my translations. I see many weird translations, like from Google Translate. When I go to Transifex website I really don't see my translations.

## Your Environment
* Version used: 0.5.2

[2017-10-05 15:03] rrjanbiah commented on #1365
@lmarikannan Please give high priority

[2017-10-06 09:16] softb1te commented on #1335
This is our nginx configuration:
server {
        listen 80 default_server;
        listen [::]:80 default_server;
        return 301 https://$host$request_uri;
}

server {

        listen 443 ssl default_server;
        listen [::]:443 ssl default_server;
        include snippets/ssl-example.com.conf; #ssl key
        include snippets/ssl-params.conf;  #ssl parameters

        root /var/www/html;

[2017-10-07 13:00] lmarikannan commented on #1336
Fixed on this commit https://github.com/RestyaPlatform/board/commit/33a16b676391a038cb432a753c69305fdf8a7b41

[2017-10-07 13:00] #1336 closed

[2017-10-08 10:44] ChrisDeChef commented on #1189
+1

[2017-10-09 07:35] fswmlu commented on #1345
@rrjanbiah We tested with iPhone SE, iPhone 5s and iPhone 6s under iOS 10.3.3 and 11.0.2. The images were ca. 20kB - 300kB.

[2017-10-09 07:55] rrjanbiah commented on #1345
@fswmlu Thanks for your information. Over the top of my head, I think, you may have clicked the hidden cancel button (not the hidden OK button). Anyhow, we're also trying to check the issue related to the hidden button from our end.

[2017-10-09 13:18] fswmlu commented on #1345
@rrjanbiah Sorry, but I don't think so. If I click the hidden button cancel, left corner, I switch to previous menu (back function). If I click the button at the top-right corner I'll redirect to the main screen.

[2017-10-09 13:20] rrjanbiah commented on #1345
@fswmlu Checking here. Trying to fix the hidden buttons first.

[2017-10-09 13:21] fswmlu commented on #1345
@rrjanbiah ok, fine! thanks!

[2017-10-10 07:23] lmarikannan commented on #1365
@flashfs Now we're changing and reverted translations on Transifex website, could you please check those changes on transifex website?

[2017-10-10 08:19] rrjanbiah opened #1366 "Getting empty border after moving all cards from a list"
## Current Behavior

When I move all cards from a list, I'm getting some empty borders. Please check screenshot

## Screenshots

![restyaboard-empty](https://user-images.githubusercontent.com/4907427/31376223-cf565a5e-adc1-11e7-93b4-95164f684161.png)

[2017-10-10 10:52] flashfs commented on #1365
I think it's all good now on transifex website.

[2017-10-10 12:17] lmarikannan commented on #1365
@flashfs Thank you for your confirmation. We're closing this.

[2017-10-10 12:17] #1365 closed

[2017-10-10 14:37] orangelynx opened #1367 "Restyaboard White Page No Errors (?)"
I'm setting up my custom docker based version of restyaboard. Please note that this is only remotely based on the "official" docker image, which I don't want to use because it doesn't follow certain docker philosophies. However I think that the problem is (if at all) only inherently docker related.

## Expected Behavior
Login Page when going to board.mydomain.com

## Current Behavior
White Page, n

[2017-10-10 16:02] rrjanbiah commented on #1367
@orangelynx Please note that docker is from third party. However based on your error message, can you please share the response of API calls. Most likely it could be database credentials issue.

[2017-10-11 02:09] orangelynx commented on #1367
Hi,

the response always looks something like this:

`<br />
<b>Fatal error</b>:  Uncaught Error: Call to undefined function pg_connect() in /usr/share/nginx/html/server/php/config.inc.php:60
Stack trace:
#0 /usr/share/nginx/html/server/php/R/r.php(23): require_once()
#1 {main}
  thrown in <b>/usr/share/nginx/html/server/php/config.inc.php</b> on line <b>60</b><br />`

My current suspicion is that

[2017-10-11 04:59] #1367 closed

[2017-10-11 08:42] orangelynx opened #1368 "Mistake in stock nginx restyaboard.conf?"
In the current restyaboard.conf, it has this block

`        location ~ \.json$ {
                root /usr/share/nginx/html/restyaboard/client;
                add_header 'Access-Control-Allow-Origin' "*";
                add_header 'Access-Control-Allow-Credentials' 'true';
        }
`
however, the file structure does not have a restyaboard folder, which leads me to believe it should be just htm

[2017-10-11 08:42] orangelynx opened #1369 "Restyaboard turns white after some time / Cannot modify header information / cookies"
I'm running Restyaboard in a custom docker setup. Everything seems to be working  more or less fine, however after a certain time, I can only see a white screen and when I check the HTTP traffic, I see

`{"username":"admin","expires":"2017-10-11 09:36:51","scope":"read write","client_id":"7742632501382313","error":{"type":"OAuth"}}<br />
<b>Warning</b>:  Cannot modify header information - headers

[2017-10-11 10:39] lmarikannan commented on #1369
@orangelynx Can you please change debug mode to false in this line https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15

[2017-10-11 10:56] orangelynx commented on #1369
I did and reloaded php-fpm. I now see a "proper" json response, which shows an OAuth error. The js log still shows an error `18:55:48.859 TypeError: a is undefined 1 default.cache.c75390c7.js:28:12269`. I will now delete my cookies again and see if the bug persists.

[2017-10-11 13:54] lmarikannan commented on #1369
@orangelynx Could you please tell us, which language you are using in restyaboard?

[2017-10-11 15:53] orangelynx commented on #1369
The problem has occurred again. I'm using Restyaboard in English (UK) if I recall correctly, even though my browser has German signatures. Time zone is Zurich (I noticed there is Zurich two times, that drop down menu should be revised). I also may not have correctly set the time zone for php.

[2017-10-12 13:16] lmarikannan commented on #1368
@orangelynx Sorry for the inconvenience. We've added wrongly these lines on bundled zip. Now this issue is fixed in local `restyaboard.conf` file, and will update in our future release.

[2017-10-12 13:20] orangelynx commented on #1369
I still was not able to fix it. even with setting the correct time zone (Etc/UTC)

[2017-10-12 13:33] lmarikannan commented on #1369
For this issue, can you please refer this link https://github.com/RestyaPlatform/board/issues/1328

[2017-10-12 16:15] rrjanbiah opened #1370 "Edit and delete actions for admin should be placed "not that obviously" in comments listing"
## Current Behavior

From admin login, Edit and Delete actions are placed too closely next to Reply action.

It should not be that too obvious and because of that accidental delete and edit are possible. Better to move it to right with some different colors or so.

[2017-10-15 07:04] orangelynx commented on #1369
My current guess is that something goes wrong when a user tries to access the site with an outdated OAuth token. What should happen is that the user is taken back to the login page, but instead the process just stops.

[2017-10-16 06:35] Erik-eMP opened #1371 "Comments disappearing when moving Cards"
## Expected Behavior
1. Add a comment on a Card 'There is a bug in xxxxx, this should be checked by QA'
2. Move the Card to another Board like 'QA Board'
3. The Card is moved including the comments

## Current Behavior
1. Add a comment on a Card
2. Move the Card
3. The Card is moved, but the comments are discarded
## Screenshots (if appropriate):

## Possible Solution
Let the comments stay on the

[2017-10-19 04:38] rrjanbiah opened #1372 "Outdated oAuth token blanks out page instead of redirecting to login page"
From #1369 by @orangelynx

My current guess is that something goes wrong when a user tries to access the site with an outdated OAuth token. What should happen is that the user is taken back to the login page, but instead the process just stops.

[2017-10-19 05:19] rrjanbiah commented on #1371
@lmarikannan Another user Krill also has mentioned same issue. Have to give high priority.

In my workflow I'm constantly moving cards from board to board and from list to list so that the card is a ticket. And I need their hash-numbers in my off-Internet activity for example I put hash-numbers on clients devices during repair (or just storage) process and so on. So (in Trello I'm using now) probl

[2017-10-21 13:17] darko190 opened #1373 "Import from Trello and Wekan not working, nothing happens"
Hi all

I have been trying to import some boards to Restya, but it doesn't work. Nothing happens, not even an error message.
Tried installing on a few servers and systems and it doesn't work either way.
I have found the troublesome lines:

2544
$utf8_encoded_content = utf8_encode($get_files);
2562
$utf8_encoded_content = utf8_encode($get_files);

I am using Croatian letters ččćžđš in my Trello boa

[2017-10-23 05:25] lmarikannan opened #1374 "Set repeating tasks for particular cards"
From Google Group,

https://groups.google.com/forum/#!topic/restya/kbtr2AC4ReM

[2017-10-23 07:28] lmarikannan commented on #1373
@darko190 While check your log file you got error as `Uncaught Error: Call to undefined function utf8_encode()`. So please install the `php7.0-xml` extension in your server. Please refer, https://stackoverflow.com/questions/35701730/utf8-endecode-removed-from-php7