[2016-08-19 13:09] MrManor opened #768 "cronjob fail on postgresql-9.5"
Running card_due_notification.sh output is:
`root@board:/var/www/restyaboard/server/php/shell# /var/www/restyaboard/server/php/shell/card_due_notification.sh
2016-08-19 15:07:00 #################################################
successfully acquired lock: /var/www/restyaboard/server/php/shell/card_due_notification.lock
PHP Warning:  pg_query_params(): Query failed: ERROR:  operator does not exist:

[2016-08-19 13:19] lmarikannan commented on #768
@MrManor Thanks for your report. We'll fix it soon.

[2016-08-19 14:09] lmarikannan commented on #716
Fixed in dev branch

[2016-08-19 14:09] #716 closed

[2016-08-19 14:19] lmarikannan commented on #742
Fixed in dev branch

already we've added `user_timezone` field in users table `https://github.com/RestyaPlatform/board/blob/master/sql/upgrade-0.2.1-0.3.sql#L1273` on previous release `https://github.com/RestyaPlatform/board/blob/master/sql/upgrade-0.2.1-0.3.sql`. So please execute the query `https://github.com/RestyaPlatform/board/blob/master/sql/upgrade-0.2.1-0.3.sql#L1273` manually.

[2016-08-19 14:19] #742 closed

[2016-08-19 14:28] lmarikannan commented on #768
Fixed in dev branch

[2016-08-19 14:28] #768 closed

[2016-08-19 14:49] rrjanbiah commented on #758
If this is not a duplicate of https://github.com/RestyaPlatform/board/issues/705#issuecomment-231329066 please feel free to reopen with more information.

[2016-08-19 14:49] #758 closed

[2016-08-19 14:50] rrjanbiah commented on #757
@iacsvrn Can you please attach your install log? Most probably, your ElasticSearch may not have properly installed or not started.

[2016-08-19 15:16] rrjanbiah commented on #704
@lmarikannan FYI...

[2016-08-19 15:54] Zimeon- commented on #742
Did you add the headers for encoding?

[2016-08-19 19:22] PZalacain commented on #761
Hello @lmarikannan
I've put debug mode, and here is the data... (Apologize my English)

**Response headers:**
Connection:Keep-Alive
Date:Fri, 19 Aug 2016 19:06:34 GMT
ETag:"13e9fe-871-53a0a6cfa9a00"
Keep-Alive:timeout=5, max=100
Server:Apache/2.2.31 (Unix) mod_ssl/2.2.31 OpenSSL/1.0.1e-fips DAV/2 SVN/1.8.16 mod_bwlimited/1.4

**Response:**
<!DOCTYPE html><html class="no-js" lang="en"><head><meta c

[2016-08-19 19:58] PZalacain commented on #761
Even user data after login:
`{"id":"2","links":"[{\"slug\":\"unstarred_board\"},{\"slug\":\"unstarred_board\"},{\"slug\":\"add_user_profile_picture\"},{\"slug\":\"add_user_profile_picture\"},{\"slug\":\"view_board\"},{\"slug\":\"view_board\"},{\"slug\":\"view_webhooks\"},{\"slug\":\"view_webhooks\"},{\"slug\":\"add_board\"},{\"slug\":\"add_board\"},{\"slug\":\"add_organization\"},{\"slug\":\"add_o

[2016-08-20 10:10] MrManor commented on #768
Thank you. That was quick.
Can I possible test it by backporting to my current install? (I can replace the changed php file, but how about the file containing changes til to the database)

[2016-08-22 05:00] lmarikannan commented on #742
@Zimeon- Already We've added header https://github.com/RestyaPlatform/board/blob/master/server/php/libs/core.php#L679. Now we add meta tag `<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />` in email_templates table

[2016-08-22 05:51] lmarikannan commented on #761
@PZalacain `"error":"invalid_scope","error_description":"An unsupported scope was requested","user"`. Can you please delete the current database, and create a new one, then execute the `https://github.com/RestyaPlatform/board/blob/master/sql/restyaboard_with_empty_data.sql` sql file manually?

[2016-08-22 06:24] lmarikannan commented on #751
Fixed in dev branch

[2016-08-22 06:24] #751 closed

[2016-08-22 06:36] lmarikannan commented on #750
@graebermedien  That will be a good feature. Thanks for your suggestion.

[2016-08-22 06:43] lmarikannan commented on #745
@tchncs Were you able to find solution?

[2016-08-22 06:48] lmarikannan commented on #739
Fixed in dev branch

[2016-08-22 06:48] #739 closed

[2016-08-22 06:53] lmarikannan commented on #733
@Aendrew87 Sorry for the delay...

Thumbnail creation requires ImageMagick or GD. Probably, you may be missing them. Or, there may be some memory issue when it creates thumbnail. Try increasing the memory limit.

Also, img folder needs write permission for saving thumbnails.

Please try enabling debug mode and see if you're getting any error message in the page or in HTTP header.

[2016-08-22 07:43] lmarikannan commented on #726
@Aendrew87 Sorry for delay...

apt-get install `-y` added in some places on `restyaboard.sh` file.

Fixed in dev branch

[2016-08-22 07:43] #726 closed

[2016-08-22 07:52] lmarikannan commented on #719
@BlackDuck888  We are not able to merge your pull request due to conflicts. Can you please resolve the conflicts and update?

[2016-08-22 08:07] BlackDuck888 commented on #719
i can't i have no write access to your repository

copy the file manually, it is just one file https://github.com/BlackDuck888/board/tree/contrib/translation/ger/client/locales/de

[2016-08-22 08:53] gnieark opened #772 "Put the string "Array" ON database when edit Jabber_host parameter"
After setting JABBER_HOST to 'ourhost.jabber.local'

restyaboard=# SELECT value FROM settings WHERE name='JABBER_HOST';
 value
-------
 Array
 Array
 Array
(3 lignes)

[2016-08-22 09:23] tchncs commented on #743
Thank you very much for explanation, yes, i had LDAP enabled, since i started to playing around with openldap.
So this can be closed. :)

[2016-08-22 09:23] #743 closed

[2016-08-22 09:28] tchncs commented on #745
Sorry for my delay.

The dependencies where installed. I am unsure about the memory limit but i can say, that the images where there on some browsers for a short time, and any time using mobile browsers.

No. After a while i became angry and switched to wekan since i needed a reliable solution.
But i am looking forward to come back to restya somewhen.

I needed i can make another restya instance f

[2016-08-22 09:40] gnieark commented on #772
seem to be ever fixed on dev branch.

Sorry

[2016-08-22 09:40] #772 closed

[2016-08-22 15:04] Aendrew87 commented on #733
@lmarikannan How to enable debug mode?

[2016-08-22 15:15] lmarikannan commented on #733
To enable debug mode, please udpate `false` to `true` in https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15 and post HTTP response header and response (In Firebug or Chrome's Developer tool)

[2016-08-22 16:13] PZalacain commented on #761
Wow! I am blind... Of course, I will do right now!
Thanks, let me check and I will post a feedback.

[2016-08-22 17:03] PZalacain commented on #761
Lovely, it's working right now, I could see Admin Panel once, but I'm getting another error right now.
This time from PHP.

Something like:
`[22-Aug-2016 16:49:13 UTC] PHP Warning:  Division by zero in www.restya.wedev.es/server/php/R/r.php on line 1211`

boards.json:
`<br />
<b>Warning</b>:  Division by zero in <b>/home/wedev/public_html/www.restya.wedev.es/server/php/R/r.php</b> on line <b>1211<

[2016-08-23 00:05] KojoePi opened #774 "psql: FATAL: Peer authentication failed for user "postgres""
Hello!
I have an issue during installation on a Debian 8 Server.
Here is the Install log:

[restyaboard_install.txt](https://github.com/RestyaPlatform/board/files/431411/restyaboard_install.txt)

Thanks for your help in advance

[2016-08-23 05:16] lmarikannan commented on #761
@PZalacain, Do not execute v0.3 sql. And please disable debug mode in https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15

[2016-08-23 15:00] Oxis99 opened #775 "PostgresQL authentication issue for the user postgres while script installation"
Hi there,
I've tried to run the script install', all worked but at the line someting went wrong:
++ psql -U postgres -c '\q'
psql: FATAL:  authentification peer échouée pour l'utilisateur « postgres »
++ '[' 2 '!=' 0 ']'
++ echo 'PostgreSQL Changing the permission failed with error code 34'
PostgreSQL Changing the permission failed with error code 34

For info, I've manually created the database,

[2016-08-23 16:21] rrjanbiah commented on #775
Thanks for your kind words. Can you please share your install log? (That will help us to understand what went wrong)

Also, it looks like you've issue with the DB user. Can you please check if you've properly created users and rights?

[2016-08-23 16:36] PZalacain commented on #761
Perfect! Now is working good!
So, the solution is; **Never exesute sql script from phpPgAdmin**

One question more: Where are the language files? I'm trying to fix some Spanish issues.
Thank you.

[2016-08-23 16:48] PZalacain commented on #761
Oh sorry!
Second question, can I change the value of email templates properties?

##SITE_URL## is pointing to my domain, it should point to my **sub**domain.
Restyaboard logo is not loading in the emails.

Thanks again.

[2016-08-23 17:06] Aendrew87 commented on #733
@lmarikannan thx, i will check that tomorrow

[2016-08-23 17:19] Aendrew87 commented on #774
@KojoePi the command `psql -U postgres -c "\q"` returned '2'.

From the psql documentation (https://www.postgresql.org/docs/9.3/static/app-psql.html):

Is postgresql running?
Could you execute the command `psql -U postgres -c "\q"` by yourselfe?

[2016-08-23 19:26] Oxis99 commented on #775
Hi there,
I wrote these commandlines in the debian shell:
$sudo -u postgres psql
postgres=# CREATE USER "user-restya" WITH PASSWORD 'mypass';
postgres=# CREATE DATABASE restya WITH OWNER "user";
postgres=# \quit

I also, tested to connect the postgres user with this command from your script installation:
$psql -U postgres -c "\q"
psql: FATAL:  authentification peer échouée pour l'utilisateur « pos

[2016-08-23 19:32] Oxis99 commented on #775
Maybe I have found something to resolve the issue:
$psql -h 127.0.0.1 -U user-restya mypass -W

[2016-08-23 22:06] Oxis99 commented on #775
I broke my postgresql install...I'll try with a new one.

[2016-08-24 05:03] lmarikannan commented on #761
@PZalacain languages files are in `https://github.com/RestyaPlatform/board/tree/master/client/locales`. Closing this for now. If you get any other issues related this, please feel free to reopen.

[2016-08-24 05:03] #761 closed

[2016-08-24 05:14] lmarikannan commented on #774
@KojoePi It is related to https://github.com/RestyaPlatform/board/issues/262.

Can you please check the database user has privileges for the restyaboard database?

To grant privileges to database,
GRANT ALL PRIVILEGES ON DATABASE restyaboard TO restya;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO restya;
GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO restya;

[2016-08-24 05:16] lmarikannan commented on #757
@iacsvrn Were you able to find solution?

[2016-08-24 06:18] lmarikannan commented on #707
@eddyemmer We are waiting for your reply

[2016-08-24 16:32] rrjanbiah opened #776 "Gantt charts enhancements"
From David Bourgeois via from at https://groups.google.com/d/msg/restya/xdbpj9crdFc/P8BInKgAFQAJ

Not being able to define a start date makes Gantt charts quite unusable. Without going too complicated, simply adding a 'Start Date' would at least show something more relevant as a project schedule overview.

Now my suggestion would be to add a field with the following options:
- OFF: doesn't show th

[2016-08-24 20:32] Aendrew87 commented on #733
@lmarikannan there where a few wrong permissions - I changed them but the medium_thumb on my boards overview was still missing - After updating my profile image the medium_thumb was displayed

Is this working as designed?

[2016-08-25 04:36] lmarikannan commented on #733
@Aendrew87 Yes, this is working as designed. Because medium_thumb did not created without permissions. So need to update profile image, then only it'll be display

[2016-08-25 08:31] iacsvrn commented on #757
[restyaboard_install.zip](https://github.com/RestyaPlatform/board/files/436475/restyaboard_install.zip)

[2016-08-25 08:42] rrjanbiah commented on #775
@Oxis99 Please let us know how it goes

[2016-08-25 08:43] rrjanbiah commented on #774
@KojoePi Closing this for now If you're still facing issue, please feel free to reopen.

[2016-08-25 08:43] #774 closed

[2016-08-25 08:46] rrjanbiah commented on #745
@tchncs Sorry about that. Closing this for now. If you still face this issue, please feel free to reopen.

[2016-08-25 08:46] #745 closed

[2016-08-25 09:39] Oxis99 commented on #775
Hi there, I've run the install script on a debian VM (virtualbox on my Mac), and all gone OK !
On my testing server, even after postgresql reinstallation, the script install failed...
Do you want me to send you the log file ?

[2016-08-25 15:57] Aendrew87 commented on #733
ok, thx

[2016-08-25 15:57] #733 closed

[2016-08-26 06:31] keky opened #777 "Can there show up the real timestamp?"
![image](https://cloud.githubusercontent.com/assets/548338/17996166/a581314c-6b99-11e6-8614-ca455d9436c8.png)

[2016-08-26 07:00] rrjanbiah commented on #777
@keky Yes this is possible. But, this is a common "enhancement" requirement these days :-)

[2016-08-26 07:04] rrjanbiah commented on #714
@darkblinded @Phanvyvt We have decided to add this support. Please stay for next update.

[2016-08-26 07:15] Phanvyvt commented on #714
@rrjanbiah: Thank you so much ^^

[2016-08-26 07:46] lmarikannan commented on #709
@fubujo Were you able to find solution?

[2016-08-26 08:42] rrjanbiah commented on #775
@Oxis99 Yes, please if possible. That will help us to debug easily.

[2016-08-26 08:47] rrjanbiah commented on #732
@Aendrew87 @BlackDuck888 As we're about to work on this ticket, is there any useful information that you may share here? Thanks for your help.

[2016-08-26 10:04] lmarikannan opened #778 "again and again asking for New version update"

[2016-08-26 10:05] lmarikannan opened #779 "Notification email missing in new version"

[2016-08-26 10:31] lmarikannan commented on #768
@MrManor Yes, you can. please execute the changes from this line https://github.com/RestyaPlatform/board/commit/fc58669867877b4ec43793eb14af0ffbbf8914e8#diff-ee2d3f3d96a2f5da2c97cdebbf9944d5R176 to https://github.com/RestyaPlatform/board/commit/fc58669867877b4ec43793eb14af0ffbbf8914e8#diff-ee2d3f3d96a2f5da2c97cdebbf9944d5R271 on your database.

[2016-08-26 10:47] Aendrew87 commented on #732
@rrjanbiah yes, we are discussing the case via mail.

We installed several times and in some cases the chat works (until a reboot) but in many cases the chat does not work.
At the moment there is no solution for this problem and we are still installing and testing.

[2016-08-26 11:06] rrjanbiah commented on #732
@Aendrew87 Many thanks for your note.

[2016-08-26 11:11] BlackDuck888 commented on #732
@rrjanbiah all my installation ended with the errormassage written above (XmppPrebindConnectionException: No encryption supported by the server is supported by this library) in Apache log. i think there is an lib missing or xmppPrebind has a bug, but i can't figure it out.

[2016-08-26 11:51] rrjanbiah commented on #732
@BlackDuck888 Thanks for your note too. Much appreciated.

[2016-08-26 12:13] EllaStique commented on #732
I've gopt a similar proble, with also "XmppPrebindException, cannot connect to service". By checking some files (.../libs/vendors/xmpp-prebind-php/XmppPrebind.php and ...html/restyaboard/server/php/R/r.php)  it looks like the chat needs a password even if no account is created ...

[2016-08-26 12:43] BlackDuck888 commented on #732
@EllaStique i don't know how you installed the restyaboard, but in the origin script is a bug (where dbname and dbuser switched) so restyaboard is not able to connect to the database.

[2016-08-26 12:45] EllaStique commented on #732
@BlackDuck888 Oh, that could be it, I'm going to check, thank you !

[2016-08-27 01:01] Shaxine commented on #548
+1

[2016-08-29 06:48] Zimeon- commented on #776
Partly similar to previous issue: https://github.com/RestyaPlatform/board/issues/701

[2016-08-29 06:53] iacsvrn commented on #757
Any ideas, why it don`t work?

[2016-08-29 08:06] lmarikannan commented on #719
@BlackDuck888 Fixed in dev branch

[2016-08-29 08:06] #719 closed

[2016-08-29 11:32] lmarikannan commented on #779
Fixed in dev branch

[2016-08-29 13:43] michaelmcdonald commented on #728
I ran into the same problem as jofr49 and ran the command that aendrew87 requested. Here is the output of that command:

[code]

Also attached the log.
[restyboard_install.txt](https://github.com/RestyaPlatform/board/files/442504/restyboard_install.txt)

[2016-08-29 15:11] BlackDuck888 commented on #728
@michaelmcdonald you can try my installscript from https://github.com/BlackDuck888/board/tree/contrib/installscript/install maybe this work better for you

[2016-08-29 15:32] lmarikannan commented on #757
@iacsvrn Sorry for delary..

 We checked your restyaboard_install.log. It's related to https://github.com/RestyaPlatform/board/issues/703.

[2016-08-30 18:24] tauu opened #784 "xmpp chat is broken for ldap users"
I noticed that if a ldap user logs into restyaboard, the chat is not able to connect and the folllowing error message is logged to the webservers error.log :

After investigating the issue and searching through the code, I think that restyaboard does not even try to create a xmpp account during the first login of an ldap user.  Therefore initializing the chat later on will never work. Please see [

[2016-08-31 05:33] lmarikannan commented on #784
@tauu Thanks for your report. We'll fix it soon.

[2016-08-31 14:30] iacsvrn commented on #757
Do you think, that search don`t workm because I don`t install?

So, if I had it already, I must remove it?

[2016-08-31 16:31] toddleish opened #785 "Installation Script fails in Ubuntu 14.04"
Hello, I get several errors when running your script in Ubuntu 14.04, and then it fails.  Please see the log below:

++ whoami
root
+++ cat /etc/issue
++ echo Ubuntu 14.04.5 LTS '\n' '\l'
Ubuntu 14.04.5 LTS \n \l
+++ grep 'Ubuntu\|Debian\|Raspbian'
+++ cat /proc/version
+++ sed 's/^.*Ubuntu.*$/Ubuntu/g'
+++ sed 's/^.*Debian.*$/Debian/g'
+++ sed 's/^.*Debian.*$/Debian/g'
+++ sed 's/^.*Raspbian.*$/R

[2016-08-31 17:06] rrjanbiah commented on #757
@iacsvrn Previously when GeoIP folder creation failed, we immediately exited with `exit 1`. And so, subsequent steps got completely ignored.

So, if you use the install script where we have removed this `exit 1`, it will allow you to proceed to subsequent steps.

[2016-08-31 20:13] FilewalkerLuke opened #786 "Ubuntu 15.04"
I think my Server isn´t running the script correct. I get this in console when I run it:

++ whoami
root
+++ cat /etc/issue
++ echo Ubuntu 15.04 '\n' '\l'
Ubuntu 15.04 \n \l
+++ sed 's/^._Ubuntu._$/Ubuntu/g'
+++ sed 's/^._Debian._$/Debian/g'
+++ grep 'Ubuntu|Debian|Raspbian'
+++ sed 's/^._Raspbian._$/Raspbian/g'
+++ sed 's/^._Debian._$/Debian/g'
+++ cat /proc/version
++ OS_REQUIREMENT=
++ '[' '' =

[2016-09-02 06:10] lmarikannan commented on #786
@FilewalkerLuke We have tried to reproduce this issue in local but we cannot able to reproduce it. Can you please double check that?

[2016-09-02 06:23] lmarikannan commented on #785
@toddleish Sorry for the trouble. We came to know that of late Ubuntu is shipping php7 by default and so this is related to that. We're working to test it in Ubuntu.

[2016-09-05 11:56] BlackDuck888 commented on #732
One thing that i could figure out, is that the locales play a role in this issue. If i install my system with us locales it works, if i use the german locales it does not.

what i can't figure out right now, which service (postgre, xmpp-prebind, apache, php) has the problem with the "wrong" locales.  This points for me in direction postgre [https://www.postgresql.org/docs/9.3/static/multibyte.html

[2016-09-06 05:17] Pobux opened #787 "nginx installation failed with error code 2"
Using the Linux install script (first option). First time installation of Restyaboard on a fresh OS.

My distro :
`DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"`

Install information + failure :
[code]

[2016-09-06 05:24] Pobux commented on #787
Not related to restyaboard.

[2016-09-06 05:24] #787 closed

[2016-09-06 15:14] Pobux opened #791 "GET - NetworkError: 404 Not Found - /api/v1/oauth.json"
It seems I have similar issue related to the blank screen.

I'm using Ubuntu 16.04 Server and apache2.

Here's my apache conf :
[code]
Which bring me to client / media / server / sql / tmp root folder.
api_explorer is working fine.

Clicking on "client" triggers the error :
`"NetworkError: 404 Not Found - http://apps.clibre.uqam.ca/api/v1/oauth.json?_=1473174574861"`

I do not know what to do, I r

[2016-09-06 16:17] Pobux commented on #791
I figured out that the restyaboard_apache.sh seems to not pull the .htaccess from the repo. Which was a partial cause of the problem.

I then needed to fix apache2 and enable mod_rewrite.

My new apache configuration looks like this :
[code]

I needed to edit my .htaccess since it was throwing errors related to php_value
[code]
As for now I still have a problem.
`SyntaxError: JSON.parse: unexpecte

[2016-09-09 15:52] rrjanbiah opened #792 "Limits for LDAP import"
By Klaus Vink Slott through forum https://groups.google.com/d/msg/restya/j24ykpSWJlg/CCLUTtXmAgAJ

We are currently running a small test installation on our campus. If it turns out well we might expand usage to  larger parts of the University.

We have successfully connected to our LDAP and are able to login with username/password from LDAP. Profile -> settings -> Name and other data is not import

[2016-09-12 12:03] BlackDuck888 commented on #732
Right now, ist works for me with a plain installation of ubuntu 15.10 or 16.04. I think there are some new packages which fix this problem. Looking to my old test vm it looks like the bosh service was faulty and hasn't work.

@Aendrew87 i think this issue can be closed.

the correct settings were mentions in the second post.

[2016-09-12 14:54] BlackDuck888 commented on #791
@Pobux for me this config is working [https://github.com/BlackDuck888/board/blob/contrib/installscript/install/restyaboard.conf](url)

i think it must be a vhost config! This meas you need the servername var in my config!

i did install just today a new 16.04 for a test, and it worked, did you change anything? you have to access the page over fqdn / vhost name.

[2016-09-12 19:13] Aendrew87 commented on #732
@BlackDuck888 thx for reply - i will check that the next days

[2016-09-13 16:45] Pobux commented on #791
Hey thanks BlackDuck for the reply. It might have been the apache configuration. I did switch to the docker option which was a bit simplier for me. So as for now I can't follow up on this issue since I can't replicate it.

Thanks for the apache fork by the way.

[2016-09-13 16:45] #791 closed

[2016-09-13 20:06] Aendrew87 commented on #732
I testet on my virtual debian system.

The result:
- With the install script from BlackDuck888 and the configuration from above the chat works but after a restart all the existing boards are removed from the chat list (when creating new boards i could use them but they get lost after a reboot too)
- With the original install script i could still not get the chat working (i also tried to use the ej

[2016-09-14 06:30] rrjanbiah commented on #732
@Aendrew87 Thanks for your note. We're trying our best to reproduce it on our end and to fix it once. Will update as early as possible.

[2016-09-14 07:07] Merlin90 opened #793 "User can't confirm the Registration"
Hello,

My users can not use the automatic link to activate their account. The screen just stays white. In the Admin Penal user are always displayed as "unconfirmed" and they can't add other users to their boards.

greetings
Merlin

[2016-09-14 11:07] BlackDuck888 commented on #732
@rrjanbiah i can confirm this bug under debian. I set up a new machine and facing into the same problem.

it looks like thats some db activities can't set, and then a rollback is done.

2016-09-14 13:00:07 CEST [902-1] ejabb@ejabberd LOG:  Anweisung: SELECT oid, typname FROM pg_type
2016-09-14 13:00:07 CEST [900-1] ejabb@ejabberd LOG:  Anweisung: SELECT oid, typname FROM pg_type
2016-09-14 13:00:0

[2016-09-14 12:15] BlackDuck888 commented on #732
extention to my post befor, ubuntu 15.10 shows the similar error in log, but no ROLLBACK.
And the chatrooms are avaible after a reboot of the server, but a board which is created before xmpp is configured in settings will never be created.

[2016-09-14 13:09] Merlin90 opened #794 "Admin change password"
Hello,

i want, as an admin, change the passwords of my user. Is this possible?

Greetings

[2016-09-14 18:16] Aendrew87 commented on #732
@rrjanbiah if you could not reproduce i could share my debian vm with you

[2016-09-15 15:32] rrjanbiah commented on #794
@Merlin90 Sorry, currently not possible

[2016-09-15 15:34] rrjanbiah commented on #793
@Merlin90

Can you please check if you're referring to #487 ?

[2016-09-18 11:07] Budo1 opened #795 "Ubuntu 16.04 64bit"
Hi,
I have fresh Ubuntu 16.04 64bit LTS installed on VMWare Player (Virtual Machine).
Then I got the script:
wget https://github.com/RestyaPlatform/board/raw/master/restyaboard.sh --no-check-certificate
then
chmod +x restyaboard.sh
then
sudo ./restyaboard.sh

log below:
./restyaboard.sh: 10: ./restyaboard.sh: [[: not found
+ whoami
root
+ cat /etc/issue
+ echo Ubuntu 16.04 LTS \n \l
Ubuntu 16.04 L

[2016-09-18 11:10] Budo1 commented on #693
when are you going to fix the problem on ubuntu?
can you advise what linux distribution is the best for linux?
(fedora doesen't wor either)
Bud

[2016-09-19 07:12] Merlin90 commented on #794
@rrjanbiah why? Isn't it enough, if the admin had permission to edit the profiles of all users?

[2016-09-19 07:19] Merlin90 commented on #793
@rrjanbiah i diddn't got an error, only 2 warnings:
`mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Object.create default.cache.a331c8c3.js:31:19039`

`getPreventDefault() should no longer be used. Use defaultPrevented instead.`

[2016-09-19 11:25] mirhat commented on #721
@sixmokes Did you solve your problem on Ubuntu 14.04?

[2016-09-19 11:36] BlackDuck888 commented on #795
@Budo1 You can try my modded install script, whicht works much better, but i am not fully finish with it.

https://github.com/BlackDuck888/board/blob/contrib/installscript/install/restyaboard_apache.sh

[2016-09-19 12:31] lmarikannan commented on #795
@Budo1 Sorry for the trouble. We came to know that of late Ubuntu is shipping php7 by default and so this is related to that. We're working to test it in Ubuntu.

[2016-09-19 12:39] lmarikannan commented on #793
@Merlin90 Thanks for your report. We'll fix it soon.

[2016-09-19 12:44] lmarikannan commented on #786
@FilewalkerLuke We're waiting for your reply

[2016-09-19 12:52] lmarikannan commented on #784
Fixed in dev branch

[2016-09-19 12:52] #784 closed

[2016-09-19 13:17] lmarikannan commented on #775
@Oxis99 We're waiting for your reply

[2016-09-19 13:18] lmarikannan commented on #777
@keky  Closing this for now. If you get any other issues related this, please feel free to reopen.

[2016-09-19 13:19] keky commented on #777
Is there any solution now?

[2016-09-19 13:20] lmarikannan commented on #757
@iacsvrn Were you able to find solution?

[2016-09-19 13:36] lmarikannan commented on #721
@mirhat Sorry for the trouble. We are working on it and will update you shortly.

[2016-09-19 13:56] rrjanbiah commented on #794
@Merlin90 This feature can be added. But, for majority of the users, this may not be a needed features. Anyway, will consider that too.

[2016-09-19 14:16] rrjanbiah commented on #777
@lmarikannan Can you please mention how to disable it for @keky ?

[2016-09-19 14:28] lmarikannan commented on #777
@keky You can show up the real timestamp by remove `timeago` class from this line https://github.com/RestyaPlatform/board/blob/master/client/js/templates/activity.jst.ejs#L89.

[2016-09-20 11:23] wruijter opened #796 "XSS in board comment"
Hey guys,

There is an XSS in your demo site, I think it also resides in the current version.
When opening a cart and adding an activity, the input:
`<script>alert('xss test')</script>`
will give you xss.

![426240765_82268_11656400246875368572](https://cloud.githubusercontent.com/assets/7447090/18668384/5d216732-7f35-11e6-9c01-2278a3ca1786.jpg)

[2016-09-20 20:40] eliassilvaa opened #797 "Can't install using the auto-installer. [Debian 8.6 x64 - CentOS 7.2 x64]"
Hello,

Today I wanted to install Restyaboard using the auto-installer. However, the install always ends with an error.

Processing triggers for libc-bin (2.19-18+deb8u6) ...
+ [ 0 != 0 ]
+ hash pecl/geoip
+ echo extension=geoip.so
+ mkdir -v /usr/share/GeoIP
mkdir: cannot create directory ‘/usr/share/GeoIP’: File exists
+ [ 1 != 0 ]
+ echo GeoIP folder creation failed with error code 52
GeoIP fol

[2016-09-21 06:36] sathya313 opened #798 "[QA] After starred the boards, it duplicates the same board."
URL: http://boardalpha.demo.restya.com/#/boards/starred
## Steps to Reproduce:
1. Login as user. (board/testing)
2. After starred the boards, it duplicates the same board.

Refer the attachment.
![starred_duplicate_boards](https://cloud.githubusercontent.com/assets/14884895/18700229/badc2f56-7ff3-11e6-8271-3bc5610c5715.png)
![starred_issue9-21-2016 11-58-16 am](https://cloud.githubusercontent.com/

[2016-09-21 06:45] sathya313 opened #799 "[QA] In home page, dashboard, click on organizations button. need to display "No Organizations""
In home page, dashboard, click on organizations button need to display "No Organizations"

Refer the attachment
![no_organizations9-21-2016 12-12-03 pm](https://cloud.githubusercontent.com/assets/14884895/18700467/140448c4-7ff5-11e6-83db-adb6732f1beb.png)

[2016-09-21 07:42] sathya313 opened #800 "[QA] After login through github, and clicked import button. its keep on loading."
## Steps to Reproduce:
1. After login through github, and clicked import button. its keep on loading for long time.

Refer the attachment.
![github_issue9-21-2016 12-56-53 pm](https://cloud.githubusercontent.com/assets/14884895/18701930/fd8d4570-7ffc-11e6-805c-946e2f2127e9.png)

[2016-09-21 09:02] sathya313 opened #801 "[QA] Unable to drag the cards from one list to another list. Its very difficult to move."
URL: http://boardalpha.demo.restya.com/#/board/24

Steps to Reproduce:
---------------------
1. Login as user. (board / testing)
2. Unable to drag the cards from one list to another list. Its very difficult to move.

Refer the attachment.
![card_move_issue](https://cloud.githubusercontent.com/assets/14884895/18704492/b5848e22-8007-11e6-8b4e-e203d7e19704.png)

[2016-09-21 09:19] sathya313 opened #802 "[QA] While adding members to the board. After choosen the name, taken time to close the pop up."
URL: http://boardalpha.demo.restya.com/#/board/24

Steps to Reproduce:
----------------------
1. Login as user. (board / testing)
2. While adding members to the board. After choosen the name, taken time to close the pop up.

Refer the attachment.
![after_member_chosen_pop_not_closed](https://cloud.githubusercontent.com/assets/14884895/18705115/8e6f5058-800a-11e6-8ca8-069bb3344728.png)

[2016-09-21 09:47] sathya313 opened #803 "[QA] After removed the member from the card, again refreshed the board the same member is displayed in the card."
URL: http://boardalpha.demo.restya.com/#/board/19

Steps to Reproduce:
--------------------
1. Login as user. (board / testing)
2. After removed the member from the card, again refreshed the board the same member is displayed in the card.

Refer the attachment.
![member_issue_01](https://cloud.githubusercontent.com/assets/14884895/18706153/81f24638-800e-11e6-8ed8-8f9449076e31.png)
![Uploading memb

[2016-09-21 10:08] sathya313 opened #804 "[QA] After the changed the organizations name, Its not updated in the organizations dropdown lists."
URL: http://boardalpha.demo.restya.com/#/organizations
## Steps to Reproduce:
1. Login as user. (board / testing)
2. After the changed the organizations name, Its not updated in the organizations drop down lists.

Refer the attachment.
![org_name_issue](https://cloud.githubusercontent.com/assets/14884895/18706897/6aec7ec4-8011-11e6-8b5a-98da6f064c43.png)
![Uploading org_name_issu.png…]()
![Uploadi

[2016-09-21 10:30] sathya313 opened #805 "[QA] In boards homepage, hover design issue."
In boards homepage, hover design issue.

Refer the attachment.
![design_issue](https://cloud.githubusercontent.com/assets/14884895/18707597/76ea7462-8014-11e6-948a-f54bf167266b.png)

[2016-09-21 10:50] sathya313 opened #806 "[QA] In card activity page, after edit the comment, close icon is not working."
Steps to Reproduce:
---------------------
1. Login as user. (board / testing)
2. In card activity page, after edit the comment, close icon is not working.

Refer the attachment.
![close_icon_not_working](https://cloud.githubusercontent.com/assets/14884895/18708182/3dea2858-8017-11e6-8166-b44d6c187a16.png)

[2016-09-21 11:12] sathya313 opened #807 "[QA] Once click on user avatar icon from activities page, It redirected to an empty profile tab page."
URL: http://boardalpha.demo.restya.com/?organization_id=5#/board/24/card/773

Steps to Reproduce:
----------------------
1.  Login as user. (board / testing)
2. Once click on user avatar icon from activities page, It redirected to an empty profile tab page.

Refer the attachment.
![in_profile_laod_more_activities_issue](https://cloud.githubusercontent.com/assets/14884895/18708789/42e2f030-801a-11e

[2016-09-21 11:32] srileka opened #808 "[QA] In signup page the email validation is not proper."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/
2.Click register
3.Enter the invalid email
4.The user is successfully registered.
## Expected Result:

Need email validation.

Refer the attachment
![the user successfully registered](https://cloud.githubusercontent.com/assets/14290356/18709302/2335ecd0-801d-11e6-9ae8-5b70745eac63.png)
![in signup page the email validation is not pr

[2016-09-21 11:33] sathya313 opened #809 "[QA] While searching emoji design issue. need scroll bar in listed emoji's drop down."
URL: http://boardalpha.demo.restya.com/?organization_id=5#/board/24/card/773
## Steps to Reproduce:
1. Login as user. (board / testing)
2. While searching emoji design issue. need scroll bar in listed emoji's drop down.

Refer the attachment.
![Uploading emoji_liested_page_design_issue.png…]()
![emoji_listed_issue](https://cloud.githubusercontent.com/assets/14884895/18709345/4b96ab7e-801d-11e6-9a9

[2016-09-21 11:40] sathya313 opened #810 "[QA] Add a member name to the edit box, by default it will display in activity comment box."
## Steps to Reproduce:
1. After edit the added comment.
2. Then delete all the content,
3. Add a member name to the edit box, by default it will display in activity comment box.

![by_default_it_displayed_member_twice](https://cloud.githubusercontent.com/assets/14884895/18709543/49bf4148-801e-11e6-9a31-645f28179928.png)
![Uploading comment_member_name_issue.png…]()
Refer the attachment.

[2016-09-21 11:41] srileka opened #811 "[QA] If click shortcuts the bullets displayed at the left corner."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as board002 // testing
3.If click shortcuts the bullets displayed at the left corner.

Refer the attachment
![if click shortcuts the bullets displayed at the left corner](https://cloud.githubusercontent.com/assets/14290356/18709581/7ac877e6-801e-11e6-9cc9-1cdc9a0c1480.png)

[2016-09-21 11:53] sathya313 opened #812 "[QA] In settings page for timezone field, need autoloader."
URl: http://boardalpha.demo.restya.com/?organization_id=5#/user/26/settings
## Steps to Reproduce:
1. In settings page for timezone field, need auto loader.

Refer the attachment.
![time_zone_issue](https://cloud.githubusercontent.com/assets/14884895/18709921/1f98a6d2-8020-11e6-942c-668f4fa4ec8f.png)

[2016-09-21 12:08] sathya313 opened #813 "[QA]Copy list functionality is not working."
Copy list functionality is not  working.

Refer the attachment.
![copy_list_functionality_not_working](https://cloud.githubusercontent.com/assets/14884895/18710303/231b1252-8022-11e6-93d9-93f20c151078.png)

[2016-09-21 12:30] srileka opened #814 "[QA] If click the chat icon the popup not opened."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as board002 // testing
3.If click the chat icon the popup not opened.

refer the attachment
![if click the chat icon the popup not opened](https://cloud.githubusercontent.com/assets/14290356/18710923/384a3e16-8025-11e6-8b1c-6f7a1a1bb7b9.png)

[2016-09-21 12:33] srileka opened #815 "[QA] In instant add card popup without fill the details click save button an error message displayed is hided."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as board002 // testing
3.Click instant add card button.
4. In instant add card popup without fill the details click save button an error message displayed is hided.

Refer the attachment
![in instant add card popup without fill the details click save button an error message displayed is hided](https://cloud.githubuse

[2016-09-21 12:39] srileka opened #816 "[QA] In find boards by name search field if enter any letter the scroll is displayed."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/
2.Login as board002 // testing
3.Click boards dropdown in footer
4.In find boards by name search field if enter any letter the scroll is displayed.

Refer the attachment
![in find boards by name search field if enter any letter the scroll is displayed](https://cloud.githubusercontent.com/assets/14290356/18711208/74de910a-8026-11e6

[2016-09-21 12:52] srileka opened #817 "[QA] In about page the version and date not updated."
Steps to reproduce:
-------------------------
1.URL: http://boardalpha.demo.restya.com/#/about
2.In about page the version and date not updated.

refer the attachment
![in about page the version and date not updated](https://cloud.githubusercontent.com/assets/14290356/18711601/5bf5f3b6-8028-11e6-8eb4-b3eeb8279d6b.png)

[2016-09-21 13:05] srileka opened #818 "[QA] In board view page if click the add a list field layout anywhere the add list should open."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/board/25
2.Login as board002 // testing
3.Click Test Board
4.In board view page if click the add a list field layout anywhere the add list should open.

refer the attachment
![in board view page if click the add a list field layout anywhere the add list should open](https://cloud.githubusercontent.com/assets/14290356/18712034/24224

[2016-09-21 13:15] sathya313 opened #819 "[QA] In activities messages not proper after added auto archive days."
Steps to Reproduce:
---------------------
1. Login as user. (board / testing)
2. In list additional settings, after added the auto archive days.
3. In activities messages not proper.

Refer the attachment.
![while-adding_auto_archive](https://cloud.githubusercontent.com/assets/14884895/18712297/6cc726da-802b-11e6-9c11-108f10de1a8e.png)
![auto_archive_activities_issue](https://cloud.githubuserconte

[2016-09-21 13:15] Merlin90 commented on #797
i have the same Problem :(

[2016-09-21 13:18] srileka opened #820 "[QA] In card details page the actions menus alignments are not proper."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/board/25/card/779
2.Login as board002 // testing
3.Click Test Board
4.Click any one card
5.In card details page the actions menus alignments are not proper.
## Expected Result:

1.Need left alignment

Refer the attachment
![in card details page the actions menus alignments are not proper](https://cloud.githubusercontent.com/assets/

[2016-09-21 13:29] srileka opened #821 "[QA] In card detail page for copy action the keep... heading should change as copy to..."
Steps to reproduce:
-------------------------
1.URL: http://boardalpha.demo.restya.com/#/board/25/card/780
2.Click Test Board
3.Click any card
4.In card detail page for copy action the keep... heading should change as copy to...

Refer the attachment
![in card detail page for copy action the keep heading should change as copy to](https://cloud.githubusercontent.com/assets/14290356/18712767/775e1db

[2016-09-21 13:46] srileka opened #822 "[QA] If pop in the card the issue: thanks! help fix? dropdown is displayed."
Steps to reproduce:
-------------------------
1.URL: http://boardalpha.demo.restya.com/#/board/25/card/780
2.Login as board002 // testing
3.Click Test Board
4.Click any card
5. If pop in the card the issue: thanks! help fix? the dropdown is displayed.

Refer the attachment
![in card details page click pop in](https://cloud.githubusercontent.com/assets/14290356/18713408/de64dffe-802f-11e6-8283-92dd

[2016-09-21 14:05] sathya313 opened #823 "[QA] Open any card while adding checklist, after clicked add button, pop up is not closing."
URL: http://boardalpha.demo.restya.com/#/board/24/card/785

Steps to Reproduce:
---------------------
1. Login as user. (Board / testing)
2. Open any card while adding checklist, after clicked add button, pop up is not closing.

refer the attachment.
![checklist_issue](https://cloud.githubusercontent.com/assets/14884895/18713982/e54e3106-8031-11e6-9df8-36d7875bdbea.png)

[2016-09-22 05:52] sathya313 opened #824 "[QA] In list Subscribed icon alignment issue."
In list Subscribed icon alignment issue.

Refer the attachment.
![subscribed_alignment_issue](https://cloud.githubusercontent.com/assets/14884895/18738166/d3c7e532-80b6-11e6-92f1-4e17727d867e.png)

[2016-09-22 06:23] sathya313 opened #825 "[QA] After keep on clicking on votes icon, it increases the votes count."
URL: http://boardalpha.demo.restya.com/#/board/24/card/785

Steps to Reproduce:
----------------------
1. Login as user. (board / testing)
2. After keep on clicking on votes icon, it increases the votes count.

Refer the attachment.
![votes_issue_9-22-2016 11-51-24 am](https://cloud.githubusercontent.com/assets/14884895/18738633/1592c212-80bb-11e6-88d7-7ecf74f8a445.png)

[2016-09-22 07:03] sathya313 opened #826 "[QA] Once deleted all the attachments, it should display information as "No attachments found""
URL: http://boardalpha.demo.restya.com/#/board/24
## Steps to Reproduce:
1. Login as user. (board / testing)
2. Once deleted all the attachments, it should display information as "No attachments found"

Refer the attachment.
![attachments_message_issue](https://cloud.githubusercontent.com/assets/14884895/18739305/2ec0f2b8-80c0-11e6-87d7-9286a16463b6.png)
![attachments-issue](https://cloud.githubus

[2016-09-22 07:21] sathya313 opened #827 "[QA] home page footer search is not working."
home page footer search is not working.

Refer the attachment.
![restyaboard_footer_search_not-working](https://cloud.githubusercontent.com/assets/14884895/18739726/398e54c6-80c3-11e6-8523-49aa6c48bd21.png)

[2016-09-22 07:31] sathya313 opened #828 "[QA] After clicking load more button everytime, its keep on loading and duplicate the same activities."
![load_more_activities_issue](https://cloud.githubusercontent.com/assets/14884895/18739963/bd8da582-80c4-11e6-8aa6-05ca26d6df54.png)
URL: http://boardalpha.demo.restya.com/#/user/26/profile

Steps to Reproduce:
---------------------
1. Login as user. (board / testing)
2. After clicking load more button everytime, its keep on loading and duplicate the same activities.

Refer the attachment.

[2016-09-22 07:44] sathya313 opened #829 "[QA] After clicked on chat, chat window is not displayed."
URL: http://boardalpha.demo.restya.com/#/user/26
## Steps to Reproduce:
1. Login as user. (board / testing)
2. After clicked on chat, chat window is not displayed.

Refer the attachment.
![chat_window_not_displayed](https://cloud.githubusercontent.com/assets/14884895/18740265/77c9e6d0-80c6-11e6-8f07-acfcee2cbb76.png)

[2016-09-22 09:49] srileka opened #830 "[QA] In archived items if there is no cards available the delete all button should be hided."
Steps to reproduce:
-------------------------
1.URL: http://boardalpha.demo.restya.com/#/board/25
2.Login as board002 // testing
3.Click Test Board
4.Click any card and archive the card.
5.In archived items if there is no cards available the delete all button should be hided.

Refer the attachment
![in archived items if there is no cards available the delete all button should be hided](https://clo

[2016-09-22 09:57] srileka opened #831 "[QA] In card detail page after added the activity and click the delete button its not working."
Steps to reproduce:
-------------------------
1.URL: http://boardalpha.demo.restya.com/#/board/25/card/782
2.Login as board002 // testing
3.Click Test board
4.Click any card
5.In card detail page add the comments
6.After added the comment click delete button its not working.

Refer the attachment
![in card detail page after added the activity and click the delete button its not working](https://cl

[2016-09-22 10:01] srileka opened #832 "[QA] After added the comment click edit button, once the edit field opened click close icon its not working."
Steps to reproduce:
--------------------------
1.URL: http://boardalpha.demo.restya.com/#/board/25/card/782
2.Login as board002 // testing
3.Click Test board
4.Click any card
5.In card detail page add the comments
6.After added the comment click edit button.
7.Once the edit field opened click close icon its not working.

Refer the attachment
![once edit the close button not working](https://cloud.

[2016-09-22 10:03] sathya313 opened #833 "[QA] In instant card after entered "a" in search field, displayed results design was broken."
URL: http://boardalpha.demo.restya.com/#/user/26/profile
## Steps to Reproduce:
1. Login as user. (board / testing)
2. In instant card, while adding member after entered "a" in search field, displayed results design was broken.

refer the attachment.
![search_design_issue](https://cloud.githubusercontent.com/assets/14884895/18744056/dd16dd00-80d9-11e6-99ae-537c8032ce1c.png)
![instant_card_search_d

[2016-09-22 10:30] srileka opened #834 "[QA] In admin dashboard for this week and last week filter need splitter lines for days identification"
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as admin // restya
3.In admin dashboard for this week and last week filter need splitter lines for days identification
Refer the attachment
![in admin dashboard for this week filter need splitter lines for days identification](https://cloud.githubusercontent.com/assets/14290356/18745012/2eda7800-80de-11e6-919b-990036

[2016-09-22 10:40] sathya313 opened #835 "[QA] If one made changes in the board, its not reflected in another user for the same board, within the proper time frame."
![drag_card_list](https://cloud.githubusercontent.com/assets/14884895/18745489/fa6aeb52-80df-11e6-8df8-1451ecedb686.png)
## Steps to Reproduce:
1. Login user. (board / testing)
2. board was shared to the other member. (board01 /  testing)
3. Shared board name was "Test board"
4. Both the users are in online and working in same board.
5. If one made changes in the board, its not reflected in anothe

[2016-09-22 10:55] srileka opened #836 "[QA] In admin dashboard for overall block if click the filter records not displayed."
Steps to reproduce:
--------------------------
1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as admin // restya
3.In admin dashboard for overall block if click the filter records not displayed.

Refer the attachment
![in admin dashboard for overall block if click the filter records not displayed](https://cloud.githubusercontent.com/assets/14290356/18745778/355d78f0-80e1-11e6-8ed2-16e3d

[2016-09-22 11:00] srileka opened #837 "[QA] In overall filters and unassigned filter page if scroll down fraction of seconds all the board displayed"
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/search/due:unassigned
2.Login as admin // restya
3.In overall filters and unassigned filter page if scroll down fraction of seconds all the board displayed.

Refer the attachment
![in overall filters and unassigned filter page if scroll down fraction of seconds all the board displayed](https://cloud.githubusercontent.com/assets/142

[2016-09-22 11:02] sathya313 opened #838 "[QA] After added image from google drive. Image was not displayed properly."
URL: http://boardalpha.demo.restya.com/#/board/24/card/777

Steps to Reproduce:
--------------------------
1. Login as user. (board01 / testing)
2.
![drop_box-issue](https://cloud.githubusercontent.com/assets/14884895/18745892/d339e52c-80e1-11e6-9885-44b110a85a32.png)
After added image from google drive. Image was not displayed properly.

Refer the attachment.

[2016-09-22 11:51] sathya313 opened #839 "[QA] While opening any card is not opening at a single stretch."
URL: http://boardalpha.demo.restya.com/?name=delete#/board/24/card/785

Steps to Reproduce:
--------------------------
1. Login as user (board / testing)
2. While opening any card is not opening at a single stretch.

[2016-09-22 12:10] sathya313 opened #840 "[QA] After clicked subscribe button, there is no proper successful flash message."
URL: http://boardalpha.demo.restya.com/#/board/24/card/770

After clicked subscribe button, there is no proper successful flash message.

Refer the attachment.
![subscribe_issue](https://cloud.githubusercontent.com/assets/14884895/18747571/aeddd0c6-80eb-11e6-8178-18e8468088e1.png)

[2016-09-22 12:23] Budo1 commented on #795
@BlackDuck888 thank you for the script.
Can you please write what is not finished or what is not working in the script? What problems may arise when I use your script?

Which version of Ubuntu did you use ? Which is the best?

regards
Bud

[2016-09-22 12:31] srileka opened #841 "[QA] Once change the role permission for user its not reflected to user properly. Once logout the user only its working"
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as admin // restya in one browser and login as board002 // testing in another browser.
3.In admin change the role permission for users.
4.In user refresh and ctrl + F5 the page and check the changed permission is not working properly.
5.Once logout the user only its working.

Refer the attachment
![the new board opti

[2016-09-22 12:50] BlackDuck888 commented on #795
@Budo1
One thing i did get work right now is, that i have to create a board in the installation process, because restayaboard with php7 dont work if there is no board, for these first board i am not able to create a ejabber chat channel right now. Workaround create an other board and delete the "Board" createt at installation.

I use Ubuntu 16.04. I don't know which is best, i prefer the current v

[2016-09-22 13:12] sathya313 opened #842 "[QA] After clicked unassigned button, it redirected to "No Records found" page."
URL: http://boardalpha.demo.restya.com/#/boards

Steps to Reproduce:
--------------------------
1. Login as user. (board / testing)
2. From user dsashboard after clicked unassigned button, it redirected to "No Records found" page.

Refer the attachment.
![unassigned_button](https://cloud.githubusercontent.com/assets/14884895/18749409/59f1a08e-80f4-11e6-87a3-2a83a048b423.png)

[2016-09-22 13:39] srileka opened #843 "[QA] In activity layout click comments icon if no comments the message should displayed as no record found"
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/board/28
2.Login as board003 // testing
3.Click the notification icon.
4.In activity layout click comments icon  if no comments the message should displayed as no record found

Refer the attachment
![if no comments the message should displayed as no record found](https://cloud.githubusercontent.com/assets/14290356/18750266/11f2016c

[2016-09-23 07:52] MrTee1979 commented on #693
Look at
https://github.com/RestyaPlatform/board/issues/795

[2016-09-23 12:19] AmirMeirbekov opened #844 "Docker installation fails at Step 13: COPY docker-entrypoint.sh /"
I am following instructions on getting up and running Restya board with docker. I receive the following error at `Step 13` of Dockerfile
[code]

[2016-09-26 08:46] AmirMeirbekov commented on #844
I tried on another server and it worked, not sure what was the problem

[2016-09-26 08:46] #844 closed

[2016-09-27 09:02] Budo1 commented on #795
@BlackDuck888 Thank you.

[2016-09-27 09:02] #795 closed

[2016-09-29 06:09] gnoble opened #845 "I want to add some new field to card ?"
hello,
please let me know how can i add new fields to card , my client wants modification (php), i want to know how can i modify it
thanks

[2016-09-29 12:54] rrjanbiah commented on #845
@gnoble You may refer to our "Estimated Time Custom Field" app code as a starting point to use custom fields API

[2016-09-30 07:09] gnoble commented on #845
I want to add one custom field like Question? yes / no if no then one textbox appear and it will store with card , can you help me here
thanks

[2016-10-04 12:27] fwolfst commented on #785
Duplicate of https://github.com/RestyaPlatform/board/issues/721

[2016-10-04 12:36] fwolfst commented on #721
@rrjanbiah Some issue here. Note that the issue occurs on ubuntu 14.04 which ships with php5, afaik.

There are three versions of php5-imap found by my bare ubuntu 14.04 VM. I tried the following:

- install a non-conflicting php5-imap version manually with
  `sudo apt install php5-imap="5.4.6-0ubuntu5"`
- commented out all the parts of the install-script that were run already (including the php5-

[2016-10-04 13:47] fwolfst commented on #79
I agree on issues with
1) the verbosity of the messages (is "User records not found" better than "LDAP connection failed"? What means what?)
2) Unclarity what to enter in the text inputs ("v3" or "3", "ldap://192.168.1.11" or "192...."?), which could relatively simply be improved by an improved help text
3) debuggibility. A "test" button and/or location of a log file with relevant entries would be

[2016-10-04 14:28] fwolfst commented on #79
I will not be able to spend a lot of time, but if somebody provides me with a one-liner how I can output some debug message (into nginx or php log file), I could invest some minutes into checking what happens in `core.php#ldapAuthenticate` and debug my issue (openldap/posixAccount).

[2016-10-04 14:46] rrjanbiah commented on #79
@fwolfst Not sure, if you're asking PHP's `error_log()` function http://php.net/manual/en/function.error-log.php

[2016-10-04 14:56] fwolfst commented on #79
Well I got the log-in functionality working. What actually did not (yet) work is the "import users" function.

[2016-10-04 15:01] fwolfst commented on #79
And I do not get the architecture by skimming through the source files. Where would I have to search for the code actually executed by click on "Import users"?

[2016-10-04 15:05] rrjanbiah commented on #79
@fwolfst It is here https://github.com/RestyaPlatform/board/blob/master/server/php/R/r.php#L2951

Yes, code refactoring is in pipeline.

[2016-10-04 15:11] fwolfst commented on #79
Ok, so to me it looks as if the "Import users" process ignores the settings for user filter/attribute and assumes ActiveDirectory Style. For example in my case instead of `samaccountname` `uid` should be used (which can be configured in the ldap configuration) - but I might be mistaken.

[2016-10-05 10:56] JDennis1987 commented on #548
any updates?

[2016-10-05 10:59] rrjanbiah commented on #548
@JDennis1987 We're looking for sponsors through [![Bountysource](https://api.bountysource.com/badge/issue?issue_id=32288257)](https://www.bountysource.com/issues/32288257-mysql-support?utm_source=32288257&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2016-10-05 19:38] Xqua commented on #844
I have the same problem ... this is so weird ... the file is in the directory ...

[2016-10-06 08:41] donat1 opened #846 "Upgrade from version 0.2.1 to 0.3 fails"
Hi

The installation script failes on my debian system for an upgrade from 0.2.1 to 0.3. Any ideas?
Here my install.log
[code]

[2016-10-06 15:57] fwolfst opened #847 "restyaboard.sh installation script contains duplicate geoip-fetching code"
The restyaboard.sh script contains lots of duplicate code (and some bashisms). An easy example is the GeoIP-data fetching code.

[2016-10-06 16:09] fwolfst commented on #829
I assume that the interplay with ejabberd is not correctly configured. If thats the case I would opt for either have a crossed-out chat icon if no chat server is configured or get rid of the icon alltogether in that case.

[2016-10-06 16:10] fwolfst commented on #827
I face the same issue and guess that elasticsearch is not correctly set up. In that case imho the interface should reflect that change (have a crossed out search icon, or get rid of it alltogether).

[2016-10-06 16:14] rrjanbiah commented on #827
@fwolfst That's a very good suggestion

[2016-10-06 16:15] rrjanbiah commented on #829
@fwolfst ejabberd may not be always the reason. We strongly believe that it is something to do with the client library we have used, as we have configured live xmpp server that we connect internally.

[2016-10-06 22:37] 88fingerslukee opened #849 "LDAP Import Problem"
Forgive me if this is answered somewhere else but I can't import LDAP users. The Import button just keeps loading and loading forever.

I installed using the docker setup so I have no idea where to view logs. Can somebody please help?

See image of settings below.

![restya ldap issue](https://cloud.githubusercontent.com/assets/2788639/19196923/3c23ad44-8c6c-11e6-8fcb-821f69b88608.PNG)

[2016-10-10 10:08] keky commented on #777
@lmarikannan very thx for your help!

[2016-10-12 08:20] basti122303 opened #850 "Use relative links in index.html"
Hello, please use relative links in index.html for more flexible installations.
<link rel="stylesheet" href="./css/
var api_url = './api/v1/';
var template_url = './client/';

Best Regards,
Basti

[2016-10-13 12:23] lmarikannan commented on #817
@srileka No need to change version and date, because last version `v0.3` released on `June 30, 2016`. Please refer http://restya.com/board/changelog. So Closing this for now

[2016-10-13 12:23] #817 closed

[2016-10-14 07:54] ssivachidambaram opened #851 "Moving a card - as seen by other user"
I have difficulty understanding the rationale behind how moving a card, is shown on other desktops.

I my test setup I made a board and shared it with a colleague. On the board I made some lists and added a card to one list. When my colleague moves the card to another list on his view of the board, then on my view, it "shakes" and is highlighted a short while - but stays in the current list. Only

[2016-10-14 09:48] ssivachidambaram commented on #673
Filter by activities and comments implemented in v0.3.

[2016-10-14 09:48] #673 closed

[2016-10-14 09:48] ssivachidambaram commented on #663
Filter by activities and comments implemented in v0.3.

[2016-10-14 09:48] #663 closed

[2016-10-14 10:13] lmarikannan commented on #422
Fixed.

[2016-10-14 10:21] lmarikannan commented on #714
Stored login data in cookies.

[2016-10-14 10:21] #714 closed

[2016-10-14 10:22] lmarikannan commented on #750
Stored login data in cookies.

[2016-10-14 10:22] #750 closed

[2016-10-14 10:24] lmarikannan commented on #778
Fixed.

[2016-10-14 10:29] lmarikannan commented on #683
Now the card divider position is stored in cookies. So the preference will persist while reopen browser (if the cookies are not deleted on close browser).

[2016-10-14 10:31] lmarikannan commented on #581
Now the login data are stored in cookies, so the session will persist while reopen browser (if the cookies are not deleted on close browser).

[2016-10-14 10:31] #581 closed

[2016-10-14 10:34] lmarikannan commented on #752
Used defined constants in all places in install script.

[2016-10-14 10:34] #752 closed

[2016-10-14 11:17] baskar383 commented on #827
Elastic search indexing has not done. So we executed the indexing and now it is working fine.

[2016-10-14 11:20] baskar383 commented on #836
Elastic search indexing has not done. So we executed the indexing and now it is working fine.

[2016-10-14 11:20] #836 closed

[2016-10-14 12:08] lmarikannan commented on #683
Refer #714.

[2016-10-14 12:08] lmarikannan commented on #581
Refer #714.

[2016-10-14 12:08] lmarikannan commented on #750
Refer #714.

[2016-10-17 03:46] iamnido opened #856 "Script failed to install"
I am installing Restyaboard in Ubuntu 16.04 LTS and got the following errors because of dependencies

[2016-10-17 06:27] lmarikannan commented on #797
Related to #703. Fixed in this commit https://github.com/RestyaPlatform/board/commit/b49a091b785018cb426c91afd91a3137b2f01e81

[2016-10-17 06:27] #797 closed

[2016-10-17 06:41] lmarikannan commented on #825
Fixed in this commit https://github.com/RestyaPlatform/board/pull/854/commits/65a4b9bb1d6a0363c997d117fca4f407c2468b67

[2016-10-17 06:41] #825 closed

[2016-10-17 06:42] lmarikannan commented on #803
Fixed in this commit https://github.com/RestyaPlatform/board/pull/854/commits/65a4b9bb1d6a0363c997d117fca4f407c2468b67

[2016-10-17 06:42] #803 closed

[2016-10-17 06:42] lmarikannan commented on #802
Fixed in this commit https://github.com/RestyaPlatform/board/pull/854/commits/65a4b9bb1d6a0363c997d117fca4f407c2468b67

[2016-10-17 06:42] #802 closed

[2016-10-17 06:52] lmarikannan commented on #661
Fixed in this commit https://github.com/RestyaPlatform/board/pull/854/commits/65a4b9bb1d6a0363c997d117fca4f407c2468b67

[2016-10-17 06:52] #661 closed

[2016-10-17 07:25] lmarikannan commented on #754
Fixed in this commit https://github.com/RestyaPlatform/board/pull/854/commits/65a4b9bb1d6a0363c997d117fca4f407c2468b67

[2016-10-17 07:25] #754 closed

[2016-10-17 07:26] lmarikannan commented on #823
Fixed in this commit https://github.com/RestyaPlatform/board/pull/854/commits/65a4b9bb1d6a0363c997d117fca4f407c2468b67

[2016-10-17 07:26] #823 closed

[2016-10-17 08:29] lmarikannan commented on #785
Duplicate of #583

[2016-10-17 08:47] baskar383 commented on #838
Functionality done as per Trello.

[2016-10-17 11:46] lmarikannan commented on #738
Related to #661. Fixed in this commit https://github.com/RestyaPlatform/board/pull/854/commits/65a4b9bb1d6a0363c997d117fca4f407c2468b67.

[2016-10-17 11:46] #738 closed

[2016-10-17 12:46] lmarikannan commented on #830
Fixed in this commit https://github.com/RestyaPlatform/board/commit/c6d71e482a1f857f1185782d15665084510b08d9

[2016-10-17 12:46] #830 closed

[2016-10-17 12:47] lmarikannan commented on #821
Fixed.

[2016-10-17 12:47] #821 closed

[2016-10-17 12:55] baskar383 commented on #842
Elastic search indexing has not done. So we executed the indexing and now it is working fine.

[2016-10-17 12:55] #842 closed

[2016-10-17 13:08] lmarikannan commented on #724
@Aendrew87 Actually we are getting output for the command in integer format. If the command ran successfully then it returns 0. If its failed then it returns some integer like 2 (refer #775), 100 (refer #785). So shall we return their own error codes instead of hardcoded by us?

[2016-10-17 13:48] baskar383 commented on #831
Fixed in this commit
https://github.com/RestyaPlatform/board/commit/7f21132245465dd6bebabeb2caa03f612db65476

[2016-10-17 13:48] #831 closed

[2016-10-17 13:50] lmarikannan commented on #721
@sixmokes Regarding PostgreSQL installation on Fedora, please refer this URL  http://tecadmin.net/install-postgresql-on-centos-rhel-and-fedora/ and change the URL in line number `1089` in this file `restyaboard.sh` for your Fedora version and run the script again.

@fwolfst We have changed install script using this command to install PHP IMAP `sudo apt-get install php5-imap="5.4.6-0ubuntu5"`.

[2016-10-17 13:53] lmarikannan commented on #785
Fixed in this commit https://github.com/RestyaPlatform/board/commit/0ad7f8f0938eb6ea9bc85ae9a2db67506821cc5f

[2016-10-17 13:53] #785 closed

[2016-10-17 13:53] lmarikannan commented on #583
Fixed in this commit https://github.com/RestyaPlatform/board/commit/0ad7f8f0938eb6ea9bc85ae9a2db67506821cc5f

[2016-10-17 13:53] #583 closed

[2016-10-17 13:55] lmarikannan commented on #718
Fixed in this commit https://github.com/RestyaPlatform/board/commit/473703f8d8e74e5b86e95a0aea93a81500abb930

[2016-10-17 13:55] #718 closed

[2016-10-17 14:10] lmarikannan commented on #757
@iacsvrn While check your log, ElasticSearch was installed but not started due to exit code. So can you please run the 5 commands line no. from `890` to `894` manually. Please refer, https://github.com/RestyaPlatform/board/blob/dc2b32f808e93201de2619a479d9aa0c63b522f8/restyaboard.sh#L890.

After started please execute this SQL query `UPDATE settings SET value = 0 WHERE name = 'elasticsearch.last_p

[2016-10-17 15:23] lmarikannan commented on #846
Removed duplicated settings field. Fixed in this commit https://github.com/RestyaPlatform/board/commit/038cc6671955b534adefc9805a6b932270423d47.

[2016-10-17 15:23] #846 closed

[2016-10-17 15:38] Aendrew87 commented on #724
@lmarikannan with your hardcoded error codes it is difficult to get the real error. If you use the returned error code from the call it could be easier to get the reason for this issue.
So my suggestion was to use the real error code.
If there is duplicate output it would be difficult to find the part which failed.

Maybe the best solution is to output a static number and the real error code.
The

[2016-10-18 05:09] lmarikannan commented on #832
Fixed in this commit https://github.com/RestyaPlatform/board/commit/d3f8113d48fdc44cb5a63f069e30efe39b070b48

[2016-10-18 05:09] #832 closed

[2016-10-18 05:09] lmarikannan commented on #806
Fixed in this commit https://github.com/RestyaPlatform/board/commit/d3f8113d48fdc44cb5a63f069e30efe39b070b48

[2016-10-18 05:09] #806 closed

[2016-10-18 05:48] lmarikannan commented on #704
Added additional handling for indexing ElasticSearch in this commit https://github.com/RestyaPlatform/board/commit/fdffe1f5809af718567798e16134cce5a94269c9 and handled undefined problem in this commit https://github.com/RestyaPlatform/board/commit/f0eff389a8f72fcf2c8a269a0c72afc2151ee132.

[2016-10-18 05:48] #704 closed

[2016-10-18 06:35] rrjanbiah commented on #422
Reopened. May be OK for time being. But, code still needs many cleanup. Should use proper wrapper with error handling or use native calls for handling bulk indexing.

[2016-10-18 06:39] rrjanbiah commented on #838
Reopened. If it is done as per Trello, why is it not working properly?

[2016-10-18 06:43] rrjanbiah commented on #827
Reopened. Looks like @fwolfst suggestion is misunderstood.

[2016-10-18 07:13] rrjanbiah commented on #778
Reopened. Code changed and got reverted. Not sure how will it fix the issue...

[2016-10-18 07:54] lmarikannan commented on #278
Error handling added if psql connection was not performed with default `postgres` user. Please refer, https://github.com/RestyaPlatform/board/blob/master/restyaboard.sh#L1173

[2016-10-18 07:54] #278 closed

[2016-10-18 08:09] lmarikannan commented on #707
@eddyemmer You may try this https://github.com/RestyaPlatform/board/issues/224#issuecomment-184282834 (Please note that the attached files are outdated now) and also refer #509.

Closing this for now. If you get any issues, please feel free to reopen.

[2016-10-18 08:17] lmarikannan commented on #509
@ghstshdw  Closing this for now. If you get any issues, please feel free to reopen.

[2016-10-18 08:17] #509 closed

[2016-10-18 08:18] lmarikannan commented on #724
@Aendrew87 Thank you very much for your suggestion.

[2016-10-18 08:19] lmarikannan commented on #822
Fixed in this commit https://github.com/RestyaPlatform/board-apps/pull/64/commits/20bce228f6dddf5b0049c8f119d170b577db49de

[2016-10-18 08:19] #822 closed

[2016-10-18 09:21] lmarikannan commented on #819
Fixed in this commit https://github.com/RestyaPlatform/board/pull/861/files

[2016-10-18 09:21] #819 closed

[2016-10-18 09:32] lmarikannan commented on #672
Fixed in this commit https://github.com/RestyaPlatform/board/commit/58471a91dd828a691414f351b8ef414a6b714f67

[2016-10-18 09:32] #672 closed

[2016-10-18 09:35] lmarikannan commented on #691
@rootAmeen Closing this for now. If you get any issues, please feel free to reopen.

[2016-10-18 09:35] #691 closed

[2016-10-18 10:29] baskar383 commented on #838
If we upload an image from drop box, we  display only the drop box icon instead of image. Now it is working like this only. The query is raised why the image is not displaying. So we have replied as "It is working as like trello".

[2016-10-18 10:29] #838 closed

[2016-10-18 10:31] baskar383 commented on #778
In the second commit only the url is reverted as it was committed wrongly in the first commit. The remaining changes in the first commit is the code for fixing the issue and it is not reverted in the second commit.

[2016-10-18 10:31] #778 closed

[2016-10-18 10:47] lmarikannan commented on #688
Fixed in this commit https://github.com/RestyaPlatform/board/commit/543fcde51157bea9a8b6aa09ce106acf39b5d4e0

[2016-10-18 10:47] #688 closed

[2016-10-18 11:25] lmarikannan commented on #655
PostgerSQL version check and upgrade code added in this commit https://github.com/RestyaPlatform/board/commit/8f5993fb1349e3c2b6e88d34fe9ec027fdc7d201

[2016-10-18 11:25] #655 closed

[2016-10-18 11:27] lmarikannan commented on #757
Closing this for now. If you get any issues, please feel free to reopen.

[2016-10-18 11:27] #757 closed

[2016-10-18 11:29] lmarikannan commented on #721
@sixmokes Closing this for now. If you get any issues, please feel free to reopen.

[2016-10-18 11:29] #721 closed

[2016-10-18 11:30] lmarikannan commented on #709
@fubujo Closing this for now. If you get any issues, please feel free to reopen.

[2016-10-18 11:30] #709 closed

[2016-10-18 11:44] lmarikannan commented on #786
@FilewalkerLuke Actually install script doesn't find your server OS using `/proc/version`, so we have added additional check in `/cat/issue` file to find OS in this commit https://github.com/RestyaPlatform/board/commit/419d011d1fce5d30d3c4f59963ba6ad891d81a5f.

[2016-10-18 11:54] baskar383 commented on #828
fixed in this commit
https://github.com/RestyaPlatform/board/commit/58471a91dd828a691414f351b8ef414a6b714f67

[2016-10-18 11:54] #828 closed

[2016-10-18 12:09] rrjanbiah commented on #786
Reopened. Refer to clean code from @BlackDuck888 https://github.com/BlackDuck888/board/blob/906dd469bd6d24431a469aa7ed33501aac7e5374/install/restyaboard_apache.sh#L17

[2016-10-18 12:45] lmarikannan commented on #753
Fixed in this commit https://github.com/RestyaPlatform/board/pull/865/commits/46d317600bd0f9b3c7e198ae94c6cca8fef637f6

[2016-10-18 12:45] #753 closed

[2016-10-18 14:25] lmarikannan commented on #850
Fixed in this commit https://github.com/RestyaPlatform/board/commit/c1f28afd4cef4ebf63e51786391dd292e7ef9e3b

[2016-10-18 14:25] #850 closed

[2016-10-18 14:52] lmarikannan commented on #845
You can change/update your custom field in this app https://github.com/RestyaPlatform/board-apps/blob/master/r_auto_archive_expired_cards/json/app.json

[2016-10-18 14:54] lmarikannan commented on #732
@Aendrew87 Can you please share your debian vm?

[2016-10-18 15:43] lmarikannan commented on #695
@Gloompirate We tried in our local, But we can not able to reproduce this. Without using `utf8_decode()` function also it's working fine here. So please check your LDAP configuration settings are setting properly on http://{{your_domain_name}}/#/settings/2 . Closing this for now. If you get any issues, please feel free to reopen with more information.

[2016-10-18 15:43] #695 closed

[2016-10-18 15:57] lmarikannan commented on #777
@keky

You can show up the real timestamp by remove timeago class from these 2 lines `Line: 50, Column:20477`  and `Line: 51, Column:2021` on `/board-v0.3/client/js/default.cache.5b71cf1d.js` file.

[2016-10-18 15:57] #777 closed

[2016-10-18 16:05] lmarikannan commented on #793
@Merlin90 We tried in our local, But we can not able to reproduce this. Can you please share your browser Network and console tab screen-shots for checking HTTP request calls and their error logs (In Firebug or Chrome's Developer tool)

[2016-10-18 16:53] Aendrew87 commented on #732
@lmarikannan sure, please give me a few days to upload the files - is a vmware workstation 10 image ok for you or do you want another image (VirtualBox or other)?

[2016-10-19 05:30] assionx commented on #851
Another issue based on this is that other person moved the same card to the same position.
There is an activity log created.
In my opinion,there is nothing should happen.

[2016-10-19 08:32] lmarikannan commented on #847
Fixed in this commit https://github.com/ecovillage/board/commit/682ba953438057b543c0c49a3b106d37f448fdf5

[2016-10-19 08:32] #847 closed

[2016-10-19 08:32] #845 closed

[2016-10-19 10:49] lmarikannan commented on #732
@Aendrew87 Can you please share VirtualBox version 5.0.26 r108824 image?

[2016-10-19 13:01] kramer65 opened #867 "Zapier connect doesn't work (401 Unauthorized)"
I'm trying to connect my restyaboard instance with Zapier. To do this I downloaded the zapier app from http://restya.com/board/apps and unzipped it on my server into the client folder. It then shows up on the apps page:

![zapier in restya](https://cloud.githubusercontent.com/assets/596581/19519336/cc7be7dc-960b-11e6-91c0-f0d78ebb4f25.png)

And when I click on the Zapier Connect settings icon on t

[2016-10-19 13:10] lmarikannan commented on #867
@kramer65 As per your screenshot you have updated the `Zapier Client Secret` as access token in Zapier. Please follow the steps mentioned in this URL http://restya.com/board/integrations to get your Access Token to update in Zapier.

[2016-10-19 13:21] kramer65 commented on #867
@lmarikannan - I would like to, but I don't see the "Connect with Zapier" button. As you can see in my first screenshot, the only thing I see is the grey "enabled" button on the right, but if I click that nothing happens. I can only edit the "Zapier Connect settings" which you see in my second screenshot.

Do you have a tip on how I would get the "Connect with Zapier" button?

[2016-10-19 13:23] lmarikannan commented on #867
@kramer65 Click `Apps` button in footer menu and then click "Zapier Connect" as mentioned in this screenshot http://restya.com/images/zapier_app.png.

[2016-10-19 13:48] kramer65 commented on #867
@lmarikannan
Wait wut?! That `Apps` button wasn't in the footer menu before, but now it appeared. Alright, so I clicked that, then "Connect with Zapier", then I logged in, then clicked "Allow", and then I get a message saying "Authentication failed".

I get past the "log in" screen into the "Allow" screen just before that so I presume my username/password is accepted. Any idea what could be wrong

[2016-10-19 14:47] lmarikannan commented on #867
@kramer65

We can't reproduce this in our demo server. So Can you please replace this file instead of  `board/server/php/oauth_callback.php` and rename the attached file format to `.php`. Once replace this file, again you need to connect zapier. After that process, log file will be created on that same path (`board/server/php/`) with the name of `zapier_errorlog.log`.

After that, you please share

[2016-10-20 08:34] rrjanbiah opened #868 "Missing alerts from board member"
Sometimes not getting alerts from board member (from Sinthiya)

[2016-10-20 10:50] rrjanbiah opened #869 "Sometimes actions are not persistant"
Sometimes, card move is not getting saved, especially in slow connections (From Sinthiya)

[2016-10-20 13:10] lmarikannan commented on #813
Fixed in this commit https://github.com/RestyaPlatform/board/commit/bdb3c9fb9a76e21e6bc6b46df4629bb7f1d2a8e0

[2016-10-20 13:10] #813 closed

[2016-10-20 13:10] lmarikannan commented on #807
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3d3cb8a677362011a371cdace407871eee3d84c7

[2016-10-20 13:10] #807 closed

[2016-10-21 11:24] UrosB opened #871 "Dev branch install fails on Debian"
php7 is in Debian testing&sid, but not in Debian stable.

Also, apt-add-repository missing on "clean" debian.

++ add-apt-repository ppa:ondrej/php
./restyaboard.sh: line 192: add-apt-repository: command not found

[2016-10-21 11:26] UrosB commented on #871
Also, apt-add-repository missing on "clean" debian.

++ add-apt-repository ppa:ondrej/php
./restyaboard.sh: line 192: add-apt-repository: command not found

[2016-10-21 13:31] katiemacintyre opened #872 "Struggling to upgrade from 0.2.1 to 0.3"
I'm trying to upgrade an installation of RestyaBoard, following the advice here: https://github.com/RestyaPlatform/board, which says "Overwrite application files and apply respective DB script"
However after applying the db script to the restyaboard database I can no longer log in, it just gives the message "Sorry, login failed. Either your username or password are incorrect or admin deactivated y

[2016-10-21 19:16] nuali opened #873 "Can't delete comment"
While the edit and reply function works, nothing happens if you click on delete to remove a comment.

[2016-10-22 03:50] lmarikannan commented on #871
@UrosB Thank you for your suggestion.

[2016-10-22 03:54] lmarikannan commented on #872
`DELETE FROM oauth_scopes;`
`INSERT INTO "oauth_scopes" ("scope", "is_default") VALUES ('read', 't');`
`INSERT INTO "oauth_scopes" ("scope", "is_default") VALUES ('write', 'f');`

Can you please run this SQL and try again?

[2016-10-22 08:45] baskar383 opened #874 "Emoji not working properly in edit comment form"
Emoji not working properly in edit comment form. When we and then update the comment with emoji it is not changing to icons, displaying as string.
![screenshot at 2016-10-22 14 17 13](https://cloud.githubusercontent.com/assets/17172610/19618250/4db317be-9862-11e6-8eff-a731caf6ffcf.png)

[2016-10-22 09:23] baskar383 opened #876 "While reply comment "Add Emoji" is not displaying."
While reply comment "Add Emoji" is not displaying.
![screenshot at 2016-10-22 14 51 49](https://cloud.githubusercontent.com/assets/17172610/19618396/421d1738-9867-11e6-8b14-f51f2128bb09.png)

[2016-10-22 09:40] lmarikannan opened #877 "localStorage and Cookie replaced instead of sessionStorage"

[2016-10-22 10:15] lmarikannan commented on #877
Fixed in this commit https://github.com/RestyaPlatform/board/commit/6c59247c6318b465e622157eba6669dd3063d698

[2016-10-22 10:15] #877 closed

[2016-10-22 10:15] lmarikannan commented on #874
Fixed in this commit https://github.com/RestyaPlatform/board/commit/bc252885225a1e2d70dfdef9c8a434b9c1b17ab0

[2016-10-22 10:15] #874 closed

[2016-10-22 11:32] lmarikannan commented on #876
Fixed in this commit https://github.com/RestyaPlatform/board/commit/a73db9e25f60473bb183ecfe86ac2af288a56360

[2016-10-22 11:32] #876 closed

[2016-10-24 06:58] lmarikannan commented on #693
Fixed in this commit https://github.com/RestyaPlatform/board/commit/14c8d56818098b3ed56709e419d8e04ab29a3e44, https://github.com/RestyaPlatform/board/commit/d0356b2231c061b6c8adc804f691de0e63937f2b

[2016-10-24 07:21] lmarikannan commented on #685
Fixed in this commit https://github.com/RestyaPlatform/board/commit/14c8d56818098b3ed56709e419d8e04ab29a3e44, https://github.com/RestyaPlatform/board/commit/d0356b2231c061b6c8adc804f691de0e63937f2b

[2016-10-24 07:26] lmarikannan commented on #696
Fixed in this commit https://github.com/RestyaPlatform/board/commit/f0eff389a8f72fcf2c8a269a0c72afc2151ee132

[2016-10-24 07:26] #696 closed

[2016-10-24 07:26] lmarikannan commented on #728
Install script upgraded to PHP 7 and fixed in this commit https://github.com/RestyaPlatform/board/commit/14c8d56818098b3ed56709e419d8e04ab29a3e44, https://github.com/RestyaPlatform/board/commit/d0356b2231c061b6c8adc804f691de0e63937f2b

[2016-10-24 07:26] #728 closed

[2016-10-24 07:27] lmarikannan commented on #775
PostgreSQL authentication issue fixed in this commit https://github.com/RestyaPlatform/board/commit/14c8d56818098b3ed56709e419d8e04ab29a3e44, https://github.com/RestyaPlatform/board/commit/d0356b2231c061b6c8adc804f691de0e63937f2b

[2016-10-24 07:27] #775 closed

[2016-10-24 07:28] lmarikannan commented on #856
Install script upgraded to PHP 7 in Ubuntu 16.04 and fixed in this commit https://github.com/RestyaPlatform/board/commit/14c8d56818098b3ed56709e419d8e04ab29a3e44, https://github.com/RestyaPlatform/board/commit/d0356b2231c061b6c8adc804f691de0e63937f2b

[2016-10-24 07:28] #856 closed

[2016-10-24 07:34] lmarikannan commented on #867
@kramer65 We're waiting for your reply

[2016-10-24 07:36] lmarikannan commented on #872
@katiemacintyre We're waiting for your reply

[2016-10-24 08:29] kramer65 commented on #867
@lmarikannan - I really appreciate your answer. Today and tomorrow I'm working on a big migration, but after that I've got time for restya again and I'll get back to you with the logs.

[2016-10-24 08:36] lmarikannan commented on #867
@kramer65 No problem. Please take your time.

[2016-10-24 13:26] sathya313 opened #881 "Unable to import the data's from Github."
![unable_to_import_from_github](https://cloud.githubusercontent.com/assets/14884895/19647465/caf60e06-9a1b-11e6-98ae-88eecfe367ad.png)
URL: http://boardalpha.demo.restya.com/#/organizations
## Steps to Reproduce:
1. Login as user. (k.sathyaraj+restya001@agriya.in // testing)
2. Click boards and then again click on Import from GitHub.
3. After signed in through Github. Its keep on loading.

Refer t

[2016-10-24 14:33] sridhar391 commented on #873
This issue already closed.

[2016-10-24 14:33] #873 closed

[2016-10-24 14:38] sridhar391 commented on #873
Fixed in this commit.
https://github.com/RestyaPlatform/board/commit/7f21132245465dd6bebabeb2caa03f612db65476

[2016-10-25 06:23] sathya313 opened #882 "[QA] Search functionality is not working."
## Steps to Reproduce:
1. Login as user. (restya001 / testing)
2. Search functionality is not working.

Refer the attachment.
![search is not working](https://cloud.githubusercontent.com/assets/14884895/19675005/82232e28-9aa9-11e6-83db-b180e9db6bdd.png)

[2016-10-25 07:08] sathya313 opened #883 "[QA] After blocked the subscribe menu in list, should not be clickable...."
URL: http://boardalpha.demo.restya.com/#/board/38
## Steps to Reproduce:
1. Login as user. (restya001 / testing)
2. After blocked the subscribe menu in the list, should not be clickable.

Refer the attachment.
![should_not_be_clickable](https://cloud.githubusercontent.com/assets/14884895/19676106/f4a9b2fe-9aaf-11e6-8063-753cd3b7b139.png)

[2016-10-25 08:16] sathya313 opened #884 "[QA] In user login, after clicked the load more activities. Its keep on loading and repeating the same activities"
URL: http://boardalpha.demo.restya.com/#/user/35
## Steps to Reproduce:
1. Login as user. (restya001 / testing)
2. Go to user activities page, after clicked every time "Load more activities". It repeated the same activities
   ![same_activities](https://cloud.githubusercontent.com/assets/14884895/19677900/26bd26c8-9ab9-11e6-80cd-7dd5f7558a60.png)

[2016-10-25 10:41] sridhar391 opened #885 "UI issues"
- Add item default open in checklist item
- Checklist item text area height - need to decrease
- Gap between card & list not consistent
- Remove link from charts in dashboard
- Link change from About to Boards
- About Us link in profile menu
- Dockmodal open like a modal

[2016-10-25 11:28] sathya313 opened #887 "[QA] After updated the profile image is keep on loading."
URL: http://boardalpha.demo.restya.com/#/user/35/settings
# Steps to Reproduce:
1. Login as user. (restya001 / testing)
2. After updated the profile image is keep on loading.

Refer the attachment.
![image_upload_issue](https://cloud.githubusercontent.com/assets/14884895/19684331/44e447a6-9ad4-11e6-8132-695894e2a3c8.png)

[2016-10-25 12:17] sathya313 opened #888 "[QA] Undo option is not working properly in Cards functionality."
Undo option is not working properly in Cards functionality. Need to check overall undo functionality in cards

[2016-10-25 13:07] sathya313 opened #889 "[QA] Unable to import the QA Checklists Board. It displayed an error message as "Website QA Checklists board create failed""
Unable to import the QA Checklists Board. It displayed an error message as "Website QA Checklists board create failed"

Refer the attachment.
![website_qa_checklist issue](https://cloud.githubusercontent.com/assets/14884895/19687170/0cb18d7c-9ae2-11e6-8530-c3a1f086b81d.png)

[2016-10-25 14:08] sathya313 opened #890 "[QA] In move list missing, current list placeholder."
URL: http://boardalpha.demo.restya.com/#/board/37
## Steps to Reproduce:
1. Login as user. (restya001 / testing)
2. After moved all the cards from "Move all the cards" to "test"
3. Again if we try to move the same cards from "test" to "Move all the cards", It's not displayed the current place holder.

R
![missing_current_place_holder](https://cloud.githubusercontent.com/assets/14884895/19689196/2f

[2016-10-25 14:22] sathya313 opened #891 "[QA]Notification messages were not been disappeared."
Notification messages were not been disappeared.
![notifications were not getting disappeared 10-26-2016 3-16-26 pm](https://cloud.githubusercontent.com/assets/14884895/19757366/2d3a49c6-9c40-11e6-97ef-bb9d487c3a42.png)

[2016-10-25 18:16] katiemacintyre commented on #872
Thanks for your response, I am out of the office over the weekends so attending to it now.

I ran the SQL statements, this was the output:
postgres=# \c restyaboard
You are now connected to database "restyaboard" as user "postgres".
restyaboard=# DELETE FROM oauth_scopes;
DELETE 2
restyaboard=# INSERT INTO "oauth_scopes" ("scope", "is_default") VALUES ('read', 't');
INSERT 0 1
restyaboard=# INSERT

[2016-10-26 05:46] Aendrew87 commented on #732
@lmarikannan sorry, but my provider disconnected my internet and is not able to fix the problem. i will create the VirtualBox image and upload it as soon as possible

[2016-10-26 06:15] srileka opened #892 "[QA] In Auto Archive Expired Cards popup the dot should be removed from the sentence."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as admin
3.Click Apps -> Auto Archive Expired Cards
4.In Auto Archive Expired Cards pop up the dot should be removed from the sentence.

Refer the attachment
![in auto archive expired cards popup the dot should be removed from the sentence](https://cloud.githubusercontent.com/assets/14290356/19715280/b152115a-9b71-11

[2016-10-26 06:17] sathya313 opened #893 "[QA] After select estimated time, submit button is not working properly."
# Steps To Reproduce
1. Login as (saravanan.r+420@agriya.in \ testing).
2. After select estimated time, submit button is not working properly.

Refer the attachment

![estimated time 10-26-2016 11-40-54 am](https://cloud.githubusercontent.com/assets/14884895/19715319/fca913ce-9b71-11e6-8b78-24113d9c64c7.png)

[2016-10-26 06:42] srileka opened #894 "[QA] After opened the card unable to open the apps dropdown."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/board/33/card/833
2.Login as admin
3.click any board
4.Click any card
5.After opened the card unable to open the apps dropdown.

Refer the attachment
![after opened the card unable to open the apps](https://cloud.githubusercontent.com/assets/14290356/19715800/6c05c3ae-9b75-11e6-848b-9a9eb92adf5b.png)

[2016-10-26 07:10] srileka opened #895 "[QA] Unable to disable the apps in admin control panel."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/apps
2.Login as admin
3.In admin control panel click apps
4.Unable to disable the apps in admin control panel.

Refer the attachment

![unable to disable the apps in admin control panel](https://cloud.githubusercontent.com/assets/14290356/19716448/6d4a2e18-9b79-11e6-88bf-d37dbf034dd0.png)

[2016-10-26 07:34] sathya313 opened #896 "[QA] After click organizations button, it displayed as no organization found."
# Steps To Reproduce
1. Login as (saravanan.r+420@agriya.in \ testing).
2. After click organizations button, it displayed as no organization found.

Refer the attachment

![organization button 10-26-2016 1-01-59 pm](https://cloud.githubusercontent.com/assets/14884895/19717106/ae290d3e-9b7c-11e6-81c8-128abdb68612.png)

[2016-10-26 08:47] srileka opened #897 "[QA] In SEO checklist pop up if click import template button its not working."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as admin
3.In apps->Click SEO checklist
4.In SEO checklist pop up if click import template button it's not working.

Refer the attachment
![in SEO checklist pop up if click import template button its not working](https://cloud.githubusercontent.com/assets/14290356/19719280/dbb72fce-9b86-11e6-8511-f5927a54f1b1.png)

[2016-10-26 08:50] srileka opened #898 "[QA] In apps if click Post my comments to Slack its not working."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as admin
3.In Apps->Click Post my comments to Slack it's not working.

Refer the attachment

![in apps if click post my comments to slack its not working](https://cloud.githubusercontent.com/assets/14290356/19719408/5d531de0-9b87-11e6-9e88-5827c734a5f3.png)

[2016-10-26 09:05] sathya313 opened #899 "[QA] After click comment button, the page should be refresh."
# Steps To Reproduce
1. Login as (saravan \ testing).
2. After click comment button, the page should be refresh.

Refer the attachment

![comment button 10-26-2016 2-28-57 pm](https://cloud.githubusercontent.com/assets/14884895/19719856/5fd0a9aa-9b89-11e6-8fc4-719b8778d42c.png)

[2016-10-26 09:05] srileka opened #900 "[QA] In apps list the Auto Archive Expired Cards apps displayed twice."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/apps
2.Login as admin
3.In admin control panel click apps
4. In apps list, the Auto Archive Expired Cards apps displayed twice.

Refer the attachment
![in apps list the auto archive expired cards apps displayed twice](https://cloud.githubusercontent.com/assets/14290356/19719853/5b934488-9b89-11e6-92f5-5c9c015d8c90.png)

[2016-10-26 09:08] srileka opened #901 "[QA] In apps if click Zapier Connect its not working."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as admin
3.In apps, if click Zapier Connect it's not working.

Refer the attachment
![in apps if click zapier connect its not working](https://cloud.githubusercontent.com/assets/14290356/19720019/fba83834-9b89-11e6-902d-4a4637cc7098.png)

[2016-10-26 09:29] sathya313 opened #902 "[QA] After opened the card while click Apps button, pop page is not listed"
Steps To Reproduce
============
1. Login as (saravan \\ testing).
2. After opened the card while click Apps button, pop page is not listed.

Refer the attachment

![pop page 10-26-2016 2-54-39 pm](https://cloud.githubusercontent.com/assets/14884895/19720665/c4436e42-9b8c-11e6-8159-9e62d2bb89bd.png)

[2016-10-26 09:34] #902 closed

[2016-10-26 10:44] baskar383 commented on #839
Now it is working fine.

[2016-10-26 10:44] #839 closed

[2016-10-26 11:01] sathya313 opened #903 "[QA] Position dropdown box overlapped taskbar menu."
Steps To Reproduce
============
1. Login as (saravan \\ testing).
2. Position dropdown box overlapped task bar menu.

Refer the attachment

![dropdown box10-26-2016 4-30-11 pm](https://cloud.githubusercontent.com/assets/14884895/19723613/aaee8c6c-9b99-11e6-833b-4559802392d0.png)

[2016-10-26 11:20] srileka opened #904 "[QA] Board search is not working."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/boards
2.Login as demo001 // testing
3.Board search is not working.

Refer the attachment

![board search is not working](https://cloud.githubusercontent.com/assets/14290356/19724126/3af68484-9b9c-11e6-898c-57e78f60a52f.png)
![boards page](https://cloud.githubusercontent.com/assets/14290356/19724127/3afd389c-9b9c-11e6-83dc-f5636f98

[2016-10-26 12:36] srileka opened #906 "[QA] In user roles the unstar board displayed twice."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/roles
2.Login as admin
3. In user roles, the unstar board displayed twice.

Refer the attachment
![in user roles the unstar board displayed twice](https://cloud.githubusercontent.com/assets/14290356/19726117/dc7c6382-9ba6-11e6-8ddc-333fee6cc0b4.png)

[2016-10-26 12:41] srileka opened #907 "[QA] In user roles, the XMPP chat login and chat history are displayed twice."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/roles
2.Login as admin
3.In user roles, the XMPP chat login and chat history are displayed twice.

Refer the attachment
![in user roles the xmpp chat login and chat history are displayed twice](https://cloud.githubusercontent.com/assets/14290356/19726260/a9444cc2-9ba7-11e6-9bef-3d7829cd5b43.png)

[2016-10-26 12:42] baskar383 commented on #903
When more list is available the list will not get down inside, instead it will be shown upwards. Refer screenshot attached
![screenshot at 2016-10-26 18 08 00](https://cloud.githubusercontent.com/assets/17172610/19726281/bfc1cf1a-9ba7-11e6-9f35-e6055fe7912f.png)

[2016-10-26 12:42] #903 closed

[2016-10-26 12:54] srileka opened #908 "[QA] Unable to add the Add organization User Role and Board User Role."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/roles
2.Login as admin
3.Click Roles
4.Unable to add the Add organization User Role and Board User Role.

Refer the attachment
![unable to add the add organization user role and board user role](https://cloud.githubusercontent.com/assets/14290356/19726622/71161d6a-9ba9-11e6-9029-6069df98fbd6.png)

[2016-10-26 12:56] srileka opened #909 "[QA] In roles page after added the role for user unable to delete."
## Steps to reproduce:

1.URL: http://boardalpha.demo.restya.com/#/roles
2.Login as admin
3.Click Roles
4.In roles page after added the role for user unable to delete.

Refer the attachment
![in roles page after added the role for user unable to delete](https://cloud.githubusercontent.com/assets/14290356/19726685/bc863fdc-9ba9-11e6-97c8-b916ef33ee1a.png)

[2016-10-26 15:35] Aendrew87 commented on #732
@lmarikannan I got the information that my provider needs about 9 days from now to fix the internet connection - After that time I will try to create the image and upload it

[2016-10-27 03:52] lmarikannan commented on #732
@Aendrew87 Thank you for your updates.

[2016-10-27 03:54] lmarikannan commented on #872
@katiemacintyre  Can you please enable debug mode here https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15 and send response of login call?

[2016-10-27 07:15] baskar383 commented on #892
Refer this commit

https://github.com/RestyaPlatform/board-apps/pull/67/commits/100c1ce6bcfa6c28ea13eb3ed261513f303b1fb9

[2016-10-27 11:25] sridhar391 opened #914 "Seo checklist, website qa checklist not working"

[2016-10-27 11:44] #914 closed

[2016-10-27 15:44] katiemacintyre commented on #872
Thanks for your response,
I edited the line in config.inc.php to read define('R_DEBUG', true);
I couldn’t locate a restyaboard specific log, is there one?
The response in nginx and postgresql logs are below.

From the nginx error log:
2016/10/27 12:04:50 [error] 5373#0: *14 FastCGI sent in stderr: "PHP message: PHP Warning:  pg_query_params(): Query failed: ERROR:  permission denied for relation u

[2016-10-28 04:26] lmarikannan commented on #872
@katiemacintyre While check the error log, permission not available to database user. Can you please run the below queries,

`
ALTER DATABASE restyaboard OWNER TO restya;
GRANT ALL PRIVILEGES ON DATABASE restyaboard TO restya;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO restya;
GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO restya;
`

[2016-10-28 08:41] katiemacintyre commented on #872
Hi there,

I ran the queries, output is below:

postgres=# ALTER DATABASE restyaboard OWNER TO restya;
ALTER DATABASE
postgres=# GRANT ALL PRIVILEGES ON DATABASE restyaboard TO restya;
GRANT
postgres=# GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO restya;
GRANT
postgres=# GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO restya;
GRANT

Login still fails though, log outputs are:
Fr

[2016-10-28 10:13] lmarikannan commented on #872
@katiemacintyre Whether you have changed database username in config.inc.php https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L35?

[2016-10-28 10:34] katiemacintyre commented on #872
No I haven’t altered any config files.
Instead of downloading the new application files and applying the upgrade-0.21-0.3.sql file, I managed to get the upgrade working by just rerunning the restyaboard.sh install script.
I have noticed the new config.inc.php file includes a chat DB and user, but they haven’t been created in postgresql, will they be created when chat is configured in the admin->se

[2016-10-30 23:04] Aendrew87 commented on #732
@lmarikannan my provider solved the problem and now i was able to create your new VirtualBox (5.0.26) image and upload it (both links are the same file):
https://drive.google.com/file/d/0B22r_4IMDwj5RV9xVGVrc1NrZjg/view?usp=sharing
https://www.dropbox.com/s/vy8yf6e9y4vt1h8/Debian8.5.zip?dl=0

password for user 'root' is 'root'
the dns name is 'testboard.local'
after the boot you need to start ejab

[2016-11-01 07:34] lmarikannan commented on #894
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3f09b351029abca035621d99cad783d0171a9d04

[2016-11-01 07:34] #894 closed

[2016-11-01 07:34] lmarikannan commented on #907
Fixed in this commit https://github.com/RestyaPlatform/board/commit/4b0f8af44bf65c3cf1a2d7193313dbc02b270fa8

[2016-11-01 07:34] #907 closed

[2016-11-01 07:37] lmarikannan commented on #906
Fixed in this commit https://github.com/RestyaPlatform/board/commit/a6afa7674d0df92d67d9458e7893361eea32795e

[2016-11-01 07:37] #906 closed

[2016-11-01 07:37] lmarikannan commented on #887
Fixed in this commit https://github.com/RestyaPlatform/board/commit/da745e33f06218eed5e9f43ecc42eeabf7498208

[2016-11-01 07:37] #887 closed

[2016-11-01 07:46] lmarikannan commented on #901
Fixed in this commit https://github.com/RestyaPlatform/board-apps/commit/da143e292efd9467733cfa4fd0d7a4e8ee6d6741

[2016-11-01 07:46] #901 closed

[2016-11-01 07:46] lmarikannan commented on #898
Fixed in this commit https://github.com/RestyaPlatform/board-apps/commit/da143e292efd9467733cfa4fd0d7a4e8ee6d6741

[2016-11-01 07:46] #898 closed

[2016-11-01 07:47] lmarikannan commented on #897
Fixed in this commit https://github.com/RestyaPlatform/board-apps/commit/da143e292efd9467733cfa4fd0d7a4e8ee6d6741

[2016-11-01 07:47] #897 closed

[2016-11-01 07:50] lmarikannan commented on #900
Fixed in this commit https://github.com/RestyaPlatform/board-apps/commit/da143e292efd9467733cfa4fd0d7a4e8ee6d6741

[2016-11-01 07:50] #900 closed

[2016-11-01 07:51] lmarikannan commented on #895
Fixed in this commit https://github.com/RestyaPlatform/board/commit/4b4964277433a358f40643a10703ced9d995e0ca

[2016-11-01 07:51] #895 closed

[2016-11-01 07:51] lmarikannan commented on #893
Fixed in this commit https://github.com/RestyaPlatform/board-apps/commit/da143e292efd9467733cfa4fd0d7a4e8ee6d6741

[2016-11-01 07:51] #893 closed

[2016-11-01 07:52] #892 closed

[2016-11-01 10:12] lmarikannan commented on #889
Fixed in this commit https://github.com/RestyaPlatform/board-apps/pull/69/commits/da143e292efd9467733cfa4fd0d7a4e8ee6d6741

[2016-11-01 10:12] #889 closed

[2016-11-01 10:12] lmarikannan commented on #899
Fixed in this commit https://github.com/RestyaPlatform/board/commit/2c10160a60032a74e701c0c285eae5626b928545

[2016-11-01 10:12] #899 closed

[2016-11-01 11:11] lmarikannan commented on #881
Fixed in this commit https://github.com/RestyaPlatform/board-apps/pull/69/commits/da143e292efd9467733cfa4fd0d7a4e8ee6d6741

[2016-11-01 11:11] #881 closed

[2016-11-01 12:12] lmarikannan commented on #896
Fixed in this commit https://github.com/RestyaPlatform/board/pull/919/commits/124bc793cfd2179a95b31d01e05dcd85f35901c6

[2016-11-01 12:12] #896 closed

[2016-11-02 09:59] baskar383 commented on #891
That notification is browser compatible, so not able to fix it.

[2016-11-02 09:59] #891 closed

[2016-11-02 12:11] danieljsc opened #921 ".sh installation on Centos"
Hi,
Whilhe trying to install on Centos 6 (64 bit), the script is trying to install postgresql via a not existing repository.
Can you check/update it please?

Thanks

Log where the error is triggered:

Do you want to install PostgreSQL (y/n)?
y
++ case "${answer}" in
++ echo 'Installing PostgreSQL...'
Installing PostgreSQL...
+++ getconf LONG_BIT
++ '[' 64 = 32 ']'
+++ getconf LONG_BIT
++ '[' 64 =

[2016-11-03 04:59] lmarikannan commented on #904
Duplicate #882

[2016-11-03 04:59] #904 closed

[2016-11-03 05:37] lmarikannan commented on #827
ElasticSearch and Chat button will disable if its not configured.

[2016-11-03 05:37] #827 closed

[2016-11-03 05:38] lmarikannan commented on #869
Fixed in this commit https://github.com/RestyaPlatform/board/commit/c8561ebe411ba43ba17560f2385575091f2b698c

[2016-11-03 05:38] #869 closed

[2016-11-03 05:38] lmarikannan commented on #883
Fixed in this commit https://github.com/RestyaPlatform/board/commit/a9d9ec083df9495cbfcd71eebfbc7433dc1d03f8

[2016-11-03 05:38] #883 closed

[2016-11-03 05:38] lmarikannan commented on #888
Fixed in this commit https://github.com/RestyaPlatform/board/commit/c2344056979b928773e9d60d38797e2b354dfe0a

[2016-11-03 05:38] #888 closed

[2016-11-03 05:39] lmarikannan commented on #884
Fixed in this commit https://github.com/RestyaPlatform/board/commit/8eed42f813c290a7e50a73aef1bf829aaa3f762d

[2016-11-03 05:39] #884 closed

[2016-11-03 05:46] lmarikannan commented on #921
@danieljsc  Fixed in `dev` branch. Can you please download this https://raw.githubusercontent.com/RestyaPlatform/board/dev/restyaboard.sh and try again?

[2016-11-03 05:46] #921 closed

[2016-11-03 14:04] Polycris commented on #685
Hi, guys!
I've been tried to install restya on my server Ubuntu 16.04.1 LTS and I also had problems with php7.0-fpm. I've tryed to execute the script that  upgraded to PHP 7, posted by lmarikannan (commit 14c8d56) and I've saw that another error has been ocurred when execute the command at line 307:
 apt-get install -y php7.0-imagick

I've solved following the instruction recommended on http://ask

[2016-11-03 14:15] rrjanbiah commented on #685
@Polycris Thanks for your report and note

[2016-11-03 15:06] Polycris opened #924 "Error during installation - PSQL_VERSION=9.5"
Hi!!!
I've been tried to install restya on my server Ubuntu 16.04.1 LTS and I had problems with the version ok postgresql.

+ psql --version
+ egrep -o [0-9]{1,}\.[0-9]{1,}
+ PSQL_VERSION=9.5
restyaboard.sh: 361: restyaboard.sh: cannot open 9.3: No such file
+ [[ 9.5 ]]
restyaboard.sh: 361: restyaboard.sh: [[: not found
restyaboard.sh: 382: restyaboard.sh: cannot open /etc/postgresql/9.4/main/pg_h

[2016-11-03 18:43] danieljsc commented on #921
hi sorry for not creating a pull request, i fixed it in the script i
downloaded and already installed.

Daniel Castro
IST - University of Lisbon
<http://pt.linkedin.com/pub/daniel-castro/17/7bb/a59>

2016-11-03 5:46 GMT+00:00 lmarikannan <notifications@github.com>:

[2016-11-04 06:06] rrjanbiah commented on #921
@danieljsc No problem. Glad to know that you're already on Restyaboard :)

[2016-11-04 06:36] lmarikannan commented on #851
Fixed in this commit https://github.com/RestyaPlatform/board/commit/71f03ecd3efb4a2cc275240aff6442dcd0eadd19

[2016-11-04 06:36] #851 closed

[2016-11-04 06:50] lmarikannan commented on #814
Duplicate #829

[2016-11-04 06:50] #814 closed

[2016-11-04 06:54] lmarikannan commented on #800
Fixed in this commit https://github.com/RestyaPlatform/board-apps/pull/69/commits/da143e292efd9467733cfa4fd0d7a4e8ee6d6741

[2016-11-04 06:54] #800 closed

[2016-11-04 06:55] lmarikannan commented on #799
Duplicate #896

[2016-11-04 06:55] #799 closed

[2016-11-04 12:12] rrjanbiah opened #926 "Users can able to change organization"
From users:

I recently set up Resytaboard and added my team members to an organisation. But i noticed that users can delete organisation, how do i disable this?

[2016-11-05 10:22] lmarikannan commented on #908
Fixed in this commit https://github.com/RestyaPlatform/board/commit/2eb8d5aeef9d7165ed8ff0c4862b1b57027b9566

[2016-11-05 10:22] #908 closed

[2016-11-05 10:33] lmarikannan commented on #840
@sathya313  For card actions, we will not provide flash message because every actions showing the changes immediately.

[2016-11-05 10:33] #840 closed

[2016-11-05 10:34] lmarikannan commented on #824
Fixed in this commit https://github.com/RestyaPlatform/board/commit/272ee24e221ee08c13f72aa5dd76674494e05978

[2016-11-05 10:34] #824 closed

[2016-11-05 10:35] lmarikannan commented on #816
Fixed in this commit https://github.com/RestyaPlatform/board/commit/192b7c9aa7163dbe8087637dea35830449394516

[2016-11-05 10:35] #816 closed

[2016-11-05 10:37] lmarikannan commented on #843
Fixed in this commit https://github.com/RestyaPlatform/board/commit/2d5a36bbd679c54fe6534472e869464b2439525e

[2016-11-05 10:37] #843 closed

[2016-11-05 11:14] lmarikannan commented on #809
Fixed in this commit https://github.com/RestyaPlatform/board/commit/ee144d875b754911fb524d9d86d19c2ec841c242

[2016-11-05 11:14] #809 closed

[2016-11-05 11:27] lmarikannan commented on #909
Fixed in this commit https://github.com/RestyaPlatform/board/commit/7470acfc6e7801389cbf54b0cf6032c0c46755a5

[2016-11-05 11:27] #909 closed

[2016-11-07 05:13] lmarikannan commented on #808
@srileka We have used HTML5 email validation, so its not a problem.

[2016-11-07 05:13] #808 closed

[2016-11-07 05:13] lmarikannan commented on #810
Fixed in this commit https://github.com/RestyaPlatform/board/commit/63d7b4acd6286b87c634a9010504517a9817d244

[2016-11-07 05:13] #810 closed

[2016-11-07 05:14] lmarikannan commented on #811
Fixed in this commit https://github.com/RestyaPlatform/board/commit/4515abc22ba538133be14d282ed0e95277234c66

[2016-11-07 05:14] #811 closed

[2016-11-07 05:49] lmarikannan commented on #835
Fixed in this commit https://github.com/RestyaPlatform/board/commit/71f03ecd3efb4a2cc275240aff6442dcd0eadd19

[2016-11-07 05:49] #835 closed

[2016-11-07 05:51] lmarikannan commented on #798
@sathya313 Its a record problem in demo server and now its working fine.

[2016-11-07 05:51] #798 closed

[2016-11-07 06:12] lmarikannan commented on #834
@srileka We have used jQuery Sparkline charts and splitter is available only when data is available for the date.

[2016-11-07 06:12] #834 closed

[2016-11-07 06:53] lmarikannan commented on #786
Fixed in this commit https://github.com/RestyaPlatform/board/commit/ea4be408de7ee4c03414ab82751dfed98737e576

[2016-11-07 06:53] #786 closed

[2016-11-07 13:00] lmarikannan commented on #804
Fixed in this commit https://github.com/RestyaPlatform/board/commit/413a9d3ae1c23a70df81a9e782866cf97ab07beb

[2016-11-07 13:00] #804 closed

[2016-11-07 13:01] lmarikannan commented on #826
Fixed in this commit https://github.com/RestyaPlatform/board/commit/eec2b7f950b93f36b8db5ddb6ac08f5dfc8e80cd

[2016-11-07 13:01] #826 closed

[2016-11-07 14:51] lmarikannan commented on #926
@rrjanbiah Can disable it in admin roles page http://board.demo.restya.com/#/roles - Organizations tab.

[2016-11-07 14:51] #926 closed

[2016-11-07 14:54] lmarikannan commented on #732
@Aendrew87 Sorry about the delay. We have downloaded the VM. We will check and update you.

[2016-11-08 07:59] donat1 commented on #713
Can you tell me, which tool you used, since I have the same problem. I can't remove double entrys without primary key in the phppgadmin.

[2016-11-08 09:07] lmarikannan commented on #713
@donat1 We have not used any tool to identify the double entries and we have provided solution query based on your error log.

[2016-11-09 08:25] davydov-vyacheslav commented on #644
Hi,
I'm getting same error during installation as the original TC had ..
Just modified connection to database ... all other code of the shell script is the same ...
The modified shell script and result log file are attached

Thanks in advance,
Slava

[restyaboard.zip](https://github.com/RestyaPlatform/board/files/580256/restyaboard.zip)

[2016-11-10 12:59] Polycris commented on #685
After a lot of problems with dependencies and with my local proxy, I got finish the script install... but site is also blank. I've already set the php7.0-fpm on restyaboard.conf file, but doesn't works.
What else can I do?
Poly

[restyaboard_install.log.txt](https://github.com/RestyaPlatform/board/files/583383/restyaboard_install.log.txt)
[restyaboard.sh.txt](https://github.com/RestyaPlatform/boar

[2016-11-11 14:26] lmarikannan commented on #732
@Aendrew87 We have checked the VM provided by you and there is no software installed in that. Can you please check or let us know the way to proceed?

[2016-11-13 21:59] Aendrew87 commented on #732
@lmarikannan have you checked the snapshots too? i just downloaded the file and there should be several snapshots - the right one is 'chat not working'

[2016-11-14 11:07] lmarikannan commented on #732
@Aendrew87 We have checked the snapshots folder and cannot able to find it. Can you please check the attachment?

![snapshots](https://cloud.githubusercontent.com/assets/17758064/20262460/3fcdaf64-aa88-11e6-97a3-b10d1cfbb485.png)

[2016-11-14 11:13] lmarikannan commented on #685
@Polycris If we used like this `apt-get install -y php-imagick` then it will install php5 imagick in Ubuntu 14.04 (older version). So only we have mentioned like this `apt-get install -y php7.0-imagick` to support Ubuntu older versions. Also we have checked this command in Ubuntu 16.04 `apt-get install -y php7.0-imagick`, its working fine for us. Can you please post install log to identify the pro

[2016-11-14 11:13] #685 closed

[2016-11-15 18:39] Aendrew87 commented on #732
@lmarikannan sorry, i missed to tell you an important thing about the vm... you need local dns entry for 'testboard.local'...

1. Download and install VirtualBox
2. Download and unzip Debian8.5.zip
3. Start the vm with snapshot 'chat not working' (there might be an error to change the network adapter)
![01](https://cloud.githubusercontent.com/assets/13086377/20318305/02b74ff8-ab6a-11e6-88fc-568cbe

[2016-11-16 15:31] lmarikannan commented on #732
@Aendrew87 Like already we explained in the previous comment, we cannot able to find the `chat not working` snapshot inside snapshots folder.

[2016-11-16 16:50] Aendrew87 commented on #732
@lmarikannan you could select the snapshot directly in VirtualBox.

I downloaded the Debian8.5.zip yesterday and got this after opening 'Debian8.5.vbox':
![01](https://cloud.githubusercontent.com/assets/13086377/20356183/02a84a3e-ac24-11e6-93df-15279624e5ae.png)
There the snapshot was allready selected.
On the right side you could change to the snapshot area.

This is the screenshot from in my cas

[2016-11-17 06:54] sridhar391 opened #937 "LDAP - user duplicate entry issue"
ldap user email changed in ldap server, by the time if user login, duplicate entry  created instead it needs to update the existing users record

[2016-11-17 10:40] corganhejijun opened #940 "login failed with any user"
the same with the situation in
https://groups.google.com/forum/#!topic/restya/tJ050sUq4U0

with debug on, i have a response of:
`
{"id":"1","links":"[{\"slug\":\"board_star\"},{\"slug\":\"board_star\"},{\"slug\":\"unstarred_board\"},{\"slug\":\"unstarred_board\"},{\"slug\":\"add_user_profile_picture\"},{\"slug\":\"add_user_profile_picture\"},{\"slug\":\"view_board\"},{\"slug\":\"view_board\"},{\"s

[2016-11-17 10:53] lmarikannan commented on #940
@corganhejijun  Can you please run the below queries?

`ALTER DATABASE restyaboard OWNER TO restya;`
`GRANT ALL PRIVILEGES ON DATABASE restyaboard TO restya;`
`GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO restya;`
`GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO restya;`

[2016-11-17 10:54] lmarikannan commented on #940
@corganhejijun Can you please run the below queries?

`DELETE FROM oauth_scopes;`
`INSERT INTO "oauth_scopes" ("scope", "is_default") VALUES ('read', 't');`
`INSERT INTO "oauth_scopes" ("scope", "is_default") VALUES ('write', 'f');`

[2016-11-17 11:19] lmarikannan commented on #937
Fixed in this commit https://github.com/RestyaPlatform/board/commit/86f3d6bb36d3a38486be2eca32f036884a510e69

[2016-11-17 11:19] #937 closed

[2016-11-17 11:51] lmarikannan commented on #833
Fixed in this commit https://github.com/RestyaPlatform/board/commit/ded551c2f412ac902dbbd443aafabb18e433b871

[2016-11-17 11:51] #833 closed

[2016-11-18 07:57] lmarikannan commented on #815
@srileka We cannot able to reproduce this issue.

[2016-11-18 07:57] #815 closed

[2016-11-18 09:07] lmarikannan commented on #890
Fixed in this commit https://github.com/RestyaPlatform/board/commit/74184cc04ce9e545a0749b29a95cc16b903e78b5

[2016-11-18 09:07] #890 closed

[2016-11-18 11:37] lmarikannan commented on #867
@kramer65 Please feel free to reopen, if you still face any issues.

[2016-11-18 11:37] #867 closed

[2016-11-18 14:52] Polycris commented on #685
@lmarikannan I've finished the run script install, but I also received white screen. What else can I do?

Thanks
Poly
[restyaboard_install.log.txt](https://github.com/RestyaPlatform/board/files/600158/restyaboard_install.log.txt)

[2016-11-19 06:51] lmarikannan commented on #732
@Aendrew87 Thanks for your detailed explanation. We will check and update you.

[2016-11-19 06:53] lmarikannan commented on #685
@Polycris Can you please attach your nginx `/var/log/nginx/error.log` file to identify the problem?

[2016-11-21 12:33] Polycris commented on #685
@lmarikannan , this is the error.log file. Thanks for your help.
Poly
[error.log.txt](https://github.com/RestyaPlatform/board/files/603523/error.log.txt)

[2016-11-22 09:24] Adysone commented on #794
Hello,
I think this feature is required for security reason. Any user should be able to change his password!

[2016-11-22 09:27] Adysone commented on #692
@nicolas-r How did you disable LDAP login? If I uncheck the "LDAP" box and I save, when I come back to the settings, the box is checked again.

[2016-11-23 09:41] nicolas-r commented on #692
I just uncheck the LDAP box and click on the save or submit button, nothing more

[2016-11-24 16:22] kirtangajjar commented on #794
Agreed. Even I was thinking about the same thing

[2016-11-25 11:05] kirtangajjar opened #943 "Is this project alive?"
cc @ssivachidambaram  @sridhar391

From the graphs tab it looks like development activity of this project isn't as active as it used to be. Is this project still alive?

[2016-11-27 10:51] kirtangajjar opened #944 "[Bug] Instant add icon should not be visible if user does not have the right to add card"
Instant add icon is available to user even though the permission to do so has not been granted from backend.

The user cannot add card in the database, however, the icon on frontend should be there.

[2016-11-27 10:53] kirtangajjar opened #945 "[Bug] Push /board link to browser history for consistent navigation"
Currently, it is not being pushed for some reason.

[2016-11-28 06:28] lmarikannan commented on #943
@kirtangajjar Yes. We are working in `dev` branch, please refer https://github.com/RestyaPlatform/board/commits/dev but graphs tab showing `master` branch stats only.

[2016-11-28 06:28] #943 closed

[2016-11-28 14:41] julienmoinard commented on #701
Yes it will be very usefull. Thank you

[2016-11-28 14:43] julienmoinard commented on #776
I agree with

[2016-11-28 15:23] kirtangajjar commented on #943
@lmarikannan Thanks

[2016-11-29 16:07] Polycris commented on #743
Hi! I had LDAP enabled once time and later I can't unfix anymore. Why? How can I disable this option?

![screen 1 ldap disabled](https://cloud.githubusercontent.com/assets/23239422/20717603/273b2ef2-b63d-11e6-848d-27353e643279.jpg)
![screen 2 doesn t fixed](https://cloud.githubusercontent.com/assets/23239422/20717604/273c697a-b63d-11e6-97af-ad4517ae14c1.jpg)

[2016-12-01 08:35] baskar383 opened #946 "Feature request: Print card"
From https://groups.google.com/forum/#!topic/restya/sumkagnpbHY,

I'd like to see a print option for cards and lists. Is there a roadmap somewhere to see, if this is a planned feature?

[2016-12-01 12:42] Polycris commented on #692
Hi, guys!  I had the same problem... I had LDAP enabled once time and later I could not disable it anymore, the box is always checked. I need disable this option to add my local user.
Thanks!
Poly

[2016-12-02 05:24] lmarikannan commented on #946
Implemented in this commit https://github.com/RestyaPlatform/board/commit/311141e04ec8f2017283010b7d4140849d26b92d

[2016-12-02 05:24] #946 closed

[2016-12-02 05:40] lmarikannan commented on #945
@kirtangajjar Is this possible to provide video/image to reproduce this issue?

[2016-12-02 06:01] lmarikannan commented on #794
Implemented in this commit https://github.com/RestyaPlatform/board/commit/cacde290ddf11862a3dcb7f61e7a81f18a8bdf4a

[2016-12-02 06:01] #794 closed

[2016-12-02 06:50] kirtangajjar commented on #945
@lmarikannan To reproduce this issue,

1.  Login as admin and go to any page
2.  Then you got to home page(`/boards`)
3.  Goto another page
4.  Click on back button of browser

You will see that the you will be redirected directly to page opened on step-1 instead of redirecting on `/board`.

Sorry I do not have any picture or video for this image and my restyaboard instance is not running for some

[2016-12-03 18:09] miniminime opened #951 "Installation fails on CentOS 6"
Hi,

The installation fails on CentOS 6 during the PostgresSQL installation step. I have the installation log attached.

Best regards,
Minime
[restyaboard_install (copy).txt](https://github.com/RestyaPlatform/board/files/629011/restyaboard_install.copy.txt)

[2016-12-03 18:11] miniminime commented on #951
`http://yum.postgresql.org/9.4/redhat/rhel-6.6-x86_64/pgdg-centos94-9.4-1.noarch.rpm`
doesn't exist, it should read in the installation script
`http://yum.postgresql.org/9.4/redhat/rhel-6.6-x86_64/pgdg-centos94-9.4-3.noarch.rpm`

[2016-12-03 18:18] miniminime commented on #951
After that, the installation script runs into the next issue:

Remove the folder and run the script again
`rm -r /usr/share/GeoIP`

[restyaboard_install (copy).txt](https://github.com/RestyaPlatform/board/files/629016/restyaboard_install.copy.txt)

[2016-12-03 18:24] miniminime commented on #951
After that the script fails in the "ejabbered" step:

Now, I am a bit frustrated and I don't know how to fix this. Could you please help to fix the installation script?
[restyaboard_install (copy).txt](https://github.com/RestyaPlatform/board/files/629020/restyaboard_install.copy.txt)

[2016-12-04 10:21] miniminime commented on #871
Same is true for Ubuntu 16.10. Installation fails due to php5 dependencies.

[2016-12-05 16:17] Polycris opened #952 "LDAP problem"
Hi! I can't login with ldap...  There are two files r.php. When I run with the [r_creatXmmpuser_error.php.txt] file, I can't login.  When I run with the file [r.php.txt], I login with admin, but I can't login with ldap users.
The parameters of LDAP are corrects. What can I do?

[r_creatXmmpuser_error.php.txt]
(https://github.com/RestyaPlatform/board/files/631608/r_creatXmmpuser_error.php.txt)
[r.p

[2016-12-07 09:10] frapporti opened #953 "Can't change app status to enabled/disabled"
New installation via Amazon AMI.
Apps can not be enabled/disabled.

Steps to reproduce:
- launch a new instance using Restyaboard AMI;
- `wget` a new app into `client/apps` folder;
- unzip;
- go to admin settings and try enable/disable the app.

No apparent error (but I should specify I'm new).

Response from server:
`[{"name":"Theming\/CSSilize","description":"CSSilize, theming partner","author":

[2016-12-09 23:15] rkantos opened #954 "Feature request on associating cards"
Hello,

I'm looking at Kanban Boards to satisfy the following type of workflow:

Have an asset management system & database, from which assets are kept synced as cards, with their info. Modifying this info in either system results in changes to the other. What would be ideal would be to sync the Assets from the database to a kanban board as assets. The assets could be synced into multiple "Boards"

[2016-12-10 09:51] lmarikannan commented on #953
@frapporti Sorry about the delay. Can you please give write permission to `client/apps` folder?

[2016-12-10 09:56] lmarikannan commented on #952
@Polycris Sorry about the delay. It looks like you are using `dev` branch version but you have not updated the files properly. can you please update this function https://github.com/RestyaPlatform/board/blob/dev/server/php/libs/core.php#L1536?

[2016-12-10 09:56] #952 closed

[2016-12-10 09:57] #953 closed

[2016-12-10 10:01] lmarikannan commented on #951
@miniminime Sorry about the delay. We have fixed this in our `dev` branch in this commit https://github.com/RestyaPlatform/board/commit/18dd4b9d04916a7706e7677af4b2a9295752dcd8.

[2016-12-10 10:01] #951 closed

[2016-12-10 10:03] lmarikannan commented on #871
@miniminime @UrosB Yes. We are working in the `dev` branch. Latest commit https://github.com/RestyaPlatform/board/commit/18dd4b9d04916a7706e7677af4b2a9295752dcd8. Now we are getting issue while install `php-pgsql` extension.

[2016-12-10 10:11] lmarikannan commented on #924
Fixed in this commit https://github.com/RestyaPlatform/board/commit/18dd4b9d04916a7706e7677af4b2a9295752dcd8

[2016-12-10 10:11] #924 closed

[2016-12-10 10:26] lmarikannan commented on #954
@rkantos Requirement is not clear. Can you please contact our support team and set up a call?

[2016-12-10 10:40] lmarikannan commented on #940
@corganhejijun Please feel free to reopen if you are still having this issue?

[2016-12-10 10:40] #940 closed

[2016-12-10 10:41] lmarikannan commented on #885
Done

[2016-12-10 10:41] #885 closed

[2016-12-10 10:41] lmarikannan commented on #793
@Merlin90 Please feel free to reopen, if you still face any issues.

[2016-12-10 10:41] #793 closed

[2016-12-10 11:48] rkantos commented on #954
See Example here:
http://board.demo.restya.com/#/board/936/card/8682,8681

From card #8682 I can see both Asset-named cards #8683 and #8681, but they are not associated or cannot be seen from the Asset #1 or #2 cards #8683 or #8681

[2016-12-10 12:53] rrjanbiah commented on #954
Added screenshots for internal reference...

![screencapture-board-demo-restya-1481374290854](https://cloud.githubusercontent.com/assets/4907427/21073484/a759bcae-bf05-11e6-9054-563f847aaa9f.png)

![screencapture-board-demo-restya-1481374306234](https://cloud.githubusercontent.com/assets/4907427/21073485/a76076e8-bf05-11e6-95ce-0ff4d604101f.png)

[2016-12-10 13:20] rkantos commented on #954
Further improved the screenshot:
![](https://www.dropbox.com/s/rsreb443dbolfwh/2016_12_10_15_11_59_Restya_s_Restyaboard_Card_Asset_1_on_Assets.png?dl=0)

[2016-12-10 13:25] rrjanbiah commented on #954
@rkantos Perhaps you're looking for checklist?

[2016-12-10 13:58] rkantos commented on #954
Absolutely not since a checklist has no relation to anything. The thinking behind it is being able to see if an asset is in use in a specific task. From the task I want to see which assets are included in the task. Again, sure this could be done manually, but I need it to be automatic :+1:

[2016-12-12 17:02] miniminime commented on #951
Hi, just tested with a fresh installation without success. Please see attached log.

[restyaboard_install_copy.txt](https://github.com/RestyaPlatform/board/files/646627/restyaboard_install_copy.txt)

[2016-12-13 06:42] lmarikannan commented on #951
@miniminime Checked your install log and it looks,

`restyaboard.sh: line 18: lsb_release: command not found`
`restyaboard.sh: line 19: lsb_release: command not found`

So script could not able to find the OS & version. Need to add `exit` code in the script if not able to find the OS and version.

[2016-12-16 12:22] miniminime commented on #951
I think, this is not the only problem. Have a look at the end of the file:

`+ rpm -Uvh http://yum.postgresql.org/9.5/redhat/rhel--x86_64/pgdg-centos95-9.5-3.noarch.rpm
curl: (22) The requested URL returned error: 404 Not Found
error: skipping http://yum.postgresql.org/9.5/redhat/rhel--x86_64/pgdg-centos95-9.5-3.noarch.rpm - transfer failed
Retrieving http://yum.postgresql.org/9.5/redhat/rhel--x86

[2016-12-16 12:52] drumpalisti opened #955 "Installation failed @nginx"
This script must be run as root
./restyaboard.sh: 30: ./restyaboard.sh: [[: not found
+ whoami
root
+ cat /etc/issue
+ echo Debian GNU/Linux 8 \n \l
Debian GNU/Linux 8
 \l
+ cat /proc/version
+ grep Ubuntu\|Debian\|Raspbian
+ sed s/^.*Ubuntu.*$/Ubuntu/g
+ sed s/^.*Debian.*$/Debian/g
+ sed+  s/^.*Debian.*$/Debian/g
sed s/^.*Raspbian.*$/Raspbian/g
+ OS_REQUIREMENT=Debian
+ [ Debian = Ubuntu ]
+ [ De

[2016-12-17 22:14] maxenko opened #956 "Cannot install with default install script. Ubuntu 16.04.1"
[code]

[2016-12-22 20:15] cvlug opened #957 "I installed RestyaPlatform/board, but why don't i see any files in the directory where i executed restyaboard.sh? The only files i see are restyaboard.sh and restyaboard_install.log"
++ whoami
root
+++ cat /etc/issue
++ echo '\S' Kernel '\r' on an '\m'
\S Kernel \r on an \m
+++ sed 's/^.*Debian.*$/Debian/g'
+++ sed 's/^.*Raspbian.*$/Raspbian/g'
+++ sed 's/^.*Debian.*$/Debian/g'
+++ grep 'Ubuntu\|Debian\|Raspbian'
+++ sed 's/^.*Ubuntu.*$/Ubuntu/g'
+++ cat /proc/version
++ OS_REQUIREMENT=
++ '[' '' = Ubuntu ']'
++ '[' '' = Debian ']'
++ '[' '' = Raspbian ']'
++ yum install -y cu

[2016-12-23 09:55] Speed03 commented on #849
Use command:
docker logs _nameOfYourContainer_

Add -f if you want to follow logs

Personally, using the official docker image, I had to install php5-ldap in the container to have ldap functions. If it's the same for you, you will see an error in the logs : _undedined function ldap_connect()_

[2016-12-23 11:48] lmarikannan commented on #951
@miniminime Yes. We have checked and actually script will dynamically replace the OS & version to download the respective PostgreSQL software. So in your case it replace with empty string and the software not downloaded. Please refer https://github.com/RestyaPlatform/board/blob/dev/restyaboard.sh#L862.

[2016-12-23 11:51] lmarikannan commented on #955
@drumpalisti Can you please try with our updated install script file https://github.com/RestyaPlatform/board/blob/dev/restyaboard.sh

[2016-12-23 11:56] lmarikannan commented on #957
@cvlug While checking your log script was stopped while install `php-imagick` extension. Can you please try with our updated install script https://github.com/RestyaPlatform/board/blob/dev/restyaboard.sh?

[2016-12-23 12:03] lmarikannan commented on #849
@Speed03 Thank you very much for your response.

@88fingerslukee Can you please check and let me know whether its working for you?

[2016-12-23 23:20] miniminime commented on #951
Ok, but this means that the script doesn't work as expected as I have used standard CentOS 6 and it didn't find a package. To be more precise, it didn't find the packages:

No package postgresql95-server available.
No package postgresql95 available.

Correct?

[2016-12-24 04:42] maxenko commented on #956
Got it. Thank you.

[2016-12-24 04:42] #956 closed

[2016-12-27 09:40] lmarikannan commented on #951
@miniminime

Yes. But URL not replaced properly. From your log,

Original URL: https://yum.postgresql.org/9.5/redhat/rhel-6.6-x86_64/pgdg-centos95-9.5-3.noarch.rpm

[2016-12-29 18:27] tonbar opened #958 "404 not found after login page redirects to /board"
I am trying to get Restyaboard to work on an iMac using the deployable .zip. Everything seemed to be working fine, but after I log in using the default username and password, I get redirected to a page where a 404 not found error is displayed. I think that this is supposed to be the page where the boards are shown.

Looking in the nginx error log, I am receiving errors which appear the same as tho

[2016-12-30 12:01] tonbar commented on #958
Copying the error log contents here to provide more information:
2016/12/30 11:45:27 [error] 97603#0: *1 FastCGI sent in stderr: "PHP message: PHP Notice:  Constant BOSH_SERVICE_URL already defined in /usr/local/var/www/restyaboard/server/php/config.inc.php on line 62
PHP message: PHP Notice:  Constant JABBER_HOST already defined in /usr/local/var/www/restyaboard/server/php/config.inc.php on line

[2016-12-30 12:06] lmarikannan commented on #958
@tonbar

Sorry for the trouble. Actually this error occur only in PHP 7. We have fixed this in our `dev` branch.

Need to change the below line in `r.php` line number 1211.

https://github.com/RestyaPlatform/board/blob/master/server/php/R/r.php#L1211

`$total_page = ceil($c_data->count / $page_count);`

to

`$total_page = !empty($page_count) ? ceil($c_data->count / $page_count) : 0;`

[2016-12-30 12:18] tonbar commented on #958
Thank you, this has solved the problem I was having. I could see the div by 0 error but didn't know how to solve it or why it was manifesting in this way, so wasn't sure how best to correct it.
I am now able to create boards and see them. Thanks for your quick response and helpful support.

[2016-12-30 12:18] #958 closed

[2017-01-03 16:41] kodb-avv opened #960 "Install errors on fresh Ubuntu 14.04 instance"
Install fails on php dependency.  See log file

[2017-01-03 16:44] kodb-avv commented on #960
Please see log.  The install fails at a php dependecy
For reasons that are obscure the board won't let me upload the txt file that was generated so I am cutting and pasing below:

This script must be run as root
./restyaboard.sh: 30: ./restyaboard.sh: [[: not found
+ whoami
root
+ cat /etc/issue
+ echo Ubuntu 14.04.5 LTS \n \l
Ubuntu 14.04.5 LTS
 \l
+ sed s/^.*Raspbian.*$/Raspbian/g
+ sed s/^.*Deb

[2017-01-04 04:38] lmarikannan commented on #960
@kodb-avv Can you please try this solution for your installation problem https://github.com/RestyaPlatform/board/issues/721#issuecomment-251375540?

Also we have improved our install script in our `dev` branch https://github.com/RestyaPlatform/board/blob/dev/restyaboard.sh.

[2017-01-06 05:05] lmarikannan commented on #960
@kodb-avv Please feel free to reopen if you got any issue in installation.

[2017-01-06 05:05] #960 closed

[2017-01-06 05:05] lmarikannan commented on #957
@kodb-avv Please feel free to reopen if you got any issue in installation.

[2017-01-06 05:05] #957 closed

[2017-01-06 05:06] lmarikannan commented on #955
@drumpalisti  Please feel free to reopen if you got any issue in installation.

[2017-01-06 05:06] #955 closed

[2017-01-06 05:09] lmarikannan commented on #805
@sathya313 Issue related to third party library.

[2017-01-06 05:09] #805 closed

[2017-01-06 05:10] lmarikannan commented on #841
@srileka We are storing it in cookie to fetch the records every time from server. So if we got any requests from other user will fix this.

[2017-01-06 05:10] #841 closed

[2017-01-06 05:15] #86 closed

[2017-01-06 05:24] lmarikannan commented on #701
Done in our dev branch.

[2017-01-06 05:24] #701 closed

[2017-01-06 05:43] lmarikannan commented on #233
@rrjanbiah  Currently just we are replacing #{CARD_ID} with current board link. So to fix this issue, we have to store the associated card & board id with the comment to reference the correct board link.

Reference #954.

[2017-01-06 06:10] lmarikannan commented on #849
@88fingerslukee Please feel free to reopen if you got issue.

[2017-01-06 06:10] #849 closed

[2017-01-06 13:07] kodb-avv commented on #960
ok I did the manual install of php-imap as above and have new error.  Will open new ticket

[2017-01-06 17:23] Valiantiam opened #961 "Blank Settings Page"
After my install, I have found that some setting pages are blank entirely. Including the main "system" setting page located at /#/settings/3

![image](https://cloud.githubusercontent.com/assets/5394853/21726401/31c40d16-d402-11e6-89b4-bc46122843cb.png)

but some other ones load fine
![image](https://cloud.githubusercontent.com/assets/5394853/21726439/4f893e34-d402-11e6-894b-c4091c81fb44.png)

This

[2017-01-06 19:55] 88fingerslukee commented on #849
Sorry, I had to blow away my server and just got it up again.  I'm not seeing that error, I see this one on repeat:

`==> /var/log/nginx/error.log <==
2017/01/06 19:51:49 [error] 75#0: *3 FastCGI sent in stderr: "PHP message: PHP Warning:  fopen(/usr/share/nginx/html/tmp/cache/site_url_for_shell.php): failed to open stream: Permission denied in /usr/share/nginx/html/server/php/config.inc.php on li

[2017-01-06 22:52] kodb-avv opened #962 "ubuntu 14.04 fails install again"
reference #960.  Manual install of php-imap allowed script to progress until geopip when it failed.
see appended log entries:
...
Selecting previously unselected package libssl-doc.
Preparing to unpack .../libssl-doc_1.0.1t-1+deb7u1_all.deb ...
Unpacking libssl-doc (1.0.1t-1+deb7u1) ...
Selecting previously unselected package libtool.
Preparing to unpack .../libtool_2.4.2-1.7ubuntu1_amd64.deb ...

[2017-01-07 05:06] lmarikannan commented on #962
Related to #703, #797. Fixed in this commit https://github.com/RestyaPlatform/board/commit/b49a091b785018cb426c91afd91a3137b2f01e81. You can reopen this same issue, if you still facing the problem in installation.

Also we have improved our install script in our `dev` branch https://github.com/RestyaPlatform/board/blob/dev/restyaboard.sh.

[2017-01-07 05:06] #962 closed

[2017-01-07 05:09] lmarikannan commented on #849
@88fingerslukee Can you please provide write permission for this path `/usr/share/nginx/html/tmp/`?

[2017-01-07 05:10] lmarikannan commented on #961
@Valiantiam Can you please attach nginx `error.log` available in the path `/var/log/nginx`?

[2017-01-07 23:52] Valiantiam commented on #961
[error.TXT](https://github.com/RestyaPlatform/board/files/691795/error.TXT)

Here you go. I grabbed the section that pops up when loading that page. I should not that its constantly filling with logs regarding the "already defined" stuff for TODO, DOING, JABBER_HOST, etc.

[2017-01-10 08:11] lgg commented on #961
@Valiantiam this will help: https://github.com/RestyaPlatform/board/issues/705

[2017-01-10 08:24] lgg commented on #732
@Aendrew87 any updates?

[2017-01-10 09:07] lgg opened #963 "Trouble with webhook.sh cron task"
[code]

Restyaboard installed manually.

Cron task:
`*/5 * * * * /var/www/taskmanager/server/php/shell/webhook.sh`

Other tasks work fine.

[2017-01-10 09:29] lgg opened #965 "Password length"
In admin panel pass length is restricted by 50 symbols.

1. The warning message tells nothing about max length

**no info about max length!!!**

Code: https://github.com/RestyaPlatform/board/blob/master/client/js/templates/users_register.jst.ejs#L16 and
https://github.com/RestyaPlatform/board/blob/master/client/js/templates/admin_user_add.jst.ejs#L16

2. Also, why we need to restrict password leng

[2017-01-10 11:40] lmarikannan commented on #963
@lgg Can you please replace the line https://github.com/RestyaPlatform/board/blob/master/server/php/shell/webhook.sh#L5?

`lockdir="${path}/cron_sh.lock"`

to

`lockdir="${path}/webhook_sh.lock"`

[2017-01-10 11:57] lmarikannan opened #966 "Updating the "Activity Feed" when a custom field is updated (ex. Due Date's behavior)"
From fubujo,

https://groups.google.com/forum/#!topic/restya/4Rs8jBEKWWA

[2017-01-10 19:17] Aendrew87 commented on #732
@lgg not yet

@lmarikannan could you give us a short update?

[2017-01-11 11:17] xorander00 opened #967 "Token expiration and auto-logout"
Hello, love the project!  Keep up the good work :)  I'm having an issue with session logout and would like to get feedback.  Not sure if this is a bug or if it's a configuration issue on my part (probably the latter).

I keep a browser tab open, usually to a card that holds the task lists for what I'm currently working on.  The issue that I've run into is that when I go try to update the card afte

[2017-01-11 14:57] xorander00 commented on #967
That'll teach me to not read the docs further.  I just saw and read the Known Issues page.  I suspect my issue was directly because of multiple tabs being open.

I'm going to close this issue.  Will reopen if I keep experiencing it.

[2017-01-12 05:47] lmarikannan commented on #963
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3ad042dd0ff36df1ba16b63563af455bf6cc85b7#diff-145fe7d61fd02ef6c458162d26548271

[2017-01-12 05:47] #963 closed

[2017-01-12 05:51] lmarikannan commented on #692
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3ad042dd0ff36df1ba16b63563af455bf6cc85b7

[2017-01-12 05:51] #692 closed

[2017-01-12 05:51] lmarikannan commented on #944
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3ad042dd0ff36df1ba16b63563af455bf6cc85b7

[2017-01-12 05:51] #944 closed

[2017-01-12 05:52] lmarikannan commented on #882
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3ad042dd0ff36df1ba16b63563af455bf6cc85b7

[2017-01-12 05:52] #882 closed

[2017-01-12 05:52] lmarikannan commented on #945
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3ad042dd0ff36df1ba16b63563af455bf6cc85b7

[2017-01-12 05:52] #945 closed

[2017-01-12 10:06] lmarikannan commented on #961
@Valiantiam Please feel free to reopen, if you still getting this error.

[2017-01-12 10:06] #961 closed

[2017-01-12 13:46] Valiantiam commented on #961
I can confirm this worked! Thank you.

[2017-01-12 14:48] lmarikannan commented on #965
@lgg Information issue fixed in this commit https://github.com/RestyaPlatform/board/commit/36917825b0b49302a2676f2cb683ec1fa122d0bf.

Also regarding password length 50 character is large enough and a normal user cannot able to remember more than that length.

[2017-01-12 23:13] Gman1988 opened #969 "PNG and JS errors after script install"
Hi i tested docker image and i loved.  But for some reason API wont worked on docker image.

So i used installation script on CentOS7 and after few modification all was go ok.

But after log in there are errors in console about wrong JS function and some png missing.

And when i enter the admin -> settings page its blang as on picture below. But when i manually edit link for 3 or other some seetin

[2017-01-12 23:57] lgg commented on #965
1. It still not fixed in admin panel:
https://github.com/RestyaPlatform/board/blob/master/client/js/templates/admin_user_add.jst.ejs#L16

2. Okay, most of users are okay with 50 symbols password length, but why? Why we can't increase it to 64,128,256,infinity? Any performance reasons? Special requirements of PostgreSQL?

[2017-01-13 04:58] rrjanbiah commented on #969
@Gman1988 As noted here http://restya.com/board/install#Manualsetup you'll need write permission for `media`, `tmp/cache`, `server/php/shell/*.sh` & `client/img`

Can you please check that?

[2017-01-13 05:24] lmarikannan commented on #965
@lgg

https://github.com/RestyaPlatform/board/blob/master/client/js/templates/admin_user_add.jst.ejs#L16

We have fixed this in `dev` branch and we will merge it in `master` branch while release next version.

No such special requirements in PostgreSQL. You can increase it to any length.

[2017-01-13 06:07] lmarikannan commented on #604
@KerimG Sorry for the delayed response. We will implement this in our future version.

[2017-01-13 06:10] lmarikannan commented on #872
@katiemacintyre As per our understanding from your error logs, this error displays only when the database doesn't have permission for the database user.

[2017-01-13 06:10] #872 closed

[2017-01-13 06:11] lmarikannan commented on #871
We have fixed this in our `dev` version.

[2017-01-13 06:11] #871 closed

[2017-01-13 06:13] lmarikannan commented on #79
@fwolfst Fixed in this commit https://github.com/RestyaPlatform/board/pull/959

[2017-01-13 06:13] #79 closed

[2017-01-13 06:20] lmarikannan commented on #837
Fixed in this commit https://github.com/RestyaPlatform/board/commit/3ad042dd0ff36df1ba16b63563af455bf6cc85b7

[2017-01-13 06:20] #837 closed

[2017-01-13 09:39] Gman1988 commented on #969
@rrjanbiah
Unfortunatly it didnt helped, those dira was already with write permission for php, any other ideas?

It display werid name of png, i think that it should display default-admin-user.png ?

And what with those js functions ?

[2017-01-13 12:44] lmarikannan commented on #796
Fixed in this commit https://github.com/RestyaPlatform/board/commit/01472a539df707a2fce8042f3ed8f27405416ec0

[2017-01-13 12:44] #796 closed

[2017-01-13 12:44] lmarikannan commented on #820
Fixed in this commit https://github.com/RestyaPlatform/board/commit/01472a539df707a2fce8042f3ed8f27405416ec0

[2017-01-13 12:44] #820 closed

[2017-01-13 12:45] lmarikannan commented on #818
@srileka We will implement when we get more request from users.

[2017-01-13 12:45] #818 closed

[2017-01-13 12:45] lmarikannan commented on #812
@sathya313 We will implement when we get more request from users.

[2017-01-13 12:45] #812 closed

[2017-01-13 12:47] lmarikannan commented on #602
@KerimG Thank you very much for your suggestion. We will consider this when we get more request for this UX changes.

[2017-01-13 12:47] #602 closed

[2017-01-13 13:09] lmarikannan commented on #792
Related to #512, #658

[2017-01-13 15:29] lgg commented on #965
@lmarikannan so if there are no special requirements - why we need maximum length restriction?

[2017-01-15 10:28] morphiumdeus opened #971 "Quoted printable subjects in IMAP mails not decoded"
When sending an email to a board with https://en.wikipedia.org/wiki/Quoted-printable subject, the card title is not decoded.
I proposed a fix in commit 95249e00957ada500a70fb16cbbe3e25e83c63c7 (https://github.com/morphiumdeus/board/pull/1).

[2017-01-15 15:41] xorander00 opened #972 "0.4 release and Android"
Any status update on the 0.4 release?  I've started to slowly develop an Android client, but would like to see the changes in 0.4 before going further.  Thanks!

[2017-01-15 16:26] rrjanbiah commented on #972
@xorander00 We are almost there. For now

1. Working on website updates
2. Waiting to get QA approval
3. Looking on failing build

So mostly will release in this week

[2017-01-18 08:49] lmarikannan commented on #971
@morphiumdeus Thank you for your contribution. But it looks like the coding is not completed yet.

This line not completed.
`$title .= iconv($decoded_title[$i]->charset, "utf-8", $de$`

Also `$title` is not used anywhere. Can you please check and confirm? After that we will merge it.

[2017-01-18 13:06] rrjanbiah commented on #967
Reopening this ticket as it has very good information to closely check

[2017-01-18 13:30] xorander00 commented on #967
I'm actually still experiencing the issue.  It happens less now because I'm not opening multiple tabs/sessions, but it does log me out randomly.

I'll dig into it further later this week.

[2017-01-18 16:26] miniminime commented on #972
Incl. RedHat 6.5?

[2017-01-18 18:06] lgg commented on #965
ping @lmarikannan

[2017-01-18 20:17] morphiumdeus commented on #971
@lmarikannan Sorry for that. That's what happens when you program in a putty console and copy-paste the result.
I corrected it.

[2017-01-19 11:12] lmarikannan commented on #971
@morphiumdeus Thank you for your contribution. We have merged the code in our branch.

[2017-01-19 11:12] #971 closed

[2017-01-19 11:24] lmarikannan commented on #967
@xorander00 @rrjanbiah

We have changed the session usage from browser sessionStorage to cookies. So in upcoming release, user can able to work in multiple tabs.

Also we have added a query to delete expired tokens from both `oauth_access_tokens` & `oauth_refresh_tokens`.

[2017-01-19 11:40] rrjanbiah commented on #972
Linking "RedHat" related tickets for better understanding https://github.com/RestyaPlatform/board/search?q=redhat&type=Issues&utf8=%E2%9C%93

[2017-01-19 12:35] xorander00 commented on #967
Excellent, that should help matters.  I'll upgrade to the new release as soon as it's available and see if I still see the auto-logout issue.  I'm still getting it as of right now, even though I don't open it in multiple tabs anymore.

Also, has there been any consideration on using something like [localforage](https://github.com/localForage/localForage) for browser-local storage?  I use it in my

[2017-01-19 12:42] rrjanbiah opened #973 "Use localforage, localStorage wrapper"
From https://github.com/RestyaPlatform/board/issues/967#issuecomment-273765809 by @xorander00

[2017-01-19 12:43] rrjanbiah commented on #967
@lmarikannan

Looks like this doesn't address @xorander00 's concern of random logout even without opening multiple tabs

[2017-01-21 02:17] vClouds opened #974 "Restya Install Script - CentOS 6.8"
Please revise the install script, several trials to install on Ubuntu 14.04, 16.04 LTS and CentOS 6.8 with no luck yet.
below are some of adjustments I have done with CentOS 6.8 to proceed further with no successful install yet.
Line 318: cd: /etc/ejabberd: No such file or directory (Please adjust)
Line 999 > yum install -y php-pear (Terminal is stopping waiting for user confirmation)
Line 1061 >

[2017-01-21 06:59] lmarikannan commented on #974
@vClouds Sorry for the inconvenience. We have revised install script in our `dev` branch https://raw.githubusercontent.com/RestyaPlatform/board/dev/restyaboard.sh and we are going to release new version shortly.

[2017-01-21 07:02] lmarikannan commented on #967
@rrjanbiah

Random logout was not able to reproduce in current version v0.3.1. Also now we have changed it to cookie and logout will not happen in multiple tabs also.

[2017-01-21 07:03] lmarikannan commented on #965
@lgg Password length increased to 256 character in our `dev` branch.

[2017-01-21 07:03] #965 closed

[2017-01-22 18:27] xorander00 commented on #972
Status update on the release?  Anything I can do to help?  I'm restructuring my workflow this week and am deciding on what to types of data to store in the different services I utilize, Restyaboard being one of them.  I'm working on my own integration server between the services that uses WebHooks.  I'd like to review the latest release to decide some of these factors.  Thanks!

[2017-01-23 12:26] lmarikannan commented on #972
@xorander00 We have released v0.4 just now.

[2017-01-23 12:26] #972 closed

[2017-01-23 12:27] lmarikannan commented on #974
@vClouds We have released new version v0.4 and let us know your feedback.

[2017-01-23 12:28] lmarikannan commented on #868
@rrjanbiah We have tested in all cases and its working fine for us.

[2017-01-23 12:28] #868 closed

[2017-01-23 12:29] lmarikannan commented on #829
Related to #732.

[2017-01-23 12:29] #829 closed

[2017-01-23 12:32] lmarikannan commented on #969
@Gman1988

Actually we will generate a hash using image name and create a resize image. So only it displays that name.

Also we cannot able to reproduce this issue.

Can you please upgrade to our new version and let us know your feedback?

[2017-01-23 12:32] #969 closed

[2017-01-23 14:10] miniminime commented on #974
Just tested on a fresh 6.8 installation with master v0.4:

No package postgresql95-server available.
No package postgresql95 available.
Error: Nothing to do
++ '[' 1 '!=' 0 ']'
++ echo 'Installing PostgreSQL 64 fail with error code 28'
Installing PostgreSQL 64 fail with error code 28
++ exit 1

Could you please test it with a fresh CentOS 6.8 installation? There are some rough edges before as well

[2017-01-24 04:56] lmarikannan commented on #974
@miniminime Can you please attach your installation log file?

[2017-01-24 06:29] rrjanbiah commented on #974
I think, he has given some hints. Can we have the QA or system admin team check it in CentOS too?

[2017-01-24 08:38] miniminime commented on #974
Here the log file.
[restyaboard_install.log.txt](https://github.com/RestyaPlatform/board/files/726060/restyaboard_install.log.txt)

[2017-01-24 19:10] xorander00 opened #976 "Commercialization Plans"
What are the commercialization plans for the coming year?  I haven't yet installed v0.4 because I saw that a good chunk of functionality is converted to the commercial plan.  That's fine and understandable, but I need to decide which direction to go in terms of my own workflow and plans.

How much of it is going to stay free/open?  How much of it is going to go commercial?

[2017-01-25 06:13] rrjanbiah commented on #976
@xorander00 As of now, we have planned to keep the core and our apps architecture under OSL, and planning to bring more paid plugins.

If you have any suggestions, please feel free to share your comments.

[2017-01-25 09:03] hechi commented on #976
Hey @rrjanbiah i loved the board and i can understand why you but some of the plugins as a paid option. But one of the main features and for me a core functionality is gone (LDAP). This was the criteria why i choose restyaboard a year ago. All my services (cloud,email,git,...) for my family and friends uses LDAP so i don't want to change it and they are happy to only remember one login :) I hope y

[2017-01-25 09:17] rrjanbiah commented on #976
@hechi Thanks for your note. In our understanding, LDAP is more enterprise centric. And, didn't realize that it will be required in home or personal use cases.

I'll also internally check and update you here about LDAP.

[2017-01-25 09:29] hechi commented on #976
@rrjanbiah thanks
i can understand your point of few but also my IT-affine friends uses LDAP for everything at home. You can look at Wekans LDAP issue how many people would love to have it ^^ so it could be also a plus point to have it free and open. My Mom and Girlfriend would never use the services if they have to remember several accounts or at least the would ask to reset there password every

[2017-01-25 09:34] rrjanbiah commented on #976
@hechi Points noted. We need few days to figure it out. Will keep you posted.

[2017-01-25 12:28] baskar383 opened #977 "Settings - remove from exception"
Settings - remove from exception

[2017-01-25 12:51] baskar383 opened #978 "changes #977: Settings - remove from exception completed"
changes #977: Settings - remove from exception completed

[2017-01-25 12:54] #978 closed

[2017-01-25 13:21] baskar383 opened #980 "Filter missing while disable Dashboard Charts"
Filter missing while disable Dashboard Charts

[2017-01-25 15:15] xorander00 commented on #976
My technical comments are as follows:
- The new version does seem more performant, which is awesome! :)
- I was just about to say that changing the local storage mechanism helped, but it seems to still be broken.  In the middle of writing this, I tried to switch to another board (I had left the tab open overnight).  It directed me to /#/users/logout and a blank page.  I tried going back to the mai

[2017-01-25 15:25] rrjanbiah commented on #976
@xorander00 Many thanks for your wonderful feedback. We'll need to discuss internally and need few days time to update you. Thanks again.

[2017-01-25 15:27] rrjanbiah commented on #976
@xorander00 Also, we'll address your technical issues as early as possible.

[2017-01-25 16:06] hechi commented on #976
@xorander00 nice review. Please don't do a "For X number of users" thing. If you do a dual-licensing i am fine to get no support or auto update stuff. If you want i can connect you with people from https://github.com/nextcloud which also do enterprise plugin development and they are really good between community and enterprise.

[2017-01-25 16:40] xorander00 commented on #976
Since it's free, it should be assumed by the user and explicitly written out by the project that there's no support.  Not providing auto-updates is ok, but it's not enough of a value to incentivize enterprise customers to pay.  In fact, most enterprise customers likely won't auto-update to begin with since most will have internal policies that require testing.  Not having auto-updates would hurt t

[2017-01-25 17:18] xorander00 opened #982 "URL Routing Bug"
Just noticed this one.  Running v0.4.

1. Open a board and then open a card.
2. In the description section of the card, I have a link to another board.
3. Click on the link and go to the new board.
4. Close the card that was open.
5. The address bar URL contains the correct board URL (the id is right).
6. Open a card in the new board.
7. Close the card the in the new board.
8. The URL has reverted

[2017-01-25 18:26] toddleish opened #983 "Ubuntu Script Fails"
Hello,
I have been trying to install Restyaboard on Ubuntu 14.04, but continue to hit many errors.  The first errors were with installing NGINX and ImageMagick, so I installed those manually and then ran the script again.

Now the script gets very far, but fails here:

Creating PostgreSQL user and database...
+ psql -U postgres -c DROP USER IF EXISTS restya;CREATE USER restya WITH ENCRYPTED PASSWO

[2017-01-25 18:49] xorander00 opened #984 "Image Generation Bug"
Just a quick one.  Sorry, no pull request.  I found and fixed this really quick and don't have the immediate time to generate one.

When I uploaded an image for a new board I just created it returned a 500 (internal server error).  Upon looking at the nginx log, it was complaining about Imagick::flattenImages() not being found.  I did a quick search and saw that it's deprecated in recent versions.

[2017-01-25 20:38] xorander00 opened #985 "Board Copy Bug"
When copying a board, including cards, it doesn't copy the state of the checklists within cards to the new board.  Not sure if this is intentional, but I just noticed it.

[2017-01-25 22:03] toddleish opened #986 "Centos 7 Script Broken"
The Restyaboard script for CentOS 7 makes it almost to the end but crashes here:

Creating PostgreSQL user and database...
++ psql -U postgres -c 'DROP USER IF EXISTS restya;CREATE USER restya WITH ENCRYPTED PASSWORD '\''hjVl2!rGd'\'''
NOTICE:  role "restya" does not exist, skipping
CREATE ROLE
++ '[' 0 '!=' 0 ']'
++ psql -U postgres -c 'DROP DATABASE IF EXISTS restyaboard;CREATE DATABASE restyabo

[2017-01-26 23:57] toddleish commented on #986
If I install PostgreSQL-9.6 manually and then run the script, it completes correctly... I have another problem now when I try to login for the first time... I will post a new report...

[2017-01-27 00:04] toddleish opened #987 "Blank, White Page after Install"
After installing Restyaboard on Centos 7, I go to the server, 192.168.3.53.  The browser shows a blank, white page with a red bar that briefly scrolls across the top.  Then, it remains blank.  I turned on debug mode, but I see no output.

The NGINX log shows this:
2017/01/26 16:54:56 [crit] 1046#0: *1 connect() to unix:/run/php/php7.0-fpm.sock failed (2: No such file or directory) while connecting

[2017-01-27 05:23] baskar383 opened #988 "Users role not able to change in admin side"
Users role not able to change in admin side

[2017-01-27 05:51] baskar383 opened #990 "Users listing view activities not working for new roles"
Users listing view activities not working for new roles

[2017-01-27 05:54] rrjanbiah commented on #987
Initial observation.. looks like php fpm is not installed properly or not running.

[2017-01-27 05:55] rrjanbiah commented on #985
@xorander00 Thanks for your report!

[2017-01-27 05:58] rrjanbiah commented on #984
@xorander00 Thanks a lot for your fix.

[2017-01-27 05:59] rrjanbiah commented on #983
@toddleish Thanks a lot for your report. We'll fix it ASAP

[2017-01-27 06:00] rrjanbiah commented on #982
@xorander00 Thanks a lot for you report. We'll fix it ASAP

[2017-01-27 06:09] rrjanbiah commented on #976
@hechi & @xorander00 Sorry for the delay. Thanks a lot for your suggestions. We still need some time to figure it out properly. @hechi Will connect to you privately for your suggestions.

At this moment, we're thinking to continue dual licensing.

For the paid plugins, thinking to provide Free for those who're listed in credits... also, for personal and educational use, thinking to provide Free fo

[2017-01-27 06:14] xorander00 commented on #976
Sounds good.  I actually like the idea of free for personal use and/or a social media bump.  I don't use social media myself, but I do keep a blog.  It's not high-traffic, but I'd be more than happy to write a post about Restya.

I opened several other issues in relation to bugs.  Instead of doing that, I'll see if I can just consolidate it all into a single pull request or something.

[2017-01-27 06:23] rrjanbiah commented on #976
@xorander00 Thanks a lot for your kind words and notes.

[2017-01-27 07:12] rrjanbiah opened #992 "Port Web Service PHP code to Slim framework"
Porting to https://github.com/slimphp/Slim would presumably help contributors

[2017-01-27 07:15] rrjanbiah opened #993 "Divider on card modal is not completely resizeable"
Looks like Mac Chrome specific, especially seems to happen only in big monitor

[2017-01-27 08:47] hechi commented on #976
@rrjanbiah ok :) but keep in mind people only blog or tweet if the can test it (trail) and it has to be easy to go from trail to normal.

[2017-01-27 09:16] rrjanbiah commented on #976
@hechi Thanks for your note too

[2017-01-27 12:44] baskar383 opened #994 "Toggle activities comments & comments showing all activities not working properly"
Toggle activities comments & comments showing all activities not working properly

[2017-01-27 19:02] toddleish commented on #987
Thank you for looking, but my system shows that php fpm is installed and running:
[root@192 ~]# systemctl status php-fpm
● php-fpm.service - The PHP FastCGI Process Manager
   Loaded: loaded (/usr/lib/systemd/system/php-fpm.service; enabled; vendor preset: disabled)
   Active: active (running) since Thu 2017-01-26 22:49:36 MST; 13h ago
 Main PID: 930 (php-fpm)
   Status: "Processes active: 0, idle

[2017-01-27 19:59] xorander00 commented on #993
Confirmed.  This is what I was referring to in the other issue.  I can only resize to the left, not right.  Windows/Chrome on a larger monitor (28" @ 2560x1440).

[2017-01-28 21:28] xorander00 opened #996 "Suggestion for Labels"
When managing labels for a given card, I suggest possibly getting rid of the [+] button and replacing it with a link next to the title (maybe says "Manage") or leaving the [+] button but changing the text to "..." or something.

When I first started using Restya, I was confused as to how to remove a label from a card.  It wasn't until hit the + button that I realized it's used for generally managi

[2017-01-29 13:19] yruama opened #997 "[Nginx] 403 Forbidden"
There is a Doc to explain how to configure Nginx ?

I Copy&Paste restyaboard.conf in /etc/nginx/site-availaible|enable/ and rename server_name but i get a 403 error.

[2017-01-30 06:53] lmarikannan commented on #977
Fixed in this commit https://github.com/RestyaPlatform/board/commit/cfbfd12cfb925da81430167f4f86d3dc0e0c85dd

[2017-01-30 06:53] #977 closed

[2017-01-30 06:53] lmarikannan commented on #980
Fixed in this commit https://github.com/RestyaPlatform/board/commit/46200d8022c71aa8d531ab0106b57e5c05417eb0

[2017-01-30 06:53] #980 closed

[2017-01-30 06:53] lmarikannan commented on #988
Fixed in this commit https://github.com/RestyaPlatform/board/commit/956732ae8f634bca020204ec6f2197a3055bd5f3

[2017-01-30 06:53] #988 closed

[2017-01-30 06:53] lmarikannan commented on #990
Fixed in this commit https://github.com/RestyaPlatform/board/commit/76f0c09cbaa24f3fef0c2ce46c1ade124562987e

[2017-01-30 06:53] #990 closed

[2017-01-30 08:13] lmarikannan commented on #994
Fixed in this commit https://github.com/RestyaPlatform/board/commit/a96518fc8e76c5670f0b59ffc901f5e87787d52b

[2017-01-30 08:13] #994 closed

[2017-01-30 11:44] lmarikannan commented on #982
Fixed in this commit https://github.com/RestyaPlatform/board/commit/04a1a490bfdd74b267d06cba2e4c984e88fadcbf

[2017-01-30 11:44] #982 closed

[2017-01-30 11:44] lmarikannan commented on #984
Fixed in this commit https://github.com/RestyaPlatform/board/commit/44ffdf5b704e309dbd0a4da7689cf0a4eb8196e0

[2017-01-30 11:44] #984 closed

[2017-01-30 12:56] yruama commented on #997
++ whoami
root
+++ cat /etc/issue
++ echo Linux ns3025324.ip-37-187-98.eu 3.14.32-xxxx-grs-ipv6-64 '#9' SMP Thu Oct 20 14:53:52 CEST 2016 x86_64 GNU/Linux server : 360652 ip : 37.187.98.86 hostname : ns3025324.ip-37-187-98.eu
Linux ns3025324.ip-37-187-98.eu 3.14.32-xxxx-grs-ipv6-64 #9 SMP Thu Oct 20 14:53:52 CEST 2016 x86_64 GNU/Linux server : 360652 ip : 37.187.98.86 hostname : ns3025324.ip-37-18

[2017-01-30 14:43] lmarikannan commented on #993
Fixed in this commit https://github.com/RestyaPlatform/board/commit/f52247ca7a7b5ad73ecabf84205e359dbefd256b

[2017-01-31 03:19] lmarikannan commented on #985
@xorander00  Yes. We have done the functionality like that. Because in new board, user have to complete those checklist for that copied board.

[2017-01-31 03:29] #983 closed

[2017-01-31 03:31] lmarikannan commented on #986
Fixed in this commit https://github.com/RestyaPlatform/board/commit/fb2f4ffd7366a6c4f65a72f2475b2afaf3ed1ac4.

[2017-01-31 03:31] #986 closed

[2017-01-31 03:31] lmarikannan commented on #997
Fixed in this commit https://github.com/RestyaPlatform/board/commit/fb2f4ffd7366a6c4f65a72f2475b2afaf3ed1ac4. Can you please try again run the updated install script `restyaboard.sh`?

[2017-01-31 03:35] lmarikannan commented on #974
@miniminime We have checked your installation log and it looks like `lsb_release` command was not found in your server. So we have added an additional condition if the `lsb_release` command not found then the install script will not run. Please refer https://github.com/RestyaPlatform/board/blob/master/restyaboard.sh#L19.

[2017-01-31 03:35] #974 closed

[2017-01-31 03:36] lmarikannan commented on #985
@xorander00 Also if you have any suggestion for this functionality, please feel free to reopen.

[2017-01-31 03:36] #985 closed

[2017-01-31 03:45] lmarikannan commented on #987
@toddleish While checking your install log, it looks PHP 5.4 version was installed in your system but we have referred `php7.0-fmp.sock` in nginx conf file. Please refer https://github.com/RestyaPlatform/board/blob/master/restyaboard.conf#L35. So only you are getting this error `2017/01/26 16:54:56 [crit] 1046#0: *1 connect() to unix:/run/php/php7.0-fpm.sock failed (2: No such file or directory)`.

[2017-01-31 05:59] lmarikannan commented on #996
@xorander00 We have checked with Trello and they are opening the dropdown while click on added labels also. Is this fine to open the label drop down while clicking on added labels too?

[2017-01-31 06:27] xorander00 commented on #996
It's fine.  It's not a major issue or anything.  Just a matter of preference.  The easiest way to figure it out it would be to just poll the users and ask them which way they prefer.  Personally, I'm used to a single button/drop-down for CRUD operations on any atomic unit of information (a card in this case).

A larger issue, but still nothing major, would be label colors.  Being able to assign a

[2017-01-31 06:30] xorander00 commented on #985
No problem.  That's actually fine.  If anything, then maybe an additional option to select which sub-items to copy during a board copy.  I wouldn't prioritize it though unless it's an issue for others.

I'd probably document it though somewhere.  Probably have a question mark icon next to the board copy operation that, when hovered, points of which parts of the board are specifically copied.  I lo

[2017-01-31 10:57] yruama commented on #997
@lmarikannan

{ [data not shown]

100     9    0     9    0     0     23      0 --:--:-- --:--:-- --:--:--    23
* Connection #0 to host github.com left intact
++ unzip /tmp/r_zapier-v0.1.2.zip -d /home/site/restyaboard/client/apps
Archive:  /tmp/r_zapier-v0.1.2.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part arch

[2017-01-31 10:58] baskar383 opened #1001 "logout , private board login, board/organisation delete issues"
logout , private board login, board/organisation delete issues

[2017-01-31 21:30] toddleish commented on #987
Okay, I did as you suggested.  Now the NGINX log shows this error instead:
2017/01/31 14:28:17 [crit] 1042#0: *1 connect() to unix:/run/php/php5.4-fpm.sock failed (2: No such file or directory) while connecting to upstream, client: 192.168.1.50, server: 192.168.3.53, request: "GET /api/v1/oauth.json?_=1485898054508 HTTP/1.1", upstream: "fastcgi://unix:/run/php/php5.4-fpm.sock:", host: "192.168.3.5

[2017-02-01 05:15] lmarikannan commented on #997
@yruama Can you please remove this folder `/opt/restyaboard` and try again using install script?

`rm -rf /opt/restyaboard`

[2017-02-01 05:18] lmarikannan commented on #996
@xorander00 We have implemented dropdown open while click label in this PR https://github.com/RestyaPlatform/board/pull/1002.

Also in future we will consider your color management for labels.

[2017-02-01 05:18] #996 closed

[2017-02-01 05:28] lmarikannan commented on #987
@toddleish It shows there is no such file in this path `/run/php/php5.4-fpm.sock`. Can you please check correct file name and path and update in nginx conf?

[2017-02-01 05:43] rrjanbiah commented on #996
Linking label color ticket #712

[2017-02-01 06:38] lmarikannan commented on #1001
Fixed.

[2017-02-01 06:38] #1001 closed

[2017-02-01 10:52] rrjanbiah commented on #17
Reopening this as we're getting similar such requests. Have to properly document the workflow somewhere.

[2017-02-01 18:08] toddleish commented on #983
Thank you... I was able to install properly in Ubuntu now.  However, I get one more server error in Chrome and in the NGINX log... Can you tell me what to do with this error?

2017/02/01 11:07:25 [error] 1073#0: *6600 open() "/usr/share/nginx/html/restyaboard/client/apps/r_cssilize/css/default.cache.css" failed (2: No such file or directory), client: 192.168.1.50, server: 192.168.3.53, request: "G

[2017-02-02 05:00] lmarikannan commented on #983
@toddleish

Can you please download new releases of apps and unzip in this folder `/usr/share/nginx/html/restyaboard/client/apps`?

https://github.com/RestyaPlatform/board-apps/releases/tag/v1

[2017-02-02 10:46] lmarikannan commented on #997
Issue continuation - https://groups.google.com/forum/#!topic/restya/75VGtdtOqzg.

[2017-02-02 10:46] #997 closed

[2017-02-02 10:50] lmarikannan commented on #987
Closing this issue. Installation was completed as per this comment https://github.com/RestyaPlatform/board/issues/983#issuecomment-276733970.

[2017-02-02 10:50] #987 closed

[2017-02-02 12:40] morphos88 opened #1006 "White page on administration user page"
Error in console Chrome :
Uncaught SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at default.cache.285e392e.js:57
    at o (default.cache.285e392e.js:12)
    at Object.d.error (default.cache.285e392e.js:12)
    at l (default.cache.285e392e.js:1)
    at Object.fireWith [as rejectWith] (default.cache.285e392e.js:1)
    at d (default.cache.285e392e.js:3)

[2017-02-02 12:43] lmarikannan commented on #1006
@morphos88 Can you please run this sql queries `https://github.com/RestyaPlatform/board/blob/master/sql/upgrade-0.4-0.4.1.sql` and try again?

[2017-02-02 13:06] morphos88 commented on #1006
It's works.

It's a fresh install and i use sh script available on your website.

[2017-02-02 13:09] lmarikannan commented on #1006
@morphos88 Thanks for your confirmation. It was missed in `zip` file and we are going to merge it.

[2017-02-02 13:09] #1006 closed

[2017-02-02 14:39] morphos88 opened #1008 "Import Trello Json"
When i try to import board from trello i have an error on Nginx error.log :

2017/02/02 15:36:12 [error] 22122#22122: *3741 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught Error: Call to undefined function utf8_encode() in /usr/share/nginx/html/restyaboard/server/php/R/r.php:2293
Stack trace:
#0 /usr/share/nginx/html/restyaboard/server/php/bootstrap.php(123): r_post('/boards', Arr

[2017-02-02 14:41] rrjanbiah commented on #1008
*Internal note*

Looks like the install script needs to be updated for necessary dependencies http://stackoverflow.com/questions/35701730/utf8-endecode-removed-from-php7

[2017-02-03 13:15] morphos88 commented on #1008
It work !

[2017-02-03 13:16] morphos88 commented on #1008
i have an other problem :

2017/02/03 14:14:34 [error] 22121#22121: *20934 FastCGI sent in stderr: "PHP message: PHP Notice:  Undefined index: list in /usr/share/nginx/html/restyaboard/server/php/libs/core.php on line 1176
PHP message: PHP Notice:  Undefined index:  in /usr/share/nginx/html/restyaboard/server/php/libs/core.php on line 1176
PHP message: PHP Notice:  Undefined index: list in /usr/sh

[2017-02-04 07:58] rrjanbiah opened #1009 "board not loading in Safari private browsing (incognito window)"
It is due to `localStorage` that is blocked in private browsing

Related to #973

[2017-02-06 14:36] morphos88 commented on #1008
No response ?

[2017-02-06 15:15] lmarikannan commented on #1008
@morphos88 Sorry for the delay. We are working on it. Will update you tomorrow.

[2017-02-06 15:17] morphos88 commented on #1008
Ok great thank you

[2017-02-06 20:17] theriverman opened #1010 "Installation failed"
Hi

I downloaded the script to ~/kanban
then added chmod +x to it and issued by "sudo ./restyaboard.sh"
Answered the questions then it failed.
See my log attached.

br,
Chris

[restyaboard_install.txt](https://github.com/RestyaPlatform/board/files/755755/restyaboard_install.txt)

[2017-02-07 05:38] lmarikannan commented on #1008
@morphos88 Update your `server/php/libs/core.php` file with this https://raw.githubusercontent.com/RestyaPlatform/board/3f839ae0fc0b9331be71acf63d6203b7f03fb5f2/server/php/libs/core.php

[2017-02-07 06:37] odac25thka opened #1012 "Nginx Server cannot start"
Hi I followed the instructions on : http://restya.com/board/docs/windows

However, I cannot get the nginx server to start. The error in the log is 2017/02/07 14:32:06 [emerg] 11000#8532: the unix domain sockets are not supported on this platform in upstream "unix:/run/php/php7.0-fpm.sock" in C:/server/bin/nginx/conf/domains-enabled/restyaboard.conf:35

Do you know what to do? I tried googling and

[2017-02-07 07:18] morphos88 commented on #1008
there is another problem :
PHP message: PHP Notice:  Undefined index: 5875e967f099767135b3f443 in /usr/share/nginx/html/restyaboard/server/php/libs/core.php on line 1210
PHP message: PHP Notice:  Undefined index: 58751176d3cf2b5b936e6526 in /usr/share/nginx/html/restyaboard/server/php/libs/core.php on line 1210
PHP message: PHP Warning:  pg_query_params(): Query failed: ERREUR:  séquence d'octets

[2017-02-07 07:36] rrjanbiah commented on #993
Issue is still reproducible, now having slightly different behavior.

[2017-02-07 07:46] lmarikannan commented on #1008
@morphos88

We have fixed the initial warning errors, but to check encoded related warnings please attach a sample Trello json to reproduce it.

https://raw.githubusercontent.com/RestyaPlatform/board/65728b29065c8a4694134fb5417a635b0209276e/server/php/libs/core.php

[2017-02-07 07:58] morphos88 commented on #1008
There is export
[QlikView.txt](https://github.com/RestyaPlatform/board/files/756935/QlikView.txt)

[2017-02-07 10:37] rrjanbiah opened #1013 "Viewing image does trigger downloading for few extensions"
Default behavior is to open the image in new window. But, for few extensions, more specifically capital JPG, it is triggering download.

[2017-02-07 14:08] lmarikannan commented on #1012
@odac25thka Can you please try with changing like this?

`fastcgi_pass    127.0.0.1:9000;`

[2017-02-07 14:43] lmarikannan commented on #1010
Can you please run the below command and try again with install script?

`chmod 755 /usr/bin/dpkg`

[2017-02-07 14:44] lmarikannan commented on #1013
Fixed in this commit https://github.com/RestyaPlatform/board/commit/cad63a5ca3285a73630650a8d65c2a1c0a10771a

[2017-02-07 14:44] #1013 closed

[2017-02-07 15:08] lmarikannan commented on #1008
@morphos88 Update your `server/php/libs/core.php` file with this and try again?

https://raw.githubusercontent.com/RestyaPlatform/board/0e619b69d9faf4b16ebc9b30ef9de7446e72408e/server/php/libs/core.php

[2017-02-07 15:18] morphos88 commented on #1008
Ok import work and there is no error message !

[2017-02-07 15:20] lmarikannan commented on #1008
@morphos88 Thanks for your confirmation.

[2017-02-07 15:20] #1008 closed

[2017-02-07 15:51] rrjanbiah opened #1015 "In card view, cart title overrides in mobile devices"
In card view, cart title overrides in mobile devices. Especially iPhone Chrome

[2017-02-07 16:00] rrjanbiah opened #1016 "Attachment through camera and sound recorder doesn't work in iPhone"
Especially in iPhone 6 plus.. file picker works, but not recording (Seems to work in Android phones though)

[2017-02-07 16:06] rrjanbiah opened #1017 "Undefined title with blank content when switching back from other tab (random behavior)"
Seems to be only Mac Chrome (?)

[2017-02-08 03:11] odac25thka commented on #1012
Hi  lmarikannan, thank you for the change! Nginx Server can start now. However, I followed the rest of the instructions :

- D:\server\bin\pgsql\bin>createuser -s -d -r postgres D:\server\bin\pgsql\bin>createdb -h localhost -U postgres restyaboard D:\server\bin\pgsql\bin>psql -h localhost -U postgres
- CREATE USER restya WITH PASSWORD 'hjVl2!rGd';ALTER DATABASE restyaboard OWNER TO restya;GRANT AL

[2017-02-08 06:22] odac25thka commented on #1012
Update:

I tried the attached conf file from https://github.com/RestyaPlatform/board/issues/224#issuecomment-184898987

I installed in C drive not D drive tho.

I got this error in the nginx log: 2017/02/08 14:13:16 [error] 10472#10756: *35 CreateFile() "D:/server/www/restyaboard/client/index.html" failed (3: The system cannot find the path specified), client: 127.0.0.1, server: _, request: "GET /

[2017-02-08 07:07] odac25thka commented on #1012
This is the contents of the conf file:

server {
	listen 80 default_server;
	server_name _;

	root /usr/share/nginx/html;
	index  index.html index.php;

	gzip on;
	gzip_disable "msie6";

	gzip_comp_level 6;
	# gzip_comp_level 9;
	gzip_min_length  1100;
	gzip_buffers 16 8k;
	gzip_proxied any;
	# gzip_http_version 1.1;
	gzip_types       text/plain application/xml text/css text/js text/xml applicatio

[2017-02-08 08:04] rrjanbiah opened #1018 "Need SparkPost plugin for easy email sending"
As some people are finding it difficult to configure email server, need "optional" SparkPost integration.

Internal note: Currently, SparkPost is possible through SMTP already https://support.sparkpost.com/customer/portal/articles/1929887-sending-your-first-email#send-email-via-smtp

[2017-02-08 08:05] rrjanbiah commented on #976
@xorander00 Were you able to release your Android App? Or, are you waiting for us on anything?

[2017-02-08 09:30] odac25thka commented on #1012
Hi,

After restarting the servers a few times, I managed to get to the login page but I cannot log in with "admin" and "restya"

Is there another login or a way to reset the user and password?

[2017-02-08 09:46] xorander00 commented on #976
I'm not actually building it for release, but I don't really have a problem releasing it.  I do have to go through and review the code though, as it's pretty hacky.  There's no documentation, and it only supports the bare minimum of functionality that I need.

Also, nothing again this project as I still like it, but I've been using my previous system a bit more again.  The performance issues & occ

[2017-02-08 09:51] rrjanbiah commented on #976
If you're referring to web service part, we're working to migrate to Slim framework. Perhaps that would help?

Sure, please feel free to post any issues. That will help us to improve it.

If you're planning for commercial release, please reach us through contact page and share your Skype handle.

[2017-02-09 06:38] rrjanbiah opened #1019 "Few admin pages are slower"
Few admin pages like users manage and boards manage pages are slower

[2017-02-09 06:39] rrjanbiah commented on #1010
@theriverman Were you able to get it resolved? Closing this now. If the issues is not resolved or getting any other issues, please feel free to reopen

[2017-02-09 13:59] theriverman commented on #1010
Hi,

Tried the chmod modification, still the same error, no difference.
I'm giving manual installation a shot later today.

Thanks!

[2017-02-09 14:33] rrjanbiah opened #1020 "When you click the logo you can't return to the dashboard again"
the system adds a # to the link

(Not verified)

[2017-02-09 14:36] theriverman commented on #1010
Update: I tried installing manually and I found the following lines in the log which might answer my problem:

I suppose the root cause of my issue is that I already have an apache2 server running to serve my wordpress site and this nginx (which is maybe a webserver, right?) conflits with it, as they're are trying to listen on the very same port.

I'm not exactly sure how to solve this issue and I

[2017-02-09 14:44] rrjanbiah commented on #1010
@theriverman Can you try changing your nginx port to something like 8080 or so.. and access it through that port?

[2017-02-10 04:06] vClouds opened #1021 "Install failed on CentOS 6.8"
lsb-release issue at the beginning
solved by manual install, yum install redhat-lsb-core

and ended with the default nginx page with the below error,
Starting php-fpm: [10-Feb-2017 07:51:26] NOTICE: PHP message: PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/geoip.so' - /usr/lib64/php/modules/geoip.so: cannot open shared object file: No such file or directory in

[2017-02-10 11:46] rrjanbiah opened #1022 "JavaScript error is breaking few features"
`/apps/r_gantt_view/js/app.js:1 Uncaught ReferenceError: label is not defined`

Getting above error in demo. This is breaking language switcher, etc

[2017-02-10 11:48] rrjanbiah opened #1023 "When board is idle for long time, getting blank error page"
Displays "Board not found. This board may be private" error when it is idle for long time.

[2017-02-10 15:07] theriverman commented on #1010
@rrjanbiah I could not find a way to change the port of nginx permamently.
So, for the purpose of testing, I removed apache2 and every related package from my server.

I executed the install script again, it has made it way forward than before, but failed again.

See my latest log attached.

[I can confirm that a running instance of any webserver, such as apache2, conflicts with restyaboard instal

[2017-02-16 05:04] baskar383 opened #1025 "start date added getting error in js"
start date added getting error in js

[2017-02-16 05:21] lmarikannan commented on #1025
Fixed in this commit https://github.com/RestyaPlatform/board/commit/409fc8a01b3ee613343cd937bbbe4ef657bf99bc

[2017-02-16 05:21] #1025 closed

[2017-02-16 11:42] aleromano89 opened #1027 "Email notification not working"
I don't receive email notification about new cards added.
How can I debug this issue?

this is my content template, that is the default template --> [html code]( http://txt.do/d1zhl)

EDIT: furthermore, notification about new board users are correctly sent and received.

[2017-02-16 18:33] DeviantEng opened #1028 "Unable to find user to add to Organization"
New user, new install, manual install (not with the script -- couldn't get that working on CentOS 7).  I'm using CentOS 7, latest version of Nginx, PHP 7.1, postgres 9.5.

Everything seems to be working great, except for 1 small issue (only thing I've noticed so far).

I have 2 users, user1 and user2.  user1 is an admin, user2 is a user.

As user1, I've created a new organization (called test_org)

[2017-02-17 05:28] baskar383 commented on #1028
Kindly please check  whether the user2 is active and email is confirmed. Then only the user will show in add member search box otherwise it will show "no users available". If already activated please check in network tab enter the username in search box copy the search.json API call response give to us we will check and update you.

[2017-02-17 06:00] baskar383 commented on #1027
login as root using putty or terminal. Enter crontab -l the cron listing shown please check the give below two url is present or not, if not present please enter crontab -e and paste the two url and save then check.
*/5 * * * * /usr/share/nginx/html/restyaboard/server/php/shell/instant_email_notification.sh
0 * * * * /usr/share/nginx/html/restyaboard/server/php/shell/periodic_email_notification.sh

[2017-02-17 07:35] rrjanbiah opened #1029 "Apps scripts are not minified & processed"
This affects the performance of the core kanban board.

[2017-02-17 08:40] aleromano89 commented on #1027
the two url you have written are already present

[2017-02-17 08:47] aleromano89 commented on #1027
I have tried just now to manually execute instant_email_notification.sh and I received the email.
Could be it depend on wrong cron configuration?

[2017-02-17 09:14] rrjanbiah opened #1030 "What is "Standard login/register" in settings page under System tab"
What is the use of this setting? It is very confusing without any information.

[2017-02-17 10:22] baskar383 commented on #1020
sorry for the delay, Fixed in this commit 	940edac

[2017-02-17 10:22] #1020 closed

[2017-02-17 10:24] baskar383 commented on #1016
Sorry for the delayed response. Tested working fine.

[2017-02-17 11:53] baskar383 commented on #1012
Sorry for the delayed response. Login as root using ftp then go to  /etc/nginx/nginx.conf - comment the default server code or please attach your nginx.conf, we will change and update you

[2017-02-17 12:09] rrjanbiah commented on #1016
Can we arrange recorded video or animated GIF to prove it?

[2017-02-17 12:11] rrjanbiah commented on #1027
@aleromano89 Perhaps your cron user doesn't have permission to execute it?

[2017-02-17 12:59] baskar383 commented on #1021
Sorry for the delayed response. Login as root using ftp then go to /etc/nginx/nginx.conf - comment the default server code or please attach your nginx.conf, we will change and update you

[2017-02-17 13:05] baskar383 commented on #1012
Sorry for the delayed response. Here we attach p.txt file please change the filename to p.php then upload in to your project patch then run the file. Your password has been reset then the try username : admin Password : restya
[p.txt](https://github.com/RestyaPlatform/board/files/783252/p.txt)

[2017-02-17 13:11] baskar383 commented on #1022
Sorry for the delayed response. Fix in our local

[2017-02-17 13:11] #1022 closed

[2017-02-17 13:23] baskar383 commented on #1010
Sorry for the delayed response. First please run below three commands
sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
sudo apt-get update
Then please run the installation script one more time it will be working

[2017-02-17 13:35] baskar383 commented on #1023
Sorry for the delayed response. Fixed in this commit 4276bad

[2017-02-17 13:35] baskar383 commented on #1017
Sorry for the delayed response. Fixed in this commit 4276bad

[2017-02-17 13:35] #1017 closed

[2017-02-17 14:40] aleromano89 commented on #1027
the cron was assigned to root user and not executed.
Instead if a try to copy cronjob to a simple user, there is a permissions issue
`mkdir: cannot create directory ‘/usr/share/nginx/html/restyaboard/server/php/shell/instant_email_notification_sh.lock’: Permission denied
`

[2017-02-17 14:54] rrjanbiah commented on #1027
@aleromano89 Does it mean that you're able to get it working now?

[2017-02-17 15:23] aleromano89 commented on #1027
I solved by changing sh owner and shell directory owner to non-root user

[2017-02-17 15:25] rrjanbiah commented on #1027
@aleromano89 Thanks. Glad to know that.

[2017-02-17 15:26] rrjanbiah commented on #1027
@lmarikannan Please add it for fixing install script

[2017-02-17 18:29] DeviantEng commented on #1028
Thanks @baskar383, sounds like I found my issue.  In my initial setup (for testing), I did not configure email notifications.  I manually approved each user, but they are still listed as unconfirmed.

Is there a manually way to change this?  I assume it could be manually changed in the database, but is there another way?  I won't have email setup in my testing environment.

[2017-02-17 23:10] DeviantEng commented on #1028
As a test, I've changed `is_emailed_confirmed` to `true` in the database for both of these users, but in the Users page in the UI, it still shows that both are `Unconfirmed`.  What do?

[2017-02-18 10:28] baskar383 commented on #1028
Added this email confirmed feature in this commit 5232159 we will release this feature in next update.

[2017-02-18 12:54] #1028 closed

[2017-02-18 12:55] lmarikannan commented on #1021
@vClouds Please feel free to reopen if you have problem again in installation.

[2017-02-18 12:55] #1021 closed

[2017-02-18 12:56] lmarikannan commented on #1012
@odac25thka Please feel free to reopen if you have any issues related to installation.

[2017-02-18 12:56] #1012 closed

[2017-02-18 12:56] lmarikannan commented on #1010
@theriverman Please feel free to reopen if you have any issues related to installation.

[2017-02-18 12:56] #1010 closed

[2017-02-20 06:45] baskar383 commented on #1016
Please check the video url
URL : https://drive.google.com/file/d/0B8b_0XlmnvxjOVc4VXVXZzhMWUU/view

[2017-02-20 06:45] #1016 closed

[2017-02-20 07:29] baskar383 commented on #993
Fixed in this commit 8d2317b

[2017-02-20 07:29] #993 closed

[2017-02-20 10:20] baskar383 commented on #1015
Sorry for the delayed response. Fixed in this commit d613c05

[2017-02-20 10:20] #1015 closed

[2017-02-20 10:25] baskar383 commented on #1027
Sorry for the delayed response. we already given all permission only for root users some rare cases this error will occur better way if the permission issue occur put in to manually to fix the issue.

[2017-02-20 10:25] #1027 closed

[2017-02-21 05:29] rrjanbiah commented on #976
If anyone here is waiting for a free copy of plugins, please contact us through website contact form with the plugin list you wanted. We were waiting to automate that process, but as it is sidelined due to other priorities, we'll process that manually for now.

[2017-02-21 05:33] rrjanbiah commented on #1023
@baskar383 Can you explain what was the cause and how above fix will work?

[2017-02-21 06:05] baskar383 opened #1035 "v0.4.2 version changes"
v0.4.2 version changes

[2017-02-21 07:17] lmarikannan commented on #1035
Updated.

[2017-02-21 07:17] #1035 closed

[2017-02-21 08:21] virtualCHgeek opened #1038 "Webserver configuration error"
Hi,

I tried the auto install script now 3 times. I've made a snapshot on my Ubuntu 16.

Everytime i face the default webserver page after the script. Is this a normal behaviour and do i have to configure NGINX manually ?

[restyaboard_install.txt](https://github.com/RestyaPlatform/board/files/789462/restyaboard_install.txt)

[2017-02-21 09:10] lmarikannan commented on #1038
@virtualCHgeek Login as root in SSH then run this command `vi /etc/nginx/nginx.conf` and comment the default server code or please attach your `nginx.conf`, we will change and update you.

[2017-02-21 09:34] baskar383 commented on #1023
we are fixed in 401 error for private boards. In board view page more than 10mins open continuously some time the access token expired 401 error through in for that board it will redirect to private board page. Now we fixed once the access token is expired then check the board is private board or not if not means they will send the refresh token it will works fine now.

[2017-02-21 09:34] #1023 closed

[2017-02-21 10:04] virtualCHgeek commented on #1038
Here my nginx.conf.

Thank you very much for your help
[nginx.conf.txt](https://github.com/RestyaPlatform/board/files/789734/nginx.conf.txt)

[2017-02-21 10:12] lmarikannan commented on #1038
@virtualCHgeek We have checked your there is no default server configuration in `nginx.conf`.

Can you please check whether any other configuration files available in the below folder except `restyaboard.conf`?

1. `/etc/nginx/conf.d`
2. `/etc/nginx/sites-enabled/`

[2017-02-21 10:41] virtualCHgeek commented on #1038
In /etc/nginx/conf.d i have : nginx.conf
In /etc/nginx/sites-enabled/ i had a default which i deleted after the install

[nginx.conf.txt](https://github.com/RestyaPlatform/board/files/789825/nginx.conf.txt)

[2017-02-21 10:47] lmarikannan commented on #1038
Means can you please confirm `nginx.conf` available in two folders in your server?

1. `/etc/nginx`
2. `/etc/nginx/conf.d`

[2017-02-21 10:51] virtualCHgeek commented on #1038
in /etc/nginx -> there is nginx.conf
in /etc/nginx/conf.d -> there is restyaboard.conf

![image](https://cloud.githubusercontent.com/assets/25195817/23161862/059f369a-f82c-11e6-8205-ada96bb07b3b.png)
![image](https://cloud.githubusercontent.com/assets/25195817/23161875/158d597e-f82c-11e6-95fb-a7f63f9e25e3.png)

[2017-02-22 05:46] rrjanbiah opened #1040 "Bug in elasticsearch and search result"
We use last restyaboard version 4.2.1

We use elasticsearch 5.2.1, and don't work with your plugin, after some var_dump, I find that :

$data['aggs']['board']['terms']['size'] = 0;  // can't be zero in 5.2.1 (give me error)
$data['aggs']['board']['terms']['size'] = 999; // change for this, work great

Also, in search "Matched in x cards", I can click one result, open modal. But second click on car

[2017-02-23 07:16] sriagriya opened #1041 "[QA] Confirmation mail is not coming after create the new user."
http://boarddev.demo.restya.com/

1.View the Register page.
2.Create one new user.
3.After create the user Activation mail is not coming.
4.After activate via admin also not able to login the site with registered user.
5.User is showing like Unconfirmed.
![confirmation mail](https://cloud.githubusercontent.com/assets/25973905/23248598/1c0a9b18-f9c6-11e6-9d49-ded22cab12ae.png)

[2017-02-23 10:05] sriagriya opened #1042 "[QA] Private Board view page details is not coming properly before login."
1.Login as sridevi/agriya.
2.Add one private board.
3.View that board before login.
4.Private Board view page details is not coming properly before login.

Refer the screenshot.
![private board](https://cloud.githubusercontent.com/assets/25973905/23254317/a0926610-f9dd-11e6-8bfb-acd053e60863.png)

[2017-02-23 10:23] sriagriya opened #1043 "[QA] After view the card if we view the Apps means that time Apps details is not coming properly."
http://boarddev.demo.restya.com/

1.Login as sridevi/agriya.
2.View the Card view page.
3.In the Card view page click the Footer Apps.
4.Here the Apps details is not coming properly.

Refer the screenshot.
![apps](https://cloud.githubusercontent.com/assets/25973905/23255075/3d591370-f9e0-11e6-8a00-2d0b9b295cb5.png)

[2017-02-23 10:26] sriagriya opened #1044 "[QA] Activation popups coming more than one time for every actions."
http://boarddev.demo.restya.com/

1.Login as sridevi/agriya.
2.Do some process like comment,Move list,...
3.Activation popups coming more than one time for every actions.

Refer the screenshot
![activation popup](https://cloud.githubusercontent.com/assets/25973905/23255174/90ce6c3a-f9e0-11e6-9057-85b64bdb01e2.png)

[2017-02-23 10:50] sriagriya opened #1045 "[QA] User information is not coming properly while view the user logo."
http://boarddev.demo.restya.com/

1.Login as sridevi/agriya.
2.View one Card.
3.From card view page click the user logo.
4.User information is not coming properly while view the user logo.

Refer the screenshot.
![user info](https://cloud.githubusercontent.com/assets/25973905/23256101/0bf0f560-f9e4-11e6-93a3-0ad18a3a5415.png)

[2017-02-23 10:53] sriagriya opened #1046 "[QA] After delete the members "Add Members" option is not coming."
http://boarddev.demo.restya.com/

1.login as sridevi/agriya.
2.View the members listing place.
3.Delete the members.
4.After Delete "Add members" option is not coming.

Refer the screenshot.
![add member](https://cloud.githubusercontent.com/assets/25973905/23256435/78a06636-f9e5-11e6-9d54-ea2bc1b92382.png)

[2017-02-23 11:14] sriagriya opened #1047 "[QA] Members list is displaying after remove from the list."
http://boarddev.demo.restya.com/

1.login as sridevi/agriya.
2.View the members listing place.
3.Delete the members.
4.And Refresh the page.
5.Now deleted members is displaying after remove from the list.

Refer the screenshot.
![members list](https://cloud.githubusercontent.com/assets/25973905/23256863/492ea2d0-f9e7-11e6-9c0e-14bed4d9d58a.png)

[2017-02-23 11:38] sriagriya opened #1048 "[QA] Need Margin space between setting list."
http://boarddev.demo.restya.com/

1.Login as sridevi/agriya.
2.View one board details page.
3.Click the list settings.
4.Need Margin space between setting list.

Refer the screenshot.
![margin space](https://cloud.githubusercontent.com/assets/25973905/23257612/a82e0926-f9ea-11e6-8ee1-601db29d1963.png)

[2017-02-23 11:42] sriagriya opened #1049 "[QA] Card Alignment is not coming properly."
http://boarddev.demo.restya.com/

1.Login as sridevi/agriya.
2.View the Card.
3.Here the alignment is not coming properly.

Refer the screenshot.
![alignment](https://cloud.githubusercontent.com/assets/25973905/23257759/336a0468-f9eb-11e6-8113-60e21666285e.png)

[2017-02-23 12:35] rrjanbiah opened #1050 "In list view, counts are wrong"
(From one of our customer) counts displayed in list view are different from grid view.

(Not tested)

[2017-02-23 12:37] rrjanbiah opened #1051 "Scrollbar of list behaves different in Chrome"
(From one of our customers)

List scrollbar auto hides in Firefox and Safari.. and that looks good. But, not in Chrome

[2017-02-23 12:39] sriagriya opened #1052 "[QA] Start date details is not coming here."
http://boarddev.demo.restya.com

1.Login as sridevi/agriya.
2.View the Board view page.
3.Here the Start date details is not coming properly.

Refer the screenshot.
![start time](https://cloud.githubusercontent.com/assets/25973905/23259464/3a66c3e8-f9f3-11e6-9401-e49ca2c7ce07.png)

[2017-02-23 12:46] sriagriya opened #1053 "[QA] Estimated time is not updated properly."
1.Login as sridevi/agriya.
2.View the Board view page.
3.Here add the Estimated time for that Board.
4.Added time is not updated properly while view after add.

Refer the screenshot.
![estimated time](https://cloud.githubusercontent.com/assets/25973905/23259677/38d75370-f9f4-11e6-98b7-f4e3f2353bd1.png)

[2017-02-23 13:02] sriagriya opened #1054 "[QA] Smiley is not updated properly after add."
http://boarddev.demo.restya.com/

1.Login as sridevi/agriya.
2.View the Board view page.
3.Add checklist for that board.
4.Add Emoji's for that checklist.
5.Added Emoji is not updated immediately.

Refer the screenshot.
![smiley](https://cloud.githubusercontent.com/assets/25973905/23260129/6560679a-f9f6-11e6-83cb-7d1c5b46691d.png)

[2017-02-23 13:06] sriagriya opened #1055 "[QA] Alignment is not coming properly."
http://boarddev.demo.restya.com/

1.Login as sridevi/agriya.
2.View the Board listing page and view the checklist.
3.Add member for that checklist.
4.Here the alignment is not coming properly.

Refer the screenshot.
![alignment1](https://cloud.githubusercontent.com/assets/25973905/23260273/fd3b6d4e-f9f6-11e6-92c7-4758902a9d85.png)

[2017-02-23 13:41] sriagriya opened #1056 "[QA] Copied list details is not coming properly."
http://boarddev.demo.restya.com/

1.Login as sridevi/agriya.
2.View the Board view page.
3.Copy the list.
4.Copied list details is not coming properly.

Refer the screenshot.
![copied list details](https://cloud.githubusercontent.com/assets/25973905/23261362/e6acc7f8-f9fb-11e6-9fbf-5910080948d3.png)

[2017-02-23 13:44] sriagriya opened #1057 "[QA] Space is not coming properly."
http://boarddev.demo.restya.com/

1.Login as sridevi/agriya.
2.View the Board details page.
3.Here the Date and time space alignment is not coming properly.

Refer the screenshot.
![space](https://cloud.githubusercontent.com/assets/25973905/23261479/4caf1cf4-f9fc-11e6-9876-6f46472590ca.png)

[2017-02-24 05:42] sriagriya opened #1058 "[QA] After refresh the page deleted list's are again displaying."
1.Login as sridevi/agriya.
2.View the Board view page.
3.Copy the list.
4.Delete the Copied lists.
5.After refresh the page deleted list's are again displaying.

Refer the screenshot.
![deleted list](https://cloud.githubusercontent.com/assets/25973905/23291960/0df3f710-fa82-11e6-9f40-95c70ef93c54.png)

[2017-02-24 06:29] sriagriya opened #1059 "[QA] While copy the list,that time card count is increasing."
1.Login as sridevi/agriya.
2.View the board view page.
3.Copy the list-> While copy the list,that time card count is increasing.

Refer the screenhsot.
![card count](https://cloud.githubusercontent.com/assets/25973905/23292876/ab5b4f48-fa88-11e6-87ae-30b64b086f75.png)

[2017-02-24 06:31] sriagriya opened #1060 "[QA] Gantt view page design is not coming properly."
1.Login as sridevi/agriya.
2.View  the Gantt view page.
3. Here the page design is not coming properly.

Refer the screenshot.
![gantt view page](https://cloud.githubusercontent.com/assets/25973905/23292921/f8a1d27c-fa88-11e6-9a03-a96f71ca79b5.png)

[2017-02-24 06:45] sriagriya opened #1061 "[QA] while add the productivity beats it is allowing blank space as input."
1.Login as sridevi/agriya.
2.In board view page==>click corner setting icon==>select change back ground menu
3.In that menu click "Productivity Beats" add page==>Enter the empty space and click submit button
4.Got an successfully updated message.

Refer the screenshots.
![beat1](https://cloud.githubusercontent.com/assets/25973905/23293202/eb3817ca-fa8a-11e6-8d5a-daa34a913887.png)
![beat2](https://

[2017-02-24 07:52] sriagriya opened #1062 "[QA] Delete popup alignment is not coming properly."
1.Login as sridevi/agriya.
2.view the Board list activities.
3.Add emoji for that list.
4.click the Emoji Delete button.
5.Delete popup alignment is not coming properly.

Refer the screenshot.
![delete popup](https://cloud.githubusercontent.com/assets/25973905/23294994/4ceb111c-fa94-11e6-81af-375a209d2af2.png)

[2017-02-24 07:57] sriagriya opened #1063 "[QA] Emoji alignment is not coming properly."
1.Login as sridevi/agriya.
2.view the Board list activities.
3.Add emoji for that list.

Refer the screenshot.
![emoji alignment](https://cloud.githubusercontent.com/assets/25973905/23295124/f1c4617a-fa94-11e6-965a-1ddd10a8be85.png)

[2017-02-24 08:05] sriagriya opened #1064 "[QA] Labels add option is not coming properly while view the card."
1.Login as sridevi/agriya.
2.View the card details page.
3.Here the Labels add option is not coming properly.

Refer the screenshot.
![labels add](https://cloud.githubusercontent.com/assets/25973905/23295336/11f17b8a-fa96-11e6-9ce2-3fe9aaeac140.png)

[2017-02-24 11:16] sriagriya opened #1065 "[QA] After close the board if we add the instant card means that time it is accepting to add."
1.Login as sridevi/agriya.
2.Add one card by using "Instant card add" with closed Board.
3.After close the board if we add the instant card means that time it is accepting to add.
![instant card add](https://cloud.githubusercontent.com/assets/25973905/23301577/9b001890-fab0-11e6-81c4-ab8a287c65a6.png)
![instant card add1](https://cloud.githubusercontent.com/assets/25973905/23301608/c44132de-fab0-1