[2016-03-15 06:15] psyfi commented on #455
For whatever its worth is, perhaps you'll consider package delivery via yum as opposed to script. Tuleap does it well. There are just so many variables that might not work, if upgrade is done via overwrite or installation is done via script. Thanks for the experience!

[2016-03-15 07:00] Zimeon- opened #458 "User updated by admin shows incorrect old information"
Here's an example of the Admin account updating a user account.

Admin updated the profile.

**admin@restya.**userä@restya.local_local_

**Admin**User&auml;

**A**U

**Admin**

As github doesn't undestand overline (i think), I made teh red (old information) in bold and the new information (green) as normal. Note that the email feild also has the local in italic which is grayed out and should be a

[2016-03-15 07:58] ssivachidambaram commented on #454
Fixed.

[2016-03-15 07:58] #454 closed

[2016-03-15 07:58] ssivachidambaram commented on #440
Fixed.

[2016-03-15 07:58] #440 closed

[2016-03-15 07:58] ssivachidambaram commented on #434
Fixed.

[2016-03-15 07:58] #434 closed

[2016-03-15 08:02] rrjanbiah commented on #455
@psyfi Thanks a lot for your help and suggestions. We'll definitely consider your feedback and will improve. Thanks again.

[2016-03-15 08:02] #455 closed

[2016-03-15 08:11] ssivachidambaram commented on #422
Fixed.

[2016-03-15 09:57] #443 closed

[2016-03-15 10:08] ssivachidambaram commented on #429
PHP warnings fixed.

[2016-03-15 10:08] #429 closed

[2016-03-15 10:24] simdol opened #463 "CalDAV / CardDAV Support"
I would very much like to have CalDav / CardDav support for Restyaboard. The idea is that if I were to add an event in the board, the participating organization or members would have an entry in their calendar indicating the due date for the event or 'to-do list'.

The idea of CardDAV is syncing Restyaboard's users into the contacts (CardDAV server). This way, importing / export the contacts could

[2016-03-15 10:40] ssivachidambaram commented on #453
Fixed.

[2016-03-15 10:40] #453 closed

[2016-03-15 11:42] ssivachidambaram commented on #438
Fixed.

[2016-03-15 11:42] #438 closed

[2016-03-15 12:24] ssivachidambaram commented on #433
Can you please check in private window in Edge browser?

[2016-03-15 12:29] ssivachidambaram commented on #458
Fixed.

[2016-03-15 12:29] #458 closed

[2016-03-15 12:43] rrjanbiah commented on #437
@raphaelcasimir Closing this as @namikingsoft has kindly upgraded it https://github.com/namikingsoft/docker-restyaboard/issues/9

[2016-03-15 12:43] #437 closed

[2016-03-15 13:13] Zimeon- commented on #433
Same thing.

http://imgur.com/wDh7qWQ (MS Edge private mode)
http://imgur.com/rOuPlDg (Firefox private mode)

[2016-03-15 13:17] rrjanbiah commented on #433
@ssivachidambaram There is undefined error in the screenshot. Probably due to wrong JSON serialization (hand coded or so)?

[2016-03-15 13:20] rrjanbiah commented on #463
@simdol

To understand the requirement..

Do you want to use Restyaboard as a CalDAV server? or You already have a CalDAV server, and want it to work with Restyaboard?

[2016-03-15 13:23] rrjanbiah commented on #450
@Zimeon- @dfragac Thanks for your suggestion. We'll definitely consider that. For the timebeing:

* Windows users may try `php.ini` approach http://stackoverflow.com/questions/112190/php-ini-smtp-how-do-you-pass-username-password/6941390#6941390
* Linux users may try Postfix approach http://stackoverflow.com/questions/112190/php-ini-smtp-how-do-you-pass-username-password/31084190#31084190

[2016-03-15 14:10] ssivachidambaram commented on #431
Fixed.

[2016-03-15 14:10] #431 closed

[2016-03-15 15:03] rrjanbiah opened #468 "Translation missing for many strings"
Probably machine translate for pending strings?

Also, translation in pages like /#/settings/2 are randomly missing

[2016-03-15 19:44] Aendrew87 opened #469 "Wrong entries in crontab when updated with restyaboard.sh"
When using the script 'restyaboard.sh' for the update the crontab would not be updated

In the path the directory 'shell' is missing.

[2016-03-15 21:02] Aendrew87 commented on #424
Just to get sure:

The fix is not in milestone 0.2 at the moment.
Only in the dev path is a fixed version of the file.

When looking at the fixes for milestone 0.2 it is still listed:
https://github.com/RestyaPlatform/board/issues?q=milestone%3Av0.2

[2016-03-15 21:47] simdol commented on #463
@rrjanbiah It wouldn't hurt to have both functionality. However, what I think you should prioritize is the support for the existing CalDAV server as that is what I really need and I believe community would like that as well.

[2016-03-15 23:02] verde3ro opened #470 "ccti"

[2016-03-16 04:38] stanleyliu1006 opened #471 "API post card label issue"
Hi,

I try to test the cards_labels.json operation to add a new label, but its actually delete the labels.

![image](https://cloud.githubusercontent.com/assets/6980917/13802133/c02998a0-eb8c-11e5-89c3-7ae1724dc931.png)

And when I check the cards_labels.json file, the description shows it is a delete opeartion rather than post card label.

{ "name": "cardId",
   "description": "Card ID to delete",

[2016-03-16 05:16] ssivachidambaram commented on #424
Sorry. Milestone was changed to v0.2.1. We will release it shortly.

[2016-03-16 05:30] ssivachidambaram commented on #469
Sorry for the trouble. We have fixed it in v0.2.1.

[2016-03-16 05:30] #469 closed

[2016-03-16 05:31] ssivachidambaram commented on #433
It was created problem while due date set as from date in Gantt. Now we have fixed this in v0.2.1.

[2016-03-16 05:36] stanleyliu1006 opened #472 "API PUT Card.json (only partially working)"
Hi Guys

The Card PUT operation is only works on the card name and position, it does not work on the archive statue and due date, no matter what values I assigned to them. Please check the diagram as below:

![image](https://cloud.githubusercontent.com/assets/6980917/13802934/e49835f4-eb94-11e5-8923-8f83be0dfe58.png)

![image](https://cloud.githubusercontent.com/assets/6980917/13802940/fab29d34-eb

[2016-03-16 05:58] #470 closed

[2016-03-16 05:58] stanleyliu1006 opened #473 "API POST checklists (no responding)"
Hi Guys

For the API post checklist, which is running without any respond. And there's no new checklist are generated to the card (id: 111).

![image](https://cloud.githubusercontent.com/assets/6980917/13803375/36bb7b04-eb98-11e5-8b2c-eb656fefab51.png)

Not sure if there's some thing wrong with my testing, or could be an issue of the API itself.

Regards
Stanley

[2016-03-16 08:24] ssivachidambaram commented on #473
Sorry for the trouble. Its an issue in API itself. We have fixed it and going to release today. So you can upgrade it through our install script.

[2016-03-16 08:24] #473 closed

[2016-03-16 08:25] ssivachidambaram commented on #472
Sorry for the trouble. Its an issue in API itself. We have fixed it and going to release today. So you can upgrade it through our install script.

[2016-03-16 08:25] #472 closed

[2016-03-16 08:25] ssivachidambaram commented on #471
Sorry for the trouble. Its an issue in API itself. We have fixed it and going to release today. So you can upgrade it through our install script.

[2016-03-16 08:25] #471 closed

[2016-03-16 08:25] ssivachidambaram commented on #468
Fixed.

[2016-03-16 08:25] #468 closed

[2016-03-16 09:47] Zimeon- commented on #450
Thank you rrjanbiah for your comment. This is a good workaround but for some future release this would be a great addition.

[2016-03-17 00:03] stanleyliu1006 opened #479 "Continue with API issue"
Hi Guys

I just overwrite the api_explorer folder with the new release (without upgrade to v0.21), the API explorer is loading without end, is this because i have not upgrade to the latest version? or is there any other reason to cause it. If so can you also provide the link of the build version of the restyaboard v0.21?

![image](https://cloud.githubusercontent.com/assets/6980917/13832346/9b835db

[2016-03-17 01:21] stanleyliu1006 commented on #479
Hi,

I have updated the version to V0.21, but the api_explorer still running without respond, as shown in the diagram below, you can also go to the api_explorer in this link to have a test: https://emailmanagement.acfonline.org.au/client/api_explorer/

![image](https://cloud.githubusercontent.com/assets/6980917/13833517/b0e4eeae-ec3a-11e5-9d87-db286566b0a6.png)

Regards
Stanley

[2016-03-17 04:58] ssivachidambaram commented on #479
You can upgrade it through the install script. https://github.com/RestyaPlatform/board/blob/master/restyaboard.sh

[2016-03-17 05:17] meganathans opened #480 "Card due date notification email subject is not proper"
![card_notification_email_subject_issue](https://cloud.githubusercontent.com/assets/16848979/13837071/883eeac0-ec2d-11e5-911f-8ffa23a58349.png)

[2016-03-17 05:26] stanleyliu1006 commented on #479
Thanks ssivachidambaram, I have successfully upgraded to the new version.

But the second screenshot still shows the API is loading without any response back, can you please have a check on that as well.

Thanks
Stanley

[2016-03-17 05:40] espantosdarren commented on #479
We have tested in our demo site http://board.demo.restya.com/api_explorer/#!/users/loginUser and login is working fine. Can you please enable debug mode in this file https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15 and check the network tab in chrome and attach the screenshot?

[2016-03-17 05:52] stanleyliu1006 commented on #479
Hi espantosdarren,

I have enable the debug mode to true, not sure why the api_explorer shows error like below:

https://emailmanagement.acfonline.org.au/client/api_explorer/

![image](https://cloud.githubusercontent.com/assets/6980917/13837556/8c1fc708-ec60-11e5-81f0-58e83a0c2276.png)

[2016-03-17 05:58] ssivachidambaram commented on #480
Fixed.

[2016-03-17 05:58] #480 closed

[2016-03-17 06:16] stanleyliu1006 commented on #479
And I have re-configure my Nginx.conf as below, but the same error still shows up.

server {
        listen       443 ssl;
        server_name  emailmanagement.acfonline.org.au;
        root C:/WPN-XM/server/www/restyaboard;
        ssl                  on;
        ssl_certificate      C:\Certs\acfonline.org.au_Wildcard.crt;
        ssl_certificate_key  C:\Certs\acfonline.org.au_Wildcard_key.pem;

[2016-03-17 06:25] ssivachidambaram commented on #479
Update your root folder upto `client` folder in the below mentioned places. Please refer,
https://github.com/RestyaPlatform/board/blob/master/restyaboard.conf#L29
https://github.com/RestyaPlatform/board/blob/master/restyaboard.conf#L42

And then access the URL without `client` like https://emailmanagement.acfonline.org.au/api_explorer/

[2016-03-17 06:47] stanleyliu1006 commented on #479
Thanks ssivachidambaram , the /api_explorer is getting back. But the api call stills stuck as the diagram below:

I have enabled the debug mode in the config file, but no errors throws out.

![image](https://cloud.githubusercontent.com/assets/6980917/13838416/08d062a6-ec68-11e5-844c-254c30da911b.png)

 */
define('R_DEBUG', true);
ini_set('display_errors', R_DEBUG);
define('R_API_VERSION', 1);
if (

[2016-03-17 06:51] stanleyliu1006 commented on #479
There's only some access logs as below:

192.168.80.91 - - [17/Mar/2016:17:49:05 +1100] "GET /api_explorer/lib/marked.js HTTP/1.1" 304 0 "https://emailmanagement.acfonline.org.au/api_explorer/" "Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.87 Safari/537.36"
192.168.80.91 - - [17/Mar/2016:17:49:05 +1100] "GET /api_explorer/lib/highlight.7.3.pack.js HTT

[2016-03-17 07:01] ssivachidambaram commented on #479
Can you please change the below code in this line and try?

https://github.com/RestyaPlatform/board/blob/master/api_explorer/index.html#L31

url = "/api_explorer/api.json";

=>

url = "https://emailmanagement.acfonline.org.au/api_explorer/api.json";

[2016-03-17 07:03] ssivachidambaram commented on #479
Also change `http` to `https` in `api.json` file in this line https://github.com/RestyaPlatform/board/blob/master/api_explorer/api.json#L4489

[2016-03-17 07:38] Zimeon- opened #482 "Due date filtering"
Due date filtering doesn't seem to take to account previous and upcoming months. See image for more details. In the image february is below cards with no due date.

http://imgur.com/b1EDgaZ

[2016-03-17 10:22] rrjanbiah commented on #450
@Zimeon- Yes, sure.

[2016-03-17 10:22] rrjanbiah commented on #463
@simdol Thanks for your note. We'll see what we can do here.

[2016-03-17 10:38] meganathans opened #483 "Add to home screen"

[2016-03-17 11:02] rrjanbiah opened #485 "API Explorer doesn't trigger API call when loaded in https"
See #479 Need protocol relative URL approach.

[2016-03-17 11:02] rrjanbiah commented on #479
@stanleyliu1006 The issue was that `http` API requests failed to get called when loaded in `https`. So, please check if above fixes work for you.

I have opened a separate ticket for this #485

[2016-03-17 11:36] ssivachidambaram commented on #483
Done.

[2016-03-17 11:36] #483 closed

[2016-03-17 11:46] meganathans opened #486 "Actions dropdown display in dockmodal - below attachment in left side"

[2016-03-17 11:48] edouard-lopez opened #487 "Failed to load resource: the server responded with a status of 401 (Authentication failed)"
After registering as a new user, I received the validation email but can't authenticate.

### Request

    http://x.x.x.x:1234/api/v1/users/8/activation.json?token=150af9f862e50131762d1770d11f1aa611f0baea

###  Error

I got from console log

    Failed to load resource: the server responded with a status of 401 (Authentication failed)

[2016-03-17 12:01] ssivachidambaram commented on #486
Done.

[2016-03-17 12:01] #486 closed

[2016-03-17 13:17] ssivachidambaram commented on #487
Sorry for the trouble. We are working on it and will update you shortly.

[2016-03-17 14:21] ssivachidambaram commented on #487
We have fixed this in dev branch. You can update the `r.php` file with changes mentioned here https://github.com/RestyaPlatform/board/pull/489/files.

[2016-03-17 14:42] ssivachidambaram commented on #485
Fixed.

[2016-03-17 14:42] #485 closed

[2016-03-17 16:28] edouard-lopez commented on #433
Still got a buggy rendering .

### Env

* Restya `v0.2.1` (2016-03-16)
  * via [Docker-restya](https://github.com/namikingsoft/docker-restyaboard)
* Firefox `45.0`

### Tried

1. clearing cache ;
2. private mode.

Here is [my _board.json_ file](https://gist.github.com/edouard-lopez/d0c9ebd6f287b907f79c) if that might help

[2016-03-18 00:46] stanleyliu1006 commented on #479
Hi Guys

It has been fixed now, thanks so much.

[2016-03-18 05:15] #479 closed

[2016-03-18 05:16] ssivachidambaram commented on #433
Sorry for the trouble. We will check and update you shortly.

[2016-03-18 05:54] Zimeon- commented on #433
Same here, still the same issue. See these messages in the browser:
NaN
undefined

[2016-03-18 05:57] Zimeon- commented on #449
Need to reopen this as well. Now we see the following error:
http://restya.ssp.local/#/users?page=1&filter=ldap
404 Page not found.

Wierdly enough, nothing in the nginx log.

[2016-03-18 06:25] ssivachidambaram commented on #449
Can you please enable debug mode in `config.inc.php` and can you please send screenshot or response got from the API call?

[2016-03-18 06:27] rrjanbiah commented on #449
@ssivachidambaram Can we please try to reproduce it on our end?

[2016-03-18 06:34] ssivachidambaram commented on #449
@rrjanbiah We have checked and its working fine for us.

![ldap-filter](https://cloud.githubusercontent.com/assets/91407/13870120/90939412-ed01-11e5-9078-15b3616fc827.png)

[2016-03-18 07:49] Zimeon- commented on #449
Sorry for this, this was a mistake on my end when running the update SQL script which had not updated the users_listing view properly.

[2016-03-18 07:52] rrjanbiah commented on #449
@Zimeon- No issues. Happy to hear that it is working for you.

[2016-03-18 07:52] #449 closed

[2016-03-18 07:55] rrjanbiah commented on #433
Update: Further to my discussion with @ssivachidambaram it seems to arise due to different date format coming from different machines (`2016-03-15T22:34:48.100683` Vs. `2016-03-15 22:34:48.100683`).

As per PostgreSQL documentation, it has to be without `T`  http://www.postgresql.org/docs/current/static/datatype-datetime.html

[2016-03-18 08:13] ssivachidambaram commented on #482
Fixed. Previously date was sorted using string comparator and now we have used date comparator.

[2016-03-18 08:13] #482 closed

[2016-03-18 10:11] #487 closed

[2016-03-18 10:48] meganathans opened #493 "Role settings for post comments and subscribe in public boards"

[2016-03-18 12:03] Zimeon- opened #494 "Admin sort users by login and registered time incorrect"
Sorting users by their login time or registered time doesn't work. Sorted result something like this:

http://imgur.com/VVD1v44

[2016-03-18 12:06] Zimeon- opened #495 "Admin sort boards by created and last activity"
Sorting boards by their created date and last activity date clears the list.

Edit: Seems all board filtering is broken. If there are multiple pages of boards, the pagination remains even if there are less than 20 results.

[2016-03-18 13:10] rrjanbiah commented on #433
@Zimeon- @edouard-lopez

As per our understanding PostgreSQL is returning date with `T` in it and in our systems, it is returning without such `T` which is expected PostgreSQL behavior.

Even by googling, we couldn't figure out why it happens so. We're also unsure if it is a bug in PostgreSQL.

Do you guys have any suggestion here? Could it be due to any environment settings?

[2016-03-18 13:15] ssivachidambaram commented on #493
Done.

[2016-03-18 13:15] #493 closed

[2016-03-18 13:56] ssivachidambaram commented on #494
Fixed. Same problem as mentioned in #482.

[2016-03-18 13:56] #494 closed

[2016-03-18 14:02] edouard-lopez commented on #433
@rrjanbiah I'm using the [Docker-restya](https://github.com/namikingsoft/docker-restyaboard) to set up my instance, you can easily try it and reproduce my env.

From what I see in its [docker-entrypoint.sh](https://github.com/namikingsoft/docker-restyaboard/blob/6f63d86241cf0162b317692915c1d274c2921f00/docker-entrypoint.sh#L46), the **database is created with `UTF8 `encoding**:

    psql -c "CREAT

[2016-03-18 14:55] ssivachidambaram commented on #495
Fixed.

[2016-03-18 14:55] #495 closed

[2016-03-18 15:30] rrjanbiah commented on #433
@edouard-lopez Thanks a lot for your suggestion. Will definitely try that.

[2016-03-19 06:09] meganathans opened #500 "Warning: pg_query_params(): Query failed: ERROR: bind message supplies 1 parameters"
Warning: pg_query_params(): Query failed: ERROR:  bind message supplies 1 parameters, but prepared statement "" requires 0 in /home/boardd/html/server/php/R/r.php on line 888
Warning: pg_fetch_object() expects parameter 1 to be resource, boolean given in /home/boardd/html/server/php/R/r.php on line 889
Notice: Trying to get property of non-object in /home/boardd/html/server/php/R/r.php on line 892

[2016-03-19 06:37] ssivachidambaram commented on #500
Fixed.

[2016-03-19 06:37] #500 closed

[2016-03-19 06:40] meganathans opened #502 "Implement markdown converter in checklist item"

[2016-03-19 11:23] meganathans opened #504 "Move card & change card position - difference in activities"

[2016-03-19 11:30] ssivachidambaram commented on #504
Fixed.

[2016-03-19 11:30] #504 closed

[2016-03-19 13:25] meganathans opened #506 "View in iOS app column in footer"

[2016-03-21 04:53] ssivachidambaram commented on #506
Done.

[2016-03-21 04:53] #506 closed

[2016-03-21 07:24] Zimeon- commented on #433
My database is en_US.UTF-8 as well. As @edouard-lopez mentioned it's most likely an issue with how you handle the different encodings.

As a side note, pgadmin shows the due dates consistently but in our case we have one card which due date is set to 2017. Could this cause issues? Mayby limit due date time to +-30 days and give an option to show more?

[2016-03-21 07:26] Zimeon- opened #508 "LDAP Bind password not encrypted in database"
LDAP Bind password not encrypted in database. Even though it shows as a password field in the GUI, in the database it's stored in clear text.

edit: fixed typo

[2016-03-21 10:53] GitterHubber opened #509 "Install Restya Board on Windows"
Is there any  installation guide to install Restya Board on Windows?

[2016-03-21 13:42] ssivachidambaram commented on #502
Done.

[2016-03-21 13:42] #502 closed

[2016-03-21 15:55] rrjanbiah commented on #509
@GitterHubber You may try https://github.com/RestyaPlatform/board/issues/224#issuecomment-184282834 Please note that the attached files are outdated now

[2016-03-21 15:56] rrjanbiah commented on #508
@Zimeon- Thanks for your report

[2016-03-21 15:57] rrjanbiah commented on #433
@Zimeon- Thanks for your note. We'll try to fix it as soon as possible.

[2016-03-22 03:50] stanleyliu1006 opened #511 "API to post checklist and items"
Hi Guys

I am trying to use the API to insert the checklist and checklist items in my own customized code, but is there a way to get the checklist id from api or any method after post a new checklist, because I am using it for the checklistitem post api (used as input parameter), similar concept to the lastinsertid in the DB function.

It would be best to return the id of each post API operation,

[2016-03-22 06:12] ssivachidambaram commented on #511
We have tested checklist add via API explorer and the id of the checklist is returning in response. Please find the attached screenshot.

![checklist_add](https://cloud.githubusercontent.com/assets/91407/13943498/f3e1c54c-f022-11e5-84d2-d9d48cfff8ec.png)

[2016-03-22 10:16] Mad-Onion opened #512 "advanced LDAP account filter"
Hi everyone,

we would like to filter for a user's group-membership on ldap-login. In another php-based software we use filters like `(&(objectClass=user)(memberOf=CN=foo,OU=groups,dc=bar,dc=baz))`. In restya, those filters produce errors:

[code]

Should these kind of filters work?

[2016-03-22 10:43] Mad-Onion opened #513 "LDAP-mapping for user-info"
Hi everyone,

it would be great to have a mapping-table where I can define the names of the ldap-attributes and map the to restya's user-attributes (Full Name, Email...).

Best regards
Tobais

[2016-03-22 10:49] rrjanbiah commented on #512
@Mad-Onion I think, `memberOf` is not supported natively in PHP. If you can mention that software name, it will help us to compare (Probably they could have used different LDAP implementation)

[2016-03-22 10:50] rrjanbiah commented on #513
@Mad-Onion That's a good suggestion. We'll definitely consider adding that. Thanks for that.

[2016-03-22 11:10] meganathans opened #514 "Checklist item emoji Implementation"

[2016-03-22 11:14] rrjanbiah commented on #511
@stanleyliu1006 Are you expecting anything else? Or, is your setup showing different behavior than expected?

[2016-03-22 11:16] rrjanbiah commented on #509
@GitterHubber Were you able to get it installed?

[2016-03-22 11:41] GitterHubber commented on #509
Sorry for the late reply! Haven't had the time yet to start the whole
process. Will possibly try it out over the weekend.
Many Thanks.

On 22-Mar-16 4:46 PM, R. Rajesh Jeba Anbiah wrote:

[2016-03-22 12:00] Mad-Onion commented on #512
@rrjanbiah `memberOf` is an ActiveDirectory-attribute showing group-membership from an object's point of view.
The application is closed-source, but also written in php.

[2016-03-22 12:24] ssivachidambaram commented on #427
@Aendrew87 Can you please share the exact error you got while install?

[2016-03-22 12:27] rrjanbiah commented on #512
@Mad-Onion Thanks for your note. We'll see what we can do here.

[2016-03-22 12:28] ssivachidambaram commented on #349
@rrjanbiah We have checked in default SQL dump and all are enabled by default.

[2016-03-22 12:28] #349 closed

[2016-03-22 12:28] rrjanbiah commented on #509
@GitterHubber No problem. Please let us know how it goes.

Closing this for now. If you get any issues, please feel free to reopen.

[2016-03-22 12:30] ssivachidambaram commented on #220
We cannot able to reproduce this issue.

[2016-03-22 12:30] #220 closed

[2016-03-22 12:31] ssivachidambaram commented on #219
@Zimeon- We have checked in Trello and they are also filtering using AND operations.

[2016-03-22 12:58] Mad-Onion commented on #512
@rrjanbiah I would prefer a text-input where I can enter a completely custom filter-string (and access the username via a variable) which is passed 1:1 to the server.
So you are flexible and can use any ldap-server you want: AD, OpenLDAP, ...

[2016-03-22 13:11] rrjanbiah commented on #512
@Mad-Onion

Sorry, these 2 points are not clear. Can you please consider rephrasing or add examples?

[2016-03-22 13:21] ssivachidambaram commented on #514
Done.

[2016-03-22 13:21] #514 closed

[2016-03-22 13:44] Mad-Onion commented on #512
I'd prefer an input-field in the LDAP-setting where I can enter something like this: `(&(objectClass=user)(sAMAccountName=$username)(memberOf=CN=foo,OU=groups,dc=bar,dc=baz))`.
`$username` will be replaced by the username entered in the login-form and the whole string will be passed as the filter to the LDAP-server.
I hope this is better to understand :)

[2016-03-22 13:54] rrjanbiah commented on #512
@Mad-Onion Yes, thank you.

[2016-03-23 09:49] meganathans opened #517 "Activities (width, heading & list), Apps menu, Card UI & scrollbar UI issues"

[2016-03-23 10:17] ssivachidambaram commented on #433
Fixed.

[2016-03-23 10:17] #433 closed

[2016-03-23 10:39] rrjanbiah commented on #433
For the sake of record: We couldn't reproduce the environment of @Zimeon- and @edouard-lopez even using docker version. And so, we updated with common workaround for all machines. CC @ssivachidambaram

[2016-03-23 13:14] thesourcer opened #518 "Organization Permissions"
I love what you have done with Restyaboard so far!  However, as I am trying to configure it for use within an organization, I still am not able to get around certain issues.  Before v0.2.0 was published, I downloaded v0.1.6, but boards which had organization scope were unaccessible by organization members.

With v0.2.1 (what I am running now), this problem is resolved, but there is a new problem w

[2016-03-23 15:14] rrjanbiah commented on #518
@thesourcer Thanks a lot for your report. We'll check and update you on that.

[2016-03-24 05:00] ssivachidambaram commented on #517
Fixed.

[2016-03-24 05:00] #517 closed

[2016-03-24 05:17] meganathans opened #520 "Code optimization based on Scrutinizer report"

[2016-03-24 05:18] stanleyliu1006 commented on #511
thanks guys, the issue is fixed, please close this ticket

[2016-03-24 05:25] ssivachidambaram commented on #511
Thanks for confirming.

[2016-03-24 05:25] #511 closed

[2016-03-24 06:24] rrjanbiah commented on #511
@stanleyliu1006

If possible, can you please share information on what fixed or caused this?

[2016-03-24 07:15] rrjanbiah commented on #427
Closing due to inactivity.

[2016-03-24 07:15] #427 closed

[2016-03-24 07:43] lhooge opened #522 "Comments are not shown when moving a card to another list"
Hi,

I've tried to add some comments to a card, when moving this card to another list the comments are not shown anymore. It seems that the listid in the activities table is not updated.

[2016-03-24 07:59] rrjanbiah commented on #522
@lhooge Thanks for reporting this critical issue. We'll fix it as soon as possible.

Does it happen always? If so, can you please share more information about your setup? (if this is upgraded from previous version or setup latest version?)

[2016-03-24 08:49] lhooge commented on #522
@rrjanbiah I've updated from 0.16 to 0.21 (manual). PHP version is 5.5.9 (from Ubuntu 14.04 It's always reproducable. If you need more information, please let me know.

[2016-03-24 09:27] lhooge commented on #522
Here is the request, if I move the card to the list with id 206 (seems to be sent correctly):

PUT /api/v1/boards/3/lists/205/cards/47.json?token={{token}}
   - {"list_id":206,"position":1}

[code]

[2016-03-24 10:13] ssivachidambaram commented on #518
@thesourcer Currently a member can different roles in organization and board. So can you please check member permission in board like mentioned in the attached screenshot?

![board-member-permission](https://cloud.githubusercontent.com/assets/91407/14014199/1a5cb53c-f1d7-11e5-9d6e-70bd7ab79c25.png)

[2016-03-24 11:43] meganathans opened #523 "Member add UI is inconsistent - Organization vs Board view Search is also inconsistent"

[2016-03-24 12:47] lhooge opened #525 "Can't open board with a card that contains a due date in firefox"
If I add a card and set for this card a due date I can't open the board in Firefox 45.0.1 (Restyaboard version: 0.2.1). Google Chrome is working fine.

This one is thrown in the developer console:

[2016-03-24 12:53] ssivachidambaram commented on #523
Fixed.

[2016-03-24 12:53] #523 closed

[2016-03-24 14:40] meganathans opened #528 "Subscribe to the board by default, While adding board"

[2016-03-24 14:43] ssivachidambaram commented on #522
@lhooge Thanks for your detailed explanation. We have fixed this in our dev branch and you can update `r.php` changes from this pull request https://github.com/RestyaPlatform/board/pull/527/files.

[2016-03-24 14:43] #522 closed

[2016-03-24 14:44] skonvols2k opened #530 "Problem upgrading"
Hi,
upgrading from 0.1.6 to 0.2.1 i have this error:
psql:/usr/share/nginx/html/restyaboard/sql/v0.2.1.sql:95: ERROR:  column boards_users.board_user_role_id does not exist
LINE 51:                     boards_users.board_user_role_id,

can you please help?
Thanks

[2016-03-24 14:53] ssivachidambaram commented on #528
Done.

[2016-03-24 14:53] #528 closed

[2016-03-24 14:55] ssivachidambaram commented on #525
Related to #433. We couldn't reproduce the environment here. So we have updated with common workaround for all machines in our `dev` version.

[2016-03-24 14:56] ssivachidambaram commented on #530
Can you please update the below SQL manually to upgrade database 0.1.6 to 0.2?

https://github.com/RestyaPlatform/board/blob/master/sql/upgrade-0.1.6-0.2.sql

[2016-03-24 22:48] skonvols2k commented on #530
Hi,
i executed upgrade 0.1.6-0.2 than upgrade with script than execute 0.2-0.2.1 script too.
the board is working but every attachment to cards i try to open give me 404.
Please help
Thanks

[2016-03-25 05:47] meganathans opened #532 "Change visibility to organization, the organization members are not added or removed properly"

[2016-03-25 06:21] meganathans opened #534 "Closed boards no need to list in organization"

[2016-03-25 06:28] ssivachidambaram commented on #532
Fixed.

[2016-03-25 06:28] #532 closed

[2016-03-25 06:31] ssivachidambaram commented on #534
Fixed.

[2016-03-25 06:31] #534 closed

[2016-03-25 06:32] #525 closed

[2016-03-25 06:42] ssivachidambaram commented on #530
Can you please check/update nginx configuration from line 21 to 26?
https://github.com/RestyaPlatform/board/blob/master/restyaboard.conf#L21

[2016-03-25 07:27] meganathans opened #536 "List design issue while sorting and Actions heading & copy icon"

[2016-03-25 09:34] jawahar336 opened #537 "Converse.js initial files"

[2016-03-25 09:56] meganathans opened #538 "Majority of the activities are reverted"

[2016-03-25 10:10] skonvols2k commented on #530
Hi,
i installed the nginx configuration indicated but nothing changed: portal
works but download of the attachment doesn't.

i do: tail -f /var/log/php-fpm/*.log /var/log/nginx/*.log but i can't any
error.

Thanks

---------------------------------------
Marco Sommella
marco.sommella@gmail.com
---------------------------------------

2016-03-25 7:42 GMT+01:00 S. Sivachidambaram <notifications@gith

[2016-03-25 10:11] meganathans opened #540 "Sometimes datepicker is showing like "12:6:53" (single digit minute and unnecessary seconds)"

[2016-03-25 10:14] jawahar336 opened #543 "ConverseJs implementation in Restyaboard"

[2016-03-25 10:18] ssivachidambaram commented on #540
Fixed.

[2016-03-25 10:18] #540 closed

[2016-03-25 10:18] ssivachidambaram commented on #537
Done.

[2016-03-25 10:18] #537 closed

[2016-03-25 10:26] ssivachidambaram commented on #538
Fixed.

[2016-03-25 10:26] #538 closed

[2016-03-25 10:52] meganathans opened #544 "Admin side roles listing design changes and add new role implementation"

[2016-03-25 11:01] ssivachidambaram commented on #435
Done.

[2016-03-25 11:01] #435 closed

[2016-03-25 11:07] ssivachidambaram commented on #530
Can you please send the attachment download URL to check generated hash are correct?

[2016-03-25 11:26] skonvols2k commented on #530
http://board.myserver.it/download/309/44ffb95c6c45ce91adb61c0943c01305
thanks

---------------------------------------
Marco Sommella
marco.sommella@gmail.com
---------------------------------------

2016-03-25 12:07 GMT+01:00 S. Sivachidambaram <notifications@github.com>:

[2016-03-25 11:53] ssivachidambaram commented on #530
Hash are correct. Actually we have changed `R` folder structure and moved all files to `php` folder. Can you please check once again the nginx configuration without `R` folder like this `/server/php/download.php?id=$1&hash=$2`? Also if possible post your nginx configuration too.

[2016-03-25 12:26] skonvols2k commented on #530
Hi,
there was indeed a R folder i moved everything up one level so now i have:
[root@board php]# pwd
/usr/share/nginx/html/server/php
[root@board php]# ls
config.inc.php  download.php  ical.php  image.php  libs  README.md  r.php
shell

now the board doesn't works !!!

my nginx conf is below, i notice that in config there are refence to files
which are missing in my folder (for ex. authorize.php) s

[2016-03-25 12:48] ssivachidambaram commented on #530
While upgrade those files will automatically update. Can you please upgrade files once again? Also in this `r.php` and `README.md` files should be inside `R` folder.

You can update it through shell script or download board-v0.2.1.zip from here https://github.com/RestyaPlatform/board/releases and update.

[2016-03-25 13:04] skonvols2k commented on #530
Hi,
i done it again and everything works except the download of files when
filename contains spaces (i suppose - other download works fine).
For example:

http://board.myserver.it/download/308/757f3b2f592d455fb1ba3c13ed2b2262

SELECT * FROM "card_attachments" where id=308

id,created,modified,card_id,name,path,list_id,board_id,mimetype,link
308,2016-02-04T13:20:23.545Z,2016-02-04T13:20:23.545Z,261

[2016-03-25 13:15] ssivachidambaram commented on #530
We have uploaded a sample pdf by the name provided by you and its working fine in our demo. Please refer http://board.demo.restya.com/#/board/62/card/862 (admin // restya)

[2016-03-25 13:51] ssivachidambaram commented on #544
Done.

[2016-03-25 13:51] #544 closed

[2016-03-25 13:51] ssivachidambaram commented on #543
Done.

[2016-03-25 13:51] #543 closed

[2016-03-25 15:38] skonvols2k commented on #530
Hi,
some attachment didn't download, i just have a white page!
And i have another problem: the admin CP show only activities and boards
menu on top
Thanks

---------------------------------------
Marco Sommella
marco.sommella@gmail.com
---------------------------------------

2016-03-25 14:15 GMT+01:00 S. Sivachidambaram <notifications@github.com>:

[2016-03-26 21:14] oOHenry opened #548 "MySQL Support"
Hello together,
is it planed to support mysql instead postgresql?
It would be very nice because I have one place for all my DBs. :)

thanks

[2016-03-28 05:36] ssivachidambaram commented on #530
Can you please clear all browser cache or check in incognito/private window?

[2016-03-28 10:58] skonvols2k commented on #530
indeed was a cache problem, thanks.

---------------------------------------
Marco Sommella
marco.sommella@gmail.com
---------------------------------------

2016-03-28 7:36 GMT+02:00 S. Sivachidambaram <notifications@github.com>:

[2016-03-28 11:46] ssivachidambaram commented on #530
Is download attachment working or only admin CP menu is working?

[2016-03-29 05:14] ssivachidambaram commented on #536
Done.

[2016-03-29 05:14] #536 closed

[2016-03-29 11:10] lhooge commented on #522
@ssivachidambaram Thanks for providing the patch. Unfortunately I'm not able to see the comments when moving the card to another list. Is there somewhere I can add some logging?

[2016-03-29 12:15] ssivachidambaram commented on #520
Fixed.

[2016-03-29 12:15] #520 closed

[2016-03-29 12:45] ssivachidambaram commented on #522
@lhooge Sorry for the trouble. Can you please update the below two changes as well?

1. https://github.com/RestyaPlatform/board/commit/3d46b0e49aef6ddfd47bc65662ee7750d6051abe
2. https://github.com/RestyaPlatform/board/commit/c421b33e214b12c03857674a8366355477bb8c93

[2016-03-29 13:38] lhooge commented on #522
@ssivachidambaram Thanks for your help! I can see the comments now.

[2016-03-30 00:20] stanleyliu1006 opened #558 "Source code customization"
Hi Guys

Can you please advise how to customize the source code to add an external link in the card panel as shown in the diagram below:

![image](https://cloud.githubusercontent.com/assets/6980917/14128093/5237f9d0-f669-11e5-87e3-d5bf3295620e.png)

Kind regards
Stanley

[2016-03-30 07:21] GitterHubber commented on #509
Hello again.
I successfully installed restyaboard however when I visit localhost:8084 in a browser it says unable to connect any idea what would be going wrong.

During installation i faced a few issues, documenting them here so other's can refer to it later.
I downloaded  [WPNXM-0.8.6-Full-Setup-php56-w64.exe](https://github.com/WPN-XM/WPN-XM/releases/tag/v0.8.6) and installed it during the end o

[2016-03-30 07:52] ssivachidambaram commented on #558
You can add links in this file https://github.com/RestyaPlatform/board/blob/master/client/js/templates/modal_card_view.jst.ejs#L213

[2016-03-30 08:10] skonvols2k commented on #530
Hi,
only admin CP.

---------------------------------------
Marco Sommella
marco.sommella@gmail.com
---------------------------------------

2016-03-28 13:46 GMT+02:00 S. Sivachidambaram <notifications@github.com>:

[2016-03-30 23:26] zgambino opened #560 "Forgot Password function broken (and possibly others)"
As you can see in the demo (and I've seen it in my own install), if a user were to try and reset their password, nothing happens.

I've traced it down to a bad if statement in r.php.
When I fixed the logic, I was able to get my password reset email.

I'm not sure, but this issue could affect more API commands.

Attached is a patch file illustrating the change.
[r.php.patch.txt](https://github.com/

[2016-03-31 03:18] stanleyliu1006 commented on #558
Hi ssivachidambaram

Thanks for your reply, I am using the latest built package (not the source package) which does not contain the js file you mentioned. Does this mean I need to change the source code, re-build and upload the entire project to the server, can you use the source package instead of the built one?

![image](https://cloud.githubusercontent.com/assets/6980917/14164400/1b0b479a-f74b-1

[2016-03-31 05:06] ssivachidambaram commented on #560
Thanks for reporting and sorry for the trouble. We have fixed this in our dev branch.

Please refer,
https://github.com/RestyaPlatform/board/pull/489/files
https://github.com/RestyaPlatform/board/pull/524/files#diff-9812550cecc4e99d42faa21f771c0b8cR4661

[2016-03-31 09:30] meganathans opened #562 "Setting for card view (dockmodal vs popup)"

[2016-03-31 10:42] ssivachidambaram commented on #562
Done.

[2016-03-31 10:42] #562 closed

[2016-03-31 10:42] #560 closed

[2016-03-31 12:12] ssivachidambaram commented on #558
Yes. You have to rebuild and upload.

[2016-03-31 12:35] ssivachidambaram commented on #530
We cannot able to reproduce the issue. Can you please enable debug mode in this file https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15. and send the error message?

[2016-03-31 14:30] ssivachidambaram commented on #508
Done.

[2016-03-31 14:30] #508 closed

[2016-04-01 08:29] skonvols2k commented on #530
Hi,
where error should be visualized?
in /var/log/php-fpm/www-error.log i found this, can be related?
[31-Mar-2016 12:59:09] PHP Warning:  pg_query_params(): Query failed:
ERROR:  invalid input syntax for integer: "6,7,8,10" in
/usr/share/nginx/html/server/php/libs/core.php on line 625
[31-Mar-2016 12:59:09] PHP Warning:  pg_num_rows() expects parameter 1 to
be resource, boolean given in
/usr/shar

[2016-04-01 10:25] ssivachidambaram commented on #530
After enable debug mode access the attachment download URL http://board.myserver.it/download/308/757f3b2f592d455fb1ba3c13ed2b2262 and error will display in page.

[2016-04-01 12:41] vince68 commented on #530
I have the same error in log when I add a new card, error in /usr/share/nginx/html/server/php/libs/core.php on line 625

[2016-04-01 12:41] skonvols2k commented on #530
Hi,
after setting debug mode to true, restart nginx and php-fpm services and
clean browser cache, opening the attach result in a white page, no errors
are shown.
Thanks a lot
Regards

---------------------------------------
Marco Sommella
marco.sommella@gmail.com
---------------------------------------

2016-04-01 12:25 GMT+02:00 S. Sivachidambaram <notifications@github.com>:

[2016-04-02 08:27] GitterHubber opened #567 "Cannot upload or view images in RestyaBoard on Windows"
When I try to upload an attachment it show a grey broken icon instead of the actual image.

These are the last few lines of the error log file.

2016/03/31 13:27:39 [error] 4628#3736: *1460 CreateFile() "D:/server/www/restyaboard/client/index.htmlimg/small_thumb/User/1.cee46acef87d2f83da4b6584b6578796.png" failed (3: The system cannot find the path specified), client: 127.0.0.1, server: _, request

[2016-04-02 09:45] lmarikannan opened #568 "Custom fields integration"

[2016-04-02 12:13] ssivachidambaram commented on #568
Done.

[2016-04-02 12:13] #568 closed

[2016-04-02 13:57] GitterHubber commented on #567
In restyaboard.conf

had to change path of php file,  it was searching for image.php in the R folder while the image.php was in /server/php folder

**old path**
`rewrite ^/img/([a-zA-Z_]*)/([a-zA-Z_]*)/([a-zA-Z0-9_\.]*)$ /server/php/R/image.php?size=$1&model=$2&filename=$3 last;`

**new path**
`rewrite ^/img/([a-zA-Z_]*)/([a-zA-Z_]*)/([a-zA-Z0-9_\.]*)$ /server/php/image.php?size=$1&model=$2&filena

[2016-04-02 13:57] #567 closed

[2016-04-02 15:04] oOHenry opened #570 "option to disable freegeoip.net"
Hey Guys,

is it possible to disable freegeoip.org? The service is not online at the moment and my browser is loading and loading.

Thanks :)

[2016-04-04 04:34] stanleyliu1006 commented on #558
Hi ssivachidambaram

Thanks so much for your reply, I follow the instruction above to modify the modal_card_view.jst file. and add the link in both line 213 and 216, and build the js and css file, and redeploy the project, but it still shows nothing on the card details panel.

The template file is attached below, already reboot the nginx, still not helpful, Please let me know if I miss some steps

[2016-04-04 04:36] stanleyliu1006 commented on #558
And when I check the source element after click F12 on the chrome, there shows nothing of my customization code. <a href> etc.

[2016-04-04 04:49] ssivachidambaram commented on #570
You can remove the whole `if` block in this file https://github.com/RestyaPlatform/board/blob/master/client/js/common.js#L19 and rebuild files then deploy.

[2016-04-04 04:54] ssivachidambaram commented on #558
Whether you have run this command `grunt build:live` to generate a zip file to upload?

[2016-04-04 10:01] katiemacintyre opened #571 "User activation not working"
Hi there,
Just done a fresh install of restyaboard using the install script, so far I can log into the admin panel using the default admin credentials and all seems to work fine. However, when trying to register a new user it all goes well until it comes to activating that user. The activation link brings up a blank Restyaboard screen with "Register" and "Login" at the top, neither of which do any

[2016-04-04 10:07] ssivachidambaram commented on #571
Sorry for the trouble. Related to #487. You can update the `r.php` file with changes mentioned here https://github.com/RestyaPlatform/board/pull/489/files.

[2016-04-04 10:19] katiemacintyre commented on #571
Working perfectly now! Thanks very much!

[2016-04-04 10:19] #571 closed

[2016-04-04 23:17] stanleyliu1006 commented on #558
Hi ssivachidambaram

Yes I have done that step, as shown in the diagram below, is there any possible I can check it from the built files?

![image](https://cloud.githubusercontent.com/assets/6980917/14266902/0b245f34-fb0f-11e5-97c5-ff80a9e2081b.png)

Any advise would be appreciated.

Regards
Stanley

[2016-04-05 05:52] ssivachidambaram commented on #558
While run build, a new file will created in this path `client/js/default.cache.xxxxx.js`. Can you please check whether the code available in that file?

[2016-04-05 06:05] stanleyliu1006 commented on #558
Hi ssivachidambaram

There are three default.cache.xxxxx.js , and two files have my external link code, as the file shows below, any ideas?

[default.cache.dc3bae19.zip](https://github.com/RestyaPlatform/board/files/203897/default.cache.dc3bae19.zip)

Kind regards
Stanley

[2016-04-05 06:12] ssivachidambaram commented on #558
In `index.html` its pointing the old javascript `js/default.cache.d23b7dec.js` file.

[2016-04-05 07:25] stanleyliu1006 commented on #558
Hi ssiva

I think I am getting close, but when I update the index.html with the new js file as below, and clear the browser cache, it stills shows up the old js file, is there any way to clear the cache in the restyaboard?

<!DOCTYPE html><html class="no-js" lang="en" manifest="default.appcache"><head><meta charset="utf-8"><title>Restyaboard powered kanban board</title><meta name="description" con

[2016-04-05 07:58] ssivachidambaram commented on #558
In `index.html` we have already written reload if any new application cache available. To clear application cache manually in chrome, run this `chrome://appcache-internals/` in new tab and remove item and clear browser cache as well.

[2016-04-05 12:23] ssivachidambaram commented on #530
We have fixed the PHP warnings logged in error log file. Please refer https://github.com/RestyaPlatform/board/commit/c64a2edc06ddf8716b52618c029bb0a043800989.

[2016-04-06 01:59] stanleyliu1006 commented on #558
Hi ssivachidambaram

It works now, thanks.

Please close this ticket.

Regards
Stanley

[2016-04-06 04:49] ssivachidambaram commented on #558
Thanks for confirming.

[2016-04-06 04:49] #558 closed

[2016-04-08 11:25] cubbuk commented on #113
You may have forgotten to put semicolon at the end of your expression

[2016-04-09 02:41] jwentwistle opened #576 "gantt chart error"
The date area resizes and displays:

_NaN, undefined_

Then an error appears that says:

_A script on this page may be busy, or it may have stopped responding. You can stop the script now, open the script in the debugger, or let the script continue.

Script: http://localhost/js/default.cache.a331c8c3.js:25_

[2016-04-10 08:32] rrjanbiah commented on #576
@jwentwistle Can you please mention your browser and Restyaboard version?

[2016-04-10 13:58] seronline commented on #113
I can confirm this problem when using the restyaboard.sh bash script. When starting nginx manually the error reads:

`nginx[4432]: nginx: [emerg] invalid number of arguments in "root" directive in /etc/nginx/conf.d/restyaboard.conf:5`

The corresponding line number 5 in restyaboard.conf is

`root ;`

I had to manually amend it to:

`root /usr/share/nginx/html/;`

I'm running Debian 8.

Hope that h

[2016-04-10 21:44] raphaelcasimir commented on #437
Thanks but it doesn't upgrade. I deleted and cloned the folder again, I get a blank page with a rapid loading bar on the top that disappears (I purged the cache). Maybe a database error,,,

[2016-04-11 13:19] didierm opened #577 "LDAP TLS"
Am I right in assuming there are currently no provisions for LDAP with TLS ?
[http://php.net/manual/en/function.ldap-start-tls.php](url)

[2016-04-12 10:11] lmarikannan opened #578 "List view design changes"

[2016-04-12 10:26] ssivachidambaram opened #580 "When I press at the board Ctrl + C card going to archive"

[2016-04-12 11:08] rrjanbiah commented on #577
@didierm

Yes, currently no. We do accept PR for that.

[2016-04-12 11:25] carazzim0 opened #581 "automated Login"
Hi guys,

first thing I noticed after setting up our own Restyaboard was, that I had login again after I closed my browser.

Is there already an implementation of a "remember me"-checkbox?

Could you otherwise consider implementing this function?

Thank you for your help :)

cheers,
carazzim0

[2016-04-12 12:23] ssivachidambaram commented on #578
Done.

[2016-04-12 12:23] #578 closed

[2016-04-13 09:00] SilentHunter124 opened #582 "SSL Connection in Docker"
I have no Idea how to secure this nginx inside a docker container with an ssl certificate. I tried editing the resyaboard.conf file with ssl on but it has no effect. How to do that?

[2016-04-13 14:51] darkree opened #583 "Add cards via Email - imap not working?"
**Symptom**
Restyaboard is not successfully accessing an IMAP mailbox and/or consuming the email to a list/card/etc..

**Environment:**
- Fresh installation of Ubuntu 14.04 LTS
- Restyaboard Installed from the Restyaboard.sh
- IMAP mailbox is functional / accessible by mozilla thunderbird.
- Restyaboard seems to be functioning normally (adding cards, lists, boards).

**Tried**
and got the followin

[2016-04-13 14:59] rrjanbiah commented on #583
@darkree Many thanks for your very helpful/detailed issue report. We'll look into it.

[2016-04-13 15:01] rrjanbiah commented on #582
@SilentHunter124 Docker version is kindly provided by @namikingsoft

We don't have much expertise in Docker (and so, we planned to check Docker once all planned items are done). If you report it in https://github.com/namikingsoft/docker-restyaboard you may get better reply.

[2016-04-13 15:01] rrjanbiah commented on #581
@carazzim0 Thanks a lot for your suggestion. We'll see what we can do here.

[2016-04-13 18:47] Aendrew87 opened #584 "registration not possible"
i updated from 0.1.6 to 0.2.0 and then to 0.2.1.

Old users are still able to login but new users could not register.
In the access.log of nginx i found this:

/api/v1/users/60/activation.json?token=0a90b3bd753df525dba6bcaf10a147cd91212962
HTTP/1.1" 401 5 "https://myserver/" "Mozilla/5.0 (Windows NT 10.0; WOW64;
rv:45.0) Gecko/20100101 Firefox/45.0"

The '401' does not look good to me.

Any ideas

[2016-04-13 19:04] rrjanbiah commented on #584
Probably duplicate of #560 and #571 (?)

@Aendrew87 Can you please confirm?

[2016-04-13 19:13] Aendrew87 commented on #584
**@rrjanbiah** yes, looks like that - i checked only the last tickets - i will tests and give you feedback

[2016-04-13 19:24] Aendrew87 commented on #584
great, it works - thanks a lot

[2016-04-13 19:24] #584 closed

[2016-04-14 06:28] Aendrew87 opened #585 "No board in 'My Boards'"
Yesterday I updated the r.php with the last version from the dev branch.
That was necessary to use the activation and password forgotten function.

Now there are no boards in 'My Boards'.
Then clicking 'Boards' and 'My Boards' on the bottom of the page all boards are listet.

Any ideas how to solve this?

[2016-04-14 10:00] ET-Bent commented on #548
+1 would like to see this too. Any news on this?

[2016-04-14 10:02] rrjanbiah commented on #585
@Aendrew87 Did you try to clear browser cache and or in incognito window?

[2016-04-14 10:10] rrjanbiah commented on #548
@oOHenry @ET-Bent

Apologies for late reply.

We use many native postgresql features for performance and speed. So MySQL support demands more time. If there is more demand for it, we may consider that after finishing all current planned items.

[2016-04-14 10:43] ET-Bent commented on #548
@rrjanbiah perfect! Thanks for the reply, maybe add a label "needs votes" to this issue.

MySQL support would also open up the use of MariaDB which is pretty common in my company and would ease up the installation process.

[2016-04-14 11:47] carazzim0 commented on #548
+1 would like to have this as well.

[2016-04-14 11:57] Aendrew87 commented on #585
**@rrjanbiah** yes, i cleared the browser cache and there was no incognito window

[2016-04-14 13:55] rrjanbiah commented on #585
@Aendrew87 What browser is that? Can you also try some other browser?

[2016-04-14 15:49] Aendrew87 commented on #585
i used several pcs and browsers.
there i used ie 11 and firefox 45.0.2.

This probleme started with the update of the r.php.

[2016-04-15 05:01] ssivachidambaram commented on #585
Can you please update the changes mentioned in the below links instead of overwrite the r.php file? Because we have worked a lot in r.php for next version in dev branch.

Overwrite the r.php from master branch,
https://github.com/RestyaPlatform/board/blob/master/server/php/R/r.php

Then apply the changes only mentioned in the below link,
https://github.com/RestyaPlatform/board/pull/489/files

Then

[2016-04-15 07:37] Aendrew87 commented on #585
**@ssivachidambaram** thanks a lot, now it is working - hope that there will be a new release soon.

[2016-04-15 07:37] #585 closed

[2016-04-15 11:18] ssivachidambaram commented on #583
If possible, please share your install log. (Please review the content of the file and remove any sensitive data like password, etc before posting here).

[2016-04-16 05:32] lmarikannan opened #587 "Elastic Search Page design and functionalities changes"

[2016-04-18 01:55] jwentwistle commented on #576
Yeah, no problem.

Restyaboard version: v 0.2.1 (2016-03-16)
Firefox version: 45.0.1

[2016-04-18 13:42] darkree commented on #583
Please see attachment.
[restyaboard_install.txt](https://github.com/RestyaPlatform/board/files/223857/restyaboard_install.txt)

[2016-04-19 12:02] c4xp opened #589 "Can't activate email"
Hi guys,
Once registered, I received an email correctly:
http://foo.bar/#/users/activation/3/ad158e1a1d5796b3cdde2c40366fd268

But nothing happens (blank page with only header) [replaced my hostname with foo.bar and ip 1.2.3.4]

Nginx 2 Errors:
2016/04/19 14:56:17 [error] 21439#21439: *1 FastCGI sent in stderr: "PHP message: PHP Warning:  Invalid argument supplied for foreach() in /foo/bar/server/

[2016-04-19 12:27] ssivachidambaram commented on #589
Sorry for the trouble. Related to #487. You can update the `r.php` file with changes mentioned here https://github.com/RestyaPlatform/board/pull/489/files & https://github.com/RestyaPlatform/board/pull/524/files#diff-9812550cecc4e99d42faa21f771c0b8cR4661.

[2016-04-19 13:19] c4xp commented on #589
Thank you :)

[2016-04-19 13:19] #589 closed

[2016-04-21 05:43] jawahar336 opened #590 "Implement XMPP library"

[2016-04-21 06:01] lmarikannan opened #591 "Dashboard design and functionalities integration"

[2016-04-21 06:58] ssivachidambaram commented on #591
Done

[2016-04-21 06:58] #591 closed

[2016-04-21 07:13] ssivachidambaram commented on #396
Fixed.

[2016-04-21 07:13] #396 closed

[2016-04-22 03:05] rnjailamba opened #597 "When is restyaboard getting released in nodejs/ expressjs"
http://imgur.com/fLHYSlG
![](http://imgur.com/fLHYSlG.jpg)

[2016-04-22 03:07] rnjailamba commented on #597
Can i get access to this version if it is in progress

[2016-04-22 03:33] rnjailamba opened #598 "Is there any restyaboard fork which has been ported to nodejs version 5?"

[2016-04-22 07:05] rrjanbiah commented on #597
@rnjailamba We have only very early prototype version and that won't be usable for current version. Due to resource prioritization, we have reorganized ourselves and decided to focus PHP first till we ship all planned items. And so, we planned to revisit Node support little later.

As we have Swagger compliant API docs, in future we may use Swagger Codegen. If you want, you may start with editor.s

[2016-04-22 07:07] rrjanbiah commented on #598
@rnjailamba Earlier someone had LoopBack fork (#86) But it looks like he's pulled it down

[2016-04-22 11:31] lmarikannan opened #599 "Separate card view in user card page"

[2016-04-22 11:41] jawahar336 opened #601 "Implement chat history"

[2016-04-22 12:04] ssivachidambaram commented on #450
Done in install script.

[2016-04-22 12:06] ssivachidambaram commented on #599
Done

[2016-04-22 12:06] #599 closed

[2016-04-22 12:08] ssivachidambaram commented on #587
Done.

[2016-04-22 12:08] #587 closed

[2016-04-23 08:08] eitzenbe commented on #548
would lvoe to have this as running mysql AND postgresql on my server is a little bit bloated ;)

[2016-04-24 11:23] KerimG opened #602 "(UI/UX) Search text-input bar should be visible by default"
I don't understand why the search button at the bottom edge needs to be clicked to open up the text-input bar.

[2016-04-24 11:24] KerimG commented on #548
+1 , would also like MySQL support.

[2016-04-24 11:30] KerimG opened #603 "(UI/UX) image viewer for attachements"
Downloading the images before being able to open them is a bit of a nuisance.

[2016-04-24 11:34] KerimG opened #604 "(UI/UX) A button in the organization view to create organization boards would be great"
I searched for quite a while until I figured out how to create an organization board, and I think if you look at the following [image](http://i.imgur.com/XW3ZpB8.png) showing the organizations list of the demo, you can see that other people are struggling with the same issue.

[2016-04-24 11:46] KerimG opened #605 "Animations are so incredibly and painfully slow..."
I know I can rebuild the whole project without all those animations but being able to turn them off via System Settings would be lovely.

[2016-04-24 11:50] KerimG opened #606 "RestyaBoard button on bottom left should open "My Boards" view"
I don't think anybody really cares enough about whatever tech has been used to create RestyaBoard for it to warrant a permanent button at such an important position. Instead why not place a button there that takes the user directly to their "My Boards" view?

[2016-04-24 16:40] rrjanbiah commented on #602
@KerimG Idea is to avoid page clutter. If you have any suggestions, please feel free to share.

[2016-04-24 16:42] rrjanbiah commented on #606
@KerimG In that case where do you think that "About" link will be appropriate?

[2016-04-24 16:44] rrjanbiah commented on #605
@KerimG We will definitely consider that option. If possible, can you please be specific about the animation that is bothering you the most?

[2016-04-24 16:47] rrjanbiah commented on #603
@KerimG Thanks for your report. We will fix it ASAP

[2016-04-24 18:20] KerimG commented on #603
Oh? I didn't know it was already  built-in. Awesome!

[2016-04-24 18:21] KerimG commented on #602
The bottom bar is there anyway, I don't think the text-input area (for the search) should need to be clicked visible via the magnifying glass button before searching. In the mobile version it's visible by default, that's perfect.

[2016-04-25 05:23] lmarikannan commented on #580
We cannot able to reproduce this.

[2016-04-25 11:10] ssivachidambaram commented on #601
Done

[2016-04-25 11:10] #601 closed

[2016-04-26 03:59] #598 closed

[2016-04-26 04:00] #597 closed

[2016-04-26 15:16] rrjanbiah commented on #450
`php.ini` will work only for Windows. Refer above links

[2016-04-26 15:18] rrjanbiah opened #608 "Session timeout"
From Matthias Dietel in forum https://groups.google.com/forum/#!topic/restya/vlAYhEIKbW0 :

Is there an session timeout? Sometimes I get logged out after an indefinite time of inactivity.

[2016-04-27 07:13] Zimeon- opened #611 "Card history dissapairs when moved from one list to another"
We've noticed a bug that removes any previous comments and actions from a card when it's moved from one list to another. When the card is moved back to it's original list, the comments and actions return to the card history.

[2016-04-27 07:25] rrjanbiah commented on #611
@Zimeon- Welcome back!

I think, it is fixed already. Anyway, will check and fix them ASAP. Thanks for your report.

[2016-04-27 07:31] ssivachidambaram commented on #611
Please refer #522. Can you please update the below changes in `r.php`?

1. https://github.com/RestyaPlatform/board/commit/3d46b0e49aef6ddfd47bc65662ee7750d6051abe
2. https://github.com/RestyaPlatform/board/commit/c421b33e214b12c03857674a8366355477bb8c93
3. https://github.com/RestyaPlatform/board/pull/527/files

[2016-04-27 09:35] Zimeon- commented on #611
Hello,

sorry for not checking previously closed tickets, yes, this fixed the issue :) Glad to have an early fix ;)

[2016-04-27 13:31] chrisurban opened #612 "Unable to save new card on new board"
Adding a card with Instant Add Card does not allow Save; instead the search window at top left opens, with either the project, or List as a search term.

Chrome 49

[2016-04-27 14:28] ssivachidambaram commented on #133
Done.

[2016-04-27 14:28] #133 closed

[2016-04-27 14:30] #611 closed

[2016-04-27 14:42] rrjanbiah commented on #612
@chrisurban I can't seem to reproduce it in our demo. Are you able to reproduce it in your demo?

Also, can you please mention your version? Also, can you check it in incognito window?

[2016-04-27 18:39] chrisurban commented on #612
Quit and restarted Chrome, and after logging back in was no longer able to reproduce.

[2016-04-27 18:39] #612 closed

[2016-04-28 07:54] tusharvanzara opened #616 "unable to install restya properly on centos 7 with script"
Unable to access link with 80 port, it might be some installation issue, i am attaching logs..kindly go through it and pls let me know. also tell me what could be changes in .sh file

and i think postgresql was not installed correctly
[restyaboard_install.txt](https://github.com/RestyaPlatform/board/files/240059/restyaboard_install.txt)

[2016-04-28 07:59] rrjanbiah commented on #616
@tusharvanzara Can you please edit your description with your note and "attach" the install log as an attachment?

Quick look at above suggests that you may be using a system without internet connection to install Restyaboard as connection to restya.com seems to have failed.

[2016-04-28 08:02] rrjanbiah opened #617 "Problem with indexing_to_elasticsearch.php"
From Huang Yangchao in forum https://groups.google.com/forum/#!topic/restya/M7Mxaqib818

I followed the install guide:

- Setup cron for every 5 minutes to update ElasticSearch indexing `*/5 * * * * /path/to/server/php/shell/indexing_to_elasticsearch.sh`
- Setup cron for every 5 minutes to send HTTP POST payload to the webhook's configured URL `*/5 * * * * /path/to/server/php/shell/webhook.sh`

wh

[2016-04-28 08:05] tusharvanzara commented on #616
I Did It.

--
Thanks & Regards,
Tushar Vanzara

On 04/28/2016 01:29 PM, R. Rajesh Jeba Anbiah wrote:

This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. Please note that any views or opinions presented in this email are solely

[2016-04-28 08:08] rrjanbiah commented on #616
@tusharvanzara

Possible guesses: you don't have internet connection for that machine or you have some firewall settings that is blocking access to restya.com. Can you please check if you can curl to other sites?

[2016-04-28 08:14] tusharvanzara commented on #616
My internet is connected and its up.we are having some proxy settings
but i don't think it might have occurred this issue.

--
Thanks & Regards,
Tushar Vanzara

On 04/28/2016 01:38 PM, R. Rajesh Jeba Anbiah wrote:

This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in

[2016-04-28 08:59] rrjanbiah commented on #616
@tusharvanzara

Are you having issues only with connecting to restya.com? Can you check connecting to other websites through curl?

[2016-04-28 09:34] tusharvanzara commented on #616
when i try to call that url with curl, i.e curl http://IP, then i get
the response

ok let it be, if you can tell me that where should i copy restyaboard
folder which contains client,media,server and all folder (My OS is
CentOS)....and where should i put restyaboard.conf file..in
/etc/nginx/conf.d ???

--
Thanks & Regards,
Tushar Vanzara

On 04/28/2016 02:30 PM, R. Rajesh Jeba Anbiah wrote:

This

[2016-04-28 09:50] rrjanbiah commented on #616
@tusharvanzara

Your restyaboard directory can be anything. You may better check the steps in the install script itself https://github.com/RestyaPlatform/board/blob/master/restyaboard.sh

[2016-04-28 10:14] tusharvanzara commented on #616
I did the same, but when i try to open link , then round and round,
round and round and then it gives up. :) it leave with blank page, can
see only favicon.

On 04/28/2016 03:20 PM, R. Rajesh Jeba Anbiah wrote:

--
Thanks & Regards,
Tushar Vanzara

This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. I

[2016-04-28 11:40] ssivachidambaram commented on #617
Here https://github.com/RestyaPlatform/board/blob/master/server/php/shell/indexing_to_elasticsearch.php#L24 you can find the two parameters value.

Can you please check whether you have configured settings in admin side like this http://board.demo.restya.com/#/settings/1?

[2016-04-28 19:28] happyfredo opened #619 "How to Empty database"
Hi,

We test several trello import and i wish to delete my test.
When i  try to delete board in administration, there is some old data still present (in search).

Do you have a script or a tips to erase all data ?

Best regards

Fred

[2016-04-29 06:32] rrjanbiah commented on #617
As he has deleted this message in forum, it may not be an issue anymore.

[2016-04-29 06:32] #617 closed

[2016-04-29 06:36] rrjanbiah opened #620 "Something wrong with LDAP authentification"
From Huang Yangchao in forum https://groups.google.com/forum/#!topic/restya/bgEwJREaCEg

When I set up LDAP  authentification, The users' account could be imported,
But when I use LDAP user to login, It through out
"Email not associated for this LDAP account."

Is there anything others that I should set up either.

[2016-04-29 06:57] rrjanbiah commented on #616
@tusharvanzara Sorry missed your reply here.

Can you check developer console and find HTTP requests?

Common issues:

1. 502 status usually means that php-fpm has not started
2. 404 or 401 status usually means that database credentials are wrong. You may check further errors by enabling debug mode in https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15 and by checking

[2016-04-29 07:45] recordnotfound opened #622 "Changing public DNS URL"
How can i change the Public DNS URL or IP in Restya Board. Asked by @geje2005 on https://recordnotfound.com/board-RestyaPlatform-10262

[2016-04-29 07:54] rrjanbiah commented on #622
@geje2005 Closing as this looks like a spam from @recordnotfound

@geje2005 If you have any valid questions, please post them in forum and or here. Thanks

[2016-04-29 07:54] #622 closed

[2016-04-29 07:57] recordnotfound commented on #622
Its ok to close, but this is not spam. Its a valid question by a user of your project. If you have an answer, please post that. If not, then I guess @geje2005 has to post the question on this forum: https://groups.google.com/forum/#!forum/restya

Please correct me if I am wrong.

[2016-04-29 08:34] #616 closed

[2016-04-29 08:37] tusharvanzara commented on #616
pls find below php-fpm's www-error logs, by enabling through debugging mode its shows 500 internal server error.

[29-Apr-2016 17:18:46 Europe/Berlin] PHP Warning:  pg_query_params(): Query failed: ERROR:  permission denied for relation settings in /usr/share/nginx/html/server/php/config.inc.php on line 48
[29-Apr-2016 17:18:46 Europe/Berlin] PHP Warning:  pg_fetch_assoc() expects parameter 1 to b

[2016-04-29 12:37] raven-oscar commented on #620
Had the same problem few days ago.
I assume using userPrincipalName as Account Filter fixed it. Anyway please show your auth config.

[2016-04-29 18:05] HatBeardZero commented on #620
Mine was working, and just stopped after getting inexplicably logged out.

[2016-04-30 07:56] ssivachidambaram commented on #619
[delete_elasticsearch_index.txt](https://github.com/RestyaPlatform/board/files/243496/delete_elasticsearch_index.txt)

We have written a ElasticSearch index delete in the attached file. Rename the extension of the file to php and upload in this path `server/php` and run like this `http://yourdomain.com/server/php/delete_elasticsearch_index.php`. After cron run the fresh data will re-index in Elast

[2016-04-30 07:59] happyfredo commented on #619
Excellent !

Thank you

[2016-04-30 08:02] ssivachidambaram commented on #619
You are always welcome.

[2016-04-30 08:02] #619 closed

[2016-04-30 08:04] ssivachidambaram commented on #603
Fixed to show in browser itself as separate tab instead of download.

[2016-04-30 08:04] ssivachidambaram commented on #248
Done.

[2016-04-30 08:04] #248 closed

[2016-04-30 08:05] ssivachidambaram commented on #291
Done as a separate app.

[2016-04-30 08:05] #291 closed

[2016-05-04 10:04] githubkoma opened #628 "Blank Screen after using " I. Install script (Linux)""
Hi there,

i tried using the install-script provided at http://restya.com/board/install on a fresh Debian 8 and CentOS 7. The script itself went through fine i think, but when trying to open http://192.168.5.20/restyaboard/client/ i got the Website title "Restyaboard powered kanban board", but the page itself stayed White.

Do you have any suggestion here?

[restyaboard_install.txt](https://github

[2016-05-04 10:10] keky commented on #620
I've solved the Problem by fixed Account Filter from "(&(objectClass=person)(objectClass=user))" to "sAMAccountName".

But there seems to be no relationship with Email. Can anybody fix the warning tips.  thx for ur work.!

[2016-05-04 10:19] keky opened #629 "Can not see the comments of the card when it was moved to another list."
Before：
![before](https://cloud.githubusercontent.com/assets/548338/15011454/74b93a9c-1224-11e6-907e-6ec1432b4513.png)

after:
![after01](https://cloud.githubusercontent.com/assets/548338/15011550/074deb3c-1225-11e6-9640-e40c23a819b6.png)

But if I moved it back to the previous list, The comments shown up again.
Is there any bugs here?

[2016-05-04 11:27] rrjanbiah commented on #620
@raven-oscar @HatBeardZero @keky Sorry about the issues you're facing. Our team will look into it by tomorrow as we're working in other high priority items.

Probably, you didn't have users' email in LDAP?

[2016-05-04 11:29] rrjanbiah commented on #629
@keky Probably a duplicate of #611 ?

[2016-05-04 11:31] rrjanbiah commented on #628
@githubkoma

Can you check developer console and find HTTP requests?

**Common issues:**

- 502 status usually means that php-fpm has not started
- 404 or 401 status usually means that database credentials are wrong. You may check further errors by enabling debug mode in https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15 and by checking HTTP response headers.

[2016-05-04 11:56] keky commented on #629
It works for me,Thx for your help @rrjanbiah

[2016-05-04 11:59] keky commented on #620
@rrjanbiah   The emails already been here.

[2016-05-04 14:13] githubkoma commented on #628
Okay its working now, found some hints in the "restyaboard_install.log" that stated that imagemagick didnt install correctly. To get it installed GCC had to be used, which was not installed, and not caught by the install-script.

[code]
But it didnt work out in the Long run, some more Errors occured..
[code]

So i had to install some packages manually (see below), and afterwards restya showed up n

[2016-05-04 14:42] rrjanbiah commented on #628
@githubkoma Thanks a lot for your input. This is very helpful for us to fix it for all installs.

[2016-05-04 14:42] rrjanbiah commented on #629
@keky Thanks for confirming.

[2016-05-04 14:42] #629 closed

[2016-05-05 14:29] HatBeardZero commented on #608
I've been poking at PHP session timeout from an OS standpoint.  I know I run mine on Ubuntu.  I'm not wholly familiar with PHP but I wonder if this could be a thing?

[Session Timeout](https://solutionfactor.net/blog/2014/02/08/session-files-unexpectedly-deleted/)

[2016-05-05 15:49] Gloompirate opened #630 "Errors with install script on Ubuntu 14.04 LTS server"
Hi, I am attempting to install restya on to an Ubuntu server running 14.04 LTS, but using the provided easy install script I am encountering a few errors, and after the script finishes, when I browse to the server I just see the configure nginx default page. Below are the errors that I am receiving:

[code]

The second error is relating to apache:

[code]

The next error relates to php5-imap:

[co

[2016-05-05 18:32] d0dman opened #631 "LDAP Authentication Error"
I have 2 AD accounts, justin and justin_admin.

When logging in using either I see the same profile, they both appear to be logging me into the "justin" account. I check the profile and I see Justin Robinson (justin) no matter which of the two accounts as I login with.

[2016-05-05 18:35] HatBeardZero commented on #620
@rrjanbiah also confirming here the emails have been.  I get the error once it seems, then it lets me log in.

[2016-05-05 19:07] d0dman opened #632 "Trello Import - Issues"
Version 0.2.1

**Large Board Import**
When importing large Trello boards the progress bar just stops and no message/error is shown.  Is there a size limit on the import utility?

**Imported Content**
Checklists are not being imported.
Activities about checklists are not being imported.
Activities done by users that are no longer members of the board are not being imported.

[2016-05-05 19:30] d0dman commented on #606
While an About link is important, I have to agree with KerimG about the need for a "My Boards" button.  When inside a board there is no direct route back to "My Boards" except "Boards -> Boards" (which ocassionally does nothing - haven't been able to determine what steps lead to it not working).  Going back to "My Boards" is something that should be accomplished with a single click and be self evi

[2016-05-05 21:12] lilbro1062000 opened #633 "getting scope error"
Getting a scope error on nginx cant login, I get the following below meaning i am authenticated but cant access anypage due to scope errors.  Fresh install version 0.2.1

no php errors i can see.

The scope sent is
`scope:"read read" token_type:"Bearer"`

[2016-05-06 02:54] keky opened #634 "Something Wrong with the Attachments"
Shown up many times:
![attatchment](https://cloud.githubusercontent.com/assets/548338/15062861/42b73c98-1377-11e6-9c68-39df3c6a1bc6.png)
The other cards of the same list:
![att01](https://cloud.githubusercontent.com/assets/548338/15062976/9c2c1158-1378-11e6-8b96-74ef9b952d3d.png)

When I uploaded the picture from snapshot,It shown up many times in the card.
And are also shown up in the other cards

[2016-05-06 02:59] keky commented on #603
@ssivachidambaram Could u show me how to fix it, I am looking forward to the feature.

[2016-05-06 04:58] rrjanbiah commented on #608
@HatBeardZero Yes, we think it may be a browser thing as I'm getting in XP Chrome.

[2016-05-06 05:02] rrjanbiah commented on #630
@Gloompirate Can you please attach install log?

Our default setup is based on nginx (not Apache). So, it is not clear, why you're getting Apache error. Probably you may have configured few other software already?

Also, for restya.com error, can you check if you've proper DNS configured?

[2016-05-06 05:12] rrjanbiah commented on #620
@HatBeardZero Thanks for your note. Much appreciated.

[2016-05-06 05:25] rrjanbiah commented on #606
@d0dman Thanks a lot for your suggestion. Currently, we're also showing online/offline/sync status in the logo and so thought it would be ideal to lead it to "About" page. Anyway will definitely consider your feedback. Thanks

[2016-05-06 07:06] zukizukki17 opened #635 "i can get nothing"
hi
i can't see anything on the web browser(chrome)
i have no idea why it doesn't work

i use centOS 6.5

i got two errors from chrome's developer tool
i write them below

[1st error]
http://admin:restya@133.162.219.107/restyaboard/client/js/default.cache.a331c8c3.js:4 GET
http://admin:restya@133.162.219.107/api/v1/oauth.json?_=1462517448694 404 (Not Found)
send @ http://admin:restya@133.162.219.10

[2016-05-06 11:50] Gloompirate commented on #630
I have attached the installation log. This installation was done on a freshly installed ubuntu server 14.04, no other software had been installed.

[restyaboard_install.log.txt](https://github.com/RestyaPlatform/board/files/252093/restyaboard_install.log.txt)

[2016-05-06 15:28] lilbro1062000 commented on #633
fixed the issue turns out the oauth_scopes table had two defaults which were the read scope.

[2016-05-06 18:56] juancarbone commented on #635
exist an mail address to access via web? Thanks

[2016-05-07 09:48] zukizukki17 commented on #635
you mean URL??
i narrow the sorce IPaddress with firewall

[2016-05-07 19:45] juancarbone commented on #635
Thank you! Sorry for my english. when i put the ip adress of my server, load the icon of rastyaboard in the tab, but the screen contining in blank. i think a problen in the conection to the db or php configuration, but i dont know.

[2016-05-09 06:45] ssivachidambaram commented on #633
While we check the default empty SQL in GitHub its having read and write scopes only. Please refer https://github.com/RestyaPlatform/board/blob/master/sql/restyaboard_with_empty_data.sql#L4919.

We are closing this issue as its fixed by @lilbro1062000.

[2016-05-09 06:45] #633 closed

[2016-05-09 06:52] ssivachidambaram commented on #632
There is no size limit for the file. But we have set execution time for PHP as 30 minutes. Please refer https://github.com/RestyaPlatform/board/blob/master/server/php/libs/core.php#L988.  You can change it like this `set_time_limit(0);` for no time limit.

[2016-05-09 07:08] ssivachidambaram commented on #635
@zukizukki17 While checking the error log, it looks like you are accessing the site like this `http://admin:restya@133.162.219.107/restyaboard/client`. Can you please change the root values in `restyaboard.conf` file?

https://github.com/RestyaPlatform/board/blob/master/restyaboard.conf#L5
`root /usr/share/nginx/html/restyaboard;`

https://github.com/RestyaPlatform/board/blob/master/restyaboard.co

[2016-05-09 07:14] ssivachidambaram commented on #631
@d0dman Sorry for the trouble. In Restyaboard, we will check whether the LDAP account is already registered or not using their email address associated with LDAP. So we think same email address was given for both accounts. Can you please confirm?

[2016-05-09 07:16] ssivachidambaram commented on #634
@keky We are trying to replicate this issue. If possible can you please send steps to reproduce this issue?

[2016-05-09 08:52] mistajolly commented on #79
Since this is an Admin panel, it would be good to have more verbose messages and also be able to test the LDAP login from this page.

[2016-05-09 13:13] keky commented on #634
Yes, After tested,I found that If two cards are opened at the same time,When u upload snapshot by CTRL-V  whenever one, All the cards would have the same upload picture.Sometimes it even shown up many time in a card
1\as shown blow,There are three card 1\12\123
![000](https://cloud.githubusercontent.com/assets/548338/15113972/197ddac0-162a-11e6-9167-acec3dc2b8f7.png)

2\When I open card [123]  and

[2016-05-09 13:15] rrjanbiah commented on #634
@keky Thanks for explaining the steps to reproduce the issue.

So, reopening it.

[2016-05-09 13:24] keky commented on #634
@rrjanbiah  Sorry,Just miss touched the closed button.

[2016-05-09 13:28] rrjanbiah commented on #634
@keky No, problem. Thanks

[2016-05-09 14:50] d0dman commented on #631
**@ssivachidambaram** The justin_admin account does not have an email address associated with it.  Thanks

[2016-05-09 15:08] d0dman commented on #632
**@ssivachidambaram** the import is running for less then a minute before the progress bar stops.

[2016-05-09 15:25] rrjanbiah commented on #548
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=32288257)](https://www.bountysource.com/issues/32288257-mysql-support?utm_source=32288257&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2016-05-09 15:46] d0dman commented on #632
**@ssivachidambaram** I started an import and waited 30 minutes, there were no errors or notifications displayed.

[2016-05-10 01:01] oursonvie commented on #630
oddly enough, i got the same error with ubuntu 14.04, i thought it was my VM came with apache, turns out the script installed the apache somehow and nginx

[2016-05-10 01:12] zukizukki17 commented on #635
@juancarbone
thank you for your advice.
i'm going to check configuartion of php and db.

@ssivachidambaram
i checked  restyaboard.conf  and it have already correct.
i accessed  http://admin:restya@133.162.219.107/ .
i found below

<img width="915" alt="screenshot_20160510" src="https://cloud.githubusercontent.com/assets/9434168/15132588/4d37f546-1696-11e6-8bf6-2e4093ce3c1b.png">

[2016-05-10 08:01] ssivachidambaram commented on #635
@zukizukki17 Can you please attach your `restyaboard.conf` and nginx `error.log` to understand more about the issue?

[2016-05-10 08:05] ssivachidambaram commented on #632
@d0dman  Actually we are downloading each card attachments from Trello and save it in local. So if a board contains lot of attachments then it will take time to import. So can you please change the `set_time_limit(0);` in this line https://github.com/RestyaPlatform/board/blob/master/server/php/libs/core.php#L988 and try?

[2016-05-10 11:11] zukizukki17 commented on #635
@ssivachidambaram
this is restyaboard.conf
[restyaboard.conf.txt](https://github.com/RestyaPlatform/board/files/257018/restyaboard.conf.txt)

[2016-05-10 11:12] zukizukki17 commented on #635
@ssivachidambaram
this is nginx error.log
[error.log.txt](https://github.com/RestyaPlatform/board/files/257024/error.log.txt)

[2016-05-10 13:13] ssivachidambaram commented on #635
In your configuration file, server_name was not replaced. It displays as `server_name _;`. Can you please provide your domain name (e.g., www.example.com, 192.xxx.xxx.xxx, etc.,)? Also can you please attach your install log?

[2016-05-10 13:14] ssivachidambaram commented on #630
@Gloompirate @oursonvie

Can you please attach your `restyaboard.conf` and nginx `error.log` to understand more about the issue?

[2016-05-10 19:46] klaas3 commented on #630
for what it's worth... I have exactly the same issue(s). I use a clean DigitalOcean VPS Ubuntu 14.04 lts x64 image.

[2016-05-11 01:55] zukizukki17 commented on #635
@ssivachidambaram
thanks for your advice. i confirm domain name.

and this is restyaboard_install.log
[restyaboard_install.log.txt](https://github.com/RestyaPlatform/board/files/258443/restyaboard_install.log.txt)

[2016-05-11 11:05] Pablissimo commented on #580
Appreciate this is closed but it's a real issue - I'm also seeing this behaviour:

- Browser: Chrome 50.0.2661.94 m (doesn't reproduce in IE11, unsure about others)
- Add a card to any board
- Click to open the card
- Triple-click the '[Name] added [Card name] to list "[List name]" text to select-all (this seems the most reliable way to make it happen)
- Hit Ctrl-C
- Card archives, instead of copy

[2016-05-11 12:47] rrjanbiah commented on #580
@Pablissimo Many thanks for your note and screencast. Reopening it now.

[2016-05-11 12:51] rrjanbiah commented on #630
@klaas3 Thanks for your note. We'll also check that

[2016-05-11 12:52] rrjanbiah commented on #583
@ssivachidambaram For your attention...

[2016-05-12 04:55] rrjanbiah opened #637 "Trello import is importing label color instead of label text"
From Rudiger Wolf through forum https://groups.google.com/d/msg/restya/qvMb8EDcD6E/5gFwrE7eBwAJ

created from Trello export. Note the Label with text "yellow"
And in Trello, the label, is yellow but its text is "Informational". It would be great if the import loaded the label with the Trello Text value rather than the name of the colour.

[2016-05-12 05:00] rrjanbiah commented on #632
Side note: If this is a common issue for many people, we have to refactor the code to introduce message queues.

[2016-05-12 08:24] ssivachidambaram commented on #603
Image preview will display in browser like like attached image.

![image-preview](https://cloud.githubusercontent.com/assets/91407/15208404/f82eb9cc-1848-11e6-964d-02d3a6916d40.png)

[2016-05-12 08:26] ssivachidambaram commented on #570
In upcoming release, it will work with PHP built in function http://php.net/manual/en/book.geoip.php.

[2016-05-12 08:26] #570 closed

[2016-05-12 08:27] #603 closed

[2016-05-12 08:28] ssivachidambaram commented on #576
Related to #433.

[2016-05-12 08:28] #576 closed

[2016-05-12 08:29] ssivachidambaram commented on #518
Currently we are closing this. If you have any feedback/issues, please feel free to reopen.

[2016-05-12 08:29] #518 closed

[2016-05-12 08:31] #530 closed

[2016-05-12 09:40] ssivachidambaram commented on #635
@zukizukki17 Can you please confirm whether its working for you after changed the server_name or still do you have problem?

Related to #630.

[2016-05-12 09:45] ssivachidambaram commented on #632
@d0dman Can you please confirm whether the Trello import is working or not after using `set_time_limit(0);`?

[2016-05-12 09:49] ssivachidambaram commented on #631
@d0dman Can you please confirm whether the LDAP is working or not after associate email address?

[2016-05-12 09:50] ssivachidambaram commented on #388
Done in `dev` branch. Custom fields can able through app architecture.

[2016-05-12 09:50] #388 closed

[2016-05-12 09:50] ssivachidambaram commented on #292
Done in `dev` branch.

[2016-05-12 09:50] #292 closed

[2016-05-12 10:32] ssivachidambaram commented on #637
Fixed.

[2016-05-12 10:32] #637 closed

[2016-05-12 13:57] ssivachidambaram commented on #634
Fixed.

[2016-05-12 13:57] #634 closed

[2016-05-12 14:16] ssivachidambaram commented on #580
@Pablissimo We have tried to reproduce this issue in browser: chrome 50.0.2661.102 m, OS: Windows 8.1 and we pressed Ctrl + C, but we cannot able to reproduce it. Can you please mention your OS?

[2016-05-12 14:20] ssivachidambaram commented on #630
@Gloompirate @oursonvie @klaas3 @zukizukki17 @juancarbone

We have installed in fresh Ubuntu 14.04 32 bit OS in VMware and the site is working fine for us. We are trying to reproduce this issue.

[2016-05-12 14:23] ssivachidambaram commented on #620
@HatBeardZero @raven-oscar @keky

We have tried this issue in fresh installation in VMware Ubuntu 14.04 32 bit OS. After proper configuration of LDAP, login is working fine for us.

[2016-05-12 14:23] Gloompirate commented on #630
@ssivachidambaram I was using Ubuntu 14.04 LTS 64bit server edition, it was running as a VM. Unfortunately I cannot help you with this any more as I have replaced the VM with one running Debian 8, and on that restyaboard is working correctly.

[2016-05-12 14:26] ssivachidambaram commented on #630
@Gloompirate Ok. We will try in Ubuntu 64 bit OS to reproduce this.

[2016-05-12 14:31] zukizukki17 commented on #635
@ssivachidambaram
I'm sorry to be late to answer.
I still have this problem.

I think "server_name" is IP address "133.162.219.107". Is it strange?
if it is strange, can you teach me how to change the "server_name".

[2016-05-12 14:46] ssivachidambaram commented on #635
@zukizukki17 Can you please change the `server_name _;` to `server_name 133.162.219.107;` in `restyaboard.conf` then restart nginx and try?

[2016-05-12 15:01] ssivachidambaram commented on #608
Fixed.

[2016-05-12 15:01] #608 closed

[2016-05-12 16:18] Pablissimo commented on #580
Windows 7 Enterprise 64-bit SP1.

It might actually be a side-effect of how I'm bashing Ctrl-C, I think it's probably a timing thing where the C key is being held down longer than the Ctrl.

This works fine:

* Select text
* Hold Ctrl
* Tap C
* Release Ctrl

This breaks:

* Select text
* Hold Ctrl
* Hold C
* Release Ctrl, then release C
* Card archives

That second flow sounds mad, but it's probab

[2016-05-12 17:19] rrjanbiah commented on #580
@Pablissimo Wow. Many thanks for your helpful note.

[2016-05-13 07:24] keky commented on #634
well done, thx!

[2016-05-13 07:28] rrjanbiah commented on #634
@keky It's a pleasure

[2016-05-14 04:57] ssivachidambaram commented on #635
@zukizukki17 Can you please move `/etc/nginx/sites-enabled/default` to `/etc/nginx/default` and try? Because if you are accessing through IP its taking the nginx default configuration.

[2016-05-14 07:55] ssivachidambaram commented on #590
Done.

[2016-05-14 07:55] #590 closed

[2016-05-15 08:08] zukizukki17 commented on #635
@ssivachidambaram
i changed server_name.
but there is not /etc/nginx/sites-enabled/default.

[2016-05-15 10:17] graebermedien opened #638 "nginx error fastCGI php-fpm.sock"
If u get:

<b>Warning</b>:  Invalid argument supplied for foreach() in <b>/var/www/vhosts/X/server/php/R/r.php</b> on line <b>4714</b><br />

-> it´s because you´ve no apps installed!
See:
http://restya.com/board/apps

1    Create a new directory inside client folder named apps.
2   Download apps from the above list and unzip it in client/apps folder.
3   Configure apps settings (if any) in admin

[2016-05-15 11:03] rrjanbiah commented on #638
@graebermedien Please standby. We need some time to understand this issue. Please also upload your install log to understand your setup

[2016-05-15 11:05] rrjanbiah commented on #635
@zukizukki17 In that case, can you please mention your directory structure?

[2016-05-15 11:28] graebermedien commented on #638
i installed manually, so log shouldn´t be needed?

[2016-05-15 11:51] graebermedien commented on #638
do i need to configure oauth in config.inc in any way?! ...dont know why this still wont work...whats expected by the foreach?!?

[2016-05-15 13:49] graebermedien commented on #638
Added "debug" param to my log, now im getting:
[code]

Can anyone provide some suggestions on why this wont work and what i could do?

[2016-05-16 15:01] ghstshdw commented on #509
im also running into the same problem

[2016-05-16 17:41] rrjanbiah commented on #509
@GitterHubber Looks like we missed your reply. So reopening it.

[2016-05-16 17:42] rrjanbiah commented on #509
@ghstshdw What exact issue are you facing? Can you attach some screenshots or so?

[2016-05-16 17:46] rrjanbiah commented on #620
@ssivachidambaram Can it happen due to connection timeout ?

[2016-05-17 05:29] GitterHubber commented on #509
I was facing 3 issues
1. Restya not connecting to local server from browser
2. Images not displaying
3. Timeline showing squished.
If i remember correctly I could solve 1 and 2 but  couldn't manage 3.

Solutions
1. set 'always_populate_raw_post_data' to '-1'. (see stanleyliu1006 [comment](https://github.com/RestyaPlatform/board/issues/224#issuecomment-184898987)
2. had to change restyaboard.conf l

[2016-05-17 06:11] rrjanbiah commented on #509
@GitterHubber Thanks for your helpful notes. We'll check and reply.

[2016-05-17 09:12] graebermedien opened #639 "401 Authenticaion failed on Activation"
Hi,

restyaboard is up and running, 1) added a new user, 2) got activation mail.
3) Opened the Link in this mail leads me to the following error in dev console:

401 Authentication failed on Request (token removed):

http://restya.my-domain.de/api/v1/users/5/activation.json?token=TOKEN-HERE

Any suggestions why this is happening? Whats wrong ? Do i need to configure someting special?!

[2016-05-17 09:13] graebermedien commented on #639
Another question: in my temp/cache folder there is a new file called "site_url_for_shell.php", content is this:

[code]

Do i need to change url?! value?!

[2016-05-17 09:29] graebermedien commented on #639
Here is my error-log:

[code]

Any suggestions what i could try/do?! Please help! Thanks!

[2016-05-17 09:50] ssivachidambaram commented on #639
Sorry for the trouble. Related to #487. You can update the r.php file with changes mentioned here https://github.com/RestyaPlatform/board/pull/489/files & https://github.com/RestyaPlatform/board/pull/524/files#diff-9812550cecc4e99d42faa21f771c0b8cR4661.

[2016-05-17 10:02] ssivachidambaram commented on #639
Can you please update the `config.inc.php` file with changes mentioned here https://github.com/RestyaPlatform/board/commit/ae0ce52ba617a2f53ccd070c7cfc5bce3d4894b1. Then delete the file `tmp/cache/site_url_for_shell.php` and run your URL in browser, then the file will create again.

[2016-05-17 10:06] ssivachidambaram commented on #509
@GitterHubber Can you please check this issue #433 and confirm that you are also mentioning the same issue?

[2016-05-17 10:21] ssivachidambaram commented on #620
@rrjanbiah If LDAP connect was not performed then we will throw this error "LDAP server connection failed".

[2016-05-17 10:29] graebermedien commented on #639
@ssivachidambaram THANK YOU! Now it works!

-> Maybe a new release should be made, including this changes and an update of the "manual install"-section on the restya website (including a hint to create the /app folder or including a default/empty app in the release package for manual install (see https://github.com/RestyaPlatform/board/issues/638 )

THANKS again!

[2016-05-17 10:33] graebermedien commented on #639
Nearly ... now there is another error on Login:

`<br />
<b>Notice</b>:  Undefined variable: scope in <b>/var/www/vhosts/my-domain.de/restya.my-domain.de/server/php/R/r.php</b> on line <b>4762</b><br />
<br />
<b>Warning</b>:  in_array() expects parameter 2 to be array, null given in <b>/var/www/vhosts/my-domain.de/restya.my-domain.de/server/php/R/r.php</b> on line <b>4762</b><br />`

[2016-05-17 10:37] ssivachidambaram commented on #639
@graebermedien In http://restya.com/board/apps apps page, we have mentioned how to install new apps in Restyaboard. Also we will add a check in `r.php` if no apps available as mentioned in #638.

Mentioned notice and warnings are fixed in our `dev` branch and it will be available in upcoming release. Can you please change debug mode to false in `config.inc.php` and run?

[2016-05-17 10:39] graebermedien commented on #639
@ssivachidambaram thanks again - i forgot to disable the debug mode...my fault :)

Thank you again for your nice and fast support!

[2016-05-17 10:43] ssivachidambaram commented on #639
@graebermedien It's a pleasure.

[2016-05-17 10:43] #639 closed

[2016-05-17 14:05] ghstshdw commented on #509
@rrjanbiah @ssivachidambaram i followed all the steps in issue #443 and executed them without errors but still the site couldn't be reached
![forgithub](https://cloud.githubusercontent.com/assets/8027947/15324969/4f5abe9c-1c51-11e6-9241-6f27863a22fd.PNG)

[2016-05-18 20:50] jtbrehmny opened #641 "Installed Restyaboard, was simple, but now I can't log in."
the install was great compared to the headache of trying to install Wekan.  It gave me a username and password during the install, which I thoguht I would use to log into the site once it completed but it didn't work.  Further, I tried registering a user but I didn't set up email functionality, so I can't get the activation email and thus can't log in...is there anyway to create a local admin user

[2016-05-19 05:50] praburaj06 opened #642 "Blank screen while login using LDAP Account"
We are facing a new problem with our office boards ,Whenever we login using standard account every thing is working fine but if we use LDAP accounts it just showing empty screen (refer the screen shot below),How to fix this???

![restyaboard_error_screen](https://cloud.githubusercontent.com/assets/6758233/15383817/91e109b6-1db3-11e6-81ad-129169b42bb4.png)

[2016-05-19 05:53] rrjanbiah commented on #642
@praburaj06 Can you post your HTTP responses? Also, post HTTP requests after enabling debug mode

[2016-05-19 05:53] praburaj06 opened #643 "Reply via email responses appears in description space instead of normal reply space"
whenever we reply to a card through the notification mail ,the reply content is no shown in the description (please refer the image below)  instead of its regular place..if you have any ideas please let me know
![email reply error screen](https://cloud.githubusercontent.com/assets/6758233/15383877/0d3eeb1e-1db4-11e6-9f37-d420e621b7fd.png)

[2016-05-19 05:57] rrjanbiah commented on #641
@jtbrehmny Thanks for your kind words.

Can you please attach your install log, that will help us to understand if everything properly installed.

Can you try `admin` username with `restya` as password?

[2016-05-19 05:58] rrjanbiah commented on #643
@praburaj06 Thanks for reporting this. We'll check and update.

[2016-05-19 06:14] GitterHubber commented on #509
On 5/17/2016 3:36 PM, S. Sivachidambaram wrote:

Have been busy lately will find some time over the weekend and check it out.

[2016-05-19 06:34] rrjanbiah commented on #635
@zukizukki17 Are you able to resolve it yet?

[2016-05-19 06:35] rrjanbiah commented on #509
@GitterHubber

No problem. Please take your time.

[2016-05-19 06:36] rrjanbiah commented on #509
@ghstshdw

It is most likely that your nginx has not started. Can you please double check that?

[2016-05-19 06:49] praburaj06 commented on #642
HTTP request & responses seems to be fine, and even after enabling debug mode through the config.inc.php it doesn't show any errors but blank screen only...

[2016-05-19 06:56] rrjanbiah commented on #642
@praburaj06 Can you try in incognito window then?

[2016-05-19 06:58] praburaj06 commented on #643
We have done a fresh installation of Restyabord in our cloud platform and there also the reply for email notifications are displayed in description only & if there is multiple reply's via email notifications the older reply's are overridden by the newer ones...therefore it effectivly shows only the latest reply via email content in the description space.

[2016-05-19 07:25] praburaj06 commented on #642
Tried but no difference ....

[2016-05-19 12:21] rrjanbiah commented on #642
@praburaj06 Can you paste HTTP responses?

[2016-05-19 12:25] rrjanbiah commented on #643
@praburaj06 Yes, this could be an issue. We'll check and fix.

[2016-05-19 13:56] praburaj06 commented on #642
yes...

[2016-05-19 14:49] nbalithya commented on #641
hi !

we have same issue.

and when i try with admin username with restya as password, i have this error message:

"Sorry, login failed. Either your username or password are incorrect or admin deactivated your account."

[2016-05-19 15:28] rrjanbiah commented on #641
@nbalithya You may find the logic of storing encrypted password in DB here https://github.com/RestyaPlatform/board/blob/master/server/php/libs/core.php#L99

Can you please share what error did you get?

[2016-05-19 15:33] nbalithya commented on #641
i don't have error but when i click on it and i check in DB, this status is always " f ".
so the user isn't activated and email not validated

[2016-05-19 15:47] rrjanbiah commented on #641
@nbalithya Can you please check HTTP response and post here?

[2016-05-19 18:16] jtbrehmny commented on #641
@rrjanbiah I'm not at the site where I installed it today, I will try to grab the install log remotely.  My errors were the same as nbalithya though.

@nbalithya thanks for posting, good to know I'm not the only one :smile:

[2016-05-20 07:43] janrod opened #644 "Install problem on R Pi with Raspbian wheezy"
Hi,

I am trying to install RestyaBoard with the recommended install script on a Raspberry Pi running Raspbian wheezy, I repeatedly get this error:
- service elasticsearch restart
  elasticsearch: unrecognized service
- set +x

after which the installer script quits. When I try to re-run it, it says:

pi@raspberrypi ~/Downloads $ sudo ./restyaboard.sh
./restyaboard.sh: 10: ./restyaboard.sh: [[: no

[2016-05-20 09:16] nbalithya commented on #641
i have this in access.log when i click on email validation link

XXX.XXX.XXX.XXX server 0.029 [20/May/2016:09:01:00 +0000] "GET /api/v1/oauth.json?_=1463734860223 HTTP/1.1" 200 388 "http://server/" "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36" "-"
XXX.XXX.XXX.XXX server 0.016 [20/May/2016:09:01:00 +0000] "GET /api/v1/settings.json?t

[2016-05-20 09:34] janrod commented on #644
I believe I was able to solve the elasticsearch issue (updating java to JDK7 plus reducing the memory size for RPi) however, the installer seems to quit (without any explicit reason):

+ cp /opt/restyaboard/restyaboard.conf /etc/nginx/conf.d
+ rm /tmp/restyaboard.zip
+ set +x
To configure nginx, enter your domain name (e.g., www.example.com, 192.xxx.xxx.xxx, etc.,):
127.0.0.1
./restyaboard.sh: 296

[2016-05-20 10:20] rrjanbiah commented on #644
@janrod Can you please attach the whole install log as an attachment?

[2016-05-20 10:22] rrjanbiah commented on #641
@nbalithya Thanks for the information. Are you able to reproduce it in incognito/private window too?

[2016-05-20 10:53] nbalithya commented on #641
XXX.XXX.XXX.XXX server 0.000 [20/May/2016:10:48:25 +0000] "GET / HTTP/1.1" 200 970 "-" "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/YYY.YYY.YYY.YYY Safari/537.36" "-"
XXX.XXX.XXX.XXX server 0.009 [20/May/2016:10:48:25 +0000] "GET /css/default.cache.a4664637.css HTTP/1.1" 200 45638 "http://server/" "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML,

[2016-05-20 10:54] Al74 opened #645 "Export list content on Restyaboard"
We have necessity to export list content to analize data. Is it possible?

Thanks.

[2016-05-20 10:55] rrjanbiah commented on #641
@ssivachidambaram Looks like an issue that we already fixed. Can you please confirm?

[2016-05-20 10:58] rrjanbiah commented on #645
@Al74 This feature is not available within the application. But, you may directly export from database.

[2016-05-20 10:58] rrjanbiah commented on #645
@Al74 Or through API.

[2016-05-20 12:56] ssivachidambaram commented on #641
@rrjanbiah Yes. It is related to #487.

@nbalithya @jtbrehmny Can you please update the r.php file with changes mentioned here https://github.com/RestyaPlatform/board/pull/489/files & https://github.com/RestyaPlatform/board/pull/524/files#diff-9812550cecc4e99d42faa21f771c0b8cR4661.

[2016-05-20 14:44] rrjanbiah commented on #643
@praburaj06 We're working on this issue and fill push fix soon.

[2016-05-20 15:00] kramer65 opened #647 "Error when clicking link in activation email"
I've just installed restyaboard on a fresh Debian server using the (indeed incredibly easy) install script. It all works quite good, except for when I register as a new user and click the activation link in the email I get a page with only the restyaboard header and in te console I get an error (see below).

Any idea what could be wrong here?

![activation_link_error](https://cloud.githubuserconte

[2016-05-20 17:27] rrjanbiah commented on #647
@kramer65 Probably duplicate of #487 Can you please check that?

[2016-05-23 02:18] janrod commented on #644
@rrjanbiah sure, here it is!

[2016-05-23 02:45] janrod commented on #644
@rrjanbiah Sure, here it is! Thank you for your help...

[2016-05-23 06:43] kramer65 commented on #647
@rrjanbiah - Thanks that was it indeed. When will the version including this fix be released so that it is automatically installed with the Linux installation script?

[2016-05-23 07:01] #605 closed

[2016-05-23 11:20] lmarikannan commented on #630
We cannot able to reproduce this.

[2016-05-23 11:29] lmarikannan commented on #630
@Gloompirate We tried in Ubuntu 64 bit OS, But we can not able to reproduce this. Can you please move /etc/nginx/sites-enabled/default to /etc/nginx/default and try? Because if you are accessing through IP its taking the nginx default configuration.

[2016-05-23 13:11] rrjanbiah commented on #647
@kramer65 Glad to know that.

Unfortunately, we're much behind the deadlines, as few other things are dragging us. Hopefully this week will be the right time for us.

[2016-05-23 13:11] #647 closed

[2016-05-23 14:02] praburaj06 commented on #643
First of all i would like to thank you for your quick support & your hard-work but after updating this imap.php file the comments are not at all appearing in my board,do i have to do any changes elsewhere ??

[2016-05-23 14:24] rrjanbiah commented on #643
@praburaj06 Thanks for your note. We'll check before we close this issue.

[2016-05-24 05:30] lmarikannan commented on #628
@githubkoma We tried in Ubuntu and CentOS, both checked in 32 and 64 bit version also. But we can not able to reproduce this. And we added php-pear installation code in CentOS script.

[2016-05-24 05:30] #628 closed

[2016-05-24 05:56] lmarikannan commented on #644
@janrod We checked your install log, and we find out an issue during connect with postgres SQL.

+ psql -U postgres -c \q
psql: FATAL:  Peer authentication failed for user "postgres"
+ sleep 1
+ echo Creating PostgreSQL user and database...
Creating PostgreSQL user and database...
+ psql -U postgres -c CREATE USER restya WITH ENCRYPTED PASSWORD 'hjVl2!rGd'
psql: FATAL:  Peer authentication failed

[2016-05-25 06:40] keky commented on #603
In which version of restya can I use this feature? thx！

[2016-05-25 16:20] jtbrehmny commented on #641
I am working on this again today, I cannot find the r.php file, the paths
listed on the sites you linked to don't seem to exist on my restyaboard
install.  Any ideas?

Thanks,
John

Thanks,
John Brehm
Computer Support Specialist
HPM Tech Services, a division of ActionXL
P:607-319-4776
E:jbrehm@hpmtechservices.com <jbrehm@hpmtechservices.com>

On Fri, May 20, 2016 at 8:57 AM, S. Sivachidambaram <
n

[2016-05-25 18:31] rrjanbiah commented on #641
@jtbrehmny Probably you didn't have root when you installed? Can you please share install log?

[2016-05-26 05:42] lmarikannan commented on #635
@zukizukki17 We are waiting for your reply

[2016-05-26 05:42] lmarikannan commented on #632
@d0dman We are waiting for your reply

[2016-05-26 05:43] lmarikannan commented on #631
@d0dman We are waiting for your reply

[2016-05-26 05:56] lmarikannan commented on #509
@ghstshdw We are waiting for your reply

[2016-05-26 06:26] lmarikannan commented on #642
@praburaj06 Can you please paste HTTP responses?

[2016-05-26 09:34] ghstshdw commented on #509
my nginx has started i double checked severally

[2016-05-26 09:34] ghstshdw commented on #509
@rrjanbiah my bad i took long to reply

[2016-05-26 09:49] rrjanbiah commented on #509
@ghstshdw No problem. But, unfortunately, we're out of idea, why you're not getting output when nginx is up. Probably, your nginx is on a different port?

FWIW, you may also try http://stackoverflow.com/questions/21524373/nginx-connect-failed-111-connection-refused-while-connecting-to-upstream and share your feedback. But, it may not be the case.

[2016-05-26 21:44] Wintaru opened #654 "Problem installing on Trusty Tahr"
Attached log. Seems to run successfully but there is no nginx conf file in /etc/nginx/sites-enabled and no files/folders in the directory I specified (although it does create the directory).

Ah I figured it out:

++ cp /opt/restyaboard/restyaboard.conf /etc/nginx/conf.d
cp: cannot stat ‘/opt/restyaboard/restyaboard.conf’: No such file or directory

/opt was not on my machine, making that folder f

[2016-05-26 23:24] #654 closed

[2016-05-26 23:38] Wintaru commented on #641
This is happening to me as well. It took me several tries to get it installed so my log is longer than usual.
[restyaboard_install_worked.txt](https://github.com/RestyaPlatform/board/files/285526/restyaboard_install_worked.txt)

[2016-05-27 07:57] instantwork commented on #548
+1 , would also like MySQL support

[2016-05-27 10:54] janrod commented on #644
@lmarikannan will do and will report results, thank you.

[2016-05-27 12:45] ssivachidambaram commented on #641
@Wintaru `r.php` file will available in this path, `/var/www/abandonedbits.com/restyaboard/server/php/R/` (taken from the log) and do the below changes,

https://github.com/RestyaPlatform/board/pull/489/files & https://github.com/RestyaPlatform/board/pull/524/files#diff-9812550cecc4e99d42faa21f771c0b8cR4661.

[2016-05-27 15:48] donat1 opened #655 "Debian wheezy Installation problem"
We have discovered restya and it seems exactly that, what we are searching. Great work!

By installing with the automatic script we had following issues:
1. exim mail server was uninstalled. I could manage it to work it again. -> is okay for now.
2. The database table I had to install it separately, since there was an issue with the user ident. -> is okay for now.
3. We use apache as server and ng

[2016-05-27 17:29] dfragac opened #656 "¿When the week begins?"
Hi!

I'm writing this issue to make a "feature suggestion":

In calendar wiew, first day of the week is Sunday but here (I'm writing from Spain), first day of the week is Monday.

¿How you see the possibility to implement some "first day of the week" in configuration for this view?

Thanks in advance for everything!

[2016-05-28 05:59] lmarikannan commented on #655
@donat1 Can you please enable debug mode in https://github.com/RestyaPlatform/board/blob/master/server/php/R/config.inc.php#L15 and post HTTP response header and response (In Firebug or Chrome's Developer tool)

[2016-05-28 06:31] lmarikannan commented on #656
@dfragac Currently, this option is not available in admin settings. But we can change the firstday of the week in calendar view, by insert a code `firstDay: 1,` after this line https://github.com/RestyaPlatform/board/blob/master/client/js/views/board_header_view.js#L924.

[2016-05-28 19:00] donat1 commented on #655
We have following Warning in apache_error_log:

[code]
And in the console of firebug I have following error:
[code]
I'm not sure what you mean with response header of firebug. Is it the header section of the html?

[2016-05-29 10:00] nicolas-r opened #658 "LDAP filter"
Hi

I'm trying the LDAP functionality of Restyaboard and I have some issues :
- I get an error of sizelimit exceeded because with my setup, more than 1000 results are returned and you don't deal with that.
- I can't specify advanced filter to limit the number of results. I have tried to put one in the account filter field but I get an error in the log about bad filter. I have read the code and see

[2016-05-30 05:46] lmarikannan commented on #655
We checked your apache_error_log, it seems your database user permission is denied. Can you please grant permission to your database user.

ex:
If your database user is `restya`,
[code]

[2016-05-30 07:22] donat1 commented on #655
Thans for your suggestion. I made this, but it didn't change the error.

When I execute `SELECT * FROM role_links_listing` in the phpPgAdmin I get the same error. So it seem's, that is not a problem of the privilege but a problem, that the view is missing.
Error message:
[code]
Shouldn't role_links_listing be a table resp. a view in postgresql?

When I install with the pgsql command, I have some e

[2016-05-30 07:57] rrjanbiah commented on #642
@praburaj06 Closing due to inactivity. Please feel free to reopen when you have more information

[2016-05-30 07:57] #642 closed

[2016-05-30 08:04] rrjanbiah commented on #603
@keky This will be available in upcoming version. Code already pushed in `dev` branch.

[2016-05-30 09:34] lmarikannan commented on #655
Can you please drop the database, and create newly. Then execute the `restyaboard_with_empty_data.sql` file manually?

[2016-05-30 09:44] donat1 commented on #655
I made this and the errors in the console in the previous post are from this command. So there seems to be a bug within this database dump?

[2016-05-30 10:11] lmarikannan commented on #655
Here, we checked again more than once with dump. There is no bug in  database dump.  So please execute the missing `views` manually, and check again

[2016-05-30 10:52] donat1 commented on #655
Okay, I made it manually again. Here is the log file of the putty-shell attached with the messages of the sql. Maybe there will be a hint to solve my problem.

[putty.txt](https://github.com/RestyaPlatform/board/files/289400/putty.txt)

[2016-05-30 11:01] rrjanbiah commented on #655
@lmarikannan Looks like PostgreSQL version issue.

[2016-05-30 11:13] rrjanbiah commented on #658
@lmarikannan I get an error of sizelimit exceeded because with my setup, more than 1000 results are returned and you don't deal with that.

[2016-05-30 11:16] jujes commented on #81
Hi, someone know how get let's encrypt ssl https feature?
**deploy script**

[code]

**output**

[code]

[2016-05-30 11:17] rrjanbiah commented on #658
@nicolas-r

If you can share that code and or contribute to this open source, it will be easy to make progress.

We're definitely committed to improved Restyaboard with any necessary additions. But, we need clear list of requirements here

We may less likely to remove mandatory option for email, as it is essential for email notifications.

[2016-05-30 11:18] lmarikannan commented on #655
@rrjanbiah Yes, row_to_json() function was introduced in 9.2.

@donat1 Can you please check your PostgreSQL version

[2016-05-30 12:12] praburaj06 commented on #643
Guys ...Is this code working ???

[2016-05-30 12:14] jujes opened #659 "docker let's encrypt ssl https featur"
Hi, someone know how run it?

**deploy script**

[code]

**output**

[code]

[2016-05-30 12:17] rrjanbiah commented on #643
@lmarikannan FYI

[2016-05-30 15:22] nicolas-r commented on #658
1. An example of my modification to allow only the member of group xxx to be returned
$search_filter = '(&(objectCategory=person)(memberOf=xxx)(' . LDAP_UID_FIELD . '=*))';
The idea is to offer the users an input box to enter a custom filter that will be use in this function as is. If they don't want, they just enter the name of the LDAP_UID_FIELD like the current implementation

2. For me the mos

[2016-05-30 15:33] rrjanbiah commented on #658
@nicolas-r Thanks for clarifying. We'll see what we can do here.

[2016-05-30 20:36] donat1 commented on #655
Thank you for your information. It was postgresql version 9.1 and I have updated to 9.5.
Now it seems to work!

[2016-05-31 05:33] rrjanbiah commented on #655
@donat1 Thanks for confirming. Glad to know that you've got it working

@lmarikannan Can we add version check in install script?

[2016-05-31 05:43] rrjanbiah commented on #659
@jujes Current docker build is provided by 3rd party. Our official support for docker is deferred as we're not much familiar with it yet. You may get better support at letsencrypt community for now.

[2016-05-31 09:39] nbalithya commented on #641
Hi !
It's ok for me. thanks for your help.

[2016-05-31 09:40] nbalithya commented on #548
+1 , would also like MySQL / MariaDB support

[2016-05-31 09:47] nbalithya opened #660 "Labels"
It's possible to choose label's color or edit the label's name ?

[2016-05-31 11:57] Samunosuke opened #661 "Large Checklist makes the website unresponsive"
I have tried to use checklists but they make website very unresponsive - the browser did already run into timeouts.
The used ubuntu server is almost idle - so it has nothing to do with heavy workload of the server.
The checklist has 45 Entries.

[2016-05-31 12:10] Samunosuke opened #662 "Search members is inconsistent"
The member search function for the board does search by username and email address...
![membersearch](https://cloud.githubusercontent.com/assets/1368406/15673757/05c6ad0c-2739-11e6-87d3-3126611bf340.png)
but the member search function within a card does only search by their email addresses...
![membersearchincards](https://cloud.githubusercontent.com/assets/1368406/15673784/3c965f58-2739-11e6-9dd6

[2016-06-01 06:27] lmarikannan commented on #662
Thanks for reporting this. We'll check and update.

[2016-06-01 06:35] rrjanbiah commented on #661
@Samunosuke Can you please mention the browser and version?

[2016-06-01 06:40] rrjanbiah commented on #185
From Vicente Gonzalez in https://groups.google.com/forum/#!topic/restya/GgCN02Ea15g

So, reopening it now.

[2016-06-01 06:42] lmarikannan commented on #660
Thanks for your note. We'll see what we can do here.

[2016-06-01 06:43] rrjanbiah commented on #660
@nbalithya Can you please check https://groups.google.com/d/msg/restya/qvMb8EDcD6E/CxakzdK-BwAJ if that answers your question?

[2016-06-01 06:59] lmarikannan commented on #656
Hi, did you update in your calendar view as first day of the week is Monday?

[2016-06-01 07:22] lmarikannan commented on #644
@janrod Are you able to resolve it yet?

[2016-06-01 08:04] Samunosuke commented on #661
@rrjanbiah I am using Firefox V 46.0.1 and I have tried to use Google Chrome V 50.0.2661.102.
The restyaboard version = v 0.2.1 (2016-03-16)

[2016-06-01 09:53] lmarikannan commented on #638
Fixed in `dev` branch.

[2016-06-01 09:56] lmarikannan commented on #630
@Gloompirate We are waiting for your reply

[2016-06-01 10:39] lmarikannan commented on #580
Fixed in dev branch

[2016-06-01 12:49] dfragac commented on #656
I'm using docker version and I don't have that file (Restya v0.2.1) under client/js so I can't. It's only:

- authorize.cache.js

- default.cache....js

- workflow_templates/

[2016-06-01 12:51] dfragac opened #663 "Show only "comments""
It's too tedious to find comments and follow them on the "timeline" of a card and it's so repetitive to click de "comments" filter button on top right... ¿maybe an option to select what to see by default? (comments, activities, both)

[2016-06-01 14:20] rrjanbiah commented on #663
@dfragac Yes, that's looks like a nice suggestion.

[2016-06-01 14:21] lmarikannan commented on #656
You can change the firstday of the week in calendar view, by insert a code firstDay: 1, after this code
`header:{left:"prev,next today",center:"title",right:"month,basicWeek,basicDay"},` on `default.cache....js`

ex:
`header:{left:"prev,next today",center:"title",right:"month,basicWeek,basicDay"},firstDay:1,`

[2016-06-02 10:10] lmarikannan commented on #662
Fixed in dev branch

[2016-06-02 11:10] praburaj06 commented on #643
Guys thanks lot ,
this code is working fine except that for each & every reply two entries shown the reply board...
![image](https://cloud.githubusercontent.com/assets/6758233/15743082/aae4a052-28e0-11e6-84f3-8b355ef5424f.png)

[2016-06-02 11:15] lmarikannan commented on #643
We'll check and fix.

[2016-06-02 11:24] praburaj06 commented on #643
Thanks...

[2016-06-03 04:05] huhuyou2 opened #666 "How to cancle email-confirm after sign up"
hi,
    Restyaborad is very nice for me, and I`ll took her for my personal work trace.
    So, email-confirm becomes a needless action.
    Is there a way to realize my idea?

[2016-06-03 10:27] dfragac commented on #656
I've done the changes @lmarikannan and everything is OK. Thanks!

[2016-06-03 11:47] rrjanbiah commented on #656
@dfragac Thanks for confirming. Closing this for now. If we get more such requests, we'll consider that.

[2016-06-03 11:47] #656 closed

[2016-06-04 15:18] huhuyou2 opened #668 "upload file don·t work"
hi,
     I want set user photos and upload attachment files, then some error occurred. And then, I test upload functions everywhere/everyrole, all is not effective.

# env & version
network-env: I install this in intranet, dropbox is forbidden.
os-env: ubuntu 14.0
version: v.0.2.1  https://github.com/RestyaPlatform/board/tree/v0.2.1

# chrome console log here:

if you have any ideas please let me

[2016-06-04 18:20] rrjanbiah commented on #668
@huhuyou2 Thanks for your report. We'll check this by Monday and will revert.

In the meantime if possible, please attach install log and try to enable debug mode and paste HTTP log.

[2016-06-06 01:11] huhuyou2 commented on #668
Thank you for replay @rrjanbiah.

## ATTACHMENT HTTP log

[code]

## UPLOAD logo HTTP log
[code]
##INSTALL log
Sorry, I clear it when system run up. There is "/usr/share/nginx/html/restyaboard/client" file tree
[code]

##OTHER logs default.cache.a331c8c3.js:4
[code]

[code]

[2016-06-06 01:37] #666 closed

[2016-06-06 06:07] dfragac commented on #611
+1

Worked for me too.

[2016-06-06 06:08] dfragac commented on #656
This change is for week template but... how I change the same for "due date" datapicker?

[2016-06-06 10:14] nbalithya commented on #660
no sorry.

i can create labels, but i would like know if you have a solution to choose label's color or modifie/edit labels like in trello.

if i need to edit in DB it's not a problem.

[2016-06-06 10:39] rrjanbiah commented on #660
@nbalithya Sorry, currently it is not possible... as we have adopted auto label color generation from label text.

[2016-06-06 11:40] donat1 opened #669 "Delete members as board owner not possible"
I have following Error, when deleting a member from a board, which I own by myself:

PHP Notice:  Undefined variable: scope in /home/web/server/php/R/r.php on line 4787, referer: http://example.com/
PHP Warning:  in_array() expects parameter 2 to be array, null given in /home/web/server/php/R/r.php on line 4787, referer: http://example.com/

And the member remains listed.

[2016-06-06 12:02] dfragac opened #670 "Colaboration on translation"
Hi!

I was looking for translations for restyaboard and i found that current Spanish translation it's no so accurate ;-).

¿How can I colaborate? ¿Do I need to fork the project and do a pull request or there is some way to colaborate in translations without doing that?

I can colaborate with translation to spanish and galician.

[2016-06-06 12:34] rrjanbiah commented on #670
@dfragac Thanks for your interest in translating Restyaboard. You may join here https://www.transifex.com/restya/restyaboard/ and update translation.

[2016-06-06 12:36] rrjanbiah commented on #669
@donat1 Thanks for reporting this error. We'll check and fix it soon.

[2016-06-06 13:09] rrjanbiah commented on #666
@huhuyou2 Were you able to find solution?

[2016-06-06 13:47] nicolas-r opened #671 "Activities history missing fro card"
Hi

In the board, I can see that a card has 4 comments but when I click on it, I can only see two of them.

Moreover, I have move the card to a new place and one more comment has disappear.

I can find the comment contents via the search feataure or by clicking on the ring in the lower corner

Nicolas

[2016-06-06 13:53] rrjanbiah commented on #668
@huhuyou2 Unfortunately, we're not able to reproduce the issue. It looks like you may not be having enough write permission for necessary folders like "img", etc. If that's the case, install log may be having enough details about the issues. Please see if you can reinstall to fix the issue.

[2016-06-06 13:55] rrjanbiah commented on #671
@lmarikannan Looks like the issue that we have already fixed?

[2016-06-06 14:19] nicolas-r commented on #671
The version I'm using is 0.2.1

[2016-06-06 15:17] nicolas-r commented on #671
I have searched the closed bugs and found #611. I have applied the three commits manually and now I can see all the comments

[2016-06-06 15:17] #671 closed

[2016-06-06 15:25] rrjanbiah commented on #671
@nicolas-r Sorry and thanks!

[2016-06-06 23:58] LukeHartcher opened #672 "Multi-User - Boards not Updating Live"
When multiple people are using the same board, changes by one user are not updated on the board of the second user and a manual refresh is required to see the changes.

Confirmed on http://board.demo.restya.com/ across two browsers.

[2016-06-07 00:01] LukeHartcher opened #673 "Request - Separate Comments and Activity"
Currently adding a Comment gets lost in the Activity as soon as you do something the comment is pushed down the list and it is not clear what is a comment and what is an activity. Activity is really an audit log and should be separate from comments.

Request - separate Comments and Activity so that Comments are easily identified and viewed. Comment changes can still be shown in Activity.

I have j

[2016-06-07 00:33] LukeHartcher commented on #663
Can I suggest keeping them separate i.e. a one list of "Comments" (with an input box) and a second list for "Activity".

[2016-06-07 07:21] dfragac commented on #673
Similar to #663

[2016-06-07 07:22] dfragac commented on #670
OK, thx!

[2016-06-07 07:29] dfragac commented on #656
Worked! Thx! :+1:

[2016-06-07 07:33] dfragac opened #674 "Stats on boards, cards...."
Hi!

I'm here to propose a new feature :-)

¿Is it possible to create some statistics about boards or cards in boards?

Ex:
 - Average time to close a card (A card is considered closed from creation to archive)
 - Average time between states (To measure time from "in progress" to "done")
 - Average count of times when a card moves between states
 - Average count of statechange

etc etc...

[2016-06-07 08:29] rrjanbiah commented on #674
@dfragac Thanks a lot for your suggestions. Some of these are already pushed into our `dev` branch :)

[2016-06-07 08:32] rrjanbiah commented on #673
@LukeHartcher Many thanks for your suggestions. We'll definitely see what we can do here.

Currently half of the users are coming from Trello and they expect similar features. That's the only concern for now. But, we can definitely push what is best for everyone.

[2016-06-07 08:38] rrjanbiah commented on #672
@LukeHartcher Many thanks for your report. We'll fix it soon.

Side note: It looks like when a label is getting added, it is breaking the whole updates. Also, it also seems to be breaking how users are associated to board.

[2016-06-07 08:39] rrjanbiah commented on #670
You're welcome. Closing this for now.

[2016-06-07 08:39] #670 closed

[2016-06-07 16:23] dfragac commented on #674
Great! ;-)

[2016-06-08 02:24] huhuyou2 commented on #668
It is ok after reinstall, thank you

[2016-06-08 02:24] #668 closed

[2016-06-08 02:29] huhuyou2 commented on #666
No, I can`t find the way for my idea.
Instead, I add user directly by Admin role.

[2016-06-08 03:45] huhuyou2 opened #675 "Config attachment file dir manually on website?"
I found the files here what I uploaded from website
`/usr/share/nginx/html/restyaboard/media/Card`
And, It is not big enough sometimes in future.
Therefore, is there a way to set attachment file dir to dir that mounts storage.

[2016-06-08 06:14] rrjanbiah commented on #675
@huhuyou2 Wouldn't symlink work in that case?

[2016-06-09 10:03] petman commented on #641
Hi,

I have install restyaboard on centos 6.7 with the Recommended install script linux on the main website http://restya.com/

First, the activation link was not functionnal. I have done manually the modification:

https://github.com/RestyaPlatform/board/pull/489/files & https://github.com/RestyaPlatform/board/pull/524/files#diff-9812550cecc4e99d42faa21f771c0b8cR4661.

and

https://github.com/Res

[2016-06-09 14:23] rrjanbiah commented on #641
@petman Are your other accounts able to login to the system? IOW, are you facing issues with your manually activated accounts alone? Also, are you aware that the passwords in DB are encrypted using Bluefish?

[2016-06-09 15:09] rrjanbiah opened #676 "Move list cards permissions issue"
From https://groups.google.com/forum/#!topic/restya/9FzMInZmNiw

I wanted to disable the move list cards for restya members, because I was searching a way to disabling it, when the board is public but not to change anything expect the board owner.

After enabling it, I can't move list cards for owner, for members and for anyone else. What happened?

[2016-06-10 06:47] lmarikannan commented on #662
Closing this for now. If you get any other issues related this, please feel free to reopen.

[2016-06-10 06:47] #662 closed

[2016-06-10 06:51] lmarikannan commented on #660
Closing this for now. If you get any issues, please feel free to reopen.

[2016-06-10 06:51] #660 closed

[2016-06-10 06:53] lmarikannan commented on #659
Closing this for now.

[2016-06-10 06:53] #659 closed

[2016-06-10 06:54] lmarikannan commented on #645
Closing this for now. If you get any issues, please feel free to reopen.

[2016-06-10 06:54] #645 closed

[2016-06-10 06:55] lmarikannan commented on #638
Closing this for now.

[2016-06-10 06:55] #638 closed

[2016-06-10 06:57] lmarikannan commented on #635
@zukizukki17 Closing due to inactivity. Please feel free to reopen when you have more information

[2016-06-10 06:58] lmarikannan commented on #632
@d0dman Closing due to inactivity. Please feel free to reopen when you have more information

[2016-06-10 06:58] #632 closed

[2016-06-10 06:59] lmarikannan commented on #631
@d0dman Closing due to inactivity. Please feel free to reopen when you have more information

[2016-06-10 06:59] #631 closed

[2016-06-10 07:00] petman commented on #641
@rrjanbiah Yes, all my acconts are activable but the password don't work.

So for the bluefish encryption, what I must know or do ??

Regards

[2016-06-10 07:07] lmarikannan commented on #630
@Gloompirate Closing due to inactivity. Please feel free to reopen when you have more information

[2016-06-10 07:07] #630 closed

[2016-06-10 07:08] lmarikannan commented on #606
Closing this for now.

[2016-06-10 07:08] #606 closed

[2016-06-10 07:09] lmarikannan commented on #582
Closing this for now. If you get any issues, please feel free to reopen.

[2016-06-10 07:09] #582 closed

[2016-06-10 07:10] lmarikannan commented on #580
Closing this for now.

[2016-06-10 07:10] #580 closed

[2016-06-10 07:10] lmarikannan commented on #577
@didierm Closing this for now. If you get any issues, please feel free to reopen.

[2016-06-10 07:10] #577 closed

[2016-06-10 07:17] lmarikannan commented on #219
@Zimeon- Closing due to inactivity. Please feel free to reopen when you have more information

[2016-06-10 07:17] #219 closed

[2016-06-10 07:18] lmarikannan commented on #177
@julienmoinard Closing this for now. If you get any issues, please feel free to reopen.

[2016-06-10 07:18] #177 closed

[2016-06-10 07:21] lmarikannan commented on #2
Closing this for now. If you get any issues, please feel free to reopen.

[2016-06-10 07:21] #2 closed

[2016-06-10 08:16] lmarikannan commented on #185
We have tried to reproduce this issue in http://boardalpha.demo.restya.com, but we cannot able to reproduce it. Closing this for now.

[2016-06-10 08:16] #185 closed

[2016-06-11 05:47] lmarikannan commented on #643
@praburaj06 We have tried to reproduce this issue in local but we cannot able to reproduce it.

[2016-06-11 09:43] rrjanbiah commented on #676
More note from donat waber from forum:

I moved card Test3 from List "Pendent" to "Anfragen". First it shows correct, but when I reload the board again, then it shows the card, where it was created (see screenshot). In the screenshot you will also see, that there is in the log mentioned, that the card was moved, but it remains on the first list...

I don't know exactly, when it started this behavo

[2016-06-11 11:07] lmarikannan commented on #669
@donat1 We have tried to reproduce this issue in local but we cannot able to reproduce it. Can you please double check that?

[2016-06-11 11:23] lmarikannan opened #677 "Drag and Drop functionality is working while Move list cards role is disable"
Drag and Drop functionality is working while Move list cards role is disable for restya members.

[2016-06-11 11:28] lmarikannan commented on #676
@rrjanbiah We have tried to reproduce this issue in local but we cannot able to reproduce it. But we found an issue, Drag and Drop functionality is working while Move list cards role is disable for restya members. So we created a ticket for this https://github.com/RestyaPlatform/board/issues/677.

This is also we cannot able to reproduce it. Closing this for now.

[2016-06-11 11:28] #676 closed

[2016-06-12 02:43] huhuyou2 commented on #675
@rrjanbiah yes, I try 'ln' commands for this demand, and it`s ok for now.

Thank you very much.

[2016-06-12 07:45] rrjanbiah commented on #675
@huhuyou2 Thank you.

Closing this for now.

[2016-06-12 07:45] #675 closed

[2016-06-12 16:36] Aendrew87 opened #678 "No comments after moving card to another list"
Hi,

i have the same probleme as described in #629 but the solution did not work for me.

Any other ideas how to solve this?
Thanks.

[2016-06-13 03:31] huhuyou2 opened #679 "ElasticSearch can not work"
Hi,
     ElasticSearch function does not run for my system.

Version:
`v0.2.1`

And, service status
[code]
http service interface
[code]
install log
[code]

I had saw #246 issue, but the solution did not work for me. This file can not be found in my installing dir.

and, execute this sql

[SQL] UPDATE settings SET value = 0 WHERE name = 'elasticsearch.last_processed_activtiy_id';

Any other ideas

[2016-06-13 04:51] praburaj06 commented on #643
ok...i'll check it out & let you know....

[2016-06-13 06:38] kingsuper commented on #679
@rrjanbiah I also encountered this problem that search function is not available. Is it a bug?

[2016-06-13 06:56] rrjanbiah commented on #679
@huhuyou2 @kingsuper Can you please paste your HTTP log after enabling debug mode?

We have refactored cron code lately. Probably, cron is not setup or triggering with errors.

[2016-06-13 07:17] donat1 commented on #669
I reinstalled restyaform and now it works perfect. I don't know if there was a problem with the first installation.

Thanks!

[2016-06-13 07:17] #669 closed

[2016-06-14 02:20] huhuyou2 commented on #679
Thank you @rrjanbiah
And, I catch some logs by chrome developer-tools when I search "Dashboard" keyword.
# 1, http log
Request
`URL:http://x.x.x.x/api/v1/search.json?q=Dashbroad&token=33535ae64b5b9082c496262ddf3d9be573b0f466`

Request Headers
[code]

Query String Parameters
[code]
# 2, some console err
[code]

[2016-06-14 02:43] huhuyou2 commented on #679
Thank you @rrjanbiah

And, I catch some logs by chrome developer-tools when I search "Dashboard" keyword.
# 1, Http log
Request
[code]

Response Headers
[code]

Request Headers
[code]

Query String Parameters
[code]

response
`{"result":[]}`

# 2, Console Log
[code]

I try to request this url,
`http://x.x.x.x/api/v1/users/10/activities.json?type=all&last_activity_id=104&token=33535ae64b5b9082c4962

[2016-06-14 08:29] rrjanbiah opened #681 "Make a filter permanent"
From Vicente Gonzalez in forum https://groups.google.com/forum/#!topic/restya/7-siUv7msVw

I lost my filters if, for example, reload the web or close a card. Is it possible to make permanent that filter?

[2016-06-14 08:32] superjuve opened #682 "Install Restyaboard"
#Hi,
I cant install Restyboard. I followed this manual http://restya.com/board/install#Installscript.

##  Here is what I did:
1) **Installed Ubuntu Server** 16.04 on my VM Virtual Box.
2) **wget https://github.com/RestyaPlatform/board/raw/master/restyaboard.sh --no-check-certificate**
3) **Execute chmod +x restyaboard.sh**
4) **Execute restyaboard.sh**  - It was ok.

5) I Downloaded https://githu

[2016-06-14 08:32] rrjanbiah opened #683 "Persist card divider position in settings"
From @donat1 in forum https://groups.google.com/forum/#!topic/restya/-mYCBHtHeFs

Where do I have to change the frames within the card.

No the splitting seems to be 20/80 but I'd like to have 50/50 for the two columns.

Yes it persists, as long as I have opened the browser. But when I start again a browser, the preference is gone. Maybe I don't see a save button?

[2016-06-14 08:38] rrjanbiah commented on #682
@superjuve Can you attach install log?

Do you have `root` access?

[2016-06-14 08:43] rrjanbiah commented on #679
@huhuyou2 Results are slightly confusing.. for one request, you've received oAuth error and for one request you have received empty.

For now, can you please:

1. Execute `/usr/share/nginx/html/restyaboard/server/php/shell/indexing_to_elasticsearch.sh` from command line and see if you're getting any error. Please enable debug mode before executing it.

2. Enable debug mode and check HTTP log. You

[2016-06-14 09:13] superjuve commented on #682
Yes I have root access.

[2016-06-14 09:15] rrjanbiah commented on #682
@superjuve Please attach install log? If you don't have install log, please attach some screenshot to show what error are you getting

[2016-06-14 09:40] superjuve commented on #682
@rrjanbiah Last point I did was **Execute: sh restyaboard.sh**
I am not sure if I did properly. I set server: 192.10.10.1
and I set directory: /usr/share/nginx/html/restyaboard

Where I can see if I did correctly?

[2016-06-14 11:24] lmarikannan opened #684 "Upgrade php script for ejabberd"

[2016-06-14 11:41] superjuve commented on #682
I think problem is in, I have to change everything insteas DBPORT?

POSTGRES_DBHOST=localhost
POSTGRES_DBNAME=restyaboard
POSTGRES_DBUSER=restya
POSTGRES_DBPASS=hjVl2!rGd
POSTGRES_DBPORT=5432

[2016-06-14 11:50] huhuyou2 commented on #679
Thank you @rrjanbiah , I think there is some error at crontab-installing.

I try to exec
`/usr/share/nginx/html/restyaboard/server/php/shell/indexing_to_elasticsearch.sh` from command line, and got debug info below:
[code]
## Install log about crontab part
[code]

It works OK 1 times, and it seems crontab is not-yet-effective. I do not know why `crontab -l` show that below:
[code]

I think I shoul

[2016-06-14 13:52] superjuve opened #685 "After Install white screen"
Hi, I already installed Restyaboard.

When I put adress I have favicon and Meta name alright. But site is blank.
In attachment is install.log but its in Czech language. I can translate everything.

[restyaboard_install.txt](https://github.com/RestyaPlatform/board/files/314069/restyaboard_install.txt)

![problem](https://cloud.githubusercontent.com/assets/19925380/16045268/fc410c68-3247-11e6-8448-4

[2016-06-14 15:01] rrjanbiah commented on #685
@superjuve Looks like both `php` and `php-fpm` are not installed. Can you please try to install them manually again and retry?

[2016-06-14 15:03] rrjanbiah commented on #682
@superjuve Looks like you've fixed above issues? What was the culprit?

[2016-06-14 18:43] superjuve commented on #682
@rrjanbiah I tried delete installation and installed again.

[2016-06-14 18:43] #682 closed

[2016-06-14 19:26] superjuve commented on #685
@rrjanbiah I install everything from script.

I found a lot of ways how install php and php-fpm, are these basic correct?
[code]

[2016-06-15 11:21] DavidJares commented on #635
Hi, I have exactly the same problem, triend every option here. Only thing that loads is favicon and progresbar. Entire page is blank (white).

[2016-06-15 11:55] rrjanbiah commented on #635
@DavidJares Can you attach install log?

[2016-06-15 11:59] DavidJares commented on #635
Should I anonymize it a little bit? Plus it is all in czech language -.- my friend prepared the ubuntu server in czech :(

[2016-06-15 12:07] rrjanbiah commented on #635
@DavidJares Yes, please remove any sensitive information. Language string is OK

[2016-06-15 12:12] DavidJares commented on #635
Ok here it is (found only DB password):
http://pastebin.com/nQch8WRT

[2016-06-15 12:40] rrjanbiah commented on #685
@superjuve Were you able to figure out the issue? Probably, you're using any different distribution?

[2016-06-15 12:41] rrjanbiah commented on #635
@DavidJares Looks like a typical duplicate of #685 Not sure why in Ubuntu it breaks now.

So, closing this and will follow #685

[2016-06-15 12:41] #635 closed

[2016-06-15 12:44] DavidJares commented on #685
Hello, I can't install apt-get install php5:
root@MYSERVER:/etc/nginx# apt-get install php5-fpm
Načítají se seznamy balíků… Hotovo
Vytváří se strom závislostí
Načítají se stavové informace… Hotovo
Některé balíky nemohly být instalovány. To může znamenat, že požadujete
nemožnou situaci, nebo, pokud používáte nestabilní distribuci, že
vyžadované balíky ještě nebyly vytvořeny nebo přesunuty z Příchoz

[2016-06-15 13:07] rrjanbiah commented on #685
@DavidJares Did you update any PPA?

Can you please try below links and see if they're helpful?

- http://askubuntu.com/questions/140246/how-do-i-resolve-unmet-dependencies-after-adding-a-ppa
- http://devdocs.magento.com/guides/v2.0/install-gde/prereq/php-ubuntu.html#instgde-prereq-php56-install-ubuntu

[2016-06-15 13:32] DavidJares commented on #685
It seems like the problem is in PHP7 (need php5-fpm to run Restya)

[2016-06-15 15:10] Zimeon- commented on #681
Sounds like a good idea

[2016-06-15 15:17] DavidJares commented on #685
I found the issue. It is lame and I would like to express my thanks for all help. My friend installed PHP in unusual place, so i needed just to add `fastcgi_pass    unix:/var/run/php/php7.0-fpm.sock;` on 35th line of `restyboard.conf`. Now it seems like everything is working.

[2016-06-15 15:22] rrjanbiah commented on #685
@DavidJares Awesome. Glad to know that.

@superjuve Do you find @DavidJares note helpful for you?

[2016-06-15 15:28] rrjanbiah commented on #681
@Zimeon- Sure

[2016-06-15 21:04] oOHenry commented on #581
+1 any updates on this ?

[2016-06-16 09:15] praburaj06 commented on #643
I've checked and some of the reply's appearing with duplication's  & most of them are not at all appearing ....

[2016-06-16 10:58] lmarikannan commented on #677
Fixed

[2016-06-16 10:58] #677 closed

[2016-06-16 11:00] lmarikannan commented on #674
Closing this for now. If you get any issues, please feel free to reopen.

[2016-06-16 11:00] #674 closed

[2016-06-16 11:10] lmarikannan commented on #643
@praburaj06  Can you please find that case to reproduce?

[2016-06-16 11:10] lmarikannan commented on #643
Closing this for now. If you get any issues, please feel free to reopen.

[2016-06-16 11:10] #643 closed

[2016-06-16 11:13] lmarikannan commented on #661
@Samunosuke Thanks for your note. We'll check and fix

[2016-06-16 11:19] lmarikannan commented on #644
Closing due to inactivity. Please feel free to reopen when you have more information

[2016-06-16 11:21] lmarikannan commented on #620
Closing this for now

[2016-06-16 11:21] #620 closed

[2016-06-16 11:26] praburaj06 commented on #643
I don't think this issue is fixed ,but thanks for your support & quick response.

[2016-06-16 11:26] lmarikannan commented on #509
@ghstshdw We are waiting for your reply

[2016-06-16 14:42] rrjanbiah opened #688 "LDAP import is sending same welcome email"
When users are imported through LDAP, it is sending same welcome email/content. So, users are thinking that it is an error. It should include some note that the account was created by the admin on behalf of the company.

[2016-06-16 15:17] Aendrew87 commented on #678
Any ideas? Do you need more information?

[2016-06-16 16:44] petman commented on #641
Hi, The install on centos is very chaotic. I have change the distribution for Debian.

Good on the first time with the patch:
https://github.com/RestyaPlatform/board/pull/489/files

[2016-06-17 14:29] petman commented on #641
so I have an error message on ldap authentication :

2016/06/17 15:24:28 [error] 24977#0: *2954 FastCGI sent in stderr: "PHP message: PHP Notice:  Undefined variable: scope in /var/www/board/server/php/R/r.php on line 4762
PHP message: PHP Warning:  in_array() expects parameter 2 to be array, null given in /var/www/board/server/php/R/r.php on line 4762" while reading response header from upstream,

[2016-06-17 14:38] rrjanbiah commented on #678
Yes @Aendrew87

Have you tried all patches from https://github.com/RestyaPlatform/board/issues/611#issuecomment-214993918 ?

[2016-06-17 14:46] rrjanbiah commented on #641
@petman Sorry, we completely missed your messages.

Yes, this could be a bug. We'll check and update.

If possible, please elaborate this as that may help us to fix issues. Thanks again

[2016-06-18 08:53] Aendrew87 commented on #678
@rrjanbiah, yes, i tried all patches but it still does not work

[2016-06-18 12:48] rrjanbiah commented on #678
@Aendrew87 Strange. Have you cleared cache and or tried in incognito window?

If so, please give us some time to understand the issue.

[2016-06-18 12:57] Aendrew87 commented on #678
@rrjanbiah: After changing the sources i restarted nginx. I checked the fix on several browsers on multible systems. Allways the same result: Moving the card back to the old list i could see the comments, moving to another list the comments would not be displayed.

[2016-06-18 13:01] rrjanbiah commented on #678
@Aendrew87 Really sorry for the trouble you are having. So this looks like an edge case. Will definitely try to reproduce it here. Sorry again.

Over the top of the head I think, it may be something to do with Unicode. Will check that too.

[2016-06-18 13:47] rrjanbiah commented on #678
@Aendrew87 OK sure

[2016-06-20 06:44] huhuyou2 commented on #679
It works ok now, I think the script of install need some update in future release version.

Thank you @rrjanbiah

[2016-06-20 06:44] #679 closed

[2016-06-22 00:36] rootAmeen opened #691 "Empty page after installation"
Hi.
I did the installation from the bash script, and after accessing the website I see the title and favicon (restyaboard powered kanban board), but the page is empty.

Attached is the installation output.

Thanks.

[restyaboard_install.log.txt](https://github.com/RestyaPlatform/board/files/326815/restyaboard_install.log.txt)

[2016-06-22 10:35] nicolas-r opened #692 "Can't add local user when LDAP login is enabled"
Hi

I don't if this is by design or not, but after enabling "LDAP" in "Enabled Login Options", the option to add an user in the "Admin CP / Users" is no more present.

I have a need to have both local and ldap users, can you tell me if this possible or not ?

Regards

Nicolas

[2016-06-22 13:38] StephanJanosch opened #693 "Installation Errors on Ubuntu 16.04"
Hey!

I tried to install Restya on Ubuntu 16.04 LTS and the script did run into troubles. What I did not like about the script, was the addition of new sources to my source list. The script should ask about these.

Then it goes for php5, but it looks like php7 became standard on ubuntu 16.04.

Now I need to clean my system. ... :-(

Thanks,
Stephan

[code]

[2016-06-23 11:58] Gloompirate opened #695 "LDAP passwords containing £ symbol not accepted"
Hi,

One of our users has a password that contains a £ symbol. When trying to authenticate via LDAP into restyaboard, he is unable to login. Once he has changed his password to remove the £ symbol he is able to login successfully.

I have also created a test account to try other symbols in the password, and the only one that causes the issue is the £ symbol.

I guess that in the password field the

[2016-06-23 12:10] StephanJanosch opened #696 "php7 issues showing up in nginx log"
I am pasting just a bunch entries from my nginx log file. I have no clue how to report about these in a better way.

Sorry

[code]

[2016-06-23 12:26] rrjanbiah commented on #696
@StephanJanosch Thanks for your report. We'll look into it.

[2016-06-23 12:27] rrjanbiah commented on #695
@Gloompirate Thanks for your report. We'll fix it.

[2016-06-23 12:27] rrjanbiah commented on #693
@StephanJanosch Thanks for your report. We'll fix it.

[2016-06-23 12:52] rrjanbiah commented on #692
@nicolas-r Currently it is by design. Will check and update.

[2016-06-23 13:00] rrjanbiah commented on #691
@rootAmeen Sorry for the delay, we're busy with release process...

Can you check developer console and find HTTP requests?

### Common issues:

- 502 status usually means that php-fpm has not started
- 404 or 401 status usually means that database credentials are wrong. You may check further errors by enabling debug mode in https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc

[2016-06-23 16:23] nicolas-r commented on #692
OK. i have solve my problem by disabling LDAP login temporarly, add my local user and enable LDAP again

[2016-06-26 10:33] rootAmeen commented on #691
hi @rrjanbiah ...
In the log I've already attached, php-fpm was already started by your installation script (lines 420-435):

`  Verifying  : automake-1.11.1-4.el6.noarch                                 1/4
  Verifying  : php-devel-5.3.3-47.el6.x86_64                                2/4
  Verifying  : php-fpm-5.3.3-47.el6.x86_64                                  3/4
  Verifying  : autoconf-2.63-5.1.

[2016-06-27 16:35] Aendrew87 commented on #678
@rrjanbiah Yesterday I found the issue... I updated the files in /opt/ but since 0.2.1 it seems that the files are no longer stored in /opt - I Updated the right r.php and now it works - Sorry for the trouble

[2016-06-27 16:35] #678 closed

[2016-06-28 13:49] ssivachidambaram commented on #684
Fixed.

[2016-06-28 13:49] #684 closed

[2016-06-30 13:28] #450 closed

[2016-07-01 05:33] rrjanbiah opened #700 "Support HTTPS requirement for Chrome especially for AppCache"
https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins

[2016-07-01 08:36] Zimeon- commented on #661
We have the same issue, and if you change the order for an item in the checklist it gets even worse. Website freezes for a considerable amount of time until the move is completed.

[2016-07-01 08:38] Zimeon- opened #701 "Start date to accompany due date"
Now that the gant chart work with version 0.3 i received a request from our users that a start date to accompany the due date would be greatly appreciated. This way team members could add a card, set a start and due date to follow them up.

[2016-07-01 08:41] rrjanbiah commented on #701
@Zimeon- That will be a good feature. Thanks for your suggestion.

[2016-07-01 08:42] rrjanbiah commented on #661
@Zimeon- Thanks for your note. Will definitely look into it.

[2016-07-01 21:17] rootAmeen commented on #691
Any update @rrjanbiah

[2016-07-02 17:58] rrjanbiah commented on #691
@rootAmeen Sorry, will update you by Monday

[2016-07-04 06:53] lmarikannan commented on #691
@rootAmeen We checked your restyaboard_install.log, We can't find any issues on that. Can you post your HTTP responses and requests?

[2016-07-06 03:06] namoriwap opened #702 "Installation unsuccessful from v0.1.6 to v0.3"
Hi,

I tried to update restyaboard from v0.1.6 to v0.3, but some errors has occurd.
And restyaboad is white screen.

### line:5112-
  mv: cannot stat `/usr/share/nginx/html/restyaboard/ejabberd.yml': No such file or directory
  chmod: cannot access `/etc/ejabberd/ejabberd.yml': No such file or directory
  sed: can't read /etc/ejabberd/ejabberd.yml: No such file or directory
  sed: can't read /etc/

[2016-07-06 05:56] rrjanbiah commented on #702
@namoriwap Thanks for your detailed issue report. We'll check and update you.

[2016-07-06 11:57] lmarikannan commented on #702
@namoriwap  Really sorry for the trouble you are having.

sed: can't read /etc/ejabberd/ejabberd.yml: No such file or directory
sed: can't read /etc/ejabberd/ejabberd.yml: No such file or directory

`ejabberd.yml` file is missing on https://github.com/RestyaPlatform/board/releases/tag/v0.3 So you can download from `https://github.com/RestyaPlatform/board/blob/master/ejabberd.yml` and install it ma

[2016-07-07 03:08] namoriwap commented on #702
@rrjanbiah @lmarikannan
Thank you for your replis. I will try it.

[2016-07-07 08:39] tsebastien opened #703 "Boards : 404 Page not found."
Hello !
Since the update to 0.3, here is my issue:

the page boards/list?page=1 give me a 404 error.
and the logs:

[error] 1484#0: *239 FastCGI sent in stderr: "PHP message: PHP Warning:  pg_query_params(): Query failed: ERROR:  relation &quot;admin_boards_listing&quot; does not exist
LINE 1: SELECT row_to_json(d) FROM (SELECT * FROM admin_boards_listi...

[2016-07-07 08:45] trangluong2006 commented on #224
Please help me solve it. I tried to do all your steps but when connect localhost:8084 then blank screen
![image](https://cloud.githubusercontent.com/assets/20334882/16647514/cd99b77e-4459-11e6-9c13-df3f1f0bd53c.png)

[2016-07-07 14:43] #703 closed

[2016-07-07 15:02] tsebastien opened #704 "search not working after update to 0.3"
Hello,

After the update, the search is not working anymore... here are my logs:

PHP message: PHP Notice:  Undefined index: aggregations in /usr/share/nginx/html/server/php/R/r.php on line 932
PHP message: PHP Notice:  Undefined index: aggregations in /usr/share/nginx/html/server/php/R/r.php on line 934
PHP message: PHP Warning:  Invalid argument supplied for foreach() in /usr/share/nginx/html/se

[2016-07-07 15:27] rrjanbiah commented on #704
@tsebastien Sorry for the issue you're facing. We'll check tomorrow and will update you.

[2016-07-08 06:26] lmarikannan commented on #704
@tsebastien Can you please check `indexing_to_elasticsearch` cron is running or not?

[2016-07-08 08:39] tsebastien commented on #704
Thank you for your fast answers.

There is no indexing_to_elasticsearch in the crontab.
I added it, and nothing changed...

[2016-07-08 09:33] tsebastien opened #705 "#/settings/3 not working after update to 0.3"
Hello,

Since my update to 0.3, the page #/settings/3 is not working anymore.
Do you have any ideas about the problem ?
Here are my logs:

message: PHP Notice:  Constant BOSH_SERVICE_URL already defined in /usr/share/nginx/html/server/php/config.inc.php on line 62
PHP message: PHP Notice:  Constant JABBER_HOST already defined in /usr/share/nginx/html/server/php/config.inc.php on line 62
PHP messag

[2016-07-08 09:43] lmarikannan commented on #704
@tsebastien please check server URL, index name is filled on your restyaboard elasticsearch settings page. And then execute `https://github.com/RestyaPlatform/board/blob/master/server/php/shell/instant_email_notification.sh` file manually on your server

[2016-07-08 10:17] #705 closed

[2016-07-08 10:36] lmarikannan commented on #705
@tsebastien Really sorry for the trouble you are having.

PHP message: PHP Notice: Constant JABBER_HOST already defined in /usr/share/nginx/html/server/php/config.inc.php on line 62
PHP message: PHP Notice: Constant XMPP_CLIENT_RESOURCE_NAME already defined in /usr/share/nginx/html/server/php/config.inc.php on line 62
PHP message: PHP Notice: Constant BOSH_SERVICE_URL already defined in /usr/share

[2016-07-08 10:48] tsebastien commented on #704
Thank for your answer.
After changing updating my configuration here are my logs when i try to search something:

2016/07/08 12:44:24 [error] 3636#0: *1468 open() "/usr/share/nginx/html/client/restya/cards/_search" failed (2: No such file or directory), client: _myip_, server: _, request: "POST /restya/cards/_search?size=10 HTTP/1.1", host: "_myhost_"

etc.

2016/07/08 12:44:24 [error] 3636#0: *12

[2016-07-08 10:50] tsebastien commented on #705
Thank for your help, It worked perfectly.

[2016-07-08 11:00] lmarikannan commented on #704
We have tried to reproduce this issue in local but we cannot able to reproduce it. Can you please double check that?

Please execute `instant_email_notification.sh` file manually on your server

[2016-07-08 12:06] rrjanbiah commented on #703
@tsebastien Sorry notice this issue just now. Were you able to figure out the issue? If so, what was the issue?

[2016-07-08 12:09] rrjanbiah opened #706 "PHP notices in recent versions"
Undefined index and similar notices in recent versions.

[2016-07-08 12:27] tsebastien commented on #703
Hello,
Thank you for your answer.

The error was that the installation of GeoIP package on ubuntu creates a new folder, and that the installation script checks "mkdir  /usr/share/GeoIP" result which gives an error because the folder was created automatically earlier. Because everything seemed to work and because the "about" page was updated, I though that the upgrade was complete and that I was fa

[2016-07-08 12:56] petman commented on #641
Hi,

Do you have fins some fix about these issues ?

Regards

[2016-07-08 13:20] tsebastien commented on #704
I did a double check on the instant_email_notification.sh. No error appears at the execution of the script.

When cron runs indexing_to_elasticsearch, here are my logs:

2016/07/08 15:16:57 [error] 15443#0: *933 "/usr/share/nginx/html/client/restya/cards/index.html" is not found (2: No such file or directory), client: _myip_, server: _, request: "POST /restya/cards/ HTTP/1.1", host: "_myhost_"
201

[2016-07-08 15:20] lmarikannan commented on #704
Can you please execute the url `http://{your_host}/server/php/shell/indexing_to_elasticsearch.php` manually and check

[2016-07-09 08:40] rrjanbiah commented on #641
@petman

Yes, can you please check v0.3 and let us know if you're still having this issue?

[2016-07-09 08:40] #641 closed

[2016-07-11 13:06] tsebastien commented on #704
Here is my result for executing manually http://{your_host}/server/php/shell/indexing_to_elasticsearch.php:

Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not Found. Not F

[2016-07-12 07:51] eddyemmer opened #707 "Install on Xampp (Windows 10)"
Hi,

I moved the files to my Xampp root directory and the only thing I see is a white screen.

Can somebody help me step by step with installing Restya Board on Xampp or Wampserver?

Thanks a lot!!

[2016-07-13 12:48] petman opened #708 "Migration Debian v0.2.1 to v0.3"
Hi,

I have try to migrate v0.2.1 to v0.3 and I have some issue.

I have change :
* my directory /var/www with the new files
* Update the script /sql/upgrade-0.2.1-0.3.sql
* Run the sql command on https://github.com/RestyaPlatform/board/issues/705

My error file /var/log/nginx/error.log is telling me :

"/var/www/board/client/css/bootstrap.css" failed (2: No such file or directory)
"/var/www/board

[2016-07-13 14:52] lmarikannan commented on #708
Hi, you can also update restyaboard with this script `https://raw.githubusercontent.com/RestyaPlatform/board/master/restyaboard.sh`. Execute this script  `https://raw.githubusercontent.com/RestyaPlatform/board/master/restyaboard.sh`, and it will ask `A newer version ${RESTYABOARD_VERSION} of Restyaboard is available. Do you want to get it now y/n?`.  So please try to migrate with above script.

[2016-07-14 14:07] rrjanbiah commented on #708
@petman Was above note helpful?

[2016-07-14 14:12] rrjanbiah commented on #422
Reopened. Still error handling not done properly https://github.com/RestyaPlatform/board/issues/704#issuecomment-231728406

[2016-07-14 14:13] rrjanbiah commented on #704
Internal note: Issue related to #422 Can't diagnose error without proper error handling.

[2016-07-14 14:14] rrjanbiah commented on #704
@tsebastien Sorry for the issue. We'll need to add error handling in the script so as to diagnose the issue. We'll push fixed version and from there you may be able to figure out the issue easily.

[2016-07-14 14:16] rrjanbiah commented on #702
@namoriwap Was above note helpful?

[2016-07-14 14:16] rrjanbiah commented on #707
@eddyemmer In Windows 10, it shouldn't be an issue. Can you enable debug mode and check for any errors in HTTP header and response?

[2016-07-14 16:31] fubujo opened #709 "Issue with default admin login and user login"
I just installed restyaboard 0.3.

I attempt to login as admin/restya and I get the "login failed" modal.
I create and activate a user (via the standard email processes), but then try to login and get the "login failed" modal.

I've checked the database and the users exist.

Any suggestions?

[2016-07-15 07:47] petman commented on #708
Yes it is work !!

thanks

[2016-07-15 07:47] #708 closed

[2016-07-17 19:52] rozcietrzewiacz opened #710 "corrupted characters after importing board from Trello"
I constantly get invalid characters when importing via json files from Trello. The problem seems to affect all imported text data - including usernames, labels etc.

This is a self-hosted installation, on an armhf-based server, installed through docker. I've tested with restyaboard versions 0.2.1 and 0.3.

I've checked that the json files themselves are properly encoded in UTF-8. The generated web

[2016-07-17 20:55] rozcietrzewiacz commented on #710
Here's the JSON of a test Trello board.
[code]

That's how it's properly displayed in Trello:
![trello-ok](https://cloud.githubusercontent.com/assets/1487930/16902989/0af7db9a-4c71-11e6-91c9-c27f80a6ad9e.png)

And that's how it looks in RestyaBoard:
![restya-bad](https://cloud.githubusercontent.com/assets/1487930/16902985/f367b96e-4c70-11e6-8c3a-628a3646c8ac.png)

[2016-07-17 22:35] rozcietrzewiacz opened #711 "due dates not imported from Trello"
I have a lot of cards with due days assigned in Trello, but unfortunately it seems that RestyaBoard does not understand them when importing :(

[2016-07-18 06:13] rrjanbiah commented on #711
@rozcietrzewiacz Is it happening for all cards? Or only for few cards?

[2016-07-18 06:15] rrjanbiah commented on #710
@rozcietrzewiacz Thanks for the detailed bug report. We'll fix it as soon as possible.

[2016-07-18 06:28] rrjanbiah commented on #709
@fubujo As replied in the forum https://groups.google.com/forum/#!topic/restya/tJ050sUq4U0

Have you modified the security salt?

[2016-07-18 10:01] rozcietrzewiacz commented on #711
@rrjanbiah Yes, so far it seems the problem affects all cards. I did another test with additional cards and lists with and without special characters (thought may be related to #710), but none of the dates appeared in calendar.

[2016-07-18 10:23] rrjanbiah commented on #711
@rozcietrzewiacz Strange. Will look into it as soon as possible.

[2016-07-18 13:58] fubujo commented on #709
No. The SECURITY SALT in config.inc.php was not changed.  In fact all install was done with default values (no modifications to files).

It's not production.  I don't mind dropping the database and rebuilding the DB from scripts.  Is that a recommended suggestion?   Would that just be running restyaboard_with_empyt_data.sql and v0.3.sql ... and that is it?

[2016-07-18 14:01] rrjanbiah commented on #709
@fubujo Yes, resetting DB should also work

[2016-07-18 14:26] fubujo commented on #709
Thanks. I will give a try and report back in case it helps other users. Sorry for the double post - wasn't sure how the team preferred discussion points.  Will report back soon.

[2016-07-18 14:54] rrjanbiah commented on #709
@fubujo No problem. You're always welcome.

[2016-07-19 18:53] darkblinded opened #712 "Edit labels and label colors"
It would be really helpful if one could edit an existing label's name and color from the _settings > labels_ menu.

[2016-07-20 06:35] rrjanbiah commented on #712
@darkblinded Thanks for your suggestion.

[2016-07-20 08:52] Samunosuke opened #713 "Can't login after executation of the sql upgrade script!"
The database script did create doubled entries and I was not able to login.
There are many tables which have doubled entries because they do not use a primary key!!!

organization_user_roles
acl_organization_links_organizations_user_roles
acl_links_roles
acl_links
board_stars
...

I did check the tables manually with an SQL tool and I did remove the doubled entries - after that I was able to login

[2016-07-20 17:26] darkblinded opened #714 "Session info is stored per tab"
This is one of the biggest usability issues for me: The access_token is stored in the session storage and therefor exists on a per tab basis. This means one has to log in again for every new tab.

[2016-07-20 17:42] darkblinded opened #715 ""Copy Checklist From" feature stores list items in wrong card/list"
When I add a new checklist to a card A using the "Copy Checklist From" feature to copy the checklist from a card B, everything seems to work fine untill I refresh the page. Afterwards there is no "checklist flag" on card A and the flag on card B shows doubled items. If I open card A there is an empty checklist (also showing progress if I checked items before refreshing) and on card B there is the

[2016-07-20 21:41] Samunosuke commented on #713
I have also found out that there are already doubled entries in the db create script. So please check and clean them. Better... Use primary keys - this would simply be impossible.

[2016-07-21 04:51] Phanvyvt opened #716 "Can not delete comment after added"
After added comment, I click 'Delete' button. But nothing to do.

![deletecomment](https://cloud.githubusercontent.com/assets/20571434/17011623/f7b4d530-4f39-11e6-83c1-f495151eb962.png)

[2016-07-21 05:14] lmarikannan commented on #713
@samunosuke Really sorry for the trouble you are having. It is related to issue #705. Can you please refer this issue #705

[2016-07-21 08:00] trangluong2006 commented on #224
Hi ssivachidambaram,
Im using Restyaboard v1.0.3.
I encountered a problem as follows: I can add comment, edit and reply comment for card but when i choose delete comment then it does not work. Please help me solve it.
Thank you so much!
 Regards,
Trang

[2016-07-23 12:05] seo-analitik opened #717 "How to install restya in shared hosting?"
How to install restya in shared hosting?

[2016-07-23 14:58] rrjanbiah opened #718 "Can't proceed with empty board in php7"
Getting 404 error in php7/Ubuntu, when there's no board in the system.

Refer https://groups.google.com/forum/#!topic/restya/FvWZnwQ3K_w

[2016-07-23 15:00] rrjanbiah commented on #717
@seo-analitik It is usually based on the hosting provider. You may have to try manual install option.

[2016-07-24 20:47] BlackDuck888 opened #719 "Latest release (0.30) containing old translations"
The Translation distributed in 0.30 does not reflecting the current or older state of transiflex.

[2016-07-24 20:50] BlackDuck888 opened #720 "ejabber.yml is not included in Release 0.30"
The install script tries to copy the jabber config, but it is not included in this release file.

https://github.com/RestyaPlatform/board/blob/master/restyaboard.sh#L1403

[2016-07-24 20:53] BlackDuck888 commented on #716
Same at my installation, ubuntu 16.04, php7 release 0.30

[2016-07-26 23:41] sixmokes opened #721 "restyaboard.sh fails on ubuntu 14.04 VM"
Hello,

We were installing restyaboard for testing when the restyaboard.sh script failed:

The following packages have unmet dependencies:
 php5-imap : Depends: phpapi-20100525
             Depends: php5-common (= 5.4.45-0+deb7u4) but 5.5.9+dfsg-1ubuntu4.17 is to be installed
E: Unable to correct problems, you have held broken packages.
++ '[' 100 '!=' 0 ']'
++ echo 'php5-imap installation failed

[2016-07-27 06:13] rrjanbiah commented on #721
@sixmokes Sorry for the trouble. We came to know that of late Ubuntu is shipping php7 by default and so this is related to that. We're working to test it in Ubuntu.

[2016-07-27 14:34] sixmokes commented on #721
Thank you for the reply. Is there a recommended Linux distribution?

[2016-07-27 21:54] Aendrew87 commented on #720
Could confirm that

When downloading the package (master) vom github it is included.
The installer downloades the package from 'http://restya.com/download.php?app=board&ver=v0.3' and here the file is missing.

There are many other files missing or different between the both packages.

[2016-07-27 21:56] Aendrew87 opened #722 "Missing dependency for git"
when installing version 0.3 and git is not installed you could not install ejabberd.
ejabberd wants to clone goldrush from github.

[2016-07-27 21:58] Aendrew87 opened #723 "GeoIP folder creation failed"
on my debian system i got that error.
during the installation of GeoIP this folder was allready created.

so finally the folder exists and this ends with an installation abort.

[2016-07-27 22:02] Aendrew87 opened #724 "failed with error code 32""
`psql -U postgres -c "\q"`
`if [ $? != 0 ]`
`then`
`echo "PostgreSQL database connection failed with error code 32"`
`exit 1`
`fi`
why is there a static error 32?
i think it would be better to use the real error.

Source: https://raw.githubusercontent.com/RestyaPlatform/board/master/restyaboard.sh

[2016-07-27 22:04] Aendrew87 commented on #724
there are about 60 cases where static error codes are used

[2016-07-28 13:27] rozcietrzewiacz commented on #710
@lmarikannan @rrjanbiah  Any progress on this? I would be happy to help out by debugging, but I need some suggestions. I have no experience in debugging such web apps.

[2016-07-28 17:14] rrjanbiah commented on #710
@rozcietrzewiacz Our sincere apologies. In certain priorities, it got queued. Will definitely look into it. Mostly it may be missing some encoding function call.

[2016-07-28 17:17] rrjanbiah commented on #721
@sixmokes Sorry, should work on any Linux (that's what we're aiming for). BTW, we're on Fedora

[2016-07-28 17:19] rrjanbiah commented on #724
@Aendrew87 Thanks for a very nice catch.

[2016-07-28 23:53] sixmokes commented on #721
Thank you for the reply. Here is the result of running the  restyaboard.sh script, run as root on a Fedora Server machine ( the image used was Fedora-Server-dvd-x86_64-24-1.2.iso)

++ yum install -y http://yum.postgresql.org/9.4/redhat/rhel-6.6-x86_64/pgdg-centos94-9.4-1.noarch.rpm
Yum command has been deprecated, redirecting to '/usr/bin/dnf install -y http://yum.postgresql.org/9.4/redhat/rhel-6.

[2016-07-29 05:36] rrjanbiah commented on #721
@lmarikannan FYI

[2016-07-31 09:38] Aendrew87 opened #726 "Install script (Linux)"
Some times you use 'apt-get install -y' but there are many cases were you only use 'apt-get install' so the user has to enter 'y' to continue.

Maybe you should put the '-y' to every apt-get command.

[2016-07-31 13:10] Aendrew87 opened #727 "SMTP configuration - missing set +x"
When installing the output is

Seams that the 'set +x' ist missing in the installation script.

Current version:
`echo "Do you want to setup SMTP configuration (y/n)?"`
`read -r answer`

Fixed version:
`set +x`
`echo "Do you want to setup SMTP configuration (y/n)?"`
`read -r answer`
`set -x`

[2016-07-31 15:15] jofr49 opened #728 "Script error"
I have an error during installation of nginx

There is the error code= echo 'nginx installation failed with error code 2'

Maybe an error with authentication keys on repository ?

The try has been dogin with a vm (virtualbox) on ubuntu server 16-04

[2016-08-01 07:20] lmarikannan commented on #719
Changes done.

[2016-08-01 09:30] BlackDuck888 commented on #719
From where did you took the german translation? I did a pull request with the current state of transiflex with a good state of translation.

The translation which is used by you is realy bad. Some examples.

"(current)": "(Strom)",  -> the translation from current to Strom is correct in context of electricity current = Strom, voltage = Spannung
"About": "Etwa",  Etwa is more meaning approximately

[2016-08-01 09:38] lmarikannan commented on #727
Changes done

[2016-08-01 09:38] #727 closed

[2016-08-01 10:14] lmarikannan commented on #723
Fixed in dev branch

[2016-08-01 10:14] #723 closed

[2016-08-01 11:53] lmarikannan commented on #713
https://github.com/RestyaPlatform/board/commit/915fee746c927bd43bf4613391e8eaa5ea3d48fd Fixed in dev branch.

[2016-08-01 11:53] #713 closed

[2016-08-01 11:56] lmarikannan commented on #706
https://github.com/RestyaPlatform/board/commit/915fee746c927bd43bf4613391e8eaa5ea3d48fd

https://github.com/RestyaPlatform/board/commit/0791d9bdd3631088c163b02d0315396acb95e9b7

Fixed in dev branch

[2016-08-01 11:56] #706 closed

[2016-08-01 12:02] lmarikannan commented on #702
Closing due to inactivity. Please feel free to reopen when you have more information

[2016-08-01 12:02] #702 closed

[2016-08-01 12:03] lmarikannan commented on #722
https://github.com/RestyaPlatform/board/blob/master/ejabberd.yml Fixed in dev branch

[2016-08-01 12:03] #722 closed

[2016-08-01 12:04] lmarikannan commented on #720
https://github.com/RestyaPlatform/board/blob/dev/ejabberd.yml included in dev branch

[2016-08-01 12:05] lmarikannan commented on #720
Closing this for now

[2016-08-01 12:05] #720 closed

[2016-08-01 14:50] rrjanbiah commented on #719
@lmarikannan Ready above note, FYI

[2016-08-01 14:50] rrjanbiah commented on #717
Closing for now

[2016-08-01 14:50] #717 closed

[2016-08-01 17:26] Aendrew87 commented on #720
@lmarikannan just to get sure: in the main branch the file allready exists since two months but it does not exist in the board-v0.3.zip

[2016-08-01 17:49] BlackDuck888 commented on #720
correct, it is missing in the release packed, an if you run the installer it yield some error messages

[2016-08-01 17:52] Aendrew87 opened #732 "Howto configure XMPP chat?"
I updates from 0.2.1 to 0.3.0 and tried to use chat but nothing happens.

I found out that there is a configuration page (/#/settings/11).
But what should I insert in this fields?
- Bosh Service URL
- Jabber Host
- Client Resource Name

In the demo (board.demo.restya.com) the chat is not configured too and I was also not able to start it.

[2016-08-01 17:54] Aendrew87 opened #733 "No medium_thumb"
I upgraded from 0.2.1 to 0.3.0 and the medium_thumb after the login is missing.

So I tried to update my profile picture but the medium_thumb does still not exist.

What can I do to create it?

[2016-08-01 18:02] Aendrew87 commented on #720
so I dont know if this issue is really solved yet

[2016-08-01 18:06] BlackDuck888 commented on #720
no it is not, the current release zip does not contain the yml, or the other way is to change the restyaboard.sh to download the yml direct from github.

[2016-08-01 18:13] Aendrew87 commented on #720
@lmarikannan could you please verify if your solution works or reopen the ticket. thanks.

[2016-08-01 19:06] Aendrew87 opened #734 "No mails after update"
After my update from 0.2.1 to 0.3.0 new users would not receive the activation mail.
I checked the mail.log and there is no entry for the new user.

Sending mails via shell works perfect
`echo test | mail -s "test subject" me@domain.com`

How could ich verify if restyaboard tried to send the mail?

[2016-08-02 05:55] lmarikannan commented on #720
@Aendrew87, @BlackDuck888  Yes, current release zip does not contain the ejabberd.yml. In our next release, we should be wrap with ejabberd.yml. So please download it from master branch and setup this manually now. thanks.

[2016-08-02 08:29] darkblinded commented on #714
Any thoughts on this issue? I consider this a **major** usability flaw. Basically this is the main reason (aside from #672), why I currently choose Wekan over Restyaboard.

[2016-08-02 09:38] lmarikannan commented on #711
Fixed in dev branch

[2016-08-02 09:38] #711 closed

[2016-08-02 16:01] rrjanbiah commented on #714
@darkblinded Moving from sessionStorage to cookie may be a simple fix. But, few of our enterprise users prefer this behavior as it allows login to multiple accounts easily. Moreover may people prefer to use it within the dockmodal--instead of opening cards in another tab. One workaround in Chrome is that you have to "duplicate" the tab.

Having said, we may change this behavior only when there is

[2016-08-02 19:16] Aendrew87 commented on #728
@jofr49 what happens when you execut the following command
`apt-get install -y cron nginx`

Please attach install log of restyaboard.sh too.

[2016-08-03 06:34] lmarikannan commented on #710
Fixed in dev branch

[2016-08-03 06:34] #710 closed

[2016-08-03 08:18] lmarikannan commented on #715
Fixed in dev branch

[2016-08-03 08:18] #715 closed

[2016-08-03 08:25] MaDie commented on #704
I'm facing the same issue, elastic search is installed, the shell script output "Successfully saved".

It seems that the error only appears when searching without a key like "test". With "name:test" it works.

[2016-08-03 09:12] rrjanbiah commented on #704
@MaDie That looks like a different issue. Anyway, will check that too

[2016-08-03 10:36] darkblinded commented on #714
Do your enterprise customers know they can use multiple accounts their your browser's incognito mode?

This is not about opening cards in new tabs - it is about a behaviour **every other web application** offers. You could place an option to disable session cookies in the settings, but I really think you should make session cookies the default choice as it is the expected behaviour.

[2016-08-03 12:38] MaDie opened #738 "slow rendering"
we use restyaboard now since version 0.1.3 and have in sum 800 cards in 14 boards. it seems that the client is getting slower and slower.  when i click on a checklist item to mark it done, i have to wait up to 10 seconds until the click is executed.

i attached a screenshot of the chrome javascript profiler to show what i mean. perhaps there is a possibility to improve the client performance.

![i

[2016-08-03 12:42] MaDie opened #739 "instant add card / add members"
When adding members in the instant add card screen, the filter textfield is hidden because of to many members. perhaps limit the member list?

![image](https://cloud.githubusercontent.com/assets/4627758/17365798/6c362924-5988-11e6-8f09-860a71f7756d.png)

[2016-08-03 12:45] MaDie opened #740 "sort label filter?"
is it possible to sort the label filter in alphabetical order?

![image](https://cloud.githubusercontent.com/assets/4627758/17365921/e4b9e570-5988-11e6-99a5-0b306b9dd962.png)

[2016-08-03 15:13] rrjanbiah commented on #738
@MaDie Do you have any plugins activated? Can you please check if disabling any plugins improve the performance?

[2016-08-03 15:18] rrjanbiah commented on #714
@darkblinded Thanks for your concern. If you're so particular about the behavior, replacing `sessionStorage` with `localStorage` across all files may bring such behavior. Please note that this suggestion is not tested, so take a backup before you replace.

[2016-08-03 15:21] rrjanbiah commented on #739
@MaDie Thanks for your report. We'll look into it.

@lmarikannan Please crosscheck with trello about this behavior

[2016-08-03 15:22] rrjanbiah commented on #740
@MaDie Thanks for a good suggestion.

[2016-08-04 05:22] rrjanbiah commented on #728
@Aendrew87 Thanks for your help. Much appreciated.

[2016-08-04 06:13] MaDie commented on #738
@rrjanbiah thats a screenshot with a chrome without any plugins

![image](https://cloud.githubusercontent.com/assets/4627758/17392095/39a1df92-5a1b-11e6-9d15-dbf4f8c34a27.png)

[2016-08-04 07:48] jofr49 commented on #728
Sorry for delay. Thank you for your help, I can't try for now but I come back soon here to test your suggestion.

[2016-08-04 08:59] Zimeon- opened #742 "Mail encoding with Non-ASCII characters and datetime"
Here's what you missedâ€¦
MÃ–
Mi Ã–ster updated item name as nnnnnn, -> SiirretÃ¤Ã¤n syyskuuulle.

should be:

MÖ
Mi Öster updated item name as nnnnnn. -> Siirretään syyskuulile.

Just a guess, missing headers with charset?

Also date seems to be epoch, the subject shows as following:
2 new notifications since 01:00 AM (January 1, 1970)

[2016-08-04 09:17] Zimeon- commented on #742
The time seems to have it's root cause from the user not having a timezone set, mayby add a fallback timezone?
Line 345 on instant_email_notification.php
$emailFindReplace['##SINCE##'] = date("h:i A (F j, Y)", strtotime($user['timezone']));

[2016-08-04 12:58] rrjanbiah commented on #732
@Aendrew87 Sorry about the delay. Yes, the options aren't user friendly. We'll definitely improve. In the meantime, please refer:

Bosh Service URL
`http://example.com:5280/http-bind/`
Jabber Host
`example.com`
Client Resource Name
`restya`

[2016-08-04 14:27] rrjanbiah commented on #742
@Zimeon- Thanks for your report. We'll fix it soon.

[2016-08-04 15:46] Aendrew87 commented on #732
@rrjanbiah thx for your answer - today it did not work - next week I will travel a little bit but after that week I will have a look on this case.

[2016-08-04 16:08] rrjanbiah commented on #732
@Aendrew87 Thanks for your note. Please check if your `ejabberd` is up and running in the mentioned host and port.

[2016-08-05 14:20] BlackDuck888 commented on #728
@Aendrew87 the installscript does not work with Ubuntu 16.10 very well, because 16.10 use newer packes as example php7.

@jofr49 i'am working on a install script which is working with Ubuntu 16.01/15.10, Debian 8.5 and Rasbian 8.

it will use apache.

i have to fix some problems with cron and ejabber settings right now, maybe mid next week i am ready for deploy.

[2016-08-06 13:56] tchncs opened #743 "adding users via webui not possible?"
Hi there, i just installed restyaboard and everything is working well so far.
But i cannot find any option to manually create a new user / enable sign ups.

Is this a pro-feature or just not implemented yet? Is the only way trello / ldap / psql shell?

Regards

[2016-08-06 18:57] tchncs opened #745 "randomly missing thumbnails in webui (pc)"
Hi there, i tested with Vivaldi and Firefox.
In Vivaldi where the thumbnails broken since the beginning,
in Firefox i had them for some time but their lost again.

I never had this problem with Firefox on Android 'til now, there looks everything as expected.

Since i didn't saw anything helpful in the nginx log, i thought it might be a good idea to create an issue.
I am using the latest board rele

[2016-08-07 16:37] BlackDuck888 commented on #732
i did't get XMPP run. i think everything is fine. i used the ejabber.yml from your github.

the apache log shows.

`[Sun Aug 07 18:25:04.154746 2016] [:error] [pid 17425] [client 192.168.195.30:59468] PHP Fatal error:  Uncaught XmppPrebindConnectionException: No encryption supported by the server is supported by this library. in /var/www/restyaboard/server/php/libs/vendors/xmpp-prebind-php/XmppPre

[2016-08-07 18:23] Aendrew87 commented on #728
@BlackDuck888 in this case it is Ubuntu 16.4, not Ubuntu 16.10

[2016-08-08 06:42] BlackDuck888 commented on #728
@Aendrew87 i missed that Ubuntu 16.4 was named, but 16.4 packages more similar to 16.10 then 15.10. It uses php7 to like 16.10

@jofr49 what did `lsb_release -r -s` i need this information for my install script.

[2016-08-08 07:28] jofr49 commented on #728
@BlackDuck888  The lsb_release -r -s returned ubuntu 16.04.
Effectively I have tried to install restyaboard on debian 8.5, and don't have this trouble. I did not go further after installation but I can say that at least.

[2016-08-08 12:03] npotier opened #746 "app tab is not visible"
Hello, I've tried to use Restya Board through a Docker instance (https://github.com/namikingsoft/docker-restyaboard)

I want to use Zapier ton plug my Redmine to Restya, but my problem is that I don't see the "apps" tab appearing in the footer of the page. (cf. documentation : http://restya.com/board/integrations)

Is there something special to enbale this tab ? Thanks in advance.

[2016-08-08 12:22] npotier commented on #746
Nevermind, i guess I didn't see the doc here : http://restya.com/board/apps and the repo to download apps here : https://github.com/RestyaPlatform/board-apps

[2016-08-08 12:22] #746 closed

[2016-08-11 02:47] Phanvyvt commented on #714
Hi @rrjanbiah, @darkblinded,
Can you instruct me to replace sessionStorage with localStoraga? Where am I supposed to replace it? Many thanks!

[2016-08-11 10:55] darkblinded commented on #714
@Phanvyvt  you really should not to this. This stuff belongs in session cookies for good reasons. I hope @rrjanbiah will reconsider this.

[2016-08-12 05:19] Zimeon- opened #748 "Dashboard Unassigned counts archived cards"
"Unassigned" on the top right also counts archived cards that do not have an assigned member. Doubt this is how it's designed.

[2016-08-12 10:38] tititestor opened #749 "Problem Install on Ubuntu 16.04"
Hello,

Could you help me ?
This is my install log.

Sorry for my english
Best regards,
Titi

[restyaboard_install.zip](https://github.com/RestyaPlatform/board/files/415124/restyaboard_install.zip)

[2016-08-13 17:24] graebermedien opened #750 "Add an option to Save Login Data (cookie/session) or login by url with credentials"
Hi,

would it be possible to Add an option to Save Login Data (cookie/session) or login by url with credentials ?

I am using the board in an iframe and i need to re-login all the time ...can we implement some session-management or direct-login configuration possibility?!

Thanks!

[2016-08-14 15:54] tititestor commented on #749
Resolved,

I made manually installation on Ubuntu 14.04 using nginx

[2016-08-14 15:54] #749 closed

[2016-08-14 20:25] Aendrew87 commented on #743
@tchncs login with user 'admin' and password 'restya' after that you find a button 'Admin' on the bottom - there click on the top on 'Users' after that you find 'Add User' on the top

![add_user](https://cloud.githubusercontent.com/assets/13086377/17651793/df24fc7e-626d-11e6-8ede-747e51801a9d.png)

[2016-08-14 20:28] Aendrew87 commented on #734
I found out, that this only happens for activation mails and new users are activated by default.

[2016-08-14 20:41] Aendrew87 commented on #732
@rrjanbiah i tried to install v0.3.0 (with the installations script) on a cleane debian but now I got some information doubled.
I also tried to execute the steps without the script but got the same result.
![xmpp](https://cloud.githubusercontent.com/assets/13086377/17651834/bec60116-626e-11e6-8959-b619dab7b313.png)

This is a screenshot after i saved the configuration and reloaded the page.
I ente

[2016-08-14 20:52] Aendrew87 opened #751 "Maximum length of a username"
I tried to create a few users with long names and got the error 'Username. Minimum 3 characters'.
Nice to know the minimum but what is the maximum?

For example i tried something like that 'thisismydemouser'.

The maximum seams to be 15 characters but this information is missing.

[2016-08-14 20:56] Aendrew87 opened #752 "Static paths in installation script"
In the installation script you use 'DOWNLOAD_DIR' with the value '/opt/restyaboard'.

Somtimes you use this variable but not in any cases.
There are a few commands where you use the static path.

[2016-08-14 21:03] tchncs commented on #743
Thanks for your answer, this buttons was not there.
I choosed wekan for now for several reasons, but miss some cool features.

However, i will give restya another try somewhen.
I used the latest release if it helps btw.

[2016-08-15 06:20] rrjanbiah commented on #752
Thanks for your report. We'll fix it soon.

[2016-08-15 06:20] rrjanbiah commented on #751
Thanks for your report. We'll fix it soon.

[2016-08-15 06:22] rrjanbiah commented on #750
This is possible. Probably, you're asking for #714 ?

[2016-08-15 06:23] rrjanbiah commented on #748
Yes, this was designed such; but it is really confusing. Have to fix it. Thanks for your report.

[2016-08-15 06:27] rrjanbiah commented on #745
@tchncs Sorry for the delay...

Thumbnail creation login requires ImageMagick or GD. Probably, you may be missing them. Or, there may be some memory issue when it creates thumbnail. Try increasing the memory limit.

Also, `img` folder needs write permission for saving thumbnails.

Please try enabling debug mode and see if you're getting any error message in the page or in HTTP header.

[2016-08-15 06:30] rrjanbiah commented on #743
@tchncs Sorry for the delay. Thanks @Aendrew87 for helping.

Probably, you've enabled LDAP login? Adding user is currently not possible when you enable LDAP. If this is a common requirement, we'll need to address that too.

[2016-08-15 06:33] rrjanbiah commented on #732
@Aendrew87 Sorry about that. This is a known issue #705 and fixed in `dev` branch. But, due to some other priority in hand, we couldn't release in time.

[2016-08-15 06:35] rrjanbiah commented on #749
@tititestor Glad to know. And sorry for not able to help you properly.

[2016-08-15 07:16] graebermedien commented on #750
Yes, this AND maybe it could be possible to add an manual configuration option for an url with auto-http-login so that if someone uses an url like:

https://Aladdin:OpenSesame@www.example.com/index.html

(or similar) automatically gets logged in into a board X ?

[2016-08-15 07:37] BlackDuck888 commented on #732
@Aendrew87 you can try my installscript, it is a beta but it work better right now. some different is that i am using apache. i would prefer a clean ubuntu but the latest debian should work to.

[https://github.com/BlackDuck888/board/tree/contrib/installscript/install]

[2016-08-15 11:47] sampavone opened #753 "Creation of new user role does nothing"
When adding a new user role, the column is created in the settings page but you are unable to give any user permissions to the new role. Additionally, when creating a new user, you are unable to assign a newly created role to that user.

[2016-08-15 14:42] sampavone opened #754 "When un-archiving card with checklist, progress bar does not update"
Create a card, add a checklist to the card with at least one item. Check the item and see the progressbar update (fill in green). Then archive the card and unarchive - status of checklist is correct but green bar in checklist does not update until checklist items are changed.

[2016-08-15 14:45] sampavone opened #755 "SQL creation script creates two "Cards Workflow" tabs"
Running the fresh install sql script creates two "Cards Workflow" tabs:

offending line is line 5169 of restyaboard_with_empty_data.sql:
13	2016-06-28 07:47:21.765	2016-06-28 07:47:21.765	\N	Cards Workflow	\N	7

[2016-08-15 14:46] sampavone opened #756 "SQL creation script creates two instances of option "Default Card Open""
line 5228 in SQL potentially duplicates line 5227:

57	3	0	DEFAULT_CARD_VIEW	Maximized	\N	select	Maximized,Normal Dockmodal	Default Card Open	7

[2016-08-15 16:43] Aendrew87 commented on #732
@BlackDuck888 the solution in #705 is to execute a few sql statemente so I think this is less work
@rrjanbiah no problem, so I will try to execute this sql statements on my test installation

[2016-08-15 18:35] Aendrew87 commented on #732
@rrjanbiah the two sql statements from #705 solved the doubled information

After that I found several problems with the ejabberd configuration :(

1. ejabberd is not started after a reboot
2. The configfile (ejabberd.yml) had default username and password (there where some errors in '/var/log/ejabberd/error.log')
3. The sql dump was imported with user 'postgres' (psql -d ${EJABBERD_DBNAME} -f "/o

[2016-08-16 06:53] iacsvrn opened #757 "Don`t work elastic search"
Hello. I can`t find any text on board.

In settings, I set http://localhost:9200/ and "word" ( i.e.) as index.

But localhost isn`t lan ip of serv.

[2016-08-16 06:54] iacsvrn opened #758 "Dublicate menu"
/ Admin CP / Settings  --> double "Cards Workflow" menu. One of then are empty.

[2016-08-16 06:55] iacsvrn opened #759 "Change user password from admin dashboard"
It would be convenient to change the password of the admin panel

[2016-08-16 07:09] BlackDuck888 commented on #732
@Aendrew87 Is ejabber working within rastyaboard with this modification? I think i did same in my install script, admin logon work for me, but within rastyaboard i did get it work.

[2016-08-16 09:05] sampavone commented on #758
Duplicate of [#755](https://github.com/RestyaPlatform/board/issues/755)

[2016-08-16 10:25] keky opened #760 "Can not upload attachment"
When I use [add attachment], The debug message shows below:
![image](https://cloud.githubusercontent.com/assets/548338/17687243/090056b8-63a6-11e6-9c7d-983ffbbc71ac.png)

When I paste the picture from snapshot,It shows below,But the picture did not really upload.
![image](https://cloud.githubusercontent.com/assets/548338/17696069/a184d002-63de-11e6-9113-f02819d3bde4.png)

Any idea what should I do

[2016-08-16 11:39] #760 closed

[2016-08-16 18:57] Aendrew87 commented on #732
@BlackDuck888 No, it does not work - I still get 'Failed authentication for admin@192.168.254.129'

[2016-08-16 19:04] Aendrew87 commented on #732
@BlackDuck888 In your install script you do more steps then i did

`sed -i 's/restya.com/'$webdir'/g' /etc/ejabberd/ejabberd.yml`
`sed -i 's/ejabberd15/'${EJABBERD_DBNAME}'/g' /etc/ejabberd/ejabberd.yml`
`sed -i 's/odbc_username: \"postgres\"/odbc_username: \"'${EJABBERD_DBUSER}'\"/g' /etc/ejabberd/ejabberd.yml`
`sed -i 's/odbc_password: \"\"/odbc_password: \"'${EJABBERD_DBPASS}'\"/g' /etc/ejabber

[2016-08-16 19:23] Aendrew87 commented on #732
ok, i checked the changes.

In config.inc.php the install script did all the work.
In ejabberd.yml there was no 'ejabberd15'.

So this not the solution :(

[2016-08-16 19:27] Aendrew87 commented on #732
@BlackDuck888 here is my ejabberd.yml ([ejabberd.yml.txt](https://github.com/RestyaPlatform/board/files/421136/ejabberd.yml.txt)) maybe you could compare it with your version?

[2016-08-16 20:02] Aendrew87 commented on #732
@BlackDuck888 today you owned some kisses... with your install script the chat is working - one suggestion for your script: install 'git' because it is needed for ejabberd (#722)

Tomorrow I will compare the differences between my first installation in the current installation.

[2016-08-16 20:04] Aendrew87 commented on #734
Sorry, my fault... activation mails will only be send when a user registers - i added the new user with the admin account

[2016-08-16 20:04] #734 closed

[2016-08-16 21:13] PZalacain opened #761 "Unable to Login after installation"
Hi RESTYA team.
I've installed manually Restyaboard on an Apache Server with CentOS6.

Actually the board looks like is working, I can access to the Login page, but is unable to Login: http://restya.wedev.es/

The strange thing is that when I use good credentials like "user/restya" I receive this message "wrong password or used deasctivated", then (after error message) if I click on any link, the

[2016-08-17 05:34] rrjanbiah commented on #759
@iacsvrn It is already available in "Change Password" menu for the logged in user. Available in footer under `user icon->Change Password`

[2016-08-17 05:34] #759 closed

[2016-08-17 05:39] rrjanbiah commented on #758
Possible duplicate of https://github.com/RestyaPlatform/board/issues/705#issuecomment-231329066

[2016-08-17 05:40] rrjanbiah commented on #756
Possible duplicate of https://github.com/RestyaPlatform/board/issues/705#issuecomment-231329066

[2016-08-17 05:40] rrjanbiah commented on #755
Possible duplicate of https://github.com/RestyaPlatform/board/issues/705#issuecomment-231329066

[2016-08-17 06:27] BlackDuck888 commented on #732
@Aendrew87

- i download the ejabberd.yml from https://github.com/RestyaPlatform/board/blob/master/ejabberd.yml in this config 'ejabberd15' exist
- in the original script the username and dbname are swapped, thats is definitely wrong
- i added git right now, ejabberd should not need it because i use the dist package, but i need it for the rasty apps

You say the chat is working, is it working with

[2016-08-17 07:03] sampavone commented on #755
Will close as duplicate, although [#705](https://github.com/RestyaPlatform/board/issues/705#issuecomment-231329066) is a symptom of the sql duplication?

[2016-08-17 07:03] #755 closed

[2016-08-17 07:03] sampavone commented on #756
Will close as duplicate, although [#705](https://github.com/RestyaPlatform/board/issues/705#issuecomment-231329066) is a symptom of the sql duplication?

[2016-08-17 07:03] #756 closed

[2016-08-17 20:32] Aendrew87 commented on #732
@BlackDuck888

I checked that and you are right. The 'ejabberd15' is the name of the database.
In your install script you use this command:
`sed -i 's/ejabberd15/'${EJABBERD_DBNAME}'/g' /etc/ejabberd/ejabberd.yml`
So I only searched for 'ejabberd15' but the name of the database was allready changed.
Maybe you would update this line with something like that:
`sed -i 's/odbc_database: \"ejabberd15\"

[2016-08-17 22:36] iacsvrn commented on #759
I mean that the admin change pass for other users

[2016-08-18 05:32] lmarikannan commented on #761
@PZalacain Can you please enable debug mode in https://github.com/RestyaPlatform/board/blob/master/server/php/config.inc.php#L15 and post HTTP response header and response (In Firebug or Chrome's Developer tool)

[2016-08-18 06:41] lmarikannan commented on #754
@sampavone Thanks for your report. We'll fix it soon.

[2016-08-18 06:41] lmarikannan commented on #753
@sampavone Thanks for your report. We'll fix it soon.

[2016-08-18 07:03] lmarikannan commented on #738
@MaDie Sorry for delay, and thanks for your report. We'll fix it soon.

[2016-08-18 07:14] BlackDuck888 commented on #732
@Aendrew87 i get this.
![screen](https://cloud.githubusercontent.com/assets/17740762/17765074/dc8bf46e-6523-11e6-9faa-765b16f772a6.gif)

i never got connected, and i used my script on debian 8.5 to.

are you german? i saw the german header in the window. (dann können wir das auch auf deutsch machen, meine email ist im github sichtbar)

[2016-08-18 11:08] MrManor opened #762 "Script install fails"
Absolute noob here trying to install using script on a freash Ubuntu16.04.1 LTS server. Install ends at
[code]

[2016-08-18 12:02] lmarikannan commented on #740
fixed in dev branch

[2016-08-18 12:02] #740 closed

[2016-08-18 14:51] keky commented on #704
anyway to solve this problem?thx

[2016-08-18 17:00] BlackDuck888 commented on #762
The script from Restya does not work very Well with ubuntu 16.

You can try my script from.
[https://github.com/BlackDuck888/board/tree/contrib/installscript/install]

[2016-08-19 07:32] lmarikannan commented on #748
Fixed in dev branch

[2016-08-19 07:32] #748 closed

[2016-08-19 11:27] MrManor commented on #762
Thank you BlackDuck. Your script got me quite a lot further. Although not completly to a working system. During run I see several
`su: Permission denied
(Ignored)`
I hope these are safe to ignore?
And how about :
`psql:/var/www/restyaboard/sql/restyaboard_with_empty_data.sql:23: ERROR:  must be owner of extension plpgsql`

[2016-08-19 11:37] BlackDuck888 commented on #762
Hi Klaus,

is should be safe to ignore!

Line 23 = COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';

this is already executet at line 210 of the install script as own task.

--

Marc Schubert
marc.schubert@gmail.com
Am Alten Sportplatz 35, D-31275 Lehrte/Ahlten
Tel +49-5132-8858000, Fax +49-5132-8858001
PGP-Key   4096RSA ID: 0xCF461802

Am 19.08.2016 um 13:27 schrieb Klaus Vink Slot

[2016-08-19 11:39] MrManor commented on #762
Thanks. After removing apache default site I am now able login and start playing around.

[2016-08-19 11:42] BlackDuck888 commented on #762
it should work with the default site, if you use an fqdn in setup and if
you access the site over these fqdn. The apache config is a vhost
config, which requires a fqdn to work.

--

Marc Schubert
marc.schubert@gmail.com
Am Alten Sportplatz 35, D-31275 Lehrte/Ahlten
Tel +49-5132-8858000, Fax +49-5132-8858001
PGP-Key   4096RSA ID: 0xCF461802

Am 19.08.2016 um 13:39 schrieb Klaus Vink Slott:

[2016-08-19 11:53] MrManor commented on #762
Hmm.. I not sure I understand. If I leave 000-default.conf in place, I only see Ubuntus default Apache index.html. And yes I use fully kvalified domain name to contact this server.

[2016-08-19 12:01] BlackDuck888 commented on #762
i can delete it, but it should work with 000-default.conf in place.

while setup you get asked for in fqdn this is set as ServerName in restyaboard.conf file. In my case i used restya.fritz.box if i open http://restya.fritz.box in a browser apache knows to use the restyaboard.conf instead of 000-default (only if no ServerName var with restya.fritz.box in 000.default exists of course). this is call