[2021-06-02 10:42] daryl-o commented on #4275
This might be related to #4273

[2021-06-02 14:33] srileka opened #4276 "Whenever I add a card, it goes to some random place (not getting added to the last)"
## Expected Behavior
Whenever I add a card, it should be add to the last)

## Current Behavior
Whenever I add a card, it goes to some random place (not getting
added to the last)

## Screenshots (if appropriate):

## Possible Solution

## Steps to Reproduce (for bugs)
Move the card from one list to another list and then trying to add the new task, that time added task position is wrong

## Context

[2021-06-03 12:33] srileka opened #4277 "Notification bell icon in the card is showing for the current user"
## Expected Behavior
Current user doing any activity, Notification bell icon should not show in the card for the current user

## Current Behavior
Notification bell icon in the card is showing for the current user

## Screenshots (if appropriate):

## Possible Solution

1. Open the board and wait for sometime
2. After that, moving the card from one list to another list.
3. That time notification b

[2021-06-03 12:38] srileka opened #4278 "After moving the card from one list to another list, trying to add the card for current list, task added another list"
## Expected Behavior

While adding the card, card should be add in current list

## Current Behavior

After moving the card from one list to another list, trying to add the card for current list, task added another list

## Screenshots (if appropriate):

## Steps to Reproduce (for bugs)

1. Open the board and wait for sometime
2. After that, moving the card from one list to another list.
3. After

[2021-06-03 14:51] #4273 closed

[2021-06-04 08:31] sridhar391 commented on #4277
related issue https://github.com/RestyaPlatform/board/issues/4277

Fixed the issue on the commit https://github.com/RestyaPlatform/board/commit/0dc70428ddb81ba24d5dd2708589fb208202d902

[2021-06-04 08:31] #4277 closed

[2021-06-04 14:51] sridhar391 commented on #4275
@daryl-o We have fixed the issue on the commit https://github.com/RestyaPlatform/board/commit/448c958cdbd40aebf5fc57843a83fe3c7d29ae13 and the fix will be available on the upcoming release

[2021-06-04 14:51] #4275 closed

[2021-06-13 19:13] mgifford opened #4280 "Add Accessibility Statement & do accessibility review"
## Expected Behavior
I'd like to know if teams with people with disabilities are able to use this kanban tools. Right now I have no idea if this tool complies with WCAG 2.1 AA or is usable by people with disabilites.

## Current Behavior
It is difficult to know what efforts have been done for accessibility.

## Possible Solution
I'd like to see an accessibility statement & maybe a VPAT
https://www

[2021-06-16 04:49] sridhar391 commented on #4271
@DemonRem Thanks for explaining about the use case and we will implement it in the upcoming version

[2021-06-16 04:49] sridhar391 commented on #4272
@DemonRem Thanks for explaining about the use case and we will implement it in the upcoming version

[2021-06-16 05:08] sridhar391 commented on #4280
@mgifford Can you please give us an example for of what are the expectations in Restyaboard?

[2021-06-16 05:09] sridhar391 commented on #4263
@curiousmitchell Can you please tell us the issues you are facing in the .htaccess file?

[2021-06-16 17:16] mgifford commented on #4280
This is Drupal's accessibility statement - https://www.drupal.org/about/features/accessibility - note it is in the footer of every page.

Easy to find accessibility errors in many projects by just using https://wave.webaim.org/ to look for bugs in the UI that break W3C best practices for accessibility.

[2021-06-22 11:11] sridhar391 commented on #4280
@mgifford Thanks for the explanation, we will check and implement this feature on our next version v0.7.1

[2021-07-07 12:21] gcommit opened #4282 "Restyaboard shows whitepage and keeps reloading"
I followed these instructions, but with php7.4
https://slacker.ro/2020/01/06/how-to-install-restyaboard-on-debian-buster/

When i build my restyaboard, i will get a whitepage with an orange loading bar, which keeps loading from new, every second. In the nginx logs i can see this:

[code]

Nginx is up and running, postresql, fpm as well and i get no errors during the installation

Can someone help?

[2021-07-07 14:18] sridhar391 commented on #4282
@gcommit You can use the Restyaboard installation script to install Restyaboard on your debian system,

Please attach the Nginx error log in the folder path "/var/log/nginx/error.log", it can be an issue of database connection or file permission issue

[2021-07-07 14:20] joseluisq commented on #4264
I don't get why we need to create a super user and one db for the application at startup if we can provide it from configuration wise.

In our case we got the following below when we tried to upgrade from `v0.6.7` to latest `v0.6.9`. So now we can not upgrade anymore.
Also we noted that the env variables for `v0.6.7` are broken and are not working on `v0.6.9` anymore.

[code]

[2021-07-07 14:23] gcommit commented on #4282
The error log is empty, the db connection is successfull and i can't use your install script, since it needs manual input and i can't use it with an automated docker setup.

Everythings needs to be installed and configured in setup.sh and Dockerfile, so when i start an "docker-compose up --build" i will get an fully installed and configured restyaboard

[2021-07-07 14:25] gcommit commented on #4282
i also changed permissions of files mentioned here: (manual install)
https://restya.com/board/docs/install-restyaboard/

[2021-07-08 10:21] gcommit commented on #4282
any suggestion?

[2021-07-10 16:32] manakill commented on #4282
Absolutely agree with the Docker suggestion. I am facing a similar issue every few months there is some kind of failure that results in this similar white screen issue. I would love to have a simple Docker image running, with storage on external hard drive setting, so that when an error was faced we could just Rebuld the Docker Container and everything would be back to working in minutes.

[2021-07-10 16:48] manakill opened #4283 "[Bug] Special File Types cause issues - placeholders are needed"
We have a lot of different file types getting posted on our Restyaboard. Certain file types will cause issues and should be handled differently.

My Restyaboard is currently being restored from backup due to some unknown issue causing it to stop working, so I cannot share many details at the moment, but thought I'd post it while I was thinking of it.

Type .psd Photoshop Document causes a big lag

[2021-07-10 17:15] manakill opened #4284 "[Add] Admin Setting for Daily Backup and easy Restore"
As we all know, backups come in handy when we are facing an issue and need to get it working again fast. There should be a setting that allows Daily Backups of all the files and dump a .tar or .zip

Currently we are doing Drive Clone manually, on the microsd card, and that means downtime and irregularity in backups. Having a good Docker Container paired with a 3rd Party Backup option could work to

[2021-07-12 04:45] sridhar391 commented on #4282
@gcommit Can you please send us the instructions you have followed to setup the Restyaboard in docker

[2021-07-12 05:39] gcommit commented on #4282
I already did ...

"I followed these instructions, but with php7.4
https://slacker.ro/2020/01/06/how-to-install-restyaboard-on-debian-buster/"
"i also changed permissions of files mentioned here: (manual install)
https://restya.com/board/docs/install-restyaboard/"

[2021-07-12 14:40] srileka opened #4285 "From the project page, if we trying to go the dashboard page, it's very difficult"
From the project page, if we trying to go the dashboard page, it's very difficult

[2021-07-12 14:41] srileka opened #4286 "Dashboard dropdown design and alignment gets broken"
Dashboard dropdown design and alignment gets broken

[2021-07-12 14:41] srileka opened #4287 "Organization page, check the header options alignment and check the members page alignment"
Organization page, check the header options alignment and check the members page alignment

[2021-07-12 14:42] srileka opened #4288 "Board page, first add the one list. Next cursor automatically should go the add a list option like web"
Board page, first add the one list. Next cursor automatically should go the add a list option like web

[2021-07-12 14:42] srileka opened #4289 "Modal card, right side please check all the field design. Note: Please check all the pages"
Modal card, right side please check all the field design. Note: Please check all the pages

[2021-07-13 06:30] srileka opened #4290 "Checklist add item, item options design gets broken"
Checklist add item, item options design gets broken

[2021-07-13 06:30] srileka opened #4291 "Test box having the lengthier text, need scroll option in text box"
Test box having the lengthier text, need scroll option in text box

[2021-07-13 06:30] srileka opened #4292 "Check the success and failure message in in left side. Alignment is wrong"
Check the success and failure message in in left side. Alignment is wrong

[2021-07-13 06:32] srileka opened #4293 "Check the board list view - design gets broken"
Check the board list view - design gets broken

[2021-07-13 06:32] srileka opened #4294 "Check the board calendar view - design gets broken (week, month and day view)"
Check the board calendar view - design gets broken (week, month and day view)

[2021-07-13 06:33] srileka opened #4295 "In board list view, choosing the column unable to change the field position"
In board list view, choosing the column unable to change the field position

[2021-07-13 06:33] srileka opened #4296 "Custom mobile app, while editing field design gets broken in some field(bottom some field)"
Custom mobile app, while editing field design gets broken in some field(bottom some field)

[2021-07-13 06:34] srileka opened #4297 "Check the wiki page alignment"
Check the wiki page alignment

[2021-07-13 06:34] srileka opened #4298 "Check the delete content alignment in card template management"
Check the delete content alignment in card template management

[2021-07-13 06:35] srileka opened #4299 "After adding the list in project check the line in list"
After adding the list in project check the line in list

[2021-07-13 06:35] srileka opened #4300 "Card moving option is difficult in Kanban view"
Card moving option is difficult in Kanban view

[2021-07-13 06:36] srileka opened #4301 "Check the close board alignment"
Check the close board alignment

[2021-07-13 06:36] srileka opened #4302 "Check the apps alignment"
Check the apps alignment

[2021-07-13 06:37] srileka opened #4303 "Check the header alignment in organization page"
Check the header alignment in organization page

[2021-07-13 06:38] srileka opened #4304 "Check the change language alignment"
Check the change language alignment

[2021-07-13 06:39] srileka opened #4305 "Check the users page alignment"
Check the users page alignment

[2021-07-13 06:39] srileka opened #4306 "Check the edit role alignment(users, boards, cards and organization)"
Check the edit role alignment(users, boards, cards and organization)

[2021-07-13 06:39] srileka opened #4307 "Check the oauth application page alignment"
Check the oauth application page alignment

[2021-07-13 06:40] srileka opened #4308 "If we click to open the notification in app, app opened. But particular card is not opened"
If we click to open the notification in app, app opened. But particular card is not opened

[2021-07-13 06:41] srileka opened #4309 "Notification restya logo is different"
Notification restya logo is different

[2021-07-13 06:43] srileka opened #4310 "If we go to the other apps and then open the board app, one line is displayed center"
If we go to the other apps and then open the board app, one line is displayed center

[2021-07-13 06:44] srileka opened #4311 "No results found page, scroller should not be display"
No results found page, scroller should not be display

[2021-07-13 06:45] srileka opened #4312 "Profile page, value gets blinking in last notification column"
Profile page, value gets blinking in last notification column

[2021-07-13 06:45] srileka opened #4313 "Settings page, three mobile app tab is displayed"
Settings page, three mobile app tab is displayed

[2021-07-13 07:14] srileka opened #4314 "Upgrade to enterprise window design gets broken in right side"
Upgrade to enterprise window design gets broken in right side

[2021-07-13 07:15] srileka opened #4315 "Upgrade window first time displayed top. If we minimize and the maximize, it's displayed bottom"
Upgrade window first time displayed top. If we minimize and the maximize, it's displayed bottom

[2021-07-16 11:26] sridhar391 opened #4321 "Check the header alignment in particular user page"
Check the header alignment in particular user page

[2021-07-19 09:56] gcommit commented on #4282
So? Any News?

[2021-07-20 12:12] sridhar391 commented on #4292
Fixed the issue in the local commit and the fix will be available in the upcoming release v0.7 (Scorpions)

[2021-07-20 12:12] #4292 closed

[2021-07-20 12:14] sridhar391 commented on #4298
Fixed the issue in the local commit and the fix will be available in the upcoming release v0.7 (Scorpions)

[2021-07-20 12:14] #4298 closed

[2021-07-21 06:48] sridhar391 commented on #4315
@srileka Not able to reproduce the issue

[2021-07-21 07:14] sridhar391 commented on #4312
@srileka The last notification column has been updated frequently for showing the push notification shown

[2021-07-21 07:14] #4312 closed

[2021-07-21 07:18] sridhar391 commented on #4288
@srileka In the board page after adding the list, the cursor is focused to the add list, but in mobile view, we need to scroll right in the board page to view the add list form

[2021-07-21 07:18] #4288 closed

[2021-07-21 07:25] sridhar391 commented on #4294
@srileka The calendar view of the board page is shown correctly and we have used third party plugin for showing the calendar view

[2021-07-21 07:25] #4294 closed

[2021-07-21 07:31] sridhar391 commented on #4311
@srileka The result page is shown in the overlay page to the current page and if the current page is having the scroller, then the result page will also have scroller

[2021-07-21 07:31] #4311 closed

[2021-07-21 07:40] sridhar391 commented on #4310
@srileka Not able to reproduce the issue, please inform us the steps to reproduce the issue

[2021-07-21 07:46] sridhar391 commented on #4308
@srileka We have only configured the notification to open the Restyaboard app

[2021-07-21 07:46] #4308 closed

[2021-07-23 07:37] sridhar391 commented on #4295
Fixed the issue in the local commit and the fix will be available in the upcoming release v0.7 (Scorpions)

[2021-07-23 07:37] #4295 closed

[2021-07-23 14:15] sridhar391 commented on #4313
@srileka Due to repeated execution of Insertion SQL command, the duplicate tabs shown and fixed them

[2021-07-23 14:15] #4313 closed

[2021-07-24 06:27] sridhar391 commented on #4302
@srileka Fixed the issue in the local commit and the fix will be available in the upcoming release v0.7 (Scorpions)

[2021-07-24 06:27] #4302 closed

[2021-07-24 06:31] sridhar391 commented on #4315
@srileka We have fixed this issue in the commit https://github.com/RestyaPlatform/board/commit/2dc3b848c88708c03b2e2dce846c83c0672bccbf

[2021-07-24 06:31] #4315 closed

[2021-07-26 06:59] #4276 closed

[2021-07-26 07:00] #4278 closed

[2021-07-26 07:00] #4290 closed

[2021-07-26 07:01] #4287 closed

[2021-07-26 07:01] #4293 closed

[2021-07-26 07:02] #4303 closed

[2021-07-26 07:02] #4304 closed

[2021-07-26 07:03] #4321 closed

[2021-07-26 07:03] #4314 closed

[2021-07-26 07:04] #4301 closed

[2021-07-26 07:04] #4306 closed

[2021-07-27 14:40] sridhar391 commented on #4282
@gcommit Sorry for the late response, can you please follow the instructions from the link https://restya.com/board/docs/install-restyaboard-docker/ for installation of Restyaboard in docker

[2021-07-27 14:47] sridhar391 commented on #4283
@manakill If the files have the large size and if the system memory is low, it will take time to load the attachment details and we are showing the preview for .jpg/.png/.gif/.bmp/.pdf and show placeholder for all other file types

[2021-07-27 14:48] sridhar391 commented on #4284
@manakill Thanks for your suggestion and we will internally discuss with in the team

[2021-07-27 14:54] gcommit commented on #4282
No. I Can't follow these steps, since this pre-configured does not fit in my infra. Thats why i follow
"I followed these instructions, but with php7.4
https://slacker.ro/2020/01/06/how-to-install-restyaboard-on-debian-buster/"
"i also changed permissions of files mentioned here: (manual install)
https://restya.com/board/docs/install-restyaboard/"

As is just said now for the 3rd time.

I need help

[2021-07-28 00:37] manakill commented on #4282
Sometimes I can resolve the whitepage issue by deleting cookies and temp internet files. Sometimes there is a Token left over that causes the whitepage issue

[2021-07-28 00:44] manakill commented on #4283
That makes sense.
.psd Photoshop Documents are usually large files and what cause the most issue that I've seen.

Ideally the system would know it's a .psd and not try to parse/render it at all

[2021-07-28 13:20] sridhar391 commented on #4282
@gcommit Please set R_DEBUG as true on the config.inc.php file in line 15 on /usr/share/nginx/html/restyaboard/server/php path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and copy the response of http://<restyaboard_url>/api/v1/oauth.json on the Network tab of Browser developer tools and paste it here.

[2021-07-28 13:29] sridhar391 commented on #4283
@manakill Thanks for the suggestion

[2021-07-29 14:43] daryl-o opened #4326 "Move board from one instance to another."
What is the preferred method to move a board from one instance of restyaboard to another? I know there is an export board function but the import methods don't include "import from restyaboard".

[2021-07-30 05:09] sridhar391 commented on #4326
@daryl-o Please follow the instructions from the documentation link https://restya.com/board/docs/backup-and-restore/#how-to-backup-and-restore-particular-board-or-all-boards-in-restyaboard to backup the board from one Restyaboard instance and restore it on the other Restyaboard instance

[2021-08-03 16:37] julesfarrow opened #4329 "Card content not loading for certain users after update to 1.7"
## Expected Behavior

When you click onto a card within a board, the overlay window should open and show the content of the card.

## Current Behavior

For at least one of my users (discovered so far) after the upgrade to 1.7 they are shown a partially loaded/mostly blank overlay window as per the screenshot below. They also have an error message in the js console:
`default.cache.js:1 Uncaught (in

[2021-08-04 03:46] gaoyan198 opened #4330 "Unable to add members to board"
I have registered new users in my test environment and created a new board. However, when I try to add new members to my board, the dropdown does not show the actual member when I type the member's name. Therefore I was unable to add anybody into the board.

## Expected Behavior
Should allow adding users to the board

## Current Behavior
Unable to add users to the board

## Screenshots (if appropr

[2021-08-05 07:33] sridhar391 commented on #4330
@gaoyan198 Can you please tell us if the registered users emails are confirmed?

You can check the confirmation of the users email in the Admin Panel users listing page http://<restyaboard_URL>/#/users,

[2021-08-05 07:42] sridhar391 commented on #4329
@julesfarrow In the Restyaboard latest version v1.7, In the Restyaboard admin panel, Roles page, we have added the cards tab, in which you can select the fields which you want to be shown to the particular board user role and for which board user role you don't want to show the fields

We have added the permission to view all the card details by the board user roles owner and editor and for the vi

[2021-08-05 08:13] gaoyan198 commented on #4330
@sridhar391 thanks for the response. I have not confirmed any of the users in email because even though I have set my from email address from a legitimate email, still I don't receive any email for the activation.

[2021-08-05 09:24] julesfarrow commented on #4329
@sridhar391 when I visit this page from an admin account, no content shows. Perhaps an issue during the upgrade to 1.7?

![image](https://user-images.githubusercontent.com/9074028/128326538-47b405ec-1cfc-4858-aea0-4293b8423d39.png)

[2021-08-05 15:03] susebus opened #4331 "iCal Feed breaks the restricted user permissions in v1.7"
## Expected Behavior

User with restricted board permissions should only see tasks he is assigned in an exported iCal Feed

## Current Behavior

User with restricted boards permissions can see ALL tasks in an exported iCal Feed

## Screenshots (if appropriate):

## Possible Solution

## Steps to Reproduce (for bugs)

1. add a user to a board you own
2. give the user "restricted" permissions for th

[2021-08-06 13:16] RichardPflaum opened #4332 ""save" button for labels does not appear on new added tickets"
## Expected Behavior
When I add a card and open it right away, it should behave like other cards including the save button for the labels appearing.

## Current Behavior
When creating a new card and trying to add a label the "save" button is not available.
After reloading the page, the save button appears.

## Screenshots (if appropriate):
![image](https://user-images.githubusercontent.com/4388362

[2021-08-06 14:47] sridhar391 commented on #4332
@RichardPflaum Please update your Restyaboard to the latest version v1.7(Scorpians) by downloading the release file from the release page https://github.com/RestyaPlatform/board/releases/tag/v1.7 and please execute the below SQL files on your Restyaboard database for updating the Restyaboard

[v0.6.8 to v0.6.9](https://github.com/RestyaPlatform/board/blob/master/sql/upgrade-0.6.8-0.6.9.sqll)
[v0.6

[2021-08-06 14:58] sridhar391 commented on #4329
@julesfarrow Can you please tell us if you have updated the Restyaboard using Restyaboard installation script "restyaboard.sh" and if you have updated using the installation shell script, please send us the Restyaboard log file named "restyaboard_install.log"

For updating the Restyaboard, please execute the SQL command from the link https://github.com/RestyaPlatform/board/blob/master/sql/upgrade-

[2021-08-06 15:04] sridhar391 commented on #4330
@gaoyan198 When emails are being sent from local machine and or intranet setup, most mail solutions such as Gmail may flag them as spam and will send them to spam folder. Unfortunately there is no good solution to handle this situation. You may however ask all users of such Restyaboard instance to set up filters in Gmail so that mails are sent to inbox instead of spam.

Please follow the instructi

[2021-08-06 15:56] julesfarrow commented on #4329
[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/6946619/restyaboard_install.log)

@sridhar391 yes, updated using "restyaboard.sh" from the home directory. Log file attached for your reference.

Running the .sql file above as "sudo -u postgres psql -d restyaboard -f upgrade-0.6.9-1.7.sql" from the instance solved this problem, for anyone else having the same issue.

[2021-08-06 15:56] #4329 closed

[2021-08-09 05:26] sridhar391 commented on #4329
@julesfarrow We have checked the log and you have used the old Restyaboard installation script file, that's why it didn't executed the ugrade SQL file

Thanks for the confirmation of the issue fix

[2021-08-10 20:10] idefy opened #4333 "Docker and Raspberry PI4 not working"
## Issue
docker compose seems to work, but I cannot access restya, on the browser, I have : ERR_CONNECTION_REFUSED
the ip and port are fine and I even tested locally with no success.

## Docker-compose logs
looking at the logs I see this returned :
`restyaboard_1  | standard_init_linux.go:228: exec user process caused: exec format error`
`{"log":"standard_init_linux.go:228: exec user process cause

[2021-08-11 04:21] Stoyvo opened #4334 "Docker Repo Needs Latest Release"
https://registry.hub.docker.com/r/restyaplatform/restyaboard/tags?page=1&ordering=last_updated

The last push to docker repository was 4 months ago and is missing tag v1.7. This is unfortunate to everyone who has not migrated to docker compose (Eg: Synology NAS applications using a UI)

[2021-08-11 10:56] sridhar391 commented on #4334
@Stoyvo We have updated the Restyaboard docker image with the latest version v1.7 (Scorpians) https://hub.docker.com/r/restyaplatform/restyaboard/tags?page=1&ordering=last_updated

[2021-08-11 10:59] sridhar391 commented on #4333
@BlackDark Can you please look into this issue?

[2021-08-12 11:00] daryl-o commented on #4326
Thanks for the link to the scripts. I ran into issues with restyaboard_put.sh. json_decode was choking on the POST data (in server/php/bootstrap.php). Not sure if was the way I copy/pasted the script or some other problem. When I took out the newlines in the post data, everything seemed to work properly. For  example (combing the lines instead of how they were formatted nicely in the script):
``

[2021-08-17 14:36] hex-m commented on #1238
There is something that looks "official" on the [play store](https://play.google.com/store/apps/details?id=com.restya.board). I didn't find the source code though.

[2021-08-19 09:21] sridhar391 commented on #1238
@hex-m Yes, we have published the Restyaboard Android app in the Google Play Store

[2021-08-19 09:25] sridhar391 commented on #4326
@daryl-o Thanks for the information

[2021-08-19 10:18] hex-m commented on #1238
Thanks! In that case this issue can be closed imo.

[2021-08-19 20:19] BlackDark commented on #4333
@idefy
Support for other archs does not exist yet. Docker images are currently only build for amd64 (x64 bit) and not arm.

@sridhar391 you can contact me personally and we can discuss how we can work together if you need support

[2021-08-24 15:34] #1238 closed

[2021-08-24 15:35] sridhar391 commented on #4333
@BlackDark Thanks for your information

[2021-08-26 09:23] pinkunicorn opened #4335 "Constant reload loop showing only "Powered by Restyaboard" after 1.7 upgrade"
I've had a working installation of restyaboard on Apache for a number of releases, but the upgrade to 1.7 caused problems. The database upgrade script ran without any errors, but when I installed the new web files and then try to access the server I only see a blank screen (apart from the text "Powered by Restyaboard") and the page keeps reloading.

This is what I find in the logs:

access_log:
15

[2021-08-28 06:16] kp3nguinz opened #4336 "Failure To Import Taiga (No Errors)"
## Expected Behavior
Import JSON from Taiga succeeds

## Current Behavior
We see "GET /api/v1/users/1/activities.json?type=all&last_activity_id=6&direction=ASC&token=XXX" 200 in nginx logs multiple times, but no successful import. Eventually we get a 524 http code from Cloudflare. The import file is 2MB. We upped the amount of workers to 50 and the memory limit to 1024 for the script. We're runnin

[2021-08-28 06:33] kp3nguinz commented on #4336
Failed on v1.7 too

[2021-08-28 06:39] kp3nguinz commented on #4336
Determined it was related to nginx client_max_body_size ! Added a larger value to my proxy and the host, and it works like a charm.

[2021-08-28 13:19] rrjanbiah commented on #4336
Reopening to fix `client_max_body_size` in the nginx conf

[2021-08-30 06:52] sridhar391 commented on #4335
@pinkunicorn  Can you please set R_DEBUG as true on the config.inc.php file in line 15 on '/srv/html/server/php/' path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and copy the response of http://restyaboard_url/api/v1/oauth.json on the Network tab of Browser developer tools and paste it here or copy the contents from your server error log and paste it here.

[2021-08-30 11:57] pinkunicorn commented on #4335
That gives what I already show in the error log.

Hans

[2021-08-31 15:04] sridhar391 commented on #4335
@pinkunicorn We have checked your Restyaboard URL and it seems that you are not using the Restyaboard latest version build files, Please download the Restyaboard latest version v1.7 (scorpians) build files from the link https://github.com/RestyaPlatform/board/releases/download/v1.7/board-v1.7.zip and unzip the file in your Restyaboard folder path `/srv/html/` and please tell us if the issue occure

[2021-09-01 11:58] pinkunicorn commented on #4335
In my installation (note: we are two separate people experiencing the same problem in this thread) I have the v1.7 files installed. Or to be really exact, I have the directories api_explorer, client, media, server, sql and tmp from the zip fil installed.

Hans

[2021-09-03 14:07] sridhar391 commented on #4335
@pinkunicorn We have accessed your Restyaboard URL and only the source code files are in the restyaboard folder path and not the build files, please download the Restyaboard latest version v1.7 (scorpians) build files from the link https://github.com/RestyaPlatform/board/releases/download/v1.7/board-v1.7.zip and unzip the file in your Restyaboard folder path /srv/html/ and please tell us if the is

[2021-09-09 12:55] DAigory opened #4337 "Broke after migrate to 1.7 with restyaboard.sh"
os: ubuntu
method to install and migrate:  restyaboard.sh

After last migrate to 1.7 the widgets is broke.
all the boards looks ok but if you will open any card you will see like on the screen below
![image](https://user-images.githubusercontent.com/9402450/132689447-575fbc93-6425-4a98-b56b-21f51b0aa340.png)

[2021-09-09 14:14] sridhar391 commented on #4337
@DAigory In the Restyaboard latest version v1.7, In the Restyaboard admin panel, Roles page, we have added the cards tab, in which you can select the fields which you want to be shown to the particular board user role and for which board user role you don't want to show the fields

We have added the permission to view all the card details by the board user roles owner and editor and for the viewer

[2021-09-10 08:42] DAigory commented on #4337
I logged in with admin and admin can can see card content but users cant'
In admin panel looks everything right but "Cards" is empty
![image](https://user-images.githubusercontent.com/9402450/132826321-4fd288b4-c1bb-4161-af18-9828c632156c.png)

[2021-09-11 05:50] sridhar391 commented on #4337
@DAigory Can you please tell us if you have updated the Restyaboard using Restyaboard installation script "restyaboard.sh" and if you have updated using the installation shell script, please send us the Restyaboard log file named "restyaboard_install.log"

For updating the Restyaboard, please execute the SQL command from the link https://github.com/RestyaPlatform/board/blob/master/sql/upgrade-0.6.

[2021-09-12 08:29] DAigory commented on #4337
I'm not sure but it my command for execute upgrade script right but what I got:

psql -U  -W  -f upgrade-0.6.9-1.7.sql                                                                                                      l
Password:
psql:upgrade-0.6.9-1.7.sql:210: ERROR:  syntax error at or near "<!"
LINE 1: <!DOCTYPE html>
        ^
psql:upgrade-0.6.9-1.7.sql:249: ERROR:  syntax error at or near "

[2021-09-13 04:41] sridhar391 commented on #4337
@DAigory Please downoad the latest version v1.7 update sql file from the link https://raw.githubusercontent.com/RestyaPlatform/board/master/sql/upgrade-0.6.9-1.7.sql and execute it in your Restyaboard database

[2021-09-13 06:50] DAigory commented on #4337
The problem fixed!
Everything is working well now
Thank you

[2021-09-14 04:43] sridhar391 commented on #4337
@DAigory Thanks for the confirmation of the issue fix by executing the update SQL file in Restyaboard database and we are closing the issue

[2021-09-14 04:43] #4337 closed

[2021-09-21 11:11] rrjanbiah commented on #4335
Closing due to inactivity

[2021-09-21 11:11] #4335 closed

[2021-09-21 11:11] #4334 closed

[2021-09-21 11:12] rrjanbiah commented on #4332
Closing due to inactivity

[2021-09-21 11:12] #4332 closed

[2021-09-21 11:15] #4326 closed

[2021-09-21 11:36] rrjanbiah commented on #1189
_Additional notes about the issue for those who're coming here directly._

Previously, the admin can reset a password for another user. When he enters a new password for another user (in the admin panel), that user will receive that in his email. This behavior was similar to that of GitLab at that time (few versions before https://subscription.packtpub.com/book/application-development/978178398684

[2021-09-21 12:30] sridhar391 opened #4338 "XSS issue in card name, card description"
## Expected Behavior
XSS issue should not be occurred in card name, card description

## Current Behavior
XSS issue in card name, card description

## Steps to Reproduce (for bugs)
1. Adding the card with name "<script>alert('xss test')</script>"
2. Adding the card description with "<script>alert('xss test')</script>"

[2021-09-21 18:53] AndreC10002 opened #4340 "Broken attachments on boards imported from Trello"
Restyaboard 1.7, Ubuntu, php 7.4.23, all OS packages updated - installed from Digital Ocean image.

The attachments on boards imported from Trello aren't successfully downloaded. All files created on /usr/share/nginx/html/restyaboard/client/img/original/CardAttachment/ contain the following: 'unauthorized permission requested'.

These files would be downloaded from https://trello.com/1/cards/... .

[2021-09-21 18:55] AndreC10002 commented on #4340
I can open a feature request, but it'd be great to have an import log so to know if something went wrong and what wasn't imported properly.

[2021-09-22 11:23] #4338 closed

[2021-09-23 06:05] rrjanbiah commented on #4340
@AndreC10002 We have noted that the public boards can be imported without any issue. For private boards, we may need to check your fix and work on that. Till then, as a quick solution, you may make the board public, export it and import it within Restyaboard

[2021-09-23 11:31] DAigory opened #4341 "add an attachment doesn't work"
hi. After migrate to 0.6.9 "Add an attachment" stop to work.
os: ubuntu
installation and upgrade method by easy script
For now I upgraded to 1.7 and still doesn't work

[2021-09-24 05:39] sridhar391 commented on #4341
@DAigory Can you please tell us from which Restyaboard version, you have upgraded to 0.6.9?

For the add attachment issue, can you please set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and copy the response of card attachment API call http://restyabo

[2021-09-30 12:31] daryl-o opened #4342 "organization permission issues"
If a user is added to a board in an organization they are not a member of, they have permission to create new boards within that organization. Not sure if this is intended. Tested with both restyaboard v0.6.9 and v1.7.

Steps to reproduce the issue:

- Create a new organization with a group of users
- Create a new board in the organization
- Add a user to the board who is not in the organization
-

[2021-10-01 09:39] mattsgreen opened #4343 "AuthProxy"
I notice that Restya Core supports AuthProxy, specifically allowing authentication with the X-Remote-User header.

I'm running Restya Board behind Traefik with the forward auth plugin - that passes the authenticated user in the X-Forwarded-User header.

Is it possible for me to streamline the auth process in Board using a header?

[2021-10-04 05:39] sridhar391 commented on #4343
@mattsgreen  Can you please tell us if you are asking about the Restyaboard or Restya Core?

[2021-10-04 06:36] mattsgreen commented on #4343
Restyaboard is where I would like to use proxy auth.

On Mon, 4 Oct 2021, 06:40 sridhar391, ***@***.***> wrote:

[2021-10-04 07:57] sridhar391 opened #4345 "Apps settings page content alignment"
## Expected Behavior
Apps settings page content alignment should be correct

## Current Behavior
Apps settings page content alignment

## Steps to Reproduce (for bugs)
1. Login as admin user
2. Goto the admin panel and apps listing page
3. Goto the app settings page

[2021-10-07 07:38] pinkunicorn opened #4347 "Empty page with "Powered by Restyaboard" after upgrade to 1.7"
## Expected Behavior
Working board.

## Current Behavior
After upgrade from 0.6.9 to 1.7, the only thing shown on the screen is "Powered by Restyaboard"

## Context
I have a working installation of Restyaboard 0.6.9 on a machine running CentOS 7. I want to upgrade this to restyaboard 1.7.

I started this by installing the CentOS software collection version of httpd (2.4.34) and php (7.2) since the

[2021-10-07 10:54] daryl-o opened #4348 "Popup disappears before an action can be taken"
The following issue happens with both v0.6.9 and v1.7. Tested using restyaboard inside docker and Google Chrome web browser. Steps to reproduce:

- Click on any card
- Under actions, choose move or copy card
- Select and item in one of the drop-downs
- Popup will disappear before the action button can be pressed and nothing happens

I've noticed the problem when trying other actions as well.

[2021-10-12 04:21] sridhar391 commented on #4347
@pinkunicorn  Can you please tell us that if you have downloaded the Restyaboard latest version v1.7(Scorpions) fbuild files from the latest release https://github.com/RestyaPlatform/board/releases/tag/v1.7

[2021-10-13 04:46] sarim opened #4350 "[Help] Right way to generate access_token from cli?"
[code]

I hacked together this code. Obviously I don't know password of the user, that's the point, I authenticated the user via other custom means already, now I want to log him in. Passing a random value in `password` works, but this token expires / becomes invalid after like 30min or so. Then restya board just renders as blank page. I have to clear cache then login page shows up. I guess `serve

[2021-10-18 07:07] sridhar391 opened #4352 "Restyaboard installation script file changes"
## Context
Restyaboard installation script file changes

[2021-10-21 22:10] erl4nc opened #4355 "Cannot move or copy card"
## Expected Behavior
Card can be copied or moved

## Current Behavior
Menu disappears before the action can be confirmed. Please see video below. **Note** issue exists in Edge Chromium and Chrome browsers, Firefox works. Edge is our corporate browser, so Firefox is not a workaround.

## Screenshots (if appropriate):
[restya.zip](https://github.com/RestyaPlatform/board/files/7393082/restya.zip)

##

[2021-10-23 11:55] sridhar391 opened #4356 "Documentation for changing board background from Unsplash images, import from monday.com, push notifications"
## Context
Documentation for changing board background from Unsplash images, import from Monday.com, push notifications

[2021-10-29 10:51] daryl-o opened #4358 "Themes?"
Are there any plans to implement themes? I think a dark mode theme would be pretty popular.

[2021-10-29 17:27] jfreak53 opened #4359 "Import from Tello"
Site says we can import from trello our old boards, but I'm not finding it in the documentation anywhere. How do I import boards from trello?

[2021-11-01 07:29] sridhar391 commented on #4359
@jfreak53  For Trello import, please follow the below steps
1. please login Restyaboard and click the Boards option in the footer and click the "Add Board" option like the attached image "add_board.png"
![add_board](https://user-images.githubusercontent.com/17172525/139636608-535e8fc5-a42b-4e25-a7d3-4ab91e53c528.png)

2. After that, please click the "import board" option like the attached image "i

[2021-11-01 21:43] arbv commented on #4343
That would have been a nice addition.

[2021-11-02 06:25] #4331 closed

[2021-11-04 11:39] daryl-o opened #4361 "API explorer moved"
I noticed in v1.7 that where it expects API explorer had been moved. I changed:
[code]
And could see the page again. Things seemed to work after that except generating a guest access token (top right-hand corner) didn't appear to do anything.

[2021-11-18 20:25] FarisHijazi commented on #4107
Check out this hacky solution https://greasyfork.org/en/scripts/433051-trusted-types-helper
It allows the untrusted HTML assignments in your browser.

[2021-11-19 08:15] srileka opened #4362 "All the drop down field, after choosing the some option, it's get closed"
## Current Behavior

All the drop down field, after choosing the some option, it's get closed

## Screenshots (if appropriate):

![option_closed](https://user-images.githubusercontent.com/14290356/142588738-87702709-1bb4-45d7-9169-0f6e2fa21bbc.png)

[2021-11-22 11:01] daryl-o commented on #4362
This is the issue reported in [#4348] and [#4355]

[2021-11-22 11:06] rrjanbiah commented on #4348
Taken care in #4362

[2021-11-22 11:06] #4348 closed

[2021-11-22 15:46] daryl-o commented on #4362
Note that this also affects the custom field app.

[2021-11-22 18:16] daryl-o commented on #4362
I was testing out the patch associated with this issue.  It fixes the problem we were seeing but created a new one. The board drop-down at the bottom left-hand corner doesn't bring up the menu any more.

[2021-11-23 06:21] sridhar391 commented on #4362
@daryl-o The custom field app issue also fixed and in the upcoming release, will send the fixed files and also fixed the board drop-down at the bottom left-hand corner doesn't bring up the menu issue in the commit https://github.com/RestyaPlatform/board/commit/e380937bf7b79002016c0d4b22b65877922c1915

[2021-11-23 07:18] #4362 closed

[2021-11-24 11:20] daryl-o opened #4364 "Code markdown isn't preserved in card comments"
If you create a code block (like XML) in the comments section of a card, the preview looks fine but the < and > tags are converted to &lt; and &gt; when the comment is saved.

For example

\`\`\`xml
\<foo\> here is some XML code \</foo\>
\`\`\`

[2021-12-05 10:00] ugintl opened #4365 "Commercial use"
I want to use it for a client. WHat are the conditions?

[2021-12-05 10:27] rrjanbiah commented on #4365
Thanks for your interest.

For redistribution and the commercial licence, please contact the sales team here https://restya.com/enterprise

[2021-12-05 10:27] #4365 closed

[2021-12-07 11:38] sridhar391 commented on #4358
@daryl-o We will discuss within the team and update you

[2021-12-07 11:40] sridhar391 commented on #4342
@daryl-o We have checked about the issue and for adding the board, the "Add Board" permission is managed on the user level permission and not among the organization level

[2021-12-07 13:39] sridhar391 commented on #4364
@daryl-o  if the users added any script tag content like "<script>alert(0);</script>" , we strip the tags to prevent the execution and if the user adds "<foo> here is some XML code </foo>" , it strips the tags

[2021-12-07 13:40] sridhar391 commented on #4359
Closing the issue due to inactivity

[2021-12-07 13:40] #4359 closed

[2021-12-11 04:45] sridhar391 opened #4366 "Installation script changes"
## Context
Installation script changes

[2021-12-11 07:48] #4356 closed

[2021-12-24 07:14] vrushabh583 commented on #4244
I got the same error in the console. how can I remove the error ??? i am not trying to migrated to service worker

[2022-01-10 16:12] razor950 opened #4368 "IMAP Issue"
I am getting e-mails that say this "Please check the permission for the shell folder of main.sh in your server"

I am actually not sure why the issue occurs fully or why doesn't it jut correctly assign its permissions, the folder that gets made ends up being a root:root and not a nginx:nginx owner:group so I don't know if that is part of the issue? I can nuke the folder and it'll be fine for a whi

[2022-01-11 04:40] sridhar391 commented on #4368
@razor950 Can you please tell us the instructions you have followed for the Restyaboard installation?
If you have installed Restayboard with Installation script [restyaboard.sh](https://raw.githubusercontent.com/RestyaPlatform/board/dev/restyaboard.sh), it will add the restyaboard user and create restyaboard group and it will apply suitable permisssion to the files

[2022-01-12 13:35] razor950 commented on #4368
I run restyaboard as a docker container, maybe those need to be updated with proper permissions?

[2022-01-13 10:57] daryl-o commented on #4368
I had to change docker-scripts/docker-entrypoint.sh to eliminate the messages.

[2022-01-13 16:32] razor950 commented on #4368
@daryl-o what did you change in it?

[2022-01-18 16:52] daryl-o commented on #4368
What I changed was overkill but I didn't feel like taking the time to narrow down further.
[code]

[2022-02-03 02:02] #4366 closed

[2022-02-03 02:02] #4345 closed

[2022-02-09 09:24] dominikfehr commented on #4368
I can confirm the behavior, thanks for the workaround @daryl-o

[2022-02-22 08:16] Cell20 commented on #1012
@lmarikannan  I'm on windows 10, using django in venv. I've nginx.conf in the config dir of the project which has this problematic code:
[code]
When I run `.\nginx -s reload` I get the following:
`nginx: [emerg] the unix domain sockets are not supported on this platform in upstream "unix:///tmp/educa.sock" in E:/web development/django/educa/educa/config/nginx.conf:3`

What should i replace for `un

[2022-02-22 22:06] emilvirkki opened #4374 "Reporting security issues"
I've discovered several critical security issues in Restyaboard, but I can't find any guidance on how to report those confidentially. Would it be possible for you to set up a security policy for the repository or otherwise document the procedures for reporting? :)

[2022-02-24 06:08] sridhar391 commented on #1012
@Cell20 We are not officially supporting the Django and please refer to the below documentation on how to configure the Restyaboard on your windows

- https://restya.com/board/docs/windows/
- https://restya.com/board/docs/manual-installation-windows-wpn-xm/
- https://restya.com/board/docs/windows-iis/

[2022-02-24 06:20] sridhar391 commented on #4374
@emilvirkki we have a contact link in our README.md file, can you please submit the critical security issues explanation from https://restya.com/contact?

[2022-02-24 22:14] emilvirkki commented on #4374
Did that - thanks for the instructions!

[2022-02-26 08:12] cuchipkg opened #4375 "error when reload button browser"
hello i have problem when reload button browser with this message
![image](https://user-images.githubusercontent.com/60688301/155835703-c967bc88-f593-43a6-9044-3915336a3cdb.png)

[2022-02-28 04:59] sridhar391 opened #4376 "User activities API call changes"
User activities API call changes

[2022-02-28 06:40] sridhar391 opened #4378 "Media directories access Nginx configuration changes"
Media directories access Nginx configuration changes

[2022-02-28 06:50] sridhar391 opened #4380 "Card attachment update API call changes"
Card attachment update API call changes

[2022-02-28 07:06] sridhar391 opened #4382 "Site URL for Shell file changes"
Site URL for Shell file changes

[2022-02-28 07:15] sridhar391 opened #4383 "Diagnose file changes"
Diagnose file changes

[2022-02-28 08:39] #4376 closed

[2022-02-28 08:41] #4378 closed

[2022-02-28 08:42] #4380 closed

[2022-02-28 08:42] #4382 closed

[2022-02-28 13:32] sridhar391 opened #4386 "SecuritySalt changes"
SecuritySalt changes

[2022-03-01 06:09] sridhar391 opened #4388 "Nginx configuration changes"
Nginx configuration changes

[2022-03-02 12:13] sridhar391 opened #4390 "Code validation changes"
Code validation changes

[2022-03-10 12:55] #4390 closed

[2022-03-10 15:56] #4388 closed

[2022-03-15 08:27] dwonghy opened #4394 "Unable to install on ubuntu"
[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/8251406/restyaboard_install.log)
unable to re-install restyaboard after uninstalling, please see attached log file

Please advice, thanks!

[2022-03-16 05:20] sridhar391 commented on #4394
@dwonghy sorry for your inconvenience, we are checking the issue and we will update you as soon as possible

[2022-03-18 14:28] Ezwen opened #4395 "Resolve fonts.googleapis.com at build-time, not at runtime"
## Expected Behavior

When running RestyaBoard in a browser, I would expect it to be self-contained, and to not rely any resources (eg. fonts, JS libraries, etc) provided by third-party servers/companies. The reason is that, when downloaded from third parties (eg. Google), such resources are used as a mean for tracking their users.

## Current Behavior

Currently, RestyaBoard has a hard-coded depe

[2022-03-19 03:08] batara666 commented on #1942
I have exactly same problem

current GMT+7 TIME IS

19 Mar 2022 10:07

then I try to send a comment

It's shows as 18 Mar 2022 21:07

[2022-03-19 07:35] batara666 opened #4396 "Inverted TZ Conversion"
## Issue
my current TZ Setting are GMT+7

current GMT+7 TIME IS

19 Mar 2022 10:07

then I try to send a comment

It's shows as 18 Mar 2022 21:07

then I try to change to GMT-7

It's now show as it should be....

## Resty Installation

Docker with restya v1.7.1

[2022-03-19 07:36] batara666 commented on #4396
I actually want to make a PR for this, but I don't know where it's should be changed

[2022-03-19 07:45] codenoid commented on #4396
https://github.com/RestyaPlatform/board/blob/9c34b6b59ee2665e78a54c5f3a887beba6a19c4b/client/js/common.js#L107-L127

[2022-03-21 05:03] sridhar391 commented on #4396
@batara666  Can you please tell us if you have set the Site Timezone in the admin panel settings page under the user tab like the attached image "system_site_timezone.png" and please tell us if the user set his local timezone in the user profile settings page like the attached image "user_timezone.png"

![system_site_timezone](https://user-images.githubusercontent.com/17172525/159207783-bba26d04-4

[2022-03-21 05:05] sridhar391 commented on #1942
@batara666 Can you please tell us if you have set the Site Timezone in the admin panel settings page under the user tab like the attached image "system_site_timezone.png" and please tell us if the user set his local timezone in the user profile settings page like the attached image "user_timezone.png"

![system_site_timezone](https://user-images.githubusercontent.com/17172525/159207879-38254308-32

[2022-03-22 04:39] sridhar391 commented on #4374
@emilvirkki We have fixed the issues and added the fixes in the Restyaboard latest version v1.7.1(Scorpion)

[2022-03-22 04:39] #4374 closed

[2022-03-22 07:14] sridhar391 commented on #4394
@dwonghy  We have checked the log file and there seems to be an Postgresql updation issue, please tell us if you have tried to install the postgreql manually?

[2022-03-22 07:16] dwonghy commented on #4394
@sridhar391 I dont think so, I only followed the instruction in the shell script. Is there any way to fix this problem?

[2022-03-30 09:35] EHRETic opened #4398 "Blank page right after install"
Hello

## Expected Behavior
Login mask to come up 😊

## Current Behavior
No login mask coming up, despite SELINUX is off.

## Steps to Reproduce (for bugs)
1. Disabled SELINUX (already before install)
2. Deployed Restya with install script and all default answers (NGINX)
3. Tried to access the page, connectivity seems OK but no login mask is coming
4. As in video : I get the same behavior with oau

[2022-03-30 10:11] sridhar391 commented on #4398
@EHRETic We need to check the errors, can you please send us the Restyaboard installation log file named `restyaboard_install.log` which is in the same folder path of the Restyaboard installation script file `restyaboard.sh`

[2022-03-30 14:40] EHRETic commented on #4398
Hi,

Here is the log file (host fqdn has been replaced by something else)
[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/8381465/restyaboard_install.log)

Let me know if you need anything else, thanks! 😉

[2022-03-30 14:44] EHRETic commented on #4398
PS: I have a snapshot of the VM prior the install, so I can re-test it anytime! 😊

[2022-03-31 04:48] sridhar391 commented on #4398
@EHRETic We have checked the Restyaboard installation log file and using the Restyaboard installation script file, we are officially supporting the Restyabooard installation on Ubuntu, Debian, LinuxMint, Raspbian, CentOS and if you want the installation support for your AlmaLinux OS, please [contact us](https://restya.com/contact)

[2022-03-31 05:26] EHRETic commented on #4398
@sridhar391 AlmaLinux is a well known distribution based on RHEL:

`CloudLinux's core product, the CloudLinux OS, is a RHEL® fork that has been in place for over ten years. More than 4,000 companies including Dell, Liquid Web, and 1&1 rely on the CloudLinux OS across more than 200,000 product installations. CloudLinux has proven experience in creating and maintaining a RHEL fork and have done so s

[2022-04-01 18:12] VHAdev opened #4399 "can't ''uninstall''"
Can't uninstall/delete nor re-do installation

./restyaboard_uninstall.sh didn't word

[restyaboard]# ./restyaboard_uninstall.sh
bash: ./restyaboard_uninstall.sh: No such file or directory

i figured out the possible error, not enabling nginx, so i just wanna reinstall doing it, but running the script again says i'm up to date

using CentOS v7.9.2009

[2022-04-04 05:01] sridhar391 commented on #4399
@VHAdev It seems you haven't downloaded the Restyaboard uninstall script file

For uninstalling the Restyaboard, please download the Restyaboard uninstallation script file from the link [https://github.com/RestyaPlatform/board/raw/dev/restyaboard_uninstall.sh](https://github.com/RestyaPlatform/board/raw/dev/restyaboard_uninstall.sh)

After downloading the Restyaboard uninstallation script file, pl

[2022-04-04 05:11] sridhar391 commented on #4375
@cuchipkg We have checked about the issue, but we are not able to reproduce the issue, can you please tell us if your Restyaboard version is the latest version v1.7.1 (Scorpions)

Can you please tell us if your Restyaboard version is 0.7 and you can check your Restyaboard version by clicking the user image icon in the footer, and click the "About Restyaboard" option like the attached image "about_

[2022-04-04 08:14] cuchipkg commented on #4375
thanks for your reply i use restyaboard 1.7 version this is my image
![image](https://user-images.githubusercontent.com/60688301/161502365-039fbb51-f38b-4c8a-b8a6-285e5a8a032e.png)

[2022-04-05 04:47] sridhar391 commented on #4375
@cuchipkg Please update your Restyaboard to the latest version v1.7.1 using the Restyaboard installation script file [restyaboard.sh](https://github.com/RestyaPlatform/board/raw/dev/restyaboard.sh) and please tell us if the issue occurs.

[2022-04-06 16:34] draotth opened #4401 "Cannot save user details on minimal docker setup"
## Expected Behavior

Can save user settings on default restya board install in Docker.

## Current Behavior

Cannot save settings (no error shown in UI)

## Screenshots (if appropriate):

## Possible Solution

## Steps to Reproduce (for bugs)

1. Setup default docker with docker-compose.
2. Access website, most things work.
3. Try to update default admin user settings (any setting).
4. Settings a

[2022-04-06 16:59] draotth commented on #4401
`/#/push_devices` cannot be reached either with errors like the following in restyaboard:
[code]

It looks like a database upgrade hasn't been run, but I would expect this to have been done by the init scripts.

[2022-04-06 18:41] laryn commented on #2155
I noticed this instruction regarding setting up IMAP with Gmail:

 - https://restya.com/board/docs/imap/#gmailg-suite-based-email-configuration-for-imap

However, when I click the link provided, I see this notification from Google:

Related: https://github.com/RestyaPlatform/board/issues/1304

[2022-04-06 21:02] laryn commented on #4340
I can confirm the workaround of momentarily setting a board to public, importing, and then reverting it back to private.

[2022-04-06 21:30] laryn commented on #3278
This would be great. I just spun up a droplet on Digital Ocean to test this out and with any size of attachments and various boards will likely hit the 25 Gb storage on that droplet in not too long. Being able to attach items that are stored elsewhere in the cloud would be great.

(I do see that there is a Dropbox integration so may test that out for the moment).

[2022-04-06 22:40] laryn commented on #954
In case it's helpful I think similar functionality now exists in Trello where you can reference other cards or boards from within a comment or checklist item:

![Screen Shot 2022-04-06 at 4 33 45 PM](https://user-images.githubusercontent.com/871421/162075457-50f25e23-56d9-4815-8d16-c8a53752df71.jpg)

The "Add card or board" opens up a drop open list with a filter as you type (but you can also just

[2022-04-06 22:51] laryn opened #4402 "Feature suggestion: More customizable card summary display"
## Expected Behavior
It would be great to be able to control what shows up in the card summaries more granularly. For example: someone may want to show only image, label, title and due date. Another may want all of those as well as members assigned, etc.

## Current Behavior
There is some customization possible currently using the "Additional settings" pane:

## Possible Solution
These options cou

[2022-04-07 04:53] sridhar391 commented on #4401
@draotth  Sorry for your inconvenience, we will check and fix the issue

[2022-04-07 05:04] sridhar391 commented on #954
@laryn In Restyaboard, in the card comment sections also, you can mention the cards within the same board

![mention-card](https://user-images.githubusercontent.com/17172525/162123871-0f800c37-c286-4f43-a40e-fd4e40581ffc.png)

[2022-04-07 05:05] sridhar391 commented on #4340
@laryn Thanks for the confirmation of the workaround and we are checking about the fix and will update

[2022-04-07 05:07] sridhar391 commented on #4402
@laryn Thanks for your suggestion, we will discuss within the team

[2022-04-07 05:50] sridhar391 commented on #2155
@laryn Thanks for notifying us about the configuration of less secure apps, we will discuss within the team

[2022-04-07 11:08] sridhar391 commented on #4401
@draotth We have updated the restyaboard dev branch docker image to the latest files, please use the docker image now.

[2022-04-07 13:48] laryn commented on #954
@sridhar391 Ah, thanks! Somehow I looked right past that.

[2022-04-12 12:50] rrjanbiah commented on #4402
FWIW, this feature is already implemented in our Restya Core product https://restya.com/core-build-workflow-tools-enterprise

[2022-04-14 21:08] cwhii opened #4403 "Kubuntu fresh install, #/users/login -> blank page"
## Expected Behavior

## Current Behavior

Expected first access of  restyaboard after a fresh install to have some kind of landing/login page.

## Screenshots (if appropriate):

All white blank page.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

Installed restyaboard on local system,  'frozen',
[restyaboard_install-220408.log](https://github.com/RestyaPlatform/

[2022-04-15 06:11] sridhar391 commented on #4403
@cwhii Sorry for your inconvenience, we have checked the installation log file and In Ubuntu latest version 21, the PHP 7.4 installation is not available currently, can you please try to install the Restyaboard in Ubuntu 20 and tell us if the Restyaboard installation is successfully?

[2022-04-16 23:34] cwhii commented on #4403
Installed on WSL Ubuntu 20.04.4 LTS
Same blank page
 / -> /#/users/login

[2022-04-18 05:00] sridhar391 commented on #4403
@cwhii Can you please attach the Restyaboard installation log file named "restyaboard_install.log" which is in the same folder as Restyaboard installation script file

[2022-04-18 05:23] sridhar391 commented on #4403
@cwhii We have tested the Restyaboard installation in the Ubuntu 20.04 (LTS) and the Restyaboard installed successfully

[2022-04-19 17:03] laryn opened #4405 "Feature request: board URL path settings"
## Expected Behavior

It would be nice to be able to specify a "friendly URL" or customized path to a particular board. Trello changes URLs to boards automatically based on the board name, but I think it would be better to allow a customized, specific URL to be configured that can give context to people when they see the URL in their email box. The default URLs could always continue to work as wel

[2022-04-20 05:09] sridhar391 commented on #4405
@laryn Thanks for your suggestion, we will discuss within the team

[2022-04-22 16:29] cwhii commented on #4403
http://frozen/ produce empty blank page. A ^U to view the source in
the browser references ./api/v1/ & ./client/ :
<script>var api_url = './api/v1/';
var template_url = './client/';</script>

***@***.***:~$ sudo tree -d /usr/share/nginx/html/restyaboard/
/usr/share/nginx/html/restyaboard/
├── client
│   ├── api_explorer
│   │   ├── css
│   │   ├── fonts
│   │   ├── images
│   │   ├── lang
│   │

[2022-04-22 16:37] cwhii commented on #4403
<script>var api_url = './api/v1/';
    var template_url = './client/';</script>

but it is not found:

    ***@***.***:~$ sudo tree -d /usr/share/nginx/ | grep api
    │       │   ├── api_explorer

Also, this is in the view source:

      <script src="js/default.cache.3aa6c878.js"></script>

but is it not found:

    ***@***.***:~$ sudo tree -d /usr/share/nginx/ | grep 3aa6c878

--
CW Holeman II |

[2022-04-22 17:01] cwhii commented on #4403
Found  default.cache.3aa6c878.js
***@***.***:~$ sudo tree  /usr/share/nginx/ | grep 3aa6c878
│       │   │   ├── default.cache.3aa6c878.js

On Fri, Apr 22, 2022 at 9:36 AM C.W. Holeman II
***@***.***> wrote:

--
CW Holeman II | JulianLocals.com
To only a fraction of the  human  race does God  give the  privilege of
earning one's bread doing what one would have gladly pursued free,for
passion. I am

[2022-04-23 05:06] restyacore commented on #4403
@cwhii Can you please attach the Restyaboard installation log file named "restyaboard_install.log" which is in the same folder as Restyaboard installation script file

[2022-04-23 05:10] sridhar391 commented on #4403
@cwhii Can you please attach the Restyaboard installation log file named "restyaboard_install.log" which is in the same folder as Restyaboard installation script file, so that we could check the installation process

[2022-04-25 09:15] #4398 closed, assigned to nobody

[2022-04-28 17:25] laryn commented on #4270
This would be great!

[2022-04-29 04:58] restyacore commented on #4270
@laryn we will implement the features and for now, for inviting external users, please refer to the documentation link https://restya.com/board/docs/restyaboard-user-invite/

[2022-04-29 07:21] sridhar391 commented on #4270
@laryn we will implement the features and for now, for inviting external users, please refer to the documentation link https://restya.com/board/docs/restyaboard-user-invite/

[2022-05-05 13:31] thindata commented on #4403
I'm having the same issue on a fresh install of ubuntu 20. Blank white page with a constant horizontal scrolling line at the top.

[2022-05-06 11:05] sridhar391 commented on #4403
@thindata  Can you please attach the Restyaboard installation log file named "restyaboard_install.log" which is in the same folder as Restyaboard installation script file, so that we could check the installation process

[2022-05-15 04:07] laryn opened #4406 "Feature request: Put board name before site name"
## Expected Behavior
If I have multiple boards open in multiple tabs, it would be nice to be able to tell them apart based on the small preview of the page title in the tab.

## Current Behavior
Currently if you click into a card, the tab title is changed. But if you have the page open to the board overview, it displays as "Sitename's Restyaboard | Board - Boardname" and all tabs look identical ev

[2022-05-15 04:08] laryn commented on #4406
This appears to be where the code sets the page title:

https://github.com/RestyaPlatform/board/blob/dev/client/js/common.js#L21-L30

[2022-05-15 04:14] laryn commented on #4406
So it looks like the sitename first is intentional, but I suggest changing that.

[code]
Am I missing a reason why having the sitename first is preferable?

[2022-05-17 05:19] sridhar391 commented on #4406
@laryn We have site name first in the title of Restyaboard pages to differentiate the Restyaboard page from other tabs and thanks for the suggestion and we will discuss within the team

[2022-05-20 15:34] LuisOttzelot commented on #4403
Have the same problem on a Rocky Linux distro.
Blank screen after setup.
Everything tried - you lazy ones only included centos in your selectors. alma and Rocky are centos, but not recognized as parallel systems.

Seems like, you messed up something in your source code.

[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/8741574/restyaboard_install.log)

[2022-05-24 05:24] sridhar391 commented on #4403
@LuisOttzelot Sorry for your inconvenience, Officially we are only supporting the Restyaboard installation on Ubuntu, Debian, LinuxMint, Raspbian, CentOS

We will check and update the Restyaboard installation script for the Rocky Linux

[2022-05-24 05:54] LuisOttzelot commented on #4403
Moin :)

The setup ran on my machine - that is not the problem - i just wanted to inform you about this issue I ran in. My system also says that the process is loaded and active. Only browsing to the setup page in browser does not work. I'll attach a screenshot for you. The application gets noticed by the thumbnail and presents a logo - 2nd screenshot

Maybe you got a quick fix for me - I am avail

[2022-05-24 17:40] cwhii commented on #4403
Kubuntu is Ubuntu

On Mon, May 23, 2022 at 10:24 PM sridhar391 ***@***.***>
wrote:

--
CW Holeman II | JulianLocals.com <http://julianlocals.com/>
To only a fraction of the  human  race does God  give the  privilege of
earning one's bread doing what one would have gladly pursued free,for
passion. I am very thankful. The Mythical Man-Month Epilogue/F.P.Brooks

[2022-05-24 19:41] laryn opened #4407 ""Remove cover" doesn't seem to actually remove the cover image"
## Expected Behavior
Clicking "Remove cover" on an image that is uploaded to a card should remove the cover, leaving the card without an image in the board view.

## Current Behavior
Clicking "Remove cover" looks as though it's working when viewing the card details, but when viewing the board the image remains on the card summary view.

## Your Environment
Digital Ocean droplet.

[2022-05-25 05:38] sridhar391 commented on #4407
@laryn By default, the latest image uploaded in the card will be shown in the card cover and if you select "Remove cover" options, the latest image will shown by default in the card view

If you want to remove the card cover on the board view, you can disable the "Enable Card Cover Images" option

You can disable the option by clicking the "Additional Settings" option in the board header settings

[2022-05-30 16:00] Fernbace opened #4408 "ubuntu 20.04 new install blank screen"
## Expected Behavior
new install on Ubuntu 20.04 using install script, login screen should show

## Current Behavior
http://ip-entered-during-install opens blank browser screen with http://ip-entered-during-install/#/users/login in the address field

## Screenshots (if appropriate):

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version use

[2022-05-31 14:33] sridhar391 commented on #4408
@Fernbace We have checked the Restyaboard installation log file and while trying to install the PHP 7.4, dependency error thrown

The following packages have unmet dependencies:
 php7.4 : Depends: libapache2-mod-php7.4 but it is not going to be installed or
                   php7.4-fpm but it is not going to be installed or
                   php7.4-cgi but it is not going to be installed
E: Unab

[2022-06-01 09:00] Fernbace commented on #4408
since I didn't want to further mess with the production system I tried  installing  from scratch on a Ubuntu 20.04 system. Since this system had apache already set up, I went with the apache option.
[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/8812607/restyaboard_install.log)
The logfile is attached. The result was the same, blank screen in the browser.
line 3790 of the

[2022-06-01 17:24] laryn commented on #4407
Thank you for explaining -- what I am interested in is doing this for a single card, not all cards at the same time. (So some might have images, but some may have specific images manually removed)

[2022-06-03 04:59] sridhar391 commented on #4407
@laryn Thanks for your suggestion and we will internally discuss within the team

[2022-06-15 07:18] laryn opened #4409 "Allow `@` using full name as well as username"
## Expected Behavior
When tagging another person using `@` I would expect to be able to tag by name (whether full name or username). It would be nice to be able to just press "Enter" to select the first result.

## Current Behavior
Right now it only searches the username, not the full name and the only way to select is by mouse click or arrowing down, I think.

[2022-07-08 04:05] stevennt opened #4411 "Is Restya.com down today?"
## Expected Behavior

https://restya.com should work.

## Current Behavior

https://restya.com is currently down.

## Screenshots (if appropriate):

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/32351181/177914616-80866d03-e8e6-4298-b7a8-a1a3f2fd7093.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/32351181/177914705-9759b093-af36-4

[2022-07-09 00:36] #4411 closed, assigned to nobody

[2022-07-27 16:59] Timmer2021 opened #4412 "running version 1.7.1, can't get access to api explorer"
Hello:

I am running version 1.7.1, can't get access to api explorer https://mydomain/api_explorer/ ..

Is this not the correct address location? I just get URL not found..

Thanks.
Tim.

[2022-08-01 09:38] johncarterofmars opened #4413 "Card numbers"
I am not having an issue with Restyaboard. I like it. I just don't like the card numbers being shown on the cards. It adds a second line that I don't use and makes the stacks longer. Is there a way to disable this? If not, no worries. I just wanted to ask.

Thank you.

[2022-08-05 08:30] julianjakobs opened #4414 "Activity time is offset by 2 hours"
## Expected Behavior
Activities should show as "xx minutes ago"

## Current Behavior
Any edit is shown as "2 hours ago"

## Screenshots (if appropriate):
![Screenshot from 2022-08-05 10-06-09](https://user-images.githubusercontent.com/47240505/183034230-241083d2-880e-46f8-b4db-bd4c0641a569.png)

## Possible Solution
Possibly setting correct timezone before Restya installation as noted in #3274
How

[2022-08-09 11:07] hellppppww opened #4415 "C:\Program Files\PostgreSQL\13\bin>psql -h localhost -d restyabord -U postgres -w < C:\xampp\htdocs\Restyaboard\sql\restyaboard_with_empty_data.sql psql: error: fe_sendauth: no password supplied"
## Expected Behavior

## Current Behavior

## Screenshots (if appropriate):

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. OS, PHP, PostgreSQL):
* Operating System and version (desktop or mobile):
* Link to your project:

[2022-08-09 11:08] hellppppww commented on #4415
how to fix this issue

**psql: error: fe_sendauth: no password supplied**

[2022-08-19 11:43] JamieSlome opened #4416 "Security concern"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@vultza) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a securit

[2022-08-26 09:18] syntyxdev opened #4418 "https://restya.com/board is not found (404)"
## Expected Behavior
Should have access to https://restya.com/board.

## Current Behavior
Every website under https://restya.com/board is not found (this also affects the board demo and installation guides).

[2022-09-15 11:13] paulocoghi commented on #4418
I confirm this issue

[2022-09-16 23:30] kodetumbuh commented on #4418
yeah that's weird i hope the author can repair this ASAP

[2022-09-21 12:07] viktordw commented on #4418
It seems that website is hacked. While I was trying to access [restya.com/board/](http://restya.com/board/), the Avast window popped up, and says that there are phishing content.
Later on, I found this... [https://share.dreamweb.rs/vp/20220921-EjIULQEWlW.png](https://share.dreamweb.rs/vp/20220921-EjIULQEWlW.png)
While it's not phishing content, it certainly doesn't belong there.

[2022-09-21 12:14] viktordw commented on #4418
@saravanan477 What do you think about this?

[2022-09-21 12:57] kodetumbuh commented on #4418
no someone inject the website and add property to website and try to adverstisment scam gambling i knew it that person must be indonesian because the project use bahasa indonesia, probably this project have been neglected or abandoned

[2022-10-05 06:44] LAGster001 opened #4420 "Unable to Curl/Access Restya.com"
I am setting up Restyaboard on Ubuntu 22.04

When running the script it fails when running the curl for the restyaboard.zip against restya.com
I also tried access the website from a browser and was also unable to access it.
Tried accessing it from different Internet sources and it just timeouts

[2022-10-17 16:22] laryn commented on #4420
Related https://github.com/RestyaPlatform/board/issues/4418

[2022-10-25 18:31] Readus-01 commented on #4418
Has this project been abandoned, there website has been down for some Time now and  no reply on the google forum for some time too