[2020-02-27 05:41] #3868 closed

[2020-02-27 05:51] #3963 closed

[2020-02-27 08:23] sridhar391 commented on #3899
Fixed the issue in the Broadcasts app local commit and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-02-27 08:23] #3899 closed

[2020-02-27 11:34] sridhar391 opened #3965 "After selecting "Select all" option in the List View configure app settings to show all fields, some custom fields are not shown"
## Expected Behavior
After selecting "Select all" option in the List View configure to show all fields, all the fields should be shown

## Current Behavior
After selecting "Select all" option in the List View configure to show all fields, some custom fields are not shown

## Steps to Reproduce (for bugs)
1. Login and go to particular board
2. Click the settings menu in the board header and select

[2020-02-27 11:40] #3965 closed

[2020-02-27 12:45] sridhar391 opened #3967 "While refreshing the board wiki page and board wiki manage page, clear filter button shown in the board header"
## Expected Behavior
While refreshing the board wiki page and board wiki manage page, clear filter button should shown in the board header

## Current Behavior
While refreshing the board wiki page and board wiki manage page, clear filter button shown in the board header

## Steps to Reproduce (for bugs)
1. Login and go to particular board page
2. Open the settings dropdown menu and click wiki opti

[2020-02-27 12:54] #3967 closed

[2020-02-28 05:25] sridhar391 opened #3969 "In MyRestyaboards iOS app, Groups page, check the table border alignment"
## Expected Behavior
In MyRestyaboards iOS app, Groups page, check the table border alignment

## Current Behavior
In MyRestyaboards iOS app, Groups page, check the table border alignment

[2020-02-28 05:49] sridhar391 commented on #3969
Fixed the issue in the Groups app local commit and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-02-28 05:49] #3969 closed

[2020-02-28 09:11] #3921 closed

[2020-02-28 09:48] sridhar391 opened #3971 "While trying to change the board visibility in particular organization boards page, board visibility not changes"
## Expected Behavior
While trying to change the board visibility in particular organization boards page, board visibility not changes

## Current Behavior
While trying to change the board visibility in particular organization boards page, board visibility not changes

## Steps to Reproduce (for bugs)
1. Login and go to the organizations page
2. Go to the particular organization
3. Change the board

[2020-03-02 07:04] sridhar391 opened #3973 "Activity for deleted card and organization contains broken link"
## Expected Behavior
Activity for deleted card and organization should not contains broken link

## Current Behavior
Activity for deleted card and organization contains broken link

## Steps to Reproduce (for bugs)
1. Create board and create card and perform actions on the card
2. Delete card and click the '[deleted]' text on the card name
3. Create organization and perform actions and delete orga

[2020-03-02 07:58] #3973 closed

[2020-03-02 07:58] #3971 closed

[2020-03-02 10:24] sridhar391 opened #3975 "While adding card in the list of the board, if we try to add label with selected colour, label is not shown in the preview with it's colour"
## Expected Behavior
While adding card in the list of the board, if we try to add label with selected colour, label should be  shown in the preview with it's colour

## Current Behavior
While adding card in the list of the board, if we try to add label with selected colour, label is not shown in the preview with it's colour

## Steps to Reproduce (for bugs)
1. Go to particular board page and click

[2020-03-02 10:34] sridhar391 opened #3977 "While adding card in the list of the board, with card template which contains label with custom colour, the label is not shown in preview with it's custom colour"
## Expected Behavior
While adding card in the list of the board, with card template which contains label with custom colour, the label should be shown in preview with it's custom colour

## Current Behavior
While adding card in the list of the board, with card template which contains label with custom colour, the label is not shown in preview with it's custom colour

## Steps to Reproduce (for bug

[2020-03-02 10:39] sridhar391 commented on #3977
Fixed the issue in the Card Templates app local commit and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-03-02 10:39] #3977 closed

[2020-03-02 13:38] sridhar391 opened #3978 "Rarely in modal card page, if we click the copy and move card button, copy card and move card form is not showing"
## Expected Behavior
In modal card page, if we click the copy and move card button, copy card and move card form should be showing

## Current Behavior
Rarely in modal card page, if we click the copy and move card button, copy card and move card form is not showing

## Steps to Reproduce (for bugs)
1. Go to particular board page
2. Open the card
3. In modal card, click copy button or move button

[2020-03-03 04:59] sridhar391 opened #3981 "Rarely in organizations listing page, sorting is not working properly"
## Expected Behavior
In organizations listing page, sorting should work properly

## Current Behavior
Rarely in organizations listing page, sorting is not working properly

## Steps to Reproduce (for bugs)
1. Login and go to organizations page
2. Click the settings icon in the header
3. Try to sort the organiztions

[2020-03-03 05:51] sridhar391 opened #3982 "Rarely in admin panel users listing page, the sorting option in the header is not working properly"
## Expected Behavior
In admin panel users listing page,  the sorting option in the header should work properly

## Current Behavior
Rarely in admin panel users listing page, the sorting option in the header is not working properly

## Steps to Reproduce (for bugs)
1. Login as admin and go to admin panel
2. Click the users link in the header and click the settings icon in the header of users listin

[2020-03-03 06:26] sridhar391 opened #3985 "If the board created user removed from Restyaboard, in the admin panel boards listing page, empty icon and broken link shown for the board created by the removed user"
## Expected Behavior
If the board created user removed from Restyaboard, in the admin panel boards listing page, delete account text should be shown in created by column value

## Current Behavior
If the board created user removed from Restyaboard, in the admin panel boards listing page, empty icon and broken link shown for the board created by the removed user

## Steps to Reproduce (for bugs)
1.

[2020-03-03 06:31] rrjanbiah commented on #3932
@witzker Apologies for the delay.

It is not clear what do you mean by 'self hosted'. Both DO and IONOS are almost same kind of cloud providers. So, hope you didn't mean it for 'intranet' setup.

Also, IONOS seems to offer PostgreSQL in other plans https://twitter.com/ionos_hilft/status/1230783126110162944

So, closing this for now. In case, if you still face any issue, please feel free to reopen.

[2020-03-03 06:31] #3932 closed

[2020-03-03 07:16] #3985 closed

[2020-03-03 07:17] #3982 closed

[2020-03-03 07:17] #3981 closed

[2020-03-03 07:17] #3611 closed

[2020-03-03 07:17] #3978 closed

[2020-03-03 07:18] #3975 closed

[2020-03-03 07:32] sridhar391 opened #3987 "In the mobile view of Restyaboard, not able to change the board visibility in the admin panel boards listing page"
## Expected Behavior
In the mobile view of Restyaboard, user should be able to change the board visibility in the admin panel boards listing page

## Current Behavior
In the mobile view of Restyaboard, not able to change the board visibility in the admin panel boards listing page

## Steps to Reproduce (for bugs)
1. Login as admin and go to admin panel
2. Go to boards listing page
3. Try to change

[2020-03-03 12:38] sridhar391 opened #3989 "While adding the board in the boards page, if we try to change the board visibility, the visibility drop down is not aligned correctly"
## Expected Behavior
While adding the board in the boards page, if we try to change the board visibility, the visibility drop down is not aligned correctly

## Current Behavior
While adding the board in the boards page, if we try to change the board visibility, the visibility drop down is not aligned correctly

## Steps to Reproduce (for bugs)
1. Login and in the boards page, try to add board
2. T

[2020-03-04 06:11] sridhar391 opened #3991 "In modal card page, checklist item, the mention member and add emoji design breaks in mobile view"
## Expected Behavior
In modal card page, checklist item, the mention member and add emoji design breaks in mobile view

## Current Behavior
In modal card page, checklist item, the mention member and add emoji design breaks in mobile view

## Steps to Reproduce (for bugs)
1. Login and go to particular board page
2. Open the card
3. Add checklist and try to add checklist item with Mention member and

[2020-03-04 06:32] sridhar391 opened #3993 "While trying to select the list in the copy card and move card from in modal card page, console error thrown"
## Expected Behavior
While trying to select the list in the copy card and move card from in modal card page, console error thrown

## Current Behavior
While trying to select the list in the copy card and move card from in modal card page, console error thrown

## Steps to Reproduce (for bugs)
1.  Go to particular board page
2. Open the card
3. Try to copy card or move card to other board with sele

[2020-03-04 09:58] sridhar391 opened #3996 "The board names in the boards drpdown of the each organization in the organizations page is not aligned correctly"
## Expected Behavior
The board names in the boards drpdown of the each organization in the organizations listing page is not aligned correctly

## Current Behavior
The board names in the boards drpdown of the each organization in the organizations listing page is not aligned correctly

## Steps to Reproduce (for bugs)
1. Login and go to the organizations page
2. Click the Boards option and the org

[2020-03-04 10:22] sridhar391 opened #3998 "In MyRestyaboards iOS app, in the organizations listing page if the use tries to delete organization, the delete message alignment is broken"
## Expected Behavior
In MyRestyaboards iOS app, in the organizations listing page if the use tries to delete organization, the delete message should be correctly aligned

## Current Behavior
In MyRestyaboards iOS app, in the organizations listing page if the use tries to delete organization, the delete message alignment is broken

## Steps to Reproduce (for bugs)
1. Open the MyRestyaboards iOS app

[2020-03-04 11:22] sridhar391 opened #4001 "In the user profile, cards page, if the board has single archived card, only board name shown"
## Expected Behavior
In the user profile, cards page, if the board has single archived card, board should not be displayed

## Current Behavior
In the user profile, cards page, if the board has single archived card, only board name shown

## Steps to Reproduce (for bugs)
1. Login and go to user profile
2. Click cards tab

[2020-03-05 05:24] #3876 closed

[2020-03-05 05:24] #3998 closed

[2020-03-05 05:25] #3996 closed

[2020-03-05 05:26] #3993 closed

[2020-03-05 05:26] sridhar391 opened #4002 "Wrong content and option in the cards API call get method in API explorer"
## Expected Behavior
Wrong content and option in the cards API call get method in API explorer

## Current Behavior
Wrong content and option in the cards API call get method in API explorer

[2020-03-05 05:32] #3991 closed

[2020-03-05 05:32] #3989 closed

[2020-03-05 05:32] #3987 closed

[2020-03-05 05:32] #4002 closed

[2020-03-05 05:46] #4001 closed

[2020-03-05 06:16] sridhar391 commented on #3607
We are closing this issue as we are not able to re-produce the issue, please feel free t reopen if the issue occurred again and please also provide steps

[2020-03-05 06:16] #3607 closed

[2020-03-05 06:32] sridhar391 commented on #3386
Fixed the issue in the dev branch and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-03-05 06:32] #3386 closed

[2020-03-05 13:59] sridhar391 commented on #3863
Fixed the issue in the Gantt View app local commit and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-03-05 13:59] #3863 closed

[2020-03-09 08:59] FanyangMengDev opened #4005 "Failed to load resource: the server responded with a status of 404 ()"
Hi there, I just build from the newest dev branch and install it manually, but after all done and visit my website, I just got a blank page. When I click f12 to debug, it just alert me this.

Would you please help me have a look on it?

My website is https://kanban.fanyangmeng.com

Thanks a lot.

php_pgsql extension has already been installed

## Screenshots (if appropriate):

![图片](https://user-i

[2020-03-09 09:04] FanyangMengDev commented on #4005
error] 14169#0: *1083639 open() "/www/wwwroot/kanban.fanyangmeng.com/client/api/v1/oauth.json" failed (2: No such file or directory), client: 161.117.39.40, server: kanban.fanyangmeng.com, request: "GET /api/v1/oauth.json?_=1583744614861 HTTP/2.0", host: "kanban.fanyangmeng.com", referrer: "https://kanban.fanyangmeng.com/"

[2020-03-09 09:48] sridhar391 commented on #4005
@FanyangMengDev You have scheduled the zoom meeting with us, we will check about the above issue in the meeting.

[2020-03-09 09:49] FanyangMengDev commented on #4005
@sridhar391 Sorry, but can we solve it now? I really wanna solve this problem now so it will save a lot of time, please

[2020-03-09 09:50] FanyangMengDev commented on #4005
Please help me have a look on it.... I can give you all the information you need right now. It will be so so so much appreciate. Thanks in advance

[2020-03-09 09:54] FanyangMengDev commented on #4005
I can assure you that I have already installed php-pgsql and pdo-pgsql extension. I just do not understand why this happened. My English speaking is not that good so I think maybe contact you by typing will be more efficient. Thanks

[2020-03-09 10:00] FanyangMengDev commented on #4005
Here is the nginx configuration of my server:
[code]

[2020-03-09 10:04] FanyangMengDev commented on #4005
I did not add this line
[code]
Cause I did not find where is it although I have already install php 7.3

[2020-03-09 10:07] sridhar391 commented on #4005
@FanyangMengDev Please change the Restyaboard root folder path to "/www/wwwroot/kanban.fanyangmeng.com" like https://github.com/RestyaPlatform/board/blob/dev/restyaboard.conf#L5 and please add the cofiguration for PHP and image access like https://github.com/RestyaPlatform/board/blob/dev/restyaboard.conf#L32 and https://github.com/RestyaPlatform/board/blob/dev/restyaboard.conf#L41

After following

[2020-03-09 10:14] FanyangMengDev commented on #4005
[code]

I just changed it like this . And now the homepage becomes 404 now.
Like I said I did not add this ` fastcgi_pass	unix:/run/php/php7.2-fpm.sock;` cause I really cannot find out where is this file. But I install php-7.3 correctly.

[2020-03-09 10:25] sridhar391 commented on #4005
@FanyangMengDev  Can you please execute the command `cd /run/php` and execute the command `ls -l` and please copy the response in the command and paste here

[2020-03-09 10:29] FanyangMengDev commented on #4005
I just change nginx config like this :
[code]

And it keeps the same problem.

And I installed php via a panel called BaoTa Panel, you can found them in bt.cn.

And it installed php into /www/server/php/73 so I did not have /run/php dir

[2020-03-09 10:33] FanyangMengDev commented on #4005
I do not know why but when I change it to this `fastcgi_pass	unix:/tmp/php-cgi-73.sock;`
the error changed.
When I input php-fpm -v it display 7.3.15 but I cannot find where is php-fpm7.3.sock

[2020-03-09 10:38] FanyangMengDev commented on #4005
Just tried your script and it still the same problem.....

[2020-03-09 10:49] FanyangMengDev commented on #4005
Finally I just fixed it by myself.........
Closed.

[2020-03-09 10:58] rrjanbiah commented on #4005
@FanyangMengDev Awesome! What was the issue?

[2020-03-09 11:09] FanyangMengDev commented on #4005
As I said, I change this line : `fastcgi_pass	unix:/tmp/php-cgi-73.sock;`

And finally all worked.

But now it comes a new problem. Why I used script install the RestyaBoard but it cannot display Apps? Although I have already pasted all the apps to my website root/client/apps/ and chmod them to 777. would you please help me with this?

[2020-03-09 11:10] FanyangMengDev commented on #4005
Oh, I just found that I have to activate them. Now works. Thanks.

[2020-03-09 11:33] FanyangMengDev commented on #4005
But now I am keeping receiving this email:

I have already set the sh file to 777, why I keep receiving this alert now?

Could you please do some help?
Thanks!

[2020-03-09 11:56] sridhar391 commented on #4005
@FanyangMengDev You have apply the executable permission to the shell file by executing the command `chmod +x /www/wwwroot/kanban.fanyangmeng.com/server/php/shell/main.sh`

[2020-03-09 12:02] FanyangMengDev commented on #4005
That's not correct cause when I chmod +x main.sh, I still can receive the alert email. That really confused me. Maybe 655 is correct?

[2020-03-09 13:17] sridhar391 commented on #4005
@FanyangMengDev Can you please confirm that the Restyaboard tmp folder path `/www/wwwroot/kanban.fanyangmeng.com/tmp` and Restyaboard cache folder path `/www/wwwroot/kanban.fanyangmeng.com/tmp/cache` and Restyaboard shell folder path `/www/wwwroot/kanban.fanyangmeng.com/server/php/shell` have readable permission.

Can you please tell us which cronjobs are running on the Restyaboard server by execu

[2020-03-09 13:35] FanyangMengDev commented on #4005
I just set all the path you said as 777.

And I set a cronjob that is
[code]
And I set it runs every three minutes

[2020-03-09 13:37] rrjanbiah commented on #4005
@FanyangMengDev FWIW, do you get any error when executing manually?
`./main.sh`

[2020-03-09 13:38] FanyangMengDev commented on #4005
I will have a try right now

[2020-03-09 13:39] FanyangMengDev commented on #4005
![图片](https://user-images.githubusercontent.com/53750381/76217994-60d89800-624e-11ea-9255-7545d6ad04d7.png)
@rrjanbiah

[2020-03-09 13:42] FanyangMengDev commented on #4005
![图片](https://user-images.githubusercontent.com/53750381/76218151-abf2ab00-624e-11ea-88d5-6e99cf5a3218.png)
I just found this.

The first and second one are added by your script I think?

And the third one added by me manually. I think maybe I should delete the first and second one .

I will have a try now.

[2020-03-09 15:02] FanyangMengDev commented on #4005
Done. Delete them works.

[2020-03-09 15:02] #4005 closed

[2020-03-10 15:45] jslopez29 opened #4006 "Issue installing on CentOS7"
I tried installing it and when it finishes the installation and I try to go onto my domain nothing happens.
[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/4313344/restyaboard_install.log)

[2020-03-10 16:38] jslopez29 commented on #4006
Port 80 was closed, fail.
Please archive!

[2020-03-10 16:38] #4006 closed

[2020-03-11 01:09] DAigory opened #4007 "Only owner can see "lable" button"
In some boards not all users can see "Lable" button and I don't know why and I can't see anything relate visibility rules in admin panel as well.
## Expected Behavior
All users can see "Lable" button or ability to settings  visibility rules for them

## Current Behavior
only owner  can see "Lable" button

[2020-03-11 04:54] sridhar391 commented on #4007
@DAigory Please login as admin go to the admin panel by clicking the `admin` button in the `footer` and click the `Roles` link in the admin panel header and click `Boards` tab and check if the other board user roles have the checkbox ticked for `View card labels` permission like the attached image.

![view_card_labels_permission](https://user-images.githubusercontent.com/17172525/76383656-8666be00

[2020-03-19 06:32] sridhar391 opened #4008 "In boards page, the doughnut chart for each boards are not updated after adding the card"
## Expected Behavior
After adding the card in the list of the newly created board, if we go to the boards page, doughnut chart of the particular board should be updated.

## Current Behavior
After adding the card in the list of the newly created board, if we go to the boards page, doughnut chart of the particular board is not updated.

## Steps to Reproduce (for bugs)
1. Creat a board.
2. Add the

[2020-03-24 00:46] fnetX opened #4009 "[Feature Request] flickr alternatives like unsplash"
Hey there,

when using Restyaboards, I am often looking for a nice background for a new board without much caring about which exactly.
Therefore, I am looking for something like the topic on unsplash.com and choose an awesome image as board background.

Since RestyaBoard already offers flickr support, I recommend adding more image source alternatives (without the need for an API key which I did no

[2020-03-26 10:22] rrjanbiah opened #4010 "Empty page after timeout"
From https://groups.google.com/d/msg/restya/bTeXZLO2jY4/Ih80SPcTAwAJ (Samuel Arcos):

so, after i leave a board opened for a while, i think google chrome tries to refresh the page, but nothing comes up,
i go in there and see a blank page with the restya logo on the top left, the hr, (grey line under the logo) and then a box, looks like a message box, empty, nothing in it. (see attached image)

the

[2020-03-27 07:47] rrjanbiah opened #4011 "Export CSV link leads to 404 for some users"
From codeaster in https://groups.google.com/d/msg/restya/fwA8PE0S4Uo/tfWbwfE7BgAJ

*Internal Note*
Says that export CSV link leads to 404 in 2 machines. Initially it looked like nginx conf rules are not applied. System details are mentioned in above link.

[2020-03-28 01:25] fnetX opened #4012 "[Feature Request] Share Lists and Cards to the public"
Hello there,

I often have some idea, some project, some progress or some information I quickly want to share to someone - without giving them access to all my board's content. As described in #2094 it'd be nice to share a list between two boards, but I'd like to have some advanced flexibility for sharing lists and cards.

## Expected Behaviour
Each list and card should offer a sharing option prov

[2020-03-28 04:14] sridhar391 commented on #4012
@fralix Thanks for your kind words. Internally we'll discuss and implement this feature

[2020-03-28 22:04] BlackDark commented on #2281
@sridhar391 assign me. Will fix this.

[2020-03-28 22:05] BlackDark commented on #2282
@rrjanbiah assign me. Will fix this.

[2020-03-28 22:10] LittleFox94 commented on #2282
I'm very sorry I didn't look into this again ._.

[2020-03-28 22:14] BlackDark commented on #2373
Old issue.
@letmp
[code]
Somehow the layer got removed with the `npm` installed. Probably fixed by docker now.
At least it will be fixed with #4013 because there is a new setup.

@sridhar391 you can assign me and close this issue.
Nothing to do here.

[2020-03-28 22:16] BlackDark commented on #2738
@dhaeb @mqu i created a new docker image in #4013
Could be probably fixed with it.

The SMTP tool changed but env vars should be the same.

Please check

@sridhar391 assign me

[2020-03-28 22:21] BlackDark commented on #3142
Tested with #4013
Works locally for me.
Tested PG9 and PG11

@rrjanbiah assign me

[2020-03-28 22:26] BlackDark commented on #3263
Updated README and added reference that all new SQL scripts have to be applied in order to migrate DB. See https://hub.docker.com/r/restyaplatform/restyaboard

@sridhar391 assign me and close issue.

![image](https://user-images.githubusercontent.com/9947112/77835283-8ff67100-714b-11ea-86a8-8a18f3bb7fbf.png)

[2020-03-28 22:28] BlackDark commented on #3421
@tamasberesoebb still an issue?
You could try the image from #4013
Otherwise issue can be closed.

[2020-03-29 16:32] #2281 closed

[2020-03-29 16:32] #2282 closed

[2020-03-29 16:32] #3142 closed

[2020-03-29 16:51] rrjanbiah commented on #2373
Cl

[2020-03-29 16:51] #2373 closed

[2020-03-29 16:55] #3263 closed

[2020-03-29 16:56] #3421 closed

[2020-03-30 04:43] sridhar391 opened #4015 "Missing the board delete API call in the API explorer"
## Expected Behavior
Board delete API call shoulb be present in the API explorer

## Current Behavior
Missing the board delete API call in the API explorer

[2020-03-31 09:16] sridhar391 opened #4016 "Apps upgrade instruction is not obvious"
Some customers are reporting that apps upgrade instruction is not obvious

[2020-03-31 13:48] KarlFrederik opened #4017 "Installation Error with docker/Plesk"
Problem with Installation! Plesk and Docker

I want to Install Restyaboard.
I tried with the normal script and it failed.
Then I tried with Docker on Plesk, it also failed.
I also don't find any Logs of it.

After Docker had downloaded it, I got an error Massage:
    {"message":"manifest for restyaplatform/restyaboard:latest not found: manifest unknown: manifest unknown"}

![Bildschirmfoto vom 202

[2020-03-31 15:21] #4017 closed

[2020-03-31 16:59] KarlFrederik opened #4018 "Problem with Restya via Docker and Plesk"
I have a Problem with Restyaboard on Docker and Plesk.
I've installed Restyaboard and PostgreSQL via Docker on my Server with Plesk and now I have one major problem.
The console of Restyaboard says:

the console of Postgres says:

What can I do?
Thanks for Helping

My Hardware and Software:
Intel(R) Xeon(R) CPU E5-2630
Plesk Obsidian v18.0.25_build1800200325.19 os_Ubuntu 18.04
Ubuntu 18.04.4 LTS
H

[2020-04-02 05:28] sridhar391 commented on #4018
@KarlFrederik Sorry for your inconvenience, can you please tell us after executing
which command the below error occurred

sed: -e expression #1, char 73: unknown option to `s'

[2020-04-02 12:17] KarlFrederik commented on #4018
I executed no command. When I start the Container in Docker, it occurred.
Here is a Screenshot of that:
![Bildschirmfoto vom 2020-04-02 14-16-15](https://user-images.githubusercontent.com/42519173/78248274-9b032580-74ec-11ea-82ea-c010b8d59504.png)

[2020-04-03 02:26] FuXXz opened #4019 "Deleted attachments remain on the server"
Hello,

i have a fresh restyaboard installation on Debian 10-
i just noticed that deleted attachments remain on the server in the media folder.
I think after some time a lot of trash could accumulate.
Is this a feature or a bug?
Greetings

[2020-04-03 03:52] FuXXz opened #4020 "Markdown table layout"
Hi,

pls look at the screenshot, there you can see a Markdown table.
And the result in restya. Something is wrong, who can help me?

Markdown Editor
![md table](https://user-images.githubusercontent.com/9010594/78322451-04c41380-756f-11ea-9cac-cc51a87b1bb7.png)

Restya
![restya table](https://user-images.githubusercontent.com/9010594/78322448-042b7d00-756f-11ea-8b32-8fec15544f70.png)

![restya tab

[2020-04-03 05:21] rrjanbiah commented on #4020
*Internal note*

Lack of border and padding looks like a culprit. Fixing style without affecting other area may be slightly challenging and will need rigorous testing

[2020-04-03 06:07] rrjanbiah commented on #4018
`sed` usage with `e` is tracked to `docker-scripts/docker-entrypoint.sh`

@BlackDark has recently fixed some docker related issues. So, not sure if it is anything related to that.

@BlackDark Do you have any comments here, please?

[2020-04-03 06:11] rrjanbiah commented on #4019
*Internal note*

In the code, I can find `unlink`, so not sure if it is due to any permission issues.

Also, noticed other issues:

1. When this issue is reproduced, thumbnails are displaying
2. While other thumbnails display the old/deleted images, `original` thumbnail, displays a random image. So, not sure if thumbnail creation code has some logical issues.

[2020-04-03 10:57] BlackDark commented on #4018
@KarlFrederik do your postgres variables contain `/`?
This probably breaks the sed command in the startup script

[2020-04-03 14:11] FuXXz commented on #4019
I have only one user, admin. So why this should be due to any permission issue.
But without deleting the file from server, you cant use restya.
you cant manage files manually, this would be a waste of time :(

[2020-04-03 14:21] rrjanbiah commented on #4019
@FuXXz I actually meant Linux file permissions. Permission for PHP to `unlink`

[2020-04-03 14:24] FuXXz commented on #4019
ah ok!
Can I change or test something to solve it?

[2020-04-03 14:27] rrjanbiah commented on #4019
@FuXXz Yes, try to give writable permission for the folders `media` and `img` under `client`

[2020-04-03 16:41] FuXXz commented on #4019
There is no folder media under client.
Look at the tree, but the folders have writable permission
![2](https://user-images.githubusercontent.com/9010594/78384595-bc423f80-75da-11ea-8281-055b03245cbb.png)
![1](https://user-images.githubusercontent.com/9010594/78384596-bcdad600-75da-11ea-8584-3a148a0f6324.png)

[2020-04-03 17:09] KarlFrederik commented on #4018
I don't know. I don't have much knowledge about that.
I send you a screenshot of my Variables.

![Bildschirmfoto vom 2020-04-03 19-05-35](https://user-images.githubusercontent.com/42519173/78386733-5eaff200-75de-11ea-9e02-ca7a20db63f4.png)

[2020-04-03 19:38] KarlFrederik commented on #4018
I think I never set them. Where can I change or set them?
Maybe that's the problem.

[2020-04-03 20:26] rrjanbiah commented on #4019
Yes, `img` under `client` and `media` in base

[2020-04-03 20:56] FuXXz commented on #4019
it seems to be okay

/clients/img
![img_clients](https://user-images.githubusercontent.com/9010594/78404176-228c8980-75fe-11ea-9387-a71d05611024.png)

/media
![1](https://user-images.githubusercontent.com/9010594/78404223-346e2c80-75fe-11ea-99e9-eba6c09328a6.png)

/restyaboard
![restya root](https://user-images.githubusercontent.com/9010594/78404234-3d5efe00-75fe-11ea-95e5-68eb2073b28a.png)

[2020-04-04 00:18] FuXXz commented on #4019
With Cards the same. If i create a new Card, there is a new folder with the Cardnumber in /restyaboard/media/Card.
If i delete the Card, the folder is not deleted

[2020-04-04 08:38] BlackDark commented on #4018
https://docs.plesk.com/de-DE/obsidian/administrator-guide/75823/#container-settings

[2020-04-04 11:31] KarlFrederik commented on #4018
My Variables at Restyaboard are these:
[code]

I set the password in the postgres container to password1 so I can remember it better.
It could be the problem that I set up postgres wrong.
Could someone send me a link to a good tutorial?
That would be nice.

[2020-04-05 14:24] BlackDark commented on #4018
Ah this could be probably caused by the `POSTGRES_HOST`.
Could you remove the trailing `/` and check if its working then?

[2020-04-05 18:34] KarlFrederik commented on #4018
That changes the error.
Now the console says:
`psql: could not translate host name "h2872773.stratoserver.net:5433" to address: Name or service not known`

[2020-04-05 18:38] rkhapre opened #4021 "Not able to install in Apache Windows with XAMPP"
Hi

I am getting this error after following all documentation.Not able to install the product at all.
Not able to launch it in browser
Please suggest how should i debug

![image](https://user-images.githubusercontent.com/13833102/78506922-b1360d80-779a-11ea-9b1d-d25ae44f4467.png)

[2020-04-06 04:46] sridhar391 commented on #4021
@rkhapre Can you please tell us if you have followed all the installation instruction in the link https://restya.com/board/docs/windows

[2020-04-06 05:36] rkhapre commented on #4021
Yes, i have followed all the 8 steps from here https://restya.com/board/docs/windows/#3

The #9 Step has not gone through with me. I am not sure how to run that. Is that the problem because of it. Can you tell me how to execute the Step#9 in Windows Server

Including add the below extension in php.ini
extension=php_pdo_pgsql.dll
extension=php_pgsql.dll

[2020-04-06 05:50] rrjanbiah commented on #4019
@FuXXz

Deleting the card will not remove attachments. It is by design.

But, deleting the attachment should remove files. Looks like it is not the case when file permissions are not set right. So, we'll need to work on that.

[2020-04-06 09:06] BlackDark commented on #4018
Not sure how deployment is done in plesk.

You could try following:

- Change the host and port like this

[code]

- or if it set up like a docker-compose and therefore internal docker referencing works you could try following (use containername as host and internal port). Maybe you could check through the docs if in plesk the deployed container share a network or similiar.

[code]

[2020-04-06 13:21] KarlFrederik commented on #4018
Now there is another problem.
[code]
Is it a Port forwading error?

[2020-04-06 21:28] BlackDark commented on #4018
Did you also update the POSTGRES_PORT to 5433?
Because the error says something about port 5432

[2020-04-07 06:57] rkhapre commented on #4021
@sridhar391  any comments on my above steps. I am really interested to use this product.

[2020-04-07 08:29] sridhar391 commented on #4021
@rkhapre Please check if you have downloaded the `.htaccess` file as all type file format and not as the text type file format

[2020-04-07 16:23] KarlFrederik commented on #4018
Oh,
yep. Now it can connect.
Thats the new error
`psql: FATAL:  database "restyaboard" does not exist`
The problem is, that i created the database and i can connect with it via the Termina:
![Bildschirmfoto vom 2020-04-07 18-22-28](https://user-images.githubusercontent.com/42519173/78694323-c88d0c00-78fc-11ea-9c3b-028c38bd8772.png)
I can connect, but restyaboard doesn'T find the database.

[2020-04-08 12:10] BlackDark commented on #4018
You created the database manually?
This should be done automically by restyaboard.

Currently i am updating the db init for docker but still this is a step which is done initially by the container. Otherwise you will have to add all tables etc yourself with the SQL file here: https://github.com/RestyaPlatform/board/tree/dev/sql (empty data file).

In general what restyaboard does initially (copied

[2020-04-08 12:13] rrjanbiah commented on #4018
@BlackDark Yes sure.

[2020-04-08 13:12] KarlFrederik commented on #4018
I didn't plan to create the database myself. But it didn't created it atomaticly. So I thought when i create the database myself, maybe it works.

[2020-04-08 15:29] KarlFrederik commented on #4018
I reinstalled it and now there is this error:
`==> /var/log/nginx/error.log <==
Starting periodic command scheduler: cron.
Starting nginx: nginx.
Starting Postfix Mail Transport Agent: postfix.
==> /var/log/nginx/access.log <==

==> /var/log/nginx/error.log <==`
![Bildschirmfoto vom 2020-04-08 17-27-54](https://user-images.githubusercontent.com/42519173/78802718-6d235280-79be-11ea-8eaa-791183a5ccb

[2020-04-09 06:03] dirkforke commented on #2286
I miss mapping, too. This can be done as mapping during the import of new boards. More universal would be a doublet check on name level and a possibility to merge duplicates.

[2020-04-09 09:41] BlackDark commented on #4018
Do you use the latest dev version from docker hub? Maybe you have to make sure to pull the newest image via plesk (maybe theres a toggle?)

the `/var/log/nginx/error.log` is not an error, it is just an information of the used log file.

[code]

[2020-04-09 20:08] rkhapre commented on #4021
yes that was the problem, .htaccess file made it as all type format

[2020-04-09 20:08] #4021 closed

[2020-04-10 07:16] johncarteroz opened #4023 "Fresh install - Blank login screen - Ngix Logging going crazy!"
Bug/Issue
=======
I am not sure where the issue or bug lies but after a fresh install, the domain name (sanitized in my log file) simply goes to a white login screen (the url changes to: https://mydomain.com/#/users/login".

My general setup
=============
Centos 7
Ngix
Postgresql

Steps taken
=========
This is a fresh Centos install so no other packages will effect this install
1) Downloaded Resty

[2020-04-10 10:04] alexandre-romain opened #4024 "French translations one 'correct' and one 'weird' ..."
Just to inform that there are 2 french translations.

/restyaboard/client/locales/fr/ (which should be suppressed as it is badly translated and incomplete)

/restyaboard/client/locales/fr_FR/ (which is better).

[2020-04-11 09:35] #4024 closed

[2020-04-11 09:44] #4019 closed

[2020-04-11 11:30] FuXXz commented on #4019
@rrjanbiah Deleting the card will not remove attachments. It is by design.

If I delete a card (not put in the archive), I would also like to delete it.
Just deleting them from the UI and leaving them in the system cannot be by design.
Depending on the number of users, tons of useless data accumulate
Are you sure that this is intended?

[2020-04-11 11:38] sridhar391 commented on #4023
@johncarteroz We have checked your Restyaboard installation log file and the the PostgreSQL installation failed, please install the PostgreSQL by executing the  below installation script by downloading the attached file and excuting the command `chmod +x postgresql_install.sh` and execute the command `./postgresql_install.sh`

We have seen that you tried to add the SSL certificate, Can you please

[2020-04-11 13:14] #3760 closed

[2020-04-11 14:12] rrjanbiah commented on #4019
@FuXXz Yes, in a team based environments, attachments are not just associated with cards. They're also accessed through 'Show Attachments' menu option.

[2020-04-12 03:51] FuXXz commented on #4019
Sure i understand team based enviroment. But if you want to delete Content, in this case the image or a card, why should the image stay on server.
And why should a deleted image be accessed through "show Atttachments" ?
I dont understand the workflow behind. Delete = Delete, Fini, empty, not needed any more, dont show it.

Maybe i need an example of workflow that shows the advantages to showing de

[2020-04-15 21:00] BlackDark commented on #4018
@KarlFrederik still problems or can this issue be closed?

[2020-04-16 09:29] KarlFrederik commented on #4018
I still have problems.
When I start the software, I get this message in the console:
`
Starting periodic command scheduler: cron.
Starting nginx: nginx.
Starting Postfix Mail Transport Agent: postfix.
==> /var/log/nginx/access.log <==

==> /var/log/nginx/error.log <==
Starting periodic command scheduler: cron.
Starting nginx: nginx.
Starting Postfix Mail Transport Agent: postfix.
==> /var/log/ngin

[2020-04-16 09:52] BlackDark commented on #4018
Could you please try to use the `dev` tag version of the docker image for restyaboard?

[2020-04-16 23:46] shawncampbell commented on #4023
I ran into a similar experience (i.e. blank white page, perpetual 404 AJAX requests for `api/v1/oauth.json`). In the end my issue was due to an nginx misconfiguration. Before running the Restyaboard install script, I configured the website and domain on the server. Consequently, after running the install script multiple nginx configurations existed for the same site/domain. To resolve the issue, I

[2020-04-17 10:21] sridhar391 commented on #4007
@DAigory We are closing this issue as there is no activity and please feel to reopen if the issue occurred again and add the reproduce steps

[2020-04-17 11:24] KarlFrederik commented on #4018
I installed it now and there aren't much variables pre-installed.
What is RESTYA_DB_USERNAME ?

[2020-04-17 19:23] BlackDark commented on #4018
Check here: https://github.com/RestyaPlatform/board#docker-configuration

You can use for testing `restya/restya`

[2020-04-17 20:30] KarlFrederik commented on #4018
Now this error Ocured:

Trying to connect to postgres ...
h2872773.stratoserver.net:5433 - accepting connections
Connection established!
Creating PostgreSQL user and database...
PostgreSQL user creation failed with error code 1 (PostgreSQL user creation failed with error code 35)
Failed to initialize DB for restyaboard.
ERROR:  current user cannot be dropped

[2020-04-17 20:32] BlackDark commented on #4018
Did you set `POSTGRES_ADMIN_USER ` and `POSTGRES_ADMIN_PASS ` to the admin user you created in postgres?

Probably `postgres/password1`

[2020-04-17 20:37] KarlFrederik commented on #4018
Now this is a problem:

[2020-04-17 20:38] BlackDark commented on #4018
That's probalby no error check if it is working. Open your browser to your exposed port / website. Should be working.

[2020-04-17 20:53] KarlFrederik commented on #4018
Which could be my exposed port?

[2020-04-19 15:47] BlackDark commented on #4018
https://support.plesk.com/hc/en-us/articles/115004844374-How-to-proxy-requests-from-domains-to-Docker-container-in-Plesk-

Restyaboard exposes its port on 80

[2020-04-19 16:45] #4018 closed

[2020-04-20 08:16] #4023 closed

[2020-04-20 11:59] #4015 closed

[2020-04-21 10:21] sridhar391 commented on #3901
@srileka The email type broadcast  is an one time broadcast and it will be sent in mail to all the Restyaboard users once created. so, there is no need for showing End date

[2020-04-21 10:21] #3901 closed

[2020-04-21 10:22] sridhar391 commented on #3902
@srileka The email type broadcast  is an one time broadcast and it will be sent in mail to all the Restyaboard users once created. so, there is no need for Edit and Delete action to the broadcast

[2020-04-21 10:22] #3902 closed

[2020-04-21 16:49] shawnweeks opened #4030 "Docker Compose Example Appears Incomplete"
Using the example docker-compose.yml at https://github.com/RestyaPlatform/board/wiki/Docker:-Build-and-Install Restya complains about the following variables missing and once they are provided it then complains about the database "admin" not existing despite specifying POSTGRES_DB. It appears that a better docker-compose.yml is in the repo though.

POSTGRES_ADMIN_PASS
POSTGRES_ADMIN_USER
RESTYA_DB

[2020-04-22 04:56] sridhar391 commented on #4030
@BlackDark Can you please look into this issue?

[2020-04-22 05:36] sridhar391 opened #4031 "Show only open items of checklists in the card page"
## Context
Some customers are requested the feature to show only open items of checklists in the card page.

[2020-04-22 05:56] rrjanbiah commented on #4030
@shawnweeks

@BlackDark has done some changes lately. So, can you please check `dev` tag version?

*Related* https://github.com/RestyaPlatform/board/issues/4018#issuecomment-614542597

[2020-04-22 09:09] BlackDark commented on #4030
Ah, i forgot to update the Wiki.

Updated it and referenced the docker-compose files.
@shawnweeks could you try using the new compose structure and update yours?

And did you already have already some data in the db?
`postgres_1     | PostgreSQL Database directory appears to contain a database; Skipping initialization`

[2020-04-22 12:16] shawnweeks commented on #4030
@BlackDark Yeah I had tried to run docker compose a couple of times already. Once I used the version from the dev repo everything came up just fine so this was just a "bug" against the wiki.

[2020-04-22 17:54] rrjanbiah commented on #4030
@shawnweeks Glad to know that!

@BlackDark Thanks for stepping in!

[2020-04-22 17:54] #4030 closed

[2020-04-24 07:49] sridhar391 opened #4032 "While trying to add the card with all apps disabled, console error thrown"
## Expected Behavior
While trying to add the card with all apps disabled, console error should not be thrown

## Current Behavior
While trying to add the card with all apps disabled, console error thrown

## Steps to Reproduce (for bugs)
1. Disable all the apps
2. Goto particular board page
3. Try to add the card

[2020-04-24 10:07] #4032 closed

[2020-04-24 11:04] #3571 closed

[2020-04-26 17:20] Lakraaomer opened #4035 "Installation php debian 10"
Hello,

On debian 10 we don't need ppa:ondrej repository anymore because we have 7.3 version in default. So during the installation of restya I say no to add ppa:ondrej and the script don't install php.

[2020-04-27 06:34] sridhar391 commented on #3875
Fixed the above issue in the `dev` branch and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-04-27 06:34] #3875 closed

[2020-04-27 06:36] sridhar391 commented on #3871
We are using the `Third party` library for the Gantt View

[2020-04-27 06:36] #3871 closed

[2020-04-27 06:50] sridhar391 commented on #1107
@ocdtrekkie Can you please tell us if you have tried to configure the Restyaboard in docker setup for Sandstorm

[2020-04-27 08:04] #3789 closed

[2020-04-27 10:08] sridhar391 commented on #2565
Changed the Support app link to <script type='text/javascript' src='xxxx/support/<board_id>'></script>

[2020-04-27 12:42] #3547 closed

[2020-04-27 21:12] ocdtrekkie commented on #1107
I honestly have not yet. I have a notification from this issue in my inbox as a persistent reminder that it is on my todo list though. I will try to get to it soon.

[2020-04-28 05:20] sridhar391 commented on #1107
@ocdtrekkie Thanks for your help

[2020-05-01 02:45] obizbu opened #4038 "Installed fine, but can't access application"
I Installed Restyaboard using the shell script on Ubuntu 16.04 LTS and it ran fine, but when I go to access it from the browser, it doesn't load. I checked the developer tools and looks like the server keeps trying to request oauth.json, but the server keeps returning a 500 error

[2020-05-01 14:01] rrjanbiah commented on #4038
@obizbu

Most likely it is a database issue. Please double check the database credentials. If you still face issue, please enable debug mode (https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 ) and check for errors the API call.

[2020-05-01 14:03] rrjanbiah opened #4039 "Authorized OAuth Applications are not listed in user profile page"
From the forum from Marco https://groups.google.com/d/msg/restya/DLokfTowOa4/ocwnjcAtBQAJ

[2020-05-01 17:05] erl4nc opened #4041 "Disabling card cover image doesn't work for PDF preview"
Users report that card attachment preview clutters lists in a board. Is there an option to turn these off?
![image](https://user-images.githubusercontent.com/33263752/80824311-0810e600-8b93-11ea-8e0c-3ac9c1bbe794.png)

[2020-05-01 18:10] rrjanbiah commented on #4041
@erl4nc

Please turn off card cover feature under board settings in `Additional Settings->Card Cover Images Enabled` (Refer the screenshot below)

![rb-card-cover](https://user-images.githubusercontent.com/4907427/80829511-ebad9180-8c04-11ea-9d52-e54547eba195.png)

[2020-05-01 21:28] erl4nc commented on #4041
Thank you. I did not realize that option is there.  However, the option turned off the image attachment preview but not the pdf preview:
![image](https://user-images.githubusercontent.com/33263752/80842981-e37b3500-8bb7-11ea-8b9d-884b362db82e.png)

Could the pdf preview also be disabled?

[2020-05-03 15:21] tommyvange commented on #4038
I have the exact same issue, did you solve it @obizbu?

How do I check if it has the right DB credentials? I just used to installer script.

[2020-05-03 15:28] rrjanbiah commented on #4038
@tommyvange Can you please enable debug mode and share the output you see in the network panel for the API call?

[2020-05-03 15:28] tommyvange commented on #4038
I managed to solve my issue, I didn't have the `pgsql` PHP package installed.

**For anyone wondering how to do it:**
- Debian/Ubuntu : `sudo apt-get install php-pgsql`
- Windows Add this line (`extension=php_pgsql.dll`) to the active php.ini

[2020-05-04 16:59] cdhowie opened #4042 "Docker compose example fails to start on v0.6.8"
This seems similar to #4030 but the error message is slightly different.

## Expected Behavior
When using the example `docker-compose.prod.yml` file, the container should start without error.

## Current Behavior
The restyaboard container tries to authenticate to the database as the user `admin` (despite no such user being configured in the compose file).

## Logs:
[code]

## Compose file:
[code]

[2020-05-04 17:02] cdhowie commented on #4042
Nevermind, all of the links from Docker Hub link to master; the example compose file from the v0.6.8 tag is different and I didn't notice that.

[2020-05-04 17:02] #4042 closed

[2020-05-05 00:05] dragonauta opened #4043 "Can't receive IMAP mails as cards"
## Expected Behavior
Email account created: rbreply@mydomain.com
E-mails sent to rbreply+x+xxxxxxxxxxxxxxx@mydomain.com would add a card into Board (defined by the 'plus' destination)

## Current Behavior
Nothing happens, mails are received by account (can see them in thunderbird), but not into boards as cards.

## Possible Solution
I saw that "diagnose.php" shows imap and imagick as orange.
php7.

[2020-05-05 04:39] sridhar391 commented on #4043
@dragonauta Can you please set R_DEBUG as true on the config.inc.php file in line 15 on `/usr/share/nginx/html/restyaboard/server/php` path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and please send the mail to the board IMAP mail address and wait for 5 mins till the cron reads the mails and after that please check if the cards are created in board and if t

[2020-05-05 23:03] erl4nc commented on #3934
One of my users reports this occurs intermittently. She showed me 2 print outs of same card from same board same browser same computer. One of them looks fine and the other has broken layout.

[2020-05-06 05:31] #4041 closed

[2020-05-06 06:10] rrjanbiah commented on #4038
Closing this. If you face any more issues, please feel free to reopen.

[2020-05-06 06:10] #4038 closed

[2020-05-06 07:49] #4039 closed

[2020-05-06 22:09] IssueFindings commented on #3787
@sridhar391 Did you find something ? It's really disabling this situation. Especially with a so special period. So could you give me some news about this bug.
Have a nice day.

[2020-05-07 04:34] sridhar391 commented on #3787
@IssueFindings we have fixed this issue in the commit https://github.com/RestyaPlatform/board/commit/0461b00e4470c77ef908f2c0abebc6e360c306e2 and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-05-07 10:24] mamathew98 opened #4047 "windows grunt build:live spawn php ENOENT Fatal error"
I'm trying to build the source on windows and I'm getting this on "grunt build:live" :

[2020-05-08 16:11] IssueFindings commented on #3787
Great !!! Do you know when this release will be available ?
Have a nice day.

[2020-05-08 21:46] dragonauta commented on #4043
@sridhar391 sorry for the delay. I enabled R_DEBUG.
Rebooted virtual machine just in case.
Sent the mail and waited for crontab (I watched syslog and saw cron task execution) but no luck.

**/var/log/nginx/access.log** show every 10 seconds lines like this:
`X.X.X.X - - [08/May/2020:18:06:48 -0300] "GET /api/v1/users/1/activities.json?type=all&last_activity_id=83&direction=ASC&token=b25cd64f352729

[2020-05-09 10:53] rrjanbiah commented on #4043
@dragonauta

Can you please see if you can directly execute `main.sh` file found in the `shell` folder (https://github.com/RestyaPlatform/board/tree/dev/server/php/shell) ? Are you getting any errors?

[2020-05-09 15:03] dragonauta commented on #4043
[code]
So I went to /etc/php/7.2/cli/php.ini and enabled error_reporting (E_ALL)
Manually run
[code]
No errors in shell nor nginx/errors.log

Then I went to shell folder and added **error_reporting(-1);** (under <?php) to main.php, cron_mail.php & imap.php.
Also changed **error_log /var/log/nginx/error.log warn;** to **debug**
Run from command line and also waited for cron, but no trace of error.

[2020-05-09 16:00] rrjanbiah commented on #4043
@dragonauta

If you're a technical person, please try to check if it is really reading emails here https://github.com/RestyaPlatform/board/blob/dev/server/php/shell/imap.php#L43

[2020-05-10 02:41] dragonauta commented on #4043
I'm trying to debug (it's too late here now) Will try tomorrow.

I'm exploring the code, and I see imap.php is never called or included. is this correct?
[code]

[2020-05-10 06:04] rrjanbiah commented on #4043
@dragonauta

It is included in `main.php` https://github.com/RestyaPlatform/board/blob/dev/server/php/shell/main.php through `glob` iteration

[2020-05-10 09:32] rrjanbiah commented on #4047
@mamathew98 Sorry, we're on Linux. But, quick Google search suggests that you'll need to place dll files in extension folder. If you find any solution, please share.

[2020-05-10 14:11] dragonauta commented on #4043
**Found it!**
I'm not a PHP expert... heck! even I'm not consider myself a programmer, actually I suck.
But I used fwrite to print out on every block.

Problem is that [line 40](https://github.com/RestyaPlatform/board/blob/dev/server/php/shell/imap.php#L40) look for _UNSEEN_ emails just on **INBOX**, but emails actually goes to folders (i.e. 3+7XXXXX; 4+5XXXXXXX) and not to inbox.

I manually copi

[2020-05-10 14:50] rrjanbiah commented on #4043
@dragonauta

Glad to know that it finally worked. Probably you might have set some filters that are moving files to folders.

[2020-05-10 16:39] dragonauta commented on #4043
I changed my hosting to not create folder (all emails lands on inbox now).
Tested again but it's not working.
Only works if I change from >= to <= in line 29
`if (round((strtotime('now') - $_imap_time_trace) / 60) >= 30) {`

help me understand that line... runs every 30 minutes?

[2020-05-10 18:34] dragonauta commented on #4043
Answering myself... yeah... I waited and worked.
Thank you all.

[2020-05-10 18:34] #4043 closed

[2020-05-15 03:42] rkhapre opened #4048 "How to configure SSL with Apache Server"
Hi All

I have configured Restya with Apache and its working well locally( localhost). Now i need to make it work with SSL and my domain name
Here is the configuration i did in restyaboard-ssl.conf

listen 443 ssl;

    ssl_certificate      C:/myfolder/abcd.crt;
    ssl_certificate_key  C:/myfolder/domain.key;

    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  15m;

    # Set system wi

[2020-05-15 07:24] rkhapre commented on #4048
@sridhar391 . You have any suggestions for this. I think you know it better, last time you guided for installation

[2020-05-15 08:46] #4048 closed

[2020-05-18 02:15] IssueFindings opened #4049 "Restyaboard frozen after backup and restore Database"
Hello,
I made a fresh install of the last version of Restyabord on Raspberry Pi4 Buster. Install works fine and I manually created users.

After that, I followed the different steps backup/restore (https://restya.com/board/docs/backup-and-restore/#0). During the restore process, I got errors regarding duplicated keys that broken unique constraint « cities_pkey », « countries_pkey », « email_templa

[2020-05-18 06:45] sridhar391 opened #4050 "Bug in behavior uploaded PDF"
## Expected Behavior
When the card is opened and the PDF icon is clicked, the file should be downloaded and opened in the corresponding application.

## Current Behavior
When you open the card and click on the PDF icon, a white window opens with the nginx 404 error.

## Steps to Reproduce (for bugs)
1. Open a blackboard.
2. Create a card or open an existing card.
3. Add a document type attachment

[2020-05-18 06:56] sridhar391 commented on #4049
@IssueFindings Can you please tell us if you are trying to restore the database on the existing database of Restyaboard?

[2020-05-18 07:47] sridhar391 commented on #3757
Fixed the issue in the Custom Fields app local commit and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-05-18 07:47] #3757 closed

[2020-05-18 07:47] sridhar391 commented on #3720
Fixed the issue in the Custom Fields app local commit and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-05-18 07:47] #3720 closed

[2020-05-18 11:56] sridhar391 commented on #3924
@srileka We are having list of email templates and it will be not suitable to change it like users page

[2020-05-18 11:56] #3924 closed

[2020-05-18 11:59] sridhar391 commented on #3896
@srileka We are able to smoothly scroll through MyRestyaboards iOS app

[2020-05-18 11:59] #3896 closed

[2020-05-18 12:05] sridhar391 commented on #3893
@srileka In the users page, there are list of known filters and in the roles page, there are only three filters for checking the permission level and this design is only suitable for the roles page

[2020-05-18 12:05] #3893 closed

[2020-05-18 14:21] sridhar391 commented on #3956
Fixed the issue in the dev branch and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-05-18 14:21] #3956 closed

[2020-05-18 16:49] andresgt2000 commented on #4050
Restya Board: 0.6.8

Environment:

- OS: Ubuntu 18.04.4  TLS
- HTTP Server: NGINX 1.14.0-0ubuntu1.7
- PHP: 7.3.18-1+ubuntu18.04.1+deb.sury.org+1
- PostgresSQL: 10.12-0ubuntu0.18.04.1

Operative Version

- Windows 10 Pro 1909
- Windows 10 Home 1909
- Distros Based on Ubuntu Desktop 18.08 (Mint, Kubuntu, Ubuntu)

Browsers
- Firefox 74, 75, 76
- Google 80, 81
- Brave 1.8.96

Link to your project

We

[2020-05-19 07:31] sridhar391 opened #4052 "Grammatical mistakes in page title"
## Expected Behavior
There shouldn't be grammatical mistakes in the page title

## Current Behavior
Grammatical mistakes in the page title.

[2020-05-19 12:06] IssueFindings commented on #4049
@sridhar391
Hello,
I just made a complete fresh install, created user's profiles and imported the database from old Restyaboard to fresh install restyaboard. I made something wrong ? If yes, how I can do ?
Have a nice day.

[2020-05-19 13:22] reidharry opened #4053 "While loading the private board card URL directly, redirected to login page"
## Expected Behavior
While directly loading the private board card URL, Board may be private page should be shown

## Current Behavior
While loading the private board card URL directly, redirected to login page

## Steps to Reproduce (for bugs)
1. Login to Restyaboard
2. Open the private board and copy the card URL
3. Logout and try to load the card URL

[2020-05-20 04:37] sridhar391 opened #4054 "Need the option to create tasks by clicking on a free spot in calendar view"
## Context
As our user created an ticket for adding the option to create tasks by clicking on a free spot in calendar view

[2020-05-20 05:47] sridhar391 commented on #4050
@andresgt2000 Thanks for sharing your Restyaboard Enviroinment details, we will check this issue with given information

[2020-05-20 10:59] sridhar391 opened #4055 "Cards search using custom field values"
## Context
Cards search using custom field values

[2020-05-20 11:50] #4055 closed

[2020-05-20 13:51] rrjanbiah opened #4058 "swagger.json is having references to Swagger"
## Expected Behavior

`swagger.json` is correctly referring to Restyaboard

## Current Behavior

Has references to Swagger

[2020-05-20 13:57] rrjanbiah opened #4059 "swagger.json is having syntax errors"
## Current Behavior

`swagger.json` is throwing syntax errors:

[code]

## Steps to Reproduce (for bugs)

Copy paste `swagger.json` in editor.swagger.io

[2020-05-21 08:23] #3542 closed

[2020-05-22 09:57] #3890 closed

[2020-05-22 10:11] sridhar391 commented on #1107
@ocdtrekkie Can you please tell us if you have tried to configure the Restyaboard in docker setup for Sandstorm

[2020-05-22 10:25] #3898 closed

[2020-05-22 10:31] #3872 closed

[2020-05-22 12:21] sridhar391 commented on #3881
Fixed the issue in the commit https://github.com/RestyaPlatform/board/pull/4064/commits/dc529c1d5ad80bfe358e799f776f292625400298 and  the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-05-22 12:21] #3881 closed

[2020-05-22 12:21] sridhar391 commented on #3877
Fixed the issue in the commit https://github.com/RestyaPlatform/board/pull/4064/commits/dc529c1d5ad80bfe358e799f776f292625400298 and  the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-05-22 12:21] #3877 closed

[2020-05-22 12:22] #3882 closed

[2020-05-22 14:11] IssueFindings opened #4067 "Uninstall Restyaboard"
Hello,
What is the process to uninstall properly the currently last version of Restyaboard. Indeed, I would like to perform a new fresh install because of bugs.

I run Restyaboard on Rpi 4 Buster.

Have a nice day.

[2020-05-22 14:37] rrjanbiah commented on #4067
@IssueFindings Please use the uninstall script https://github.com/RestyaPlatform/board/blob/dev/restyaboard_uninstall.sh

[2020-05-22 22:13] IssueFindings commented on #4067
@rrjanbiah
Hello,
Many thanks for the link. That works perfectly !
Have a nice day.

[2020-05-22 22:13] #4067 closed

[2020-05-23 04:21] #3869 closed

[2020-05-23 05:04] rrjanbiah commented on #4067
@IssueFindings Some users are asking if Restyaboard works in Rpi. What are the problems are you facing in Rpi?

[2020-05-23 05:27] #3867 closed

[2020-05-23 05:53] sridhar391 commented on #3873
@srileka Fixed the issue in the dev branch and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-05-23 05:53] #3873 closed

[2020-05-23 05:54] sridhar391 commented on #3889
Fixed the issue in the dev branch and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-05-23 05:54] #3889 closed

[2020-05-23 06:16] sridhar391 commented on #3888
@srileka We have tried to reproduce the issue in MyRestyaboards iOS app and the page and shows the top contents when clicking the pagination.

[2020-05-23 06:16] #3888 closed

[2020-05-23 06:25] sridhar391 commented on #3887
@srileka While the phone keyboard opens only, the footer is showing in the top of phone keyboard

[2020-05-23 06:25] #3887 closed

[2020-05-23 06:36] sridhar391 commented on #3792
@erl4nc While adding the user in the board, the user have to be notified  for added in the board to be notified for the new project and we followed trello mail notification preferences and can you please tell us your use case?

[2020-05-23 06:51] sridhar391 commented on #3934
@erl4nc The issue has been occurred in our local servers also and we are working on the issue.

[Restyaboard-print-modalcard.webm.zip](https://github.com/RestyaPlatform/board/files/4671296/Restyaboard-print-modalcard.webm.zip)

[2020-05-23 08:00] #3866 closed

[2020-05-23 10:25] #3529 closed

[2020-05-23 12:21] #3393 closed

[2020-05-23 12:51] sridhar391 commented on #4008
Fixed the issue in the dev branch and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-05-23 12:51] #4008 closed

[2020-05-23 13:14] sridhar391 commented on #3837
@srileka We are closing this issue as we are not able to re-produce the issue, please feel to reopen if the issue occurred again and add the reproduce steps

[2020-05-23 13:14] #3837 closed

[2020-05-23 13:15] sridhar391 commented on #3865
We are closing this issue, because while trying to register in the local server through MyRestyaboards iOS app, the activation mail has been sent to the registerd mail

[2020-05-23 13:15] #3865 closed

[2020-05-24 00:13] IssueFindings commented on #4049
Hello,
I understood my mistake. I need to use the right database password. So I fixed it and I imported the database.

I also do the same with documents and images uploaded. I checked access rights of folders and files. It's the same than source but the fresh Restyaboard installation can't display it. It can only downloaded locally. Why ? How I can fix that ?

Have a nice day.

[2020-05-24 08:38] IssueFindings opened #4071 "Attachment links broken after restore"
Hello,

After a restore of database and users' attachments (https://restya.com/board/docs/backup-and-restore/#0), users' attachments are not fully operational. Indeed, the preview is unvailable and the icon "link broken" is displayed (see below). How I can fix it ?
![Capture d’écran 2020-05-24 à 10 38 03](https://user-images.githubusercontent.com/26858396/82749623-ac5d0580-9daa-11ea-96ba-b1caec8

[2020-05-24 08:41] IssueFindings commented on #4049
The initial issue is solved. Regarding the issue with users' attachments see the new dedicated ticket.

https://github.com/RestyaPlatform/board/issues/4071

[2020-05-24 08:41] #4049 closed

[2020-05-25 11:41] morbificagent commented on #1188
Hi there,
have the same problem too...
My only solution for now is to clear my browser cookies and reload the page, than i can login again.

[2020-05-25 11:45] morbificagent commented on #4010
Same here :-(
Dont know what to do

[2020-05-25 18:39] erl4nc commented on #3792
I am not familiar with Trello's workflow and am not concerned with it. In my organization, some users specifically do not want card_due_notification.php email.

[2020-05-26 05:15] sridhar391 commented on #3792
@erl4nc We will discuss internally discuss this issue within the team and will update you as soon as possible

[2020-05-26 05:36] #3897 closed

[2020-05-26 07:16] morbificagent opened #4073 "Session crashes -> no login possible anymore"
Hi together,

i am trying to use restya since a few days but i have a problem with the sessions.
After some time (30min eventually) i lose my session and get the a screen "board not found, it could be private".

At this point my nginx-log says every 10sec:

FastCGI sent in stderr: "PHP message: PHP Notice:  **Trying to access array offset on value of type bool in /var/www/restya/server/php/bootstr

[2020-05-26 07:20] #3885 closed

[2020-05-26 08:05] #3874 closed

[2020-05-26 10:05] #4035 closed

[2020-05-26 11:10] sridhar391 commented on #3934
We are closing this issue as we are not able to re-produce the issue, please feel to reopen if the issue occurred again and add the reproduce steps with the form of image or video

[2020-05-26 11:10] #3934 closed

[2020-05-26 11:42] #3772 closed

[2020-05-26 12:52] #3870 closed

[2020-05-26 13:41] #3683 closed

[2020-05-26 15:38] rrjanbiah commented on #4071
@IssueFindings Can you please share the image URL? (You can mask the domain) and please share the instance URL (you can mask the domain). Need to understand if the image is linked to old instance.

[2020-05-26 16:53] rrjanbiah commented on #4073
*Internal note*

As per above note, https://github.com/RestyaPlatform/board/blob/dev/server/php/bootstrap.php#L59 is throwing the error. So, looks like `oauth_access_tokens` has no tokens for the given condition. This case needs to be fixed.

[2020-05-26 16:56] rrjanbiah commented on #4073
@morbificagent

Can you share how you setup the script? Are you using the built script or directly from the git?

Looks like you seem to run the script in debug mode (https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 ) and so the refresh token call is not getting triggered.

[2020-05-26 18:04] morbificagent commented on #4073
Hi rrjanbiah

I used git for installation.

And i have double checked it, i dont run in debug mode...
It Was enabled some time ago but for now it isnt as it is set to false and nginx was restarted several times.

[2020-05-26 18:32] rrjanbiah commented on #4073
@morbificagent Can you try to build the source and run the built version?

[2020-05-27 05:11] sridhar391 commented on #3514
if we drag the list or card without scrolling to the one end, the horizontal scroll bar will be moving in fast and the cards or list placeholder will not be created as the horizontal scroll approaching in fast manner and if the user stops the scrolling and hover on the list, the placeholder for card or list will be shown

[2020-05-27 05:11] #3514 closed

[2020-05-27 05:18] morbificagent commented on #4073
Yes i will do so and report...

[2020-05-27 05:23] morbificagent commented on #4073
Said this easily but... as i am no linux-user for long i dont know how to do this ;-) (shame on me)

Could you write e few lines how to do this (eventually without loosing my data wich is already in there)

Thanks for helping

[2020-05-27 07:16] morbificagent commented on #4073
OK, got it. New built version is running... will report back...

[2020-05-27 09:26] morbificagent commented on #4073
:-( No, doesnt help... Have learned how to build it from source but the problem remains

[2020-05-27 10:23] sridhar391 commented on #4052
Below list also are the Gramattical issues

Adds estimated time tracking option for each cards.-should be each card

App Settings Manage-in case it is a full sentence, it should be Manage App Settings

Broadcast deleted successfully.-isn´t a word message missing?

Card Depency added successfully.-Dependency I believe

Copy CustomFields-Fields separately

Enter the header lable-label not lable

Ent

[2020-05-28 06:00] rrjanbiah commented on #4073
@morbificagent Sorry to hear that it is still not working for you.

Can you please share your browser and your hardware spec?

Technically, app is polling frequently for new activities and so the session timeout shouldn't happen. Even if does, it will resume through refresh token. So, over the top of my head... something might be killing your browser process when you switch to other window or so..

[2020-05-28 06:24] morbificagent commented on #4073
@rrjanbiah I have tried it on several systems. One MacOS Catalina with Chrome, MacOS with Safari, one Android Phone with Chrome, one Win10 with Brave (Chrome under the hood).
But all of them are showing the same problem.

And i noticed that my session is crashing even if i am working inside of restya and not only if its in the "background".

If it would be a problem with all of the used devices, s

[2020-05-28 06:39] rrjanbiah commented on #4073
@srileka Please see if you can reproduce this issue. I can't able to understand why it fails (He says he can able to login only after clearing cookies and it happens even when using the board)

[2020-05-28 22:42] IssueFindings commented on #4071
Hello,
I can't do that because I tried to reproduce the complete restore process. Now I have an error message at the beginning of `psql -h localhost -d restyaboard -U restya -W < /home/pi/backup.sql` juste after :

ERROR: must be owner of extension plpgsql.
(...) => error with identical arguments that already exist

So, what can I do ? The restore process is not really user friendly... Could you h

[2020-05-29 08:00] morbificagent commented on #4073
Here are some information i can see in chrome. (See Screenshots)
Eventually it helps

![Screenshot at May 29 09-44-28](https://user-images.githubusercontent.com/50199132/83236006-1999dd80-a193-11ea-8cbb-e94f0deae401.png)
![Screenshot at May 29 09-47-51](https://user-images.githubusercontent.com/50199132/83236012-1b63a100-a193-11ea-9d74-278dda791d8b.png)
<img width="919" alt="Screenshot at May 29 0

[2020-05-29 09:17] sridhar391 commented on #4071
@IssueFindings Please execute the below commands one by one for granting permission for user "restya" to the restyaboard database and import the restyaboard database with backup.sql file

[code]

[2020-05-29 09:42] sridhar391 commented on #4073
@morbificagent Can you please tell us if your Restyaboard version is v0.6.8 and you can check your Restyaboard version by clicking the user image icon in the footer and click the "About Restyaboard" option like the attached image "about_restyaboard_option.png" and in the About page check the Restyaboard version like the attached image "restyaboard_version.png"

![about_restyaboard_option](https://

[2020-05-29 09:43] sridhar391 commented on #4010
Can you please tell us if your Restyaboard version is v0.6.8 and you can check your Restyaboard version by clicking the user image icon in the footer and click the "About Restyaboard" option like the attached image "about_restyaboard_option.png" and in the About page check the Restyaboard version like the attached image "restyaboard_version.png"

![about_restyaboard_option](https://user-images.git

[2020-05-29 09:45] morbificagent commented on #4073
Yes its v 0.6.8 (2019-12-16)

[2020-05-29 09:45] sridhar391 commented on #3787
@IssueFindings Please find approximate plan here https://github.com/RestyaPlatform/board/milestones

[2020-05-29 09:59] morbificagent commented on #4073
More debugging:

If i login an access token is written to db:

<img width="861" alt="Screenshot at May 29 11-55-33" src="https://user-images.githubusercontent.com/50199132/83247179-756c6280-a1a3-11ea-85d2-a0f6c0245d21.png">

Hi, i am Alex ;-)

Now it is 11:57 and it looks the same... schouldnt it be refreshed?

I thought: OK, now i am out again, but no, i can work inside of restya... we will see w

[2020-05-29 10:54] morbificagent commented on #4073
Update:
Had to eat a little bit. 12:40 i came back. Looked at the db and user and Token Looked the same. Restya looked working too But after the first click it crashed.

Locked at the DB, oauth_access_tokens empty.

[2020-05-29 10:58] sridhar391 commented on #4009
@fnetX  Thanks for your kind words. Internally we'll discuss and implement this feature

[2020-05-29 13:07] sridhar391 commented on #4073
@morbificagent We have fixed the above issue in the previous release  https://github.com/RestyaPlatform/board/issues/3401 and the timeout and session crash hasn't been occured again

Can you please use the latest version build file from the link https://github.com/RestyaPlatform/board/releases

[2020-05-29 13:19] morbificagent commented on #4073
@sridhar391 Im sorry but i have installed restya from the downloadable zip-file first: board-v0.6.8.zip
This was the version with that i had the problem.

than, after rrjanbiah asked me to build it from source i did so and used 0.6.8 as this is the one which is running now...

So i am pretty sure using the version which is shown in my webinterface too.

[2020-05-30 17:36] IssueFindings commented on #4071
Hello,
I don't understand... I made a new fresh install of Restyaboard. I checked that the login page is available (but I didn't open any user session). I used your psql commands and I tried to import backuo.sql with `psql -h localhost -d restyaboard -U restya -W < /home/USER/backup.sql`

But... I still had the same error message... I don't know how I did the last time. I made something wrong but

[2020-06-01 10:25] sridhar391 commented on #4071
@IssueFindings Can you please tell us in your database backup SQL file if the below line exist?
`CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;`

Please remove the above line if it exist and execute the Restyaboard database backup SQL file

[2020-06-01 11:15] sridhar391 commented on #4073
@morbificagent Can you please attach your currently using Restyaboard source files, so that we will try to reproduce the issue the issue in our local server and understand and solve the problem

[2020-06-03 19:48] IssueFindings commented on #4071
Hello,
I commented the line `CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;` and, after reinstall and replay psql commands above, I had always the first same error `ERROR: must be owner of extension plpgsql.` and the others errors.
Have a nice day.

[2020-06-03 20:39] rrjanbiah commented on #4071
@IssueFindings It looks like somewhere the permission got messed up. Can you please try to see if you have wrongly executed any commands, swapped switches or so through `history` command?

Using `history` you may somehow recollect how you did last time.

[2020-06-03 21:08] IssueFindings commented on #4071
Hello,
Please find the result of `history` :

  635  rm backup.sql
  636  ls
  637  psql -U postgres
  638  ls
  639  psql -h localhost -d restyaboard -U restya -W < /home/pi/backup.sql
  640  nano backup.sql
  641  ls
  642  ./RestyaboardUninstall.sh
  643  sudo ./RestyaboardUninstall.sh
  644  sudo bash ./restyaboard.sh
  645  sudo rm /etc/nginx/conf.d/restyaboard.conf
  646  sudo nano /etc/ngin

[2020-06-04 08:13] rrjanbiah commented on #4071
@IssueFindings

Update: We're trying to reproduce this issue in different machines. As per our backup steps, it should not add `CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;` in the backup file. But, as you had this, need to understand what step or command might have caused it.

Still can't reproduce it in Ubuntu. Need to check other steps and other distro

[2020-06-04 11:57] sridhar391 commented on #4071
@IssueFindings

We think you are trying to restore the backup database on the new server on non-empty database and for restoring the backup database on new server, first you have to empty the database by executing the following commands

[code]

After executing the above commands, you can import the backup database by executing the below command

`psql -h localhost -d restyaboard -U restya -W < /h

[2020-06-04 12:09] morbificagent commented on #4073
@sridhar391 Here is a zip of my server+client dir on the server.
If you wonder about the new session-time settings here: i have set them up to a big value to be able to use restya at the moment.

[restya.zip](https://github.com/RestyaPlatform/board/files/4729798/restya.zip)

[2020-06-04 19:40] IssueFindings commented on #4071
Hello,
I think you are true because after a new refresh install of restyaboard and when I try the command `DROP USER IF EXISTS restya;` I have this error message :

DETAIL: restyaboard database owner
141 items in restyaboard database

What I can do to force the command ?

Have a nice day.

[2020-06-05 05:07] sridhar391 commented on #4073
@morbificagent The Restyaboard SQL file is missing in the attached file, please send us the link of the SQL file you have used to import Restyaboard database.

We have tried to load the Restyaboard with your files and the database created from the Empty data SQL from the below link and the Restyaboard loaded correctly without timeout issue.

 https://raw.githubusercontent.com/RestyaPlatform/board/

[2020-06-05 10:14] sridhar391 commented on #4052
Site is in offline-without the "in" in the english version
Unsubsribe => Missing letter
We will send this mail, when user activities in this site.(activities=activ is)(I believe it is "on" this site)

[2020-06-05 10:15] morbificagent commented on #4073
@sridhar391 I used the sql-file delivered with the zip from the restya-website: "board-v0.6.8.zip"

I did it like this:
cat /var/www/restya/sql/restyaboard_with_empty_data.sql | psql restyaboard --username=restya --password --host=localhost

[2020-06-05 10:18] morbificagent commented on #4073
BTW today i could see a timing-problem in my restya installation which could be problem-related:

![Anmerkung 2020-06-05 121747](https://user-images.githubusercontent.com/50199132/83865610-b7a71e00-a726-11ea-8707-ebc159d84bde.png)

[2020-06-05 14:37] sridhar391 commented on #4071
@IssueFindings

Please execute the below commands to create a empty database and importing the database with backup SQL file

[code]

After executing the above commands, you can import the backup database by executing the below command

`psql -h localhost -d restyaboard -U restya -W < /home/USER/backup.sql`

[2020-06-05 18:49] IssueFindings commented on #4071
Hello,
Wonderfull, that works !! Thanks to you :-D
So now, I can import the database. But I find again the issue when I import attachements.
- image URL : https://website/download/28/1c651043ffe9e32f699ddf41f18f8ae5
- instance URL : https://website/#/board/13/card/604

We agree that's instance URL is the URL of the card ? If not, what is it and how I can obtain it ?

I can download the attachement

[2020-06-05 20:09] IssueFindings opened #4081 "Increase webpage loading time"
Hello,
How to increase login webpage (and others webpages) loading time ?
I test it with https://developers.google.com/speed/pagespeed/insights/ and a nginx service.
Results are especially :
- activate text compression ;
- delete unused JavaScript resources.

I activate gzip with this code :

gzip_vary on;
gzip_proxied any;
gzip_comp_level 6;
gzip_buffers 16 8k;
gzip_http_version 1.1;
gzip_types t

[2020-06-06 19:30] rrjanbiah commented on #4081
@IssueFindings

The default setup is already optimized for speed. For nginx, you can see gzip is already enabled https://github.com/RestyaPlatform/board/blob/dev/restyaboard.conf#L8

PageSpeed metrics may be slightly misleading for single page application like Restyaboard. Restyaboard app initial loading will be slightly slow as it loads all assets, but after that it caches.

[2020-06-08 07:50] morbificagent opened #4082 "Filtered views arent updated"
Hi together,

im not sure if its a bug or if it isnt possible at the moment:

If User 1 has enabled a filter to his user to only see the cards assigned to him he sees only the cards assigned to him... works...

Now User 2 assigns him a new card... so i would expect it pops up in User 1 filtered view... but it doesnt.... if User 1 disables the filter he can see the new card. He than can reenable th

[2020-06-08 09:04] sridhar391 opened #4083 "Marking the card due date as complete"
## Context
Marking the card due date as complete

[2020-06-08 14:58] rrjanbiah commented on #4083
Requirement not clear. Is it about moving to the list or?

[2020-06-09 07:56] sridhar391 commented on #4083
@rrjanbiah If the card task is completed before the due date, the user can mark the due date as completed like Trello and the due date notification won't be sent to the user.

[2020-06-10 04:59] #4058 closed

[2020-06-10 05:15] #4052 closed

[2020-06-10 06:11] sridhar391 commented on #4071
@IssueFindings

Can you please set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and please open the preview image URL in the new tab and copy the response and paste it here

It can be PHP-GD extension not installed in your server, for installing PHP-GD

[2020-06-10 08:31] rrjanbiah commented on #3792
*Internal note*

1. 'newprojectuser' notification is sent when preference is Never - Issue
2. 'card due' notification is sent when preference is Never - As in Trello - issue?

[2020-06-10 08:51] sridhar391 commented on #4016
Currently we're naming SQL using app version but client asking us to use Restyaboard version.

[2020-06-10 09:36] sridhar391 commented on #2760
Use cases

- If the user adds the card with self assign only, the card should be shown
- In the live updation also, need to check if the permission is enabled or not and
- while importing the cards, need to check the permission and show only assigned cards
- While converting the checklist item to the card, need to self assign inorder to see the card
- While adding the card with card template, memb

[2020-06-10 10:26] sridhar391 commented on #1107
@ocdtrekkie Can you please tell us the steps to follow to configure Restyaboard using Docker in Sandstorm?

[2020-06-10 10:28] sridhar391 commented on #3864
We are closing this issue as we are not able to reproduce the issue and please feel free to re-open this issue if the issue occured again.

[2020-06-10 10:28] #3864 closed

[2020-06-10 10:45] sridhar391 commented on #4073
@morbificagent We have tried to reproduce the session crash issue with your attached files and the mentioned SQL file and we are not able to reproduce the issue, can you please try a fresh install of Restyaboard and tell us if the issue occured again?

[2020-06-10 10:52] #4059 closed

[2020-06-10 11:23] sridhar391 commented on #3792
@erl4nc

Email notification preferences are only checked while sending the mail notification for the user activities and

For below other activities, the email notification is not checked

1. Welcome Email
2. Forgot password
3. Change password
4. New Board User
5. LDAP Welcome
6. Broadcast message
7. Due Date Notification
8. Board Import User Notification
9. Email Notification For Card Support Use

[2020-06-11 08:32] sridhar391 commented on #4082
Need to test the below cases also

1. Add user
2. Remove user
3. Add label
4. Remove label
5. Add card due date
6. Remove card due date
7. Matches any label and any member
8. Matches all labels and all members

[2020-06-11 10:10] sridhar391 commented on #1107
@orblivion Can you please tell us the steps to follow to configure Restyaboard with PostgreSQL using Docker in Sandstorm?

[2020-06-12 04:45] #2608 closed

[2020-06-12 08:34] #4082 closed

[2020-06-12 09:19] Lockall commented on #4007
Hello, I almost have the same problem. Whatever I do on the rights of "Viewer" (including adding rights related to the labels) only the "Owner" and the "Editor" can act on the labels.

User with a right other than "Editor" or "Owner" can see the label creation button but this button does not work if click on it.

I even tried to create a new "role" with exactly the same rights as "Editor" and that

[2020-06-13 10:32] sridhar391 commented on #4007
@Lockall We have fixed the issue, please exeute the below SQL commands in your Restyaboard database

[code]
After executing the above SQL commands, please login as admin in your Restyaboard and goto the `admin panel roles page` and under the `Boards` tab, search for `Assign labels to card` and enable the permission for the other board role users like the attached image

![add_labels_check_permisio

[2020-06-13 10:40] sridhar391 commented on #1107
@ocdtrekkie Thanks for the clarification and @orblivion Can you please tell us the steps to follow to configure Restyaboard with PostgreSQL using Docker in Sandstorm?

[2020-06-15 04:31] #2837 closed

[2020-06-15 04:36] #4007 closed

[2020-06-15 04:53] sridhar391 opened #4093 "Not able to install the PHP in the CentOS 8 with Restyaboard installation script"
##  Expected Behavior
Using the Restyaboard installation script, the user should be able to install all the Restyaboard required softwares.

## Current Behavior
Not able to install the PHP in the CentOS 8 with Restyaboard installation script

[2020-06-15 10:11] #4093 closed

[2020-06-15 21:15] IssueFindings commented on #4071
Hello,
I tried to install apgt-get install php-xx. The result is "the image XXXXX.png can't be displayed because it contains errors"

Moreover, when I install apt-get install php<php_version>-gd some attachements are automated displayed.

[2020-06-16 22:56] fnetX opened #4095 "Image Upload: "File extension not supported. It supports only jpg, png, bmp and gif.""
## Expected Behavior
Uploading a something.JPG file as board background works without issues.

## Current Behavior
Uploading such an image file does not result in any visual error displayed to the user in the interface. After the upload finishes, nothing is changed after all.

The HTTP POST call is answered with a `200 OK` response which seems like an issue of its own. I think that errors should b

[2020-06-17 08:56] sridhar391 commented on #4071
@IssueFindings Can you please tell us if the PHP GD extension is installed or not?

Please open the broken preview image in the new tab of the browser and set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15  and copy the response and paste it here

[2020-06-17 09:07] #4095 closed

[2020-06-17 09:09] sridhar391 commented on #4095
@fnetX We have fixed the issue, please apply the changes in the `/usr/share/nginx/html/restyaboard/server/php/R/r.php` file from the commit https://github.com/RestyaPlatform/board/commit/55e1422f0bda9a5aaf6860594f26f060bc33a1ab

[2020-06-17 12:13] IssueFindings commented on #4071
Hello,

Sorry, I didn't explain correctly results.

First, I installed php-gd extension. After this installation, some attachements appeared spontaneously. But the majority remained illegible (download locally however still possible).

Secondly, I activated R_DEBUG and copy/paste the URL of one attachement. I got this error message "the image XXXXX.png can't be displayed because it contains errors

[2020-06-17 12:53] sridhar391 commented on #4071
@IssueFindings Can you please hover mouse to the broken preview of the card attachment and right click and click the option `Open Image in a new tab` like the attched image
and the broken preview image will be shown in the new tab and set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/de

[2020-06-17 13:05] sridhar391 opened #4097 "PHP latest version installation changes in the installation shell script file"
##  Context
PHP latest version installation changes in the installation shell script file

[2020-06-18 11:45] #4097 closed

[2020-06-18 13:04] sridhar391 commented on #1107
@ocdtrekkie Thanks for the clarification and @orblivion Can you please tell us the steps to follow to configure Restyaboard with PostgreSQL using Docker in Sandstorm?

[2020-06-18 14:32] morbificagent commented on #2622
Hi there,

after a few Problems in the last weeks i cloned restya from

https://github.com/RestyaPlatform/board.git

And builded it with grunt.
Now i experienced the same Problem as described here.

I make changes in one cards checklist and my team-members see one of the checklist-points as card title in the next moment.
This is very confusing as this is marked as fixed in 0.6.8.

BTW i have stran

[2020-06-18 14:49] morbificagent opened #4099 "Card Title changes after edit checklist"
Hi there,

after a few Problems in the last weeks i cloned restya from

https://github.com/RestyaPlatform/board.git

And builded it with grunt yesterday.
Now i experienced the same Problem as described in #2622.

I make changes in one cards checklist and my team-members see one of the checklist-points as card title in the next moment.
Only a manual refresh of the website leads to the right card-ti

[2020-06-18 20:25] IssueFindings commented on #4071
Hello,
Sorry, I probably misunderstand your instructions...
- I already set R_DEBUG to "true".
- I already copy URL of image and paste it to a new tab (I also try which the option "Open image in new tab"). With PDF I can display the document and with image it depends, but most of the time I can display the image too.

Now preview of documents are not always displayed in Restyaboard. I see broken l

[2020-06-18 20:31] IssueFindings commented on #4081
Hello,

Many thanks for your answer. It's a great application. Continue to improve it (speed too).

Have a nice day.

[2020-06-18 20:31] #4081 closed

[2020-06-19 05:37] rrjanbiah commented on #4071
*Internal note*

As per @IssueFindings it seems to happen only for few or random files. Also, he can't change background image & can't add new attachments. (So, random errors with restored records and after that new files can't be uploaded?)

[2020-06-19 12:17] sridhar391 commented on #4099
@morbificagent We have checked the issue and if the user edits the checklist item and then the other user card name is updated with edited checklist item and we have fixe the issue in the commit https://github.com/RestyaPlatform/board/commit/1b125decb449e35691f6c9110e87fef81c700879

For session expires, can you please use the Restyaboard latest version build files from the link https://github.com/

[2020-06-19 12:40] morbificagent commented on #4099
@sridhar391 thanks for the good info

As you are saying "we have fixe the issue in the commit 1b125de" i can build it with git clone and grunt to get the fixed version right?

If i would then use the version under the given link the fix would be gone again, right?

Sorry for asking but im not so long on linux/github/etc.

[2020-06-19 13:35] rrjanbiah commented on #4099
@morbificagent Are you already using the latest version?

[2020-06-19 13:39] morbificagent commented on #4099
@rrjanbiah As i wrote on top of this case:

So i should be somewhere between 0.6.8 and 0.6.9 as the webinterface shows 0.6.8 but new users get the instruction-video from 0.6.9 ;-)

[2020-06-19 13:43] sridhar391 commented on #4099
@morbificagent If you are using the git clone build files, you have to execute the SQL files from the link https://github.com/RestyaPlatform/board/blob/dev/sql/upgrade-0.6.8-0.6.9.sql in the Restyaboard database.

Can you please use the Restyaboard latest version stable build files from the link https://github.com/RestyaPlatform/board/releases/tag/v0.6.8 and tell us if the session expired issue re

[2020-06-19 14:15] morbificagent commented on #4099
@sridhar391 thanks for the info with the sql file... i used it 5min ago to update my db.

board-v0.6.8.zip from the website was the beginning of my restya-installation and with it i opend #4073
On the way finding/resolving the problem i used the git clone build files and here i am now.
In #4073 i sent a complete zip of my used files too.

Do i really have to jump to the beginning of all of that? I

[2020-06-19 17:23] rrjanbiah commented on #4099
@morbificagent Extremely sorry for the issues you're having. We're trying our best to reproduce the issue #4073 but unfortunately we're still struggling to get that. Since, this is going on circles, you may consider below options:

1. Please try to reinstall using install script one more time. When you install, it will create a log file, please remove any sensitive information and attach that in #

[2020-06-20 02:42] orblivion commented on #1107
I have a sort of proof of concept. There's a lot of caveats that I gave in
the email thread where I presented it. I'll just link to it instead of
repeating myself:

https://groups.google.com/forum/#!searchin/sandstorm-dev/using$20postgres$20inside$20apps%7Csort:date/sandstorm-dev/j8CzPRzClGs/qnTZ9PykAgAJ

It doesn't have anything to do with Docker though. I'm not sure if that
means it won't help y

[2020-06-22 07:03] morbificagent commented on #4099
Eventually here is the problem as i wasnt using the install-script.
On the used server there are some other nginx-sites und programmes installed and i was afraid that the script could damage some functionality of them. So i installed it manually.

Could be possible that did something wrong with my nginx-config...!?

[nginxconfig.txt](https://github.com/RestyaPlatform/board/files/4811650/nginxconfi

[2020-06-22 07:23] rrjanbiah commented on #4099
@morbificagent Issue may not be in the nginx config, but may be in the system time or Postgres settings.

Note that for this #4099 issue... you're using the latest 'dev' files from git and so have to execute the https://github.com/RestyaPlatform/board/blob/dev/sql/upgrade-0.6.8-0.6.9.sql too. Or, you can use the 'released' 0.6.8

[2020-06-22 08:19] sridhar391 commented on #1107
@orblivion Thanks for your suggestion and we will try to use the information to configure the PostgreSQL in the docker

[2020-06-22 08:41] morbificagent commented on #4099
@rrjanbiah The systemtime is correct but CEST in my case... and the postgres-setting... not sure where to look for.

Thanks, i did so

[2020-06-22 09:38] morbificagent opened #4101 "Newly created card jumps to another column"
Hi again,

actually i sometimes have the problem that my newly created card jumps away after i click on the "Add"-Button

Like you can see on the attached screenshot i created a card on the left side under "Prio 1", than i click on "Add" an BÄM its gone... searching for it shows that it is somewhere in the right column "Abgeschlossen"...!?

90% of the time creating cards works good but the shown s

[2020-06-22 14:00] morbificagent opened #4102 "Cards do not snap into empty column"
Hi one more time,

while trying to use restya for a while now a phenomen is annoying me and my team-members. If someone wants to move a card into a empty column it wont snap in.
It can snap into the right and the left column which arent empty but as i said not in the empty one.

I think best is to take a look at the video:

[SnapPlease.zip](https://github.com/RestyaPlatform/board/files/4813607/Sna

[2020-06-22 20:27] rrjanbiah commented on #4102
*Internal note*

Looks like a regression. If the height of the card is less, it can quickly snap in. But, if the height is higher, it needs some minor shake (from top to bottom) in the list.

[2020-06-24 18:57] IssueFindings commented on #4071
Hello,
So what I can do ? You need more informations ?
Have a nice day.

[2020-06-26 12:52] morbificagent opened #4103 "Endless Scrolling Bug"
Hi again,

New game new bug ;-)
This time i want to report a bug that causes a endless scrolling in columns.

It happens several times a day here eventually because the board is bigger than the display. But im not sure about that.
If i try to move a card to a column which is outside of the monitor it auto-scrolls when i move my mouse to the right end of my screen.
Then i can put the card in the co

[2020-06-26 13:04] morbificagent commented on #4102
Yes with medium-height cards some shaking helps but in some cases the card with its preview is so big that i can shake and shake and i cant get the card inside...
Than i have to make a dummy-entry in the empty column so it gets longer and than i can put the "big card" inside... after that deleting the dummy entry...

No fun

[2020-06-26 13:37] morbificagent commented on #4101
Possible this is part of #4103

So im not sure if #4103 was happening before this

[2020-06-30 12:48] sridhar391 opened #4104 "Changes in the production docker file for installing the Restyaboard using the dev branch image and port as 1234 and configuring the SMTP server"
## Context
Changes in the production docker file for installing the Restyaboard using the dev branch image and port as 1234 and configuring the SMTP server

[2020-06-30 13:02] #4104 closed

[2020-07-01 00:18] tatatafuku opened #4106 "Install script for Linux Error"
## Expected Behavior
In script, wget "geolite" Error

## Current Behavior
503 Service Unavailable, and aninstall GeoIp.dat.gz

## Screenshots (if appropriate):
![image](https://user-images.githubusercontent.com/67665623/86189478-aa8e1b00-bb7c-11ea-8b5d-cbcd89e0e5a7.png)

## Possible Solution
version change geolite to geolite2,and it reflect install script

## Steps to Reproduce (for bugs)

1.do in

[2020-07-01 05:46] sridhar391 commented on #4106
@tatatafuku We have fixed this issue in the coomit https://github.com/RestyaPlatform/board/commit/0d2e941b84253c70a0379b79e9e06ff9442f82d7 and you can use the dev branch `restyaboard.sh` file from the link https://raw.githubusercontent.com/RestyaPlatform/board/dev/restyaboard.sh

[2020-07-01 05:46] #4106 closed

[2020-07-01 14:07] hvl580858 opened #4107 ""This document requires 'TrustedHTML' assignment." In chrome and edge"
## Expected Behavior

Open my board webpage and content shown.
## Current Behavior

Openining my link and only white page in chrome and edge. Works in firefox.
## Screenshots (if appropriate):
Will provide if needed
## Possible Solution

div.innerHTML = "  \<link/>\<table>\</table>\<a href='/a'>a\</a><input type='checkbox'/>"; Change this line (line number 1260 @ client/js/libs/jquery-1.8.3.js) to

[2020-07-02 11:37] sridhar391 commented on #4107
@hvl580858 We have tried to reproduce the issue with chrome  83.0.4103.116, but the pages are loading correctly, can you please access our demo server with credentials from the link https://restya.com/board/demo and please tell us if the pages are displayed correctly

[2020-07-02 11:45] hvl580858 commented on #4107
@sridhar391 Thank you for your answer. Yes your demo server works correctly.
![bilde](https://user-images.githubusercontent.com/42640543/86354807-fa96db80-bc69-11ea-89c4-52dd138d9484.png)
This is the issue i get on my server. As im not the one who set this up and not the only one who have access to this server there might have been someone who have changed something. But i still see the same line

[2020-07-02 12:10] morbificagent opened #4108 "Setting "subscribe a member when added to card" broken"
When i select "subscribe a member when added to card" in the additional settings the card cover images get disabled...

![image](https://user-images.githubusercontent.com/50199132/86357102-a1c94200-bc6d-11ea-8bd5-f5434d00cfc4.png)

So the wrong action is executed here.

[2020-07-02 12:13] morbificagent opened #4109 "Setting "Add Cards via Email" doesnt save settings"
If i change the Setting "Position" to "Bottom" it wont be saved.
If i reopen the settings its back at "Top"

![image](https://user-images.githubusercontent.com/50199132/86357524-392e9500-bc6e-11ea-9522-1fc4cab1a310.png)

[2020-07-02 17:26] rrjanbiah commented on #4107
*Internal note*

* Quick fix: Fix through CSP HTTP header
* Correct fix (need to fix all `innerHTML`): https://web.dev/trusted-types/ Also, double check if this is really coming from jQuery

[2020-07-02 17:57] hvl580858 commented on #4107
@rrjanbiah Thank you for your reply. How would i go about fixing this through CSP header? I tried to disable CSP to see if the problem went away, but it did not.

[2020-07-02 18:22] rrjanbiah commented on #4107
@hvl580858

Your server header is currently:
[code]

Modify `Content-Security-Policy` to `Content-Security-Policy-Report-Only`

[2020-07-02 18:58] hvl580858 commented on #4107
@rrjanbiah Thank you. I will implement this when i get to work tomorrow. Should i close this ?

[2020-07-03 04:59] sridhar391 commented on #4108
@morbificagent Thanks for informing us about the issue, we will fix this issue along with other issues according to the priority.

[2020-07-03 05:00] sridhar391 commented on #4109
@morbificagent Thanks for informing us about the issue, we will fix this issue along with other issues according to the priority

[2020-07-03 05:59] morbificagent commented on #4108
@sridhar391 Great, thank you. I can imagine that this project consumes many time and i am happy that you rockin this ;-)

[2020-07-03 06:12] morbificagent commented on #4103
OK, it isnt a problem of the board-size. I have rearranged all so they fit into my screensize so i dont have to scroll horizontally.
But it happens again.
Here a screenrecord about that. And remember, i dont press any keys or really scrolling at the mouse for sure.
And this isnt only at my client the case as we are trying to use restya in our company and others have this too.

[scrolling.zip](http

[2020-07-03 08:23] rrjanbiah commented on #4107
@hvl580858 No. We need to fix it anyway.

[2020-07-03 08:59] sridhar391 commented on #4103
@morbificagent Thanks for informing us about the issue, we have tried it in our local server but not able to reproduce the issue, can you please tell us if you can able to reproduce the issue in our demo server and please refer the link https://restya.com/board/demo for our demo server credentials

[2020-07-03 12:18] morbificagent commented on #4103
@sridhar391 I have tried it and the problem is there too but with the difference it doesnt scrolls endless in my test.

If i create a column with 30-40 cards in it and want to move an other card in there it begins to scroll to the bottom(see attached video).
But after that i can manually scroll back to the top. On my system it wasnt possible and i had to reload.

Eventually because i have Pictures

[2020-07-03 12:20] morbificagent commented on #4101
Tested on your Demo-System: Same Problem here (see attached screenrecording):

[CardInWrongColumn.zip](https://github.com/RestyaPlatform/board/files/4869635/CardInWrongColumn.zip)

[2020-07-06 04:48] sridhar391 commented on #4101
@morbificagent Thanks for informing us about the issue, we will fix this issue along with other issues according to the priority

[2020-07-06 04:49] sridhar391 commented on #4103
@morbificagent Thanks for informing us about the issue, we will fix this issue along with other issues according to the priority

[2020-07-07 07:15] sridhar391 commented on #4071
@IssueFindings Can you please set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and copy the response of the card attachment Upload URL http://restyaboard_url/api/v1/boards/<board_id>/lists/<list_id>/cards/<card_id>/attachments.json on the Network tab o

[2020-07-07 08:44] #4109 closed

[2020-07-07 08:44] #4108 closed

[2020-07-07 11:48] sridhar391 commented on #4101
@sridhar391 We have fixed the above issue in the `dev` branch and the fixes will be available in the upcoming release v0.6.9 (Stereopony)

[2020-07-08 19:55] KarlFrederik opened #4112 "Problem with delete"
Hello,
I installed restyaboard today with the Script for my Debian Server (OpenMediaVault) and now it doesn't work.
How can I delete it so I can reinstall restyaboard?
I think I have done something wrong in the installation.

Thank you.

[2020-07-09 05:21] sridhar391 commented on #4112
@KarlFrederik Please use the uninstall script https://github.com/RestyaPlatform/board/blob/dev/restyaboard_uninstall.sh to remove Restyaboard

[2020-07-09 10:36] KarlFrederik commented on #4112
I downloaded it on my Server but now I have another problem. How do is start it?
I tried bash but it just won't work with the error:
`restyaboard_uninstall.sh: Line 6: Syntax error on unexpected word 'newline
restyaboard_uninstall.sh: Line 6: `<!DOCTYPE html>'`

[2020-07-09 14:38] sridhar391 commented on #4112
@KarlFrederik After downloading the files, please apply the executable permission by executing the command `chmod +x restyaboard_uninstall.sh` and execute the shell script file by executing the command `sudo ./restyaboard_uninstall.sh`

[2020-07-09 14:42] sridhar391 opened #4113 "While uploading the card attachment with special characters like %, the modal card page is not loaded and console error thrown"
## Expected Behavior
While uploading the card attachment with special characters, modal card page should be loaded

## Current Behavior
While uploading the card attachment with special characters like %, the modal card page is not loaded and console error thrown

## Steps to Reproduce (for bugs)
1. Upload card attachment with special characters like `%test%.png`
2. Close the modal card and try to

[2020-07-09 15:18] KarlFrederik commented on #4112
Maybe i did something wrong but it still won‘t work.
![image](https://user-images.githubusercontent.com/42519173/87058292-3270c680-c208-11ea-9aef-06b629e059e7.jpeg)

[2020-07-10 05:23] sridhar391 commented on #4112
@KarlFrederik Can you please login as `sudo` user and execute the command `./restyaboard_uninstall.sh`

[2020-07-10 13:55] KarlFrederik commented on #4112
Still the error `./restyaboard_uninstall.sh: 7: ./restyaboard_uninstall.sh: Syntax error: newline unexpected`

[2020-07-10 22:28] IssueFindings commented on #4071
Hello,
R_DEBUG was already set to "true". I got this error message (again and again, no end!) in my Network tab :

    S https://restyaboard_url/js/default.cache.b3d4a324.js:1
    tz https://restyaboard_url/js/default.cache.b3d4a324.js:1
    j https://restyaboard_url/js/default.cache.b3d4a324.js:1
    parse_date https://restyaboard_url/js/default.cache.b3d4a324.js:1
    this.JST["templates/activit

[2020-07-11 04:29] sridhar391 commented on #4112
@KarlFrederik Please download the uninstall script file from the link https://raw.githubusercontent.com/RestyaPlatform/board/dev/restyaboard_uninstall.sh to remove Restyaboard

[2020-07-13 08:36] sridhar391 commented on #4071
@IssueFindings Can you please hover mouse to the broken preview of the card attachment and right click and click the option `Open Image in a new tab` like the attched image
and the broken preview image will be shown in the new tab and set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/de

[2020-07-13 19:35] sagarpdesai opened #4114 "Restyaboard not starting after installation on Centos 7 linux server"
[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/4914643/restyaboard_install.log)

Restyaboard installed on AWS Lightsail server running Centos 7. Installation is done using Linux Script provided on Restyaboard site (https://restya.com/board/install#Installscript). After installation, when we try to access the site we are getting a blank white page. There are infinite calls

[2020-07-14 05:48] sridhar391 commented on #4114
@sagarpdesai Can you please try to install the Restyaboard with the `latest` install shell script by downloading the shell script file using the command `wget https://github.com/RestyaPlatform/board/raw/dev/restyaboard.sh --no-check-certificate` and apply the executable permission to the file by executing the command `chmod +x restyaboard.sh` and execute the installation script file by the command

[2020-07-14 08:44] sagarpdesai commented on #4114
Thanks @sridhar391 for the reply.

Tried the above steps. I am still getting a blank white page. This time the only difference is the call to https://mydomain.com/api/v1/oauth.json?_=1594715711539 is giving error 502.

[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/4917617/restyaboard_install.log)

[2020-07-14 14:17] sridhar391 opened #4115 "Need to update Restyaboard, running inside a Docker Container without losing the datas"
## Context
Need to update Restyaboard, running inside a Docker Container without losing the datas

[2020-07-14 14:22] sridhar391 commented on #4114
@sagarpdesai We have checked the installation log file and can you please tell us that if you have registered the domain name "task.fmgizmo.com" and if you have not registered the domain name please remove the below lines in the
" /etc/nginx/conf.d/restyaboard.conf" file

listen 443 ssl;
ssl_certificate /etc/letsencrypt/live/restya.com/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/resty

[2020-07-14 14:35] revresx commented on #4114
@sagarpdesai - I'm having the same issue. Showing blank page with infinite calls.

I tried the script "dev" .sh script. After fixing certbot it's now showing just a blank page. [restya.pslschweiz.ch](restya.pslschweiz.ch)

Changed the nginx ssl settings to the one you've posted. Didn't change anything for me.

[2020-07-15 05:26] sridhar391 commented on #4114
@revresx Can you please attach the Nginx error log file named `error.log` file from `/var/log/nginx/` folder path to understand the issue

[2020-07-15 06:22] sagarpdesai commented on #4114
Got hold of the issue. The following line in restyaboard.conf file had to be changed:

`                fastcgi_pass    unix:/run/php/php7.2-fpm.sock;`
changed to
`                fastcgi_pass   127.0.0.1:9000;`

The default setting for php-fpm is to run on TCP port 9000 rather than running on a socket.

[2020-07-15 09:36] sridhar391 commented on #4114
@sagarpdesai Thanks for informing us the fix for your issue

[2020-07-15 10:33] revresx commented on #4114
@sagarpdesai Thank you! Fixed it for me as well.
@sridhar391 Issue solved.

[2020-07-15 10:35] #4114 closed

[2020-07-15 11:06] sridhar391 opened #4116 "Changes in the docker entrypoint file for the crontab configuration"
## Context
Changes in the docker entrypoint file for the crontab configuration

[2020-07-15 11:24] #4116 closed

[2020-07-16 10:34] sridhar391 commented on #4112
@KarlFrederik Can you please tell us if you removed the Restyaboard using the uninstall script file https://raw.githubusercontent.com/RestyaPlatform/board/dev/restyaboard_uninstall.sh

[2020-07-16 13:38] KarlFrederik commented on #4112
At the Moment i am Not at Home so i can't Test it.

[2020-07-17 15:48] daryl-o opened #4119 "Docker build problems"
I cloned the current master and ran into a couple problems while trying to build for docker. I am currently running CentOS 7.8 in AWS. The compile failed in two locations.

1.  In Dockerfile, I had to comment the following line because the file didn't exist in the image:
           `RUN chmod 600 /etc/postfix/sasl_passwords`

2. sql/restyaboard_with_empty_data.sql has features from postgres 11 and

[2020-07-18 11:35] Cartmanan opened #4121 "NGINX 403 | Permission Problems"
Hi, I don't have that much experience with servers yet, so it would be great if you could explain it as simple as possible.

![3333](https://user-images.githubusercontent.com/21957515/87851661-29b07c80-c8fb-11ea-941b-23015ef404ec.PNG)

If you look in the diagnosis.php, I always get told that the directory tmp does not have the appropriate rights, but no matter what rights I assign to the directory

[2020-07-20 04:48] sridhar391 commented on #4121
@Cartmanan Can you please send us the `restyaboard_install.log` file if you have installed Restyaboard using the Restyaboard installation script file `restyaboard.sh` or if you have manually installed the Restyaboard, can you please send us the steps you have followed to install Restyaboard

[2020-07-20 04:58] sridhar391 commented on #4119
@daryl-o We have fixed this issue in the `dev` branch and  the fix will be available in the upcoming release v0.6.9 (Stereopony) and thanks for your fixes

[2020-07-20 07:45] manakill commented on #4119
I've also have build issues today on a Raspberry Pi 3b+, Raspian Buster. The container is stuck in some sort of restart loop.
Definitely looking forward to getting this up and running. Thanks to all contributors!

[2020-07-20 07:51] sridhar391 commented on #4119
@manakill We have fixed the issue in the commit https://github.com/RestyaPlatform/board/commit/636fac5adc47b56183d341c7904c697aa7590060 https://github.com/RestyaPlatform/board/commit/c82876aa355b8a5c092e6c58183c56382605c203 and merged the changes in the `dev` branch with pull requests https://github.com/RestyaPlatform/board/pull/4105 https://github.com/RestyaPlatform/board/issues/4116

[2020-07-20 08:57] Goepfie opened #4122 "Installed Plugins not showing up"
## Description
Admin->Plugins: List is empty, even though all basic apps are downloaded into the correct folder. Triple checked, for testing the path was even reachable by url, json readable. Restarted Nginx serveral times. Restarted php7-fpm. Logged out/Logged in. Refreshed with cleared Browser cache.

## Expected Behavior
The plugins to show up and be ready to be activated.

## Current Behavior

[2020-07-20 09:00] Goepfie opened #4123 "Can not change language"
## Description
Admin->Settings: Setting Locale List is empty, even though folder with jsons is accessible. Triple checked, for testing the path was even reachable by url, json readable. Restarted Nginx serveral times. Restarted php7-fpm. Logged out/Logged in. Refreshed with cleared Browser cache. The english translation is loaded and usable though, admin or user account just can't change anything.

[2020-07-20 10:21] sridhar391 commented on #4123
@Goepfie For some server the readable permission is 755 or 777, please choose the correct permission and apply to the files, E.g., `chmod -R 755 /usr/share/nginx/html/restyaboard/client/locales`

[2020-07-20 10:22] sridhar391 commented on #4122
@Goepfie For some server the readable permission is 755 or 777, please choose the correct permission and apply to the files, E.g., `chmod -R 755 /usr/share/nginx/html/restyaboard/client/apps/`

[2020-07-20 10:53] Goepfie commented on #4122
@sridhar391 Thank your for the reply. Like I said permissions are set up correctly. In my test-case it is 777. I am going to gather some log files and screenshots later today.

Currently the folder is symlinked to a persistent storage, but I had the issue with file folder as well.

[2020-07-21 04:42] sridhar391 commented on #4122
@Goepfie Okay, please attach your log files and screenshots.

[2020-07-21 14:06] Goepfie commented on #4122
Please find attached [logs.zip](https://github.com/RestyaPlatform/board/files/4953903/logs.zip) for this issue as well as issue #4123

Included:
- access.log -> file & folder permissions
- error.log -> nginx error reports
- php_errors -> php-fpm7 error reports
- process.log -> running processes with users
- apps.png -> screenshot of apps issue
- locale.png -> screenshot of language settings issue

[2020-07-22 04:58] sridhar391 commented on #4122
@Goepfie We have fixed the issue in the commit https://github.com/RestyaPlatform/board/commit/66762732363481b97d7563d61a3f88b61956b4a2 and the fix will be available in the upcoming release v0.6.9 (Stereopony)

For quick fix, please download the attached file and paste it in the `/usr/share/webapps/restyaboard/server/php/R` folder path and rename the file from `r.txt` to `r.php`

[r.txt](https://gi

[2020-07-22 04:59] sridhar391 commented on #4123
@Goepfie We have fixed the issue in the commit https://github.com/RestyaPlatform/board/commit/66762732363481b97d7563d61a3f88b61956b4a2 and the fix will be available in the upcoming release v0.6.9 (Stereopony)

For quick fix, please download the attached file and paste it in the `/usr/share/webapps/restyaboard/server/php/R` folder path and rename the file from `r.txt` to `r.php`

[r.txt](https://gi

[2020-07-22 09:44] #4122 closed

[2020-07-22 09:45] Goepfie commented on #4123
Thank you! Worked like a charm.

[2020-07-22 09:45] #4123 closed

[2020-07-23 04:29] sridhar391 commented on #4121
@Cartmanan Can you please send us the `restyaboard_install.log` file if you have installed Restyaboard using the Restyaboard installation script file `restyaboard.sh` or if you have manually installed the Restyaboard, can you please send us the steps you have followed to install Restyaboard

[2020-07-23 04:29] #4119 closed

[2020-07-23 04:30] sridhar391 commented on #4112
@KarlFrederik Can you please tell us if you removed the Restyaboard using the uninstall script file https://raw.githubusercontent.com/RestyaPlatform/board/dev/restyaboard_uninstall.sh

[2020-07-23 09:18] KarlFrederik commented on #4112
I did. It worked fine.

[2020-07-23 14:56] sridhar391 commented on #4112
@KarlFrederik Thanks for the confirmation of the Restyaboard removal and for installing the Restyaboard again, please install the Restyaboard with installation script file https://raw.githubusercontent.com/RestyaPlatform/board/dev/restyaboard.sh

[2020-07-23 23:34] manakill commented on #4071
Just so you know, I have also had this problem with all Cards, Logos, Attachments (basically all images) not showing up - on a fresh install and fresh Raspian Buster image. I could see the files going to the directory when I uploaded them so I knew it was a problem with displaying them.

I was able to fix it by reading this thread and First fixing the database privileges (https://github.com/Restya

[2020-07-24 04:43] sridhar391 commented on #4071
@manakill Thanks for the confirmation of the issue fix and @IssueFindings Can you please follow the above mentioned fixed and tell us if the attachment previews are showing correctly

[2020-07-24 16:37] manakill opened #4124 "some users cannot change profile images, while other users can"
I have been playing around with this for the past few days and got it running pretty good.

I have a few different users that have profile images added already, and they exist, and they load fine. Except for one particular user. No matter what I do, I cannot change the profile image for this one user - it will always be broken. This problem user seems to have no other image problems and is able to

[2020-07-24 17:04] manakill commented on #4121
I have a similar issue but different directories:

/usr/share/nginx/html/restyaboard/media | Not Writable
/usr/share/nginx/html/restyaboard/client/img | Not Writable

however they are indeed writable.. I did notice they are owned by 'root' and not 'www-data'  so I don't know if that is related.

[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/4973332/restyaboard_install.log

[2020-07-25 17:18] manakill commented on #4124
I have been able to manually fix this by adding an image file and rename it to the missing filename.
This is, however, not really a good fix to do **manually** for all new users.

[2020-07-25 18:42] manakill opened #4125 "Fix hardcoded domain in Image SRC URLs and call img directory only"
Changed Board Background Image.

Expected behavior:
The image loads properly no matter if connected on local net IP or remote IP

Actual behavior:
When connected locally(192.168...) I can see background images. When connected via subdomain.host.com the background images get broken. Also fixed while connected remotely, and now local connection images are broken.

**Range of scope:
Seems to be only

[2020-07-25 20:13] manakill commented on #4121
I have changed the owners of my 2 directories that were not working, and that fixed it! This has also solved my other issue (https://github.com/RestyaPlatform/board/issues/4124)

![fix-image-permissions-1](https://user-images.githubusercontent.com/9597295/88465521-ae6a4000-ce91-11ea-8dbf-18687f1de840.jpg)

![fix-image-permissions-2](https://user-images.githubusercontent.com/9597295/88465523-b16530

[2020-07-25 20:20] manakill commented on #4124
Fixed by running /diagnose.php

Seeing 2 directories not writable, I changed owner to www-data:www-data on the folders Recursively

sudo chown www-data:www-data /usr/share/nginx/html/restyaboard/client/img -R
sudo chown www-data:www-data /usr/share/nginx/html/restyaboard/media/User/ -R

[2020-07-25 20:20] #4124 closed

[2020-07-25 21:27] manakill commented on #4125
I am able to fix in the database, manually, but that is not a real fix..

[2020-07-25 21:34] manakill opened #4126 "No GitHub Donation Link!? Broken Donate link in Restyaboard also(a store is not a donation)"
There is nowhere to Donate to this project!? Umm... not ok.

On TOP of that, I went to the main site to chat to someone about it and the Chat is messed up....

![bad-chat](https://user-images.githubusercontent.com/9597295/88466638-6b619a00-ce9c-11ea-86e3-9437e387db0f.jpg)

Seems like some silly mistakes are getting made. I want to donate money and you've made it impossible, from what I can tell.
N

[2020-07-26 23:38] manakill opened #4132 "Fix Due Date Time of 12:00-13:00 to show PM"
## Expected Behavior
12:00 or after, shows PM

## Current Behavior
12:00-13:00 Due Date Time shows AM which is incorrect

## Screenshots (if appropriate):
![Due Date Time Wrong](https://user-images.githubusercontent.com/9597295/88492257-5f96d600-cf77-11ea-8fa7-a74046c1cc84.jpg)

## Steps to Reproduce (for bugs)
Simply set the Due Date time to 12:00

[2020-07-27 05:15] sridhar391 commented on #4132
@manakill Thanks for informing us about the issue, we will fix this issue along with other issues according to the priority

[2020-07-27 05:27] sridhar391 commented on #4125
@manakill We have fixed the issue in the commit https://github.com/RestyaPlatform/board/commit/8f756442dbf0bb856985448ee1a7ae3b59ea12b4 and merged the code in the pull request https://github.com/RestyaPlatform/board/pull/4036 and the fix will be available in the upcoming release v0.6.9 (Stereopony)

[2020-07-27 05:34] manakill commented on #4132
Thanks! I'm glad to help out where I am able to. The more I use Restyaboard, the more I absolutely love it. Great work devs!!

[2020-07-27 05:43] sridhar391 commented on #4121
@manakill Thanks for your fix, @Cartmanan can you please try the above fix and please tell us if the issue is fixed

[2020-07-27 06:44] rrjanbiah commented on #4126
@manakill Thank you so much for your kind words and suggestion.

Regarding the chat widget, thanks for notifying the issue. We'll escalate it to the LiveChatInc.

Regarding the donation, our team members have experimented it couple of times, but that didn't work good. Anyway we'll internally discuss about it and work on it.

Thanks again.

[2020-07-27 07:15] rrjanbiah commented on #4126
@manakill Also, for any private comments, please feel free to email us at info at ourdomain.

[2020-07-27 08:16] rrjanbiah commented on #4132
@manakill Thanks for your kind words. Much appreciated!

[2020-07-27 11:37] #4132 closed

[2020-07-27 11:43] #4101 closed

[2020-07-28 06:15] #4125 closed

[2020-07-28 07:32] sridhar391 commented on #4112
@KarlFrederik For installing the Restyaboard again, please install the Restyaboard with installation script file https://raw.githubusercontent.com/RestyaPlatform/board/dev/restyaboard.sh

[2020-07-28 10:07] #4113 closed

[2020-07-28 10:36] #4053 closed

[2020-07-28 17:15] daryl-o opened #4136 "Problems importing from Taiga"
We are using restyaboard-0.6.8 (in docker) and I had some problems importing cards from Taiga. The import would fail due to invalid characters (tab in our case). It may be an issue importing from other boards as well.  I changed function importTaigaBoard in server/php/libs/core.php to:

`preg_replace ('~\x{00a0}~siu', ' ', utf_decode($card['subject']))`
`preg_replace ('~\x{00a0}~siu', ' ', utf_dec

[2020-07-29 23:30] IssueFindings commented on #4071
Hello,
Many thanks @manakill for your feedback !
I perform again commands to ensure the rights of the database

ALTER DATABASE restyaboard OWNER TO restya;
GRANT ALL PRIVILEGES ON DATABASE restyaboard TO restya;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO restya;
GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO restya;

After that, I check my php version, it was PHP 7.2.9-1+b2,

[2020-07-30 09:46] sridhar391 commented on #4071
@IssueFindings Can you please set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and copy the response of the board background picture Upload URL http://<restyaboard_url>/api/v1/boards/<board_id>/custom_backgrounds.json on the Network tab of Browser deve

[2020-08-01 04:43] sridhar391 commented on #4121
@manakill Thanks for your fix, @Cartmanan can you please try the above fix and please tell us if the issue is fixed

[2020-08-01 04:44] sridhar391 commented on #4112
@KarlFrederik We are closing this issue as there is no activity and please reopen the issue if the issue occured

[2020-08-01 04:44] #4112 closed

[2020-08-01 05:30] sridhar391 opened #4137 "Access token API provides error"
## Context
As one of the user mailed us about Access token API provides error

[2020-08-03 13:22] sridhar391 commented on #4073
@morbificagent Can you please download the attached file and paste the attached file in the folder path `/var/www/restya/server/php` and please rename the file from `bootstrap.txt` to `bootstrap.php` and please tell us if the session timeout issue is fixed.

[bootstrap.txt](https://github.com/RestyaPlatform/board/files/5016174/bootstrap.txt)

[2020-08-05 07:06] morbificagent commented on #4073
Have changed the bootstrap.php with the new one, restarted nginx+fpm logged in to restya and now its time to wait ;-)
Will report...

[2020-08-05 10:42] morbificagent commented on #4073
I'm sorry, but no it doesnt helped.

[2020-08-06 13:07] daryl-o opened #4138 "Plugin documentation"
This isn't a bug report but I wasn't sure where general questions could be asked. Do you have any documentation on the plugin architecture and how to write one which integrates with restyaboard?

[2020-08-07 05:13] sridhar391 commented on #4138
@daryl-o Please refer the instructions from the link https://github.com/RestyaPlatform/board-apps/blob/master/README.md#steps-to-create-new-app for creating an app for Restyaboard

[2020-08-07 05:15] sridhar391 commented on #4073
@morbificagent Can you please attach us the `Nginx` errror log file named `error.log` file in the folder path `/var/log/nginx`

[2020-08-10 07:40] sridhar391 commented on #3792
@erl4nc the below email notifications are user level email notifications and if you want to change the email notifictaions, you may not be able to login in the Restyaboard

1. Welcome Email
2. Forgot password
3. Change password
4. New Board User
5. LDAP Welcome
6. Broadcast message
7. Due Date Notification
8. Board Import User Notification
9. Email Notification For Card Support User
10. New Card S

[2020-08-10 07:40] #3792 closed

[2020-08-10 08:20] #4136 closed

[2020-08-11 18:03] rrjanbiah commented on #2760
*Based on internal discussion...*

1. Have to add one `Restricted` board level role. This access will all access or the `Editor` role--except 'Add Card' and only assigned tasks.
2. The assumption here is that the cards will be added by `Owner` or `Editor` level users and these `Restricted` level users will only view and work only on their cards. Hence, `Restricted` users can't create cards too.
3.

[2020-08-12 08:52] sridhar391 commented on #4073
@morbificagent Can you please attach us the Nginx errror log file named error.log file in the folder path /var/log/nginx

[2020-08-12 13:56] sridhar391 commented on #4071
@IssueFindings We are closing this issue as there is no activity in the issue

[2020-08-12 13:57] sridhar391 commented on #4011
There is no activity in this issue and we are closing this issue.

[2020-08-12 13:57] #4011 closed

[2020-08-12 13:57] sridhar391 commented on #4073
We are closing this issue as there is no activity in this issue.

[2020-08-12 13:57] #4073 closed

[2020-08-12 13:58] sridhar391 commented on #4099
We are closing this issue as there is no activity in this issue.

[2020-08-12 13:58] #4099 closed

[2020-08-13 22:30] erl4nc opened #4140 "Elastic search card results incorrect after moving list"
## Expected Behavior
Elastic search returns results corresponding to search term

## Current Behavior
Elastic search returns results corresponding to before a list is moved

## Possible Solution
Update indexes of all cards in a list after moving the list to a different board

## Steps to Reproduce (for bugs)
1. Create 2 boards: "board 1" & "board 2"
2. Create 2 lists: "demo 1" in "board 1", "demo

[2020-08-14 07:42] sridhar391 commented on #4140
Thanks for informing us about the issue, will fix the issue along with other priority issue

[2020-08-14 18:40] IssueFindings commented on #4071
Hello,
Sorry for the delay. As I already set R_DEBUG as true (cf. message on 17 Jun). I run again the 3 following actions :
1. Upload a new attachment;
![Upload new attachment](https://user-images.githubusercontent.com/26858396/90282151-295dbf80-de6e-11ea-949b-26e29f144c39.JPG)

2. Change the wallpaper;
![Change wallpaper](https://user-images.githubusercontent.com/26858396/90282185-38447200-de6e-1

[2020-08-17 11:56] sridhar391 commented on #4138
We are closing this issue as there is no activity

[2020-08-17 11:56] #4138 closed

[2020-08-17 11:57] sridhar391 commented on #4121
@manakill Thanks for your fix, @Cartmanan can you please try the above fix and please tell us if the issue is fixed

[2020-08-17 13:40] sridhar391 commented on #4031
Added the permission named `Show only pending item in Checklist` in the `Board` user roles in the `Admin Panel` `Roles Page` and if the user enables the permission for the board user roles by clicking on the permission, for that particular board user role, only pending checklist item will be shown in the card page.

[2020-08-18 04:53] sridhar391 commented on #4071
@IssueFindings while changing background, please copy the response of the board background image upload URL `http://restyaboard_url/api/v1/boards/<board_id>/custom_backgrounds.json` on the Network tab of Browser developer tools and paste it here or copy the contents from your server error log and paste it here. please refer the attached image

![background_upload](https://user-images.githubusercon

[2020-08-18 12:28] sridhar391 opened #4143 "SAML authentication support to login"
## Context
Some customers are requested the feature to support SAML for authentication to login.

[2020-08-19 15:47] #4140 closed

[2020-08-19 20:25] erl4nc commented on #4140
Thank you. Appreciate the quick fix.

[2020-08-20 10:32] IssueFindings commented on #4071
Hello,

Please find below the response when I try to change the wallpaper.

<br/>
<b>Warning</b>:  move_uploaded_file(/XXX/restyaboard/media/Board/8/RGPD.jpg): failed to open stream: Permission denied in <b>/XXX/restyaboard/server/php/R/r.php</b> on line <b>4135</b><br />
<br />
<b>Warning</b>:  move_uploaded_file(): Unable to move '/tmp/phpL85IwG' to '/XXX/restyaboard/media/Board/8/RGPD.jpg' in <

[2020-08-21 05:53] sridhar391 commented on #4071
@IssueFindings We have checked the reponse and please provide writable permission to the media folder path and client/img folder path.In some servers, you can apply the writable permission by executing the command `chmod -R 777 /usr/share/nginx/html/restyaboard/media` or `chmod -R 755 /usr/share/nginx/html/restyaboard/media`

[2020-08-23 20:06] IssueFindings commented on #4071
Hello,
The rights of XXXX/restyaboard/media is already 777. But for other directories inside is 755 for root user and group.
Regarding security point, it's not the best... How I can do, especially which kind of rights, to use a restyaboard user and a other group than root ?

Have a nice day.

[2020-08-24 08:53] rrjanbiah opened #4145 "local notification in (upcoming) Android mobile app"
1. Along with browser notification, call `Android.jsLocalNotification(payloadObject)` inside `try`..`catch`.
2. Note: Adjust the `activities` data for `payloadObject`

As mentioned in https://github.com/zo0r/react-native-push-notification#local-notifications, the payloadObject will be a JSON object. So,

[code]

[2020-08-24 12:03] sridhar391 commented on #4071
@IssueFindings Please execute the below commands to apply the permission for the media folders and the other directories inside the media folder

[code]

After executing the above commands, please try to change the board background

[2020-08-25 06:16] #4145 closed

[2020-08-25 14:18] rrjanbiah opened #4148 "Quick PWA compatibility for the (upcoming) Android app"
Add quick PWA compatibility

1. Add this code to a file named "pwabuilder-sw.js" on your site root

<details>
<summary>pwabuilder-sw.js</summary>

[code]
</details>

2. Add this code to your landing page in a `script` tag

<details>
<summary>Add this code to your landing page in a `script` tag:</summary>

[code]
</details>

3. Add `offline.html` to the root

For future reference (no need to check

[2020-08-25 20:34] IssueFindings commented on #4071
Hello,
That works ! Many thanks. And now what I need to do to avoid that "root" is the user and owner of all Restyaboard's directories ?

Have a nice day.

[2020-08-28 09:10] sridhar391 opened #4152 "Virtualmin Support"
One of our users asked for the support to install Restyaboard with Virtualmin

[2020-08-29 11:04] witzker commented on #3932
I Now have an Ubuntu server on a ThinkPad setup @home
as I'm totally new with this I also installed Virtualmin to make administering server easier for a beginner.
Can you pls be so kind and help me step by step to create a VPS in Virtualmin and install and run Restya there finally?

[2020-08-30 07:10] cuchipkg opened #4153 "issue when install restyaboard on xampp"
hello all, i'm try install Restyaboard on window with Xampp and when i run localhost i have 1 message error below i dont know how fix it

![image](https://user-images.githubusercontent.com/60688301/91653410-cf463680-eaca-11ea-97c4-401cf4f597d1.png)

[2020-08-31 18:35] c-nv-s commented on #4010
I'm seeing the same behavior with this same version v 0.6.8 (2019-12-16).

[2020-09-01 08:47] sridhar391 opened #4154 "After editing the comment, close and re-open the modal card, the edited comment is not updated"
## Expected Behavior
After editing the comment, close and re-open the modal card, the edited comment should be updated

## Current Behavior
After editing the comment, close and re-open the modal card, the edited comment is not updated

## Steps to Reproduce (for bugs)
1. add new comment
2. Enter text:
New comment
Line no 2
Line no 3
3.Save comment
4. Edit comment, at the and of text add line:
Line

[2020-09-01 09:17] sridhar391 commented on #4010
@c-nv-s We have released the latest Restyaboard version v0.6.9 (Stereopony) and can you please update your Restyaboard using our easy install script "restyaboard.sh" by following the instructions from the link https://restya.com/board/docs/installation-in-ubuntu-using-shell-script/#2

[2020-09-02 00:21] c-nv-s commented on #4010
still the same behavior with the latest release, the welcome dashboard displays correctly immediately on login ( also displayed the "what's new video", however on return to the dashboard after navigating to another part of the app the dashboard is blank.

[2020-09-03 06:45] sridhar391 opened #4155 "Option to set card cover image in full height of the card with only card name shown"
## Context
Option to set card cover image in full height of the card with only card name shown

[2020-09-03 10:34] sridhar391 opened #4157 "Mention all members in the card, Mention all members in the board options in the card comment , checklist item"
## Context
Mention all members in the card, Mention all members in the board options in the card comment , checklist item

[2020-09-03 12:46] #1109 closed

[2020-09-03 13:07] sridhar391 opened #4159 "Import from monday.com to Restyaboard"
## Context
Need to have some provision for them easy migration from monday.com to Restyaboard

[2020-09-03 14:33] sridhar391 opened #4160 "Intro video for the newer version is not auto playing"
## Context
Intro video for the newer version is not auto playing

[2020-09-04 04:44] #4160 closed

[2020-09-04 04:44] #4154 closed

[2020-09-04 04:45] #4155 closed

[2020-09-04 16:18] daryl-o opened #4162 "alpine:3.11"
Alpine 3.11 has some packages with security vulnerabilities that are fixed in 3.12 (jq for instance). Can Dockerfile be updated to use the newer version?

[2020-09-07 05:44] rrjanbiah opened #4163 "Deep linking for the (upcoming) Android mobile app"
Provide the deep linking (QR code launching) ability for the Android app

[2020-09-07 06:57] #4162 closed

[2020-09-07 16:21] t52lE4MWEcgCx commented on #4115
I would need that right away and not just in the next release. Or when should Scorpions come out?
Stereopony fixes the mobile app problem, so that's a bit important to me.

[2020-09-08 08:52] sridhar391 commented on #4115
@t52lE4MWEcgCx You can view the progress on the v0.7(Scorpions) from the milestone https://github.com/RestyaPlatform/board/milestone/22

[2020-09-08 22:56] c-nv-s commented on #4010
in case this helps anyone... for those who have quite strict browser privacy settings on, including ad blockers... try adding your restyaboard site as an exception in your browser's "cookies and data" settings, and perhaps as an exception on your ad blocking tool too.
This seems to have helped resolve the blank dashboard on return from navigating briefly away to a different site.
The issue still s

[2020-09-09 14:52] sridhar391 opened #4166 "Configuration to run Restyaboard on a NGINX Reverse proxy"
## Context
One of the users asked the configuration to run Restyaboard on a NGINX Reverse proxy

[2020-09-10 09:28] sridhar391 commented on #4010
@c-nv-s Can you please give us more details like OS, Browser, Browser version, RAM, etc.

[2020-09-10 14:34] sridhar391 opened #4167 "Card count on start page is always zero"
From https://groups.google.com/forum/#!topic/restya/I8EBwn3TCco (Leonardo R.gananca):

Hi, I have installed restyaboard on a raspberry pi 3, it's working but, on start page, the card count is always zero, even when I have cards on the boards, Is there something that can fix this ?

[2020-09-10 14:45] leonardothehuman commented on #4167
Hardware: Raspberry pi 3
SD card size: 32 gb
uname -a: Linux raspbian 5.4.51-v7+ #1333 SMP Mon Aug 10 16:45:19 BST 2020 armv7l GNU/Linux
Postgres version (psql -V): psql (PostgreSQL) 11.7 (Raspbian 11.7-0+deb10u1)
Browsers: Chrome  85.0.4183.83 and Firefox 80.0.1
Screenshots:
![Clipboarder 2020 09 09-002](https://user-images.githubusercontent.com/29800119/92747578-b7887100-f35a-11ea-9351-1a133986e

[2020-09-13 14:40] MaminHakim commented on #4167
Hi @sridhar391 , I think this is not a bug, for having this feature you have to buy Dashboard charts from here [](https://restya.com/board/apps/r_chart)
which is available on the Pro plan.

[2020-09-14 09:42] sridhar391 opened #4170 "If we add the new board member, old activity is also sent in the email notification"
## Expected Behavior
If we add the new board member, old activity should not be sent in the email notification

## Current Behavior
If we add the new board member, old activity is also sent in the email notification

## Steps to Reproduce (for bugs)
1. Register user and confirm
2. Add the registered user to board
3. Email notification about the board activities show old activities before the user

[2020-09-14 09:51] #1162 closed

[2020-09-14 12:46] sridhar391 opened #4172 "While adding reply to the comment and closing the card and reopening, the reply are shown as new comment"
## Expected Behavior
While adding reply to the comment and closing the card and reopening, the reply should be shown along side comment

## Current Behavior
While adding reply to the comment and closing the card and reopening, the reply are shown as new comment

[2020-09-14 22:37] MaminHakim opened #4174 "TimeZone BUG !"
Hi !. there is some bug in the time zone I think.
I checked in both demo and my local server. after setting the time zone. it's not working for example I've set on +4:30 and my server time zone is the same and correct. but here show me in 5 hours difference.

[2020-09-14 22:44] MaminHakim opened #4175 "Jalali Calendar"
Hi,
As you know we have a different type of calendar for most of the country in the word.
For example in Persian language countries like Iran, Afghanistan,  they use the Jalali calendar instead of the Gregorian calendar. in Arabic countries, they use the Hijri Ghamari.

1. is it possible to add this type of calendar in the setting?
2. is it possible to add some library in the code for changing the

[2020-09-15 07:38] sridhar391 commented on #4167
@MaminHakim We have fixed the issue in the commit  https://github.com/RestyaPlatform/board/commit/5d5233aa4de0f60b0f252878275fdaa544969610 and the fix will be available in the upcoming release v0.7 (Scorpions)

For quick fix, please download the attached file and paste it in the `/usr/share/nginx/html/restyaboard/sql` folder path and rename the file from `trigger_function_count.txt` to `trigger_fu

[2020-09-15 13:26] sridhar391 commented on #4174
@MaminHakim Can you please tell us if you have set the Restyaboard server timezone in the Restyaboard admin panel site timezone

[2020-09-15 13:30] sridhar391 commented on #4175
@MaminHakim Thanks for your suggestions and we will discuss within the team

[2020-09-15 14:49] MaminHakim commented on #4174
yes, has been set in the admin panel and also set it in the ubuntu server.

[2020-09-15 15:25] MaminHakim opened #4177 "Reset the Admin password"
Hi,
is there any way to reset the Admin password, when we don't have access to the email address and when the IMAP server is not working well.

[2020-09-16 09:20] MaminHakim opened #4178 "there is a bug on Send mail on non Gmail mail provider"
Hi, I realized that when we make a User with a different Mail domain like . **user@maydomain.asia** or **me@mydomian.trade**
they couldn't get activation code. but on Gmail it's good.

[2020-09-16 09:27] IssueFindings commented on #3787
Hello,
Thanks to the new version 0.6.9, I can access to my boards with iOS application. Many thanks for that.
Nevertheless, it's not very user friendly to navigate through differents boards inside iOS application. For instance, if I consult one board and I want to back to my boards list, I need to click to Restyaboard icon in the middle back then Boards menu and finaly Boards item (3 clicks for on

[2020-09-16 09:29] IssueFindings commented on #4071
Hello,
The update to 0.6.9 solved the issue.

[2020-09-16 09:29] #4071 closed

[2020-09-17 13:20] sridhar391 commented on #4174
@MaminHakim Can you please tell us if the user changed his local timezone in the Restyaboard user profile settings page

[2020-09-17 13:23] sridhar391 commented on #4177
@MaminHakim Sorry, currently there is no option and without email address, if the user  tries to changes the password, it will be an security issue.

[2020-09-18 04:37] sridhar391 commented on #3787
@IssueFindings Thanks for your suggestion and we will discuss within the team

[2020-09-18 09:18] sridhar391 opened #4179 "While the user creates the board and add member and add list, another user in the boards page get error"
## Expected Behavior
While the user creates the board and add member and add list, another user in the boards will be updated

## Current Behavior
While the user creates the board and add member and add list, another user in the boards page get error

## Steps to Reproduce (for bugs)
1. Create Blank board and add board member
2. Add list and other user in the boards page will get error

[2020-09-18 12:01] rrjanbiah commented on #4178
@MaminHakim Apologies for the issues you're having. Are you saying these email issues are due to the bug in Restyaboard code? If so, can you please share little more information on that?

[2020-09-18 22:14] MaminHakim commented on #4178
@rrjanbiah I'm not sure is regarding to code or something else, but what I'm sure the mail server which I use it's work well, and it doesn't have any problem.
You can make a new user with non Gmail or Yahoo account, I tryied with .trade and .asia on both of them they won't get any activition email, Also I avtive that account manually in Admin panel and trying on forgot password but they never get

[2020-09-18 22:14] MaminHakim commented on #4178
@rrjanbiah I'm not sure is regarding to code or something else, but what I'm sure the mail server which I use it's work well, and it doesn't have any problem.
You can make a new user with non Gmail or Yahoo account, I tryied with .trade and .asia on both of them they won't get any activition email, Also I avtive that account manually in Admin panel and trying on forgot password but they never get

[2020-09-18 22:15] MaminHakim commented on #4178
@rrjanbiah I'm not sure is regarding to code or something else, but what I'm sure the mail server which I use it's work well, and it doesn't have any problem.
You can make a new user with non Gmail or Yahoo account, I tryied with .trade and .asia on both of them they won't get any activition email, Also I avtive that account manually in Admin panel and trying on forgot password but they never get

[2020-09-20 07:41] MaminHakim commented on #4174
I realized that when I change the TimeZone on the Server to the 0GMT, timezone in the restyaboard works well.

[2020-09-21 09:01] sridhar391 commented on #4174
@MaminHakim Thanks for the confirmation of the issue fix

[2020-09-21 09:20] rrjanbiah commented on #4178
*Internal note* Need more information or help / steps to reproduce. This looks like a strange issue.

[2020-09-21 21:26] manakill opened #4180 "Request: One-Click SSL with Let's Encrypt"
This is a general request for an easy (or automatic) way(certbot?) to get SSL on Restya that won't throw warnings in browsers. Needs to support domains and sub-domains(maybe with wildcard).
On-boarding users takes more time when you have to explain to them what Self Signed Certs are and why they have to go past scary warnings from the browser. One user today couldn't get through due to the browser

[2020-09-22 05:22] sridhar391 commented on #4180
@manakill Thanks for the suggestion, we will discuss within the team about the suggestion

[2020-09-23 21:21] MaminHakim opened #4181 "Recommended System"
Hi, What is the minimum requirement system and recommended system for running restya with good performance and stability.
like how many RAM and cpu core and etc.

[2020-09-24 04:57] sridhar391 commented on #4181
@MaminHakim The recommended system for running restya with good performance and stability

8 GB RAM / 2 CPU
250 GB Hard Disk

[2020-09-25 23:52] MaminHakim opened #4182 "Cloud flare SSL and subdomain"
Hi, I'm going to install the Cloudflare certificate on the server but unfortunately is not working.
the scenario is Like this :
-We have the main Server in 100.100.100.100 and linked it to the main hostname for example www.our_company.com
we are using Cloudflare and set ns of the Cloudflare on our domain name.
- another server in 200.200.200.200 which we install Restyaboard on it. and point this s

[2020-09-26 09:34] rrjanbiah commented on #4182
@MaminHakim This looks more of a Cloudflare related issues. I think, you can get better support in Cloudflare forums.

[2020-09-26 09:57] MaminHakim commented on #4182
let's change the scenario. Imagine that I have an SSL certificate for the server.  how should be the Nginx configurations?
all configuration is base on IP address.

[2020-09-26 10:00] rrjanbiah commented on #4182
@MaminHakim I'm not sure if we're on the same page. But, for me, it still looks specific to Cloudflare and Nginx than our code. In case, if that's not the case, can you share more information on what part of our code is blocking it?

[2020-09-26 10:16] MaminHakim commented on #4182
let's forget Cloudflare,
how should be the restyaboard.conf on conf.d folder configuration for having restyaboard on subdomain with ssl ?

[2020-09-26 13:21] MaminHakim commented on #4182
Finally,  I realized how to configure it. But not all of them with Cloudflare.
after installing wildcard Letsenycript SSL on the server and confige Nginx. I point from the Cloudflare panel to my server IP with DNS only setting.
the main website is proxied by Cloudflare and the Restya serve SSL is form lets encrypt :)

[2020-09-26 13:24] rrjanbiah commented on #4182
That's awesome. Thanks for sharing your note on how you fixed it. Sorry, we couldn't support you here.

Closing this now.

[2020-09-26 13:24] #4182 closed

[2020-09-27 20:36] MaminHakim commented on #4137
after Installing SSL on the server and add Nginx configuration. like this
[code]
after a couple of minutes, I got a 401 error
![image](https://user-images.githubusercontent.com/13296665/94375044-962ad180-011d-11eb-833b-dc3cb955b957.png)

if I remove the cookies everything is working well but a little later again error's coming back!

without SSL, when the Nginx configuration was without doman name

[2020-09-28 08:55] sridhar391 commented on #4137
@MaminHakim Can you please attach the Nginx error log file named `error.log` file in the folder path `/var/log/nginx`

[2020-09-29 05:48] MaminHakim commented on #4137
@sridhar391  Here is the log
[error.log](https://github.com/RestyaPlatform/board/files/5296676/error.log)
.

[2020-09-29 14:12] sridhar391 commented on #4137
@MaminHakim We have checked the `error.log` file and there is no related contents regarding the Restyaboard issue, can you please restart the Nginx server and try to access the Restyaboard URL and after trying to access the Restyaboard URL, please attach the Nginx error log file named `error.log` file in the folder path `/var/log/nginx`

[2020-09-29 14:24] MaminHakim commented on #4137
Restarted and after that, I got this log.
[error (1).log](https://github.com/RestyaPlatform/board/files/5299719/error.1.log)

[2020-09-30 13:39] sridhar391 commented on #4137
@MaminHakim Can you please uncomment the SSL configuration lines in the Restyaboard configuration file `restyaboard.conf` and restart the Nginx server and try to access the Restyaboard URL and after trying to access the Restyaboard URL, please attach the Nginx error log file named `error.log` file in the folder path `/var/log/nginx`

[2020-10-01 07:46] MaminHakim commented on #4137
@sridhar391
this log is after installing fresh Restyaboard on the server. without any SSL just with an IP address.
[code]

[2020-10-04 07:50] rkhapre opened #4183 "How to enable Parent/Child Dependency in cards and Start/End/Estimated/Completed Date in Cards"
Hi All

I am using Restyaboard, currently in cards i can see only Due Date, how can i enable for "Completion Date", Estimated Date, Start Date, End Date etc.

Also how can i enable parent and child card dependency ?

As without this it is not useful

Please help...

Thanks

[2020-10-05 09:09] sridhar391 commented on #4137
@MaminHakim Can you please send us the `restyaboard_install.log` file, if you have installed the Restyaboard using the Restyaboard installation script file `restyaboard.sh` or can you please tell us the steps you have followed to install the Restyaboard

[2020-10-05 09:24] sridhar391 commented on #4183
@rkhapre Please refer the link https://restya.com/board/apps/r_custom_fields for how to enable "Completion Date, Estimated Date, Start Date, End Date"

Please refer the link https://restya.com/board/apps/r_gantt_view for enabling the parent and child card dependency

[2020-10-05 13:00] MaminHakim commented on #4137
@sridhar391 Here is the restyaboard install log
[restyaboard_install.log](https://github.com/RestyaPlatform/board/files/5327483/restyaboard_install.log)

[2020-10-06 04:57] sridhar391 commented on #4137
@MaminHakim Please execute the below commands in the terminal one by one and please tell us if the Restyaboard URL is loading the Login page in the browser

[code]

[2020-10-09 11:19] daryl-o opened #4184 "Move a board into an organization"
Other than modifying the database, is there an easy way to move a board into an organization?

[2020-10-09 11:27] daryl-o commented on #4184
I see that it can be changed from the GUI after all by changing the visibility.

[2020-10-09 13:57] sridhar391 commented on #4184
@daryl-o You can move the board into an existing organization in Restyaboard by changing the board visiblity to organization and selecting the organization

[2020-10-13 07:27] rrjanbiah commented on #2023
Currently getting handled in #2760 and so closing this now.

[2020-10-13 07:27] #2023 closed

[2020-10-14 13:19] MaminHakim commented on #4137
@sridhar391 I've done it before. restyaboard is working now. but clients faced another problem. after 7 days after installation. they faced with a white screen. I think It regards to the cookies or something else. because when they trying on another system everything is well. on incgnito mode is also good.

[2020-10-14 13:34] MaminHakim commented on #4137
this is a new error.log
[Uploading error.log.txt…]()

[2020-10-15 02:14] monban commented on #4166
The primary problem that you will run into with a reverse proxy is that you need to ensure the Host header gets passed through correctly, otherwise r.php will load 127.0.0.1 or something similar into the `$_server_domain_url` variable, which is used all over the place, perhaps most notably in the email templates. In order do do this in nginx your proxy_pass configuration should look something like

[2020-10-15 04:37] sridhar391 commented on #4137
@MaminHakim Please upload the `errror.log` file correctly

[2020-10-15 04:39] sridhar391 commented on #4166
@monban Thanks for your suggestion

[2020-10-16 17:38] MaminHakim commented on #4137
@sridhar391
[error (3).log](https://github.com/RestyaPlatform/board/files/5393378/error.3.log)

[2020-10-20 13:55] jaroslawjanas opened #4186 "Docker restyaboard webport"
### Description
Ability to change the `WEBPORT=` in the restyaboard Docker image.

### Why it should be implemented
This would be useful for users who would like to run this image with network_mode: host to permit user IP addresses to display correctly, but don't want to run the image on port 80 (e.g. running behind a reverse proxy with multiple other services).

[2020-10-20 13:59] rrjanbiah commented on #4186
@jaroslawjanas Thanks for your suggestion. Are you referring to

https://restya.com/board/docs/install-restyaboard-docker/#1 ?

[2020-10-21 01:41] jaroslawjanas commented on #4186
My bad for not clarifying it. I meant it as an Environmental variable in [here](https://github.com/RestyaPlatform/board/blob/dev/docker-compose.prod.yml#L9).
I already defined the reason for it [above](https://github.com/RestyaPlatform/board/issues/4186#issue-725618858).

[2020-10-21 09:21] rrjanbiah commented on #4186
@jaroslawjanas Thanks for explaining.

*Internal note*

Refer https://github.com/docker/compose/pull/1765 (Reading port from the environment variable, so that they're not hardcoded in the composer file)

[2020-10-22 14:28] rrjanbiah commented on #4137
*Internal note*

Relevant log:
`2020/10/14 14:30:07 [error] 3166#3166: *19482 FastCGI sent in stderr: "PHP message: PHP Notice:  Trying to access array offset on value of type bool in /usr/share/nginx/html/restyaboard/server/php/bootstrap.php on line 59" while reading response header from upstream, client: 127.0.0.1, server: 127.0.0.1, request: "GET /api/v1/users/3/activities.json?type=all&last_ac

[2020-10-24 07:56] rrjanbiah commented on #4184
Closing it as it seems to be sorted out.

[2020-10-24 07:56] #4184 closed

[2020-10-24 07:56] rrjanbiah commented on #4183
Closing this. Please feel free to reopen if this is not sorted out.

[2020-10-24 07:56] #4183 closed

[2020-10-24 07:57] rrjanbiah commented on #4181
Closing this. Please feel free to reopen if this is not sorted out.

[2020-10-24 07:57] #4181 closed

[2020-10-24 07:58] rrjanbiah commented on #4177
Closing this. Please feel free to reopen if this is not sorted out.

[2020-10-24 07:58] #4177 closed

[2020-10-24 07:59] rrjanbiah commented on #4174
Closing this. Please feel free to reopen if this is not sorted out.

[2020-10-24 07:59] #4174 closed

[2020-10-24 08:01] rrjanbiah commented on #4148
@sridhar391 I think, this is already done in Steropony.

[2020-10-24 08:01] #4148 closed

[2020-10-24 08:06] rrjanbiah opened #4188 "IMAP documentation has to be improved for Gmail/Gsuite based IMAP email"
Current documentation about IMAP https://restya.com/board/docs/imap/ is missing note about Gmail/Gsuite based email. Note that for Gmail, it has to be enabled explicitly in https://myaccount.google.com/lesssecureapps

[2020-10-28 01:16] manakill opened #4190 "Starred Boards disappearing from user footer toolbar"
Starred Boards disappearing from user footer toolbar. Still shows Starred but not showing in toolbar and not showing under Boards > Starred Boards menu

Issue showed up after Updating to version 0.6.9 from 0.6.8

![r1](https://user-images.githubusercontent.com/9597295/97378797-9ee80200-1899-11eb-906b-e5ff3c391662.jpg)
![r2](https://user-images.githubusercontent.com/9597295/97378810-a4454c80-1899-1

[2020-10-28 01:24] manakill commented on #4190
I disabled and re-enabled the BoardsBar app and that made it worse. Now some show up when starred and some are unstarred and show up. When I Star a Board it deletes all the others from the toolbar lol.

[2020-10-28 01:28] manakill commented on #4190
I think I fixed it by Disabling "BoardsBar" App then Un-Starring all boards. Then Enabling "BoardsBar" and Starring the Boards again. That seems to be working now..

[2020-10-28 01:38] manakill opened #4191 "Cannot move Cards TO or FROM 1 Board in particular"
I have a "UnPaid" job board that completed jobs get moved to.

I click "move card" to "UnPaid Board" and it won't move.

The same card will move to other Client's Job Boards - but cannot move to 1 Board in particular

Moving cards to and from other Boards seem to be working fine

[2020-10-28 01:40] manakill commented on #4191
![Boarderror](https://user-images.githubusercontent.com/9597295/97380211-f3d94780-189c-11eb-836f-32f4e1da8955.jpg)

[2020-10-28 01:44] manakill commented on #4191
I may have fixed it by renaming the Board and it moves the Card back and forth again like it should - however it also deleted all the Starred Boards again as mentioned in: https://github.com/RestyaPlatform/board/issues/4190

[2020-10-28 02:00] manakill commented on #4190
Also clicking the Starred Boards icon will delete all from the footer toolbar even though they all have Stars on them
![r4](https://user-images.githubusercontent.com/9597295/97381601-cd68db80-189f-11eb-818c-4ff0bf775ff3.jpg)

[2020-10-28 02:32] manakill opened #4192 "Boards with more than 24 Cards"
We are going over 24 Cards on a Board and they are dropping off.

Need unlimited Cards on all Boards!
**CANNOT HAVE DATA LOSS**

![max24](https://user-images.githubusercontent.com/9597295/97383586-584bd500-18a4-11eb-99e3-eecdf543c30f.jpg)

[2020-10-28 02:50] manakill commented on #4192
Upon quick inspection this looks like the https://github.com/githiro/drawDoughnutChart error and not DATA LOSS. A quick look at their code, it doesn't appear to be a maximum number set, so I am guessing it is Restya code maxing out at number "24" somehow.

Please confirm no data loss is occurring and fix counter. Pie slices are less important at that high a number - but the number needs to be corr

[2020-10-28 13:40] rrjanbiah commented on #4192
There is no such limit in Restyaboard. Also, you can see that in our demo.

Can you please let us know if you've done any changes in the code? In case, if the database you're having doesn't have any sensitive details, please consider sharing that with our support email to debug this issue.

[2020-10-28 17:33] manakill commented on #4192
Here you go:
[dump-restyaboard-202010281330.zip](https://github.com/RestyaPlatform/board/files/5453811/dump-restyaboard-202010281330.zip)
Let me know if you need something else

[2020-10-28 18:16] manakill commented on #4192
Sorry, but I just checked my boards again and they are going past 24 now. I have no idea why or how, but this seems to be fixed now lol

[2020-10-28 18:18] manakill commented on #4192
![countmore24](https://user-images.githubusercontent.com/9597295/97479218-63e0df80-1928-11eb-8e4a-a83eb6320c6e.jpg)

[2020-10-28 18:18] #4192 closed

[2020-10-29 04:24] rrjanbiah commented on #4192
@manakill Happy to know that.

[2020-11-03 10:20] Chundri commented on #3785
Ciao,

what is the status on this?

Thanks,

Chundri

[2020-11-12 08:50] #3787 closed

[2020-11-12 10:13] rrjanbiah opened #4193 "MyRestyaboards iOS App - accessing boards listing from board page needs user friendly approach"
From #3787

Thanks to the new version 0.6.9, I can access to my boards with iOS application. Many thanks for that.
Nevertheless, it's not very user friendly to navigate through differents boards inside iOS application. For instance, if I consult one board and I want to back to my boards list, I need to click to Restyaboard icon in the middle back then Boards menu and finaly Boards item (3 clicks f

[2020-11-18 10:50] sridhar391 opened #4194 "Image uploaded in the docker is not stored in the Media directory "/usr/share/nginx/html/media""
## Expected Behavior
Image uploaded in the docker should be stored in the Media directory "/usr/share/nginx/html/media"

## Current Behavior
Image uploaded in the docker is not stored in the Media directory "/usr/share/nginx/html/media"

[2020-11-18 14:42] daryl-o commented on #4194
If I debugged this correctly, commit 8c14dbd5e9375314dc19fdad8969a9436457bd67  had the following:
[code]
config.inc.php has:
[code]
So changing the root dir seems to have changed all of the paths in config.inc.php. Which means the media isn't being saved where it was before the patch.

[2020-11-19 06:45] sridhar391 opened #4195 "Disabling Together JS"
Disabling Together JS

[2020-11-21 08:26] #4195 closed

[2020-11-21 08:27] #4194 closed

[2020-11-23 11:24] sridhar391 opened #4198 "Managing the cards fields display permission for the board user roles"
## Context
In the card view, you can control the card fields visibility to the members of the board by the role management, in this permission management, you can control which board user roles can view the card fields by choosing the fields which want to be shown in the card page.

In the Restyaboard admin panel, Roles page, we are adding the cards tab, in which you can select the fields which yo

[2020-11-24 09:49] rrjanbiah opened #4200 "Documentation: How to install Restyaboard using centminmod in CentOS"
@centminmod has a very nice LEMP installer https://github.com/centminmod/centminmod It is very good and optimized for speed, etc. We need to provide installation steps to install Restyaboard in that as that may help CentOS users.

Note: It is GPL licensed and so we can provide documentation alone.

[2020-11-25 12:57] #4009 closed

[2020-11-25 13:04] #4198 closed

[2020-11-25 13:08] sridhar391 opened #4201 "Need to add permission to restrict the board members to change the board background image with third party like Flickr, Unsplash"
## Expected Behavior
Need to add permission to restrict the board members to change the board background image with third party like Flickr, Unsplash

## Current Behavior
No permission to restrict the board members to change the board background image with third party like Flickr, Unsplash

[2020-11-25 14:07] #4201 closed

[2020-11-30 17:35] milosz commented on #3693
Hello,

It is likely problem with local translation.

When I open board on the https://board.demo.restya.com/ using:
- English language in browser: everything is fine
- Polish language: error

[2020-12-01 07:10] sridhar391 opened #4203 "While minimizing the modal card and maximize continuously, the modal card header-only shown in the maximized view"
## Expected Behavior
While minimizing the modal card and maximize continuously, the modal card should be fully shown in the maximized view

## Current Behavior
While minimizing the modal card and maximize continuously, the modal card header-only shown in the maximized view

## Steps to Reproduce (for bugs)
1. Goto the particular board page
2. Open the card by clicking the card
3. Mimize and maximi

[2020-12-01 07:19] sridhar391 opened #4204 "While accessing the Restyaboard in mobile, not able to delete the checklist item in the card"
## Expected Behavior
While accessing the Restyaboard in mobile, should be able to delete the checklist item in the card

## Current Behavior
While accessing the Restyaboard in mobile, not able to delete the checklist item in the card

## Steps to Reproduce (for bugs)
1. Go to the particular board
2. Open the card
3. Click the checklist item and try to click the delete option

[2020-12-02 06:35] rrjanbiah commented on #4163
Reopening as this is still not working

[2020-12-02 06:38] rrjanbiah opened #4206 "Push notification in (upcoming) Android mobile app"
This will void #4145. As the local notification is not very useful, we need to remove that and replace it with the real push notification.

Possible lightweight library to use https://github.com/ricwein/PushNotifications

[2020-12-03 06:06] sridhar391 commented on #4137
@MaminHakim Fixed the issue in the commit https://github.com/RestyaPlatform/board/pull/4207/commits/a979ec11a92c6c6f9f7c3cbf3ebe2fa5fb8865a4 and the fix will be available in the upcoming release version v0.7 (Scorpions)

[2020-12-03 06:08] sridhar391 commented on #4073
@MaminHakim Fixed the issue in the commit https://github.com/RestyaPlatform/board/pull/4207/commits/a979ec11a92c6c6f9f7c3cbf3ebe2fa5fb8865a4 and the fix will be available in the upcoming release version v0.7 (Scorpions)

[2020-12-03 06:12] #4010 closed

[2020-12-03 06:12] #4137 closed

[2020-12-04 08:16] sridhar391 commented on #3895
@srileka Please clikc the `Done` option after performing the actions on the user

[2020-12-04 08:16] #3895 closed

[2020-12-04 08:21] sridhar391 commented on #3417
we have fixed this issue in the commit https://github.com/RestyaPlatform/board/commit/0461b00e4470c77ef908f2c0abebc6e360c306e2

[2020-12-04 08:21] #3417 closed

[2020-12-08 13:28] #4204 closed

[2020-12-09 05:07] #4203 closed

[2020-12-10 13:20] #2760 closed

[2020-12-13 12:20] young-altair opened #4210 "Failed to display image (image.php line 168)"
I have followed the installation guide carefully. The application was running successfully but I could not solve the problem of some image that did not appear like the capture below.
![image](https://user-images.githubusercontent.com/56446654/102011496-1fde5880-3d77-11eb-8bf4-63314e9d75e8.png)

The JS Browser's log:
![image](https://user-images.githubusercontent.com/56446654/102011646-1d303300-3d7

[2020-12-13 12:42] young-altair commented on #4210
Fixed by the power of `diagnose.php`
apparently I haven't installed the `GD`,`Imagick` and `CURL` extensions in PHP.
The manual does not mention this extension.
My Bad.

[2020-12-13 12:42] #4210 closed

[2020-12-14 12:19] #4143 closed

[2020-12-15 11:23] #1189 closed

[2020-12-16 07:43] rrjanbiah opened #4213 "Translations cleanup"
Though we have done manual translations, there are some complaints. So, we need to clean them, by closely checking and removing unnecessary translations.

[2020-12-16 08:37] rrjanbiah opened #4214 "Password reset flow - rework"
Need to rework the password reset flow.

Some ideas, but need to check other implementations too.

1. Forgot password option to send password reset link
2. Password reset link timestamped with expiry
3. Do not modify password till it is properly set
4. Log activity ?
5. Same approach for admin password reset. But, ability to enter password after that too (don't email that password). Refer GitLab

[2020-12-17 10:22] namacoconut commented on #4214
how to contribute on that? I want to be part of developer team!

[2020-12-18 12:00] rrjanbiah commented on #4214
@namacoconut For contributing to the community edition, please refer to the contribution guidelines https://github.com/RestyaPlatform/board#contributing

For joining the team, contact through the website

[2020-12-21 04:43] #4213 closed

[2020-12-26 12:49] sridhar391 commented on #4206
Android push notification changes added and tested and need to check the iOS push notification

[2020-12-26 12:59] sridhar391 commented on #4190
The `BoardsBar` app is loaded while fully loading the page and while going to other pages, the page changes and it will not reload the page and the `BoardsBar`is not shown

[2020-12-26 13:12] sridhar391 commented on #4159
For downloading the attachments, we need to login in the monday.com and there is no default unique identifier for each data, but we can add the ID field in the moday.com to add unique identifier to each data

[2020-12-26 13:15] sridhar391 commented on #4121
@manakill Thanks for your fix, @Cartmanan can you please try the above fix and please tell us if the issue is fixed

[2020-12-26 13:29] sridhar391 commented on #3499
@Chundri Please refer to our documentation link https://restya.com/board/docs/mailserver-configuration/

[2020-12-26 13:29] #3499 closed

[2020-12-28 10:45] sridhar391 commented on #4107
Added the fix to the `Jquery, Jquery UI` library and now the `Backbone` library `_.template` function throwing error and need to fix that error

[2020-12-28 11:18] #4031 closed

[2020-12-28 11:18] #4157 closed

[2020-12-28 11:19] #4170 closed

[2020-12-28 11:19] #4172 closed

[2020-12-28 11:19] #4167 closed

[2020-12-28 11:20] #4179 closed

[2020-12-28 13:35] rrjanbiah commented on #4190
*Internal note* Have to update in https://github.com/RestyaPlatform/r_boardsbar fork

[2020-12-28 14:12] rrjanbiah commented on #4107
*Internal note*

Issues to follow:
1. jQuery https://github.com/jquery/jquery/issues/4409

[2020-12-29 07:36] sridhar391 commented on #4191
@manakill Can you please set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and copy the response of the move list call http://restyaboard_url/api/v1/boards/board_id/lists/list_id.json on the Network tab of Browser developer tools and paste it here or co

[2020-12-30 10:09] sridhar391 commented on #4159
While exporting the whole account data from the monday.com, the attachment files are in the `assets` folder and while exporting the separate board, the attachments are not not exported and the Unique ID for each row is automatically added in the export board and export account

[2020-12-30 10:11] sridhar391 commented on #4153
@cuchipkg Can you please set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and copy the response of the Login API call http://restyaboard_url/api/v1/users/login.json.json on the Network tab of Browser developer tools and paste it here or copy the conten

[2020-12-30 11:49] rrjanbiah commented on #4159
*Internal note*

Have to rework so that we import from exported zip (instead from the Excel file)

1. `assets` folder has all assets. These are mapped in the excel
2. `updates` - for activities
3. `teams` - users
4. `boards` - boards ({board_id}_{board_name})

[2020-12-31 18:43] daryl-o opened #4219 "How do I configure SSL"
I would like to enable SSL for version 0.6.9 running inside docker. I see there is a way to configure it in restyaboard.sh but, as far as I can tell, that isn't invoked when running in docker.

Also, is there documentation on how to configure the two new 0.6.9 services (smtp_relay and fakesmpt2)?

[2021-01-05 04:08] danielwilson654 opened #4220 "Database is not persistent in production deployment"
https://github.com/RestyaPlatform/board/blob/dev/docker-compose.prod.yml

Hello! I noticed there is no volume mapping to the database container in the production compose file. This means if the host restarts, all data is lost. Is this intended? I added the following to the docker-compose.yml file.

[code]

[2021-01-05 04:41] sridhar391 commented on #4220
@danielwilson654 Thanks for the issue fix and we will add the fixes in the https://github.com/RestyaPlatform/board/blob/dev/docker-compose.prod.yml file

[2021-01-05 04:42] danielwilson654 opened #4221 "Can't view or edit cards after fresh install."
## Expected Behavior
Cards details apear as they do in the demo and I can edit them by clicking on them.

## Current Behavior
No editable card details are shown when clicking a card. only "Action" and "Add" are shown.

## Screenshots (if appropriate):
![issue with cards](https://user-images.githubusercontent.com/17303371/103606999-02627000-4f6c-11eb-81ee-5fb87700b829.png)

## Possible Solution

##

[2021-01-05 04:47] danielwilson654 commented on #4221
WORKAROUND:
change container version from restyaplatform/restyaboard:**dev** to restyaplatform/restyaboard:**v0.6.9**

[2021-01-05 05:48] #4220 closed

[2021-01-06 09:25] rrjanbiah commented on #4219
@daryl-o Apologies for the delay.

SSL for docker is yet to be done. For SMTP_RELAY, please refer to the docker composer https://github.com/RestyaPlatform/board/blob/dev/docker-compose.prod.yml#L26  Also, refer to the latest documentation https://restya.com/board/docs/install-restyaboard-docker/

[2021-01-07 14:06] #4221 closed

[2021-01-07 14:36] sridhar391 commented on #4221
@danielwilson654 The [Empty Data SQL](https://github.com/RestyaPlatform/board/blob/dev/sql/restyaboard_with_empty_data.sql) for the Restyaboard is not updated with the SQL changes for the upcoming Restyaboard release v0.7 (Scorpions) and now, we have updated the `Empty Data SQL` and the cards can be viewed and edited

[2021-01-08 12:00] sridhar391 opened #4224 "Hide site timezone setting for Pro"
## Context
Hide site timezone setting for Pro

[2021-01-09 04:37] danielwilson654 commented on #4221
Great!

On Fri, Jan 8, 2021 at 1:37 AM sridhar391 <notifications@github.com> wrote:

[2021-01-09 10:01] sridhar391 commented on #4191
@manakill Can you please set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and copy the response of the move list call http://restyaboard_url/api/v1/boards/board_id/lists/list_id.json on the Network tab of Browser developer tools and paste it here or co

[2021-01-09 11:37] #4224 closed

[2021-01-12 00:07] LeahPoi opened #4226 "restyaboard_install.log"
## Expected Behavior

## Current Behavior

## Screenshots (if appropriate):

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Environment name and version (e.g. OS, PHP, PostgreSQL):
* Operating System and version (desktop or mobile):
* Link to your project:

[2021-01-12 09:30] sridhar391 commented on #4226
@LeahPoi Can you please tell us if you are facing any issues regarding the Restyaboard installation?

[2021-01-12 09:34] #4226 closed

[2021-01-13 05:19] sridhar391 opened #4227 "While trying to login as normal user with LDAP app enabled, PHP warning errors thrown"
## Expected Behavior
While trying to login as normal user with LDAP app enabled, PHP warning errors should not be thrown

## Current Behavior
While trying to login as normal user with LDAP app enabled, PHP warning errors thrown

[2021-01-13 13:41] #4227 closed

[2021-01-20 06:54] cuchipkg opened #4230 "Edit Comment Not Save"
when i edit comment on card and after that i reload the page the comment not change, but the activity said i change comment
![image](https://user-images.githubusercontent.com/60688301/105137991-d5df5400-5b26-11eb-8d15-979c621180ab.png)
![image](https://user-images.githubusercontent.com/60688301/105138079-f7d8d680-5b26-11eb-98fd-ee2fd48809f0.png)

[2021-01-21 05:30] sridhar391 commented on #4230
Duplicate issue https://github.com/RestyaPlatform/board/issues/4172 and the fix will be available on the upcoming release v0.7 (Scorpions)

[2021-01-21 05:30] #4230 closed

[2021-01-25 18:08] daryl-o opened #4231 "Postgres and the migration from 0.6.8 to 0.6.9"
What is the preferred method to upgrade an existing database from 0.6.8 to 0.6.9 in docker? The postgres versions are incompatible so it isn't a simple matter to just stopping 0.6.8, starting 0.6.9 and running the upgrade script. My guess is the following but it does raise a few questions:

- Dump the old database
- Delete the volume
- Let 0.6.9 initialize a new database
-  Restore from the backup

[2021-01-27 05:09] sridhar391 commented on #4231
@daryl-o Duplicate issue https://github.com/RestyaPlatform/board/issues/4115

[2021-01-27 05:09] #4231 closed

[2021-01-31 22:51] manakill commented on #4191
Sorry it took me so long to reply! I haven't been having this issue for some time now everything has been smooth. I turned on the debug flag now and only have gotten this error:
2021/01/31 14:16:01 [error] 621#621: *446208 "/usr/share/nginx/html/restyaboard/client/HNAP1/index.$
2021/01/31 17:03:55 [error] 624#624: *447376 FastCGI sent in stderr: "PHP message: PHP Warning:  ar$
2021/01/31 17:04:05

[2021-02-03 04:45] sridhar391 opened #4232 "While trying to access the Restyaboard in the MyRestyaboards iOS app with R_DEBUG as true, warning errors thrown"
## Expected Behavior
While trying to access the Restyaboard in the MyRestyaboards iOS app with R_DEBUG as true, warning errors should not be thrown

## Current Behavior
While trying to access the Restyaboard in the MyRestyaboards iOS app with R_DEBUG as true, warning errors thrown
Warning: session start(): open(/var/lib/php7/sess p8r086p7Idnv7cb9c O_RDWR) failed: Permission denied (13) in /usr/sha

[2021-02-03 12:54] sridhar391 commented on #4191
@manakill while moving the card, please copy the response of the move list call http://restyaboard_url/api/v1/boards/board_id/lists/list_id.json on the Network tab of Browser developer tools and paste it here or copy the contents from your server error log and paste it here.

[2021-02-08 10:10] wangerry opened #4233 "Add EXPOSE port in Dockerfile"
add EXPOSE ports into Dockerfile

i think it's better to declare which port is using in container, and such as traefik will detect EXPOSE to use the port for communication, otherwise we must to add some lines to declare port.

[2021-02-08 10:23] #4233 closed

[2021-02-11 10:35] BenjaminNV opened #4235 "Member of an organization with the Viewer role can still add cards, comment ect."
Hi, when I add a member to my organization then change his role to Viewer in that organization I'd expect it to impossible for him to add a new board, a new list and in general change anything in the organization.
It looks to be that the role I give him in the Members tab next to Boards has no effect what so ever.

At the moment to change his role so he can only view the board I would have to go i

[2021-02-11 13:26] rrjanbiah opened #4236 "Documentation to explain user roles, board roles and organization roles"
Our current documentation is not very helpful. The document explains only where we can find the roles option, but not much. Need to improve https://restya.com/board/docs/restyaboard-roles-and-permission-configuration/

[2021-02-11 13:29] rrjanbiah commented on #4235
We have:

1. User role - to handle *users module* related permissions
2. Board role - to handle *board and cards* related permissions
3. Organization role - to handle *organization* pages related permissions

So, you may want to check board role.

*Internal note*

Opened #4236

[2021-02-12 05:09] sridhar391 commented on #4159
*Internal note*

On monday.com, in each project task, we can add the subitems to each task, and while exporting the monday.com details, the subitems of the tasks of the project are stored in separate Excel files, and they don't have the parent task id and the project id also.

[2021-02-12 07:31] BenjaminNV commented on #4235
Thanks for your answer.

Do you know if there are plans to make a organization role that act as board roles but for all the boards in the organization?

[2021-02-12 08:44] rrjanbiah commented on #4235
@BenjaminNV Sorry, currently no.

[2021-02-12 09:31] BenjaminNV commented on #4235
Thats too bad, well thanks for answering my questions.

Im going to close this issue now.
Have a nice day.

[2021-02-12 14:28] rrjanbiah opened #4237 "Add card bookmarklet"
Trello has a bookmarklet to add a card (at /add-card) and one user has asked for that.

[2021-02-17 13:40] rrjanbiah commented on #4235
Reopening to provide better documentation or UI hints.

*Internal note*

Alternatively, may provide different solutions for different use cases. Looks like we may disable board creation permission for the user level and only have admin create boards.

[2021-02-25 05:05] sridhar391 opened #4241 "When the permission named View organizations listing is disabled for the users, they are facing login issue"
## Expected Behavior
When the permission named View organizations listing is disabled for the users, they should be able to login

## Current Behavior
When the permission named View organizations listing is disabled for the users, they are facing login issue

## Steps to Reproduce (for bugs)
1. In the Admin Panel Roles listing page, disable the permission named "View organizations listing" for the

[2021-02-25 05:22] #4241 closed

[2021-02-27 05:09] sridhar391 opened #4243 "While adding the Youtube links as card attachments, the attachment preview showing 404 error page"
## Expected Behavior
While adding the Youtube links as card attachments, the attachment preview should be showing the video or should be opening the youtube link in the new tab

## Current Behavior
While adding the Youtube links as card attachments, the attachment preview showing 404 error page

[2021-02-27 16:42] sarim opened #4244 "appcache should be migrated to service worker"
`grunt build:live` command generates distribution that contains a default.appcache and its references in `client/index.html` `manifest="default.appcache"`

This results in this error in console
[code]

appcache is depreciated and will be removed soon. Details: https://web.dev/appcache-removal/

[2021-03-09 16:18] rrjanbiah opened #4245 "Installer script to support openSUSE"
We need to support openSUSE as we get many requests lately

[2021-03-11 00:27] curiousmitchell opened #4246 "Blank page on server update"
Hi, am running Restyaboard 0.6.7 on an Archlinux server - a recent update borked my system. Issue seems to be upgrading from php 7.4 to php 8, however having a hard time troubleshooting what's wrong. I need to either:

1. Recover my data, and migrate to a Debian Server, where I already have 0.6.9 working as an install
2. Get my Archlinux install working, so I can recover my data

I work at a small

[2021-03-12 08:03] sridhar391 commented on #4246
@curiousmitchell Can you please install the php-pgsql package for the PHP version 8 and restart  the PHP FPM as you have updated the PHP to PHP 8 version and not update the PHP packages for the PHP 8 version.

[2021-03-15 13:46] daryl-o opened #4247 "Edited comments are not displayed"
Board v0.6.9. Steps taken:
- Open a card
- Add a comment
- Edit the comment
- Close the card
- Open card again -> Original comment is displayed
- Edit comment again -> Change is reflected against the edited comment even though the original comment was displayed.

Are comments only stored in the activities table?

[2021-03-15 15:05] sridhar391 commented on #4247
@daryl-o We have fixed the issue in the commit https://github.com/RestyaPlatform/board/commit/7bb7b61ee95b81261434f341c1d639519380cf02 and the fixes will be available in the upcoming Restyaboard version v0.7 (Scorpions)

[2021-03-15 15:05] #4247 closed

[2021-03-16 04:40] sridhar391 opened #4248 "SSL certificates are not obtained while trying to get the certifictaes for the domain using the installation script"
## Expected Behavior
SSL certificates should be obtained while trying to get the certifictaes for the domain using the installation script

## Current Behavior
SSL certificates are not obtained while trying to get the certifictaes for the domain using the installation script

[2021-03-16 08:02] #4248 closed

[2021-03-16 18:04] manakill commented on #4191
@sridhar391 I moved cards back and forth and the only response I'm seeing is:

HTTP/1.1 200 OK
Server: nginx/1.14.2
Date: Tue, 16 Mar 2021 18:01:05 GMT
Content-Type: application/json
Transfer-Encoding: chunked
Connection: keep-alive
x-response-url: /api/v1/boards/8/lists/242.json?token=6f1038b68bfea0a62a34e10026d50af24d6df8d2
Access-Control-Allow-Origin: *
Access-Control-Allow-Methods: *
X-RDebug:

[2021-03-19 04:45] sridhar391 commented on #4191
@manakill Please copy the response of the move list API call http://restyaboard_url/api/v1/boards/board_id/lists/list_id.json on the Network tab of Browser developer tools and paste it here

![move_list_copy_response](https://user-images.githubusercontent.com/17172525/111732611-e8160e00-889b-11eb-9dc4-6b5c1a2421d7.png)

[2021-03-22 12:48] sridhar391 opened #4251 "Rarely in the Trello import, some of the cards comments are missing"
## Expected Behavior
While importing the Trello JSON file in Restyaboard, all cards details should be imported fully

## Current Behavior
Rarely in the Trello import, some of the cards comments are missing

[2021-03-29 14:24] sridhar391 commented on #4246
@curiousmitchell Can you please tell us if the Restyaboard login page shown after  installation of php-pgsql package for the PHP version 8

[2021-03-29 14:26] sridhar391 commented on #4153
@cuchipkg Can you please set R_DEBUG as true on the config.inc.php file in line 15 on '/usr/share/nginx/html/restyaboard/server/php' path like https://github.com/RestyaPlatform/board/blob/dev/server/php/config.inc.php#L15 and copy the response of the Login API call http://restyaboard_url/api/v1/users/login.json.json on the Network tab of Browser developer tools and paste it here or copy the conten

[2021-03-29 14:35] #4251 closed

[2021-03-29 14:36] #4159 closed

[2021-03-30 11:35] sridhar391 commented on #4232
The Permission error seems to be occurring for the particular user and it is not occurring in other local servers, so closing the issue

[2021-03-30 11:35] #4232 closed

[2021-03-30 11:59] sridhar391 commented on #3405
Tried accessing the URL containing `-` and the page is accessible in the MyRestyaboards iOS app, please refer the attached video

https://user-images.githubusercontent.com/17172525/112984925-24d7e400-917d-11eb-896b-e8298b660988.mp4

[2021-03-30 13:00] #4206 closed

[2021-03-30 13:48] sridhar391 commented on #4153
@cuchipkg Due to inactivity, we are closing the issue, feel free to reopen the issue if the issue occurred again

[2021-03-30 13:48] #4153 closed

[2021-03-30 13:57] #3405 closed

[2021-03-30 14:11] sridhar391 commented on #3275
For outgoing mails, now you can use the [Spark Post app](https://restya.com/board/apps/r_sparkpost) to send mails without using the SMTP library

[2021-03-30 14:11] #3275 closed

[2021-03-30 14:19] sridhar391 opened #4254 "Request: One-Click SSL with Let's Encrypt to support domains and sub-domains(maybe with wildcard)"
## Context
Needs to support domains and sub-domains(maybe with wildcard).

[2021-03-30 14:20] sridhar391 commented on #4180
@manakill Fixed the installation script to get SSL certificate for the domain using the certbot on the commit https://github.com/RestyaPlatform/board/commit/db6da79ae186dec8654d8834bcae283c8da53bbb and it will be available on the upcoming release v0.7 (scorpions) and for subdomain support, we have created new issue https://github.com/RestyaPlatform/board/issues/4254

[2021-03-30 14:20] #4180 closed

[2021-04-01 05:57] #4190 closed

[2021-04-01 06:23] sridhar391 commented on #4188
Added the information for Gmail/Gsuite based email, please refer the link https://restya.com/board/docs/imap/#3

[2021-04-01 06:23] #4188 closed

[2021-04-01 06:30] sridhar391 commented on #4236
Added the documentation for explanation about user roles, board roles and organization roles and the link is https://restya.com/board/docs/restyaboard-roles-configuration/

[2021-04-01 06:30] #4236 closed

[2021-04-01 07:19] sridhar391 commented on #4163
Added the changes to handle Restyaboard Android mobile app

[2021-04-01 07:19] #4163 closed

[2021-04-01 14:43] #4103 closed

[2021-04-02 22:37] curiousmitchell commented on #4246
Apologies, will mark this as solved. The issue was indeed that I had updated my Arch linux server, and had not configured/installed the correct packages. php-pgsql is installed, and this is working correctly again. I am having other issues with upgrading this install and transferring to another server, however for now will mark this solved and close. Thanks.

[2021-04-02 22:37] #4246 closed

[2021-04-05 08:39] sridhar391 commented on #2760
We have added the documentation to explain about the feature in the link https://restya.com/board/docs/restyaboard-set-up-permissions-to-show-assigned-cards-only/

[2021-04-05 09:32] sridhar391 commented on #4198
Added the above feature detailed documentation in the link https://restya.com/board/docs/restyaboard-manage-permission-for-card-fields/

[2021-04-05 12:48] sridhar391 opened #4258 "While editing the comment check the activity alignment"
## Expected Behavior
While editing the comment the activity alignment should be alligned correctly

## Current Behavior
While editing the comment check the activity alignment

## Steps to Reproduce (for bugs)
1. Goto particular board
2. Open the card
3. Add comment and edit comment

[2021-04-06 06:47] #4258 closed

[2021-04-06 06:48] #4243 closed

[2021-04-06 09:15] albertaparicio opened #4261 "When uploading a background image, if it is too big there should be an error message in the app"
## Expected Behavior

When uploading an image to be set as a board's background, if it is too big, the app should notify the user so they know it and then choose another image or scale down the one they uploaded.

## Current Behavior

Right now, if I upload an image that is too large, there is neither an error message nor any change in behaviour that points me to this issue. The app looks like it

[2021-04-08 06:27] sridhar391 commented on #4191
@manakill We are closing the issue, due to inactivity, please feel free to reopen the issue, if you are facing the issue again

[2021-04-08 06:27] #4191 closed

[2021-04-08 11:07] sridhar391 commented on #4121
@manakill We are closing the issue due to inactivity, if the issue occured again, please feel free to reopen the issue

[2021-04-08 11:07] #4121 closed

[2021-04-08 11:31] #2738 closed

[2021-04-08 12:49] sridhar391 commented on #3785
_Internal Note_

Need to add the Elasticsearch search term to filter the cards in particular organization

[2021-04-08 12:50] #3725 closed

[2021-04-08 12:52] sridhar391 commented on #3331
@MFYDev Due to inactivity, we are closing this issue, if the issue occurred again, please feel free to reopen the issue

[2021-04-08 12:52] #3331 closed

[2021-04-08 12:53] sridhar391 commented on #3274
@heitmanr Due to inactivity, we are closing this issue, if the issue occurred again, please feel free to reopen the issue

[2021-04-08 12:53] #3274 closed

[2021-04-08 12:54] sridhar391 commented on #2734
@dfanaei Due to inactivity, we are closing this issue, if the issue occurred again, please feel free to reopen the issue

[2021-04-08 12:54] #2734 closed

[2021-04-09 02:25] curiousmitchell opened #4263 "Server migration with htaccess"
Hi, I tried to post this in the Google groups, but have not been approved to post there. I'm attempting to migrate a Restyaboard install (0.6.7) from an Archlinux server to Debian. Archlinux has been manually installed on apache2, which the new Debian install has been installed via the script. Debian, as a fresh install, is working great - no issues. I've been successfully able to backup and resto

[2021-04-09 06:06] sridhar391 commented on #4235
@BenjaminNV We have explained in detailed about the user roles, board roles and organization roles, please refer the documentation link https://restya.com/board/docs/restyaboard-roles-configuration/

[2021-04-09 06:06] #4235 closed

[2021-04-09 07:27] sridhar391 commented on #4166
We have added the documentation for configuring the Restyaboard on a NGINX Reverse proxy, please refer the link https://restya.com/board/docs/restyaboard-nginx-reverse-proxy-configuration/

[2021-04-09 07:27] #4166 closed

[2021-04-09 08:36] #1772 closed

[2021-04-10 18:35] SenseiKiri opened #4264 "Problems with the super db user for the docker image"
## Expected Behavior
I am trying to host restyaboard within my k8s. You Docker Image needs a super user for creating a database and a user for the application.

First of all, this is very uncommen and for me restyaboard is a third party application which could destroy my wholes db. I would expect, that i can give the environment only a db and a user (which is owner of this db) and the application

[2021-04-10 18:42] SenseiKiri opened #4265 "The db user passwort (not superuser) must not contain special characters"
c6Y4anIIMt4v1ez2T5hN
=?\1Dh[jw\(/@OPEa#o_

## Expected Behavior
If you try to start the application via docker image, the _RESTYA_DB_USERPASS_ must not contain special characters. You will get following error:

[code]

This happens because, the _docker-entrypoint.sh_ script will normally change the _config-inc.php_ by replacing placeholders with the data from env variables. But if you have special

[2021-04-12 14:41] manakill commented on #4263
Personally I would install fresh on the new server, get that working, and then copy over database info and any other files

[2021-04-12 14:45] #4126 closed

[2021-04-13 04:31] curiousmitchell commented on #4263
Thanks - ended up doing just that. Wasn't able to easily copy over the database (still no idea why), however I was able to export the boards from the old installation, and import them into the new one. Still lots of work to do going back and cleaning up files, however at least most of the information is there.

Followed this tutorial: https://sleeplessbeastie.eu/2018/04/02/how-to-backup-and-restor

[2021-04-14 18:46] nsymms opened #4266 "When dragging one card off a list, other cards disappear from original list"
## Expected Behavior
When dragging a card to another list, the remaining cards should NOT disappear

## Current Behavior
It's difficult to reproduce, but happens to me often.
In a list with 2 or more cards, I drag a card from that list to another. The other cards in the original list disappear after the notification fires. That is, 2-3 seconds later when the dragged card does its little dance and

[2021-04-15 03:28] rrjanbiah commented on #4266
@srileka Are we able to reproduce this issue?

[2021-04-15 14:19] nsymms commented on #4266
Yes I've reproduced several times since my original post. I made a video to illustrate but it contains some private information so I'm waiting to make another today on a test board. Here's what I do to reproduce:

- Clear all notification alerts and the notification bell button on the bottom right. (I'm not sure if this is necessary, but I do it anyway).
- Have a list with 2 cards in it, and anoth

[2021-04-15 14:23] rrjanbiah commented on #4266
@nsymms Thank you so much for explaining the issue.

[2021-04-15 14:52] nsymms commented on #4266
Here's a small GIF of the behavior. I've made it blurry to hide private information. The console window at the bottom of the browser shows 1 error, the 401 that I mentioned earlier.

![resty-issue](https://user-images.githubusercontent.com/9939843/114889575-d73fb600-9dcf-11eb-854f-84f7703d54f4.GIF)

[2021-04-16 07:31] rrjanbiah commented on #4266
@nsymms Thank you

[2021-04-20 12:35] daryl-o commented on #4266
We had a user with the same issue. Thanks for reproducing it.

[2021-04-23 07:26] sridhar391 commented on #4266
@nsymms @daryl-o The timeout issue has been fixed in the commit https://github.com/RestyaPlatform/board/commit/7a9106e4d4334cf58efea669c5742c24f56ba509 and the fixes will be available on the upcoming release v0.7 (Scorpions) and we have also fixed the cards disappering issue and the fixes will be available on the upcoming release v0.7 (Scorpions)

[2021-04-23 12:37] #4266 closed

[2021-05-18 12:53] sridhar391 opened #4270 "Allow board and organization Owners to invite external users by e-mail"
## Context
* Allow board and organization Owners to invite external users by e-mail and show the invited users as external user
* Allow organization owners to invite external users by e-mail in the organization members tab
* Allow to invite external users by e-mail in the card level

[2021-05-20 20:10] DemonRem opened #4271 "[IDEA] Music Background Play"
## Expected Behavior

[2021-05-20 23:50] DemonRem opened #4272 "Video Wallpaper"
hello guys is that possible to add video as a background to the board
that will be included with sound video format
mp4 & mp3 or wav

[2021-05-28 04:36] sridhar391 commented on #4272
@DemonRem Can you please share the use case in which you want to upload the video as  background to the board

[2021-05-28 04:37] sridhar391 commented on #4271
@DemonRem Can you please share the use case in which you want to upload local audio files and play it in the specific board

[2021-05-29 19:50] DemonRem commented on #4271
well i have a board that i use it to work on my project and i have few music that i really want to put it there

[2021-05-29 19:51] DemonRem commented on #4272
https://github.com/RestyaPlatform/board/issues/4271

[2021-06-02 09:47] sridhar391 opened #4273 "Not able to update user profile in the Microsoft Edge browser"
## Expected Behavior
Users should be able to update their user profiles in all browsers

## Current Behavior
Not able to update user profile in the Microsoft Edge browser

## Steps to Reproduce (for bugs)
1. Login with credentials on Microsoft Edge browser
2. Goto user profile page and try to update

[2021-06-02 10:40] daryl-o opened #4275 "User profile not saved in v0.7 with SSL and notifications enabled"
I've been testing the v0.7 branch (realizing the fact that it isn't officially released yet) running in docker containers.  When notifications are enabled in the browser, clicking on the submit button to save a user's profile doesn't change the profile. There is also no notification that the profile has been changed. If I disable notifications, the profile is saved as normal.

I enabled SSL by set